# Creature3D Script Parser v1.0
Hypertext {
 	 Alignment 	 "BASE_LINE"
 	 CharacterSize 	 15
 	 Color 	 [ 255 255 255 255 ]
	 Content 	 {
 	 Color 	 [ 255 255 255 255 ]
 	 DrawMode 	 "TEXT"
 	 Text 	 "做一个遵纪守法的好公民：/n"
}
	Content 	 {
 	 Color 	 [ 100 255 255 255 ]
 	 DrawMode 	 "TEXT"
 	 Text 	 "1.热爱祖国。/n"
}
	Content 	 {
 	 Color 	 [ 255 255 100 255 ]
 	 DrawMode 	 "TEXT"
 	 Text 	 "2.热爱人民。/n"
}
	Content 	 {
 	 Color 	 [ 255 100 255 255 ]
 	 DrawMode 	 "TEXT"
 	 Text 	 "3.遵守法律法规。/n"
}

 	 DrawMode 	 "TEXT"
 	 Font 	 "simhei.ttf"
 	 LineSpacing 	 1
 	 UnderLineSpacing 	 3
}



