# Creature3D Script Parser v1.0

Data {
    Class "JXJGameServer"	
	Handle {
		MsgParam "WCH_USER+308"//WCH_ServerInit
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJGameServerInit"
				Param "jxjversion.ini"
			}
			Method {
				Class "JXJLoadGameServerRankFiles"
				Param "20163,../JXJDB/ExploitRanking1.crb"
				Param "20156,../JXJDB/LevelRanking1.crb"
				Param "20158,../JXJDB/GovpostRanking1.crb"
				Param "20160,../JXJDB/AccomplishRanking1.crb"
				Param "20274,../JXJDB/TroopsRanking1.crb"
				Param "20289,../JXJDB/CountrycontributeRanking1.crb"
				Param "20294,../JXJDB/ManorlvRanking1.crb"
				Param "22034,../JXJDB/ConsortiaLvRank.crb"	
				Param "21403,../JXJDB/ServerCycleIni.dat"
				Param "22164,../JXJDB/OnlinePlayerEveryDay.tab"
			}
			Method {
				Class "JXJLoadBattleRanking"
				Param "../JXJDB/BattleRanking.dat"
			}
			Method {
				Class "SetGamelogPath"
				Param "../JXJDB/"
			}
			Method {
				Class "JXJQueryGm"
			}
			Method {
				Class "JXJQueryNoChat"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+338"//WCH_SetGamelogPath
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "SetGamelogPath"
				Param "../JXJDB/"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+211"//WCH_PlayerLogin
		MsgParam "18"//GameServer
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJPlayerLoginGame"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+39"//WCH_ServerUpdate
		MsgParam "18"//GameServer
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJCreateBattleDispose"
			}
			Method {
				Class "JXJSaveChengchiMap"
			}
			Method {
				Class "JXJQueryGiftsPackDispose"
				Param "10"
			}
			Method {
				Class "JXJDeleteMailDispose"
				Param "5"
			}
			Method {
				Class "JXJMailQuerying"
				Param "10"
			}
			Method {
				Class "JXJMailBodyQuerying"
				Param "5"
			}
			Method {
				Class "JXJCreatePlayerStoreDispose"
				Param "5"
			}
			Method {
				Class "JXJCreatePlayerStoreRecordDispose"
				Param "5"
			}
			Method {
				Class "JXJQueryBattleReportDispose"
				Param "5"
			}
			Method {
				Class  "RunFrequencyControl"
				Param "0.2"
			}
			Method {
				Class "JXJCheckPlayerDataDispose"
				Param "5"
			}
			Method {
				Class  "RunFrequencyControl"
				Param "0.5"
			}
			Method {
				Class "JXJGroupMessageDispose"
			}
			Method {
				Class "JXJSystermMailDispose"
				Param "JXJ/script/giftspackmail.cfg"
				Param "0.02"
			}
			Method {
				Class "JXJTeamMessageDispose"
				Param "10"
			}
			Method {
				Class "JXJPlayerMessageDispose"
				Param "10"
			}
			Method {
				Class "JXJQueryPeopleInfoDispose"
				Param "20"
			}
			Method {
				Class  "RunFrequencyControl"
				Param "1.0"
			}
			Method {//充值
				Class "JXJRechargeDispose"
				Param "50"
			}
			Method {//腾讯任务市集
				Class "JXJTXMarketTaskDispose"
				Param "50"
			}
			Method {//
				Class "JXJBroadcastMessageDispose"
				Param "21107"//WCHDATA_JXJBroadcastMessageDeq
			}			
			Method {
				Class "JXJQueryGroupDispose"
				Param "1.0"
			}
			xMethod {//改成直接处理查询请求
				Class "JXJQueryGroupMemberDispose"
				Param "1.0"
			}
			Method {
				Class "JXJCreateGroupDispose"
			}
			Method {
				Class "JXJAddGroupMemberDispose"
			}			
			Method {
				Class "JXJFubenRushDispose"
			}
			Method {
				Class "JXJInsertBattleReportDispose"
				Param "JXJ/script/giftspackmail.cfg"
			}
			Method {
				Class "JXJOpenBattleTimer"
			}
			xMethod {//平判
				Class "JXJOpenRebelTimer"
			}
			xMethod {//平判
				Class "JXJCounterinsurgencyDispose"
			}
			xMethod {
				Class "JXJBuySaleDispose"
				Param "0.02"
				Param "3600"
			}
			Method { // 处理网页查询
				Class "JXJWebQueryPlayerDataDispose" 				
			}
			Method {
				Class "JXJCreateGiftsPackDispose"
				Param "0.02"
			}
			Method {
				Class "JXJMailInserting"
				Param "10"
			}
			Method {
				Class "JXJGameServerCycleTimerUpdate"
			}
			Method {
				Class  "RunFrequencyControl"
				Param "2.0"
			}
			Method {
				Class "JXJGameServerDayZero"
			}
			Method {
				Class "JXJGameServerDismissGroupDispose"
			}
			Method {
				Class "JXJBattleDequeDispose"
				Param "5"//延迟5s删除战场
			}
			xMethod {
				Class "JXJSaleDispose"
				Param "0.02"
			}
			xMethod {
				Class "JXJQuerySaleDispose"
				Param "0.02"
				Param "10"
			}
			Method {
				Class  "RunFrequencyControl"
				Param "5.0"
			}
			Method {//
				Class "JXJBroadcastMessageDispose"
				Param "21112"//WCHDATA_JXJSysBroadcastMessageDeq
			}
			Method {
				Class "JXJChengfangInfoSendDispose"
			}
			Method {
				Class  "RunFrequencyControl"
				Param "10.0"
			}
			Method {
				Class "JXJSaveConsortia"
				Param "10"//一次处理多少个军团的存储
			}
			Method {
				Class "JXJCityInBattleInfoSendDispose"
			}
			xMethod { //军团副本自动开启
				Class "JXJServerOpenGroupFuBen"
			}			
			Method {
				Class  "RunFrequencyControl"
				Param "60.0"
			}
			Method {
				Class "JXJChangeDataDispose"
				Param "10"
			}
			Method {
				Class "JXJNewMailQuerying"
				Param "0.05"
			}		
			Method { // 用于UI显示
				Class "JXJClearGroupMemberRank" 				
			}	
			Method { // 用于UI显示
				Class "JXJSavePeopleMapDispose" 				
			}
			Method {
				Class "JXJSaveShili"
			}
			Method {//GM公告
				Class "JXJGMNoticeDispose"
			}
			Method {//GM邮件
				Class "JXJGMMailDispose"
				Param "50"
			}
			Method {
				Class  "RunFrequencyControl"
				Param "300.0"
			}
			Method {//记录服务器在线玩家数量
				Class "WriteServerInfo"
				Param "0"
				Param "2"//20
				Param "../JXJDB/"
			}
			Method {
				Class "JXJCheckWetherChangeGroupLeader"				
			}	
			Method {
				Class "JXJSaveServerCycleInfo"
				Param "../JXJDB/ServerCycleIni.dat"
			}
			Method {
				Class "JXJSaveOnlinePlayerEveryDay"
				Param "../JXJDB/OnlinePlayerEveryDay.tab"
			}
			Method {
				Class  "RunFrequencyControl"
				Param "600.0"
			}
			Method {
				Class "JXJRegisterStatistics"				
			}			
			Method {
				Class  "RunFrequencyControl"
				Param "3600.0"
			}
			Method {
				Class "JXJRankingSave"
			}
			Method {
				Class "JXJGameServerMaintenance"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+20338"//WCHDATA_JXJRankingSave
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJSaveConsortiaLvRank"
				Param "../JXJDB/ConsortiaLvRank.crb"
			}
			Method {
				Class "JXJSaveExploitRanking"
				Param "../JXJDB/ExploitRanking1.crb"
			}
			Method {
				Class "JXJSaveLevelRanking"
				Param "../JXJDB/LevelRanking1.crb"
			}
			Method {
				Class "JXJSaveGovpostRanking"
				Param "../JXJDB/GovpostRanking1.crb"
			}
			Method {
				Class "JXJSaveAccomplishRanking"
				Param "../JXJDB/AccomplishRanking1.crb"
			}
			Method {
				Class "JXJSaveTroopsRanking"
				Param "../JXJDB/TroopsRanking1.crb"
			}
			Method {
				Class "JXJSaveCountrycontributeRanking"
				Param "../JXJDB/CountrycontributeRanking1.crb"
			}
			Method {
				Class "JXJSaveManorlvRanking"
				Param "../JXJDB/ManorlvRanking1.crb"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+20057"//WCH_JXJServerMaintenance
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJCheckCountryOfficial"				
			}			
			Method {
				Class "JXJGiftspackTabMaintenance"
			}
			Method {
				Class "JXJMailTabMaintenance"
			}			
		}
	}
	Handle {
		MsgParam "WCH_USER+242"//WCH_GameServerCreateRoomReturn
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGameServerCreateRoomReturn"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+25011"//WCH_JXJJuntuanCreateRoom
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJJuntuanCreateRoomReturn"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+21218"//WCH_JXJServer2SecZero	
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGameServerGroupZero"
				Param "0"
			}
		}
	}
	xHandle {
		MsgParam "WCH_USER+21216"//WCH_JXJServerDayZero	
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJGameServerGroupZero"
				Param "1"
			}
			Method {
				Class "JXJCountryBenefitRefresh"				
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+22126"//WCH_JXJGameServerGroupDayZero					
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJGameServerGroupZero"
				Param "1"
			}			
		}
	}
	Handle {
		MsgParam "WCH_USER+22127"//WCH_JXJGameServerGroupWeekZero				
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJGameServerGroupZero"
				Param "2"
			}
			Method {
				Class "JXJGenerateCountryOfficial"				
			}
			Method {
				Class "JXJGainCountryCandidateVecT"				
			}
			Method {
				Class "JXJActiveZhouChangTask"				
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+20161"//WCH_JXJGainCountryCandidateVecT				
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGainCountryCandidateVecT"				
			}
		}
	}
	xHandle {
		MsgParam "WCH_USER+21217"//WCH_JXJServerWeekZero
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJGameServerGroupZero"
				Param "2"
			}
			Method {
				Class "JXJGenerateCountryOfficial"				
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+22095"//WCH_JXJGroupSettleEarnings					
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJGameServerGroupZero"
				Param "3"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+20069"//WCH_JXJRecvBattleRemoved
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJRecvBattleRemoved"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+20071"//WCH_JXJRecvBattleSettle
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJRecvBattleSettle"
			}
			Method {
				Class "JXJSaveBattleRanking"
				Param "../JXJDB/BattleRanking.dat"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+22626"//WCH_JXJGameServerRecvCountryCapital
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGameServerRecvCountryCapital"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+22628"//WCH_JXJServerBattDequeUpdata
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJCityHaveDequeUpdate"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+22631"//WCH_JXJRecvWorldFuBenRankAward
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJgServerRecvWorldFuBenAward"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+22633"//WCH_JXJWorldFuBenStart
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJWorldFuBenStartBrocast"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+22648"//WCH_JXJDisposeNewHandlGuoZhan
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJXinShouGuoZhanJieSuan"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+20074"//WCH_JXJRecvFubenSettle
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJRecvFubenSettle2"
			}
		}
	}
	xHandle {
		MsgParam "WCH_USER+20604"//WCH_JXJRecvPassSettle
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJRecvPassSettle"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+20414"//WCH_JXJRecvSystemMail
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJRecvSystemMail"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+20078"//WCH_JXJGainGiftsPackKey
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGainGiftsPackKey"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+20506"//WCH_JXJCreateRewardMail
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJCreateRewardMail"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+20514"//WCH_JXJWriteRewardMail
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJWriteRewardMail"
				Param "JXJ/script/giftspackmail.cfg"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+20515"//WCH_JXJCityBelongCheck
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJCityBelongCheck"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+20519"//WCH_RecvSceneItemDrop
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJRecvSceneItemDrop"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+20528"//WCH_JXJFubenDropItems
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJFubenDropItems"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+20547"//WCH_JXJSystermSendMailToPlayer
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJSystermSendMailToPlayer"
				Param "JXJ/script/giftspackmail.cfg"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+20549"//WCH_JXJSystermNoticeCreate
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJSystermNoticeCreate"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+20562"//WCH_JXJRandomRebelCity
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJRandomRebelCity"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+313"//WCH_GameLog
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGameLog"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+20579"//WCH_JXJBattleInfoCenterNoticeCreate
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJBattleInfoCenterNoticeCreate"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+22620"//WCH_JXJBattleOpenCenterNoticeCreate
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJBattleOpenCenterNoticeCreate"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+20594"//WCH_JXJCreateCountryLoseNotice
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJCreateCountryLoseNotice"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+20588"//WCH_JXJServerCycle
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGameServerCycle"
				Param "70"
			}
		}
	}	
	
	Handle {
		MsgParam "WCH_USER+22078"//WCH_JXJGroupFundsUpgrade					
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGroupFundsUpgrade"
			}
		}
	}	
	Handle {
		MsgParam "WCH_USER+22077"//WCH_JXJPutIntoGroupChatMsgQueue								
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJPutIntoGroupChatMsgQueue"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+20582"//WCH_JXJCheckCountryLose
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJCheckCountryLose"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+20591"//WCH_JXJCheckGameServerCycleStart
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJCheckGameServerCycleStart"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+22081"//WCH_JXJJunTuanFuBenSettle
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJJunTuanFuBenSettle"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+22090"//WCH_JXJCountryCantonMapRefresh
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJCountryCantonMapRefresh"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+22"//WCH_SceneServerAbnormal
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJSceneServerRemoved"
			}
		}
	}
	Handle {
        MsgParam "WCH_USER+20312"//WCH_JXJServerNotice
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJServerNotice"
				Param "0"//textid
			}
		}
    }
	Handle {
        MsgParam "WCH_USER+22098"//WCH_JXJSYNChengChiToCanton					
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJSYNChengChiToCanton"				
			}
		}
    }
	Handle {
        MsgParam "WCH_USER+22109"//WCH_JXJReloadHuodongTab									
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJReloadHuodongTab"
			}
		}
    }
	Handle {
        MsgParam "WCH_USER+22128"//WCH_JXJStatisticUpdate															
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJRemainStatistics"
			}
			Method {
				Class "JXJLevelStatistics"
			}
			Method {
				Class "JXJNewerStepStatistics"
			}
			Method {
				Class "JXJSaveOnlinePlayerEveryDay"
				Param "../JXJDB/OnlinePlayerEveryDay.tab"
			}
		}
    }
	Handle {
        MsgParam "WCH_USER+21040"//WCH_JXJGetConsortiaName									
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetConsortiaName"
			}
		}
    }
	Handle {
        MsgParam "WCH_USER+22133"//WCH_JXJBuildPlayerDataSaveStreamTab										
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJBuildPlayerDataSaveStreamTab"
			}
		}
    }		
	Handle {
        MsgParam "WCH_USER+22135"//WCH_JXJGMOrderCountryVote									
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGMOrderCountryVote"
			}
		}
    }
	Handle {
        MsgParam "WCH_USER+22139"//WCH_JXJGenerateCountryOfficial													
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJFirstWeekGenerateCountryOfficial"
			}
			Method {
				Class "JXJGainCountryCandidateVecT"
			}
			Method {
				Class "JXJActiveTaskAfterCountryFounded"
			}
		}
    }	
	Handle {
        MsgParam "WCH_USER+22140"//WCH_JXJKictOutGroupMemberByGM																	
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJKictOutGroupMemberByGM"
			}
		}
    }
	Handle {
        MsgParam "WCH_USER+22141"//WCH_JXJOnlineSynToRank																												
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJOnlineSynToRank"
			}
		}
    }
	Handle {
        MsgParam "WCH_USER+22800"//WCH_JXJGetStartedDays																												
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetStartedDays"
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+22801"//WCH_JXJElectIcon
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJElectIcon"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+22813"//WCH_JXJConsortiaPromotionUpdate
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGainConsortiaStartPromotionVec"
			}
		}
	}	
}