# Creature3D Script Parser v1.0
//任务:按图索骥
Hypertext {
    DrawMode "TEXT"
    LineSpacing 1.0
    UnderLineSpacing 3.0
	Font "simhei.ttf"
	CharacterSize 16
	FontSize [16 16]
	Alignment "BASE_LINE"
	Color [255 255 255 255]
	Content {
		Text "在"
	}
	Content {
		Color [0 255 0 255]
		Text "征战天下"
	}
	Content {
		Text "的过程中，偶尔会有人"
	}
	Content {
		Color [0 255 0 255]
		Text "献上"
	}
	Content {
		Text "特殊的"
	}
	Content {
		Color [0 255 0 255]
		Text "科技"
	}
	Content {
		Text "，可以为将军提供各种便利。将军请"
	}
	Content {
		Color [0 255 0 255]
		Text "研发"
	}
	Content {
		Text "装备打造的科技，就可以"	
	}
	Content {
		Color [0 255 0 255]
		Text "打造装备"
	}
	Content {
		Text "了哦！"	
	}
}
