# Creature3D Script Parser v1.0
//任务:按图索骥
Hypertext {
    DrawMode "TEXT"
    LineSpacing 1.0
    UnderLineSpacing 3.0
	Font "simhei.ttf"
	CharacterSize 16
	FontSize [16 16]
	Alignment "BASE_LINE"
	Color [255 255 255 255]
	Content {
		Text "天卡技能为"
	}
	Content {
		Color [0 255 0 255]
		Text "主动释放"
	}
	Content {
		Text "类型，地卡技能为"
	}
	Content {
		Color [0 255 0 255]
		Text " 被动生效"
	}
	Content {
		Text "型，天卡和地卡的多样搭配将极大的提升兵种战力"
	}
}