# Creature3D Script Parser v1.0
//任务:按图索骥
Hypertext {
    DrawMode "TEXT"
    LineSpacing 1.0
    UnderLineSpacing 3.0
	Font "simhei.ttf"
	CharacterSize 16
	FontSize [16 16]
	Alignment "BASE_LINE"
	Color [255 255 255 255]
	Content {
		Text "所有的装备打造都是会消耗图纸的，高级"
	}
	Content {
		Color [0 255 0 255]
		Text "装备图纸"
	}
	Content {
		Text "在将军您建国之后可以在"
	}
	Content {
		Color [0 255 0 255]
		Text "【国家商店】"
	}
	Content {
		Text "进行购买，也可以在40级后参与"
	}
	Content {
		Color [0 255 0 255]
		Text "【世界副本】"
	}	
	Content {
		Text "活动获取"
	}	
}