# Creature3D Script Parser v1.0
//任务:按图索骥
Hypertext {
    DrawMode "TEXT"
    LineSpacing 1.0
    UnderLineSpacing 3.0
	Font "simhei.ttf"
	CharacterSize 16
	FontSize [16 16]
	Alignment "BASE_LINE"
	Color [255 255 255 255]
	Content {
		Text "什么？！将军你问我升级的秘密，好吧，这个秘密我只告诉将军你一个人哦："
	}
	Content {
		Color [0 255 0 255]
		Text "【国战】"
	}
	Content {
		Text "战场中"
	}	
	Content {
		Color [0 255 0 255]
		Text "死伤"
	}
	Content {
		Text "的士兵会在"
	}	
	Content {
		Color [0 255 0 255]
		Text "战场结束"
	}
	Content {
		Text "的时候转化成大量经验，越高级的兵种经验越高，若战场结束时将军您不在线也没关系，经验会通过"
	}
	Content {
		Color [0 255 0 255]
		Text "邮件邮寄"
	}
	Content {
		Text "给你，请不要忘记领取哦"
	}
}