# Creature3D Script Parser v1.0
//任务:按图索骥
Hypertext {
    DrawMode "TEXT"
    LineSpacing 1.0
    UnderLineSpacing 3.0
	Font "simhei.ttf"
	CharacterSize 16
	FontSize [16 16]
	Alignment "BASE_LINE"
	Color [255 255 255 255]
	Content {
		Text "好啦，通过对"
	}
	Content {
		Color [0 255 0 255]
		Text "青铜铸造术"
	}
	Content {
		Text "的升级，长戟兵的"
	}
	Content {
		Color [0 255 0 255]
		Text "生命值"
	}
	Content {
		Text "已经"
	}
	Content {
		Color [0 255 0 255]
		Text "增加"
	}
	Content {
		Text "了很多，极大的提高了该兵种在战场中的生存率啦！"
	}
}