# Creature3D Script Parser v1.0
//任务:按图索骥
Hypertext {
    DrawMode "TEXT"
    LineSpacing 1.0
    UnderLineSpacing 3.0
	Font "simhei.ttf"
	CharacterSize 16
	FontSize [16 16]
	Alignment "BASE_LINE"
	Color [255 255 255 255]
	Content {
		Text "还记得之前的操作么？只有将士兵加入编队，才会出现在战场中哦！每个兵种有自己的"
	}
	Content {
		Color [0 255 0 255]
		Text "领导力"
	}
	Content {
		Text "，将军的"
	}
	Content {
		Color [0 255 0 255]
		Text "领导力"
	}
	Content {
		Text "越高，能带的"
	}
	Content {
		Color [0 255 0 255]
		Text "兵也越多"
	}
	Content {
		Text "呢！"
	}
}