# Creature3D Script Parser v1.0
//任务:按图索骥
Hypertext {
    DrawMode "TEXT"
    LineSpacing 1.0
    UnderLineSpacing 3.0
	Font "simhei.ttf"
	CharacterSize 16
	FontSize [16 16]
	Alignment "BASE_LINE"
	Color [255 255 255 255]
	Content {
		Text "孙子曰：兵者，国之大事，死生之地，存亡之道，不可不察也。现如今有了粮草，请将军先移步兵营，"
	}
	Content {
		Color [0 255 0 255]
		Text "招募士兵"
	}
	Content {
		Text "，组建军队吧"
	}
}