# Creature3D Script Parser v1.0
//任务:按图索骥
Hypertext {
    DrawMode "TEXT"
    LineSpacing 1.0
    UnderLineSpacing 3.0
	Font "simhei.ttf"
	CharacterSize 16
	FontSize [16 16]
	Alignment "BASE_LINE"
	Color [255 255 255 255]
	Content {
		Text "准备了这么久，将军一定很想去参与国战试试身手了吧，不过在与敌对玩家拼杀之前，我们先去一个简单的模拟国战战场进行一次初步的"
	}
	Content {
		Color [0 255 0 255]
		Text "国战训练"
	}
	Content {
		Text "，训练结束后萌萌会告诉你一个"
	}
	Content {
		Color [0 255 0 255]
		Text "升级"
	}
	Content {
		Text "的秘密哦"
	}
}