# Creature3D Script Parser v1.0
//任务:按图索骥
Hypertext {
    DrawMode "TEXT"
    LineSpacing 1.0
    UnderLineSpacing 3.0
	Font "simhei.ttf"
	CharacterSize 16
	FontSize [16 16]
	Alignment "BASE_LINE"
	Color [255 255 255 255]
	Content {
		Text "统一是一个漫长的战斗，而领地可以为将军"
	}
	Content {
		Color [0 255 0 255]
		Text "生产资源"
	}
	Content {
		Text "，"
	}
	Content {
		Color [0 255 0 255]
		Text "招募士兵"
	}
	Content {
		Text "，发展好领地，可以增强将军的可持续战斗能力。"
	}
}