# Creature3D Script Parser v1.0
//任务:按图索骥
Hypertext {
    DrawMode "TEXT"
    LineSpacing 1.0
    UnderLineSpacing 3.0
	Font "simhei.ttf"
	CharacterSize 16
	FontSize [16 16]
	Alignment "BASE_LINE"
	Color [255 255 255 255]
	Content {
		Text "现如今天下三分，三国之间纷争不断，将军现降临此城，必是我城百姓福音，而天下万民苦乱世久矣，望将军能依托此城平定天下，开万世太平！在一统天下的过程中，我会作为将军的小管家，一直辅助你——"
	}
	Content {
		Color [0 255 0 255]
		Text "萌萌"
	}
	Content {
		Text "。"
	}
}