# Creature3D Script Parser v1.0
//任务:按图索骥
Hypertext {
    DrawMode "TEXT"
    LineSpacing 1.0
    UnderLineSpacing 3.0
	Font "simhei.ttf"
	CharacterSize 16
	FontSize [16 16]
	Alignment "BASE_LINE"
	Color [255 255 255 255]
	Content {
		Text "恭喜将军，刚在追敌过程中我们发现了"
	}
	Content {
		Color [0 255 0 255]
		Text " 铜首羽箭"
	}
	Content {
		Text "的制作方法，而有了它我们就可以招募"
	}
	Content {
		Color [0 255 0 255]
		Text "弓箭兵"
	}
	Content {
		Text "了，弓箭兵是最基础的弓兵，弓兵以远程杀伤著称，任何战场都少不了弓兵的身影"
	}
}