# Creature3D Script Parser v1.0
//任务:按图索骥
Hypertext {
    DrawMode "TEXT"
    LineSpacing 1.0
    UnderLineSpacing 3.0
	Font "simhei.ttf"
	CharacterSize 16
	FontSize [16 16]
	Alignment "BASE_LINE"
	Color [255 255 255 255]
	Content {
		Text "在两千年之后，有位老人说科技是第一生产力；而萌萌要说：在我们将星诀，拥有了领先的科技，也就意味着拥有了领先于他人的战斗力。正所谓落后就要挨打，我们赶紧去"
	}
	Content {
		Color [0 255 0 255]
		Text "工坊"
	}
	Content {
		Text "升级一下"
	}
	Content {
		Color [0 255 0 255]
		Text "【军备科技】"
	}
	Content {
		Text "吧"
	}	
}