# Creature3D Script Parser v1.0
//任务:按图索骥
Hypertext {
    DrawMode "TEXT"
    LineSpacing 1.0
    UnderLineSpacing 3.0
	Font "simhei.ttf"
	CharacterSize 16
	FontSize [16 16]
	Alignment "BASE_LINE"
	Color [255 255 255 255]
	Content {
		Text "大贤良师"
	}
	Content {
		Color [0 255 0 255]
		Text "张角"
	}
	Content {
		Text "加入将军麾下，张角得南华老仙传天书三卷，可召唤雷电之力对敌兵进行致命打击。在将弓兵和张角加入编队之前，我们先将吕布将卡进行一次"
	}
	Content {
		Color [0 255 0 255]
		Text "将卡升级"
	}
	Content {
		Text "吧！"
	}
}