# Creature3D Script Parser v1.0
//任务:按图索骥
Hypertext {
    DrawMode "TEXT"
    LineSpacing 1.0
    UnderLineSpacing 3.0
	Font "simhei.ttf"
	CharacterSize 16
	FontSize [16 16]
	Alignment "BASE_LINE"
	Color [255 255 255 255]
	Content {
		Text "按左侧"
	}
	Content {
		Color [0 255 0 255]
		Text "数字键１"
	}
	Content {
		Text "可以选中所有部队。"
	}
}