# Creature3D Script Parser v1.0
//任务:按图索骥
Hypertext {
    DrawMode "TEXT"
    LineSpacing 1.0
    UnderLineSpacing 3.0
	Font "simhei.ttf"
	CharacterSize 16
	FontSize [16 16]
	Alignment "BASE_LINE"
	Color [255 255 255 255]
	Content {
		Text "恭贺将军大获全胜，特奖励领地一块，请将军速去接收！"
	}
}