# Creature3D Script Parser v1.0

Data {
    Class "JXJBattleRoom"
	IncludeData "JXJ/script/scenario/room.cfg"
	Param "20593,1"
	xHandle {
		MsgParam "WCH_USER+241"//WCH_RoomRemoved
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJBattleRemoved"
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+20071"//WCH_JXJRecvBattleSettle
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Logic {
				Class "IF_ELSE"
				Method {
					Class "JXJClientRecvBattleSettle"
					Param "UI_Battleground_Zcjs"
					Param "UI_Battleground_Zcjs_Drag"
					Param "UI_Battleground_Zcjs_GameListctrl"
					Param "UI_Beta2_Battleground_Zcjs_Input1"
					Param "UI_Beta2_Battleground_Zcjs_Input2"
					Param "UI_Beta2_Battleground_Zcjs_Input3"
					Param "UI_Beta2_Battleground_Zcjs_Input4"
					Param "UI_Beta2_Battleground_Zcjs_Input5"
					Param "UI_Beta2_Battleground_Zcjs_Input6"
					Param "UI_Beta2_Battleground_Zcjs_Input7"
					Param "UI_Beta2_Battleground_Zcjs_Input8"
					Param "VF"
					Param "15"			//charactersize
					Param "20"			//fontsizex
					Param "20"			//fontsizey
					Param "10"			//linespacing
					Param "4"			//underlinespacing
					Param "4"			//uplinespacing
					Param "UI_Battleground_Zcjs_Listctrl1"
					Param "UI_Battleground_Zcjs_Listctrl2"
					Param "UI_Battleground_Zcjs_Listctrl3"
					Param "UI_Battleground_Zcjs_Listctrl4"
					Param "UI_Battleground_Zcjs_Listctrl5"
					Param "UI_Beta2_Battleground_Zcjs_CountDown"
				}
				Logic {
					Class "ProxyArray"
					Method {
						Class "ShowCanvas"
						Param "UI_Battleground_Zcjs"
						Param "1"
					}
					Logic {
						Class "CreateSound"
						Param "0"//创建Node
						Param "sounds/beijing_4.wav"
						Param "1"//ambient
						Param "1.0"//volume
						Param "1"//play
						Param "0"//looping
						Method {
							Class "LoadSound"
						}
					}
				}
				Logic {
					Class "ProxyArray"
					Method {
						Class "ShowCanvas"
						Param "UI_Battleground_Zcjs"
						Param "1"
					}
					Logic {
						Class "CreateSound"
						Param "0"//创建Node
						Param "sounds/beijing_5.wav"
						Param "1"//ambient
						Param "1.0"//volume
						Param "1"//play
						Param "0"//looping
						Method {
							Class "LoadSound"
						}
					}
				}
			}
		}
    }
	xHandle {
		MsgParam "WCH_USER+20360"//WCH_JXJRecvBattleArmyCount
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJRecvBattleTotalArmyCount"
				Param "UI_CopyBattle_Allinformation"
				Param "UI_CopyBattle_Beta1_Input1_2"
				Param "UI_CopyBattle_Beta1_Input2_2"
				Param "UI_CopyBattle_Beta1_Input3_2"
				Param "UI_CopyBattle_Beta1_Input4_2"
				Param "UI_CopyBattle_Beta1_Input5_2"
				Param "UI_CopyBattle_Beta1_Input6_2"
				Param "UI_Beta2_CopyBattle_Lifebar1"
				Param "UI_Beta2_CopyBattle_Lifebar2"
			}
		}
    }
	Handle {//服务器
		MsgParam "WCH_USER+346"//WCH_AddPlayer
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJCountryOfficialEnter"
			}
			Method {
				Class "JXJAcceptZhengZhaoEnterBattle"
			}
		}
    }
}
