# Creature3D Script Parser v1.0

Data {
    Class "JXJBattleRoom"
	IncludeData "JXJ/script/scenario/room.cfg"
	Param "20593,2"
	Handle {
		MsgParam "WCH_USER+240"//WCH_RoomCreate
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "SetRoomAutoStart"
				Param "1"//autostart
				Param "3"//autoStartTime
				Param "60"//removetime
			}
			Method {
				Class "JXJSetFubenProgress"
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+233"//WCH_RoomUpdate
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "RoomUpdate2"
			}
			Method {
				Class  "JXJSaveFubenProgress"
			}
			Method {
				Class "JXJScenarioTimer"
			}
			Method {
				Class  "RunFrequencyControl"
				Param "2.0"
			}
			Method {
				Class  "JXJBattleTotalArmyCount"
			}
			Method {
				Class "RunFrequencyControl"
				Param "10.0"
			}
			Method {
				Class "SendRoomTimeRemain"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+20074"//WCH_JXJRecvFubenSettle
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Logic {
				Class "IF_ELSE"
				Method {
					Class "JXJClientRecvFubenSettle"
					Param "UI_Fuben_VictoryFail"
					Param "UI_Fuben_VictoryFail_drag"
					Param "UI_VictoryFail_input1"
					Param "UI_VictoryFail_input2"
					Param "UI_VictoryFail_input3"
					Param "UI_VictoryFail_TreasureChests"
					Param "sw7"
					Param "UI_VictoryFail_input4"
				}
				Logic {
					Class "ProxyArray"
					Method {
						Class "ShowCanvas"
						Param "UI_Fuben_VictoryFail"
						Param "1"
					}
					Logic {
						Class "CreateSound"
						Param "0"//创建Node
						Param "sounds/beijing_4.wav"
						Param "1"//ambient
						Param "1.0"//volume
						Param "1"//play
						Param "0"//looping
						Method {
							Class "LoadSound"
						}
					}
				}
				Logic {
					Class "ProxyArray"
					Method {
						Class "ShowCanvas"
						Param "UI_Fuben_VictoryFail"
						Param "1"
					}
					Logic {
						Class "CreateSound"
						Param "0"//创建Node
						Param "sounds/beijing_5.wav"
						Param "1"//ambient
						Param "1.0"//volume
						Param "1"//play
						Param "0"//looping
						Method {
							Class "LoadSound"
						}
					}
				}
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+20518"//WCH_FuBenRoomRecreate
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "SetRoomAutoStart"
				Param "1"//autostart
				Param "5"//autoStartTime
				Param "30"//removetime
			}
			Method {
				Class "InitRoomProgress"
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+20536"//WCH_JXJFubenReliveCheck
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJFubenReliveCheck"
			}
		}
    }
	xHandle {
		MsgParam "WCH_USER+20360"//WCH_JXJRecvBattleArmyCount
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJRecvBattleTotalArmyCount"
				Param "UI_CopyBattle_Allinformation"
				Param "UI_CopyBattle_Beta1_Input1_2"
				Param "UI_CopyBattle_Beta1_Input2_2"
				Param "UI_CopyBattle_Beta1_Input3_2"
				Param "UI_CopyBattle_Beta1_Input4_2"
				Param "UI_CopyBattle_Beta1_Input5_2"
				Param "UI_CopyBattle_Beta1_Input6_2"
				Param "UI_Beta2_CopyBattle_Lifebar1"
				Param "UI_Beta2_CopyBattle_Lifebar2"
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+319"//WCH_GainBirthPoint
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "GainBirthPoint"
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+244"//WCH_RoomPlayerLeave
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJFubenPlayerLeave"
			}
		}
	}
}
