# Creature3D Script Parser v1.0

Data {
    Class "JXJBattleRoom"
	IncludeData "JXJ/script/scenario/battle.cfg"
	Param "20228,J_Yuejun_npc.crb"
    Handle {
		MsgParam "WCH_USER+258"//WCH_RoomUpdate2
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Logic {
				Class "IF_ELSE"
				Method {
					Class "JXJBattleRoomAheadClose"
				}
				Method {
					Class "SetRemainTime"
					Param "0"
				}
				Logic {
					Class "Switch"
					Method {
						Class "GetRoomProgress"
					}
					Logic {//case 0
						Class "IF_ELSE"
						Method {
							Class "JXJIsNpcChengchi"
						}
						Logic {
							Class "ProxyArray"
							Method {
								Class "NextRoomProgress"
							}
						}
						Logic {
							Class "ProxyArray"
							Method {
								Class "JXJReliveItemsFromTab"
								Param "90"//加载玩家城NPC
							}							
							Method {
								Class "RoomSetRoomProgress"  //服务器跳转到进度**
								Param "5"
							}
						}
					}
					Logic {//case 1	初始对话
						Class "ProxyArray"
						Method {//加载NPC
							Class "JXJReliveItemsFromTab"
							Param "0"
						}
						Method {
							Class "JXJServerAddScenarioTimer"	//服务器计时
							Param "1"//m_msg标识
							Param "20"//时间
							Param "3"
							Param "-1"
						}
						Method {
							Class "NextRoomProgress"
						}
					}
					Logic {//case 2	没有事件
						Class "Proxy"
						Method {
							Class "Null"
						}
					}
					Logic {//case 3	战场胜利
						Class "ProxyArray"
						Method {
							Class "SetRemainTime"
							Param "0"
						}
					}
					Logic {//case 4 
						Class "ProxyArray"
						Method {//加载NPC
							Class "JXJReliveItemsFromTab"
							Param "7"
						}
						Method {//加载NPC
							Class "JXJReliveItemsFromTab"
							Param "8"
						}
						Method {//加载NPC
							Class "JXJReliveItemsFromTab"
							Param "9"
						}
						Method {
							Class "JXJServerAddScenarioTimer"	//服务器计时
							Param "10"//m_msg标识
							Param "300"//时间
							Param "10"//m_id
						}
						Method {
							Class "RoomSetRoomProgress"  //服务器跳转到进度**
							Param "2"
						}
					}
					Logic {//case 5	玩家城池时候的胜利判定
						Class "IF_ELSE"
						Method {
							Class "JXJCheckItemsDeadFromTab"
							Param "100"
						}
						Logic {
							Class "ProxyArray"
							Method {
								Class "RoomSetRoomProgress"  //服务器跳转到进度**
								Param "3"
							}
						}
					}
					Logic {//case 6	加载第二波NPC
						Class "ProxyArray"
						Logic {
							Class "Switch"
							Method {
								Class "JXJRoomTriggerCountCase"
							}
							Logic {//case 0第一次触发
								Class "ProxyArray"
								Method {//加载第二波NPC
									Class "JXJReliveItemsFromTab"
									Param "10"
								}
								Method {
									Class "JXJServerAddScenarioTimer"	//服务器计时
									Param "11"//m_msg标识
									Param "300"//时间
									Param "11"//m_id
								}
							}
						}
						Method {
							Class "RoomSetRoomProgress"  //服务器跳转到进度**
							Param "2"
						}
					}
					Logic {//case 7	加载第三波NPC
						Class "ProxyArray"
						Logic {
							Class "Switch"
							Method {
								Class "JXJRoomTriggerCountCase"
							}
							Logic {//case 0第一次触发
								Class "ProxyArray"
								Method {//加载第三波NPC
									Class "JXJReliveItemsFromTab"
									Param "11"
								}
							}
						}
						Method {
							Class "RoomSetRoomProgress"  //服务器跳转到进度**
							Param "2"
						}
					}
					Logic {//case 8	战场失败
						Class "ProxyArray"
						Method {
							Class "SetRemainTime"
							Param "0"
						}
					}
				}
			}
			Logic {//是否是NPC城池
				Class "IF_ELSE"
				Method {
					Class "JXJIsNpcChengchi"
				}
				Logic {//第二阶段
					Class "IF_ELSE"
					Method {
						Class "JXJRoomProgressIsBelowVal"
						Param "2|3|4|5|6"
					}
					Logic {
						Class "IF_ELSE"
						Method {
							Class "JXJCheckItemsDeadFromTab"
							Param "100"
						}
						Logic {
							Class "IF_ELSE"
							Method {
								Class "JXJRoomTriggerCount" //判断触发次数
								Param "1"
							}
							Logic {
								Class "ProxyArray"
								Method {
									Class "ScenarioEvent"  //触发客户端事件
									Param "1"
								}
								Method {
									Class "RoomSetRoomProgress"  //服务器跳转到进度**
									Param "4"
								}
							}
						}
					}
				}
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+234"//WCH_RoomEnd
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJBattleSettle"
				Param "3"//战场胜利进度
			}
			Method {
				Class "SetRoomAutoStart"
				Param "0"//autostart
				Param "0"//autoStartTime
				Param "-1"//removetime
			}
		}
    }
	////////////////////////第一波BOSS死亡////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	Handle {
		MsgParam "WCH_USER+329"//WCH_RoomItemDead
		MsgParam "304045"	///第一波BOSS
		Driver {
			Class "MoreSlot"
			Logic {
				Class "IF_ELSE"
				Method {
					Class "JXJIsNpcChengchi"
				}
				Logic {
					Class "ProxyArray"
					Method {
						Class "JXJServerRemoveScenarioTimer"  //移除计时器
						Param "10"//m_id
					}
					Method {
						Class "RoomSetRoomProgress"  //服务器跳转到进度**
						Param "6"
					}
				}
			}
		}
	}
	////////////////////////第二波BOSS死亡////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	Handle {
		MsgParam "WCH_USER+329"//WCH_RoomItemDead
		MsgParam "304053"	///第二波BOSS
		Driver {
			Class "MoreSlot"
			Logic {
				Class "IF_ELSE"
				Method {
					Class "JXJIsNpcChengchi"
				}
				Logic {
					Class "ProxyArray"
					Method {
						Class "JXJServerRemoveScenarioTimer"  //移除计时器
						Param "11"//m_id
					}
					Method {
						Class "RoomSetRoomProgress"  //服务器跳转到进度**
						Param "7"
					}
				}
			}
		}
	}
	///////////计时器事件/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	Handle {//服务器计时器事件	第一波
		MsgParam "WCH_USER+20141"//WCH_JXJScenarioTimerEvent
		MsgParam "10"//m_msg标识
		Driver {
			Class "MoreSlot"
			Method {
				Class "RoomSetRoomProgress"  //服务器跳转到进度**
				Param "6"
			}
		}
    }
	///////////计时器事件/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	Handle {//服务器计时器事件	第二波
		MsgParam "WCH_USER+20141"//WCH_JXJScenarioTimerEvent
		MsgParam "11"//m_msg标识
		Driver {
			Class "MoreSlot"
			Method {
				Class "RoomSetRoomProgress"  //服务器跳转到进度**
				Param "7"
			}
		}
    }
	////////////////////////友军政厅被灭////////////////////////////////////////////////////////////////////////////////////////	
	Handle {
		MsgParam "WCH_USER+329"//WCH_RoomItemDead	死亡
		MsgParam "304043"//
		Driver {
			Class "MoreSlot"
			Logic {
				Class "IF_ELSE"
				Method {
					Class "JXJIsNpcChengchi"
				}
				Logic {
					Class "IF_ELSE"
					Method {
						Class "JXJRoomTriggerCount" //判断触发次数
						Param "1"
					}
					Logic {
						Class "ProxyArray"
						Method {
							Class "RoomSetRoomProgress"  //服务器跳转到进度**
							Param "8"
						}
					}
				}
			}
		}
    }
	////////////////////////张角被灭////////////////////////////////////////////////////////////////////////////////////////	
	Handle {
		MsgParam "WCH_USER+20141"//WCH_JXJScenarioTimerEvent
		MsgParam "1"//m_msg标识
		Driver {
			Class "MoreSlot"			
			Logic {
				Class "IF_ELSE"
				Method {//判断NPC死亡
					Class "JXJCheckItemsDeadFromTab"
					Param "3"//m_msg标识
				}
				Method {//刷新第一波第三批
					Class "JXJReliveItemsFromTab"
					Param "3"
				}
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+329"//WCH_RoomItemDead	死亡
		MsgParam "304061"//
		Driver {
			Class "MoreSlot"
			Logic {
				Class "IF_ELSE"
				Method {
					Class "JXJIsNpcChengchi"
				}
				Logic {
					Class "IF_ELSE"
					Method {
						Class "JXJRoomTriggerCount" //判断触发次数
						Param "1"
					}
					Logic {
						Class "ProxyArray"
						Method {
							Class "RoomSetRoomProgress"  //服务器跳转到进度**
							Param "3"
						}
					}
				}
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+332"//WCH_RecvScenarioEvent
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {//显示对话
				Class "JXJScenarioTalk"  
				Param "154000"//talkid
				Param "0"//endmsg
				Param "UI_CopyBattle_Juqing"//窗口名
				Param "Juqing_Input"//超文本输入框名
				Param "Juqing_Touxiang"//图片控件名
				Param "Juqing_Name"//人物名称控件名
				Param "2"//N秒后关闭该窗口（填0表示不自动关闭）
			}
			Method {//提示
				Class "JXJScenarioTalk"  
				Param "154001"//talkid  对应的表“scenariotalk.tab”
				Param "0"//endmsg
				Param "UI_CopyBattle_JuqingShow"//窗口名
				Param "JuqingShow_Input"//超文本输入框名
				Param ""//图片控件名
				Param ""//人物名称控件名
				Param "6"//N秒后关闭该窗口（填0表示不自动关闭）
			}
		}
    }
}