# Creature3D Script Parser v1.0

Data {
    Class "Event"    
	Handle {
		MsgParam "WCH_INVOLUME"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Logic {
				Class "IF_ELSE"
				Method {
					Class "IfInVolumeNodeIsMe"
				}
				Logic {
					Class "ProxyArray"
					Method {
						Class "SetVolumeEnable"
						Param "Jiantou02"
						Param "0"
					}
					Method {
						Class "SetVolumeEnable"
						Param "Jiantou03"
						Param "1"
					}
					Method {
						Class "JXJScenarioTalk"
						Param "3"//talkid
						Param "3"//endmsg
						Param "UI_Xinshouyindao29"
						Param "DuiHua2"
						Param "sw7"
					}
					xMethod {
						Class "JXJXuMuDialogueInit"
						Param "UI_Xinshouyindao29"
						Param "3"
					}
					xMethod {
						Class "ShowCanvas"
						Param "UI_Xinshouyindao29"
						Param "3"
					}
					Method {
						Class "ShowCanvas"
						Param "UI_Xinshouyindao34"
						Param "0"
					}
				}
			}
		}
    }
}
