# Creature3D Script Parser v1.0

Data {
    Class "Event"    
	Handle {
		MsgParam "WCH_INVOLUME"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Logic {
				Class "IF_ELSE"
				Method {
					Class "IfInVolumeNodeIsMe"
				}
				Logic {
					Class "ProxyArray"
					Method {
						Class "JXJScenarioTalk"
						Param "7"//talkid
						Param ""//endmsg
						Param "UI_Xinshouyindao29"
						Param "DuiHua2"
						Param "sw7"
					}
					Method {
						Class "SetVolumeEnable"
						Param "Jiantou05"
						Param "0"
					}
					Method {
						Class "SetVolumeEnable"
						Param "Jiantou06"
						Param "1"
					}
				}
			}
		}
    }
}
