# Creature3D Script Parser v1.0
 
Data {
    Class "JXJBattleRoom"
    IncludeData "JXJ/script/scenario/battle.cfg"
    Param "20228,luoyang_npc.crb"
    Handle {
        MsgParam "WCH_USER+258"//WCH_RoomUpdate2
        MsgParam "NULL"
        Driver {
            Class "MoreSlot"
            Logic {
                Class "IF_ELSE"
                Method {
                    Class "JXJBattleRoomAheadClose"
                }
                Method {
                    Class "SetRemainTime"
                    Param "0"
                }
                Logic {
                    Class "Switch"
                    Method {
                        Class "GetRoomProgress"
                    }
                    Logic {//case 0
                        Class "Proxy"
                        Logic {
                            Class "IF_ELSE"
                            Method {//NPC城池检测
                                Class "JXJIsNpcChengchi"
                            }
                            Logic {
                                Class "ProxyArray"
                                Method {//加载进度为0的NPC
                                    Class "JXJReliveItemsFromTab"
                                    Param "0"
                                }
                                Method {
                                    Class "JXJServerAddScenarioTimer"   //服务器计时，开场时间
                                    Param "1"//m_msg标识
                                    Param "135"//时间
                                    Param "3"
                                    Param "1"//循环次数
                                }
                                Method {
                                    Class "NextRoomProgress"
                                }
                            }
                            Logic {
                                Class "ProxyArray"
                                Method {
                                    Class "JXJReliveItemsFromTab"
                                    Param "1"
                                }
                                Method {
                                    Class "JXJServerAddScenarioTimer"   //服务器计时，开场时间
                                    Param "1"//m_msg标识
                                    Param "135"//时间
                                    Param "3"
                                    Param "1"//循环次数
                                }
                                Method {
                                    Class "NextRoomProgress"
                                }
                            }
                        }
                    }
                    Logic {//case 1
                        Class "IF_ELSE"
                        Method {
                            Class "JXJCheckItemsDeadFromTab"
                            Param "2"
                        }
                        Method {
                            Class "NextRoomProgress"
                        }
                    }
                    Logic {//case 2
                        Class "Proxy"
                        Method {
                            Class "SetRemainTime"
                            Param "0"
                        }
                    }
                }
            }
        }
    }
    Handle {//计时器1
        MsgParam "WCH_USER+20141"//WCH_JXJScenarioTimerEvent
        MsgParam "1"//m_msg标识
        Driver {
            Class "MoreSlot"
            Method {
                Class "JXJReliveItemsFromTab"
                Param "50"
            }
            Logic {
                Class "Proxy"
                Method {
                    Class "JXJNpcGainExtraFromTable"  //给BOSS加BUFF    攻击力增加100%
                    Param "50"  //table id
                    Param "35"  //BUFF ID
                }
            }
        }
    }
    Handle {//计时器2
        MsgParam "WCH_USER+20141"//WCH_JXJScenarioTimerEvent
        MsgParam "2"//m_msg标识
        Driver {
            Class "MoreSlot"
            Method {
                Class "JXJReliveItemsFromTab"
                Param "51"
            }
            Logic {
                Class "Proxy"
                Method {
                    Class "JXJNpcGainExtraFromTable"  //给BOSS加BUFF    攻速增加100%
                    Param "51"  //table id
                    Param "43"  //BUFF ID
                }
            }
        }
    }
    Handle {//计时器3
        MsgParam "WCH_USER+20141"//WCH_JXJScenarioTimerEvent
        MsgParam "3"//m_msg标识
        Driver {
            Class "MoreSlot"
            Method {
                Class "JXJReliveItemsFromTab"
                Param "52"
            }
            Logic {
                Class "Proxy"
                Method {
                    Class "JXJNpcGainExtraFromTable"  //给BOSS加BUFF    物伤反弹20%
                    Param "52"  //table id
                    Param "44"  //BUFF ID
                }
            }
        }
    }
    Handle {//计时器4
        MsgParam "WCH_USER+20141"//WCH_JXJScenarioTimerEvent
        MsgParam "4"//m_msg标识
        Driver {
            Class "MoreSlot"
            Method {
                Class "JXJReliveItemsFromTab"
                Param "53"
            }
            Logic {
                Class "Proxy"
                Method {
                    Class "JXJNpcGainExtraFromTable"  //给BOSS加BUFF    战鬼群伤buff
                    Param "53"  //table id
                    Param "80"  //BUFF ID
                }
            }
        }
    }
    ////////////////////////第一个BOSS死亡////////////////////////////////////////
    Handle {
        MsgParam "WCH_USER+329"//WCH_RoomItemDead
        MsgParam "30156"   ///第一个BOSS
        Driver {
            Class "OneSlot"
            Method {
                Class "JXJServerAddScenarioTimer"   //服务器计时，第一只boss
                Param "2"//m_msg标识
                Param "140"//时间
                Param "4"
                Param "1"//循环次数
            }
        }
    }
    ////////////////////////第二个BOSS死亡////////////////////////////////////////
    Handle {
        MsgParam "WCH_USER+329"//WCH_RoomItemDead
        MsgParam "30157"   ///第一个BOSS
        Driver {
            Class "OneSlot"
            Method {
                Class "JXJServerAddScenarioTimer"   //服务器计时，第一只boss
                Param "3"//m_msg标识
                Param "145"//时间
                Param "5"
                Param "1"//循环次数
            }
        }
    }
    ////////////////////////第三个BOSS死亡////////////////////////////////////////
    Handle {
        MsgParam "WCH_USER+329"//WCH_RoomItemDead
        MsgParam "30158"   ///第一个BOSS
        Driver {
            Class "OneSlot"
            Method {
                Class "JXJServerAddScenarioTimer"   //服务器计时，第一只boss
                Param "4"//m_msg标识
                Param "155"//时间
                Param "6"
                Param "1"//循环次数
            }
        }
    }
    Handle {
        MsgParam "WCH_USER+234"//WCH_RoomEnd
        MsgParam "NULL"
        Driver {
            Class "MoreSlot"
            Method {
                Class "JXJBattleSettle"
                Param "2"
            }
            Method {
                Class "SetRoomAutoStart"
                Param "0"//autostart
                Param "0"//autoStartTime
                Param "-1"//removetime
            }
        }
    }
}
