# Creature3D Script Parser v1.0

Data {
    Class "JXJBattleRoom"
	IncludeData "JXJ/script/scenario/fuben.cfg"
	Param "20228,M_lvbu1_npc.crb"
	Param "20232,2"
    Handle {
		MsgParam "WCH_USER+258"//WCH_RoomUpdate2
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Logic {
				Class "IF_ELSE"
				Method {
					Class "IsRoomPlayerEmpty"
				}
				Method {
					Class "SetRemainTime"
					Param "0"
				}
				Logic {
					Class "Switch"
					Method {
						Class "GetRoomProgress"
					}
					Logic {//case 0
						Class "ProxyArray"
						Method {
							Class "JXJReliveItemsFromTab"
							Param "0"
						}
						Method {
							Class "ScenarioEvent"  //触发客户端事件
							Param "1"
						}
						Method {
							Class "JXJNpcGainExtraFromTable"
							Param "1"
							Param "39"
						}						
						Method {
							Class "NextRoomProgress"
						}
					}
					Logic {//case 1
						Class "MoreSlot"
						Method {
							Class "NULL"
						}
					}
					Logic {//case 2
						Class "ProxyArray"
						Method {
							Class "JXJAddStarToPlayer"
							Param "2"//给的星星数
							Param "1|1|0"//客户端点亮星星用如没有需要点亮的可不写此列
						}
						Method {
							Class "SetRemainTime"
							Param "0"
						}
					}
				}
			}
			Logic {//当敌军全灭
				Class "IF_ELSE"
				Method {
					Class "JXJRoomProgressIsBelowVal"
					Param "1|2|3|4|5|6|7|8"
				}
				Logic {
					Class "IF_ELSE"
					Method {//
						Class "JXJCheckItemsDeadFromTab"
						Param "1"//scenariotable表 ID
					}
					Logic {
						Class "IF_ELSE"
						Method {
							Class "JXJRoomTriggerCount" //判断触发次数
							Param "1"
						}
						Logic {
							Class "ProxyArray"
							Method {
								Class "JXJServerAddScenarioTimer"	//服务器计时1
								Param "10"//m_msg标识
								Param "5"//时间
							}
						}
					}
				}
			}
			Logic {//玩家接触吕布
				Class "IF_ELSE"
				Method {
					Class "JXJRoomProgressIsBelowVal"
					Param "1|2|3|4|5|6|7|8"
				}
				Logic {
					Class "IF_ELSE"
					Method {//距离判断
						Class "JXJNPCCloseToPlayerFromTable"
						Param "1"//scenariotable表 ID
						Param "20" //distance
					}
					Logic {
						Class "IF_ELSE"
						Method {
							Class "JXJRoomTriggerCount" //判断触发次数
							Param "1"
						}
						Logic {
							Class "ProxyArray"
							Method {
								Class "ScenarioEvent"  //触发客户端事件
								Param "40"
							}
							Method {
								Class "JXJServerAddScenarioTimer"	//服务器计时1
								Param "1"//m_msg标识
								Param "20"//时间
								Param "1"
								Param "-1"
							}
						}
					}
				}
			}			
			Logic {//吕布体力百分之80以下
				Class "IF_ELSE"
				Method {
					Class "JXJRoomCheckHpPercentDown"  //当NPC的HP达到百分比80以下
					Param "31311"
					Param "0.80"
				}
				Logic {
					Class "IF_ELSE"
					Method {
						Class "JXJRoomTriggerCount" //判断触发次数
						Param "1"
					}
					Logic {
						Class "ProxyArray"
						Method {
							Class "ScenarioEvent"    //触发客户端事件
							Param "10"
						}
						Method {
							Class "JXJNpcGainExtraFromTable"
							Param "1"
							Param "40"
						}
					}
				}
			}
			Logic {//吕布体力百分之60以下
				Class "IF_ELSE"
				Method {
					Class "JXJRoomCheckHpPercentDown"  //当NPC的HP达到百分比80以下
					Param "31311"
					Param "0.60"
				}
				Logic {
					Class "IF_ELSE"
					Method {
						Class "JXJRoomTriggerCount" //判断触发次数
						Param "1"
					}
					Logic {
						Class "ProxyArray"
						Method {
							Class "ScenarioEvent"    //触发客户端事件
							Param "10"
						}
						Method {
							Class "JXJNpcGainExtraFromTable"
							Param "1"
							Param "40"
						}
					}
				}
			}			
			Logic {//吕布体力百分之40以下
				Class "IF_ELSE"
				Method {
					Class "JXJRoomCheckHpPercentDown"  //当NPC的HP达到百分比30以下
					Param "31311"
					Param "0.40"
				}
				Logic {
					Class "IF_ELSE"
					Method {
						Class "JXJRoomTriggerCount" //判断触发次数
						Param "1"
					}
					Logic {
						Class "ProxyArray"
						Method {
							Class "ScenarioEvent"    //触发客户端事件
							Param "20"
						}
						Method {
							Class "JXJNpcGainExtraFromTable"
							Param "1"
							Param "41"
						}
					}
				}
			}
			Logic {//吕布体力百分之20以下
				Class "IF_ELSE"
				Method {
					Class "JXJRoomCheckHpPercentDown"  //当NPC的HP达到百分比30以下
					Param "31311"
					Param "0.20"
				}
				Logic {
					Class "IF_ELSE"
					Method {
						Class "JXJRoomTriggerCount" //判断触发次数
						Param "1"
					}
					Logic {
						Class "ProxyArray"
						Method {
							Class "ScenarioEvent"    //触发客户端事件
							Param "30"
						}
						Method {
							Class "JXJNpcGainExtraFromTable"
							Param "1"
							Param "42"
						}
					}
				}
			}
		}
    }
	Handle {//服务器计时器事件1
		MsgParam "WCH_USER+20141"//WCH_JXJScenarioTimerEvent
		MsgParam "1"//m_msg标识
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJNpcUseSkill" //NPC释放技能
				Param "31311" //角色ID
				Param "24705" //技能ID
				Param "1" //目标选择标识符0:自己脚下1:距离最近2:随机距离3:距离最远4:视野内有血量低于20%的敌对目标5:对自身施法
			}
			Method {
				Class "ScenarioEvent"  //触发客户端事件
				Param "50"
			}
		}
	}
	Handle {//服务器计时器事件10
		MsgParam "WCH_USER+20141"//WCH_JXJScenarioTimerEvent
		MsgParam "10"//m_msg标识
		Driver {
			Class "MoreSlot"
			Method {
				Class "RoomSetRoomProgress"  //服务器跳转到进度**
				Param "2"
			}
		}
	}	
	Handle {
		MsgParam "WCH_USER+332"//WCH_RecvScenarioEvent
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {//显示对话
				Class "JXJScenarioTalk"  
				Param "200004"//talkid  对应的表“scenariotalk.tab”
				Param "0"//endmsg
				Param "UI_CopyBattle_Juqing"//窗口名
				Param "Juqing_Input"//超文本输入框名
				Param "Juqing_Touxiang"//图片控件名
				Param "Juqing_Name"//人物名称控件名
				Param "3"//N秒后关闭该窗口（填0表示不自动关闭）
			}
			Method {//小地图显示目标地点
				Class "JXJPlayMiniMapSignal"
				Param "UI_CopyBattle_MinMap"
				Param "UI_CopyBattle_Minimap"
				Param "UI_Fuben_Gantanhao"//目标地址  
				Param "RotMap"
				Param "635|412"
				Param "3600"
				Param "Road"
			}				
		}
    }	
	Handle {
		MsgParam "WCH_USER+332"//WCH_RecvScenarioEvent
		MsgParam "10"
		Driver {
			Class "MoreSlot"
			Method {//显示对话
				Class "JXJScenarioTalk"  
				Param "200001"//talkid  对应的表“scenariotalk.tab”
				Param "0"//endmsg
				Param "UI_CopyBattle_Juqing"//窗口名
				Param "Juqing_Input"//超文本输入框名
				Param "Juqing_Touxiang"//图片控件名
				Param "Juqing_Name"//人物名称控件名
				Param "3"//N秒后关闭该窗口（填0表示不自动关闭）
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+332"//WCH_RecvScenarioEvent
		MsgParam "20"
		Driver {
			Class "MoreSlot"
			Method {//显示对话
				Class "JXJScenarioTalk"  
				Param "200002"//talkid  对应的表“scenariotalk.tab”
				Param "0"//endmsg
				Param "UI_CopyBattle_Juqing"//窗口名
				Param "Juqing_Input"//超文本输入框名
				Param "Juqing_Touxiang"//图片控件名
				Param "Juqing_Name"//人物名称控件名
				Param "3"//N秒后关闭该窗口（填0表示不自动关闭）
			}
		}
    }	
	Handle {
		MsgParam "WCH_USER+332"//WCH_RecvScenarioEvent
		MsgParam "30"
		Driver {
			Class "MoreSlot"
			Method {//显示对话
				Class "JXJScenarioTalk"  
				Param "200003"//talkid  对应的表“scenariotalk.tab”
				Param "0"//endmsg
				Param "UI_CopyBattle_Juqing"//窗口名
				Param "Juqing_Input"//超文本输入框名
				Param "Juqing_Touxiang"//图片控件名
				Param "Juqing_Name"//人物名称控件名
				Param "3"//N秒后关闭该窗口（填0表示不自动关闭）
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+332"//WCH_RecvScenarioEvent
		MsgParam "40"
		Driver {
			Class "MoreSlot"
			Method {//显示对话
				Class "JXJScenarioTalk"  
				Param "200005"//talkid  对应的表“scenariotalk.tab”
				Param "0"//endmsg
				Param "UI_CopyBattle_Juqing"//窗口名
				Param "Juqing_Input"//超文本输入框名
				Param "Juqing_Touxiang"//图片控件名
				Param "Juqing_Name"//人物名称控件名
				Param "3"//N秒后关闭该窗口（填0表示不自动关闭）
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+332"//WCH_RecvScenarioEvent
		MsgParam "50"
		Driver {
			Class "MoreSlot"
			Method {//显示对话
				Class "JXJScenarioTalk"  
				Param "200006"//talkid  对应的表“scenariotalk.tab”
				Param "0"//endmsg
				Param "UI_CopyBattle_Juqing"//窗口名
				Param "Juqing_Input"//超文本输入框名
				Param "Juqing_Touxiang"//图片控件名
				Param "Juqing_Name"//人物名称控件名
				Param "3"//N秒后关闭该窗口（填0表示不自动关闭）
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+329"//WCH_RoomItemDead
		MsgParam "31311"//吕布
		Driver {
            Class "MoreSlot"
			Method {
				Class "JXJServerRemoveScenarioTimer"  //移除计时器
				Param "1"//m_id
			}			
			Method {
				Class "ScenarioEvent"  //触发客户端事件
				Param "60"
			}	
		}
	}
	Handle {
		MsgParam "WCH_USER+332"//WCH_RecvScenarioEvent
		MsgParam "60"
		Driver {
			Class "MoreSlot"
			Method {//显示对话
				Class "JXJScenarioTalk"  
				Param "200007"//talkid  对应的表“scenariotalk.tab”
				Param "0"//endmsg
				Param "UI_CopyBattle_Juqing"//窗口名
				Param "Juqing_Input"//超文本输入框名
				Param "Juqing_Touxiang"//图片控件名
				Param "Juqing_Name"//人物名称控件名
				Param "3"//N秒后关闭该窗口（填0表示不自动关闭）
			}
		}
    }	
	Handle {
		MsgParam "WCH_USER+234"//WCH_RoomEnd
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJFubenSettle"
				Param "2"
			}
			Method {
				Class "SetRoomAutoStart"
				Param "0"//autostart
				Param "0"//autoStartTime
				Param "-1"//removetime
			}
		}
    }
}
