# Creature3D Script Parser v1.0

Data {
	Class "JXJBattleRoom"
	IncludeData "JXJ/script/scenario/fuben.cfg"
	Param "20228,P_Hulaoguan_npc.crb"
	Param "20232,3"
	Handle {
		MsgParam "WCH_USER+258"//WCH_RoomUpdate2
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Logic {
				Class "IF_ELSE"
				Method {
					Class "IsRoomPlayerEmpty"
				}
				Method {
					Class "SetRemainTime"
					Param "0"
				}
				Logic {
					Class "Switch"
					Method {
						Class "GetRoomProgress"
					}
					Logic {//case 0没有事件 走到水井处
						Class "Proxy"
						Method {
							Class "Null"
						}
					}
					Logic {//case 1	初始对话
						Class "ProxyArray"
						Method {//加载NPC
							Class "JXJReliveItemsFromTab"
							Param "0"
						}
						Method {
							Class "JXJServerAddScenarioTimer"	//服务器计时
							Param "10"//m_msg标识
							Param "30"//时间
							Param "10"//m_id
							Param "-1"//m_times
						}
						Method {
							Class "JXJServerAddScenarioTimer"	//服务器计时
							Param "11"//m_msg标识
							Param "60"//时间
							Param "11"//m_id
						}
						Method {
							Class "JXJServerAddScenarioTimer"	//服务器计时
							Param "12"//m_msg标识
							Param "180"//时间
							Param "12"//m_id
						}
						Method {
							Class "NextRoomProgress"
						}
					}
					Logic {//case 2	没有事件
						Class "Proxy"
						Method {
							Class "Null"
						}
					}
					Logic {//case 3	战场胜利
						Class "ProxyArray"
						Method {
							Class "SetRemainTime"
							Param "0"
						}
					}
					Logic {//case 4	战场失败
						Class "ProxyArray"
						Method {
							Class "SetRemainTime"
							Param "0"
						}
					}
				}
			}
			xLogic {//蒙古包E
				Class "IF_ELSE"
				Method {
					Class "JXJRoomProgressIsBelowVal"
					Param "2|3|4|5|6|7|8"
				}
				Logic {
					Class "IF_ELSE"
					Method {
						Class "JXJCheckItemsDeadFromTab"
						Param "2"
					}
					Logic {
						Class "IF_ELSE"
						Method {
							Class "JXJRoomTriggerCount" //判断触发次数
							Param "1"
						}
						Method {
							Class "JXJRemoveItemsFormScene"
							Param "2"
						}
					}
				}
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+234"//WCH_RoomEnd
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJBattleSettle"
				Param "3"//战场胜利进度
			}
			Method {
				Class "SetRoomAutoStart"
				Param "0"//autostart
				Param "0"//autoStartTime
				Param "-1"//removetime
			}
		}
    }
	Handle {//服务器计时器事件
		MsgParam "WCH_USER+20141"//WCH_JXJScenarioTimerEvent
		MsgParam "10"//m_msg标识
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJReliveItemsFromTab"  //加载NPC
				Param "7"
			}
		}
    }
	Handle {//服务器计时器事件
		MsgParam "WCH_USER+20141"//WCH_JXJScenarioTimerEvent
		MsgParam "11"//m_msg标识
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJReliveItemsFromTab"  //加载NPC
				Param "1"
			}
			Method {
				Class "JXJReliveItemsFromTab"  //加载NPC
				Param "2"
			}
		}
    }
	Handle {//服务器计时器事件
		MsgParam "WCH_USER+20141"//WCH_JXJScenarioTimerEvent
		MsgParam "12"//m_msg标识
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJReliveItemsFromTab"  //加载NPC
				Param "3"
			}
			Method {
				Class "JXJReliveItemsFromTab"  //加载NPC
				Param "4"
			}
		}
    }
////////////////////////BOSS死亡////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	Handle {
		MsgParam "WCH_USER+329"//WCH_RoomItemDead
		MsgParam "600014"	//关羽
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJServerAddScenarioTimer"	//服务器计时
				Param "20"//m_msg标识
				Param "120"//时间
				Param "20"//m_id
				Param "-1"//m_times
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+329"//WCH_RoomItemDead
		MsgParam "600015"	//华雄
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJServerAddScenarioTimer"	//服务器计时
				Param "30"//m_msg标识
				Param "120"//时间
				Param "30"//m_id
				Param "-1"//m_times
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+329"//WCH_RoomItemDead
		MsgParam "600016"	//张飞
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJServerAddScenarioTimer"	//服务器计时
				Param "40"//m_msg标识
				Param "120"//时间
				Param "40"//m_id
				Param "-1"//m_times
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+329"//WCH_RoomItemDead
		MsgParam "600017"	///吕布
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJServerAddScenarioTimer"	//服务器计时
				Param "50"//m_msg标识
				Param "120"//时间
				Param "50"//m_id
				Param "-1"//m_times
			}
		}
	}
	Handle {//服务器计时器事件
		MsgParam "WCH_USER+20141"//WCH_JXJScenarioTimerEvent
		MsgParam "20"//m_msg标识
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJReliveItemsFromTab"  //加载NPC
				Param "1"
			}
		}
    }
	Handle {//服务器计时器事件
		MsgParam "WCH_USER+20141"//WCH_JXJScenarioTimerEvent
		MsgParam "30"//m_msg标识
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJReliveItemsFromTab"  //加载NPC
				Param "2"
			}
		}
    }
	Handle {//服务器计时器事件
		MsgParam "WCH_USER+20141"//WCH_JXJScenarioTimerEvent
		MsgParam "40"//m_msg标识
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJReliveItemsFromTab"  //加载NPC
				Param "3"
			}
		}
    }
	Handle {//服务器计时器事件
		MsgParam "WCH_USER+20141"//WCH_JXJScenarioTimerEvent
		MsgParam "50"//m_msg标识
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJReliveItemsFromTab"  //加载NPC
				Param "4"
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+329"//WCH_RoomItemDead
		MsgParam "600002"	///刘备
		Driver {
			Class "MoreSlot"
			Method {
				Class "RoomSetRoomProgress"  //服务器跳转到进度**
				Param "3"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+329"//WCH_RoomItemDead
		MsgParam "600003"	///董卓
		Driver {
			Class "MoreSlot"
			Method {
				Class "RoomSetRoomProgress"  //服务器跳转到进度**
				Param "4"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+329"//WCH_RoomItemDead
		MsgParam "600004"//
		Driver {
			Class "MoreSlot"
			Logic {
				Class "IF_ELSE"
				Method {
					Class "JXJRoomTriggerCount" //判断触发次数
					Param "1"
				}
				Logic {
					Class "ProxyArray"
					Method {
						Class "JXJSetNpcGuiseStateFromTab"  //控制NPC状态**
						Param "6"
						Param "1"
						Param "17"
					}
					xMethod {
						Class "JXJReliveItemsFromTab"  //加载NPC
						Param "6"
					}
				}
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+329"//WCH_RoomItemDead
		MsgParam "600005"//
		Driver {
			Class "MoreSlot"
			Logic {
				Class "IF_ELSE"
				Method {
					Class "JXJRoomTriggerCount" //判断触发次数
					Param "1"
				}
				Logic {
					Class "ProxyArray"
					Method {
						Class "JXJSetNpcGuiseStateFromTab"  //控制NPC状态**
						Param "5"
						Param "1"
						Param "17"
					}
					xMethod {
						Class "JXJReliveItemsFromTab"  //加载NPC
						Param "5"
					}
				}
			}
		}
    }
}