# Creature3D Script Parser v1.0

Data {
    Class "JXJBattleRoom"
	IncludeData "JXJ/script/scenario/battle.cfg"
	xHandle {
		MsgParam "WCH_USER+233"//WCH_RoomUpdate
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "RoomUpdate2"
			}
			Method {
				Class "RunFrequencyControl"
				Param "1.0"
			}
			Method {
				Class "JXJPassMainRuntime"
				Param "passcomp.crb"
			}
			Method {
				Class "JXJPassSendingRuntime"
			}
			Method {
				Class "JXJPassScoreRuntime"
				Param "20,40,80"
			}
			Method {
				Class "RunFrequencyControl"
				Param "10.0"
			}
			Method {
				Class  "JXJBattleTotalArmyCount"
			}
			Method {
				Class "SendRoomTimeRemain"
			}
		}
	}
}
