# Creature3D Script Parser v1.0

Data {
    Class "JXJBattleRoom"
	Handle {
		MsgParam "WCH_USER+240"//WCH_RoomCreate
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "SetRoomAutoStart"
				Param "1"//autostart
				Param "0"//autoStartTime
				Param "60"//removetime 30s内如果没有玩家进来
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+232"//WCH_RoomStart
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "InitRoomProgress"
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+233"//WCH_RoomUpdate
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "RoomUpdate2"
			}
			Method {
				Class "JXJScenarioTimer"
			}
			Method {
				Class "RunFrequencyControl"
				Param "10.0"
			}
			Method {
				Class "SendRoomTimeRemain"
			}
			Method {
				Class  "JXJBattleTotalArmyCount"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+243"//WCH_RoomKillStats
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJBattleKillStats"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+244"//WCH_RoomPlayerLeave
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJBattlePlayerLeave"
			}
			Method {
				Class "JXJCountryOfficialLeave"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+312"//WCH_RecvTriggerSetRoomProgress
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "RecvTriggerSetRoomProgress"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+20142"//WCH_JXJRecvAddScenarioTimer
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJRecvAddScenarioTimer"
			}
		}
	}
	Handle {//服务器
		MsgParam "WCH_USER+20143"//WCH_JXJServerRecvPauseRoom
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJRecvPauseRoom"
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+20144"//WCH_JXJRecvRemoveScenarioTimer
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJRecvRemoveScenarioTimer"
			}
		}
	}
	xHandle {//服务器计时器事件
		MsgParam "WCH_USER+20141"//WCH_JXJScenarioTimerEvent
		MsgParam "1"
		Driver {
			Class "OneSlot"
		}
    }
	xHandle {//客户端
		MsgParam "WCH_USER+339"//WCH_RecvPauseRoom
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
		}
    }
	xHandle {
		MsgParam "WCH_USER+20146"//WCH_JXJPlayerRelive
		MsgParam "0"//WCH_Server
		Driver {
			Class "MoreSlot"
		}
    }
	xHandle {
		MsgParam "WCH_USER+20146"//WCH_JXJPlayerRelive
		MsgParam "1"//WCH_Client
		Driver {
			Class "MoreSlot"
		}
    }
	Handle {//服务器
		MsgParam "WCH_USER+22811"//WCH_JXJReliveItemsFromTab
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJReliveItemsFromTab"
				Param ""
				Param ""
				Param ""
				Param ""
				Param "1"
			}
		}
    }	
}
