# Creature3D Script Parser v1.0

Data {
    Class "JXJBattleRoom"
	IncludeData "JXJ/script/scenario/fuben.cfg"
	Param "20228,T_Danyangxuanwei_npc.crb"
	Param "20232,3"
    Handle {
		MsgParam "WCH_USER+258"//WCH_RoomUpdate2
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Logic {
				Class "IF_ELSE"
				Method {
					Class "IsRoomPlayerEmpty"
				}
				Method {
					Class "SetRemainTime"
					Param "0"
				}
				Logic {
					Class "Switch"
					Method {
						Class "GetRoomProgress"
					}
					Logic {//case 0没有事件
						Class "Proxy"
						Method {
							Class "Null"
						}
					}
					Logic {//case 1初始对话
						Class "ProxyArray"
						Method {//加载NPC
							Class "JXJReliveItemsFromTab"
							Param "0"
						}
						Method {
							Class "JXJAddStarToPlayer"
							Param "1"//给的星星数
							Param "0|1|0"//客户端点亮星星用如没有需要点亮的可不写此列
						}						
						Method {
							Class "ScenarioEvent"    //触发客户端事件
							Param "1"
						}
						Method {
							Class "NextRoomProgress"
						}
					}
					Logic {//case 2没有事件
						Class "Proxy"
						Method {
							Class "Null"
						}
					}
					Logic {//case 3战场胜利
						Class "ProxyArray"
						Method {
							Class "SetRemainTime"
							Param "0"
						}
					}
					Logic {//case 4战场失败
						Class "ProxyArray"
						Method {
							Class "SetRemainTime"
							Param "0"
						}
					}
					Logic {//case 5 星级评定
						Class "ProxyArray"
						Logic {//十分钟内判断通关时间
							Class "IF_ELSE"
							Method {
								Class "JXJRoomElapseTimeIsGreater"
								Param "600"//秒
							}
							Logic {
								Class "ProxyArray"
								Method {
									Class "Null"
								}
							}							
							Logic {
								Class "ProxyArray"
								Method {
									Class "JXJAddStarToPlayer"
									Param "1"//给的星星数
									Param "0|0|1"//客户端点亮星星用如没有需要点亮的可不写此列
								}
							}
						}						
						Method {
							Class "RoomSetRoomProgress"  //服务器跳转到进度**
							Param "3"
						}
					}
				}
			}
			Logic {//使用水井
				Class "IF_ELSE"
				Method {
					Class "JXJRoomProgressIsBelowVal"
					Param "2|3|4|5|6|7|8"
				}
				Logic {
					Class "IF_ELSE"
					Method {//
						Class "JXJCheckItemsDeadFromTab"
						Param "6"//scenariotable表 ID
					}
					Logic {
						Class "IF_ELSE"
						Method {
							Class "JXJRoomTriggerCount" //判断触发次数
							Param "1"
						}
						Logic {
							Class "ProxyArray"
							Method {
								Class "JXJAddStarToPlayer"
								Param "-1"//给的星星数
								Param "0|-1|0"//客户端点亮星星用如没有需要点亮的可不写此列
							}							
						}
					}
				}
			}			
			Logic {//当玩家到达B点
				Class "IF_ELSE"
				Method {
					Class "JXJRoomProgressIsBelowVal"
					Param "2|3|4|5|6|7|8"
				}
				Logic {
					Class "IF_ELSE"
					Method {//距离判断
						Class "JXJNPCCloseToPlayerFromTable"
						Param "1"//scenariotable表 ID
						Param "20" //distance
					}
					Logic {
						Class "IF_ELSE"
						Method {
							Class "JXJRoomTriggerCount" //判断触发次数
							Param "1"
						}
						Logic {
							Class "ProxyArray"
							Method {
								Class "ScenarioEvent"  //触发客户端事件
								Param "10"
							}
						}
					}
				}
			}
			Logic {//当B点敌军全灭
				Class "IF_ELSE"
				Method {
					Class "JXJRoomProgressIsBelowVal"
					Param "2|3|4|5|6|7|8"
				}
				Logic {
					Class "IF_ELSE"
					Method {//
						Class "JXJCheckItemsDeadFromTab"
						Param "1"//scenariotable表 ID
					}
					Logic {
						Class "IF_ELSE"
						Method {
							Class "JXJRoomTriggerCount" //判断触发次数
							Param "1"
						}
						Logic {
							Class "ProxyArray"
							Method {
								Class "JXJRemoveItemsFormScene"
								Param "1"
							}			
							Method {
								Class "JXJReliveItemsFromTab"
								Param "2"
							}	
							Method {
								Class "JXJRemoveItemsFormScene"
								Param "3"
							}								
							Method {
								Class "ScenarioEvent"  //触发客户端事件
								Param "20"
							}
						}
					}
				}
			}
			Logic {//当玩家到达F点
				Class "IF_ELSE"
				Method {
					Class "JXJRoomProgressIsBelowVal"
					Param "2|3|4|5|6|7|8"
				}
				Logic {
					Class "IF_ELSE"
					Method {//距离判断
						Class "JXJNPCCloseToPlayerFromTable"
						Param "4"//scenariotable表 ID
						Param "20" //distance
					}
					Logic {
						Class "IF_ELSE"
						Method {
							Class "JXJRoomTriggerCount" //判断触发次数
							Param "1"
						}
						Logic {
							Class "ProxyArray"
							Method {
								Class "ScenarioEvent"  //触发客户端事件
								Param "30"
							}	
						}						
					}
				}
			}
			Logic {//当山贼全灭
				Class "IF_ELSE"
				Method {
					Class "JXJRoomProgressIsBelowVal"
					Param "2|3|4|5|6|7|8"
				}
				Logic {
					Class "IF_ELSE"
					Method {//
						Class "JXJCheckItemsDeadFromTab"
						Param "5"//scenariotable表 ID
					}
					Logic {
						Class "IF_ELSE"
						Method {
							Class "JXJRoomTriggerCount" //判断触发次数
							Param "1"
						}
						Logic {
							Class "ProxyArray"								
							Method {
								Class "ScenarioEvent"  //触发客户端事件
								Param "40"
							}
						}
					}
				}
			}			
		}
    }
	Handle {
		MsgParam "WCH_USER+234"//WCH_RoomEnd
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJFubenSettle"
				Param "3"//战场胜利进度
			}
			Method {
				Class "SetRoomAutoStart"
				Param "0"//autostart
				Param "0"//autoStartTime
				Param "-1"//removetime
			}
		}
    }
/////////////////////////进入场景显示初始剧情///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	Handle {
		MsgParam "WCH_USER+332"//WCH_RecvScenarioEvent
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {//显示对话
				Class "JXJScenarioTalk"  
				Param "113001"//talkid  对应的表“scenariotalk.tab”
				Param "1"//endmsg
				Param "UI_CopyBattle_Juqing"//窗口名
				Param "Juqing_Input"//超文本输入框名
				Param "Juqing_Touxiang"//图片控件名
				Param "Juqing_Name"//人物名称控件名
				Param "3"//N秒后关闭该窗口（填0表示不自动关闭）
			}
			Method {//小地图显示目标地点
				Class "JXJPlayMiniMapSignal"
				Param "UI_CopyBattle_MinMap"
				Param "UI_CopyBattle_Minimap"
				Param "UI_Fuben_Gantanhao"//目标地址  
				Param "RotMap"
				Param "-384|4866|4070|-768|10953|2218|7151|-2670|1292|-3800"
				Param "3600"
				Param "Road"	//name
			}			
		}
    }
	Handle {
		MsgParam "WCH_USER+20820"//WCH_JXJEndTalk
		MsgParam "1"//endmsg
		Driver {
			Class "MoreSlot"
			Method {//提示
				Class "JXJScenarioTalk"  
				Param "113002"//talkid  对应的表“scenariotalk.tab”
				Param "0"//endmsg
				Param "UI_CopyBattle_JuqingShow"//窗口名
				Param "JuqingShow_Input"//超文本输入框名
				Param ""//图片控件名
				Param ""//人物名称控件名
				Param "3"//N秒后关闭该窗口（填0表示不自动关闭）
			}
			Method {//小地图显示
				Class "JXJPlayMiniMapSignal"
				Param "UI_CopyBattle_MinMap"
				Param "UI_CopyBattle_Minimap"
				Param "UI_CopyBattle_Juqing_Di"//敌方
				Param "RotMap"
				Param "-384|4866"
				Param "6"
			}
		}
    }
/////////////////////////玩家到达B点/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////	
	Handle {
		MsgParam "WCH_USER+332"//WCH_RecvScenarioEvent
		MsgParam "10"
		Driver {
			Class "MoreSlot"
			Method {//显示对话
				Class "JXJScenarioTalk"  
				Param "113003"//talkid  对应的表“scenariotalk.tab”
				Param "10"//endmsg
				Param "UI_CopyBattle_Juqing"//窗口名
				Param "Juqing_Input"//超文本输入框名
				Param "Juqing_Touxiang"//图片控件名
				Param "Juqing_Name"//人物名称控件名
				Param "3"//N秒后关闭该窗口（填0表示不自动关闭）
			}
		}
    }
///////////////////////B点敌军全灭////////////////////////////////////////////////////////////////////////	
	Handle {
		MsgParam "WCH_USER+332"//WCH_RecvScenarioEvent
		MsgParam "20"
		Driver {
			Class "MoreSlot"
			Method {//显示对话
				Class "JXJScenarioTalk"  
				Param "113004"//talkid  对应的表“scenariotalk.tab”
				Param "20"//endmsg
				Param "UI_CopyBattle_Juqing"//窗口名
				Param "Juqing_Input"//超文本输入框名
				Param "Juqing_Touxiang"//图片控件名
				Param "Juqing_Name"//人物名称控件名
				Param "3"//N秒后关闭该窗口（填0表示不自动关闭）
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+20820"//WCH_JXJEndTalk
		MsgParam "20"//endmsg
		Driver {
			Class "MoreSlot"
			Method {//提示
				Class "JXJScenarioTalk"  
				Param "113005"//talkid  对应的表“scenariotalk.tab”
				Param "0"//endmsg
				Param "UI_CopyBattle_JuqingShow"//窗口名
				Param "JuqingShow_Input"//超文本输入框名
				Param ""//图片控件名
				Param ""//人物名称控件名
				Param "3"//N秒后关闭该窗口（填0表示不自动关闭）
			}
			Method {//小地图显示
				Class "JXJPlayMiniMapSignal"
				Param "UI_CopyBattle_MinMap"
				Param "UI_CopyBattle_Minimap"
				Param "UI_CopyBattle_Juqing_Di"
				Param "RotMap"
				Param "4070|-768|10953|2218|7151|-2670|1292|-3800"
				Param "6"
			}			
		}
	}	
///////////////////////玩家到达F点////////////////////////////////////////////////////////////////////////	
	Handle {
		MsgParam "WCH_USER+332"//WCH_RecvScenarioEvent
		MsgParam "30"
		Driver {
			Class "MoreSlot"
			Method {//显示对话
				Class "JXJScenarioTalk"  
				Param "113006"//talkid  对应的表“scenariotalk.tab”
				Param "0"//endmsg
				Param "UI_CopyBattle_Juqing"//窗口名
				Param "Juqing_Input"//超文本输入框名
				Param "Juqing_Touxiang"//图片控件名
				Param "Juqing_Name"//人物名称控件名
				Param "3"//N秒后关闭该窗口（填0表示不自动关闭）
			}
		}
    }
///////////////////////敌军全灭////////////////////////////////////////////////////////////////////////	
	Handle {
		MsgParam "WCH_USER+332"//WCH_RecvScenarioEvent
		MsgParam "40"
		Driver {
			Class "MoreSlot"
			Method {//显示对话
				Class "JXJScenarioTalk"  
				Param "113007"//talkid  对应的表“scenariotalk.tab”
				Param "100"//endmsg
				Param "UI_CopyBattle_Juqing"//窗口名
				Param "Juqing_Input"//超文本输入框名
				Param "Juqing_Touxiang"//图片控件名
				Param "Juqing_Name"//人物名称控件名
				Param "3"//N秒后关闭该窗口（填0表示不自动关闭）
			}
		}
    }		
	Handle {
		MsgParam "WCH_USER+20820"//WCH_JXJEndTalk
		MsgParam "100"//endmsg
		Driver {
			Class "MoreSlot"
			Method {
				Class "TriggerSetRoomProgress"  //客户端跳转到进度**
				Param "5"
			}
		}
	}
///////////////////////星级显示/////////////////////////////////////////////////////////////////////////////////////////////////////////////
	Handle {
		MsgParam "WCH_USER+20593"//WCH_JXJRecvFubenKillInfo
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJRecvFubenKillInfo"
				Param "UI_CopyBattle_XingJi"
			}
		}
    }
	Handle {
		MsgParam "WCH_GameStart"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJBattleStarCanvasInit"
				Param "UI_CopyBattle_XingJi"
				Param "9127|0"
				Param "9008|0"
				Param "9009|0"
			}
		}
	}
}
