# Creature3D Script Parser v1.0

Data {
    Class "JXJBattleRoom"
	IncludeData "JXJ/script/scenario/fuben.cfg"
	Param "20228,T_Hanzhongjiuren_npc.crb"
	Param "20232,3"
    Handle {
		MsgParam "WCH_USER+258"//WCH_RoomUpdate2
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Logic {
				Class "IF_ELSE"
				Method {
					Class "IsRoomPlayerEmpty"
				}
				Method {
					Class "SetRemainTime"
					Param "0"
				}
				Logic {
					Class "Switch"
					Method {
						Class "GetRoomProgress"
					}
					Logic {//case 0没有事件
						Class "Proxy"
						Method {
							Class "Null"
						}
					}
					Logic {//case 1初始对话
						Class "ProxyArray"
						Method {//加载NPC
							Class "JXJReliveItemsFromTab"
							Param "0"
						}
						Method {
							Class "ScenarioEvent"    //触发客户端事件
							Param "1"
						}
						Method {
							Class "NextRoomProgress"
						}
					}
					Logic {//case 2没有事件
						Class "Proxy"
						Method {
							Class "Null"
						}
					}
					Logic {//case 3战场胜利
						Class "ProxyArray"
						Method {
							Class "SetRemainTime"
							Param "0"
						}
					}
					Logic {//case 4战场失败
						Class "ProxyArray"
						Method {
							Class "SetRemainTime"
							Param "0"
						}
					}
					Logic {//case 5 星级评定
						Class "ProxyArray"
						Logic {//十五分钟内判断通关时间
							Class "IF_ELSE"
							Method {
								Class "JXJRoomElapseTimeIsGreater"
								Param "900"//时间超过600秒
							}
							Logic {
								Class "ProxyArray"
								Method {
									Class "Null"
								}
							}							
							Logic {
								Class "ProxyArray"
								Method {
									Class "JXJAddStarToPlayer"
									Param "1"//给的星星数
									Param "0|0|1"//客户端点亮星星用如没有需要点亮的可不写此列
								}
							}
						}
						Logic {//家丁两个以上
							Class "IF_ELSE"
							Method {
								Class "JXJNPCSurvivalNumIsNotLess"
								Param "12"
								Param "2"
							}
							Logic {
								Class "ProxyArray"
								Method {
									Class "JXJAddStarToPlayer"
									Param "1"//给的星星数
									Param "0|0|1"//客户端点亮星星用如没有需要点亮的可不写此列
								}
							}
						}						
						Method {
							Class "RoomSetRoomProgress"  //服务器跳转到进度**
							Param "3"
						}
					}
				}
			}
			Logic {//扫荡B点
				Class "IF_ELSE"
				Method {
					Class "JXJRoomProgressIsBelowVal"
					Param "2|3|4|5|6|7|8"
				}
				Logic {
					Class "IF_ELSE"
					Method {//
						Class "JXJCheckItemsDeadFromTab"
						Param "1"//scenariotable表 ID
					}
					Logic {
						Class "IF_ELSE"
						Method {
							Class "JXJRoomTriggerCount" //判断触发次数
							Param "1"
						}
						Logic {
							Class "ProxyArray"
							Method {//加载家丁
								Class "JXJReliveItemsFromTab"
								Param "2"
							}								
							Method {
								Class "ScenarioEvent"  //触发客户端事件
								Param "10"
							}
						}
					}
				}
			}
			Logic {//扫荡C点
				Class "IF_ELSE"
				Method {
					Class "JXJRoomProgressIsBelowVal"
					Param "2|3|4|5|6|7|8"
				}
				Logic {
					Class "IF_ELSE"
					Method {//
						Class "JXJCheckItemsDeadFromTab"
						Param "3"//scenariotable表 ID
					}
					Logic {
						Class "IF_ELSE"
						Method {
							Class "JXJRoomTriggerCount" //判断触发次数
							Param "1"
						}
						Logic {
							Class "ProxyArray"
							Method {//加载家丁
								Class "JXJReliveItemsFromTab"
								Param "4"
							}								
							Method {
								Class "ScenarioEvent"  //触发客户端事件
								Param "10"
							}
						}
					}
				}
			}
			Logic {//扫荡D点
				Class "IF_ELSE"
				Method {
					Class "JXJRoomProgressIsBelowVal"
					Param "2|3|4|5|6|7|8"
				}
				Logic {
					Class "IF_ELSE"
					Method {//
						Class "JXJCheckItemsDeadFromTab"
						Param "5"//scenariotable表 ID
					}
					Logic {
						Class "IF_ELSE"
						Method {
							Class "JXJRoomTriggerCount" //判断触发次数
							Param "1"
						}
						Logic {
							Class "ProxyArray"
							Method {//加载家丁
								Class "JXJReliveItemsFromTab"
								Param "6"
							}								
							Method {
								Class "ScenarioEvent"  //触发客户端事件
								Param "10"
							}
						}
					}
				}
			}
			Logic {//扫荡E点
				Class "IF_ELSE"
				Method {
					Class "JXJRoomProgressIsBelowVal"
					Param "2|3|4|5|6|7|8"
				}
				Logic {
					Class "IF_ELSE"
					Method {//
						Class "JXJCheckItemsDeadFromTab"
						Param "7"//scenariotable表 ID
					}
					Logic {
						Class "IF_ELSE"
						Method {
							Class "JXJRoomTriggerCount" //判断触发次数
							Param "1"
						}
						Logic {
							Class "ProxyArray"
							Method {//加载家丁
								Class "JXJReliveItemsFromTab"
								Param "8"
							}								
							Method {
								Class "ScenarioEvent"  //触发客户端事件
								Param "10"
							}
						}
					}
				}
			}
			Logic {//扫荡F点
				Class "IF_ELSE"
				Method {
					Class "JXJRoomProgressIsBelowVal"
					Param "2|3|4|5|6|7|8"
				}
				Logic {
					Class "IF_ELSE"
					Method {//
						Class "JXJCheckItemsDeadFromTab"
						Param "9"//scenariotable表 ID
					}
					Logic {
						Class "IF_ELSE"
						Method {
							Class "JXJRoomTriggerCount" //判断触发次数
							Param "1"
						}
						Logic {
							Class "ProxyArray"
							Method {//移除城门
								Class "JXJRemoveItemsFormScene"
								Param "10"
							}								
							Method {
								Class "ScenarioEvent"  //触发客户端事件
								Param "20"
							}
						}
					}
				}
			}				
		}
    }
	Handle {
		MsgParam "WCH_USER+234"//WCH_RoomEnd
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJFubenSettle"
				Param "3"//战场胜利进度
			}
			Method {
				Class "SetRoomAutoStart"
				Param "0"//autostart
				Param "0"//autoStartTime
				Param "-1"//removetime
			}
		}
    }
/////////////////////////进入场景显示初始剧情///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	Handle {
		MsgParam "WCH_USER+332"//WCH_RecvScenarioEvent
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {//显示对话
				Class "JXJScenarioTalk"  
				Param "104001"//talkid  对应的表“scenariotalk.tab”
				Param "1"//endmsg
				Param "UI_CopyBattle_Juqing"//窗口名
				Param "Juqing_Input"//超文本输入框名
				Param "Juqing_Touxiang"//图片控件名
				Param "Juqing_Name"//人物名称控件名
				Param "3"//N秒后关闭该窗口（填0表示不自动关闭）
			}
			Method {//小地图显示目标地点
				Class "JXJPlayMiniMapSignal"
				Param "UI_CopyBattle_MinMap"
				Param "UI_CopyBattle_Minimap"
				Param "UI_Fuben_Gantanhao"//目标地址  
				Param "RotMap"
				Param "6042|-5997|8030|-315|-5559|-5868|-8664|8925|-672|1093|5497|9148|-6500|3777|-1783|-2483|2561|-9285|-9826|-10945"
				Param "3600"
				Param "Road"	//name
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+20820"//WCH_JXJEndTalk
		MsgParam "1"//endmsg
		Driver {
			Class "MoreSlot"
			Method {//提示
				Class "JXJScenarioTalk"  
				Param "104002"//talkid  对应的表“scenariotalk.tab”
				Param "0"//endmsg
				Param "UI_CopyBattle_JuqingShow"//窗口名
				Param "JuqingShow_Input"//超文本输入框名
				Param ""//图片控件名
				Param ""//人物名称控件名
				Param "3"//N秒后关闭该窗口（填0表示不自动关闭）
			}
			Method {//小地图显示
				Class "JXJPlayMiniMapSignal"
				Param "UI_CopyBattle_MinMap"
				Param "UI_CopyBattle_Minimap"
				Param "UI_CopyBattle_Juqing_Di"//敌方
				Param "RotMap"
				Param "6042|-5997|8030|-315|-5559|-5868|-8664|8925"
				Param "6"
			}
		}
    }
/////////////////////////家丁出现/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////	
	Handle {
		MsgParam "WCH_USER+332"//WCH_RecvScenarioEvent
		MsgParam "10"
		Driver {
			Class "MoreSlot"
			Method {//显示对话
				Class "JXJScenarioTalk"  
				Param "104003"//talkid  对应的表“scenariotalk.tab”
				Param "0"//endmsg
				Param "UI_CopyBattle_Juqing"//窗口名
				Param "Juqing_Input"//超文本输入框名
				Param "Juqing_Touxiang"//图片控件名
				Param "Juqing_Name"//人物名称控件名
				Param "0"//N秒后关闭该窗口（填0表示不自动关闭）
			}
		}
    }	
	Handle {
		MsgParam "WCH_USER+20820"//WCH_JXJEndTalk
		MsgParam "10"//endmsg
		Driver {
			Class "MoreSlot"
			Method {//提示
				Class "JXJScenarioTalk"  
				Param "104004"//talkid  对应的表“scenariotalk.tab”
				Param "0"//endmsg
				Param "UI_CopyBattle_JuqingShow"//窗口名
				Param "JuqingShow_Input"//超文本输入框名
				Param ""//图片控件名
				Param ""//人物名称控件名
				Param "3"//N秒后关闭该窗口（填0表示不自动关闭）
			}
			Method {//小地图显示
				Class "JXJPlayMiniMapSignal"
				Param "UI_CopyBattle_MinMap"
				Param "UI_CopyBattle_Minimap"
				Param "UI_CopyBattle_Juqing_Di"//敌方
				Param "RotMap"
				Param "-713|2241|5494|9482"
				Param "6"
			}			
		}
	}		
///////////////////////扫荡F点////////////////////////////////////////////////////////////////////////
	Handle {
		MsgParam "WCH_USER+332"//WCH_RecvScenarioEvent
		MsgParam "20"
		Driver {
			Class "MoreSlot"
			Method {//显示对话
				Class "JXJScenarioTalk"  
				Param "104005"//talkid  对应的表“scenariotalk.tab”
				Param "20"//endmsg
				Param "UI_CopyBattle_Juqing"//窗口名
				Param "Juqing_Input"//超文本输入框名
				Param "Juqing_Touxiang"//图片控件名
				Param "Juqing_Name"//人物名称控件名
				Param "3"//N秒后关闭该窗口（填0表示不自动关闭）
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+20820"//WCH_JXJEndTalk
		MsgParam "20"//endmsg
		Driver {
			Class "MoreSlot"
			Method {//提示
				Class "JXJScenarioTalk"  
				Param "104006"//talkid  对应的表“scenariotalk.tab”
				Param "0"//endmsg
				Param "UI_CopyBattle_JuqingShow"//窗口名
				Param "JuqingShow_Input"//超文本输入框名
				Param ""//图片控件名
				Param ""//人物名称控件名
				Param "3"//N秒后关闭该窗口（填0表示不自动关闭）
			}
			Method {//小地图显示
				Class "JXJPlayMiniMapSignal"
				Param "UI_CopyBattle_MinMap"
				Param "UI_CopyBattle_Minimap"
				Param "UI_CopyBattle_Juqing_Di"//敌方
				Param "RotMap"
				Param "5494|9482"
				Param "6"
			}			
		}
	}			
/////////////////////////击败G点BOSS////////////////////////////////////////////////////////////////////////
	Handle {
		MsgParam "WCH_USER+329"//WCH_RoomItemDead
		MsgParam "205420"//杨柏
		Driver {
            Class "MoreSlot"	
			Method {
				Class "ScenarioEvent"  //触发客户端事件
				Param "21"
			}			
			Method {//加载马超家眷
				Class "JXJReliveItemsFromTab"
				Param "11"
			}
			Method {
				Class "JXJSetNpcGuiseStateFromTab"  //控制NPC状态**
				Param "11"
				Param "1"
				Param "14"
			}			
		}
    }	
	Handle {
		MsgParam "WCH_USER+332"//WCH_RecvScenarioEvent
		MsgParam "21"
		Driver {
			Class "MoreSlot"
			Method {//显示对话
				Class "JXJScenarioTalk"  
				Param "104007"//id  对应的表“scenariotable.tab”
				Param "21"//endmsg
				Param "UI_CopyBattle_Juqing"//窗口名
				Param "Juqing_Input"//超文本输入框名
				Param "Juqing_Touxiang"//图片控件名
				Param "Juqing_Name"//人物名称控件名
				Param "3"//N秒后关闭该窗口（填0表示不自动关闭）	
			}
		}
    }		
	Handle {
		MsgParam "WCH_USER+20820"//WCH_JXJEndTalk
		MsgParam "21"//endmsg
		Driver {
			Class "MoreSlot"
			Method {
				Class "TriggerSetRoomProgress"  //客户端跳转到进度**
				Param "5"
			}
		}
	}
///////////////////////星级显示/////////////////////////////////////////////////////////////////////////////////////////////////////////////
	Handle {
		MsgParam "WCH_USER+20593"//WCH_JXJRecvFubenKillInfo
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJRecvFubenKillInfo"  //
				Param "UI_CopyBattle_XingJi"
			}
		}
    }
	Handle {
		MsgParam "WCH_GameStart"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJBattleStarCanvasInit"
				Param "UI_CopyBattle_XingJi"
				Param "9005|0"
				Param "9113|0"
				Param "9114|0"
			}
		}
	}
}
