# Creature3D Script Parser v1.0

Data {
    Class "JXJBattleRoom"
	IncludeData "JXJ/script/scenario/fuben.cfg"
	Param "20228,T_Kuaijidazhan_npc.crb"
	Param "20232,3"
    Handle {
		MsgParam "WCH_USER+258"//WCH_RoomUpdate2
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Logic {
				Class "IF_ELSE"
				Method {
					Class "IsRoomPlayerEmpty"
				}
				Method {
					Class "SetRemainTime"
					Param "0"
				}
				Logic {
					Class "Switch"
					Method {
						Class "GetRoomProgress"
					}
					Logic {//case 0没有事件
						Class "Proxy"
						Method {
							Class "Null"
						}
					}
					Logic {//case 1初始对话
						Class "ProxyArray"
						Method {//加载NPC
							Class "JXJReliveItemsFromTab"
							Param "0"
						}
						Method {
							Class "ScenarioEvent"    //触发客户端事件
							Param "1"
						}
						Method {
							Class "JXJAddStarToPlayer"
							Param "1"//给的星星数
							Param "0|1|0"//客户端点亮星星用如没有需要点亮的可不写此列
						}						
						Method {
							Class "NextRoomProgress"
						}
					}
					Logic {//case 2没有事件
						Class "Proxy"
						Method {
							Class "Null"
						}
					}
					Logic {//case 3战场胜利
						Class "ProxyArray"
						Method {
							Class "SetRemainTime"
							Param "0"
						}
					}
					Logic {//case 4战场失败
						Class "ProxyArray"
						Method {
							Class "SetRemainTime"
							Param "0"
						}
					}
					Logic {//case 5 星级评定
						Class "ProxyArray"
						Logic {//7分钟内判断通关时间
							Class "IF_ELSE"
							Method {
								Class "JXJRoomElapseTimeIsGreater"
								Param "420"//秒
							}
							Logic {
								Class "ProxyArray"
								Method {
									Class "Null"
								}
							}							
							Logic {
								Class "ProxyArray"
								Method {
									Class "JXJAddStarToPlayer"
									Param "1"//给的星星数
									Param "0|0|1"//客户端点亮星星用如没有需要点亮的可不写此列
								}
							}
						}						
						Method {
							Class "RoomSetRoomProgress"  //服务器跳转到进度**
							Param "3"
						}
					}
				}
			}
			Logic {//使用水井
				Class "IF_ELSE"
				Method {
					Class "JXJRoomProgressIsBelowVal"
					Param "2|3|4|5|6|7|8"
				}
				Logic {
					Class "IF_ELSE"
					Method {//
						Class "JXJCheckItemsDeadFromTab"
						Param "9"//scenariotable表 ID
					}
					Logic {
						Class "IF_ELSE"
						Method {
							Class "JXJRoomTriggerCount" //判断触发次数
							Param "1"
						}
						Logic {
							Class "ProxyArray"
							Method {
								Class "JXJAddStarToPlayer"
								Param "-1"//给的星星数
								Param "0|-1|0"//客户端点亮星星用如没有需要点亮的可不写此列
							}							
						}
					}
				}
			}			
			Logic {//当玩家到达C点
				Class "IF_ELSE"
				Method {
					Class "JXJRoomProgressIsBelowVal"
					Param "2|3|4|5|6|7|8"
				}
				Logic {
					Class "IF_ELSE"
					Method {//距离判断
						Class "JXJNPCCloseToPlayerFromTable"
						Param "2"//scenariotable表 ID
						Param "20" //distance
					}
					Logic {
						Class "IF_ELSE"
						Method {
							Class "JXJRoomTriggerCount" //判断触发次数
							Param "1"
						}
						Logic {
							Class "ProxyArray"
							Method {
								Class "ScenarioEvent"  //触发客户端事件
								Param "10"
							}
							Method {
								Class "JXJChangeItemPatrolPointVecFormScene"	//切换NPC路线
								Param "1"
								Param "689|-9147"
							}								
						}
					}
				}
			}
			Logic {//当玩家到达D点
				Class "IF_ELSE"
				Method {
					Class "JXJRoomProgressIsBelowVal"
					Param "2|3|4|5|6|7|8"
				}
				Logic {
					Class "IF_ELSE"
					Method {//距离判断
						Class "JXJNPCCloseToPlayerFromTable"
						Param "4"//scenariotable表 ID
						Param "20" //distance
					}
					Logic {
						Class "IF_ELSE"
						Method {
							Class "JXJRoomTriggerCount" //判断触发次数
							Param "1"
						}
						Logic {
							Class "ProxyArray"
							Method {
								Class "ScenarioEvent"  //触发客户端事件
								Param "20"
							}								
						}
					}
				}
			}
			Logic {//太史慈半血
				Class "IF_ELSE"
				Method {
					Class "JXJRoomCheckHpPercentDown"  //当NPC的HP达到百分比多少以下
					Param "206510"
					Param "0.50"
				}
				Logic {
					Class "IF_ELSE"
					Method {
						Class "JXJRoomTriggerCount" //判断触发次数
						Param "1"
					}
					Logic {
						Class "ProxyArray"
						Method {
							Class "ScenarioEvent"  //触发客户端事件
							Param "30"
						}
						Method {
							Class "JXJSetNpcGuiseStateFromTab"  //控制NPC状态**
							Param "4"
							Param "1"
							Param "14"
						}	
						Method {
							Class "JXJSetNpcGuiseStateFromTab"  //控制NPC状态**
							Param "4"
							Param "1"
							Param "15"
						}
						Method {
							Class "JXJServerAddScenarioTimer"	//服务器计时
							Param "1"//m_msg标识
							Param "6"//时间
							Param "1"//m_id
						}						
					}	
				}
			}			
			Logic {//当玩家到达E点
				Class "IF_ELSE"
				Method {
					Class "JXJRoomProgressIsBelowVal"
					Param "2|3|4|5|6|7|8"
				}
				Logic {
					Class "IF_ELSE"
					Method {//距离判断
						Class "JXJNPCCloseToPlayerFromTable"
						Param "6"//scenariotable表 ID
						Param "20" //distance
					}
					Logic {
						Class "IF_ELSE"
						Method {
							Class "JXJRoomTriggerCount" //判断触发次数
							Param "1"
						}
						Logic {
							Class "ProxyArray"
							Method {
								Class "ScenarioEvent"  //触发客户端事件
								Param "40"
							}	
						}						
					}
				}
			}
			Logic {//当玩家到达G点
				Class "IF_ELSE"
				Method {
					Class "JXJRoomProgressIsBelowVal"
					Param "2|3|4|5|6|7|8"
				}
				Logic {
					Class "IF_ELSE"
					Method {//距离判断
						Class "JXJNPCCloseToPlayerFromTable"
						Param "7"//scenariotable表 ID
						Param "20" //distance
					}
					Logic {
						Class "IF_ELSE"
						Method {
							Class "JXJRoomTriggerCount" //判断触发次数
							Param "1"
						}
						Logic {
							Class "ProxyArray"
							Method {
								Class "ScenarioEvent"  //触发客户端事件
								Param "50"
							}	
						}						
					}
				}
			}
			Logic {//当玩家到达H点
				Class "IF_ELSE"
				Method {
					Class "JXJRoomProgressIsBelowVal"
					Param "2|3|4|5|6|7|8"
				}
				Logic {
					Class "IF_ELSE"
					Method {//距离判断
						Class "JXJNPCCloseToPlayerFromTable"
						Param "8"//scenariotable表 ID
						Param "20" //distance
					}
					Logic {
						Class "IF_ELSE"
						Method {
							Class "JXJRoomTriggerCount" //判断触发次数
							Param "1"
						}
						Logic {
							Class "ProxyArray"
							Method {
								Class "ScenarioEvent"  //触发客户端事件
								Param "60"
							}	
						}						
					}
				}
			}			
		}
    }
	Handle {
		MsgParam "WCH_USER+234"//WCH_RoomEnd
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJFubenSettle"
				Param "3"//战场胜利进度
			}
			Method {
				Class "SetRoomAutoStart"
				Param "0"//autostart
				Param "0"//autoStartTime
				Param "-1"//removetime
			}
		}
    }
/////////////////////////进入场景显示初始剧情///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	Handle {
		MsgParam "WCH_USER+332"//WCH_RecvScenarioEvent
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {//显示对话
				Class "JXJScenarioTalk"  
				Param "115001"//talkid  对应的表“scenariotalk.tab”
				Param "1"//endmsg
				Param "UI_CopyBattle_Juqing"//窗口名
				Param "Juqing_Input"//超文本输入框名
				Param "Juqing_Touxiang"//图片控件名
				Param "Juqing_Name"//人物名称控件名
				Param "3"//N秒后关闭该窗口（填0表示不自动关闭）
			}
			Method {//小地图显示目标地点
				Class "JXJPlayMiniMapSignal"
				Param "UI_CopyBattle_MinMap"
				Param "UI_CopyBattle_Minimap"
				Param "UI_Fuben_Gantanhao"//目标地址  
				Param "RotMap"
				Param "689|-9147|5044|-7878|11604|-1207|4188|4718|4145|-424"
				Param "3600"
				Param "Road"	//name
			}			
		}
    }
	Handle {
		MsgParam "WCH_USER+20820"//WCH_JXJEndTalk
		MsgParam "1"//endmsg
		Driver {
			Class "MoreSlot"
			Method {//提示
				Class "JXJScenarioTalk"  
				Param "115002"//talkid  对应的表“scenariotalk.tab”
				Param "0"//endmsg
				Param "UI_CopyBattle_JuqingShow"//窗口名
				Param "JuqingShow_Input"//超文本输入框名
				Param ""//图片控件名
				Param ""//人物名称控件名
				Param "3"//N秒后关闭该窗口（填0表示不自动关闭）
			}
			Method {//小地图显示
				Class "JXJPlayMiniMapSignal"
				Param "UI_CopyBattle_MinMap"
				Param "UI_CopyBattle_Minimap"
				Param "UI_CopyBattle_Juqing_Di"//敌方
				Param "RotMap"
				Param "4290|-2832"
				Param "6"
			}
		}
    }
/////////////////////////玩家到达C点/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////	
	Handle {
		MsgParam "WCH_USER+332"//WCH_RecvScenarioEvent
		MsgParam "10"
		Driver {
			Class "MoreSlot"
			Method {//显示对话
				Class "JXJScenarioTalk"  
				Param "115003"//talkid  对应的表“scenariotalk.tab”
				Param "10"//endmsg
				Param "UI_CopyBattle_Juqing"//窗口名
				Param "Juqing_Input"//超文本输入框名
				Param "Juqing_Touxiang"//图片控件名
				Param "Juqing_Name"//人物名称控件名
				Param "3"//N秒后关闭该窗口（填0表示不自动关闭）
			}
		}
    }
/////////////////////////击败B点太史慈////////////////////////////////////////////////////////////////////////
	Handle {
		MsgParam "WCH_USER+329"//WCH_RoomItemDead
		MsgParam "206507"//太史慈
		Driver {
            Class "MoreSlot"	
			Method {
				Class "ScenarioEvent"  //触发客户端事件
				Param "11"
			}
			Method {//加载NPC
				Class "JXJReliveItemsFromTab"
				Param "4"//刷新太史慈2
			}			
			Method {//移除拒马
				Class "JXJRemoveItemsFormScene"
				Param "3"
			}
		}
    }	
	Handle {
		MsgParam "WCH_USER+332"//WCH_RecvScenarioEvent
		MsgParam "11"
		Driver {
			Class "MoreSlot"
			Method {//显示对话
				Class "JXJScenarioTalk"  
				Param "115004"//id  对应的表“scenariotable.tab”
				Param "11"//endmsg
				Param "UI_CopyBattle_Juqing"//窗口名
				Param "Juqing_Input"//超文本输入框名
				Param "Juqing_Touxiang"//图片控件名
				Param "Juqing_Name"//人物名称控件名
				Param "3"//N秒后关闭该窗口（填0表示不自动关闭）	
			}
		}
    }	
/////////////////////////玩家到达D点/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////	
	Handle {
		MsgParam "WCH_USER+332"//WCH_RecvScenarioEvent
		MsgParam "20"
		Driver {
			Class "MoreSlot"
			Method {//显示对话
				Class "JXJScenarioTalk"  
				Param "115005"//talkid  对应的表“scenariotalk.tab”
				Param "10"//endmsg
				Param "UI_CopyBattle_Juqing"//窗口名
				Param "Juqing_Input"//超文本输入框名
				Param "Juqing_Touxiang"//图片控件名
				Param "Juqing_Name"//人物名称控件名
				Param "3"//N秒后关闭该窗口（填0表示不自动关闭）
			}
		}
    }
//////////////////////////太史慈半血///////////////////////////////////////////////////////////////////////////////
	Handle {
		MsgParam "WCH_USER+332"//WCH_RecvScenarioEvent
		MsgParam "30"
		Driver {
			Class "MoreSlot"
			Method {//显示对话
				Class "JXJScenarioTalk"  
				Param "115006"//talkid  对应的表“scenariotalk.tab”
				Param "30"//endmsg
				Param "UI_CopyBattle_Juqing"//窗口名
				Param "Juqing_Input"//超文本输入框名
				Param "Juqing_Touxiang"//图片控件名
				Param "Juqing_Name"//人物名称控件名
				Param "3"//N秒后关闭该窗口（填0表示不自动关闭）
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+20820"//WCH_JXJEndTalk
		MsgParam "30"//endmsg
		Driver {
			Class "MoreSlot"
			Method {//提示
				Class "JXJScenarioTalk"  
				Param "115007"//talkid  对应的表“scenariotalk.tab”
				Param "0"//endmsg
				Param "UI_CopyBattle_JuqingShow"//窗口名
				Param "JuqingShow_Input"//超文本输入框名
				Param ""//图片控件名
				Param ""//人物名称控件名
				Param "3"//N秒后关闭该窗口（填0表示不自动关闭）
			}
			Method {//小地图显示
				Class "JXJPlayMiniMapSignal"
				Param "UI_CopyBattle_MinMap"
				Param "UI_CopyBattle_Minimap"
				Param "UI_CopyBattle_Juqing_Di"//敌方
				Param "RotMap"
				Param "11050|-5017|11647|-174|4188|4718"
				Param "6"
			}
		}
    }	
////////////////////////服务器计时器事件1////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	Handle {//服务器计时器事件
		MsgParam "WCH_USER+20141"//WCH_JXJScenarioTimerEvent
		MsgParam "1"//m_msg标识
		Driver {
			Class "MoreSlot"
			Method {//移除太史慈
				Class "JXJRemoveItemsFormScene"
				Param "4"
			}
			Method {//移除拒马
				Class "JXJRemoveItemsFormScene"
				Param "5"
			}			
		}
    }	
///////////////////////玩家到达E点////////////////////////////////////////////////////////////////////////	
	Handle {
		MsgParam "WCH_USER+332"//WCH_RecvScenarioEvent
		MsgParam "40"
		Driver {
			Class "MoreSlot"
			Method {//显示对话
				Class "JXJScenarioTalk"  
				Param "115008"//talkid  对应的表“scenariotalk.tab”
				Param "0"//endmsg
				Param "UI_CopyBattle_Juqing"//窗口名
				Param "Juqing_Input"//超文本输入框名
				Param "Juqing_Touxiang"//图片控件名
				Param "Juqing_Name"//人物名称控件名
				Param "3"//N秒后关闭该窗口（填0表示不自动关闭）
			}
		}
    }
/////////////////////////击败E点BOSS////////////////////////////////////////////////////////////////////////
	Handle {
		MsgParam "WCH_USER+329"//WCH_RoomItemDead
		MsgParam "206511"//神亭小将
		Driver {
            Class "MoreSlot"	
			Method {
				Class "ScenarioEvent"  //触发客户端事件
				Param "41"
			}
			Method {//加载NPC
				Class "JXJReliveItemsFromTab"
				Param "7"//刷新太史慈3
			}			
			Method {//移除拒马
				Class "JXJRemoveItemsFormScene"
				Param "10"
			}			
		}
    }	
	Handle {
		MsgParam "WCH_USER+332"//WCH_RecvScenarioEvent
		MsgParam "41"
		Driver {
			Class "MoreSlot"
			Method {//显示对话
				Class "JXJScenarioTalk"  
				Param "115009"//id  对应的表“scenariotable.tab”
				Param "21"//endmsg
				Param "UI_CopyBattle_Juqing"//窗口名
				Param "Juqing_Input"//超文本输入框名
				Param "Juqing_Touxiang"//图片控件名
				Param "Juqing_Name"//人物名称控件名
				Param "3"//N秒后关闭该窗口（填0表示不自动关闭）	
			}
		}
    }
///////////////////////玩家到达G点////////////////////////////////////////////////////////////////////////	
	Handle {
		MsgParam "WCH_USER+332"//WCH_RecvScenarioEvent
		MsgParam "50"
		Driver {
			Class "MoreSlot"
			Method {//显示对话
				Class "JXJScenarioTalk"  
				Param "115010"//talkid  对应的表“scenariotalk.tab”
				Param "0"//endmsg
				Param "UI_CopyBattle_Juqing"//窗口名
				Param "Juqing_Input"//超文本输入框名
				Param "Juqing_Touxiang"//图片控件名
				Param "Juqing_Name"//人物名称控件名
				Param "3"//N秒后关闭该窗口（填0表示不自动关闭）
			}
		}
    }
/////////////////////////击败G点BOSS////////////////////////////////////////////////////////////////////////
	Handle {
		MsgParam "WCH_USER+329"//WCH_RoomItemDead
		MsgParam "206512"//太史慈
		Driver {
            Class "MoreSlot"	
			Method {
				Class "ScenarioEvent"  //触发客户端事件
				Param "51"
			}
			Method {//移除拒马
				Class "JXJRemoveItemsFormScene"
				Param "11"
			}
			Method {//移除城门
				Class "JXJRemoveItemsFormScene"
				Param "12"
			}			
		}
    }	
	Handle {
		MsgParam "WCH_USER+332"//WCH_RecvScenarioEvent
		MsgParam "51"
		Driver {
			Class "MoreSlot"
			Method {//显示对话
				Class "JXJScenarioTalk"  
				Param "115011"//id  对应的表“scenariotable.tab”
				Param "51"//endmsg
				Param "UI_CopyBattle_Juqing"//窗口名
				Param "Juqing_Input"//超文本输入框名
				Param "Juqing_Touxiang"//图片控件名
				Param "Juqing_Name"//人物名称控件名
				Param "3"//N秒后关闭该窗口（填0表示不自动关闭）	
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+20820"//WCH_JXJEndTalk
		MsgParam "51"//endmsg
		Driver {
			Class "MoreSlot"
			Method {//提示
				Class "JXJScenarioTalk"  
				Param "115012"//talkid  对应的表“scenariotalk.tab”
				Param "0"//endmsg
				Param "UI_CopyBattle_JuqingShow"//窗口名
				Param "JuqingShow_Input"//超文本输入框名
				Param ""//图片控件名
				Param ""//人物名称控件名
				Param "3"//N秒后关闭该窗口（填0表示不自动关闭）
			}
			Method {//小地图显示
				Class "JXJPlayMiniMapSignal"
				Param "UI_CopyBattle_MinMap"
				Param "UI_CopyBattle_Minimap"
				Param "UI_CopyBattle_Juqing_Di"//敌方
				Param "RotMap"
				Param "4145|-424"
				Param "6"
			}
		}
    }
///////////////////////玩家到达H点////////////////////////////////////////////////////////////////////////	
	Handle {
		MsgParam "WCH_USER+332"//WCH_RecvScenarioEvent
		MsgParam "60"
		Driver {
			Class "MoreSlot"
			Method {//显示对话
				Class "JXJScenarioTalk"  
				Param "115013"//talkid  对应的表“scenariotalk.tab”
				Param "0"//endmsg
				Param "UI_CopyBattle_Juqing"//窗口名
				Param "Juqing_Input"//超文本输入框名
				Param "Juqing_Touxiang"//图片控件名
				Param "Juqing_Name"//人物名称控件名
				Param "3"//N秒后关闭该窗口（填0表示不自动关闭）
			}
		}
    }
/////////////////////////击败H点BOSS////////////////////////////////////////////////////////////////////////
	Handle {
		MsgParam "WCH_USER+329"//WCH_RoomItemDead
		MsgParam "206513"
		Driver {
            Class "MoreSlot"		
			Logic {
				Class "IF_ELSE"
				Method {
					Class "JXJRoomTriggerCount" //判断触发次数
					Param "1"
				}
				Logic {
					Class "ProxyArray"
					Method {
						Class "ScenarioEvent"  //触发客户端事件
						Param "150"
					}
				}
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+332"//WCH_RecvScenarioEvent
		MsgParam "150"
		Driver {
			Class "MoreSlot"
			Method {//显示对话
				Class "JXJScenarioTalk"  
				Param "115014"//talkid  对应的表“scenariotalk.tab”
				Param "400"//endmsg
				Param "UI_CopyBattle_Juqing"//窗口名
				Param "Juqing_Input"//超文本输入框名
				Param "Juqing_Touxiang"//图片控件名
				Param "Juqing_Name"//人物名称控件名
				Param "3"//N秒后关闭该窗口（填0表示不自动关闭）
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+20820"//WCH_JXJEndTalk
		MsgParam "400"//endmsg
		Driver {
			Class "MoreSlot"
			Method {
				Class "TriggerSetRoomProgress"  //客户端跳转到进度**
				Param "5"
			}
		}
    }
///////////////////////星级显示/////////////////////////////////////////////////////////////////////////////////////////////////////////////
	Handle {
		MsgParam "WCH_USER+20593"//WCH_JXJRecvFubenKillInfo
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJRecvFubenKillInfo"
				Param "UI_CopyBattle_XingJi"
			}
		}
    }
	Handle {
		MsgParam "WCH_GameStart"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJBattleStarCanvasInit"
				Param "UI_CopyBattle_XingJi"
				Param "9133|0"
				Param "9008|0"
				Param "9131|0"
			}
		}
	}
}
