# Creature3D Script Parser v1.0

Data {
    Class "Event"    
	Handle {
		MsgParam "WCH_INVOLUME"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Logic {
				Class "IF_ELSE"
				Method {
					Class "IfInVolumeNodeIsMe"
				}
				Logic {
					Class "ProxyArray"
					Method {
						Class "SetVolumeEnable"
						Param "162900"  //触发器名称
						Param "0"
					}
					xMethod {//剧情
						Class "JXJScenarioTalk"
						Param "62002"//talkid
						Param "0"//endmsg
						Param "UI_CopyBattle_Juqing"//窗口名
						Param "Juqing_Input"//超文本输入框名
						Param "Juqing_Touxiang"//图片控件名
						Param "Juqing_Name"//人物名称控件名
						Param "3"//N秒后关闭该窗口（填0表示不自动关闭）
					}
				}
			}
		}
    }
}
