# Creature3D Script Parser v1.0

Data {
    Class "JXJBattleRoom"
	IncludeData "JXJ/script/scenario/fuben.cfg"
	Param "20228,T_Wuzhongtuhu_npc.crb"
	Param "20232,3"
    Handle {
		MsgParam "WCH_USER+258"//WCH_RoomUpdate2
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Logic {
				Class "IF_ELSE"
				Method {
					Class "IsRoomPlayerEmpty"
				}
				Method {
					Class "SetRemainTime"
					Param "0"
				}
				Logic {
					Class "Switch"
					Method {
						Class "GetRoomProgress"
					}
					Logic {//case 0没有事件
						Class "Proxy"
						Method {
							Class "Null"
						}
					}
					Logic {//case 1初始对话
						Class "ProxyArray"
						Method {//加载NPC
							Class "JXJReliveItemsFromTab"
							Param "0"
						}
						Method {
							Class "ScenarioEvent"    //触发客户端事件
							Param "1"
						}
						Method {
							Class "NextRoomProgress"
						}
					}
					Logic {//case 2没有事件
						Class "Proxy"
						Method {
							Class "Null"
						}
					}
					Logic {//case 3战场胜利
						Class "Proxy"
						Method {
							Class "SetRemainTime"
							Param "0"
						}
					}
					Logic {//case 4战场失败
						Class "ProxyArray"
						Method {
							Class "SetRemainTime"
							Param "0"
						}
					}
					Logic {//case 5 星级评定
						Class "ProxyArray"
						Logic {//判断通关时间
							Class "IF_ELSE"
							Method {
								Class "JXJRoomElapseTimeIsGreater"
								Param "420"//时间超过420秒
							}
							Logic {
								Class "ProxyArray"
								Method {
									Class "Null"
								}
							}
							Logic {
								Class "ProxyArray"
								Method {
									Class "JXJAddStarToPlayer"
									Param "1"//给的星星数
									Param "0|1|0"//客户端点亮星星用如没有需要点亮的可不写此列
								}
							}
						}
						Logic {//判断水井是否使用
							Class "IF_ELSE"
							Method {
								Class "JXJCheckItemsLivedFromTab"
								Param "4"//table id
								Param "1"//运算选择
							}
							Logic {
								Class "ProxyArray"
								Method {
									Class "JXJAddStarToPlayer"
									Param "1"//给的星星数
									Param "1|0|0"//客户端点亮星星用如没有需要点亮的可不写此列
								}
							}
						}
						Method {
							Class "RoomSetRoomProgress"  //服务器跳转到进度**
							Param "3"
						}
					}
				}
			}
			Logic {//玩家到达B点
				Class "IF_ELSE"
				Method {
					Class "JXJRoomProgressIsBelowVal"
					Param "2|3|4|5|6|7|8"
				}
				Logic {
					Class "IF_ELSE"
					Method {
						Class "JXJPlayerCloseToPoint"  //玩家接近某个点
						Param "7812|-7768"
						Param "25"
					}
					Logic {
						Class "IF_ELSE"
						Method {
							Class "JXJRoomTriggerCount" //判断触发次数
							Param "1"
						}
						Logic {
							Class "ProxyArray"
							Method {//刷新严白虎
								Class "JXJReliveItemsFromTab"
								Param "1"
							}
							Method {
								Class "JXJAlterPlayerRTHP"	//玩家受到20%伤害
								Param "0.2"
							}
							Method {
								Class "ScenarioEvent"  //触发客户端事件
								Param "2"
							}
						}
					}	
				}
			}
			Logic {//玩家到达D点
				Class "IF_ELSE"
				Method {
					Class "JXJRoomProgressIsBelowVal"
					Param "2|3|4|5|6|7|8"
				}
				Logic {
					Class "IF_ELSE"
					Method {
						Class "JXJPlayerCloseToPoint"  //玩家接近某个点
						Param "-1142|221"
						Param "25"
					}
					Logic {
						Class "IF_ELSE"
						Method {
							Class "JXJRoomTriggerCount" //判断触发次数
							Param "1"
						}
						Logic {
							Class "ProxyArray"
							Method {
								Class "ScenarioEvent"  //触发客户端事件
								Param "5"
							}
						}
					}
				}
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+234"//WCH_RoomEnd
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJFubenSettle"
				Param "3"//战场胜利进度
			}
			Method {
				Class "SetRoomAutoStart"
				Param "0"//autostart
				Param "0"//autoStartTime
				Param "-1"//removetime
			}
		}
    }
///////////////////////////////开场事件/////////////////////////////////////////////////////////////////////////
	Handle {
		MsgParam "WCH_USER+332"//WCH_RecvScenarioEvent
		MsgParam "1"//scenarioevent标识
		Driver {
			Class "MoreSlot"
			Method {//玩家对话
				Class "JXJScenarioTalk"
				Param "114001"//talkid  对应的表“scenariotalk.tab”
				Param "1"//endmsg
				Param "UI_CopyBattle_Juqing"//窗口名
				Param "Juqing_Input"//超文本输入框名
				Param "Juqing_Touxiang"//图片控件名
				Param "Juqing_Name"//人物名称控件名
				Param "2"//N秒后关闭该窗口（填0表示不自动关闭）
			}
			Method {//小地图显示目标地点
				Class "JXJPlayMiniMapSignal"
				Param "UI_CopyBattle_MinMap"
				Param "UI_CopyBattle_Minimap"
				Param "UI_Fuben_Gantanhao"//目标地址  
				Param "RotMap"
				Param "7812|-7768|5783|-48|-1142|221"
				Param "3600"
				Param "Road"	//name
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+20820"//WCH_JXJEndTalk
		MsgParam "1"//endmsg
		Driver {
			Class "MoreSlot"
			Method {//提示
				Class "JXJScenarioTalk"
				Param "114002"//talkid  对应的表“scenariotalk.tab”
				Param "0"//endmsg
				Param "UI_CopyBattle_JuqingShow"//窗口名
				Param "JuqingShow_Input"//超文本输入框名
				Param ""//图片控件名
				Param ""//人物名称控件名
				Param "6"//N秒后关闭该窗口（填0表示不自动关闭）
			}
			Method {//D点闪烁
				Class "JXJPlayMiniMapSignal"
				Param "UI_CopyBattle_MinMap"
				Param "UI_CopyBattle_Minimap"
				Param "UI_CopyBattle_Juqing_Di"//敌方
				Param "RotMap"
				Param "-1142|221"
				Param "6"
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+332"//WCH_RecvScenarioEvent
		MsgParam "2"//scenarioevent标识
		Driver {
			Class "MoreSlot"
			Method {//严白虎对话
				Class "JXJScenarioTalk"
				Param "114003"//talkid  对应的表“scenariotalk.tab”
				Param "0"//endmsg
				Param "UI_CopyBattle_Juqing"//窗口名
				Param "Juqing_Input"//超文本输入框名
				Param "Juqing_Touxiang"//图片控件名
				Param "Juqing_Name"//人物名称控件名
				Param "2"//N秒后关闭该窗口（填0表示不自动关闭）
			}
		}
    }
	Handle {//击杀严白虎
		MsgParam "WCH_USER+329"//WCH_RoomItemDead
		MsgParam "206401"
		Driver {
			Class "MoreSlot"
			Logic {
				Class "IF_ELSE"
				Method {
					Class "JXJRoomTriggerCount" //判断触发次数
					Param "1"
				}
				Logic {
					Class "ProxyArray"
					Method {
						Class "ScenarioEvent"  //触发客户端事件
						Param "3"
					}
				}
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+332"//WCH_RecvScenarioEvent
		MsgParam "3"//scenarioevent标识
		Driver {
			Class "MoreSlot"
			Method {//严白虎对话
				Class "JXJScenarioTalk"
				Param "114004"//talkid  对应的表“scenariotalk.tab”
				Param "0"//endmsg
				Param "UI_CopyBattle_Juqing"//窗口名
				Param "Juqing_Input"//超文本输入框名
				Param "Juqing_Touxiang"//图片控件名
				Param "Juqing_Name"//人物名称控件名
				Param "2"//N秒后关闭该窗口（填0表示不自动关闭）
			}
		}
    }
	Handle {//击杀严黑虎
		MsgParam "WCH_USER+329"//WCH_RoomItemDead
		MsgParam "206404"//
		Driver {
			Class "MoreSlot"
			Logic {
				Class "IF_ELSE"
				Method {
					Class "JXJRoomTriggerCount" //判断触发次数
					Param "1"
				}
				Logic {
					Class "ProxyArray"
					Method {
						Class "ScenarioEvent"  //触发客户端事件
						Param "4"
					}
				}
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+332"//WCH_RecvScenarioEvent
		MsgParam "4"//scenarioevent标识
		Driver {
			Class "MoreSlot"
			Method {//严黑虎对话
				Class "JXJScenarioTalk"
				Param "114005"//talkid  对应的表“scenariotalk.tab”
				Param "0"//endmsg
				Param "UI_CopyBattle_Juqing"//窗口名
				Param "Juqing_Input"//超文本输入框名
				Param "Juqing_Touxiang"//图片控件名
				Param "Juqing_Name"//人物名称控件名
				Param "2"//N秒后关闭该窗口（填0表示不自动关闭）
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+332"//WCH_RecvScenarioEvent
		MsgParam "5"//scenarioevent标识
		Driver {
			Class "MoreSlot"
			Method {//玩家对话
				Class "JXJScenarioTalk"
				Param "114006"//talkid  对应的表“scenariotalk.tab”
				Param "2"//endmsg
				Param "UI_CopyBattle_Juqing"//窗口名
				Param "Juqing_Input"//超文本输入框名
				Param "Juqing_Touxiang"//图片控件名
				Param "Juqing_Name"//人物名称控件名
				Param "2"//N秒后关闭该窗口（填0表示不自动关闭）
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+20820"//WCH_JXJEndTalk
		MsgParam "2"//endmsg
		Driver {
			Class "MoreSlot"
			Method {//提示
				Class "JXJScenarioTalk"
				Param "114007"//talkid  对应的表“scenariotalk.tab”
				Param "0"//endmsg
				Param "UI_CopyBattle_JuqingShow"//窗口名
				Param "JuqingShow_Input"//超文本输入框名
				Param ""//图片控件名
				Param ""//人物名称控件名
				Param "6"//N秒后关闭该窗口（填0表示不自动关闭）
			}
			Method {//D点闪烁
				Class "JXJPlayMiniMapSignal"
				Param "UI_CopyBattle_MinMap"
				Param "UI_CopyBattle_Minimap"
				Param "UI_CopyBattle_Juqing_Di"//敌方
				Param "RotMap"
				Param "-1142|221"
				Param "6"
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+331"//WCH_RoomItemDamage
		MsgParam "206419"//政厅被攻击70%血量
		Driver {
			Class "MoreSlot"
			Logic {
				Class "IF_ELSE"
				Method {
					Class "JXJRoomCheckHpPercentDown"  //当NPC的HP达到百分比多少以下
					Param "206419"
					Param "0.3"
				}
				Logic {
					Class "IF_ELSE"		
					Method {
					Class "JXJRoomTriggerCount" //判断触发次数
					Param "1"
					}
					Logic {
						Class "ProxyArray"
						Method {
							Class "JXJReliveItemsFromTab"  //加载严白虎
							Param "2"
						}
						Method {
							Class "JXJAlterPlayerRTHP"	//玩家受到20%伤害
							Param "0.2"
						}
						Method {
							Class "ScenarioEvent"  //触发客户端事件
							Param "6"
						}
					}
				}
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+329"//WCH_RoomItemDead
		MsgParam "206407"//严白虎死亡
		Driver {
			Class "MoreSlot"
			Logic {
				Class "IF_ELSE"
				Method {
					Class "JXJCheckItemsDeadFromTab" //政厅死亡
					Param "3"
				}
				Logic {
					Class "IF_ELSE"
					Method {
						Class "JXJRoomTriggerCount" //判断触发次数
						Param "1"
					}
					Logic {
						Class "ProxyArray"
						Method {
							Class "ScenarioEvent"  //触发客户端事件
							Param "7"
						}
					}
				}
				Logic {
					Class "IF_ELSE"
					Method {
						Class "JXJRoomTriggerCount" //判断触发次数
						Param "1"
					}
					Logic {
						Class "ProxyArray"
						Method {
							Class "ScenarioEvent"  //触发客户端事件
							Param "8"
						}
					}
				}
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+329"//WCH_RoomItemDead
		MsgParam "206419"//政厅死亡
		Driver {
			Class "MoreSlot"
			Logic {
				Class "IF_ELSE"
				Method {
					Class "JXJCheckItemsDeadFromTab" //严白虎死亡
					Param "2"
				}
				Logic {
					Class "IF_ELSE"
					Method {
						Class "JXJRoomTriggerCount" //判断触发次数
						Param "1"
					}
					Logic {
						Class "ProxyArray"
						Method {
							Class "ScenarioEvent"  //触发客户端事件
							Param "9"
						}
					}
				}
				Logic {
					Class "IF_ELSE"
					Method {
						Class "JXJRoomTriggerCount" //判断触发次数
						Param "1"
					}
					Logic {
						Class "ProxyArray"
						Method {
							Class "ScenarioEvent"  //触发客户端事件
							Param "10"
						}
					}
				}
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+332"//WCH_RecvScenarioEvent
		MsgParam "6"//scenarioevent标识
		Driver {
			Class "MoreSlot"
			Method {//严白虎对话
				Class "JXJScenarioTalk"
				Param "114008"//talkid  对应的表“scenariotalk.tab”
				Param "0"//endmsg
				Param "UI_CopyBattle_Juqing"//窗口名
				Param "Juqing_Input"//超文本输入框名
				Param "Juqing_Touxiang"//图片控件名
				Param "Juqing_Name"//人物名称控件名
				Param "2"//N秒后关闭该窗口（填0表示不自动关闭）
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+332"//WCH_RecvScenarioEvent
		MsgParam "7"//scenarioevent标识
		Driver {
			Class "MoreSlot"
			Method {//玩家严白虎对话
				Class "JXJScenarioTalk"
				Param "114009"//talkid  对应的表“scenariotalk.tab”
				Param "3"//endmsg
				Param "UI_CopyBattle_Juqing"//窗口名
				Param "Juqing_Input"//超文本输入框名
				Param "Juqing_Touxiang"//图片控件名
				Param "Juqing_Name"//人物名称控件名
				Param "2"//N秒后关闭该窗口（填0表示不自动关闭）
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+20820"//WCH_JXJEndTalk
		MsgParam "3"//endmsg
		Driver {
			Class "MoreSlot"
			Method {
				Class "TriggerSetRoomProgress"  //客户端跳转到进度**
				Param "5"
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+332"//WCH_RecvScenarioEvent
		MsgParam "8"//scenarioevent标识
		Driver {
			Class "MoreSlot"
			Method {//玩家对话
				Class "JXJScenarioTalk"
				Param "114010"//talkid  对应的表“scenariotalk.tab”
				Param "4"//endmsg
				Param "UI_CopyBattle_Juqing"//窗口名
				Param "Juqing_Input"//超文本输入框名
				Param "Juqing_Touxiang"//图片控件名
				Param "Juqing_Name"//人物名称控件名
				Param "2"//N秒后关闭该窗口（填0表示不自动关闭）
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+20820"//WCH_JXJEndTalk
		MsgParam "4"//endmsg
		Driver {
			Class "MoreSlot"
			Method {//提示
				Class "JXJScenarioTalk"
				Param "114011"//talkid  对应的表“scenariotalk.tab”
				Param "0"//endmsg
				Param "UI_CopyBattle_JuqingShow"//窗口名
				Param "JuqingShow_Input"//超文本输入框名
				Param ""//图片控件名
				Param ""//人物名称控件名
				Param "6"//N秒后关闭该窗口（填0表示不自动关闭）
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+332"//WCH_RecvScenarioEvent
		MsgParam "9"//scenarioevent标识
		Driver {
			Class "MoreSlot"
			Method {//玩家对话
				Class "JXJScenarioTalk"
				Param "114012"//talkid  对应的表“scenariotalk.tab”
				Param "5"//endmsg
				Param "UI_CopyBattle_Juqing"//窗口名
				Param "Juqing_Input"//超文本输入框名
				Param "Juqing_Touxiang"//图片控件名
				Param "Juqing_Name"//人物名称控件名
				Param "2"//N秒后关闭该窗口（填0表示不自动关闭）
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+20820"//WCH_JXJEndTalk
		MsgParam "5"//endmsg
		Driver {
			Class "MoreSlot"
			Method {
				Class "TriggerSetRoomProgress"  //客户端跳转到进度**
				Param "5"
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+332"//WCH_RecvScenarioEvent
		MsgParam "10"//scenarioevent标识
		Driver {
			Class "MoreSlot"
			Method {//玩家对话
				Class "JXJScenarioTalk"
				Param "114013"//talkid  对应的表“scenariotalk.tab”
				Param "6"//endmsg
				Param "UI_CopyBattle_Juqing"//窗口名
				Param "Juqing_Input"//超文本输入框名
				Param "Juqing_Touxiang"//图片控件名
				Param "Juqing_Name"//人物名称控件名
				Param "2"//N秒后关闭该窗口（填0表示不自动关闭）
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+20820"//WCH_JXJEndTalk
		MsgParam "6"//endmsg
		Driver {
			Class "MoreSlot"
			Method {//提示
				Class "JXJScenarioTalk"
				Param "114014"//talkid  对应的表“scenariotalk.tab”
				Param "7"//endmsg
				Param "UI_CopyBattle_JuqingShow"//窗口名
				Param "JuqingShow_Input"//超文本输入框名
				Param ""//图片控件名
				Param ""//人物名称控件名
				Param "6"//N秒后关闭该窗口（填0表示不自动关闭）
			}
		}
    }
///////////////////////星级显示/////////////////////////////////////////////////////////////////////////////////////////////////////////////
	Handle {
		MsgParam "WCH_USER+20593"//WCH_JXJRecvFubenKillInfo
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJRecvFubenKillInfo"
				Param "UI_CopyBattle_XingJi"
			}
		}
    }
	Handle {
		MsgParam "WCH_GameStart"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJBattleStarCanvasInit"
				Param "UI_CopyBattle_XingJi"
				Param "9008|0"
				Param "9131|0"
				Param "9132|0"
			}
		}
	}
}
