# Creature3D Script Parser v1.0

Data {
    Class "JXJBattleRoom"
	IncludeData "JXJ/script/scenario/fuben.cfg"
	Param "20228,Tiyanguozhan_npc.crb"
	Param "20232,3"
    Handle {
		MsgParam "WCH_USER+258"//WCH_RoomUpdate2
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Logic {
				Class "IF_ELSE"
				Method {
					Class "IsRoomPlayerEmpty"
				}
				Method {
					Class "SetRemainTime"
					Param "0"
				}
				Logic {
					Class "Switch"
					Method {
						Class "GetRoomProgress"
					}
					Logic {//case 0没有事件
						Class "Proxy"
						Method {
							Class "Null"
						}
					}
					Logic {//case 1初始对话
						Class "ProxyArray"
						Method {//加载NPC
							Class "JXJReliveItemsFromTab"
							Param "0"
						}
						Method {
							Class "ScenarioEvent"    //触发客户端事件
							Param "1"
						}
						Method {
							Class "NextRoomProgress"
						}
					}
					Logic {//case 2没有事件
						Class "Proxy"
						Method {
							Class "Null"
						}
					}
					Logic {//case 3战场胜利
						Class "Proxy"
						Method {
							Class "SetRemainTime"
							Param "0"
						}
					}
					Logic {//case 4战场失败
						Class "ProxyArray"
						Method {
							Class "SetRemainTime"
							Param "0"
						}
					}
				}
			}
			Logic {//击败1点NPC
				Class "IF_ELSE"
				Method {
					Class "JXJRoomProgressIsBelowVal"
					Param "2|3|4|5|6|7|8"
				}
				Logic {//击败B点NPC
					Class "IF_ELSE"
					Method {
						Class "JXJCheckItemsDeadFromTab" //判断一批NPC死亡
						Param "1"
					}
					Logic {
						Class "IF_ELSE"
						Method {
							Class "JXJRoomTriggerCount" //判断触发次数
							Param "1"
						}
						Logic {
							Class "ProxyArray"
							Method {
								Class "ScenarioEvent"  //触发客户端事件
								Param "3"
							}
						}
					}
				}
			}
            Logic {//玩家到达2点
				Class "IF_ELSE"
				Method {
					Class "JXJRoomProgressIsBelowVal"
					Param "2|3|4|5|6|7|8"
				}
				Logic {
					Class "IF_ELSE"
					Method {
						Class "JXJPlayerCloseToPoint"  //玩家接近某个点
						Param "1095|495"
						Param "25"
					}
					Logic {
						Class "IF_ELSE"
						Method {
							Class "JXJRoomTriggerCount" //判断触发次数
							Param "1"
						}
						Logic {
							Class "ProxyArray"
							Method {
								Class "JXJRoomCurePlayerMP"		//增加怒气值
								Param "100"
							}
							Method {
								Class "ScenarioEvent"  //触发客户端事件
								Param "4"
							}
						}
					}
				}
			}
			Logic {//击败2点NPC
				Class "IF_ELSE"
				Method {
					Class "JXJRoomProgressIsBelowVal"
					Param "2|3|4|5|6|7|8"
				}
				Logic {//击败B点NPC
					Class "IF_ELSE"
					Method {
						Class "JXJCheckItemsDeadFromTab" //判断一批NPC死亡
						Param "2"
					}
					Logic {
						Class "IF_ELSE"
						Method {
							Class "JXJRoomTriggerCount" //判断触发次数
							Param "1"
						}
						Logic {
							Class "ProxyArray"
							Method {
								Class "ScenarioEvent"  //触发客户端事件
								Param "5"
							}
						}
					}
				}
			}
			Logic {//玩家到达3点
				Class "IF_ELSE"
				Method {
					Class "JXJRoomProgressIsBelowVal"
					Param "2|3|4|5|6|7|8"
				}
				Logic {
					Class "IF_ELSE"
					Method {
						Class "JXJPlayerCloseToPoint"  //玩家接近某个点
						Param "-3200|1317"
						Param "25"
					}
					Logic {
						Class "IF_ELSE"
						Method {
							Class "JXJRoomTriggerCount" //判断触发次数
							Param "1"
						}
						Logic {
							Class "ProxyArray"
							Method {
								Class "ScenarioEvent"  //触发客户端事件
								Param "6"
							}
						}
					}
				}
			}
			Logic {//玩家到达4点
				Class "IF_ELSE"
				Method {
					Class "JXJRoomProgressIsBelowVal"
					Param "2|3|4|5|6|7|8"
				}
				Logic {
					Class "IF_ELSE"
					Method {
						Class "JXJPlayerCloseToPoint"  //玩家接近某个点
						Param "-5234|-1075"
						Param "25"
					}
					Logic {
						Class "IF_ELSE"
						Method {
							Class "JXJRoomTriggerCount" //判断触发次数
							Param "1"
						}
						Logic {
							Class "ProxyArray"
							Method {
								Class "JXJRoomCurePlayerMP"		//增加怒气值
								Param "100"
							}
							Method {
								Class "ScenarioEvent"  //触发客户端事件
								Param "10"
							}
						}
					}
				}
			}
			Logic {//击败1点NPC
				Class "IF_ELSE"
				Method {
					Class "JXJRoomProgressIsBelowVal"
					Param "2|3|4|5|6|7|8"
				}
				Logic {//击败B点NPC
					Class "IF_ELSE"
					Method {
						Class "JXJCheckItemsDeadFromTab" //判断一批NPC死亡
						Param "4"
					}
					Logic {
						Class "IF_ELSE"
						Method {
							Class "JXJRoomTriggerCount" //判断触发次数
							Param "20"
						}
						Logic {
							Class "ProxyArray"
							Method {					
								Class "JXJReliveItemsFromTab"
								Param "4"
							}
						}
					}
				}
			}
			Logic {//政厅HP90%
				Class "IF_ELSE"
				Method {
					Class "JXJRoomProgressIsBelowVal"
					Param "2|3|4|5|6|7|8"
				}
				Logic {
					Class "IF_ELSE"
					Method {
						Class "JXJRoomCheckHpPercentDown"  //当NPC的HP达到百分比多少以下
						Param "20032"
						Param "0.90"
					}
					Logic {
						Class "IF_ELSE"
						Method {
							Class "JXJRoomTriggerCount" //判断触发次数
							Param "1"
						}
						Logic {
							Class "ProxyArray"
							Method {//刷新攻城器械
								Class "JXJReliveItemsFromTab"
								Param "3"
							}
							Method {
								Class "ScenarioEvent"  //触发客户端事件
								Param "8"
							}
						}
					}
				}
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+234"//WCH_RoomEnd
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJFubenSettle"
				Param "3"//战场胜利进度
			}
			Method {
				Class "SetRoomAutoStart"
				Param "0"//autostart
				Param "0"//autoStartTime
				Param "-1"//removetime
			}
		}
    }
///////////////////////////////开场事件/////////////////////////////////////////////////////////////////////////
	Handle {//
		MsgParam "WCH_USER+332"//WCH_RecvScenarioEvent
		MsgParam "1"//scenarioevent标识
		Driver {
			Class "MoreSlot"
			Method {//开场
				Class "JXJScenarioTalk"
				Param "7000"//talkid  对应的表“scenariotalk.tab”
				Param "1"//endmsg
				Param "UI_CopyBattle_Juqing"//窗口名
				Param "Juqing_Input"//超文本输入框名
				Param "Juqing_Touxiang"//图片控件名
				Param "Juqing_Name"//人物名称控件名
				Param "2"//N秒后关闭该窗口（填0表示不自动关闭）
			}
			Method {//小地图显示目标地点
				Class "JXJPlayMiniMapSignal"
				Param "UI_CopyBattle_MinMap"
				Param "UI_CopyBattle_Minimap"
				Param "UI_Fuben_Gantanhao"//目标地址  
				Param "RotMap"
				Param "4745|283|1095|495|-3200|1317|-5234|-1075|-9709|-981"
				Param "3600"
				Param "Road"	//name
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+20820"//WCH_JXJEndTalk
		MsgParam "1"//endmsg
		Driver {
			Class "MoreSlot"
			Method {//提示
				Class "JXJScenarioTalk"
				Param "7008"//talkid  对应的表“scenariotalk.tab”
				Param "0"//endmsg
				Param "UI_CopyBattle_JuqingShow"//窗口名
				Param "JuqingShow_Input"//超文本输入框名
				Param ""//图片控件名
				Param ""//人物名称控件名
				Param "6"//N秒后关闭该窗口（填0表示不自动关闭）
			}
			Method {//1闪烁
				Class "JXJPlayMiniMapSignal"
				Param "UI_CopyBattle_MinMap"
				Param "UI_CopyBattle_Minimap"
				Param "UI_CopyBattle_Juqing_Di"//敌方
				Param "RotMap"
				Param "4745|283"
				Param "6"
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+332"//WCH_RecvScenarioEvent
		MsgParam "3"//scenarioevent标识
		Driver {
			Class "MoreSlot"
			Method {//指导官对话
				Class "JXJScenarioTalk"
				Param "7001"//talkid  对应的表“scenariotalk.tab”
				Param "2"//endmsg
				Param "UI_CopyBattle_Juqing"//窗口名
				Param "Juqing_Input"//超文本输入框名
				Param "Juqing_Touxiang"//图片控件名
				Param "Juqing_Name"//人物名称控件名
				Param "2"//N秒后关闭该窗口（填0表示不自动关闭）
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+20820"//WCH_JXJEndTalk
		MsgParam "2"//endmsg
		Driver {
			Class "MoreSlot"
			Method {//2闪烁
				Class "JXJPlayMiniMapSignal"
				Param "UI_CopyBattle_MinMap"
				Param "UI_CopyBattle_Minimap"
				Param "UI_CopyBattle_Juqing_Di"//敌方
				Param "RotMap"
				Param "1095|495"
				Param "6"
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+332"//WCH_RecvScenarioEvent
		MsgParam "4"//scenarioevent标识
		Driver {
			Class "MoreSlot"
			Method {//指导官对话
				Class "JXJScenarioTalk"
				Param "7004"//talkid  对应的表“scenariotalk.tab”
				Param "0"//endmsg
				Param "UI_CopyBattle_Juqing"//窗口名
				Param "Juqing_Input"//超文本输入框名
				Param "Juqing_Touxiang"//图片控件名
				Param "Juqing_Name"//人物名称控件名
				Param "2"//N秒后关闭该窗口（填0表示不自动关闭）
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+332"//WCH_RecvScenarioEvent
		MsgParam "5"//scenarioevent标识
		Driver {
			Class "MoreSlot"
			Method {//指导员对话
				Class "JXJScenarioTalk"
				Param "7009"//talkid  对应的表“scenariotalk.tab”
				Param "3"//endmsg
				Param "UI_CopyBattle_Juqing"//窗口名
				Param "Juqing_Input"//超文本输入框名
				Param "Juqing_Touxiang"//图片控件名
				Param "Juqing_Name"//人物名称控件名
				Param "2"//N秒后关闭该窗口（填0表示不自动关闭）
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+20820"//WCH_JXJEndTalk
		MsgParam "3"//endmsg
		Driver {
			Class "MoreSlot"
			Method {//3点闪烁
				Class "JXJPlayMiniMapSignal"
				Param "UI_CopyBattle_MinMap"
				Param "UI_CopyBattle_Minimap"
				Param "UI_CopyBattle_Juqing_Di"//敌方
				Param "RotMap"
				Param "-3200|1317"
				Param "6"
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+332"//WCH_RecvScenarioEvent
		MsgParam "6"//scenarioevent标识
		Driver {
			Class "MoreSlot"
			Method {//指导官对话
				Class "JXJScenarioTalk"
				Param "7002"//talkid  对应的表“scenariotalk.tab”
				Param "0"//endmsg
				Param "UI_CopyBattle_Juqing"//窗口名
				Param "Juqing_Input"//超文本输入框名
				Param "Juqing_Touxiang"//图片控件名
				Param "Juqing_Name"//人物名称控件名
				Param "2"//N秒后关闭该窗口（填0表示不自动关闭）
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+329"//WCH_RoomItemDead
		MsgParam "20023"
		Driver {
			Class "MoreSlot"
			Logic {
				Class "IF_ELSE"
				Method {
					Class "JXJRoomTriggerCount" //判断触发次数
					Param "1"
				}
				Logic {
					Class "ProxyArray"
					Method {
						Class "ScenarioEvent"  //触发客户端事件
						Param "7"
					}
				}
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+332"//WCH_RecvScenarioEvent
		MsgParam "7"//scenarioevent标识
		Driver {
			Class "MoreSlot"
			Method {//指导官对话
				Class "JXJScenarioTalk"
				Param "7006"//talkid  对应的表“scenariotalk.tab”
				Param "4"//endmsg
				Param "UI_CopyBattle_Juqing"//窗口名
				Param "Juqing_Input"//超文本输入框名
				Param "Juqing_Touxiang"//图片控件名
				Param "Juqing_Name"//人物名称控件名
				Param "2"//N秒后关闭该窗口（填0表示不自动关闭）
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+20820"//WCH_JXJEndTalk
		MsgParam "4"//endmsg
		Driver {
			Class "MoreSlot"
			Method {//4点闪烁
				Class "JXJPlayMiniMapSignal"
				Param "UI_CopyBattle_MinMap"
				Param "UI_CopyBattle_Minimap"
				Param "UI_CopyBattle_Juqing_Di"//敌方
				Param "RotMap"
				Param "-9709|-981"
				Param "6"
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+332"//WCH_RecvScenarioEvent
		MsgParam "10"//scenarioevent标识
		Driver {
			Class "MoreSlot"
			Method {//BOSS对话
				Class "JXJScenarioTalk"
				Param "7010"//talkid  对应的表“scenariotalk.tab”
				Param "0"//endmsg
				Param "UI_CopyBattle_Juqing"//窗口名
				Param "Juqing_Input"//超文本输入框名
				Param "Juqing_Touxiang"//图片控件名
				Param "Juqing_Name"//人物名称控件名
				Param "2"//N秒后关闭该窗口（填0表示不自动关闭）
			}
		}
    }
    Handle {
		MsgParam "WCH_USER+329"//WCH_RoomItemDead
		MsgParam "20033"
		Driver {
			Class "MoreSlot"
			Logic {
				Class "IF_ELSE"
				Method {
					Class "JXJRoomTriggerCount" //判断触发次数
					Param "1"
				}
				Logic {
					Class "ProxyArray"
					Method {
						Class "ScenarioEvent"  //触发客户端事件
						Param "11"
					}
				}
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+332"//WCH_RecvScenarioEvent
		MsgParam "11"//scenarioevent标识
		Driver {
			Class "MoreSlot"
			Method {//BOSS对话
				Class "JXJScenarioTalk"
				Param "7011"//talkid  对应的表“scenariotalk.tab”
				Param "6"//endmsg
				Param "UI_CopyBattle_Juqing"//窗口名
				Param "Juqing_Input"//超文本输入框名
				Param "Juqing_Touxiang"//图片控件名
				Param "Juqing_Name"//人物名称控件名
				Param "2"//N秒后关闭该窗口（填0表示不自动关闭）
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+20820"//WCH_JXJEndTalk
		MsgParam "6"//endmsg
		Driver {
			Class "MoreSlot"
			Method {//4点闪烁
				Class "JXJPlayMiniMapSignal"
				Param "UI_CopyBattle_MinMap"
				Param "UI_CopyBattle_Minimap"
				Param "UI_CopyBattle_Juqing_Di"//敌方
				Param "RotMap"
				Param "-9709|-981"
				Param "6"
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+332"//WCH_RecvScenarioEvent
		MsgParam "8"//scenarioevent标识
		Driver {
			Class "MoreSlot"
			Method {//指导官对话
				Class "JXJScenarioTalk"
				Param "7003"//talkid  对应的表“scenariotalk.tab”
				Param "0"//endmsg
				Param "UI_CopyBattle_Juqing"//窗口名
				Param "Juqing_Input"//超文本输入框名
				Param "Juqing_Touxiang"//图片控件名
				Param "Juqing_Name"//人物名称控件名
				Param "2"//N秒后关闭该窗口（填0表示不自动关闭）
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+329"//WCH_RoomItemDead
		MsgParam "20032"
		Driver {
			Class "MoreSlot"
			Logic {
				Class "IF_ELSE"
				Method {
					Class "JXJRoomTriggerCount" //判断触发次数
					Param "1"
				}
				Logic {
					Class "ProxyArray"
					Method {
						Class "ScenarioEvent"  //触发客户端事件
						Param "9"
					}
				}
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+332"//WCH_RecvScenarioEvent
		MsgParam "9"//scenarioevent标识
		Driver {
			Class "MoreSlot"
			Method {//指导官对话
				Class "JXJScenarioTalk"
				Param "7007"//talkid  对应的表“scenariotalk.tab”
				Param "5"//endmsg
				Param "UI_CopyBattle_Juqing"//窗口名
				Param "Juqing_Input"//超文本输入框名
				Param "Juqing_Touxiang"//图片控件名
				Param "Juqing_Name"//人物名称控件名
				Param "2"//N秒后关闭该窗口（填0表示不自动关闭）
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+20820"//WCH_JXJEndTalk
		MsgParam "5"//endmsg
		Driver {
			Class "MoreSlot"
			Method {
				Class "TriggerSetRoomProgress"  //客户端跳转到进度**
				Param "3"
			}
		}
    }
}
