# Creature3D Script Parser v1.0

Data {
    Class "JXJBattleRoom"
	IncludeData "JXJ/script/scenario/room.cfg"
	Param "20593,3"
	Handle {
		MsgParam "WCH_USER+240"//WCH_RoomCreate
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "SetRoomAutoStart"
				Param "1"//autostart
				Param "0"//autoStartTime
				Param "0"//removetime
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+233"//WCH_RoomUpdate
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "RoomUpdate2"
			}
			Method {
				Class "JXJScenarioTimer"
			}
			Method {
				Class "RunFrequencyControl"
				Param "10.0"
			}
			Method {
				Class "JXJWorldFubenSynchronouscoord"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+319"//WCH_GainBirthPoint
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "GainBirthPoint"
			}
		}
    }
	Handle {//服务器
		MsgParam "WCH_USER+346"//WCH_AddPlayer
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			xMethod {
				Class "JXJAddSightRange"
				Param "10"
			}
			Method {
				Class "JXJInitWorldFuBenRankData"
			}
			Method {
				Class "JXJAcceptZhengZhaoEnterBattle"
			}
		}
    }
	Handle {//客户端
		MsgParam "WCH_GameStart"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			xMethod {
				Class "JXJClientAddSightRange"
				Param "10"
			}
		}
    }
}
