# Creature3D Script Parser v1.0

Data {
    Class "JXJBattleRoom"
	IncludeData "JXJ/script/scenario/battle.cfg"
	Param "20228,xicheng_npc.crb"
    Handle {
		MsgParam "WCH_USER+258"//WCH_RoomUpdate2
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Logic {
				Class "IF_ELSE"
				Method {
					Class "JXJBattleRoomAheadClose"
				}
				Method {
					Class "SetRemainTime"
					Param "0"
				}
				Logic {
					Class "Switch"
					Method {
						Class "GetRoomProgress"
					}
					Logic {//case 0
						Class "Proxy"
						Logic {
							Class "IF_ELSE"
							Method {
								Class "JXJIsNpcChengchi"
							}
							Logic {
								Class "ProxyArray"
								Method {
									Class "JXJReliveItemsFromTab"
									Param "0"
								}
								Method {
									Class "NextRoomProgress"
								}
							}
							Logic {
								Class "ProxyArray"
								Method {
									Class "JXJReliveItemsFromTab"
									Param "1"
								}
								Method {
									Class "NextRoomProgress"
								}
							}
						}
					}
					Logic {//case 1
						Class "IF_ELSE"
						Method {
							Class "JXJCheckItemsDeadFromTab"
							Param "2"
						}
						Method {
							Class "NextRoomProgress"
						}
					}
					Logic {//case 2
						Class "Proxy"
						Method {
							Class "SetRemainTime"
							Param "0"
						}
					}
				}
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+234"//WCH_RoomEnd
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJBattleSettle"
				Param "2"
			}
			Method {
				Class "SetRoomAutoStart"
				Param "0"//autostart
				Param "0"//autoStartTime
				Param "-1"//removetime
			}
		}
    }
}
