# Creature3D Script Parser v1.0

Data {
    Class "JXJBattleRoom"
	IncludeData "JXJ/script/scenario/fuben.cfg"
	Param "20228,Xumu2_npc.crb"
	Param "20232,3"
	Handle {
		MsgParam "WCH_GameStart"//client
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {//玩家对话
				Class "JXJScenarioTalk"
				Param "26"//talkid  对应的表“scenariotalk.tab”
				Param "1"//endmsg
				Param "UI_CopyBattle_Juqing"//窗口名
				Param "Juqing_Input"//超文本输入框名
				Param "Juqing_Touxiang"//图片控件名
				Param "Juqing_Name"//人物名称控件名
				Param "3"//N秒后关闭该窗口（填0表示不自动关闭）
			}
			Method {//小地图显示目标地点
				Class "JXJPlayMiniMapSignal"
				Param "UI_CopyBattle_MinMap"
				Param "UI_CopyBattle_Minimap"
				Param "UI_Fuben_Gantanhao"//目标地址  
				Param "RotMap"
				Param "-8525|-932|-3142|-821|3696|695"
				Param "3600"
				Param "Road"	//name
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+20820"//WCH_JXJEndTalk
		MsgParam "1"//endmsg
		Driver {
			Class "MoreSlot"
			Method {//C点闪烁
				Class "JXJPlayMiniMapSignal"
				Param "UI_CopyBattle_MinMap"
				Param "UI_CopyBattle_Minimap"
				Param "UI_CopyBattle_Juqing_Di"//敌方
				Param "RotMap"
				Param "-8525|-932|-3142|-821"
				Param "6"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_Youjian"
				Param "1"
			}
		}
	}
    Handle {
		MsgParam "WCH_USER+258"//WCH_RoomUpdate2
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Logic {
				Class "IF_ELSE"
				Method {
					Class "IsRoomPlayerEmpty"
				}
				Method {
					Class "SetRemainTime"
					Param "0"
				}
				Logic {
					Class "Switch"
					Method {
						Class "GetRoomProgress"
					}
					Logic {//case 0没有事件
						Class "ProxyArray"
						Method {
							Class "JXJReliveItemsFromTab"
							Param "0"
						}
						Method {
							Class "NextRoomProgress"
						}
					}
					Logic {//case 1没有事件
						Class "Proxy"
						Method {
							Class "Null"
						}
					}
					Logic {//case 2战场胜利
						Class "Proxy"
						Method {
							Class "SetRemainTime"
							Param "0"
						}
					}
					Logic {//case 3战场失败
						Class "ProxyArray"
						Method {
							Class "SetRemainTime"
							Param "0"
						}
					}
					Logic {//case 4 星级评定
						Class "ProxyArray"
						Logic {//判断通关时间
							Class "IF_ELSE"
							Method {
								Class "JXJRoomElapseTimeIsGreater"
								Param "600"//时间超过600秒
							}
							Logic {
								Class "ProxyArray"
								Method {
									Class "Null"
								}
							}
							Logic {
								Class "ProxyArray"
								Method {
									Class "JXJAddStarToPlayer"
									Param "1"//给的星星数
									Param "1|0|0"//客户端点亮星星用如没有需要点亮的可不写此列
								}
							}
						}
						Logic {//判断水井是否使用
							Class "IF_ELSE"
							Method {
								Class "JXJCheckItemsLivedFromTab"
								Param "9"//table id
								Param "1"//运算选择
							}
							Logic {
								Class "ProxyArray"
								Method {
									Class "JXJAddStarToPlayer"
									Param "1"//给的星星数
									Param "0|1|0"//客户端点亮星星用如没有需要点亮的可不写此列
								}
							}
						}
						Method {
							Class "RoomSetRoomProgress"  //服务器跳转到进度**
							Param "3"
						}
					}
				}
			}
			Logic {//玩家到达C点
				Class "IF_ELSE"
				Method {
					Class "JXJRoomProgressIsBelowVal"
					Param "1|2|3|4|5|6|7|8"
				}
				Logic {
					Class "IF_ELSE"
					Method {
						Class "JXJPlayerCloseToPoint"  //玩家接近某个点
						Param "-8525|-932"
						Param "15"
					}
					Logic {
						Class "IF_ELSE"
						Method {
							Class "JXJRoomTriggerCount" //判断触发次数
							Param "1"
						}
						Logic {
							Class "ProxyArray"
							Method {
								Class "ScenarioEvent"  //触发客户端事件
								Param "2"
							}
						}
					}
				}
			}
			xLogic {//击败C点NPC
				Class "IF_ELSE"
				Method {
					Class "JXJRoomProgressIsBelowVal"
					Param "1|2|3|4|5|6|7|8"
				}
				Logic {
					Class "IF_ELSE"
					Method {
						Class "JXJCheckItemsDeadFromTab" //判断一批NPC死亡
						Param "99"
					}
					Logic {
						Class "IF_ELSE"
						Method {
							Class "JXJRoomTriggerCount" //判断触发次数
							Param "1"
						}
						Logic {
							Class "ProxyArray"						
							Method {
								Class "ScenarioEvent"  //触发客户端事件
								Param "3"
							}
						}
					}
				}
			}
			Logic {//玩家到达D点
				Class "IF_ELSE"
				Method {
					Class "JXJRoomProgressIsBelowVal"
					Param "1|2|3|4|5|6|7|8"
				}
				Logic {
					Class "IF_ELSE"
					Method {
						Class "JXJPlayerCloseToPoint"  //玩家接近某个点
						Param "-4197|-1182"
						Param "15"
					}
					Logic {
						Class "IF_ELSE"
						Method {
							Class "JXJRoomTriggerCount" //判断触发次数
							Param "1"
						}
						Logic {
							Class "ProxyArray"
							Method {
								Class "ScenarioEvent"  //触发客户端事件
								Param "4"
							}							
						}
					}
				}
			}
			Logic {//击败D点NPC
				Class "IF_ELSE"
				Method {
					Class "JXJRoomProgressIsBelowVal"
					Param "1|2|3|4|5|6|7|8"
				}
				Logic {
					Class "IF_ELSE"
					Method {
						Class "JXJCheckItemsDeadFromTab" //判断一批NPC死亡
						Param "98"
					}
					Logic {
						Class "IF_ELSE"
						Method {
							Class "JXJRoomTriggerCount" //判断触发次数
							Param "1"
						}
						Logic {
							Class "ProxyArray"
							Method {//刷新友方BOSS						
								Class "JXJReliveItemsFromTab"
								Param "10"
							}
							Method {//移除4号拒马
								Class "JXJRemoveItemsFormScene"  //移除NPC
								Param "97"
							}
							Method {
								Class "ScenarioEvent"  //触发客户端事件
								Param "5"
							}
						}
					}
				}
			}
			Logic {//玩家到达G点
				Class "IF_ELSE"
				Method {
					Class "JXJRoomProgressIsBelowVal"
					Param "1|2|3|4|5|6|7|8"
				}
				Logic {
					Class "IF_ELSE"
					Method {
						Class "JXJPlayerCloseToPoint"  //玩家接近某个点
						Param "3696|695"
						Param "15"
					}
					Logic {
						Class "IF_ELSE"
						Method {
							Class "JXJRoomTriggerCount" //判断触发次数
							Param "1"
						}
						Logic {
							Class "ProxyArray"
							Method {
								Class "ScenarioEvent"  //触发客户端事件
								Param "6"
							}
						}
					}
				}
			}
			Logic {//华雄血量低于70%
				Class "IF_ELSE"
				Method {
					Class "JXJRoomProgressIsBelowVal"
					Param "1|2|3|4|5|6|7|8"
				}
				Logic {
					Class "IF_ELSE"
					Method {
						Class "JXJRoomCheckHpPercentDown"  //当NPC的HP达到百分比多少以下
						Param "11614"
						Param "0.70"
					}
					Logic {
						Class "IF_ELSE"
						Method {
							Class "JXJRoomTriggerCount" //判断触发次数
							Param "1"
						}
						Logic {
							Class "ProxyArray"
							Method {//刷新敌方弓兵
								Class "JXJReliveItemsFromTab"
								Param "12"
							}
							Method {
								Class "ScenarioEvent"  //触发客户端事件
								Param "11"
							}
						}
					}
				}
			}
			Logic {//城门血量低于99%
				Class "IF_ELSE"
				Method {
					Class "JXJRoomProgressIsBelowVal"
					Param "1|2|3|4|5|6|7|8"
				}
				Logic {
					Class "IF_ELSE"
					Method {
						Class "JXJRoomCheckHpPercentDown"  //当NPC的HP达到百分比多少以下
						Param "11624"
						Param "0.99"
					}
					Logic {
						Class "IF_ELSE"
						Method {
							Class "JXJRoomTriggerCount" //判断触发次数
							Param "1"
						}
						Logic {
							Class "ProxyArray"
							Method {//刷新F点友方NPC						
								Class "JXJReliveItemsFromTab"
								Param "13"
							}
							Method {
								Class "ScenarioEvent"  //触发客户端事件
								Param "98"
							}
						}
					}
				}
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+234"//WCH_RoomEnd
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJFubenSettle"
				Param "2"//战场胜利进度
			}
			Method {
				Class "SetRoomAutoStart"
				Param "0"//autostart
				Param "0"//autoStartTime
				Param "-1"//removetime
			}
		}
    }
///////////////////////////////开场事件/////////////////////////////////////////////////////////////////////////
	Handle {
		MsgParam "WCH_USER+346"//WCH_AddPlayer
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJAddPlayerCureMP"		//增加怒气值
				Param "100"
			}
		}
    }
	xHandle {
		MsgParam "WCH_USER+332"//WCH_RecvScenarioEvent
		MsgParam "1"//scenarioevent标识
		Driver {
			Class "MoreSlot"
			Method {//玩家对话
				Class "JXJScenarioTalk"
				Param "26"//talkid  对应的表“scenariotalk.tab”
				Param "1"//endmsg
				Param "UI_CopyBattle_Juqing"//窗口名
				Param "Juqing_Input"//超文本输入框名
				Param "Juqing_Touxiang"//图片控件名
				Param "Juqing_Name"//人物名称控件名
				Param "3"//N秒后关闭该窗口（填0表示不自动关闭）
			}
			Method {//小地图显示目标地点
				Class "JXJPlayMiniMapSignal"
				Param "UI_CopyBattle_MinMap"
				Param "UI_CopyBattle_Minimap"
				Param "UI_Fuben_Gantanhao"//目标地址  
				Param "RotMap"
				Param "-8525|-932|-3142|-821|3696|695"
				Param "3600"
				Param "Road"	//name
			}
		}
    }
	xHandle {
		MsgParam "WCH_USER+20820"//WCH_JXJEndTalk
		MsgParam "1"//endmsg
		Driver {
			Class "MoreSlot"
			Method {//C点闪烁
				Class "JXJPlayMiniMapSignal"
				Param "UI_CopyBattle_MinMap"
				Param "UI_CopyBattle_Minimap"
				Param "UI_CopyBattle_Juqing_Di"//敌方
				Param "RotMap"
				Param "-8525|-932|-3142|-821"
				Param "6"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_Youjian"
				Param "1"
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+332"//WCH_RecvScenarioEvent
		MsgParam "2"//scenarioevent标识
		Driver {
			Class "MoreSlot"
			Method {//斥候对话
				Class "JXJScenarioTalk"
				Param "28"//talkid  对应的表“scenariotalk.tab”
				Param "0"//endmsg
				Param "UI_CopyBattle_Juqing"//窗口名
				Param "Juqing_Input"//超文本输入框名
				Param "Juqing_Touxiang"//图片控件名
				Param "Juqing_Name"//人物名称控件名
				Param "2"//N秒后关闭该窗口（填0表示不自动关闭）
			}
			Method {
				Class "ShowCanvas"
				Param "UI_AJian"
				Param "1"
			}
		}
    }
	xHandle {
		MsgParam "WCH_USER+332"//WCH_RecvScenarioEvent
		MsgParam "3"//scenarioevent标识
		Driver {
			Class "MoreSlot"
			Method {//斥候对话
				Class "JXJScenarioTalk"
				Param "29"//talkid  对应的表“scenariotalk.tab”
				Param "2"//endmsg
				Param "UI_CopyBattle_Juqing"//窗口名
				Param "Juqing_Input"//超文本输入框名
				Param "Juqing_Touxiang"//图片控件名
				Param "Juqing_Name"//人物名称控件名
				Param "2"//N秒后关闭该窗口（填0表示不自动关闭）
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+20820"//WCH_JXJEndTalk
		MsgParam "2"//endmsg
		Driver {
			Class "MoreSlot"
			Method {//D点闪烁
				Class "JXJPlayMiniMapSignal"
				Param "UI_CopyBattle_MinMap"
				Param "UI_CopyBattle_Minimap"
				Param "UI_CopyBattle_Juqing_Di"//敌方
				Param "RotMap"
				Param "-3142|-821"
				Param "6"
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+332"//WCH_RecvScenarioEvent
		MsgParam "4"//scenarioevent标识
		Driver {
			Class "MoreSlot"
			Method {//斥候对话
				Class "JXJScenarioTalk"
				Param "30"//talkid  对应的表“scenariotalk.tab”
				Param "0"//endmsg
				Param "UI_CopyBattle_Juqing"//窗口名
				Param "Juqing_Input"//超文本输入框名
				Param "Juqing_Touxiang"//图片控件名
				Param "Juqing_Name"//人物名称控件名
				Param "2"//N秒后关闭该窗口（填0表示不自动关闭）
			}
			Method {
				Class "JXJIsPlayerHasCardGuideShow"
				Param "UI_Xinshouyindao27_1"
				Param "UI_Xinshouyindao35"
				Param "UI_Beta3_CopyBattle_JK"
				Param "UI_Beta3_CopyBattle_CardQ"
				Param "UI_Beta3_CopyBattle_CardW"
				Param "UI_Beta3_CopyBattle_CardE"
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+332"//WCH_RecvScenarioEvent
		MsgParam "5"//scenarioevent标识
		Driver {
			Class "MoreSlot"
			Method {//刘备对话
				Class "JXJScenarioTalk"
				Param "31"//talkid  对应的表“scenariotalk.tab”
				Param "3"//endmsg
				Param "UI_CopyBattle_Juqing"//窗口名
				Param "Juqing_Input"//超文本输入框名
				Param "Juqing_Touxiang"//图片控件名
				Param "Juqing_Name"//人物名称控件名
				Param "2"//N秒后关闭该窗口（填0表示不自动关闭）
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+20820"//WCH_JXJEndTalk
		MsgParam "3"//endmsg
		Driver {
			Class "MoreSlot"
			Method {//G点闪烁
				Class "JXJPlayMiniMapSignal"
				Param "UI_CopyBattle_MinMap"
				Param "UI_CopyBattle_Minimap"
				Param "UI_CopyBattle_Juqing_Di"//敌方
				Param "RotMap"
				Param "3696|695"
				Param "6"
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+332"//WCH_RecvScenarioEvent
		MsgParam "11"//scenarioevent标识
		Driver {
			Class "MoreSlot"
			Method {//华雄玩家对话
				Class "JXJScenarioTalk"
				Param "38"//talkid  对应的表“scenariotalk.tab”
				Param "0"//endmsg
				Param "UI_CopyBattle_Juqing"//窗口名
				Param "Juqing_Input"//超文本输入框名
				Param "Juqing_Touxiang"//图片控件名
				Param "Juqing_Name"//人物名称控件名
				Param "2"//N秒后关闭该窗口（填0表示不自动关闭）
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+329"//WCH_RoomItemDead
		MsgParam "11614"
		Driver {
			Class "MoreSlot"
			Logic {
				Class "IF_ELSE"
				Method {
					Class "JXJRoomTriggerCount" //判断触发次数
					Param "1"
				}
				Logic {
					Class "ProxyArray"
					Method {
						Class "ScenarioEvent"  //触发客户端事件
						Param "12"
					}
				}
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+332"//WCH_RecvScenarioEvent
		MsgParam "12"//scenarioevent标识
		Driver {
			Class "MoreSlot"
			Method {//华雄刘备对话
				Class "JXJScenarioTalk"
				Param "39"//talkid  对应的表“scenariotalk.tab”
				Param "5"//endmsg
				Param "UI_CopyBattle_Juqing"//窗口名
				Param "Juqing_Input"//超文本输入框名
				Param "Juqing_Touxiang"//图片控件名
				Param "Juqing_Name"//人物名称控件名
				Param "2"//N秒后关闭该窗口（填0表示不自动关闭）
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+20820"//WCH_JXJEndTalk
		MsgParam "5"//endmsg
		Driver {
			Class "MoreSlot"
			Method {//城门闪烁
				Class "JXJPlayMiniMapSignal"
				Param "UI_CopyBattle_MinMap"
				Param "UI_CopyBattle_Minimap"
				Param "UI_CopyBattle_Juqing_Di"//敌方
				Param "RotMap"
				Param "5770|780"
				Param "6"
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+332"//WCH_RecvScenarioEvent
		MsgParam "98"//scenarioevent标识
		Driver {
			Class "MoreSlot"
			Method {//刘备对话
				Class "JXJScenarioTalk"
				Param "43"//talkid  对应的表“scenariotalk.tab”
				Param "0"//endmsg
				Param "UI_CopyBattle_Juqing"//窗口名
				Param "Juqing_Input"//超文本输入框名
				Param "Juqing_Touxiang"//图片控件名
				Param "Juqing_Name"//人物名称控件名
				Param "2"//N秒后关闭该窗口（填0表示不自动关闭）
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+332"//WCH_RecvScenarioEvent
		MsgParam "6"//scenarioevent标识
		Driver {
			Class "MoreSlot"
			Method {//华雄对话
				Class "JXJScenarioTalk"
				Param "46"//talkid  对应的表“scenariotalk.tab”
				Param "0"//endmsg
				Param "UI_CopyBattle_Juqing"//窗口名
				Param "Juqing_Input"//超文本输入框名
				Param "Juqing_Touxiang"//图片控件名
				Param "Juqing_Name"//人物名称控件名
				Param "2"//N秒后关闭该窗口（填0表示不自动关闭）
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+329"//WCH_RoomItemDead
		MsgParam "11624"
		Driver {
			Class "MoreSlot"
			Logic {
				Class "IF_ELSE"
				Method {
					Class "JXJRoomTriggerCount" //判断触发次数
					Param "1"
				}
				Logic {
					Class "ProxyArray"
					Method {
						Class "ScenarioEvent"  //触发客户端事件
						Param "14"
					}
					Method {
						Class "RoomSetRoomProgress"  //客户端跳转到进度**
						Param "2"
					}
				}
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+332"//WCH_RecvScenarioEvent
		MsgParam "14"//scenarioevent标识
		Driver {
			Class "MoreSlot"
			Method {//玩家斥候对话
				Class "JXJScenarioTalk"
				Param "41"//talkid  对应的表“scenariotalk.tab”
				Param "7"//endmsg
				Param "UI_CopyBattle_Juqing"//窗口名
				Param "Juqing_Input"//超文本输入框名
				Param "Juqing_Touxiang"//图片控件名
				Param "Juqing_Name"//人物名称控件名
				Param "2"//N秒后关闭该窗口（填0表示不自动关闭）
			}
		}
    }
}
