# Creature3D Script Parser v1.0

Data {
    Class "Event"    
	Handle {
		MsgParam "WCH_INVOLUME"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Logic {
				Class "IF_ELSE"
				Method {
					Class "IfInVolumeNodeIsMe"
				}
				Logic {
					Class "ProxyArray"
					Method {
						Class "SetVolumeEnable"
						Param "Xumu2"
						Param "0"
					}
					Method {
						Class "SetVolumeEnable"
						Param "Jiantou02"
						Param "1"
					}
					Method {
						Class "TriggerSetRoomProgress"
						Param "3"
					}
				}
			}
		}
    }
}
