# Creature3D Script Parser v1.0

Data {
    Class "JXJBattleRoom"
	IncludeData "JXJ/script/scenario/battle.cfg"
	Param "20228,yizhou_npc.crb"
    Handle {
		MsgParam "WCH_USER+258"//WCH_RoomUpdate2
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Logic {
				Class "IF_ELSE"
				Method {
					Class "JXJBattleRoomAheadClose"
				}
				Method {
					Class "SetRemainTime"
					Param "0"
				}
				Logic {
					Class "Switch"
					Method {
						Class "GetRoomProgress"
					}
					Logic {//case 0
						Class "Proxy"
						Logic {
							Class "IF_ELSE"
							Method {
								Class "JXJIsNpcChengchi"
							}
							Logic {
								Class "ProxyArray"
								Method {
									Class "JXJReliveItemsFromTab"
									Param "0"
								}
								Method {
								Class "JXJServerAddScenarioTimer"	//服务器计时
								Param "1"//m_msg标识
								Param "60"//时间
								Param "3"
								Param "60"
								}
								Method {
									Class "NextRoomProgress"
								}
							}
							Logic {
								Class "ProxyArray"
								Method {
									Class "JXJReliveItemsFromTab"
									Param "1"
								}
								Method {
									Class "NextRoomProgress"
								}
							}
						}
					}
					Logic {//case 1
						Class "IF_ELSE"
						Method {
							Class "JXJCheckItemsDeadFromTab"
							Param "2"
						}
						Method {
							Class "NextRoomProgress"
						}
					}
					Logic {//case 2
						Class "Proxy"
						Method {
							Class "SetRemainTime"
							Param "0"
						}
					}
				}
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+20141"//WCH_JXJScenarioTimerEvent
		MsgParam "1"//m_msg标识
		Driver {
			Class "MoreSlot"			
			Logic {
				Class "IF_ELSE"
				Method {
					Class "JXJScenarioPlayerCountCheck"
					Param "5"//1等于,2大于,3大于等于,4小于,5小于等于
					Param "5"//数量
				}
				Logic {
					Class "IF_ELSE"
					Method {//判断NPC死亡
						Class "JXJCheckItemsDeadFromTab"
						Param "3"//m_msg标识
					}
					Method {//刷新第一波第三批
						Class "JXJReliveItemsFromTab"
						Param "3"
					}
				}
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+234"//WCH_RoomEnd
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJBattleSettle"
				Param "2"
			}
			Method {
				Class "SetRoomAutoStart"
				Param "0"//autostart
				Param "0"//autoStartTime
				Param "-1"//removetime
			}
		}
    }
}
