# Creature3D Script Parser v1.0

Data {
    Class "JXJBattleRoom"
	IncludeData "JXJ/script/scenario/battle.cfg"
    Handle {
		MsgParam "WCH_USER+258"//WCH_RoomUpdate2
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Logic {
				Class "IF_ELSE"
				Method {
					Class "JXJBattleRoomAheadClose"
				}
				Method {
					Class "SetRemainTime"
					Param "0"
				}
				Logic {
					Class "Switch"
					Method {
						Class "GetRoomProgress"
					}
					Logic {//case 0
						Class "ProxyArray"
						Method {
							Class "JXJReliveItems"
							Param "20001,1"
							Param "20002,1"
							Param "20003,1"
							Param "20004,1"
							Param "20005,1"
							Param "20006,1"
							Param "20007,300"
						}
						Method {
							Class "JXJBattleDefenceSight"
							Param "20001"
							Param "20002"
							Param "20003"
							Param "20004"
							Param "20005"
							Param "20006"
							Param "20007"
						}
						Method {
							Class "NextRoomProgress"
						}
					}
					Logic {//case 1
						Class "IF_ELSE"
						Method {
							Class "IFItemsDead"
							Param "20003"
						}
						Method {
							Class "NextRoomProgress"
						}
					}
					Logic {//case 2
						Class "Proxy"
						Method {
							Class "SetRemainTime"
							Param "0"
						}
					}
				}
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+234"//WCH_RoomEnd
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJBattleSettle"
				Param "2"//胜利的Progress
			}
			Method {
				Class "SetRoomAutoStart"
				Param "0"//autostart
				Param "0"//autoStartTime
				Param "-1"//removetime
			}
		}
    }
}
