# Creature3D Script Parser v1.0

Data {
    Class "Event"    
	Handle {
		MsgParam "WCH_INVOLUME"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Logic {
				Class "IF_ELSE"
				Method {
					Class "JXJFubenProgressAdvanceCheck"
					Param "1"//<1
				}
				Logic {
					Class "ProxyArray"
					Method {
						Class "StopMyRoles"
					}
					Method {
						Class "ChangeCamera"
						Param "Camera1"
					}
					Logic {
						Class "IF_ELSE"
						Method {
							Class "IfInVolumeNodeIsMe"
						}
						Method {
							Class "MyRoleDoEvent"
							Param "0"//roleindex
							Param "WCH_USER+235"//WCH_AdvanceRoomProgress
							Param "NULL"
						}
					}
				}
			}
		}
    }
}
