# Creature3D Script Parser v1.0

Data {
    Class "JXJSkill"
	IncludeData "JXJ/script/skill/AttackI.cfg"	
	Handle {
        MsgParam "WCH_USER+336"//WCH_EquipExtra
        MsgParam "0"//WCH_Server
        Driver {
		    Class "MoreSlot"
            Logic {//
				Class "ProxyArray"
				Method {
					Class "ExtraLifeTime"
					Param "0"
				}
				Method {
					Class "JXJExtraAttackSpeed"
					Param "0"//持续时间
					Param "100"
				}			
            }		
        }
    }	
    Handle {
        MsgParam "WCH_USER+336"//WCH_EquipExtra
        MsgParam "1"//WCH_Client
        Driver {
            Class "NodeMoreSlot"
            Logic {//		
				Class "ProxyArray"			
				Method {
					Class "ExtraLifeTime"
					Param "0"
				}
				Method {
					Class "JXJExtraAttackSpeed"
					Param "0"//持续时间
					Param "100"
				}
				Logic {//目标特效
					Class "ExtraEffect"
					Logic {
						Class "PlaySceneFx"
						Param "134,data\JXJEffect\Eft_Buff_Zhaoyu_01.cre"
						Param "135,0"
						Param "138,BBOX_CENTER"//boneName
						Param "139,0,0,0"//offset
						Param "140,1,1,1"//scale
						Param "141,0"//rotAngle
						Method {
							Class "LoadAndCloneNode"
						}
						Logic {
							Class "PlaceLoadedNode2"
							Method {
								Class "ConvertToTransform"
							}
						}
					}
				}				
				Logic {//目标特效
					Class "ExtraEffect"
					Logic {
						Class "PlaySceneFx"
						Param "134,data/JXJEffect/Eft_Ma_Run_Huo_01.cre"
						Param "135,0"
						Param "138,dummy_rightfoot01"//boneName
						Param "139,0,0,0"//offset
						Param "140,1,1,1"//scale
						Param "141,0"//rotAngle
						Method {
							Class "LoadAndCloneNode"
						}
						Logic {
							Class "PlaceLoadedNode2"
							Method {
								Class "ConvertToTransform"
							}
						}
					}
				}
				Logic {//目标特效
					Class "ExtraEffect"
					Logic {
						Class "PlaySceneFx"
						Param "134,data/JXJEffect/Eft_Ma_Run_Huo_01.cre"
						Param "135,0"
						Param "138,dummy_rightfoot02"//boneName
						Param "139,0,0,0"//offset
						Param "140,1,1,1"//scale
						Param "141,0"//rotAngle
						Method {
							Class "LoadAndCloneNode"
						}
						Logic {
							Class "PlaceLoadedNode2"
							Method {
								Class "ConvertToTransform"
							}
						}
					}
				}
				Logic {//目标特效
					Class "ExtraEffect"
					Logic {
						Class "PlaySceneFx"
						Param "134,data/JXJEffect/Eft_Ma_Run_Huo_01.cre"
						Param "135,0"
						Param "138,dummy_leftfoot01"//boneName
						Param "139,0,0,0"//offset
						Param "140,1,1,1"//scale
						Param "141,0"//rotAngle
						Method {
							Class "LoadAndCloneNode"
						}
						Logic {
							Class "PlaceLoadedNode2"
							Method {
								Class "ConvertToTransform"
							}
						}
					}
				}
				Logic {//目标特效
					Class "ExtraEffect"
					Logic {
						Class "PlaySceneFx"
						Param "134,data/JXJEffect/Eft_Ma_Run_Huo_01.cre"
						Param "135,0"
						Param "138,dummy_leftfoot02"//boneName
						Param "139,0,0,0"//offset
						Param "140,1,1,1"//scale
						Param "141,0"//rotAngle
						Method {
							Class "LoadAndCloneNode"
						}
						Logic {
							Class "PlaceLoadedNode2"
							Method {
								Class "ConvertToTransform"
							}
						}
					}
				}
			}	
        }
    }	
}