# Creature3D Script Parser v1.0
 
Data {
    Class "JXJSkill"
    IncludeData "JXJ/script/skill/SkillI.cfg"
	Handle {
        MsgParam "WCH_USER+336"//WCH_EquipExtra
        MsgParam "0"//WCH_Server
        Driver {
		    Class "MoreSlot"
            Logic {//
                Class "Switch"
                Method {
                    Class  "JXJArmyTypeCheck"
                }
                Logic {//步兵
					Class "ProxyArray"
					Method {
						Class "ExtraLifeTime"
						Param "0"
					}
					Method {
						Class "JXJExtraHalo"
						Param "0"//持续时间
						Param "4"//半径
						Param "15"//bufid
						param "0.5" //频率
					}
                }				
            }		
        }
    }
    Handle {
        MsgParam "WCH_USER+336"//WCH_EquipExtra
        MsgParam "1"//WCH_Client
        Driver {
            Class "NodeMoreSlot"
            Logic {//
                Class "Switch"
                Method {
                    Class  "JXJArmyTypeCheck"
                }
                Logic {//步兵
					Class "ProxyArray"
					Method {
						Class "ExtraLifeTime"
						Param "0"
					}					
					Logic {//目标特效
						Class "ExtraEffect"
						Logic {
							Class "PlaySceneFx"
							Param "134,data/JXJEffect/Eft_Gongji_buff_01.cre"
							Param "135,0"
							Param "138,BBOX_BOTTOM"//boneName
							Param "139,0,0,0"//offset
							Param "140,1,1,1"//scale
							Param "141,0"//rotAngle
							Method {
								Class "LoadAndCloneNode"
							}
							Logic {
								Class "PlaceLoadedNode2"
								Method {
									Class "ConvertToTransform"
								}
							}
						}
					}
                }				
            }
        }
    }
}
