# Creature3D Script Parser v1.0
 
Data {
    Class "JXJSkill"
    IncludeData "JXJ/script/skill/SkillI.cfg"
	Param "21373,10"		
    Handle {
        MsgParam "WCH_USER+83"//WCH_UserExtra
        MsgParam "0"//WCH_Server
        Driver {
            Class "MoreSlot"
			Method {
                Class "ExtraLifeTime"
                Param "1"//持续时间
            }
			Method {//1
				Class "JXJExtraGainMpPerTimer"
				Param "0.1"//持续时间
				Param "5"//增加士气
				Param "0.1"//间隔时间				
			}				
        }
    }
    Handle {
        MsgParam "WCH_USER+351"//WCH_SkillExtraTest
        MsgParam "NULL"
        Driver {
            Class "OneSlot"
			Method {
				Class "JXJUserExtra"
			}
        }
    }
}
