# Creature3D Script Parser v1.0
 
Data {
    Class "JXJSkill"
    IncludeData "JXJ/script/skill/SkillI.cfg"		
	Handle {
        MsgParam "WCH_USER+81"//WCH_TargetExtra
        MsgParam "0"//WCH_Server
        Driver {
            Class "MoreSlot"
			Method {
				Class "ExtraLifeTime"
				Param "5"//持续时间
			}
			Method {
				Class "JXJExtraCritPower"
				Param "5"  //持续时间
				Param "-1000"		
			}
			Method {
				Class "JXJExtraAttackPercent"
				Param "5"  //持续时间
				Param "-500"		
			}
			Method {
				Class "JXJExtraBuildingAttackPercent"
				Param "5"  //持续时间
				Param "-500"		
			}			
        }
    }
    Handle {
        MsgParam "WCH_USER+81"//WCH_TargetExtra
        MsgParam "1"//WCH_Client
        Driver {
            Class "MoreSlot"
			Method {
				Class "ExtraLifeTime"
				Param "5"//持续时间
			}
			Method {
				Class "JXJExtraCritPower"
				Param "5"  //持续时间
				Param "-1000"		
			}
			Method {
				Class "JXJExtraAttackPercent"
				Param "5"  //持续时间
				Param "-500"		
			}
			Method {
				Class "JXJExtraBuildingAttackPercent"
				Param "5"  //持续时间
				Param "-500"		
			}			
            Logic {//目标特效
                Class "ExtraEffect"
                Logic {
                    Class "PlaySceneFx"
                    Param "134,data/JXJEffect/Eft_Dbuff_Xuwu_01.cre"
                    Param "135,5"
                    Param "138,BBOX_CENTER"//boneName
                    Param "139,0,0,0"//offset
                    Param "140,1,1,1"//scale
                    Param "141,0"//rotAngle
                    Method {
                        Class "LoadAndCloneNode"
                    }
                    Logic {
                        Class "PlaceLoadedNode2"
                        Method {
                            Class "ConvertToTransform"
                        }
                    }
                }
            }
        }
    }	
    Handle {
        MsgParam "WCH_USER+83"//WCH_UserExtra
        MsgParam "0"//WCH_Server
        Driver {
            Class "MoreSlot"
			Method {
				Class "ExtraLifeTime"
				Param "3"//持续时间
			}			
            Method {
                Class "JXJExtraMagicDefendPercent"
                Param "3"//持续时间
                Param "2000"
            }
        }
    }
    Handle {
        MsgParam "WCH_USER+83"//WCH_UserExtra
        MsgParam "1"//WCH_Client
        Driver {
            Class "MoreSlot"
			Method {
				Class "ExtraLifeTime"
				Param "3"//持续时间
			}			
            Method {
                Class "JXJExtraMagicDefendPercent"
                Param "3"//持续时间
                Param "2000"
            }
            Logic {//目标特效
                Class "ExtraEffect"
                Logic {
                    Class "PlaySceneFx"
                    Param "134,data/JXJEffect/Eft_Fashuxixue_01.cre"
                    Param "135,3"
                    Param "138,BBOX_CENTER"//boneName
                    Param "139,0,0,0"//offset
                    Param "140,1,1,1"//scale
                    Param "141,0"//rotAngle
                    Method {
                        Class "LoadAndCloneNode"
                    }
                    Logic {
                        Class "PlaceLoadedNode2"
                        Method {
                            Class "ConvertToTransform"
                        }
                    }
                }
            }
        }
    }	
	Handle {
        MsgParam "WCH_USER+340"//WCH_HitExtraTest
        MsgParam "NULL"
        Driver {
            Class "MoreSlot"		
			Logic {//远程攻击判断
				Class "IF_ELSE"			
				Method {
					Class "JXJHitAttackDistCheck"
				}
				Method {
					Class "Null"									
				}	
				Logic {//			
					Class  "IF_ELSE"
					Method {
						Class "JXJDices"
						Param "30"						
					}				
					Method {
						Class "JXJTargetExtra"
					}
				}	
			}
        }
    }
    Handle {
        MsgParam "WCH_USER+341"//WCH_SkillHitExtraTest
        MsgParam "NULL"
        Driver {
            Class "MoreSlot"
            Logic {
                Class  "IF_ELSE"
                Method {
                    Class "JXJHpPercentLesser"
					Param "0"
					Param "0.4"						
                }			
				Method {
					Class "JXJUserExtra"
				}
			}	
        }
    }	
}
