# Creature3D Script Parser v1.0
 
Data {
    Class "JXJSkill"
    IncludeData "JXJ/script/skill/SkillI.cfg"	
    Handle {
        MsgParam "WCH_USER+81"//WCH_TargetExtra
        MsgParam "0"//WCH_Server
        Driver {
            Class "MoreSlot"
			Logic {//¹¥»÷¾àÀë¼ì²â			
				Class  "IF_ELSE"
				Method {
					Class "JXJExtraDistanceCheck"
					Param "20"					
				}	
				Method {
					Class "Null"
				}				
				Logic {//¹¥»÷¾àÀë¼ì²â			
					Class  "IF_ELSE"
					Method {
						Class "JXJExtraDistanceCheck"
						Param "15"					
					}	
					Method {
						Class "JXJExtraDamageAttackOnce"
						Param "0.2"	
					}				
					Logic {//¹¥»÷¾àÀë¼ì²â			
						Class  "IF_ELSE"
						Method {
							Class "JXJExtraDistanceCheck"
							Param "8"					
						}	
						Method {
							Class "JXJExtraDamageAttackOnce"
							Param "0.4"	
						}				
						Method {
							Class "JXJExtraDamageAttackOnce"
							Param "0.3"						
						}
					}
				}				
			}			
        }
    }		
    Handle {
        MsgParam "WCH_USER+118"//WCH_AttackExtraTest
        MsgParam "NULL"
        Driver {
            Class "MoreSlot"				
			Method {
				Class "JXJTargetExtra"
			}				
        }
    }	
}
