# Creature3D Script Parser v1.0
 
Data {
    Class "JXJSkill"
    IncludeData "JXJ/script/skill/SkillI.cfg"
	Handle {
        MsgParam "WCH_USER+336"//WCH_EquipExtra
        MsgParam "0"//WCH_Server
        Driver {
		    Class "MoreSlot"
            Logic {//
                Class "Switch"
                Method {
                    Class  "JXJArmyTypeCheck"
                }
                Logic {//步兵
					Class "Null"
                }
				Logic {//弓兵
					Class "Null"
				}
                Logic {//骑兵
					Class "ProxyArray"
					Method {
						Class "ExtraLifeTime"
						Param "0"
					}					
					Method {
						Class "JXJExtraHalo"
						Param "0"//持续时间
						Param "8"
						Param "1202"
						Param "1"
					}					
                }				
            }		
        }
    }
}
