# Creature3D Script Parser v1.0
 
Data {
    Class "JXJSkill"
    IncludeData "JXJ/script/skill/SkillI.cfg"
    Handle {
        MsgParam "WCH_USER+83"//WCH_UserExtra
        MsgParam "0"//WCH_Server
        Driver {
            Class "MoreSlot"
			Method {
				Class "ExtraLifeTime"
				Param "8.1"//持续时间
			}			
            Method {
                Class "JXJExtraRTHP"
                Param "8"//持续时间
                Param "150000"
                Param "0.16"	//百分比			
            }	
        }
    }
    Handle {
        MsgParam "WCH_USER+83"//WCH_UserExtra
        MsgParam "1"//WCH_Client
        Driver {
            Class "MoreSlot"
			Method {
				Class "ExtraLifeTime"
				Param "8.1"//持续时间
			}			
            Method {
                Class "JXJExtraRTHP"
                Param "8"//持续时间
                Param "150000"
                Param "0.16"	//百分比			
            }
            Logic {//目标特效
                Class "ExtraEffect"
                Logic {
                    Class "PlaySceneFx"
                    Param "134,data/JXJEffect/Eft_Buff_Hujia_02.cre"
                    Param "135,8"
                    Param "138,BBOX_CENTER"//boneName
                    Param "139,0,0,0"//offset
                    Param "140,1,1,1"//scale
                    Param "141,0"//rotAngle
                    Method {
                        Class "LoadAndCloneNode"
                    }
                    Logic {
                        Class "PlaceLoadedNode2"
                        Method {
                            Class "ConvertToTransform"
                        }
                    }
                }
            }			
        }
    }
    Handle {
        MsgParam "WCH_USER+340"//WCH_HitExtraTest
        MsgParam "NULL"
        Driver {
            Class "MoreSlot"
            Logic {
                Class  "IF_ELSE"
                 Method {
                    Class "JXJEquipAttackExtraTimeLimitTest"
                    Param "25"//概率
                    Param "17"//时间限制	
                }
                Method {
                    Class "JXJUserExtra"
                }
            }
        }
    }	
}
