# Creature3D Script Parser v1.0
 
Data {
    Class "JXJSkill"
    IncludeData "JXJ/script/skill/SkillI.cfg"
    Handle {
        MsgParam "WCH_USER+340"//WCH_HitExtraTest
        MsgParam "NULL"
        Driver {
            Class "MoreSlot"
            Method {
                Class "JXJHitParamRTMP"
				Param "0"
                Param "3.5"
            }
        }
    }
}