# Creature3D Script Parser v1.0
 
Data {
    Class "JXJSkill"
    IncludeData "JXJ/script/skill/SkillI.cfg"
    Handle {
        MsgParam "WCH_USER+81"//WCH_TargetExtra
        MsgParam "0"//WCH_Server
        Driver {
            Class "MoreSlot"
			Method {
				Class "ExtraLifeTime"
				Param "0.1"
			}			
            Method {
				Class "JXJExtraDamageAttackOnce"
                Param "0.35"					
            }
        }
    }
    Handle {
        MsgParam "WCH_USER+83"//WCH_UserExtra
        MsgParam "0"//WCH_Server
        Driver {
            Class "MoreSlot"
            Method {
                Class "ExtraLifeTime"
                Param "5"//持续时间
            }
            Method {
                Class "JXJExtraAttackSpeed"
                Param "5"//持续时间
                Param "800"
            }
            Method {
                Class "JXJExtraAttackAbsorbHP"
                Param "5"//持续时间
                Param "300"
            }			
        }
    }
    Handle {
        MsgParam "WCH_USER+83"//WCH_UserExtra
        MsgParam "1"//WCH_Client
        Driver {
            Class "NodeMoreSlot"
            Method {
                Class "ExtraLifeTime"
                Param "5"//持续时间
            }
            Method {
                Class "JXJExtraAttackSpeed"
                Param "5"//持续时间
                Param "800"
            }
            Method {
                Class "JXJExtraAttackAbsorbHP"
                Param "5"//持续时间
                Param "300"
            }
            Logic {//目标特效
                Class "ExtraEffect"
                Logic {
                    Class "PlaySceneFx"
                    Param "134,data/JXJEffect/Eft_Buff_Gongsu_01.cre"
                    Param "135,5"
                    Param "138,BBOX_CENTER"//boneName
                    Param "139,0,0,0"//offset
                    Param "140,1,1,1"//scale
                    Param "141,0"//rotAngle
                    Method {
                        Class "LoadAndCloneNode"
                    }
                    Logic {
                        Class "PlaceLoadedNode2"
                        Method {
                            Class "ConvertToTransform"
                        }
                    }
                }
            }
        }
    }	
    Handle {
        MsgParam "WCH_USER+118"//WCH_AttackExtraTest
        MsgParam "NULL"
        Driver {
            Class "MoreSlot"
            Logic {
                Class  "Switch"
                Method {
                    Class "JXJFireArmyTypeCheck"
                }
                Method {//0步兵
                    Class "Null"
                }
                Method {//1弓兵
                    Class "Null"
                }
				Logic {//2骑兵						
					Class  "IF_ELSE"
					Method {//移速检测
						Class "JXJFirerMoveSpeedGreater"
					}
					Logic {
					   Class "ProxyArray"				
						Method {
							Class "JXJTargetExtra"
						}
						Logic {//触发概率			
							Class "IF_ELSE"	
							Method {
								Class "JXJDices"
								Param "40"
							}
							Method {
								Class "JXJUserExtra"
							}
						}
					}	
				}	
			}			
        }
    }
}
