# Creature3D Script Parser v1.0
 
Data {
    Class "JXJSkill"
    IncludeData "JXJ/script/skill/SkillI.cfg"
    Handle {
        MsgParam "WCH_USER+81"//WCH_TargetExtra
        MsgParam "0"//WCH_Server
        Driver {
            Class "MoreSlot"
			Method {
				Class "ExtraLifeTime"
				Param "0.1"
			}			
            Method {
				Class "JXJExtraDamageAttackOnce"
                Param "0.3"					
            }
        }
    }
    Handle {
        MsgParam "WCH_USER+118"//WCH_AttackExtraTest
        MsgParam "NULL"
        Driver {
            Class "MoreSlot"
            Logic {
                Class  "Switch"
                Method {
                    Class "JXJFireArmyTypeCheck"
                }
                Method {//0²½±ø
                    Class "Null"
                }
                Method {//1¹­±ø
                    Class "Null"
                }
				Logic {//2Æï±ø		
					Class  "IF_ELSE"
					Method {//ÒÆËÙ¼ì²â
						Class "JXJFirerMoveSpeedGreater"
					}																
					Method {
						Class "JXJTargetExtra"
					}
				}	
			}			
        }
    }
}
