# Creature3D Script Parser v1.0
 
Data {
    Class "JXJSkill"
    IncludeData "JXJ/script/skill/SkillI.cfg"
	Handle {
        MsgParam "WCH_USER+336"//WCH_EquipExtra
        MsgParam "0"//WCH_Server
        Driver {
		    Class "MoreSlot"
            Logic {//
                Class "Switch"
                Method {
                    Class  "JXJArmyTypeCheck"
                }
				Logic {//步兵
					Class "ProxyArray"
					Method {
						Class "ExtraLifeTime"
						Param "0"
					}
					Method {
						Class "JXJExtraAttackPercent"
						Param "0"//持续时间
						Param "550"
					}	
				}
				Logic {//
					Class "Proxy"
					Method {
						Class "ExtraLifeTime"
						Param "0.1"//持续时间
					}
				}
				Logic {//
					Class "Proxy"
					Method {
						Class "ExtraLifeTime"
						Param "0.1"//持续时间
					}
				}
				Logic {//
					Class "Proxy"
					Method {
						Class "ExtraLifeTime"
						Param "0.1"//持续时间
					}
				}
            }
        }
    }
    Handle {
        MsgParam "WCH_USER+336"//WCH_EquipExtra
        MsgParam "1"//WCH_Client
        Driver {
            Class "MoreSlot"
            Logic {//
                Class "Switch"
                Method {
                    Class  "JXJArmyTypeCheck"
                }
				Logic {//步兵
					Class "ProxyArray"
					Method {
						Class "ExtraLifeTime"
						Param "0"
					}
					Method {
						Class "JXJExtraAttackPercent"
						Param "0"//持续时间
						Param "550"
					}		
					Logic {//目标特效
						Class "ExtraEffect"
						Logic {
							Class "PlaySceneFx"
							Param "134,data/JXJEffect/Eft_Buff_Zhaoyu_01.cre"
							Param "135,0"
							Param "138,Bip01 R Hand"//boneName
							Param "139,0,0,0"//offset
							Param "140,1,1,1"//scale
							Param "141,0"//rotAngle
							Method {
								Class "LoadAndCloneNode"
							}
							Logic {
								Class "PlaceLoadedNode2"
								Method {
									Class "ConvertToTransform"
								}
							}
						}
					}
				}
				Logic {//
					Class "Proxy"
					Method {
						Class "ExtraLifeTime"
						Param "0.1"//持续时间
					}
				}
				Logic {//
					Class "Proxy"
					Method {
						Class "ExtraLifeTime"
						Param "0.1"//持续时间
					}
				}
				Logic {//
					Class "Proxy"
					Method {
						Class "ExtraLifeTime"
						Param "0.1"//持续时间
					}
				}
            }
        }
    }
    Handle {
        MsgParam "WCH_USER+81"//WCH_TargetExtra
        MsgParam "0"//WCH_Server
        Driver {
		    Class "MoreSlot"
			Method {
				Class "ExtraLifeTime"
				Param "2"
			}
			Method {
				Class "JXJExtraGuise"
				Param "2"//持续时间
				Param "12"
			}
        }
    }
    Handle {
        MsgParam "WCH_USER+81"//WCH_TargetExtra
        MsgParam "1"//WCH_Client
        Driver {
            Class "MoreSlot"
			Method {
				Class "ExtraLifeTime"
				Param "2"
			}
			Method {
				Class "JXJExtraGuise"
				Param "2"//持续时间
				Param "12"
			}	
			Logic {//目标特效
                Class "ExtraEffect"
				Param "12"//状态值					
                Logic {
                    Class "PlaySceneFx"
                    Param "134,data/JXJEffect/Eft_Dbuff_Xuanyun_01.cre"
                    Param "135,2"
                    Param "138,BBOX_TOP"//boneName
                    Param "139,0,0,0"//offset
                    Param "140,1,1,1"//scale
                    Param "141,0"//rotAngle
                    Method {
                        Class "LoadAndCloneNode"
                    }
                    Logic {
                        Class "PlaceLoadedNode2"
                        Method {
                            Class "ConvertToTransform"
                        }
                    }
                }
            }
        }
    }
    Handle {
        MsgParam "WCH_USER+118"//WCH_AttackExtraTest
        MsgParam "NULL"
        Driver {
            Class "MoreSlot"
            Logic {
			   Class  "IF_ELSE"
			   Method {
					Class "JXJFireArmyAbstractIDCheck"
					Param "20011|30031"
				}
				Logic {//
					Class "IF_ELSE"
					Method {
						Class "JXJEquipAttackExtraTest"
						Param "10"
					}
					Method {
						Class "JXJTargetExtra"
					}
				}
			}
        }
    }
}
