# Creature3D Script Parser v1.0
 
Data {
    Class "JXJSkill"
    IncludeData "JXJ/script/skill/SkillI.cfg"
	Handle {
        MsgParam "WCH_USER+336"//WCH_EquipExtra
        MsgParam "0"//WCH_Server
        Driver {
		    Class "MoreSlot"
            Logic {//
                Class "ProxyArray"
				Method {
					Class "ExtraLifeTime"
					Param "0"
				}
				Method {
                    Class "JXJExtraIgnoreMagicDefend"
                    Param "0"//持续时间
                    Param "1000"
                }	
				Method {
                    Class "JXJExtraSkillAbsorbHP"
                    Param "0"//持续时间
                    Param "600"
                }
			}
        }
    }
    Handle {
        MsgParam "WCH_USER+336"//WCH_EquipExtra
        MsgParam "1"//WCH_Client
        Driver {
            Class "MoreSlot"
            Logic {//
                Class "ProxyArray"
				Method {
					Class "ExtraLifeTime"
					Param "0"
				}
				Method {
				    Class "JXJExtraIgnoreMagicDefend"
				    Param "0"//持续时间
				    Param "1000"
			    }	
				Method {
                    Class "JXJExtraSkillAbsorbHP"
                    Param "0"//持续时间
                    Param "600"
                }					
            }
        }
    }
}    