# Creature3D Script Parser v1.0
 
Data {
    Class "JXJSkill"
    IncludeData "JXJ/script/skill/SkillI.cfg"
    Handle {
        MsgParam "WCH_USER+81"//WCH_TargetExtra
        MsgParam "0"//WCH_Server
        Driver {
            Class "MoreSlot"
            Method {
                Class "ExtraLifeTime"
                Param "0.5"//持续时间
            }
			Method {
				Class "JXJExtraHalo"
				Param "0.1"//持续时间
				Param "2.8"
				Param "59"
				Param "0.1"
			}			
			Method {
				Class "JXJExtraDamageAttackOnce"
				Param "0.7"						
			}			
        }
    }
    Handle {
        MsgParam "WCH_USER+118"//WCH_AttackExtraTest
        MsgParam "NULL"
        Driver {
            Class "MoreSlot"
            Logic {
                Class  "Switch"
                Method {
                    Class "JXJFireArmyTypeCheck"
                }				
				Logic {//步兵
					Class  "IF_ELSE"
					Method {
						Class "JXJEquipAttackExtraTest"
						Param "9"
					}			
					Method {
						Class "JXJTargetExtra"
					}
				}
				Logic {//弓兵						
					Class "ProxyArray"	
					Method {//0
						Class "Null"
					}
				}	
				Logic {//骑兵
					Class  "IF_ELSE"
					Method {
						Class "JXJEquipAttackExtraTest"
						Param "9"
					}			
					Method {
						Class "JXJTargetExtra"
					}	
				}
			}	
        }
    }
}
