# Creature3D Script Parser v1.0
 
Data {
    Class "JXJSkill"
    IncludeData "JXJ/script/skill/SkillI.cfg"
    Handle {
        MsgParam "WCH_USER+81"//WCH_TargetExtra
        MsgParam "0"//WCH_Server
        Driver {
            Class "MoreSlot"
            Method {
                Class "ExtraLifeTime"
                Param "0.5"//持续时间
            }
			Method {
				Class "JXJExtraHalo"
				Param "0.1"//持续时间
				Param "2.8"
				Param "59"
				Param "0.1"
			}			
			Method {
				Class "JXJExtraDamageAttackOnce"
				Param "1.5"						
			}			
        }
    }
    Handle {
        MsgParam "WCH_USER+83"//WCH_UserExtra
        MsgParam "0"//WCH_Server
        Driver {
            Class "MoreSlot"
            Method {
                Class "ExtraLifeTime"
                Param "3"//持续时间
            }			
            Method {
                Class "JXJExtraAttackSpeed"
                Param "3"//持续时间
                Param "2000"
            }
            Method {
                Class "JXJExtraMoveSpeedPercent"
                Param "3"//持续时间
                Param "500"
            }			
        }
    }
    Handle {
        MsgParam "WCH_USER+83"//WCH_UserExtra
        MsgParam "1"//WCH_Client
        Driver {
            Class "MoreSlot"
            Method {
                Class "ExtraLifeTime"
                Param "3"//持续时间
            }			
            Method {
                Class "JXJExtraAttackSpeed"
                Param "3"//持续时间
                Param "2000"
            }
            Method {
                Class "JXJExtraMoveSpeedPercent"
                Param "3"//持续时间
                Param "500"
            }			
            Logic {//目标特效
                Class "ExtraEffect"
                Logic {
                    Class "PlaySceneFx"
                    Param "134,data/JXJEffect/Eft_Buff_Gongsu_01.cre"
                    Param "135,3"
                    Param "138,BBOX_CENTER"//boneName
                    Param "139,0,0,0"//offset
                    Param "140,1,1,1"//scale
                    Param "141,0"//rotAngle
                    Method {
                        Class "LoadAndCloneNode"
                    }
                    Logic {
                        Class "PlaceLoadedNode2"
                        Method {
                            Class "ConvertToTransform"
                        }
                    }
                }
            }
        }
    }	
    Handle {
        MsgParam "WCH_USER+118"//WCH_AttackExtraTest
        MsgParam "NULL"
        Driver {
            Class "MoreSlot"
            Logic {
                Class  "Switch"
                Method {
                    Class "JXJFireArmyTypeCheck"
                }				
				Logic {//步兵
					Class  "IF_ELSE"
					Method {
						Class "JXJEquipAttackExtraTest"
						Param "25"
					}
					Logic {
						Class "ProxyArray"				
						Method {
							Class "JXJTargetExtra"
						}
						Method {
							Class "JXJUserExtra"
						}
					}	
				}
				Logic {//弓兵						
					Class "ProxyArray"	
					Method {//0
						Class "Null"
					}
				}	
				Logic {//骑兵
					Class  "IF_ELSE"
					Method {
						Class "JXJEquipAttackExtraTest"
						Param "25"
					}
					Logic {
						Class "ProxyArray"				
						Method {
							Class "JXJTargetExtra"
						}
						Method {
							Class "JXJUserExtra"
						}
					}	
				}
			}	
        }
    }
}
