# Creature3D Script Parser v1.0
 
Data {
    Class "JXJSkill"
    IncludeData "JXJ/script/skill/SkillI.cfg"
	Handle {
        MsgParam "WCH_USER+336"//WCH_EquipExtra
        MsgParam "0"//WCH_Server
        Driver {
		    Class "MoreSlot"		
			Logic {
				Class "IF_ELSE"
				Method {
					Class "JXJArmyAbstractIDCheck"
					Param "20015"
				}
				Method {
					Class "ExtraLifeTime"
					Param "0"
				}
			}		
        }
    }
	Handle {
        MsgParam "WCH_USER+336"//WCH_EquipExtra
        MsgParam "1"//WCH_Client
        Driver {
		    Class "MoreSlot"		
			Logic {
				Class "IF_ELSE"
				Method {
					Class "JXJArmyAbstractIDCheck"
					Param "20015"
				}
				Method {
					Class "ExtraLifeTime"
					Param "0"
				}
			}		
        }
    }	
}
