# Creature3D Script Parser v1.0
 
Data {
    Class "JXJSkill"
    IncludeData "JXJ/script/skill/SkillI.cfg"
    Handle {
        MsgParam "WCH_USER+342"//WCH_UseSkillExtraTest
        MsgParam "NULL"
        Driver {
            Class "OneSlot"
            Method {
                Class "JXJHitParamRTMP"
				Param "0"
                Param "22"
            }
        }
    }
}
