# Creature3D Script Parser v1.0
 
Data {
    Class "JXJSkill"
    IncludeData "JXJ/script/skill/SkillI.cfg"
	Handle {
        MsgParam "WCH_USER+81"//WCH_TargetExtra
        MsgParam "0"//WCH_Server
        Driver {
            Class "MoreSlot"
            Logic {//敌我判断
                Class "Switch"
                Method {
                    Class "JXJTargetType"
                }
                Logic {//0敌人
                    Class "ProxyArray"
					Method {
						Class "ExtraLifeTime"
						Param "0.1"
					}						
					Method {
						Class "JXJExtraHalo"
						Param "0.1"//持续时间
						Param "50"//范围，-1为全屏
						Param "120"
						Param "0.1"
					}
				}
			}	
        }
    }	
	Handle {
        MsgParam "WCH_USER+343"//WCH_DeadExtraTest
        MsgParam "NULL"
        Driver {
            Class "MoreSlot"
			Method {
				Class "JXJTargetExtra"
			}
        }
    }	
}