# Creature3D Script Parser v1.0
 
Data {
    Class "JXJSkill"
    IncludeData "JXJ/script/skill/SkillI.cfg"
    Handle {
        MsgParam "WCH_USER+81"//WCH_TargetExtra
        MsgParam "0"//WCH_Server
        Driver {
            Class "MoreSlot"
			Method {
                Class "ExtraLifeTime"
                Param "2"
            }
            Logic {//敌我判断
                Class "Switch"
                Method {
                    Class "JXJTargetType"
                }
                Logic {//0敌人
                    Class "ProxyArray"
					Method {
						Class "JXJExtraDamageAttack"
						Param "2"
						Param "1.00"
					}
					Method {
						Class "JXJExtraGuise"
						Param "2"
						Param "22"
					}
				}	
            }
        }
    }
    Handle {
        MsgParam "WCH_USER+81"//WCH_TargetExtra
        MsgParam "1"//WCH_Client
        Driver {
            Class "NodeMoreSlot"
			Method {
                Class "ExtraLifeTime"
                Param "2"
            }
            Logic {//敌我判断
                Class "Switch"
                Method {
                    Class "JXJTargetType"
                }
                Logic {//0敌人
                    Class "ProxyArray"
					Method {
						Class "JXJExtraDamageAttack"
						Param "2"
						Param "1.00"
					}
					Method {
						Class "JXJExtraGuise"
						Param "2"
						Param "22"	
					}
                    Logic {//目标特效
                        Class "ExtraEffect"
                        Param "22"//状态值							
                        Logic {
                            Class "PlaySceneFx"
                            Param "134,data/JXJEffect/Eft_Dbuff_Jingxia.cre"
                            Param "135,2"
                            Param "138,BBOX_CENTER"//boneName
                            Param "139,0,0,0"//offset
                            Param "140,1,1,1"//scale
                            Param "141,0"//rotAngle
                            Method {
                                Class "LoadAndCloneNode"
                            }
                            Logic {
                                Class "PlaceLoadedNode2"
                                Method {
                                    Class "ConvertToTransform"
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    Handle {
        MsgParam "WCH_USER+58"//WCH_NodeCollideWithItem
        MsgParam "NULL"
        Driver {
            Class "OneSlot"
            Logic {
                Class "Switch"
                Method {
                    Class "JXJGetImmuno"
                }
                Method {//0：无效
                    Class "Null"
                }
                Logic {//1：正常
                    Class "Switch"
                    Method {
                        Class "JXJGetHitType"
                    }
                    Logic {//0敌人
                        Class "ProxyArray"
                        Method {
                            Class "JXJTargetExtra"
                        }
                    }
				}
                Logic {//2：物理免疫
                    Class "Switch"
                    Method {
                        Class "JXJGetHitType"
                    }
                    Logic {//0敌人
                        Class "ProxyArray"
                        Method {
                            Class "JXJTargetExtra"
                        }
                    }
                }
                Logic {//3：魔法免疫
                    Class "Proxy"
                    Method {
                        Class "Null"
                    }
                }
            }
        }
    }
}
