# Creature3D Script Parser v1.0
 
Data {
    Class "JXJSkill"
    IncludeData "JXJ/script/skill/SkillI.cfg"
    Handle {
        MsgParam "WCH_USER+83"//WCH_UserExtra
        MsgParam "0"//WCH_Server
        Driver {
            Class "MoreSlot"
            Logic {
				Class  "IF_ELSE"
				Method {
					Class "JXJArmyAbstractIDCheck"
					Param "20012"
				}
				Logic {
					Class "ProxyArray"				
					Method {
						Class "ExtraLifeTime"
						Param "0.1"
					}
					Method {
						Class "JXJExtraHalo"
						Param "0.1"//持续时间
						Param "5"
						Param "1353"
						Param "0.1"
					}
				}
			}	
        }
    }	
    Handle {
        MsgParam "WCH_USER+118"//WCH_AttackExtraTest
        MsgParam "NULL"
        Driver {
            Class "MoreSlot"
            Logic {
				Class  "IF_ELSE"
				Method {
					Class "JXJEquipAttackExtraTest"
					Param "30"
				}
				Method {
					Class "JXJUserExtra"
				}
            }
        }
    }
}
 