# Creature3D Script Parser v1.0
 
Data {
    Class "JXJSkill"
    IncludeData "JXJ/script/skill/SkillI.cfg"
	Handle {
        MsgParam "WCH_USER+58"//WCH_NodeCollideWithItem
        MsgParam "NULL"
        Driver {
            Class "OneSlot"
            Logic {
                Class "Switch"
                Method {
                    Class "JXJGetImmuno"
                }
                Method {//0：无效
                    Class "Null"
                }
                Logic {//1：正常
                    Class "Switch"
                    Method {
                        Class "JXJGetHitType"
                    }
                    Logic {//0敌人
                        Class "ProxyArray"
                        Method {
                            Class  "JXJSkillDamage"
							Param "3"//0:不溅射,1分摊溅射,2衰减溅射,3概率溅射
							Param "800"//范围
							Param "20"//概率							
                        }
						Logic {//受击方BUF判断
							Class "IF_ELSE"
							Method {
								Class "JXJHitEquipCardCheck"								
								Param "25080|25081|25082|25083|25084|25085|25086|25087|25088|25089"
							}							
							Logic {//1：正常
								Class "ProxyArray"						
								Logic {//攻击方BUF判断				
									Class "IF_ELSE"
									Method {
										Class "JXJFireEquipCardCheck"							
										Param "23340"
									}					
									Method {
										Class "JXJHitDamageAttack"
										Param "0.5"//百分比
										Param "1000"									
									}
								}
								Logic {//攻击方BUF判断				
									Class "IF_ELSE"
									Method {
										Class "JXJFireEquipCardCheck"							
										Param "23341"
									}					
									Method {
										Class "JXJHitDamageAttack"
										Param "1"//百分比
										Param "1000"									
									}
								}
								Logic {//攻击方BUF判断				
									Class "IF_ELSE"
									Method {
										Class "JXJFireEquipCardCheck"							
										Param "23342"
									}					
									Method {
										Class "JXJHitDamageAttack"
										Param "1.5"//百分比
										Param "1000"									
									}
								}
								Logic {//攻击方BUF判断				
									Class "IF_ELSE"
									Method {
										Class "JXJFireEquipCardCheck"							
										Param "23343"
									}					
									Method {
										Class "JXJHitDamageAttack"
										Param "2"//百分比
										Param "1000"									
									}
								}
								Logic {//攻击方BUF判断				
									Class "IF_ELSE"
									Method {
										Class "JXJFireEquipCardCheck"							
										Param "23344"
									}					
									Method {
										Class "JXJHitDamageAttack"
										Param "2.5"//百分比
										Param "1000"									
									}
								}
								Logic {//攻击方BUF判断				
									Class "IF_ELSE"
									Method {
										Class "JXJFireEquipCardCheck"							
										Param "23345"
									}					
									Method {
										Class "JXJHitDamageAttack"
										Param "3"//百分比
										Param "1000"									
									}
								}
								Logic {//攻击方BUF判断				
									Class "IF_ELSE"
									Method {
										Class "JXJFireEquipCardCheck"							
										Param "23346"
									}					
									Method {
										Class "JXJHitDamageAttack"
										Param "3.5"//百分比
										Param "1000"									
									}
								}	
								Logic {//攻击方BUF判断				
									Class "IF_ELSE"
									Method {
										Class "JXJFireEquipCardCheck"							
										Param "23347"
									}					
									Method {
										Class "JXJHitDamageAttack"
										Param "4"//百分比
										Param "1000"									
									}
								}								
							}
						}
                    }
                    Logic {//1队友
                        Class "Null"
                    }
                    Logic {//2自己
                        Class "Null"
                    }
                }
                Logic {//2：物理免疫
                    Class "Switch"
                    Method {
                        Class "JXJGetHitType"
                    }
                    Logic {//0敌人
                        Class "ProxyArray"
                        Method {
                            Class  "JXJSkillDamage"
							Param "3"//0:不溅射,1分摊溅射,2衰减溅射,3概率溅射
							Param "800"//范围
							Param "30"//概率							
                        }
						Logic {//受击方BUF判断
							Class "IF_ELSE"
							Method {
								Class "JXJHitEquipCardCheck"								
								Param "25080|25081|25082|25083|25084|25085|25086|25087|25088|25089"
							}							
							Logic {//1：正常
								Class "ProxyArray"						
								Logic {//攻击方BUF判断				
									Class "IF_ELSE"
									Method {
										Class "JXJFireEquipCardCheck"							
										Param "23340"
									}					
									Method {
										Class "JXJHitDamageAttack"
										Param "0.5"//百分比
										Param "1000"									
									}
								}
								Logic {//攻击方BUF判断				
									Class "IF_ELSE"
									Method {
										Class "JXJFireEquipCardCheck"							
										Param "23341"
									}					
									Method {
										Class "JXJHitDamageAttack"
										Param "1"//百分比
										Param "1000"									
									}
								}
								Logic {//攻击方BUF判断				
									Class "IF_ELSE"
									Method {
										Class "JXJFireEquipCardCheck"							
										Param "23342"
									}					
									Method {
										Class "JXJHitDamageAttack"
										Param "1.5"//百分比
										Param "1000"									
									}
								}
								Logic {//攻击方BUF判断				
									Class "IF_ELSE"
									Method {
										Class "JXJFireEquipCardCheck"							
										Param "23343"
									}					
									Method {
										Class "JXJHitDamageAttack"
										Param "2"//百分比
										Param "1000"									
									}
								}
								Logic {//攻击方BUF判断				
									Class "IF_ELSE"
									Method {
										Class "JXJFireEquipCardCheck"							
										Param "23344"
									}					
									Method {
										Class "JXJHitDamageAttack"
										Param "2.5"//百分比
										Param "1000"									
									}
								}
								Logic {//攻击方BUF判断				
									Class "IF_ELSE"
									Method {
										Class "JXJFireEquipCardCheck"							
										Param "23345"
									}					
									Method {
										Class "JXJHitDamageAttack"
										Param "3"//百分比
										Param "1000"									
									}
								}
								Logic {//攻击方BUF判断				
									Class "IF_ELSE"
									Method {
										Class "JXJFireEquipCardCheck"							
										Param "23346"
									}					
									Method {
										Class "JXJHitDamageAttack"
										Param "3.5"//百分比
										Param "1000"									
									}
								}	
								Logic {//攻击方BUF判断				
									Class "IF_ELSE"
									Method {
										Class "JXJFireEquipCardCheck"							
										Param "23347"
									}					
									Method {
										Class "JXJHitDamageAttack"
										Param "4"//百分比
										Param "1000"									
									}
								}								
							}
						}
					}
                    Logic {//1队友
                        Class "Null"
                    }
                    Logic {//2自己
                        Class "Null"
                    }
                }
                Logic {//3：魔法免疫
					Class "Proxy"
                    Method {
                        Class "Null"
                    }	
                }
            }
        }
    }
}
