# Creature3D Script Parser v1.0
 
Data {
    Class "JXJSkill"
    IncludeData "JXJ/script/skill/SkillI.cfg"
	Handle {
        MsgParam "WCH_USER+81"//WCH_TargetExtra
        MsgParam "0"//WCH_Server
        Driver {
            Class "MoreSlot"
			Method {
				Class "ExtraLifeTime"
				Param "1.5"//持续时间
			}
			Method {
				Class "JXJExtraDamageAttack"
				Param "1"  //持续时间
				Param "7.04"
				Param "480"				
			}
        }
    }
	Handle {
        MsgParam "WCH_USER+81"//WCH_TargetExtra
        MsgParam "1"//WCH_Client
        Driver {
            Class "MoreSlot"
			Method {
				Class "ExtraLifeTime"
				Param "1.5"//持续时间
			}
			Method {
				Class "JXJExtraDamageAttack"
				Param "1"  //持续时间
				Param "7.04"
				Param "480"				
			}				
        }
    }	
	Handle {
        MsgParam "WCH_USER+58"//WCH_NodeCollideWithItem
        MsgParam "NULL"
        Driver {
            Class "OneSlot"
            Logic {
                Class "Switch"
                Method {
                    Class "JXJGetImmuno"
                }
                Method {//0：无效
                    Class "Null"
                }
                Logic {//1：正常
                    Class "Switch"
                    Method {
                        Class "JXJGetHitType"
                    }
                    Logic {//0敌人
                        Class "ProxyArray"
                        Method {
                            Class  "JXJSkillDamage"
                        }
						Logic {//受击方兵种判断
							Class "IF_ELSE"
							Method {
								Class "JXJHitArmyAbstractIDCheck"
								Param "20503|30004"
							}
							Method {
								Class  "JXJTargetExtra"
							}
							Logic {//受击方BUF判断
								Class "IF_ELSE"
								Method {
									Class "JXJIsGainExtra"  
									Param "1"											
									Param "1030|1031|1032|1033|1034|1035|1036|1037|1038|1039"
								}
								Method {
									Class "JXJTargetExtra"
								}
							}							
						}						
                    }
                }
                Logic {//2：物理免疫
					Class "Proxy"
                    Method {
                        Class "Null"
                    }                   
                }
                Logic {//3：魔法免疫
					Class "Switch"
                    Method {
                        Class "JXJGetHitType"
                    }
                    Logic {//0敌人
                        Class "ProxyArray"
                        Method {
                            Class  "JXJSkillDamage"
                        }
						Logic {//受击方兵种判断
							Class "IF_ELSE"
							Method {
								Class "JXJHitArmyAbstractIDCheck"
								Param "20503|30004"
							}
							Method {
								Class  "JXJTargetExtra"
							}
							Logic {//受击方BUF判断
								Class "IF_ELSE"
								Method {
									Class "JXJIsGainExtra"  
									Param "1"											
									Param "1030|1031|1032|1033|1034|1035|1036|1037|1038|1039"
								}
								Method {
									Class "JXJTargetExtra"
								}
							}							
						}						
                    }	
                }
            }
        }
    }
	Handle {
        MsgParam "WCH_USER+83"//WCH_UserExtra
        MsgParam "0"//WCH_Server
        Driver {
            Class "MoreSlot"
            Logic {//兵种判断
                Class "Switch"
                Method {
                    Class "JXJArmyTypeCheck"
                }
                Logic {//
					Class "Proxy"
					Method {
						Class "ExtraLifeTime"
						Param "0.1"//持续时间
					}
				}
                Logic {//弓兵
					Class "ProxyArray"
					Method {
						Class "ExtraLifeTime"
						Param "10.5"
					}
					Method {
						Class "JXJExtraGuise"
						Param "10.5"//持续时间
						Param "25"
					}
				}
                Logic {//
					Class "Proxy"
					Method {
						Class "ExtraLifeTime"
						Param "0.1"//持续时间
					}
				}
                Logic {//器械
                    Class "ProxyArray"
					Method {
						Class "ExtraLifeTime"
						Param "10.5"
					}
                    Method {
                        Class "JXJExtraAttackSpeed"
                        Param "10.5"//持续时间
                        Param "1000"
                    }
				}
            }
        }
    }
    Handle {
        MsgParam "WCH_USER+83"//WCH_UserExtra
        MsgParam "1"//WCH_Client
        Driver {
            Class "MoreSlot"
            Logic {//兵种判断
                Class "Switch"
                Method {
                    Class "JXJArmyTypeCheck"
                }
                Logic {//
					Class "Proxy"
					Method {
						Class "ExtraLifeTime"
						Param "0.1"//持续时间
					}
				}
                Logic {//弓兵
					Class "ProxyArray"
					Method {
						Class "ExtraLifeTime"
						Param "10.5"
					}
					Method {
						Class "JXJExtraGuise"
						Param "10.5"//持续时间
						Param "25"
					}
				}
                Logic {//
					Class "Proxy"
					Method {
						Class "ExtraLifeTime"
						Param "0.1"//持续时间
					}
				}
                Logic {//器械
                    Class "ProxyArray"
					Method {
						Class "ExtraLifeTime"
						Param "10.5"
					}
                    Method {
                        Class "JXJExtraAttackSpeed"
                        Param "10.5"//持续时间
                        Param "1000"
                    }
                    Logic {//目标特效
                        Class "ExtraEffect"
                        Logic {
                            Class "PlaySceneFx"
                            Param "134,data/JXJEffect/Eft_Buff_Gongsu_01.cre"
                            Param "135,10.5"
                            Param "138,BBOX_CENTER"//boneName
                            Param "139,0,0,0"//offset
                            Param "140,1,1,1"//scale
                            Param "141,0"//rotAngle
                            Method {
                                Class "LoadAndCloneNode"
                            }
                            Logic {
                                Class "PlaceLoadedNode2"
                                Method {
                                    Class "ConvertToTransform"
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
