# Creature3D Script Parser v1.0
 
Data {
    Class "JXJSkill"
    IncludeData "JXJ/script/skill/SkillI.cfg"
    Handle {
        MsgParam "WCH_USER+350"//WCH_PlayUseItemFx
        MsgParam "NULL"
        Driver {
            Class "OneSlot"
			Logic {//目标特效
				Class "ParamItemEffect"
				Param "0,0,0"//offset
				Param "1"//是否绑定在施法者身上
				Logic {
					Class "PlaySceneFx"
					Param "414,7"//动作
					Param "413,1"//重置
					Param "134,data/JXJEffect/Eft_Buff_CD_01.cre"
					Param "138,BBOX_CENTER"//boneName
					Param "139,0,0,0"//offset
					Param "140,1,1,1"//scale
					Param "141,0"//rotAngle
					Method {
						Class "LoadAndCloneNode"
					}
					Logic {
						Class "PlaceLoadedNode2"
						Method {
							Class "ConvertToTransform"
						}
					}
				}
			}			
        }
    }
}
