# Creature3D Script Parser v1.0
 
Data {
    Class "JXJSkill"
    IncludeData "JXJ/script/skill/SkillI.cfg"
    Handle {
        MsgParam "WCH_USER+83"//WCH_UserExtra
        MsgParam "0"//WCH_Server
        Driver {
            Class "MoreSlot"
            Logic {//兵种判断
                Class "Switch"
                Method {
                    Class "JXJArmyTypeCheck"
                }
                Logic {//步兵
                    Class "Proxy"
                    Method {
						Class "ExtraLifeTime"
						Param "0.1"
					}
                }
                Logic {//弓兵
                    Class "ProxyArray"
					Method {
						Class "ExtraLifeTime"
						Param "10"
					}
                    Method {
                        Class "JXJExtraAttackPercent"
                        Param "10"//持续时间
                        Param "1300"
                    }
                    Method {
                        Class "JXJExtraAttackSpeed"
                        Param "10"//持续时间
                        Param "700"
                    }					
                }
				Logic {//骑兵
                    Class "Proxy"
                    Method {
						Class "ExtraLifeTime"
						Param "0.1"
					}
                }
				Logic {//器械
                    Class "Proxy"
                    Method {
						Class "ExtraLifeTime"
						Param "0.1"
					}
                }
            }
        }
    }
    Handle {
        MsgParam "WCH_USER+83"//WCH_UserExtra
        MsgParam "1"//WCH_Client
        Driver {
            Class "MoreSlot"
            Logic {//兵种判断
                Class "Switch"
                Method {
                    Class "JXJArmyTypeCheck"
                }
                Logic {//步兵
                    Class "Proxy"
                    Method {
						Class "ExtraLifeTime"
						Param "0.1"
					}
                }
                Logic {//弓兵
                    Class "ProxyArray"
					Method {
						Class "ExtraLifeTime"
						Param "10"
					}
                    Method {
                        Class "JXJExtraAttackPercent"
                        Param "10"//持续时间
                        Param "1300"
                    }
                    Method {
                        Class "JXJExtraAttackSpeed"
                        Param "10"//持续时间
                        Param "700"
                    }					
                    Logic {//目标特效
                        Class "ExtraEffect"
                        Logic {
                            Class "PlaySceneFx"
                            Param "134,data/JXJEffect/Eft_Dbuff_Xiahouyuan_01.cre"
                            Param "135,10"
                            Param "138,BBOX_CENTER"//boneName
                            Param "139,0,0,0"//offset
                            Param "140,1,1,1"//scale
                            Param "141,0"//rotAngle
                            Method {
                                Class "LoadAndCloneNode"
                            }
                            Logic {
                                Class "PlaceLoadedNode2"
                                Method {
                                    Class "ConvertToTransform"
                                }
                            }
                        }
                    }
                }
				Logic {//骑兵
                    Class "Proxy"
                    Method {
						Class "ExtraLifeTime"
						Param "0.1"
					}
                }
				Logic {//器械
                    Class "Proxy"
                    Method {
						Class "ExtraLifeTime"
						Param "0.1"
					}
                }
            }
        }
    }
}
