# Creature3D Script Parser v1.0
 
Data {
    Class "JXJSkill"
    IncludeData "JXJ/script/skill/SkillI.cfg"
    Handle {
        MsgParam "WCH_USER+81"//WCH_TargetExtra
        MsgParam "0"//WCH_Server
        Driver {
            Class "MoreSlot"
            Logic {//±øÖÖ¼ì²â
                Class "Switch"
                Method {
                    Class "JXJArmyTypeCheck"
                }
                Method {//²½±ø
                    Class "Null"
                }
                Logic {//¹­±ø
                    Class "ProxyArray"
                    Method {
                        Class "ExtraLifeTime"
                        Param "0.01"
                    }
                    Method {
                        Class "JXJExtraDamageAttackOnce"
                        Param "0.2"
                    }
                }
            }
        }
    }
    Handle {
        MsgParam "WCH_USER+118"//WCH_AttackExtraTest
        MsgParam "NULL"
        Driver {
            Class "OneSlot"
            Method {
                Class "JXJTargetExtra"
            }
        }
    }
}
