# Creature3D Script Parser v1.0
 
Data {
    Class "JXJSkill"
    IncludeData "JXJ/script/skill/SkillI.cfg"
    Handle {
        MsgParam "WCH_USER+83"//WCH_UserExtra
        MsgParam "0"//WCH_Server
        Driver {
            Class "MoreSlot"
            Method {
                Class "ExtraLifeTime"
                Param "7"
            }
			Method {
				Class "JXJExtraGuise"
				Param "0.2"//持续时间
				Param "26"
			}			
            Method {
				Class "JXJExtraShifting"
				Param "0.2"//持续时间
				Param "200"//movespeed
				Param "3"//0:向外,1:向内,2:混乱移动,3:朝目标点移动
				Param "1"//跳跃动作					
				Param "0"//向外移动的最大距离限制,只有m_flg=0的时候有效	
				Param "1"//忽视地形				
            }
			Method {
				Class "JXJExtraGuise"
				Param "7"//持续时间
				Param "30"
			}
			Method {
				Class "JXJExtraAttackSpeed"
				Param "7"//持续时间
				Param "700"
			}	
			Method {//延迟控制
				Class "JXJExtraDelayControl"
				Param "0.4"//持续时间
			}			
			Method {
				Class "JXJExtraDHalo"
				Param "0.1"//
				Param "5"//半径
				Param "1008"//haloExtraID
				Param "0.1"//shootInterval
			}			
        }
    }
    Handle {
        MsgParam "WCH_USER+83"//WCH_UserExtra
        MsgParam "1"//WCH_Client
        Driver {
            Class "MoreSlot"
            Method {
                Class "ExtraLifeTime"
                Param "7"
            }
			Method {
				Class "JXJExtraGuise"
				Param "0.2"//持续时间
				Param "26"
			}			
            Method {
				Class "JXJExtraShifting"
				Param "0.2"//持续时间
				Param "200"//movespeed
				Param "3"//0:向外,1:向内,2:混乱移动,3:朝目标点移动
				Param "1"//跳跃动作					
				Param "0"//向外移动的最大距离限制,只有m_flg=0的时候有效	
				Param "1"//忽视地形				
            }
			Method {
				Class "JXJExtraGuise"
				Param "7"//持续时间
				Param "30"
			}
			Method {
				Class "JXJExtraAttackSpeed"
				Param "7"//持续时间
				Param "700"
			}			
            Logic {//目标特效
                Class "ExtraEffect"
                Logic {
                    Class "PlaySceneFx"
                    Param "134,data/JXJEffect/Eft_Wushen_Buff_02.cre"
                    Param "135,7"
                    Param "138,BBOX_CENTER"//boneName
                    Param "139,0,0,0"//offset
                    Param "140,1,1,1"//scale
                    Param "141,0"//rotAngle
                    Method {
                        Class "LoadAndCloneNode"
                    }
                    Logic {
                        Class "PlaceLoadedNode2"
                        Method {
                            Class "ConvertToTransform"
                        }
                    }
                }
            }
        }
    }
}
