# Creature3D Script Parser v1.0
 
Data {
    Class "JXJSkill"
    IncludeData "JXJ/script/skill/SkillI.cfg"
	Handle {
        MsgParam "WCH_USER+336"//WCH_EquipExtra
        MsgParam "0"//WCH_Server
        Driver {
		    Class "MoreSlot"
            Logic {//
                Class "Switch"
                Method {
                    Class  "JXJArmyTypeCheck"
                }
				Logic {//步兵
					Class "Proxy"
					Method {
						Class "ExtraLifeTime"
						Param "0.1"
					}
				}
				Logic {//弓兵
					Class "Proxy"
					Method {
						Class "ExtraLifeTime"
						Param "0.1"
					}
				}
				Logic {//骑兵
					Class "ProxyArray"
					Method {
						Class "ExtraLifeTime"
						Param "0"
					}
					Method {
						Class "JXJExtraGuise"
						Param "0"//持续时间
						Param "27"
					}	
				}	
				Logic {//器械
					Class "Proxy"
					Method {
						Class "ExtraLifeTime"
						Param "0.1"
					}
				}
            }		
        }
    }
    Handle {
        MsgParam "WCH_USER+336"//WCH_EquipExtra
        MsgParam "1"//WCH_Client
        Driver {
            Class "NodeMoreSlot"
            Logic {//
                Class "Switch"
                Method {
                    Class  "JXJArmyTypeCheck"
                }
				Logic {//步兵
					Class "Proxy"
					Method {
						Class "ExtraLifeTime"
						Param "0.1"
					}
				}
				Logic {//弓兵
					Class "Proxy"
					Method {
						Class "ExtraLifeTime"
						Param "0.1"
					}
				}
				Logic {//骑兵
					Class "ProxyArray"
					Method {
						Class "ExtraLifeTime"
						Param "0"
					}
					Method {
						Class "JXJExtraGuise"
						Param "0"//持续时间
						Param "27"
					}	
					Logic {//目标特效
						Class "ExtraEffect"
						Logic {
							Class "PlaySceneFx"
							Param "134,data/JXJEffect/Eft_Buff_Zhoutai_01.cre"
							Param "135,0"
							Param "138,Bip01 R Hand"//boneName
							Param "139,0,0,0"//offset
							Param "140,1,1,1"//scale
							Param "141,0"//rotAngle
							Method {
								Class "LoadAndCloneNode"
							}
							Logic {
								Class "PlaceLoadedNode2"
								Method {
									Class "ConvertToTransform"
								}
							}
						}
					}					
                }
				Logic {//器械
					Class "Proxy"
					Method {
						Class "ExtraLifeTime"
						Param "0.1"
					}
				}				
            }
        }
    }
    Handle {
        MsgParam "WCH_USER+118"//WCH_AttackExtraTest普通攻击检测
        MsgParam "NULL"
        Driver {
            Class "MoreSlot"
			Method {
				Class "JXJBackstabExtraAttack"//背刺状态
			}
            Logic {
                Class "Switch"
                Method {
                    Class "JXJGetImmuno"
                }
                Method {//0：无效
                    Class "Null"
                }
                Logic {//1：正常
                    Class "Switch"
                    Method {
                        Class "JXJGetHitType"
                    }
                    Logic {//0敌人
                        Class  "IF_ELSE"
                        Method {
                            Class "JXJEquipAttackExtraTest"
                            Param "100"//触发概率
                        }
                        Method {
                            Class "JXJTargetExtra"
                        }
                    }
                }
                Logic {//2：物理免疫
                    Class "Null"
                }
                Logic {//3：魔法免疫
                    Class "Switch"
                    Method {
                        Class "JXJGetHitType"
                    }
                    Logic {//0敌人
                        Class "IF_ELSE"
                        Method {
                          Class "JXJEquipAttackExtraTest"
                            Param "100"
                        }
                        Method {
                            Class "JXJTargetExtra"
                        }
                    }
                }
            }
        }
    }
	Handle {
        MsgParam "WCH_USER+81"//WCH_TargetExtra
        MsgParam "0"//WCH_Server
        Driver {
            Class "MoreSlot"
			Method {
				Class "ExtraLifeTime"
				Param "1"//持续时间
			}
			Method {
				Class "JXJExtraDamageAttack"
				Param "1"//持续时间
				Param "0.7"
			}					
        }
    }
    Handle {
        MsgParam "WCH_USER+81"//WCH_TargetExtra
        MsgParam "1"//WCH_Client
        Driver {
            Class "NodeMoreSlot"			
			Method {
				Class "ExtraLifeTime"
				Param "1"//持续时间
			}
			Method {
				Class "JXJExtraDamageAttack"
				Param "1"//持续时间
				Param "0.7"
			}					
			Logic {//目标特效
				Class "ExtraEffect"
				Logic {
					Class "PlaySceneFx"
					Param "134,data/JXJEffect/Eft_Putong_Shouji_02.cre"
					Param "135,1.0"
					Param "138,BBOX_CENTER"//boneName
					Param "139,0,0,0"//offset
					Param "140,1,1,1"//scale
					Param "141,0"//rotAngle
					Method {
						Class "LoadAndCloneNode"
					}
					Logic {
						Class "PlaceLoadedNode2"
						Method {
							Class "ConvertToTransform"
						}
					}
				}
			}							
        }
    }
}
