# Creature3D Script Parser v1.0
 
Data {
    Class "JXJSkill"
    IncludeData "JXJ/script/skill/SkillI.cfg"
    Handle {
        MsgParam "WCH_USER+81"//WCH_TargetExtra
        MsgParam "0"//WCH_Server
        Driver {
            Class "MoreSlot"
            Logic {//條笱潰聆
                Class "Switch"
				Method {
					Class  "JXJArmyTypeCheck"
				}
				Method {//祭條
					Class "Null"
				}
				Method {//僮條
					Class "Null"
				}
				Logic {//る條
					Class "ProxyArray"
					Method {
						Class "ExtraLifeTime"
						Param "2"
					}
					Method {
						Class "JXJExtraMoveSpeedPercent"
						Param "2"
						Param "-400"
					}
				}				
            }
        }
    }
	Handle {
        MsgParam "WCH_USER+81"//WCH_TargetExtra
        MsgParam "1"//WCH_Client
        Driver {
            Class "MoreSlot"
            Logic {//條笱潰聆
                Class "Switch"
				Method {
					Class  "JXJArmyTypeCheck"
				}
				Method {//祭條
					Class "Null"
				}
				Method {//僮條
					Class "Null"
				}
				Logic {//る條
					Class "ProxyArray"
					Method {
						Class "ExtraLifeTime"
						Param "2"
					}
					Method {
						Class "JXJExtraMoveSpeedPercent"
						Param "2"
						Param "-400"
					}
					Logic {//醴梓杻虴
						Class "ExtraEffect"
						Logic {
							Class "PlaySceneFx"
							Param "134,data/JXJEffect/Eft_buff_Fazheng_01.cre"
							Param "135,2"
							Param "138,BBOX_CENTER"//boneName
							Param "139,0,0,0"//offset
							Param "140,1,1,1"//scale
							Param "141,0"//rotAngle
							Method {
								Class "LoadAndCloneNode"
							}
							Logic {
								Class "PlaceLoadedNode2"
								Method {
									Class "ConvertToTransform"
								}
							}
						}
					}					
				}				
            }
        }
    }	
    Handle {
        MsgParam "WCH_USER+118"//WCH_AttackExtraTest
        MsgParam "NULL"
        Driver {
            Class "MoreSlot"
            Logic {
                Class  "Switch"
                Method {
                    Class "JXJFireArmyTypeCheck"
                }
                Method {//0祭條
                    Class "JXJTargetExtra"
                }	
            }
        }
    }	
}
