# Creature3D Script Parser v1.0
 
Data {
    Class "JXJSkill"
    IncludeData "JXJ/script/skill/SkillI.cfg"
	Param "21373,5"		
    Handle {
        MsgParam "WCH_USER+340"//WCH_HitExtraTest 被攻击检测
        MsgParam "NULL"
        Driver {
            Class "MoreSlot"
			Logic {
				Class "IF_ELSE"
				Method {
					Class "JXJInParryTest"//格挡状态
					Param "0"//被击
				}
				Method {
					Class "Null"
				}
				Logic {//			
					Class  "IF_ELSE"
					Method {
						Class "JXJDices"
						Param "30"						
					}				
					Method {
						Class "JXJUserExtra"
					}
				}				
			}				
        }
    }
    Handle {
        MsgParam "WCH_USER+83"//WCH_UserExtra
        MsgParam "0"//WCH_Server
        Driver {
            Class "MoreSlot"
            Method {
                Class "ExtraLifeTime"
                Param "9"
            }
            Method {
                Class "JXJExtraAttackPercent"
                Param "0"//持续时间
                Param "260"
            }
            Method {
                Class "JXJExtraCritPercent"
                Param "0"//持续时间
                Param "500"
            }			
        }
    }
    Handle {
        MsgParam "WCH_USER+83"//WCH_UserExtra
        MsgParam "1"//WCH_Client
        Driver {
            Class "MoreSlot"
            Method {
                Class "ExtraLifeTime"
                Param "9"
            }
            Method {
                Class "JXJExtraAttackPercent"
                Param "0"//持续时间
                Param "260"
            }
            Method {
                Class "JXJExtraCritPercent"
                Param "0"//持续时间
                Param "500"
            }	
            Logic {//目标特效
                Class "ExtraEffect"
                Logic {
                    Class "PlaySceneFx"
                    Param "134,data/JXJEffect/Eft_Buff_Zhoutai_01.cre"
                    Param "135,0"
                    Param "138,BBOX_CENTER"//boneName
                    Param "139,0,0,0"//offset
                    Param "140,1,1,1"//scale
                    Param "141,0"//rotAngle
                    Method {
                        Class "LoadAndCloneNode"
                    }
                    Logic {
                        Class "PlaceLoadedNode2"
                        Method {
                            Class "ConvertToTransform"
                        }
                    }
                }
            }
        }
    }
}
