# Creature3D Script Parser v1.0
 
Data {
    Class "JXJSkill"
    IncludeData "JXJ/script/skill/SkillI.cfg"
    Handle {
        MsgParam "WCH_USER+118"//WCH_AttackExtraTest
        MsgParam "NULL"
        Driver {
            Class "MoreSlot"
            Logic {
                Class  "IF_ELSE"
                 Method {
                    Class "JXJEquipAttackExtraTest"
                    Param "30"
                }
                Method {
					Class "JXJHitParamRTMP"
					Param "0"
					Param "25"//Ê¿ÆøÖµ
				}
				Method {
					Class "JXJClearTargetExtra"
					Param "1"
				}	
            }
        }
    }
}
