# Creature3D Script Parser v1.0

Data {
    Class "JXJSkill"
	IncludeData "JXJ/script/skill/SkillI.cfg"
    Handle {
        MsgParam "WCH_USER+81"//WCH_TargetExtra
        MsgParam "0"//WCH_Server
        Driver {
            Class "MoreSlot"
            Method {
                Class "ExtraLifeTime"
                Param "1"
            }
			Logic {
				Class "IF_ELSE"			
				Method {
					Class "JXJExtraIsPlayer" //True玩家，False是NPC
				}
				Method {
					Class "Null"
				}
				Method {
					Class "JXJExtraDamageAttackOnce"
					Param "2.72"
					Param "149600"					
				}
			}
        }
    }	
	Handle {
		MsgParam "WCH_USER+58"//WCH_NodeCollideWithItem
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Logic {
				Class "Switch"
				Method {
					Class "JXJGetImmuno"
				}
				Method {//0：无效
					Class "Null"
				}
				Logic {//1：正常
					Class "ProxyArray"
					Method {
						Class "JXJSkillDamage"
					}
					Method {
						Class  "JXJTargetExtra"
					}
					Logic {//攻击方BUF判断				
						Class "IF_ELSE"
						Method {
							Class "JXJFireEquipCardCheck"							
							Param "23190"
						}
						Logic {//受击方血量判断				
							Class "IF_ELSE"	
							Method {
								Class "JXJHpPercentLesser"							
								Param "1"
								Param "0.2"								
							}							
							Method {
								Class "JXJHitDamageAttack"
								Param "0.2"//百分比
								Param "1000"									
							}
						}	
					}	
					Logic {//攻击方BUF判断				
						Class "IF_ELSE"
						Method {
							Class "JXJFireEquipCardCheck"							
							Param "23191"
						}
						Logic {//受击方血量判断				
							Class "IF_ELSE"	
							Method {
								Class "JXJHpPercentLesser"							
								Param "1"
								Param "0.25"								
							}							
							Method {
								Class "JXJHitDamageAttack"
								Param "0.3"//百分比
								Param "1000"									
							}
						}	
					}
					Logic {//攻击方BUF判断				
						Class "IF_ELSE"
						Method {
							Class "JXJFireEquipCardCheck"							
							Param "23192"
						}
						Logic {//受击方血量判断				
							Class "IF_ELSE"	
							Method {
								Class "JXJHpPercentLesser"							
								Param "1"
								Param "0.3"								
							}							
							Method {
								Class "JXJHitDamageAttack"
								Param "0.4"//百分比
								Param "1000"									
							}
						}	
					}
					Logic {//攻击方BUF判断				
						Class "IF_ELSE"
						Method {
							Class "JXJFireEquipCardCheck"							
							Param "23193"
						}
						Logic {//受击方血量判断				
							Class "IF_ELSE"	
							Method {
								Class "JXJHpPercentLesser"							
								Param "1"
								Param "0.35"								
							}							
							Method {
								Class "JXJHitDamageAttack"
								Param "0.5"//百分比
								Param "1000"									
							}
						}	
					}
					Logic {//攻击方BUF判断				
						Class "IF_ELSE"
						Method {
							Class "JXJFireEquipCardCheck"							
							Param "23194"
						}
						Logic {//受击方血量判断				
							Class "IF_ELSE"	
							Method {
								Class "JXJHpPercentLesser"							
								Param "1"
								Param "0.4"								
							}							
							Method {
								Class "JXJHitDamageAttack"
								Param "0.6"//百分比
								Param "1000"									
							}
						}	
					}
					Logic {//攻击方BUF判断				
						Class "IF_ELSE"
						Method {
							Class "JXJFireEquipCardCheck"							
							Param "23195"
						}
						Logic {//受击方血量判断				
							Class "IF_ELSE"	
							Method {
								Class "JXJHpPercentLesser"							
								Param "1"
								Param "0.45"								
							}							
							Method {
								Class "JXJHitDamageAttack"
								Param "0.7"//百分比
								Param "1000"									
							}
						}	
					}
					Logic {//攻击方BUF判断				
						Class "IF_ELSE"
						Method {
							Class "JXJFireEquipCardCheck"							
							Param "23196"
						}
						Logic {//受击方血量判断				
							Class "IF_ELSE"	
							Method {
								Class "JXJHpPercentLesser"							
								Param "1"
								Param "0.5"								
							}							
							Method {
								Class "JXJHitDamageAttack"
								Param "0.8"//百分比
								Param "1000"									
							}
						}	
					}
					Logic {//攻击方BUF判断				
						Class "IF_ELSE"
						Method {
							Class "JXJFireEquipCardCheck"							
							Param "23197"
						}
						Logic {//受击方血量判断				
							Class "IF_ELSE"	
							Method {
								Class "JXJHpPercentLesser"							
								Param "1"
								Param "0.55"								
							}							
							Method {
								Class "JXJHitDamageAttack"
								Param "1"//百分比
								Param "1000"									
							}
						}	
					}					
				}
				Logic {//2：物理免疫
					Class "ProxyArray"
					Method {
						Class "JXJSkillDamage"
					}
					Method {
						Class  "JXJTargetExtra"
					}
					Logic {//攻击方BUF判断				
						Class "IF_ELSE"
						Method {
							Class "JXJFireEquipCardCheck"							
							Param "23190"
						}
						Logic {//受击方血量判断				
							Class "IF_ELSE"	
							Method {
								Class "JXJHpPercentLesser"							
								Param "1"
								Param "0.2"								
							}							
							Method {
								Class "JXJHitDamageAttack"
								Param "0.2"//百分比
								Param "1000"									
							}
						}	
					}	
					Logic {//攻击方BUF判断				
						Class "IF_ELSE"
						Method {
							Class "JXJFireEquipCardCheck"							
							Param "23191"
						}
						Logic {//受击方血量判断				
							Class "IF_ELSE"	
							Method {
								Class "JXJHpPercentLesser"							
								Param "1"
								Param "0.25"								
							}							
							Method {
								Class "JXJHitDamageAttack"
								Param "0.3"//百分比
								Param "1000"									
							}
						}	
					}
					Logic {//攻击方BUF判断				
						Class "IF_ELSE"
						Method {
							Class "JXJFireEquipCardCheck"							
							Param "23192"
						}
						Logic {//受击方血量判断				
							Class "IF_ELSE"	
							Method {
								Class "JXJHpPercentLesser"							
								Param "1"
								Param "0.3"								
							}							
							Method {
								Class "JXJHitDamageAttack"
								Param "0.4"//百分比
								Param "1000"									
							}
						}	
					}
					Logic {//攻击方BUF判断				
						Class "IF_ELSE"
						Method {
							Class "JXJFireEquipCardCheck"							
							Param "23193"
						}
						Logic {//受击方血量判断				
							Class "IF_ELSE"	
							Method {
								Class "JXJHpPercentLesser"							
								Param "1"
								Param "0.35"								
							}							
							Method {
								Class "JXJHitDamageAttack"
								Param "0.5"//百分比
								Param "1000"									
							}
						}	
					}
					Logic {//攻击方BUF判断				
						Class "IF_ELSE"
						Method {
							Class "JXJFireEquipCardCheck"							
							Param "23194"
						}
						Logic {//受击方血量判断				
							Class "IF_ELSE"	
							Method {
								Class "JXJHpPercentLesser"							
								Param "1"
								Param "0.4"								
							}							
							Method {
								Class "JXJHitDamageAttack"
								Param "0.6"//百分比
								Param "1000"									
							}
						}	
					}
					Logic {//攻击方BUF判断				
						Class "IF_ELSE"
						Method {
							Class "JXJFireEquipCardCheck"							
							Param "23195"
						}
						Logic {//受击方血量判断				
							Class "IF_ELSE"	
							Method {
								Class "JXJHpPercentLesser"							
								Param "1"
								Param "0.45"								
							}							
							Method {
								Class "JXJHitDamageAttack"
								Param "0.7"//百分比
								Param "1000"									
							}
						}	
					}
					Logic {//攻击方BUF判断				
						Class "IF_ELSE"
						Method {
							Class "JXJFireEquipCardCheck"							
							Param "23196"
						}
						Logic {//受击方血量判断				
							Class "IF_ELSE"	
							Method {
								Class "JXJHpPercentLesser"							
								Param "1"
								Param "0.5"								
							}							
							Method {
								Class "JXJHitDamageAttack"
								Param "0.8"//百分比
								Param "1000"									
							}
						}	
					}
					Logic {//攻击方BUF判断				
						Class "IF_ELSE"
						Method {
							Class "JXJFireEquipCardCheck"							
							Param "23197"
						}
						Logic {//受击方血量判断				
							Class "IF_ELSE"	
							Method {
								Class "JXJHpPercentLesser"							
								Param "1"
								Param "0.55"								
							}							
							Method {
								Class "JXJHitDamageAttack"
								Param "1"//百分比
								Param "1000"									
							}
						}	
					}					
				}
				Logic {//3：魔法免疫
					Class "Proxy"
					Method {
						Class "Null"
					}
				}
			}
		}
	}
}
