# Creature3D Script Parser v1.0
 
Data {
    Class "JXJSkill"
    IncludeData "JXJ/script/skill/SkillI.cfg"
    Handle {
        MsgParam "WCH_USER+81"//WCH_TargetExtra
        MsgParam "0"//WCH_Server
        Driver {
            Class "MoreSlot"
            Logic {//
				Class "ProxyArray"
				Method {
					Class "ExtraLifeTime"
					Param "1"
				}
				Method {
					Class "JXJExtraGuise"
					Param "1"//持续时间
					Param "4"
				}
				Method {
					Class "JXJExtraMoveSpeedPercent"
					Param "1"//持续时间
					Param "-1000"
				}
				Method {
					Class "JXJExtraCritPercent"
					Param "1"//持续时间
					Param "1000"
				}				
            }
        }
    }
    Handle {
        MsgParam "WCH_USER+81"//WCH_TargetExtra
        MsgParam "1"//WCH_Client
        Driver {
            Class "NodeMoreSlot"
            Logic {//
				Class "ProxyArray"
				Method {
					Class "ExtraLifeTime"
					Param "1"
				}
				Method {
					Class "JXJExtraGuise"
					Param "1"//持续时间
					Param "4"
				}
				Method {
					Class "JXJExtraMoveSpeedPercent"
					Param "1"//持续时间
					Param "-1000"
				}
				Method {
					Class "JXJExtraCritPercent"
					Param "1"//持续时间
					Param "1000"
				}				
				Logic {//目标特效
					Class "ExtraEffect"
					Logic {
						Class "PlaySceneFx"
						Param "134,data/JXJEffect/Eft_Buff_Zhenshi_01.cre"
						Param "135,1"
						Param "138,BBOX_TOP"//boneName
						Param "139,0,0,0"//offset
						Param "140,1,1,1"//scale
						Param "141,0"//rotAngle
						Method {
							Class "LoadAndCloneNode"
						}
						Logic {
							Class "PlaceLoadedNode2"
							Method {
								Class "ConvertToTransform"
							}
						}
					}
				}
            }
        }
    }
    Handle {
        MsgParam "WCH_USER+58"//WCH_NodeCollideWithItem
        MsgParam "NULL"
        Driver {
            Class "OneSlot"
            Logic {
                Class "Switch"
                Method {
                    Class "JXJGetImmuno"
                }
                Method {//0：无效
                    Class "Null"
                }
                Logic {//1：正常
                    Class "Switch"
                    Method {
                        Class "JXJGetHitType"
                    }
                    Method {//0敌人
                        Class "Null"
                    }
                    Method {//1队友
                        Class "Null"
                    }
                    Logic {//2自己
                        Class "Switch"
                        Method {
                            Class  "JXJHitArmyTypeCheck"
                        }
						Method {//步兵
							Class "Null"
						}						
                        Logic {
                            Class "Proxy"
                            Method {//弓兵
                                Class "JXJTargetExtra"
                            }
                        }
                        Logic {
                            Class "Proxy"
                            Method {//骑兵
                                Class "Null"
                            }
                        }
                        Logic {
                            Class "Proxy"
                            Method {//弓兵
                                Class "JXJTargetExtra"
                            }
                        }
                    }
				}
                Logic {//2：物理免疫
                    Class "Switch"
                    Method {
                        Class "JXJGetHitType"
                    }
                    Method {//0敌人
                        Class "Null"
                    }
                    Method {//1队友
                        Class "Null"
                    }
                    Logic {//2自己
                        Class "Switch"
                        Method {
                            Class  "JXJHitArmyTypeCheck"
                        }
						Method {//步兵
							Class "Null"
						}						
                        Logic {
                            Class "Proxy"
                            Method {//弓兵
                                Class "JXJTargetExtra"
                            }
                        }
                        Logic {
                            Class "Proxy"
                            Method {//骑兵
                                Class "Null"
                            }
                        }
                        Logic {
                            Class "Proxy"
                            Method {//弓兵
                                Class "JXJTargetExtra"
                            }
                        }
                    }
                }
                Logic {//3：魔法免疫
                    Class "Proxy"
                    Method {
                        Class "Null"
                    }
                }
            }
        }
    }
}
