# Creature3D Script Parser v1.0
 
Data {
    Class "JXJSkill"
    IncludeData "JXJ/script/skill/SkillI.cfg"
    Handle {
        MsgParam "WCH_USER+81"//WCH_TargetExtra
        MsgParam "0"//WCH_Server
        Driver {
            Class "MoreSlot"
            Logic {//
                Class "ProxyArray"
				Method {
					Class "ExtraLifeTime"
					Param "2"
				}
				Method {
					Class "JXJExtraDonotGetMP"
					Param "2"//持续时间
				}				
            }
        }
    }
    Handle {
        MsgParam "WCH_USER+81"//WCH_TargetExtra
        MsgParam "1"//WCH_Client
        Driver {
            Class "NodeMoreSlot"
            Logic {//
				Class "ProxyArray"
				Method {
					Class "ExtraLifeTime"
					Param "2"
				}
				Method {
					Class "JXJExtraDonotGetMP"
					Param "2"//持续时间
				}
				Logic {//目标特效
					Class "ExtraEffect"
					Logic {
						Class "PlaySceneFx"
						Param "134,data/JXJEffect/Eft_Dbuff_Kanze_01.cre"
						Param "135,2"
						Param "138,BBOX_CENTER"//boneName
						Param "139,0,0,0"//offset
						Param "140,1,1,1"//scale
						Param "141,0"//rotAngle
						Method {
							Class "LoadAndCloneNode"
						}
						Logic {
							Class "PlaceLoadedNode2"
							Method {
								Class "ConvertToTransform"
							}
						}
					}
				}
            }
        }
    }	
	Handle {
        MsgParam "WCH_USER+58"//WCH_NodeCollideWithItem
        MsgParam "NULL"
        Driver {
            Class "OneSlot"
            Logic {
                Class "Switch"
                Method {
                    Class "JXJGetImmuno"
                }
                Method {//0：无效
                    Class "Null"
                }
                Logic {//1：正常
                    Class "Switch"
                    Method {
                        Class "JXJGetHitType"
                    }
                    Logic {//0敌人
                        Class "ProxyArray"
                        Method {
                            Class  "JXJSkillDamage"
                        }
                        Method {
                            Class "JXJTargetExtra"
                        }						
                    }
                    Logic {//1队友
                        Class "Null"
                    }
                    Logic {//2自己
                        Class "Null"
                    }
                }
                Logic {//2：物理免疫
					Class "Switch"
                    Method {
                        Class "JXJGetHitType"
                    }
                    Logic {//0敌人
                        Class "ProxyArray"
                        Method {
                            Class  "JXJSkillDamage"
                        }
                        Method {
                            Class "JXJTargetExtra"
                        }						
					}
                    Logic {//1队友
                        Class "Null"
                    }
                    Logic {//2自己
                        Class "Null"
                    }                    
                }
                Logic {//3：魔法免疫
					Class "Proxy"
                    Method {
                        Class "Null"
                    }	
                }
            }
        }
    }
}
