# Creature3D Script Parser v1.0
 
Data {
    Class "JXJSkill"
    IncludeData "JXJ/script/skill/SkillI.cfg"	
    Handle {
        MsgParam "WCH_USER+336"//WCH_EquipExtra
        MsgParam "0"//WCH_Server
        Driver {
            Class "MoreSlot"
            Method {
                Class "ExtraLifeTime"
                Param "0"//持续时间
            }
			Logic {
                Class "JXJExtraOverlapHalo"
                Param "0"//持续时间
				Param "0.5"
				Method {
					Class "JXJExtraHpPercentCount"
					Param "0.09"
				}
				Method {
					Class "JXJExtraAttackSpeed"
					Param "0"//持续时间
					Param "60"
				}
				Method {
					Class "JXJExtraAttackPercent"
					Param "0"//持续时间
					Param "100"
				}
            }			
        }
    }
    Handle {
        MsgParam "WCH_USER+336"//WCH_EquipExtra
        MsgParam "1"//WCH_Client
        Driver {
            Class "NodeMoreSlot"
			Method {
                Class "ExtraLifeTime"
                Param "0"//持续时间
            }
			Logic {
                 Class "JXJExtraOverlapHalo"
                Param "0"//持续时间
				Param "0.5"
				Method {
					Class "JXJExtraHpPercentCount"
					Param "0.09"
				}
				Method {
					Class "JXJExtraAttackSpeed"
					Param "0"//持续时间
					Param "60"
				}
				Method {
					Class "JXJExtraAttackPercent"
					Param "0"//持续时间
					Param "100"
				}
            }			
        }
    }
    Handle {
        MsgParam "WCH_USER+83"//WCH_UserExtra
        MsgParam "0"//WCH_Server
        Driver {
            Class "MoreSlot"
            Method {
                Class "ExtraLifeTime"
                Param "3"//持续时间
            }
            Method {
                Class "JXJExtraDefendPercent"
                Param "3"//持续时间
                Param "400"
            }
        }
    }
    Handle {
        MsgParam "WCH_USER+83"//WCH_UserExtra
        MsgParam "1"//WCH_Client
        Driver {
            Class "NodeMoreSlot"
            Method {
                Class "ExtraLifeTime"
                Param "3"//持续时间
            }
            Method {
                Class "JXJExtraDefendPercent"
                Param "3"//持续时间
                Param "400"
            }
            Logic {//目标特效
                Class "ExtraEffect"
                Logic {
                    Class "PlaySceneFx"
                    Param "134,data/JXJEffect/Eft_buff_Hujia_01.cre"
                    Param "135,3"
                    Param "138,BBOX_CENTER"//boneName
                    Param "139,0,0,0"//offset
                    Param "140,1,1,1"//scale
                    Param "141,0"//rotAngle
                    Method {
                        Class "LoadAndCloneNode"
                    }
                    Logic {
                        Class "PlaceLoadedNode2"
                        Method {
                            Class "ConvertToTransform"
                        }
                    }
                }
            }
        }
    }
    Handle {
        MsgParam "WCH_USER+340"//WCH_HitExtraTest
        MsgParam "NULL"
        Driver {
            Class "MoreSlot"
			Logic {//buf判断
				Class "IF_ELSE"			
				Method {
					Class "JXJGuiseCheck"  
					Param "1"						
					Param "12"
				}
				Method {
					Class "JXJUserExtra"
				}
			}	
        }
    }	
}
