# Creature3D Script Parser v1.0
 
Data {
    Class "JXJSkill"
    IncludeData "JXJ/script/skill/SkillI.cfg"
    Handle {
        MsgParam "WCH_USER+83"//WCH_UserExtra
        MsgParam "0"//WCH_Server
        Driver {
            Class "MoreSlot"			
            Logic {
                Class  "IF_ELSE"
				Method {
					Class "JXJExtraArmyCheck"
					Param "10"//检测范围
					Param "10"//数量，大于返回true
					Param "2"//1队友 2敌人
					Param "2"//0:玩家，1:npc，2玩家或者npc	
					Param "5"//0:步兵，1弓兵?2骑兵?3器械?4建筑?5全部,?6和我同兵种 ，7和我不同兵种						
				}
                Logic {
					Class "ProxyArray"						
					Method {
						Class "ExtraLifeTime"
						Param "0.1"
					}				   
					Method {
						Class "JXJExtraHalo"
						Param "0.1"//持续时间
						Param "0"//半径
						Param "1380"//bufid
						param "0.1" //频率
					}					
				}				
			}	
        }
    }		
    Handle {
        MsgParam "WCH_USER+118"//WCH_AttackExtraTest
        MsgParam "NULL"
        Driver {
            Class "MoreSlot"
            Logic {
                Class  "IF_ELSE"
                Method {
                    Class "JXJHpPercentLesser"
					Param "0"
					Param "0.3"						
                }
				Method {
					Class "JXJUserExtra"
				}					
            }
        }
    }	
}
