# Creature3D Script Parser v1.0
 
Data {
    Class "JXJSkill"
    IncludeData "JXJ/script/skill/SkillI.cfg"
    Handle {
        MsgParam "WCH_USER+83"//WCH_UserExtra
        MsgParam "0"//WCH_Server
        Driver {
            Class "MoreSlot"
			Method {
				Class "ExtraLifeTime"
				Param "1"//持续时间
			}			
			Method {
				Class "JXJExtraGainMpPerTimer"
				Param "1"//持续时间
				Param "15"	
				Param "1"//间隔时间				
			}			
        }
    }
    Handle {
        MsgParam "WCH_USER+344"//WCH_KillExtraTest
        MsgParam "NULL"
        Driver {
            Class "MoreSlot"
            Method {
                Class "JXJUserExtra"
            }
			Method {
				Class "JXJClearSkillCD"
				Param "0"		
			}			
        }
    }
}
