# Creature3D Script Parser v1.0
 
Data {
    Class "JXJSkill"
    IncludeData "JXJ/script/skill/SkillI.cfg"
    Handle {
        MsgParam "WCH_USER+81"//WCH_TargetExtra
        MsgParam "0"//WCH_Server
        Driver {
            Class "MoreSlot"
			Method {
				Class "ExtraLifeTime"
				Param "1"
			}			
            Method {
				Class "JXJExtraDamageAttack"
                Param "1"	//持续时间
                Param "0.2"					
            }
        }
    }
    Handle {
        MsgParam "WCH_USER+118"//WCH_AttackExtraTest
        MsgParam "NULL"
        Driver {
            Class "MoreSlot"
			Logic {//张辽将卡检测			
				Class  "IF_ELSE"			
				Method {
					Class "JXJHitEquipCardCheck"
					Param "25090|25091|25092|25093|25094|25095|25096|25097|25098|25099"
				}
				Method {
					Class "JXJTargetExtra"
				}
			}			
        }
    }
}
