# Creature3D Script Parser v1.0
 
Data {
    Class "JXJSkill"
    IncludeData "JXJ/script/skill/SkillI.cfg"
    Handle {
        MsgParam "WCH_USER+83"//WCH_UserExtra
        MsgParam "0"//WCH_Server
        Driver {
            Class "MoreSlot"
			Method {
				Class "ExtraLifeTime"
				Param "0.1"//持续时间
			}			
			Method {
                Class "JXJExtraHalo"
                Param "0.1"//持续时间
                Param "8"//半径
				Param "1414"//bufid
				param "0.1" //频率
				param "1" //概率
				param "0" //0友方1己方				
            }
        }
    }
    Handle {
        MsgParam "WCH_USER+342"//WCH_UseSkillExtraTest
        MsgParam "NULL"
        Driver {
            Class "MoreSlot"
            Method {
				Class "JXJDices"
				Param "50"
			}
			Method {
				Class "JXJUserExtra"
			}
        }
    }
}
