# Creature3D Script Parser v1.0
 
Data {
    Class "JXJSkill"
    IncludeData "JXJ/script/skill/SkillI.cfg"
    Handle {
        MsgParam "WCH_USER+81"//WCH_TargetExtra
        MsgParam "0"//WCH_Server
        Driver {
            Class "MoreSlot"
			Method {
				Class "ExtraLifeTime"
				Param "1"
			}
            Method {
				Class "JXJExtraDamageAttack"
                Param "1"	//持续时间
                Param "1.3"					
            }
        }
    }
    Handle {
        MsgParam "WCH_USER+118"//WCH_AttackExtraTest
        MsgParam "NULL"
        Driver {
            Class "OneSlot"
			Logic {//buf判断
				Class "IF_ELSE"			
				Method {
					Class "JXJIsGainExtra"  
					Param "1"					
					Param "990|991|992|993|994|995|996|997|998|999|12600"
				}			
				Method {
					Class "JXJTargetExtra"
				}
			}	
        }
    }
}
