# Creature3D Script Parser v1.0
 
Data {
    Class "JXJSkill"
    IncludeData "JXJ/script/skill/SkillI.cfg"
    Handle {
        MsgParam "WCH_USER+83"//WCH_UserExtra
        MsgParam "0"//WCH_Server
        Driver {
            Class "MoreSlot"
			Method {
				Class "ExtraLifeTime"
				Param "1"//持续时间
			}			
			Method {
				Class "JXJClearTargetExtraPerTime"
				Param "1"// buf持续时间
				Param "1"
				Param "1" // buf 存在期间 每隔10秒 buf有效一次
			}
			Method {
				Class "JXJExtraCureHP"
				Param "1"//持续时间
				Param "1000"
				Param "0.11"				
			}			
        }
    }
    Handle {
        MsgParam "WCH_USER+342"//WCH_UseSkillExtraTest
        MsgParam "NULL"
        Driver {
            Class "MoreSlot"
			Method {
				Class "JXJUserExtra"
			}
        }
    }
}
