# Creature3D Script Parser v1.0
 
Data {
    Class "JXJSkill"
    IncludeData "JXJ/script/skill/SkillI.cfg"
 	Handle {
        MsgParam "WCH_USER+336"//WCH_EquipExtra
        MsgParam "0"//WCH_Server
        Driver {
		    Class "MoreSlot"
			Method {
				Class "ExtraLifeTime"
				Param "0"
			}
			Method {
				Class "JXJExtraGuise"
				Param "0"//持续时间
				Param "27"//背刺
			}	
		}
	}	
   Handle {
        MsgParam "WCH_USER+81"//WCH_TargetExtra
        MsgParam "0"//WCH_Server
        Driver {
            Class "MoreSlot"
			Method {
				Class "ExtraLifeTime"
				Param "1"
			}			
            Method {
				Class "JXJExtraDamageAttack"
                Param "1"	//持续时间
                Param "0.5"					
            }
        }
    }
	Handle {
        MsgParam "WCH_USER+83"//WCH_UserExtra
        MsgParam "0"//WCH_Server
        Driver {
            Class "MoreSlot"
			Method {
				Class "ExtraLifeTime"
				Param "5"
			}
			Method {
				Class "JXJExtraAttackSpeed"
				Param "5"//持续时间
				Param "700"
			}
		}
	}
    Handle {
        MsgParam "WCH_USER+83"//WCH_UserExtra
        MsgParam "1"//WCH_Client
        Driver {
            Class "MoreSlot"
			Method {
				Class "ExtraLifeTime"
				Param "5"
			}
			Method {
				Class "JXJExtraAttackSpeed"
				Param "5"//持续时间
				Param "700"
			}
			Logic {//目标特效
				Class "ExtraEffect"
				Logic {
					Class "PlaySceneFx"
					Param "134,data/JXJEffect/Eft_Buff_Gongsu_01.cre"
					Param "135,5"
					Param "138,BBOX_CENTER"//boneName
					Param "139,0,0,0"//offset
					Param "140,1,1,1"//scale
					Param "141,0"//rotAngle
					Method {
						Class "LoadAndCloneNode"
					}
					Logic {
						Class "PlaceLoadedNode2"
						Method {
							Class "ConvertToTransform"
						}
					}
				}
			}
		}
	}				
    Handle {
        MsgParam "WCH_USER+118"//WCH_AttackExtraTest
        MsgParam "NULL"
        Driver {
            Class "MoreSlot"
			Logic {//关羽将卡检测			
				Class  "IF_ELSE"			
				Method {
					Class "JXJHitEquipCardCheck"
					Param "26010|26011|26012|26013|26014|26015|26016|26017|26018|26019"
				}
				Method {
					Class "JXJTargetExtra"
				}
			}
			Logic {//背刺效果检测	
				Class "IF_ELSE"			
				Method {
					Class "JXJBackstabExtraAttack"//背刺状态
				}	
				Method {
					Class "Null"
				}					
				Method {
					Class "JXJUserExtra"
				}
			}			
        }
    }
}
