# Creature3D Script Parser v1.0
 
Data {
    Class "JXJSkill"
    IncludeData "JXJ/script/skill/SkillI.cfg"
    Handle {
        MsgParam "WCH_USER+118"//WCH_AttackExtraTest普通攻击检测
        MsgParam "NULL"
        Driver {
            Class "MoreSlot"
			Logic {//buf判断
				Class "IF_ELSE"			
				Method {
					Class "JXJGuiseCheck"  
					Param "0"						
					Param "12"
				}
				Method {
					Class "JXJHitCureHP"
					Param "0"//0:fireitem,1hititem
					Param "1000"//数值
					Param "0.11"//数值										
				}
			}	
        }
    }	
}
