# Creature3D Script Parser v1.0
 
Data {
    Class "JXJSkill"
    IncludeData "JXJ/script/skill/SkillI.cfg"
    Handle {
        MsgParam "WCH_USER+83"//WCH_UserExtra
        MsgParam "0"//WCH_Server
        Driver {
            Class "MoreSlot"
			Logic {
				Class "ProxyArray"			
				Method {
					Class "ExtraLifeTime"
					Param "1"//持续时间
				}
				Method {
					Class "JXJExtraCureHP"
					Param "1"//持续时间
					Param "1000"
					Param "1"					
				}
			}	
        }
    }
    Handle {
        MsgParam "WCH_USER+118"//WCH_AttackExtraTest
        MsgParam "NULL"
        Driver {
            Class "MoreSlot"
            Logic {
                Class  "IF_ELSE"
                Method {
                    Class "JXJHpPercentLesser"
					Param "0"
					Param "0.18"						
                }
				Logic {//			
					Class  "IF_ELSE"
					Method {
						Class "JXJEquipAttackExtraTimeLimitTest"
						Param "5"
						Param "50"	
					}
					Method {
						Class "JXJUserExtra"
					}
				}					
            }
        }
    }	
}
