# Creature3D Script Parser v1.0
 
Data {
    Class "JXJSkill"
    IncludeData "JXJ/script/skill/SkillI.cfg"
	Handle {
        MsgParam "WCH_USER+340"//WCH_HitExtraTest
        MsgParam "NULL"
        Driver {
            Class "MoreSlot"				
			Logic {//Ô¶³Ì¹¥»÷ÅÐ¶Ï
				Class "IF_ELSE"			
				Method {
					Class "JXJHitAttackDistCheck"
				}
				Method {
					Class "Null"
				}
				Logic {//¸ÅÂÊÅÐ¶Ï
					Class "IF_ELSE"			
					Method {
						Class "JXJDices"
                        Param "24"						
					}				
					Method {
						Class "JXJUserExtra"
					}
				}	
			}
        }
    }
	Handle {
        MsgParam "WCH_USER+83"//WCH_UserExtra
        MsgParam "0"//WCH_Server
        Driver {
            Class "OneSlot"
            Logic {//±øÖÖ¼ì²â
                Class "Switch"
                Method {
                    Class "JXJArmyTypeCheck"
                }
                Method {//²½±ø
                    Class "Null"
                }
                Method {//¹­±ø
                    Class "Null"
                }
                Logic {//Æï±ø
                    Class "ProxyArray"
                    Method {
                        Class "ExtraLifeTime"
                        Param "1"
                    }
					Method {
						Class "JXJExtraCureHP"
						Param "1"//³ÖÐøÊ±¼ä
						Param "1000"
						Param "0.02"				
					}
                }
            }
        }
    }	
}
