# Creature3D Script Parser v1.0

Data {
    Class "JXJSkill"
	IncludeData "JXJ/script/skill/SkillI.cfg"
	Handle {
		MsgParam "WCH_USER+81"//WCH_TargetExtra
		MsgParam "0"//WCH_Server
		Driver {
			Class "MoreSlot"
			Method {
				Class "ExtraLifeTime"
				Param "15.0"//持续时间
			}
			Method {
				Class "JXJExtraDamage"
				Param "15.0"//持续时间
				Param "100"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+81"//WCH_TargetExtra
		MsgParam "1"//WCH_Client
		Driver {
			Class "NodeMoreSlot"
			Method {
				Class "ExtraLifeTime"
				Param "15.0"//持续时间
			}
			Method {
				Class "JXJExtraDodgePercent"
				Param "15.0"//持续时间
				Param "100"
			}
			xLogic {//目标特效
				Class "ExtraEffect"
				Logic {
					Class "PlaySceneFx"
					Param "134,data/JXJEffect/Eft_huogong.cre"
					Param "135,10.0"
					Param "138,Bip01 Head"//boneName
					Param "139,0,0,0"//offset
					Param "140,1,1,1"//scale
					Param "141,0"//rotAngle
					Method {
						Class "LoadAndCloneNode"
					}
					Logic {
						Class "PlaceLoadedNode2"
						Method {
							Class "ConvertToTransform"
						}
					}
				}
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+58"//WCH_NodeCollideWithItem
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJTargetExtra"
			}
		}
	}
}