# Creature3D Script Parser v1.0
 
Data {
    Class "JXJSkill"
    IncludeData "JXJ/script/skill/SkillI.cfg"
	Handle {
        MsgParam "WCH_USER+118"//WCH_AttackExtraTest
        MsgParam "NULL"
        Driver {
            Class "MoreSlot"
			Method {
				Class "JXJFireExtraAttack"
			}
            Logic {
                Class "Switch"
                Method {
                    Class "JXJGetImmuno"
                }
                Method {//0：无效
                    Class "Null"
                }
                Logic {//1：正常
                    Class "Switch"
                    Method {
                        Class "JXJGetHitType"
                    }
                    Logic {//0敌人
                        Class  "IF_ELSE"
                        Method {
                            Class "JXJEquipAttackExtraTest"
                            Param "25"
                        }
                        Method {
                            Class "JXJTargetExtra"
                        }
                    }
                }
                Logic {//2：物理免疫
                    Class "Null"
                }
                Logic {//3：魔法免疫
                    Class "Switch"
                    Method {
                        Class "JXJGetHitType"
                    }
                    Logic {//0敌人
                        Class "IF_ELSE"
                        Method {
                          Class "JXJEquipAttackExtraTest"
                            Param "25"
                        }
                        Method {
                            Class "JXJTargetExtra"
                        }
                    }
                }
            }
        }
    }
	Handle {
        MsgParam "WCH_USER+81"//WCH_TargetExtra
        MsgParam "0"//WCH_Server
        Driver {
            Class "MoreSlot"
            Method {
                Class "ExtraLifeTime"
                Param "2"//持续时间
            }
			Method {
                Class "JXJExtraGuise"
                Param "2"//持续时间
                Param "12"
            }
        }
    }
    Handle {
        MsgParam "WCH_USER+81"//WCH_TargetExtra
        MsgParam "1"//WCH_Client
        Driver {
            Class "NodeMoreSlot"
            Method {
                Class "ExtraLifeTime"
                Param "2"//持续时间
            }
			Method {
                Class "JXJExtraGuise"
                Param "2"//持续时间
                Param "12"
            }
            Logic {//目标特效
                Class "ExtraEffect"
				Param "12"//状态值					
                Logic {
                    Class "PlaySceneFx"
                    Param "134,data/JXJEffect/Eft_Dbuff_Xuanyun_01.cre"
                    Param "135,2"
                    Param "138,BBOX_TOP"//boneName
                    Param "139,0,0,0"//offset
                    Param "140,1,1,1"//scale
                    Param "141,0"//rotAngle
                    Method {
                        Class "LoadAndCloneNode"
                    }
                    Logic {
                        Class "PlaceLoadedNode2"
                        Method {
                            Class "ConvertToTransform"
                        }
                    }
                }
            }
        }
    }
}
