# Creature3D Script Parser v1.0
 
Data {
    Class "JXJSkill"
    IncludeData "JXJ/script/skill/SkillI.cfg"
    Handle {
        MsgParam "WCH_USER+81"//WCH_TargetExtra
        MsgParam "0"//WCH_Server
        Driver {
            Class "MoreSlot"
            Logic {//
                Class "ProxyArray"
				Method {
					Class "ExtraLifeTime"
					Param "4"
				}
				Method {
					Class "JXJExtraAttackPercent"
					Param "4"//持续时间
					Param "-600"
				}
				Logic {//
					Class "IF_ELSE"
					Method {
						Class "JXJArmyAbstractIDCheck"
						Param "20023|31000"
					}
					Method {
						Class "JXJExtraDamageAttackOnce"
						Param "1.92"
					}
				}				
            }
        }
    }
    Handle {
        MsgParam "WCH_USER+81"//WCH_TargetExtra
        MsgParam "1"//WCH_Client
        Driver {
            Class "NodeMoreSlot"
            Logic {//敌我判断
				Class "ProxyArray"
				Method {
					Class "ExtraLifeTime"
					Param "4"
				}
				Method {
					Class "JXJExtraAttackPercent"
					Param "4"//持续时间
					Param "-600"
				}
				Logic {//目标特效
					Class "ExtraEffect"
					Logic {
						Class "PlaySceneFx"
						Param "134,data/JXJEffect/Eft_Dbuff_Kanze_01.cre"
						Param "135,4"
						Param "138,BBOX_CENTER"//boneName
						Param "139,0,0,0"//offset
						Param "140,1,1,1"//scale
						Param "141,0"//rotAngle
						Method {
							Class "LoadAndCloneNode"
						}
						Logic {
							Class "PlaceLoadedNode2"
							Method {
								Class "ConvertToTransform"
							}
						}
					}
				}
            }
        }
    }
    Handle {
        MsgParam "WCH_USER+58"//WCH_NodeCollideWithItem
        MsgParam "NULL"		
        Driver {
            Class "OneSlot"
            Logic {
                Class "Switch"
                Method {
                    Class "JXJGetImmuno"
                }
                Method {//0：无效
                    Class "Null"
                }
                Logic {//1：正常
                    Class "Switch"
                    Method {
                        Class "JXJGetHitType"
                    }
                    Logic {//0敌人
                        Class "ProxyArray"
                        Method {
                            Class "JXJSkillDamage"
                        }
						Method {
							Class  "JXJTargetExtra"
						}
						Logic {//受击方BUF判断
							Class "IF_ELSE"
							Method {
								Class "JXJFirerHpLesser"	
							}	
							Method {
								Class "Null"	
							}							
							Logic {//1：正常
								Class "ProxyArray"						
								Logic {//攻击方BUF判断				
									Class "IF_ELSE"
									Method {
										Class "JXJFireEquipCardCheck"							
										Param "23290"
									}					
									Method {
										Class "JXJHitDamageAttack"
										Param "0.3"//百分比
										Param "1000"									
									}
								}
								Logic {//攻击方BUF判断				
									Class "IF_ELSE"
									Method {
										Class "JXJFireEquipCardCheck"							
										Param "23291"
									}					
									Method {
										Class "JXJHitDamageAttack"
										Param "0.4"//百分比
										Param "1000"									
									}
								}
								Logic {//攻击方BUF判断				
									Class "IF_ELSE"
									Method {
										Class "JXJFireEquipCardCheck"							
										Param "23292"
									}					
									Method {
										Class "JXJHitDamageAttack"
										Param "0.5"//百分比
										Param "1000"									
									}
								}
								Logic {//攻击方BUF判断				
									Class "IF_ELSE"
									Method {
										Class "JXJFireEquipCardCheck"							
										Param "23293"
									}					
									Method {
										Class "JXJHitDamageAttack"
										Param "0.6"//百分比
										Param "1000"									
									}
								}
								Logic {//攻击方BUF判断				
									Class "IF_ELSE"
									Method {
										Class "JXJFireEquipCardCheck"							
										Param "23294"
									}					
									Method {
										Class "JXJHitDamageAttack"
										Param "0.7"//百分比
										Param "1000"									
									}
								}
								Logic {//攻击方BUF判断				
									Class "IF_ELSE"
									Method {
										Class "JXJFireEquipCardCheck"							
										Param "23295"
									}					
									Method {
										Class "JXJHitDamageAttack"
										Param "0.8"//百分比
										Param "1000"									
									}
								}
								Logic {//攻击方BUF判断				
									Class "IF_ELSE"
									Method {
										Class "JXJFireEquipCardCheck"							
										Param "23296"
									}					
									Method {
										Class "JXJHitDamageAttack"
										Param "0.9"//百分比
										Param "1000"									
									}
								}
								Logic {//攻击方BUF判断				
									Class "IF_ELSE"
									Method {
										Class "JXJFireEquipCardCheck"							
										Param "23297"
									}					
									Method {
										Class "JXJHitDamageAttack"
										Param "1"//百分比
										Param "1000"									
									}
								}								
							}
						}						
                    }
				}
                Logic {//2：物理免疫
                    Class "Switch"
                    Method {
                        Class "JXJGetHitType"
                    }
                    Logic {//0敌人
                        Class "ProxyArray"
                        Method {
                            Class "JXJSkillDamage"
                        }
						Method {
							Class  "JXJTargetExtra"
						}
						Logic {//受击方BUF判断
							Class "IF_ELSE"
							Method {
								Class "JXJFirerHpLesser"	
							}	
							Method {
								Class "Null"	
							}							
							Logic {//1：正常
								Class "ProxyArray"						
								Logic {//攻击方BUF判断				
									Class "IF_ELSE"
									Method {
										Class "JXJFireEquipCardCheck"							
										Param "23290"
									}					
									Method {
										Class "JXJHitDamageAttack"
										Param "0.3"//百分比
										Param "1000"									
									}
								}
								Logic {//攻击方BUF判断				
									Class "IF_ELSE"
									Method {
										Class "JXJFireEquipCardCheck"							
										Param "23291"
									}					
									Method {
										Class "JXJHitDamageAttack"
										Param "0.4"//百分比
										Param "1000"									
									}
								}
								Logic {//攻击方BUF判断				
									Class "IF_ELSE"
									Method {
										Class "JXJFireEquipCardCheck"							
										Param "23292"
									}					
									Method {
										Class "JXJHitDamageAttack"
										Param "0.5"//百分比
										Param "1000"									
									}
								}
								Logic {//攻击方BUF判断				
									Class "IF_ELSE"
									Method {
										Class "JXJFireEquipCardCheck"							
										Param "23293"
									}					
									Method {
										Class "JXJHitDamageAttack"
										Param "0.6"//百分比
										Param "1000"									
									}
								}
								Logic {//攻击方BUF判断				
									Class "IF_ELSE"
									Method {
										Class "JXJFireEquipCardCheck"							
										Param "23294"
									}					
									Method {
										Class "JXJHitDamageAttack"
										Param "0.7"//百分比
										Param "1000"									
									}
								}
								Logic {//攻击方BUF判断				
									Class "IF_ELSE"
									Method {
										Class "JXJFireEquipCardCheck"							
										Param "23295"
									}					
									Method {
										Class "JXJHitDamageAttack"
										Param "0.8"//百分比
										Param "1000"									
									}
								}
								Logic {//攻击方BUF判断				
									Class "IF_ELSE"
									Method {
										Class "JXJFireEquipCardCheck"							
										Param "23296"
									}					
									Method {
										Class "JXJHitDamageAttack"
										Param "0.9"//百分比
										Param "1000"									
									}
								}
								Logic {//攻击方BUF判断				
									Class "IF_ELSE"
									Method {
										Class "JXJFireEquipCardCheck"							
										Param "23297"
									}					
									Method {
										Class "JXJHitDamageAttack"
										Param "1"//百分比
										Param "1000"									
									}
								}								
							}
						}						
                    }
                }
                Logic {//3：魔法免疫
                    Class "Proxy"
                    Method {
                        Class "Null"
                    }
                }
            }
        }
    }
}
