# Creature3D Script Parser v1.0

Data {
    Class "JXJSkill"
	Handle {
		MsgParam "WCH_USER+219"//WCH_LoadDataAttrFromTab
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJSkillLoadDataAttrFromTab"
			}
			xMethod {
				Class "JXJEquipLoadDataAttrFromTab"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+223"//WCH_UseItemCheck
		MsgParam "0"//
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJUseItemCheck"
				Param "0"//usercdid
			}
		}
	}
    Handle {
		MsgParam "WCH_USER+56"//WCH_UseItem
		MsgParam "0"//
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJUseItem"
				Param "0"//usercdid
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+56"//Server UseItem
		MsgParam "1"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJServerUseItem"
				Param "0"//usercdid
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+56"//NetUseItem
		MsgParam "2"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJNetUseItem"
				Param "0"//usercdid
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+56"//NetServerUseItem
		MsgParam "3"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJServerUseItem"
			}
		}
	}
	/////////////装备上面的属性
	xHandle {
		MsgParam "WCH_USER+73"//WCH_GetEquipSpeed
		MsgParam "NULL"//
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetEquipAttrShort"
				Param "256"//WCHDATA_EquipSpeed
			}
		}
	}
	xHandle {
		MsgParam "WCH_USER+74"//WCH_GetEquipHP
		MsgParam "NULL"//
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetEquipAttrShort"
				Param "252"//WCHDATA_EquipHP
			}
		}
	}
	xHandle {
		MsgParam "WCH_USER+251"//WCH_GetEquipStealth
		MsgParam "NULL"//
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetEquipAttrShort"
				Param "257"//WCHDATA_EquipStealth
			}
		}
	}
	xHandle {
		MsgParam "WCH_USER+253"//WCH_GetEquipStealthSpy
		MsgParam "NULL"//
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetEquipAttrShort"
				Param "258"//WCHDATA_EquipStealthSpy
			}
		}
	}
	xHandle {
		MsgParam "WCH_USER+63"//WCH_GetEquipDefend
		MsgParam "NULL"//
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetEquipAttrShort"
				Param "255"//WCHDATA_EquipDefend
			}
		}
	}
	xHandle {
		MsgParam "WCH_USER+62"//WCH_GetEquipAttack
		MsgParam "NULL"//
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetEquipAttrShort"
				Param "254"//WCHDATA_EquipAttack
			}
		}
	}
	xHandle {
		MsgParam "WCH_USER+75"//WCH_GetEquipMP
		MsgParam "NULL"//
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetEquipAttrShort"
				Param "253"//WCHDATA_EquipMP
			}
		}
	}
	xHandle {
		MsgParam "WCH_USER+78"//WCH_GetEquipHPRevert
		MsgParam "NULL"//
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetEquipAttrShort"
				Param "269"//WCHDATA_EquipHPRevert
			}
		}
	}
	xHandle {
		MsgParam "WCH_USER+79"//WCH_GetEquipMPRevert
		MsgParam "NULL"//
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetEquipAttrShort"
				Param "270"//WCHDATA_EquipMPRevert
			}
		}
	}
	xHandle {
		MsgParam "WCH_USER+260"//WCH_GetEquipCrit
		MsgParam "NULL"//
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetEquipAttrShort"
				Param "261"//WCHDATA_EquipCrit
			}
		}
	}
	xHandle {
		MsgParam "WCH_USER+261"//WCH_GetEquipParry
		MsgParam "NULL"//
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetEquipAttrShort"
				Param "262"//WCHDATA_EquipParry
			}
		}
	}
	xHandle {
		MsgParam "WCH_USER+262"//WCH_GetEquipDodge
		MsgParam "NULL"//
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetEquipAttrShort"
				Param "263"//WCHDATA_EquipDodge
			}
		}
	}
	xHandle {
		MsgParam "WCH_USER+100"//WCH_GetEquipMagicDefend
		MsgParam "NULL"//
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetEquipAttrShort"
				Param "380"//WCHDATA_EquipMagicDefend
			}
		}
	}
	xHandle {
		MsgParam "WCH_USER+101"//WCH_GetEquipAttackSpeed
		MsgParam "NULL"//
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetEquipAttrShort"
				Param "259"//WCHDATA_EquipAttackSpeed
			}
		}
	}
	xHandle {
		MsgParam "WCH_USER+248"//WCH_GetEquipSkillSpeed
		MsgParam "NULL"//
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetEquipAttrShort"
				Param "260"//WCHDATA_EquipSkillSpeed
			}
		}
	}
	xHandle {
		MsgParam "WCH_USER+263"//WCH_GetEquipBuildAttack
		MsgParam "NULL"//
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetEquipAttrShort"
				Param "264"//WCHDATA_EquipBuildAttack
			}
		}
	}
	xHandle {
		MsgParam "WCH_USER+264"//WCH_GetEquipHitratio
		MsgParam "NULL"//
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetEquipAttrShort"
				Param "267"//WCHDATA_EquipHitratio
			}
		}
	}
	xHandle {
		MsgParam "WCH_USER+266"//WCH_GetEquipIgnoreDefend
		MsgParam "NULL"//
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetEquipAttrShort"
				Param "268"//WCHDATA_EquipIgnoreDefend
			}
		}
	}
	xHandle {
		MsgParam "WCH_USER+268"//WCH_GetEquipIgnoreMagicDefend
		MsgParam "NULL"//
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetEquipAttrShort"
				Param "385"//WCHDATA_EquipIgnoreMagicDefend
			}
		}
	}
	xHandle {
		MsgParam "WCH_USER+275"//WCH_GetEquipSightRange
		MsgParam "NULL"//
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetEquipAttrShort"
				Param "294"//WCHDATA_EquipSightRange
			}
		}
	}
	xHandle {
		MsgParam "WCH_USER+284"//WCH_GetEquipIgnoreDodge
		MsgParam "NULL"//
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetEquipAttrUChar"
				Param "312"//WCHDATA_EquipIgnoreDodge
			}
		}
	}
	xHandle {
		MsgParam "WCH_USER+285"//WCH_GetEquipAttackDamageBack
		MsgParam "NULL"//
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetEquipAttrShort"
				Param "313"//WCHDATA_EquipAttackDamageBack
			}
		}
	}
	xHandle {
		MsgParam "WCH_USER+286"//WCH_GetEquipSkillDamageBack
		MsgParam "NULL"//
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetEquipAttrShort"
				Param "314"//WCHDATA_EquipSkillDamageBack
			}
		}
	}
	xHandle {
		MsgParam "WCH_USER+287"//WCH_GetEquipAttackAbsorbHP
		MsgParam "NULL"//
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetEquipAttrShort"
				Param "315"//WCHDATA_EquipAttackAbsorbHP
			}
		}
	}
	xHandle {
		MsgParam "WCH_USER+288"//WCH_GetEquipSkillAbsorbHP
		MsgParam "NULL"//
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetEquipAttrShort"
				Param "316"//WCHDATA_EquipSkillAbsorbHP
			}
		}
	}
	xHandle {
		MsgParam "WCH_USER+294"//WCH_GetEquipCritSword
		MsgParam "NULL"//
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetEquipAttrUChar"
				Param "317"//WCHDATA_EquipCritSword
			}
		}
	}
	xHandle {
		MsgParam "WCH_USER+296"//WCH_GetEquipSputtering
		MsgParam "NULL"//
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetEquipAttrInt"
				Param "318"//WCHDATA_EquipSputtering
			}
		}
	}
	xHandle {
		MsgParam "WCH_USER+299"//WCH_GetEquipAttackDamage
		MsgParam "NULL"//
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetEquipAttrShort"
				Param "336"//WCHDATA_EquipAttackDamage
			}
		}
	}
	xHandle {
		MsgParam "WCH_USER+300"//WCH_GetEquipSkillDamage
		MsgParam "NULL"//
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetEquipAttrShort"
				Param "337"//WCHDATA_EquipSkillDamage
			}
		}
	}
	xHandle {
		MsgParam "WCH_USER+272"//WCH_GetEquipAttackDist
		MsgParam "NULL"//
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetEquipAttrShort"
				Param "266"//WCHDATA_EquipAttackDist
			}
		}
	}
}