# Creature3D Script Parser v1.0
 
Data {
    Class "JXJSkill"
    IncludeData "JXJ/script/skill/SkillI.cfg"
	Param "21373,10"		
    Handle {
        MsgParam "WCH_USER+83"//WCH_UserExtra
        MsgParam "0"//WCH_Server
        Driver {
            Class "MoreSlot"
			Method {
                Class "ExtraLifeTime"
                Param "6.5"//持续时间
            }
			Method {//1
				Class "JXJExtraCritPercent"
				Param "6.5"//持续时间
				Param "800"
			}				
        }
    }
    Handle {
        MsgParam "WCH_USER+83"//WCH_UserExtra
        MsgParam "1"//WCH_Client
        Driver {
            Class "NodeMoreSlot"
            Method {
                Class "ExtraLifeTime"
                Param "6.5"//持续时间
            }
			Method {
				Class "JXJExtraCritPercent"
				Param "6.5"//持续时间
				Param "800"
			}
            Logic {//目标特效
                Class "ExtraEffect"
                Logic {
                    Class "PlaySceneFx"
                    Param "134,data/JXJEffect/Eft_Buff_Zhoutai_01.cre"
                    Param "135,6.5"
                    Param "138,BBOX_CENTER"//boneName
                    Param "139,0,0,0"//offset
                    Param "140,1,1,1"//scale
                    Param "141,0"//rotAngle
                    Method {
                        Class "LoadAndCloneNode"
                    }
                    Logic {
                        Class "PlaceLoadedNode2"
                        Method {
                            Class "ConvertToTransform"
                        }
                    }
                }
            }
        }
    }	
    Handle {
        MsgParam "WCH_USER+351"//WCH_SkillExtraTest
        MsgParam "NULL"
        Driver {
            Class "OneSlot"
			Method {
				Class "JXJUserExtra"
			}
        }
    }	
    Handle {
        MsgParam "WCH_USER+81"//WCH_TargetExtra
        MsgParam "0"//WCH_Server
        Driver {
            Class "OneSlot"
			Method {
				Class "JXJExtraDamageAttackOnce"
				Param "1.2"						
			}				
        }
    }	
	Handle {
        MsgParam "WCH_USER+58"//WCH_NodeCollideWithItem
        MsgParam "NULL"
        Driver {
            Class "OneSlot"
            Logic {
                Class "Switch"
                Method {
                    Class "JXJGetImmuno"
                }
                Method {//0：无效
                    Class "Null"
                }
                Logic {//1：正常
                    Class "Switch"
                    Method {
                        Class "JXJGetHitType"
                    }
                    Logic {//0敌人
                        Class "ProxyArray"
                        Method {
                            Class  "JXJSkillDamage"
                        }
						Logic {
							Class  "Switch"
							Method {
								Class "JXJFireArmyTypeCheck"
							}
							Method {//0步兵
								Class "Null"
							}
							Method {//1弓兵
								Class "Null"
							}
							Logic {//2骑兵			
								Class  "IF_ELSE"
								Method {
									Class "JXJFirerHpLesser"
								}																
								Method {
									Class "JXJTargetExtra"
								}
								Method {
									Class "JXJHitParamRTMP"
									Param "1"
									Param "-15"
								}								
							}	
						}						
                    }
                    Logic {//1队友
                        Class "Null"
                    }
                    Logic {//2自己
                        Class "Null"
                    }
                }
                Logic {//2：物理免疫
					Class "Switch"
                    Method {
                        Class "JXJGetHitType"
                    }
                    Logic {//0敌人
                        Class "ProxyArray"
                        Method {
                            Class  "JXJSkillDamage"
                        }
						Logic {
							Class  "Switch"
							Method {
								Class "JXJFireArmyTypeCheck"
							}
							Method {//0步兵
								Class "Null"
							}
							Method {//1弓兵
								Class "Null"
							}
							Logic {//2骑兵			
								Class  "IF_ELSE"
								Method {
									Class "JXJFirerHpLesser"
								}																
								Method {
									Class "JXJTargetExtra"
								}
								Method {
									Class "JXJHitParamRTMP"
									Param "1"
									Param "-15"
								}								
							}
						}						
					}
                    Logic {//1队友
                        Class "Null"
                    }
                    Logic {//2自己
                        Class "Null"
                    }                    
                }
                Logic {//3：魔法免疫
					Class "Proxy"
                    Method {
                        Class "Null"
                    }	
                }
            }
        }
    }
}
