# Creature3D Script Parser v1.0
 
Data {
    Class "JXJSkill"
    IncludeData "JXJ/script/skill/SkillI.cfg"
    Handle {
        MsgParam "WCH_USER+81"//WCH_TargetExtra
        MsgParam "0"//WCH_Server
        Driver {
            Class "MoreSlot"
            Logic {//條笱瓚隅
                Class "Switch"
				Method {
					Class  "JXJArmyTypeCheck"
				}
				Logic {//祭條
					Class "Proxy"
					Method {
						Class "Null"
					}
				}
				Logic {//僮條
					Class "Proxy"
					Method {
						Class "JXJExtraDamageAttackOnce"
                        Param "0.7"						
					}
				}					
            }
        }
    }
    Handle {
        MsgParam "WCH_USER+118"//WCH_AttackExtraTest
        MsgParam "NULL"
        Driver {
            Class "MoreSlot"
            Logic {
                Class  "Switch"
                Method {
                    Class "JXJFireArmyTypeCheck"
                }
                Method {//0祭條
                    Class "Null"
                }
                Method {//1僮條
                    Class "Null"
                }
				Logic {//2る條			
					Class  "IF_ELSE"
					Method {
						Class "JXJEquipAttackExtraTimeLimitTest"
						Param "100"
						Param "2.6"	
					}
					Method {
						Class "JXJTargetExtra"
					}
				}	
            }
        }
    }	
}
