# Creature3D Script Parser v1.0
 
Data {
    Class "JXJSkill"
    IncludeData "JXJ/script/skill/SkillI.cfg"
	Param "21372,5"		
    Handle {
        MsgParam "WCH_USER+81"//WCH_TargetExtra
        MsgParam "0"//WCH_Server
        Driver {
            Class "MoreSlot"
			Method {
                Class "ExtraLifeTime"
                Param "5"//持续时间
            }		
            Method {
                Class "JXJExtraPhantom"
                Param "5"//持续时间
                Param "0.6"//生命百分比
				Param "0.6"//攻击百分比
				Param "1"//个数				
            }	
        }
    }		
	
    Handle {
        MsgParam "WCH_USER+118"//WCH_AttackExtraTest
        MsgParam "NULL"
        Driver {
            Class "MoreSlot"		
			Method {
				Class "JXJDices"
				Param "79"
			}
			Method {
				Class "JXJTargetExtra"
			}	
        }
    }
}
