# Creature3D Script Parser v1.0
 
Data {
    Class "JXJSkill"
    IncludeData "JXJ/script/skill/SkillI.cfg"
	Handle {
        MsgParam "WCH_USER+336"//WCH_EquipExtra
        MsgParam "0"//WCH_Server
        Driver {
		    Class "MoreSlot"
            Logic {//
                Class "Switch"
                Method {
                    Class  "JXJArmyTypeCheck"
                }
				Logic {//步兵
					Class "ProxyArray"
					Method {
						Class "ExtraLifeTime"
						Param "0"
					}
					Method {
						Class "JXJExtraHP"
						Param "0"//持续时间
						Param "110"
					}	
				}
				Logic {//弓兵
					Class "Proxy"
					Method {
						Class "ExtraLifeTime"
						Param "0.1"
					}
				}
				Logic {//骑兵
					Class "Proxy"
					Method {
						Class "ExtraLifeTime"
						Param "0.1"
					}
				}	
				Logic {//器械
					Class "Proxy"
					Method {
						Class "ExtraLifeTime"
						Param "0.1"
					}
				}	
            }		
        }
    }
    Handle {
        MsgParam "WCH_USER+336"//WCH_EquipExtra
        MsgParam "1"//WCH_Client
        Driver {
            Class "NodeMoreSlot"
            Logic {//
                Class "Switch"
                Method {
                    Class  "JXJArmyTypeCheck"
                }
				Logic {//步兵
					Class "ProxyArray"
					Method {
						Class "ExtraLifeTime"
						Param "0"
					}
					Method {
						Class "JXJExtraHP"
						Param "0"//持续时间
						Param "110"
					}	
					Logic {//目标特效
						Class "ExtraEffect"
						Logic {
							Class "PlaySceneFx"
							Param "134,data/JXJEffect/Eft_Buff_Huifu_01.cre"
							Param "135,0"
							Param "138,BBOX_BOTTOM"//boneName
							Param "139,0,0,0"//offset
							Param "140,1,1,1"//scale
							Param "141,0"//rotAngle
							Method {
								Class "LoadAndCloneNode"
							}
							Logic {
								Class "PlaceLoadedNode2"
								Method {
									Class "ConvertToTransform"
								}
							}
						}
					}
				}
				Logic {//弓兵
					Class "Proxy"
					Method {
						Class "ExtraLifeTime"
						Param "0.1"
					}
				}
				Logic {//骑兵
					Class "Proxy"
					Method {
						Class "ExtraLifeTime"
						Param "0.1"
					}
				}	
				Logic {//器械
					Class "Proxy"
					Method {
						Class "ExtraLifeTime"
						Param "0.1"
					}
				}					
            }
        }
    }
}	
