# Creature3D Script Parser v1.0
 
Data {
    Class "JXJSkill"
    IncludeData "JXJ/script/skill/SkillI.cfg"
    Handle {
        MsgParam "WCH_USER+83"//WCH_UserExtra
        MsgParam "0"//WCH_Server
        Driver {
            Class "MoreSlot"
            Method {
                Class "ExtraLifeTime"
                Param "1"//持续时间
            }
            Method {
                Class "JXJExtraCureHP"
                Param "1"//持续时间
                Param "1000"
                Param "0.04"				
            }
        }
    }
    Handle {
        MsgParam "WCH_USER+341"//WCH_SkillHitExtraTest
        MsgParam "NULL"
        Driver {
            Class "MoreSlot"
            Method {
				Class "JXJDices"
				Param "90"
			}
			Method {
				Class "JXJUserExtra"
			}
        }
    }
}
