# Creature3D Script Parser v1.0
 
Data {
    Class "JXJSkill"
    IncludeData "JXJ/script/skill/SkillI.cfg"
    Handle {
        MsgParam "WCH_USER+83"//WCH_UserExtra
        MsgParam "0"//WCH_Server
        Driver {
            Class "MoreSlot"
			Method {
				Class "ExtraLifeTime"
				Param "0.1"
			}
			Method {
				Class "JXJExtraHalo"
				Param "0.1"//持续时间
				Param "5"
				Param "1336"
				Param "0.1"
			}
			Method {
				Class "JXJExtraDHalo"
				Param "0.1"//持续时间
				Param "5"
				Param "1341"
				Param "0.1"
			}						
        }
    }
    Handle {
        MsgParam "WCH_USER+342"//WCH_UseSkillExtraTest
        MsgParam "NULL"
        Driver {
            Class "MoreSlot"
            Logic {
                Class  "Switch"
                Method {
                    Class "JXJFireArmyTypeCheck"
                }			
				Method {//步兵
					Class "JXJUserExtra"
				}
				Method {//弓兵
					Class "Null"
				}	
				Method {//骑兵
					Class "JXJUserExtra"
				}
			}	
        }
    }
}
