# Creature3D Script Parser v1.0
 
Data {
    Class "JXJSkill"
    IncludeData "JXJ/script/skill/SkillI.cfg"
    Handle {
        MsgParam "WCH_USER+83"//WCH_UserExtra
        MsgParam "0"//WCH_Server
        Driver {
            Class "MoreSlot"
            Method {
                Class "ExtraLifeTime"
                Param "0.1"//持续时间
            }
			Method {
				Class "JXJExtraHalo"
				Param "0.1"//持续时间
				Param "4"
				Param "1119"
				Param "0.1"
			}			
        }
    }
    Handle {
        MsgParam "WCH_USER+118"//WCH_AttackExtraTest
        MsgParam "NULL"
        Driver {
            Class "MoreSlot"
            Logic {
                Class "Switch"
                Method {
                    Class "JXJGetImmuno"
                }
                Method {//0：无效
                    Class "Null"
                }
				Logic {
					Class  "IF_ELSE"
					Method {
						Class "JXJEquipAttackExtraTest"
						Param "15"
					}
					Method {
						Class "JXJUserExtra"
					}
				}
            }
        }
    }
}
