# Creature3D Script Parser v1.0
 
Data {
    Class "JXJSkill"
    IncludeData "JXJ/script/skill/SkillI.cfg"
    Handle {
        MsgParam "WCH_USER+81"//WCH_TargetExtra
        MsgParam "0"//WCH_Server
        Driver {
            Class "MoreSlot"
            Logic {//
				Class "ProxyArray"
				Method {
					Class "ExtraLifeTime"
					Param "1.5"
				}
				Method {
					Class "JXJExtraMoveSpeedPercent"
					Param "1.5"//持续时间
					Param "-900"
				}
				Method {
					Class "JXJExtraAttackSpeed"
					Param "1.5"//持续时间
					Param "-900"
				}
				Method {
					Class "JXJExtraDamage"
					Param "1"
					Param "63000"				
				}				
				Logic {//
					Class "IF_ELSE"
					Method {
						Class "JXJArmyAbstractIDCheck"
						Param "20012|30032"
					}
					Method {
						Class "JXJExtraDamageAttackOnce"
						Param "2.88"
					}
				}				
            }
        }
    }
    Handle {
        MsgParam "WCH_USER+81"//WCH_TargetExtra
        MsgParam "1"//WCH_Client
        Driver {
            Class "NodeMoreSlot"
            Logic {//
				Class "ProxyArray"
				Method {
					Class "ExtraLifeTime"
					Param "1.5"
				}
				Method {
					Class "JXJExtraMoveSpeedPercent"
					Param "1.5"//持续时间
					Param "-900"
				}
				Method {
					Class "JXJExtraAttackSpeed"
					Param "1.5"//持续时间
					Param "-900"
				}
				Logic {//目标特效
					Class "ExtraEffect"
					Logic {
						Class "PlaySceneFx"
						Param "134,data/JXJEffect/Eft_Dbuff_Zhugeliang_01.cre"
						Param "135,1.5"
						Param "138,BBOX_CENTER"//boneName
						Param "139,0,0,0"//offset
						Param "140,1,1,1"//scale
						Param "141,0"//rotAngle
						Method {
							Class "LoadAndCloneNode"
						}
						Logic {
							Class "PlaceLoadedNode2"
							Method {
								Class "ConvertToTransform"
							}
						}
					}
				}
            }
        }
    }
    Handle {
        MsgParam "WCH_USER+58"//WCH_NodeCollideWithItem
        MsgParam "NULL"
        Driver {
            Class "OneSlot"
            Logic {
                Class "Switch"
                Method {
                    Class "JXJGetImmuno"
                }
                Method {//0：无效
                    Class "Null"
                }
                Logic {//1：正常
                    Class "Switch"
                    Method {
                        Class "JXJGetHitType"
                    }
                    Logic {//0敌人
                        Class "ProxyArray"
                        Method {
                            Class "JXJSkillDamage"
                        }
						Method {
							Class "JXJTargetExtra"
						}
						Logic {//受击方BUF判断
							Class "IF_ELSE"
							Method {
								Class "JXJIsGainExtra"	
								Param "1"									
								Param "17508"
							}						
							Logic {//1：正常
								Class "ProxyArray"						
								Logic {//攻击方BUF判断				
									Class "IF_ELSE"
									Method {
										Class "JXJFireEquipCardCheck"							
										Param "23400"
									}					
									Method {
										Class "JXJHitDamageAttack"
										Param "0.5"//百分比
										Param "1000"									
									}
								}
								Logic {//攻击方BUF判断				
									Class "IF_ELSE"
									Method {
										Class "JXJFireEquipCardCheck"							
										Param "23401"
									}					
									Method {
										Class "JXJHitDamageAttack"
										Param "0.70"//百分比
										Param "1000"									
									}
								}
								Logic {//攻击方BUF判断				
									Class "IF_ELSE"
									Method {
										Class "JXJFireEquipCardCheck"							
										Param "23402"
									}					
									Method {
										Class "JXJHitDamageAttack"
										Param "0.9"//百分比
										Param "1000"									
									}
								}
								Logic {//攻击方BUF判断				
									Class "IF_ELSE"
									Method {
										Class "JXJFireEquipCardCheck"							
										Param "23403"
									}					
									Method {
										Class "JXJHitDamageAttack"
										Param "1.1"//百分比
										Param "1000"									
									}
								}
								Logic {//攻击方BUF判断				
									Class "IF_ELSE"
									Method {
										Class "JXJFireEquipCardCheck"							
										Param "23404"
									}					
									Method {
										Class "JXJHitDamageAttack"
										Param "1.3"//百分比
										Param "1000"									
									}
								}
								Logic {//攻击方BUF判断				
									Class "IF_ELSE"
									Method {
										Class "JXJFireEquipCardCheck"							
										Param "23405"
									}					
									Method {
										Class "JXJHitDamageAttack"
										Param "1.5"//百分比
										Param "1000"									
									}
								}
								Logic {//攻击方BUF判断				
									Class "IF_ELSE"
									Method {
										Class "JXJFireEquipCardCheck"							
										Param "23406"
									}					
									Method {
										Class "JXJHitDamageAttack"
										Param "1.7"//百分比
										Param "1000"									
									}
								}	
								Logic {//攻击方BUF判断				
									Class "IF_ELSE"
									Method {
										Class "JXJFireEquipCardCheck"							
										Param "23407"
									}					
									Method {
										Class "JXJHitDamageAttack"
										Param "1.9"//百分比
										Param "1000"									
									}
								}								
							}
						}							
					}
                }
                Logic {//2：物理免疫
                    Class "Switch"
                    Method {
                        Class "JXJGetHitType"
                    }
                    Logic {//0敌人
                        Class "ProxyArray"
                        Method {
                            Class "JXJSkillDamage"
                        }
						Method {
							Class "JXJTargetExtra"
						}
						Logic {//受击方BUF判断
							Class "IF_ELSE"
							Method {
								Class "JXJIsGainExtra"		
								Param "1"									
								Param "17508"
							}						
							Logic {//1：正常
								Class "ProxyArray"						
								Logic {//攻击方BUF判断				
									Class "IF_ELSE"
									Method {
										Class "JXJFireEquipCardCheck"							
										Param "23400"
									}					
									Method {
										Class "JXJHitDamageAttack"
										Param "0.5"//百分比
										Param "1000"									
									}
								}
								Logic {//攻击方BUF判断				
									Class "IF_ELSE"
									Method {
										Class "JXJFireEquipCardCheck"							
										Param "23401"
									}					
									Method {
										Class "JXJHitDamageAttack"
										Param "0.70"//百分比
										Param "1000"									
									}
								}
								Logic {//攻击方BUF判断				
									Class "IF_ELSE"
									Method {
										Class "JXJFireEquipCardCheck"							
										Param "23402"
									}					
									Method {
										Class "JXJHitDamageAttack"
										Param "0.9"//百分比
										Param "1000"									
									}
								}
								Logic {//攻击方BUF判断				
									Class "IF_ELSE"
									Method {
										Class "JXJFireEquipCardCheck"							
										Param "23403"
									}					
									Method {
										Class "JXJHitDamageAttack"
										Param "1.1"//百分比
										Param "1000"									
									}
								}
								Logic {//攻击方BUF判断				
									Class "IF_ELSE"
									Method {
										Class "JXJFireEquipCardCheck"							
										Param "23404"
									}					
									Method {
										Class "JXJHitDamageAttack"
										Param "1.3"//百分比
										Param "1000"									
									}
								}
								Logic {//攻击方BUF判断				
									Class "IF_ELSE"
									Method {
										Class "JXJFireEquipCardCheck"							
										Param "23405"
									}					
									Method {
										Class "JXJHitDamageAttack"
										Param "1.5"//百分比
										Param "1000"									
									}
								}
								Logic {//攻击方BUF判断				
									Class "IF_ELSE"
									Method {
										Class "JXJFireEquipCardCheck"							
										Param "23406"
									}					
									Method {
										Class "JXJHitDamageAttack"
										Param "1.7"//百分比
										Param "1000"									
									}
								}	
								Logic {//攻击方BUF判断				
									Class "IF_ELSE"
									Method {
										Class "JXJFireEquipCardCheck"							
										Param "23407"
									}					
									Method {
										Class "JXJHitDamageAttack"
										Param "1.9"//百分比
										Param "1000"									
									}
								}								
							}
						}
					}	
                }
                Logic {//3：魔法免疫
					Class "Proxy"
					Method {
						Class "Null"
					}
				}
			}
		}
    }	
}
