# Creature3D Script Parser v1.0
 
Data {
    Class "JXJSkill"
    IncludeData "JXJ/script/skill/SkillI.cfg"
    Handle {
        MsgParam "WCH_USER+81"//WCH_TargetExtra
        MsgParam "0"//WCH_Server
        Driver {
            Class "MoreSlot"
            Logic {//
				Class "ProxyArray"
				Method {
					Class "ExtraLifeTime"
					Param "5"
				}
				Method {
					Class "JXJExtraGuise"
					Param "5"//持续时间
					Param "12"
				}
				Method {
					Class "JXJExtraHalo"
					Param "5"//持续时间
					Param "5"//半径
					Param "1000"//bufid
					Param "5"
				}				
            }
        }
    }
    Handle {
        MsgParam "WCH_USER+81"//WCH_TargetExtra
        MsgParam "1"//WCH_Client
        Driver {
            Class "NodeMoreSlot"
            Logic {//敌我判断
				Class "ProxyArray"
				Method {
					Class "ExtraLifeTime"
					Param "5"
				}
				Method {
					Class "JXJExtraGuise"
					Param "5"//持续时间
					Param "12"
				}
				Logic {//目标特效
					Class "ExtraEffect"
					Param "12"//状态值					
					Logic {
						Class "PlaySceneFx"
						Param "134,data/JXJEffect/Eft_Dbuff_Xuanyun_01.cre"
						Param "135,5"
						Param "138,BBOX_TOP"//boneName
						Param "139,0,0,0"//offset
						Param "140,1,1,1"//scale
						Param "141,0"//rotAngle
						Method {
							Class "LoadAndCloneNode"
						}
						Logic {
							Class "PlaceLoadedNode2"
							Method {
								Class "ConvertToTransform"
							}
						}
					}
				}
            }
        }
    }
    Handle {
        MsgParam "WCH_USER+58"//WCH_NodeCollideWithItem
        MsgParam "NULL"
        Driver {
            Class "OneSlot"
            Logic {
                Class "Switch"
                Method {
                    Class "JXJGetImmuno"
                }
                Method {//0：无效
                    Class "Null"
                }
                Logic {//1：正常
                    Class "Switch"
                    Method {
                        Class "JXJGetHitType"
                    }
                    Logic {//0敌人
                        Class "ProxyArray"
                        Method {
                            Class "JXJTargetExtra"
                        }
						Logic {
							Class "Switch"
							Method {
								Class  "JXJHitArmyTypeCheck"
							}
							Method {//步兵
								Class "Null"
							}
							Logic {
								Class "Proxy"
								Method {//弓兵
									Class "JXJSkillDamage"
								}
							}							
						}	
                    }
                    Logic {//1队友
                        Class "Null"
                    }
                    Logic {//2自己
                        Class "Null"
                    }
                }
                Logic {//2：物理免疫
                    Class "Switch"
                    Method {
                        Class "JXJGetHitType"
                    }
                    Logic {//0敌人
                        Class "ProxyArray"
                        Method {
                            Class "JXJTargetExtra"
                        }
						Logic {
							Class "Switch"
							Method {
								Class  "JXJHitArmyTypeCheck"
							}
							Method {//步兵
								Class "Null"
							}
							Logic {
								Class "Proxy"
								Method {//弓兵
									Class "JXJSkillDamage"
								}
							}							
						}
                    }
                    Logic {//1队友
                        Class "Null"
                    }
                    Logic {//2自己
                        Class "Null"
                    }
                }
                Logic {//3：魔法免疫
                    Class "Proxy"
                    Method {
                        Class "Null"
                    }
                }
            }
        }
     }
}
