# Creature3D Script Parser v1.0
 
Data {
    Class "JXJSkill"
    IncludeData "JXJ/script/skill/SkillI.cfg"
    Handle {
        MsgParam "WCH_USER+340"//WCH_HitExtraTest
        MsgParam "NULL"
        Driver {
            Class "MoreSlot"
			Logic {
				Class  "IF_ELSE"			
				Method {
					Class "JXJDices"
					Param "7"
				}			
				Logic {	
					Class "ProxyArray"			
					Method {
						Class "JXJHitParamRTMP"
						Param "0"
						Param "15"
					}
					Method {
						Class "JXJClearSkillCD"
						Param "0"
						Param "28210|28211|28212|28213|28214|28215|28216|28217|28218|28219"					
					}
				}
			}	
        }
    }
}
