# Creature3D Script Parser v1.0
 
Data {
    Class "JXJSkill"
    IncludeData "JXJ/script/skill/SkillI.cfg"
	Handle {
        MsgParam "WCH_USER+118"//WCH_AttackExtraTest
        MsgParam "NULL"
        Driver {
            Class "MoreSlot"
			Method {
				Class "JXJFireExtraAttack"
			}
			Method {
				Class "JXJTargetExtra"
			}
        }
    }
	Handle {
        MsgParam "WCH_USER+81"//WCH_TargetExtra
        MsgParam "0"//WCH_Server
        Driver {
            Class "OneSlot"
            Method {
                Class "ExtraLifeTime"
                Param "0.5"//持续时间
            }
			Method {
				Class "JXJExtraGuise"
				Param "0.5"//持续时间
				Param "12"
			}
        }
    }
    Handle {
        MsgParam "WCH_USER+340"//WCH_HitExtraTest
        MsgParam "NULL"
        Driver {
            Class "MoreSlot"
            Logic {
                Class  "IF_ELSE"
                Method {
                    Class "JXJHpPercentLesser"
					Param "0"
					Param "0.3"						
                }
				Method {
					Class "JXJUserExtra"
				}					
            }
        }
    }
    Handle {
        MsgParam "WCH_USER+83"//WCH_UserExtra
        MsgParam "0"//WCH_Server
        Driver {
            Class "MoreSlot"
			Logic {
				Class "ProxyArray"			
				Method {
					Class "ExtraLifeTime"
					Param "1"//持续时间
				}
				Method {
					Class "JXJExtraCureHP"
					Param "1"//持续时间
					Param "1000"
					Param "0.008"				
				}
			}	
        }
    }	
    Handle {
        MsgParam "WCH_USER+81"//WCH_TargetExtra
        MsgParam "1"//WCH_Client
        Driver {
            Class "NodeMoreSlot"
            Method {
                Class "ExtraLifeTime"
                Param "0.5"//持续时间
            }
			Method {
				Class "JXJExtraGuise"
				Param "0.5"//持续时间
				Param "12"
			}            
			Logic {//目标特效
                Class "ExtraEffect"
                Param "12"//状态值					
                Logic {
                    Class "PlaySceneFx"
                    Param "134,data/JXJEffect/Eft_Dbuff_Xuanyun_01.cre"
                    Param "135,0.5"
                    Param "138,BBOX_TOP"//boneName
                    Param "139,0,0,0"//offset
                    Param "140,1,1,1"//scale
                    Param "141,0"//rotAngle
                    Method {
                        Class "LoadAndCloneNode"
                    }
                    Logic {
                        Class "PlaceLoadedNode2"
                        Method {
                            Class "ConvertToTransform"
                        }
                    }
                }
            }
        }
    }	
}
