# Creature3D Script Parser v1.0
 
Data {
    Class "JXJSkill"
    IncludeData "JXJ/script/skill/SkillI.cfg"
    Handle {
        MsgParam "WCH_USER+81"//WCH_TargetExtra
        MsgParam "0"//WCH_Server
        Driver {
            Class "MoreSlot"
			Method {
				Class "ExtraLifeTime"
				Param "5"
			}
			Method {
				Class "JXJExtraAttackAbsorbHP"
				Param "5"//持续时间
				Param "50"
			}
        }
    }
    Handle {
        MsgParam "WCH_USER+81"//WCH_TargetExtra
        MsgParam "1"//WCH_Client
        Driver {
            Class "NodeMoreSlot"
			Method {
				Class "ExtraLifeTime"
				Param "5"
			}
			Method {
				Class "JXJExtraAttackAbsorbHP"
				Param "5"//持续时间
				Param "50"
			}
			Logic {//目标特效
				Class "ExtraEffect"
				Logic {
					Class "PlaySceneFx"
					Param "134,data/JXJEffect/Eft_Wulixixue_01.cre"
					Param "135,5"
					Param "138,BBOX_CENTER"//boneName
					Param "139,0,0,0"//offset
					Param "140,1,1,1"//scale
					Param "141,0"//rotAngle
					Method {
						Class "LoadAndCloneNode"
					}
					Logic {
						Class "PlaceLoadedNode2"
						Method {
							Class "ConvertToTransform"
						}
					}
				}
			}
        }
    }
    Handle {
        MsgParam "WCH_USER+58"//WCH_NodeCollideWithItem
        MsgParam "NULL"
        Driver {
            Class "OneSlot"
            Logic {
                Class "Switch"
                Method {
                    Class "JXJGetImmuno"
                }
                Method {//0：无效
                    Class "Null"
                }
                Logic {//1：正常
                    Class "Switch"
                    Method {
                        Class "JXJGetHitType"
                    }
                    Logic {//0敌人
                        Class "Proxy"
						Method {
							Class "Null"
						}
                    }
                    Logic {//1队友
                        Class "Switch"
                        Method {
                            Class  "JXJHitArmyTypeCheck"
                        }
                        Logic {
                            Class "Proxy"
                            Method {//步兵
                                Class "JXJTargetExtra"
                            }
                        }
                    }
                    Logic {//2自己
                        Class "Switch"
                        Method {
                            Class  "JXJHitArmyTypeCheck"
                        }
                        Logic {
                            Class "Proxy"
                            Method {//步兵
                                Class "JXJTargetExtra"
                            }
                        }
                    }
				}
                Logic {//2：物理免疫
                    Class "Switch"
                    Method {
                        Class "JXJGetHitType"
                    }
                    Logic {//0敌人
                        Class "Proxy"
						Method {
							Class "Null"
						}
                    }
                    Logic {//1队友
                        Class "Switch"
                        Method {
                            Class  "JXJHitArmyTypeCheck"
                        }
                        Logic {
                            Class "Proxy"
                            Method {//步兵
                                Class "JXJTargetExtra"
                            }
						}		
                    }
                    Logic {//2自己
                        Class "Switch"
                        Method {
                            Class  "JXJHitArmyTypeCheck"
                        }
                        Logic {
                            Class "Proxy"
                            Method {//步兵
                                Class "JXJTargetExtra"
                            }
                        }
                    }
                }
                Logic {//3：魔法免疫
                    Class "Proxy"
                    Method {
                        Class "Null"
                    }
                }
            }
        }
    }
	Handle {
        MsgParam "WCH_USER+83"//WCH_UserExtra
        MsgParam "0"//WCH_Server
        Driver {
            Class "MoreSlot"
            Logic {//兵种判断
                Class "Switch"
                Method {
                    Class "JXJArmyTypeCheck"
                }
                Logic {//步兵
                   Class "ProxyArray"
					Method {
						Class "ExtraLifeTime"
						Param "5"
					}
					Method {
						Class "JXJExtraGuise"
						Param "5"//持续时间
						Param "25"
					}
				}
                Logic {//弓兵
					Class "Proxy"
					Method {
						Class "ExtraLifeTime"
						Param "0.1"//持续时间
					}
				}
                Logic {//
					Class "Proxy"
					Method {
						Class "ExtraLifeTime"
						Param "0.1"//持续时间
					}
				}
                Logic {//器械
					Class "Proxy"
					Method {
						Class "ExtraLifeTime"
						Param "0.1"//持续时间
					}
				}	
            }
        }
    }
    Handle {
        MsgParam "WCH_USER+83"//WCH_UserExtra
        MsgParam "1"//WCH_Client
        Driver {
            Class "MoreSlot"
            Logic {//兵种判断
                Class "Switch"
                Method {
                    Class "JXJArmyTypeCheck"
                }
                Logic {//步兵
					Class "ProxyArray"
					Method {
						Class "ExtraLifeTime"
						Param "5"
					}					
					Method {
						Class "JXJExtraGuise"
						Param "5"//持续时间
						Param "25"
					}
                    Logic {//目标特效
                        Class "ExtraEffect"
                        Logic {
                            Class "PlaySceneFx"
                            Param "134,data/JXJEffect/Eft_Buff_Gongsu_01.cre"
                            Param "135,5"
                            Param "138,BBOX_CENTER"//boneName
                            Param "139,0,0,0"//offset
                            Param "140,1,1,1"//scale
                            Param "141,0"//rotAngle
                            Method {
                                Class "LoadAndCloneNode"
                            }
                            Logic {
                                Class "PlaceLoadedNode2"
                                Method {
                                    Class "ConvertToTransform"
                                }
                            }
                        }
                    }					
				}
                Logic {//弓兵
					Class "Proxy"
					Method {
						Class "ExtraLifeTime"
						Param "0.1"//持续时间
					}
				}
                Logic {//
					Class "Proxy"
					Method {
						Class "ExtraLifeTime"
						Param "0.1"//持续时间
					}
				}
                Logic {//器械
					Class "Proxy"
					Method {
						Class "ExtraLifeTime"
						Param "0.1"//持续时间
					}
                }
            }
        }
    }	
}
