# Creature3D Script Parser v1.0
 
Data {
    Class "JXJSkill"
    IncludeData "JXJ/script/skill/SkillI.cfg"
    Handle {
        MsgParam "WCH_USER+81"//WCH_TargetExtra
        MsgParam "0"//WCH_Server
        Driver {
            Class "MoreSlot"
            Logic {
				Class "ProxyArray"
				Method {
					Class "ExtraLifeTime"
					Param "0.1"
				}
				Logic {//
					Class  "IF_ELSE"
					Method {
						Class "JXJDices"
						Param "50"
					}				
					Method {
						Class "JXJExtraHalo"
						Param "0.1"//持续时间
						Param "0"//半径
						Param "994"//bufid
					}
					Method {
						Class "JXJExtraHalo"
						Param "0.1"//持续时间
						Param "0"//半径
						Param "995"//bufid
					}	
				}	
				Logic {//
					Class "IF_ELSE"
					Method {
						Class "JXJArmyAbstractIDCheck"
						Param "20012|30032"
					}
					Method {
						Class "JXJExtraDamageAttackOnce"
						Param "1.92"
					}
				}				
			}	
        }
    }
    Handle {
        MsgParam "WCH_USER+58"//WCH_NodeCollideWithItem
        MsgParam "NULL"
        Driver {
            Class "OneSlot"
            Logic {
                Class "Switch"
                Method {
                    Class "JXJGetImmuno"
                }
                Method {//0：无效
                    Class "Null"
                }
                Logic {//1：正常
                    Class "Switch"
                    Method {
                        Class "JXJGetHitType"
                    }
                    Logic {//0敌人
                        Class "ProxyArray"
                        Method {
                            Class "JXJTargetExtra"
                        }
                        Method {
                            Class "JXJSkillDamage"
                        }
						Logic {//受击方BUF判断
							Class "IF_ELSE"
							Method {
								Class "JXJHitEquipCardCheck"								
								Param "27290|27291|27292|27293|27294|27295|27296|27297|27298|27299|25300|25301|25302|25303|25304|25305|25306|25307|25308|25309"
							}						
							Logic {//1：正常
								Class "ProxyArray"						
								Logic {//攻击方BUF判断				
									Class "IF_ELSE"
									Method {
										Class "JXJFireEquipCardCheck"							
										Param "23370"
									}					
									Method {
										Class "JXJHitDamageAttack"
										Param "0.5"//百分比
										Param "1000"									
									}
								}
								Logic {//攻击方BUF判断				
									Class "IF_ELSE"
									Method {
										Class "JXJFireEquipCardCheck"							
										Param "23371"
									}					
									Method {
										Class "JXJHitDamageAttack"
										Param "0.75"//百分比
										Param "1000"									
									}
								}
								Logic {//攻击方BUF判断				
									Class "IF_ELSE"
									Method {
										Class "JXJFireEquipCardCheck"							
										Param "23372"
									}					
									Method {
										Class "JXJHitDamageAttack"
										Param "1"//百分比
										Param "1000"									
									}
								}
								Logic {//攻击方BUF判断				
									Class "IF_ELSE"
									Method {
										Class "JXJFireEquipCardCheck"							
										Param "23373"
									}					
									Method {
										Class "JXJHitDamageAttack"
										Param "1.25"//百分比
										Param "1000"									
									}
								}
								Logic {//攻击方BUF判断				
									Class "IF_ELSE"
									Method {
										Class "JXJFireEquipCardCheck"							
										Param "23374"
									}					
									Method {
										Class "JXJHitDamageAttack"
										Param "1.5"//百分比
										Param "1000"									
									}
								}
								Logic {//攻击方BUF判断				
									Class "IF_ELSE"
									Method {
										Class "JXJFireEquipCardCheck"							
										Param "23375"
									}					
									Method {
										Class "JXJHitDamageAttack"
										Param "1.75"//百分比
										Param "1000"									
									}
								}
								Logic {//攻击方BUF判断				
									Class "IF_ELSE"
									Method {
										Class "JXJFireEquipCardCheck"							
										Param "23376"
									}					
									Method {
										Class "JXJHitDamageAttack"
										Param "2"//百分比
										Param "1000"									
									}
								}	
								Logic {//攻击方BUF判断				
									Class "IF_ELSE"
									Method {
										Class "JXJFireEquipCardCheck"							
										Param "23377"
									}					
									Method {
										Class "JXJHitDamageAttack"
										Param "2.25"//百分比
										Param "1000"									
									}
								}								
							}	
						}						
                    }
				}
                Logic {//2：物理免疫
                    Class "Switch"
                    Method {
                        Class "JXJGetHitType"
                    }
                    Logic {//0敌人
                        Class "ProxyArray"
                        Method {
                            Class "JXJTargetExtra"
                        }
                        Method {
                            Class "JXJSkillDamage"
                        }
						Logic {//受击方BUF判断
							Class "IF_ELSE"
							Method {
								Class "JXJHitEquipCardCheck"								
								Param "27290|27291|27292|27293|27294|27295|27296|27297|27298|27299|25300|25301|25302|25303|25304|25305|25306|25307|25308|25309"
							}						
							Logic {//1：正常
								Class "ProxyArray"						
								Logic {//攻击方BUF判断				
									Class "IF_ELSE"
									Method {
										Class "JXJFireEquipCardCheck"							
										Param "23370"
									}					
									Method {
										Class "JXJHitDamageAttack"
										Param "0.5"//百分比
										Param "1000"									
									}
								}
								Logic {//攻击方BUF判断				
									Class "IF_ELSE"
									Method {
										Class "JXJFireEquipCardCheck"							
										Param "23371"
									}					
									Method {
										Class "JXJHitDamageAttack"
										Param "0.75"//百分比
										Param "1000"									
									}
								}
								Logic {//攻击方BUF判断				
									Class "IF_ELSE"
									Method {
										Class "JXJFireEquipCardCheck"							
										Param "23372"
									}					
									Method {
										Class "JXJHitDamageAttack"
										Param "1"//百分比
										Param "1000"									
									}
								}
								Logic {//攻击方BUF判断				
									Class "IF_ELSE"
									Method {
										Class "JXJFireEquipCardCheck"							
										Param "23373"
									}					
									Method {
										Class "JXJHitDamageAttack"
										Param "1.25"//百分比
										Param "1000"									
									}
								}
								Logic {//攻击方BUF判断				
									Class "IF_ELSE"
									Method {
										Class "JXJFireEquipCardCheck"							
										Param "23374"
									}					
									Method {
										Class "JXJHitDamageAttack"
										Param "1.5"//百分比
										Param "1000"									
									}
								}
								Logic {//攻击方BUF判断				
									Class "IF_ELSE"
									Method {
										Class "JXJFireEquipCardCheck"							
										Param "23375"
									}					
									Method {
										Class "JXJHitDamageAttack"
										Param "1.75"//百分比
										Param "1000"									
									}
								}
								Logic {//攻击方BUF判断				
									Class "IF_ELSE"
									Method {
										Class "JXJFireEquipCardCheck"							
										Param "23376"
									}					
									Method {
										Class "JXJHitDamageAttack"
										Param "2"//百分比
										Param "1000"									
									}
								}	
								Logic {//攻击方BUF判断				
									Class "IF_ELSE"
									Method {
										Class "JXJFireEquipCardCheck"							
										Param "23377"
									}					
									Method {
										Class "JXJHitDamageAttack"
										Param "2.25"//百分比
										Param "1000"									
									}
								}								
							}	
						}						
                    }
                }
                Logic {//3：魔法免疫
                    Class "Proxy"
                    Method {
                        Class "Null"
                    }
                }
            }
        }
    }
}
