# Creature3D Script Parser v1.0
 
Data {
    Class "JXJSkill"
    IncludeData "JXJ/script/skill/SkillI.cfg"
    Handle {
        MsgParam "WCH_USER+118"//WCH_AttackExtraTestÆÕÍ¨¹¥»÷¼ì²â
        MsgParam "NULL"
        Driver {
            Class "MoreSlot"			
			Logic {
				Class "IF_ELSE"
				Method {
					Class "JXJIsGainExtra"	//×´Ì¬¼ì²â						
					Param "1"//0¹¥»÷Õß£¬1ÊÜ»÷Õß
					Param "15003|15011|17508"
				}
				Method {
					Class "JXJTargetExtra"
				}					
			}				
        }
    }
    Handle {
        MsgParam "WCH_USER+81"//WCH_TargetExtra
        MsgParam "0"//WCH_Server
        Driver {
            Class "OneSlot"
			Method {
				Class "JXJExtraDamageAttackOnce"
				Param "0.5"						
			}			
        }
    }	
}
