# Creature3D Script Parser v1.0
Hypertext {
    DrawMode "TEXT"
    LineSpacing 1.0
    UnderLineSpacing 3.0
    Font "simhei.ttf"
    Alignment "BASE_LINE"
    CharacterSize 15
    Color [0 0 0 255]
    Content {
        Text "木制冲车，低级器械，对城门箭塔政厅造成大量伤害"
    }
    Content {
        Color [65 141 136 255]
        Text "/n【城防护甲，免疫大部分法术伤害】"
    }
}
