# Creature3D Script Parser v1.0
Hypertext {
    DrawMode "TEXT"
    LineSpacing 1.0
    UnderLineSpacing 3.0
    Font "simhei.ttf"
    Alignment "BASE_LINE"
    CharacterSize 15
    Color [0 0 0 255]
    Content {
        Text "黑山军主力步兵，人皆彪悍，都是血勇之辈，不可轻视"
    }
    Content {
        Color [65 141 136 255]
        Text "/n【对弓兵系兵种额外造成20%绝对伤害】"
    }
}
