# Creature3D Script Parser v1.0
Hypertext {
    DrawMode "TEXT"
    LineSpacing 1.0
    UnderLineSpacing 3.0
    Font "simhei.ttf"
    Alignment "BASE_LINE"
    CharacterSize 15
    Color [0 0 0 255]
    Content {
        Text "大汉朝的正规标准弩机，射程远且快，比较常见的兵种"
    }
    Content {
        Color [65 141 136 255]
        Text "/n【对骑兵系兵种额外造成20%绝对伤害】"
    }
}
