# Creature3D Script Parser v1.0
Hypertext {
    DrawMode "TEXT"
    LineSpacing 1.0
    UnderLineSpacing 3.0
    Font "simhei.ttf"
    Alignment "BASE_LINE"
    CharacterSize 15
    Color [0 0 0 255]
    Content {
        Text "投巨石百步之外,群体伤害,对城门箭塔政厅造成大量伤害"
    }
    Content {
        Color [65 141 136 255]
        Text "/n【城防护甲，免疫大部分法术伤害】"
    }
    Content {
        Color [40 120 80 255]
        Text "【爆炸半径7米】"
    }
}
