# Creature3D Script Parser v1.0
//任务:按图索骥
Hypertext {
    DrawMode "TEXT"
    LineSpacing 1.0
    UnderLineSpacing 3.0
	Font "simhei.ttf"
	CharacterSize 13
	FrontSize [13 13]
	Alignment "BASE_LINE"
	Color [255 255 255 255]
	Content {
		DrawMode "TEXT|UNDERLINE"
		Color [0 255 0 255]
		Text "  找老中医（79，62）\n"
		Link 1
	}
	Content {
		DrawMode "TEXT|UNDERLINE"
		Color [0 255 255 255]
		Text "  找丑八怪（179，22）\n"
		Link 2
	}
}
Data {
	Class "JXJUIHyperTextItem"
	Param "3000,1"//itemid1,count
	Param "4000,2"//itemid2,count
	Param "3001,1"//itemid3,count
	Param "4001,6"//itemid4,count
	Param "3002,5"//itemid5,count
	Param "4002,3"//itemid6,count
	Handle {
		MsgParam "LBtnDown"
		MsgParam "1"
		Driver {
            Class "OneSlot"
			xMethod {
				Class "JXJGetMailItem"
				Param "1,0"
				Param "-23,-18"
				Param "WCH_USER+183,0"//WCH_ITouch,
				Param "94,0"//itemid,notuse
			}
		}
	}
	Handle {
		MsgParam "LBtnDown"
		MsgParam "2"
		Driver {
            Class "OneSlot"
			xMethod {
				Class "JXJGetMailItem"
				Param "1,0"
				Param "-23,-18"
				Param "WCH_USER+183,0"//WCH_ITouch,
				Param "94,0"//itemid,notuse
			}
		}
	}
}