# Creature3D Script Parser v1.0
Hypertext {
    DrawMode "TEXT"
    LineSpacing 1.0
    UnderLineSpacing 3.0
	Font "simhei.ttf"
	CharacterSize 15
	Alignment "BASE_LINE"
	Color [255 255 100 255]
	Content {
		Color [0 255 0 255]
		Text "司马监可以提升"
	}
	Content {
		Text "马匹产量\n"
	}
}