# Creature3D Script Parser v1.0
Hypertext {
    DrawMode "TEXT"
	Alignment "BASE_LINE"
	Content {
		Color [255 255 0 255]
		Text "来吐槽吧,尽情说出你对游戏的想法!\n"
	}
	Content {
		Text "开测至今,我们收到了许多热心玩家的反馈和建议,相信还有很多玩家有更多的话想对我们倾述.无论是吐槽还是建议,都可以通过[意见征集]活动对我们进行反馈。我们会不定期对提出优秀建议的玩家发送丰厚礼包大奖,名额不限!\n"
	}
	Content {
		Text "有效建议奖:"
	}
	Content {
		Color [255 255 0 255]
		Text "礼金*200,回馈礼包*2"
	}
	Content {
		Text "  优秀建议奖:"
	}
	Content {
		Color [255 255 0 255]
		Text "礼金*500,回馈礼包*5\n"
	}
	Content {
		Text "诚邀广大玩家反馈意见,让我们携手共同创造更好的体验!"
	}
}