# Creature3D Script Parser v1.0

Data {
    Class "Event"
	Handle {
		MsgParam "WCH_UPDATE"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJSearchBuildingLv"
				Param "20126"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+20122"//WCH_JXJServerCompleteCheck
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJSearchBuildingLvCompleteCheck"
				Param "20126"
			}
		}
	}
}