# Creature3D Script Parser v1.0

Data {
    Class "Event"
	Handle {
		MsgParam "WCH_UPDATE"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJMingJiangWorldPassCount"
				Param "40"
				Param "41"
				Param "42"
				Param "6|7|8"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+20122"//WCH_JXJServerCompleteCheck
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJMingJiangWorldPassCountCheck"
				Param "40"
				Param "41"
				Param "42"
				Param "6|7|8"
			}
		}
	}
}