 # Creature3D Script Parser v1.0  

Data {
    Class "GameClient"
	Handle {
        MsgParam "WCH_USER+247"//WCH_DownloadTaskDone
		MsgParam "10"//JXJHttpD_UI1
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJLoadUIScene"
				Param "uiscene/jxjhome1.cru"
			}
		}
    }
	Handle {
        MsgParam "WCH_USER+247"//WCH_DownloadTaskDone
		MsgParam "11"//JXJHttpD_UI2
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJLoadUIScene"
				Param "uiscene/jxjhome2.cru"
			}
		}
    }
	Handle {
        MsgParam "WCH_USER+7"//WCH_RecvedFileStream
		MsgParam "22122"		// WCHDATA_JXJGameServerLogFile				
		Driver {
			Class "MoreSlot"
			Method {
				Class  "JXJClientRecvServerLog"		
				Param "UI_Operation"				
                Param "Z1_Input11"
			}
		}
    }
	Handle {
        MsgParam "WCH_USER+22800"//WCH_JXJGetStartedDays																												
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetStartedDays"
			}
		}
    }
	////////////下载文件
	Handle {
        MsgParam "WCH_USER+7"//WCH_RecvedFileStream
		MsgParam "20328"		// WCHDATA_JXJHuodongTab下载活动tab
		Driver {
			Class "MoreSlot"
			Method {
				Class  "JXJReloadHuodongTab"
			}
			Method {
				Class  "JXJUpdateNewHuodongMap"
			}
			Method {
				Class  "CanvasUpdate"
				Param "UI_Event_7Day"
			}
			Method {
				Class  "CanvasUpdate"
				Param "UI_Yueka"
			}
			Method {
				Class  "CanvasUpdate"
				Param "UI_ChongZhiZiXuanLiBao"
			}
			Method {
				Class  "CanvasUpdate"
				Param "UI_Leijichongzhi"
			}
			Method {
				Class  "CanvasUpdate"
				Param "UI_Danbichongzhi"
			}
			Method {
				Class  "CanvasUpdate"
				Param "UI_Leijixiaofei"
			}
			Method {
				Class  "CanvasUpdate"
				Param "UI_Xiaozhouka"
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+7"//WCH_RecvedFileStream
		MsgParam "20069"//WCHDATA_JXJOnlineRewardTab
		Driver {
			Class "MoreSlot"
			Method {
				Class  "JXJReloadVersionTab"
				Param "20069"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+7"//WCH_RecvedFileStream
		MsgParam "22362"//WCHDATA_JXJHuoyueduRewardTab
		Driver {
			Class "MoreSlot"
			Method {
				Class  "JXJReloadVersionTab"
				Param "22362"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+7"//WCH_RecvedFileStream
		MsgParam "20095"//WCHDATA_JXJItemTab
		Driver {
			Class "MoreSlot"
			Method {
				Class  "JXJReloadVersionTab"
				Param "20095"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+7"//WCH_RecvedFileStream
		MsgParam "20469"//WCHDATA_JXJTaskTitleTab
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJReloadVersionTab"
				Param "20469"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+7"//WCH_RecvedFileStream
		MsgParam "20373"//WCHDATA_JXJSiteTab
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJReloadVersionTab"
				Param "20373"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+7"//WCH_RecvedFileStream
		MsgParam "20512"//WCHDATA_JXJForeignCardTab
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJReloadVersionTab"
				Param "20512"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+7"//WCH_RecvedFileStream
		MsgParam "22934"//WCHDATA_JXJ7DayTab
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJReloadVersionTab"
				Param "22934"
			}
		}
	}
}
