# Creature3D Script Parser v1.0
Data {
    Class "Global"
	Param "188,2016|7|7"//WCHDATA_gStartDate  开服时间
    Param "142,0.01"//WCHDATA_gUnitScale
    Param "143,99"//WCHDATA_gMaxLapover
    Param "144,0.25"//WCHDATA_gSaleRate
    Param "145,120"//WCHDATA_gRemoveOutRangeTime
    Param "146,130"//WCHDATA_gRecycleIDTime
    Param "147,60"//WCHDATA_gRecycleStreamIDTime_in
    Param "148,180"//WCHDATA_gRecycleStreamIDTime_out
    Param "149,5"//WCHDATA_gMaxgroupmember
    Param "150,20"//WCHDATA_gMaxSkillLevelLearn
    Param "151,2"//WCHDATA_gMinFollowDistance
	Param "152,3"//WCHDATA_gMinItemUseRange
    Param "153,200"//WCHDATA_gItemVisiableDelay
    Param "154,524288"//WCHDATA_gMaxRecBufSize
    Param "155,rec/gamechat.cfg"//WCHDATA_gGameChatRecFile 
    Param "156,rec/chatmsg.cfg"//WCHDATA_gChatMsgRecFile
    Param "157,50"//WCHDATA_gNumGameChatShow
	Param "158,30"//WCHDATA_gNumGameChatClear 
	Param "159,100"//WCHDATA_gMaxInRangePlayer 
	Param "160,200"//WCHDATA_gMaxInRangeItem 
	Param "161,600"//WCHDATA_gStreamCacheMaxTime
	Param "162,10"//WCHDATA_gMaxDisplayTaskTrace 
	Param "163,20"//WCHDATA_gRemoveItemChildTime
	Param "164,0.5"//WCHDATA_gControllerTime
	Param "165,2.5"//WCHDATA_gLayerHeight
	Param "185,0.8"//WCHDATA_gWalkHeight
	Param "166,3"//WCHDATA_gMaxRoleCanJoin
	Param "167,1"//WCHDATA_gFirstGameSceneID
	Param "171,72"//WCHDATA_gMainRoleAItemID
	Param "172,7"//WCHDATA_gMainRoleAMetierID
	Param "173,0"//WCHDATA_gShowDebugInfo
	Param "187,1"//WCHDATA_gEnableRobotTest
	Param "174,20"//WCHDATA_gSightRange
	Param "175,1.5"//WCHDATA_gEyeHeight
	Param "176,3"//WCHDATA_gItemAdjustAngular
	Param "177,2"//WCHDATA_gFollowDelta
	Param "178,100"//WCHDATA_gPortScopeSqr
	Param "179,8"//WCHDATA_gItemVisiableInterval
	Param "180,1"//WCHDATA_gLoginConnectCount
	Param "184,1.0"//WCHDATA_gDynamicTryWait
	Param "169,JXJ/GlobalTable.crb"
	Param "170,213,JXJ/abstractitem.crb"
	Param "170,214,JXJ/abstractmetier.crb"
	Param "170,215,JXJ/res.crb"
	Param "170,216,JXJ/scene.crb"
	Param "170,217,JXJ/instranceitem.crb"
	Param "170,20018,JXJ/script/table/playericon.crb"
	Param "170,20021,JXJ/script/table/shili.crb"
	Param "170,20041,JXJ/script/table/troops.crb"
	Param "170,20063,JXJ/script/table/buildinglv.crb"
	Param "170,20064,JXJ/script/table/info.crb"
	Param "170,20069,JXJ/script/table/onlinereward.crb"
	Param "170,20035,JXJ/script/table/govpost.crb"
	Param "170,20080,JXJ/script/table/hint.crb"
	Param "170,20081,JXJ/script/table/home.crb"
	Param "170,20094,JXJ/script/table/fuben.crb"
	Param "170,20095,JXJ/script/table/item.crb"
	Param "170,20096,JXJ/script/table/quality.crb"
	Param "170,20136,JXJ/script/table/fuku.crb"
	Param "170,20149,JXJ/script/table/resbuilding.crb"
	Param "170,20152,JXJ/script/table/impress.crb"
	Param "170,20153,JXJ/script/table/jiushi.crb"
	Param "170,20164,JXJ/script/table/troopsequip.crb"
	Param "170,20168,JXJ/script/table/goods.crb"
	Param "170,20169,JXJ/script/table/shiji.crb"
	Param "170,20184,JXJ/script/table/resname.crb"
	Param "170,20192,JXJ/script/table/chengchi.crb"
	Param "170,226,JXJ/script/table/RoleDataAttr.crb"
	Param "170,230,JXJ/script/table/SkillDataAttr.crb"
	Param "170,251,JXJ/script/table/EquipDataAttr.crb"
	Param "170,232,JXJ/script/table/NpcDataAttr.crb"
	Param "170,338,JXJ/script/table/NpcEquips.crb"
	Param "170,339,JXJ/script/table/NpcSkillSelect.crb"
	Param "170,20301,JXJ/script/table/playername.crb"
	Param "170,237,JXJ/script/table/NpcPatrol.crb"
	Param "170,20216,JXJ/script/table/lordequip.crb"
	Param "170,20408,JXJ/script/table/beibao.crb"
	Param "170,20527,JXJ/script/table/BattleReward.crb"
	Param "170,20234,JXJ/script/table/lordlv.crb"
	Param "170,20251,JXJ/script/table/EquipDataAttr.crb"
	Param "170,20445,JXJ/script/table/chapter.crb"
	Param "170,20062,JXJ/script/table/techlv.crb"
	Param "170,20244,JXJ/script/table/ChestDrop.crb"
	Param "170,20245,JXJ/script/table/ProduceCard.crb"
	Param "170,20248,JXJ/script/table/ResPack.crb"
	Param "170,20249,JXJ/script/table/TroopsEquipPack.crb"
	Param "170,20469,JXJ/script/table/jxjtasktitle.crb"
	Param "170,20250,JXJ/script/table/lordequipsuit.crb"
	Param "170,20483,JXJ/script/table/ZhengCard.crb"
	Param "170,20802,JXJ/script/table/jxjtaskdialogue.crb"
	Param "170,20254,JXJ/script/table/SceneItemDrop.crb"
	Param "170,20256,JXJ/script/table/CodeText.crb"
	Param "170,20810,JXJ/script/table/Systemshow.crb"
	Param "170,20536,JXJ/script/table/fubenreward.crb"
	Param "170,20813,JXJ/script/table/chengchiroad.crb"
	Param "170,20708,JXJ/script/table/jxjtask.crb"
	Param "170,374,JXJ/script/table/RoleInbornAttr.crb"
	Param "170,375,JXJ/script/table/NpcInbornAttr.crb"
	Param "170,20837,JXJ/script/table/lordequipsuit2.crb"
	Param "170,20262,JXJ/script/table/TroopsPack.crb"
	Param "170,20268,JXJ/script/table/VipCard.crb"
	Param "170,20270,JXJ/script/table/accomplish.crb"
	Param "170,20894,JXJ/script/table/CountryBuild.crb"
	Param "170,20900,JXJ/script/table/accomplishPicture.crb"
	Param "170,20566,JXJ/script/table/FubenDrop.crb"
	Param "170,20898,JXJ/script/table/RankingList.crb"
	Param "170,20299,JXJ/script/table/EquipRoleExtra.crb"
	Param "170,20197,JXJ/script/table/EquipTroopsExtra.crb"
	Param "170,20247,JXJ/script/table/CardExtra.crb"
	Param "170,20636,JXJ/script/table/VipLevel.crb"
	Param "170,20721,JXJ/script/table/FuBenResetCost.crb"
	Param "170,21018,JXJ/script/table/govpostshop.crb"
	Param "170,20641,JXJ/script/table/faceicon.crb"
	Param "170,21024,JXJ/script/table/InvalidWord.crb"
	Param "170,20238,JXJ/script/table/Equipinlay.crb"
	Param "170,21105,JXJ/script/table/Inlay.crb"
	Param "170,21052,JXJ/script/table/EquipRefine0.crb"
	Param "170,21053,JXJ/script/table/EquipRefine1.crb"
	Param "170,21054,JXJ/script/table/EquipRefine2.crb"
	Param "170,21060,JXJ/script/table/EquipRefineQuality.crb"
	Param "170,21061,JXJ/script/table/EquipRefineCreate.crb"
	Param "170,21075,JXJ/script/table/VipAffairs.crb"
	Param "170,21076,JXJ/script/table/VipAffairsLv.crb"
	Param "170,20730,JXJ/script/table/jxjxumudialogue.crb"
	Param "170,20732,JXJ/script/table/talk.crb"
	Param "170,20626,JXJ/script/table/fightingpower.crb"
	Param "170,20676,JXJ/script/table/NpcMark.crb"
	Param "170,20737,JXJ/script/table/ChengchiMark.crb"
	Param "170,20738,JXJ/script/table/FubenMark.crb"
	Param "170,22013,JXJ/script/table/GroupUpgrade.crb"
	Param "170,22014,JXJ/script/table/GroupContibute.crb"
	Param "170,21204,JXJ/script/table/TroopsTech.crb"
	Param "170,21206,JXJ/script/table/TroopsTechLv.crb"
	Param "170,21250,JXJ/script/table/bingying.crb"
	Param "170,22018,JXJ/script/table/canton.crb"
	Param "170,21305,JXJ/script/table/fubencard.crb"
	Param "170,21315,JXJ/script/table/persuadereward.crb"
	Param "170,21333,JXJ/script/table/landreward.crb"
	Param "170,21334,JXJ/script/table/landrewarmulti.crb"
	Param "170,22067,JXJ/script/table/CountryBenefit.crb"
	Param "170,21351,JXJ/script/table/lunhuireward.crb"
	Param "170,22093,JXJ/script/table/nameLimit.crb"
	Param "170,22083,JXJ/script/table/JunTuanFuBen.crb"
	Param "170,21292,JXJ/script/table/IconCoordinate.crb"
	Param "170,20328,JXJ/script/table/huodong.crb" 
	Param "170,22303,JXJ/script/table/JunlingCost.crb"
	Param "170,20196,JXJ/script/table/chengchiLv.crb"
	Param "170,21366,JXJ/script/table/BuffAttr.crb"
	Param "170,21367,JXJ/script/table/JunlingCard.crb"
	Param "170,22318,JXJ/script/table/NewguideStep.crb"
	Param "170,22319,JXJ/script/table/Newguide.crb"
	Param "170,22320,JXJ/script/table/NewguideText.crb"
	Param "170,20332,JXJ/script/table/NpcItemDrop.crb"
	Param "170,22337,JXJ/script/table/scenariotalk.crb"
	Param "170,20333,JXJ/script/table/SceneItemDrop2.crb"
	Param "170,22344,JXJ/script/table/NewFunctionOpen.crb"
	Param "170,22359,JXJ/script/table/Huoyuedu.crb"
	Param "170,20336,JXJ/script/table/InvalidText.crb"
	Param "170,22362,JXJ/script/table/HuoyueduReward.crb"
	Param "170,22368,JXJ/script/table/GovPostReward.crb"
	Param "170,22369,JXJ/script/table/FunctionOpenInfo.crb"
	Param "170,22160,JXJ/script/table/FoundCountryCity.crb"
	Param "170,22406,JXJ/script/table/Robot.crb"
	Param "170,22408,JXJ/script/table/VipInfo.crb"
	Param "170,22413,JXJ/script/table/resaddbuilding.crb"
	Param "170,22170,JXJ/script/table/7DaysAward.crb"
	Param "170,20341,JXJ/script/table/DataMonitor.crb"
	Param "170,20344,JXJ/script/table/ShouchongAward.crb"
	Param "170,20349,JXJ/script/table/yueka.crb"
	Param "170,22602,JXJ/script/table/zhengzhantshop.crb"
	Param "170,22635,JXJ/script/table/worldrankaward.crb"
	Param "170,22636,JXJ/script/table/jifenaward.crb"
	Param "170,20356,JXJ/script/table/validate.crb"
	Param "170,20357,JXJ/script/table/worldfuben.crb"
	Param "170,22713,JXJ/script/table/chengchiPro.crb"
	Param "170,22714,JXJ/script/table/JuntuanPro.crb"
	Param "170,22904,JXJ/script/table/resourceIcon.crb"
	Param "170,22906,JXJ/script/table/Impression.crb"
	Param "170,22908,JXJ/script/table/recharge_tx.crb"
	Param "170,22917,JXJ/script/table/shiji2.crb"
	Param "170,22920,JXJ/script/table/goldRecruit.crb"
	Param "170,22923,JXJ/script/table/txMarketTask.crb"
	Param "170,22720,JXJ/script/table/ChestVipDrop.crb"
	Param "170,22722,JXJ/script/table/TreasureCost.crb"
	Param "170,22728,JXJ/script/table/Coefficient.crb"
	Param "170,22725,JXJ/script/table/SpecialtyRefresh.crb"
	Param "170,22848,JXJ/script/table/WorldFubenRandomBuff.crb"
	Param "170,22665,JXJ/script/table/continuehuoyuedu.crb"
	Param "170,22668,JXJ/script/table/achieveshop.crb"
	Param "170,22689,JXJ/script/table/attributiondescribe.crb"
	Param "170,22686,JXJ/script/table/Viplvreward.crb"
	Param "170,22654,JXJ/script/table/shilidrop.crb"
	Param "170,22933,JXJ/script/table/presentSoldier.crb"
	Param "170,22934,JXJ/script/table/7DayNew.crb"
	Param "170,22860,JXJ/script/table/Juntuankaifu.crb"
	Param "170,20358,JXJ/script/table/TroopsChengchi.crb"
	Param "170,20359,JXJ/script/table/TroopsFuben.crb"
	Param "170,20373,JXJ/script/table/site.crb"
	Param "170,20395,JXJ/script/table/BattleRanking.crb"
	Param "170,20512,JXJ/script/table/ForeignCard.crb"
}
