# Creature3D Script Parser v1.0

Data {
    Class "Event"
	Handle {
		MsgParam "WCH_UPDATE"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJTaskCheckFormation"
				Param "20001|1|0"
				Param "20007|1|1"
			}
		}
	}
}