# Creature3D Script Parser v1.0

Data {
    Class "Event"
	Handle {
		MsgParam "WCH_UPDATE"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJTaskSearchAppointCard"
				Param "0"
				Param "0"
			}
		}
	}
}