# Creature3D Script Parser v1.0  

Data {
    Class "RpgGameBot"
    Param "19,1.5"//WCHDATA_ViewHeight
    Param "20,0.2"//WCHDATA_WalkableHeight
    Param "21,5.0"//WCHDATA_TurnToIdleTime
    Param "22,Tank"//WCHDATA_BotEffectStr
    Handle {
        MsgParam "WCH_UPDATEVISITOR"
		MsgParam "NULL"
		Driver {
			Class "NodeMoreSlot"
			xMethod {
				Class "GetRadarInfo"//必须要有
			}
			Method {
				Class "ExcEventContainer"
				Param "WCH_MSGCONTAINER"
				Param "WCH_UPDATEVISITOR"
			}
			xMethod {
				Class "ExcEventContainer"
				Param "WCH_MSGCONTAINER"//WCH_MSGCONTAINER
				Param "WCH_KEYBOARDMOUSE"//WCH_KEYBOARDMOUSE
			}
			Method {
				Class  "ItemUpdate"
			}
		}
    }
	Handle {
		MsgParam "WCH_MSGCONTAINER"
		MsgParam "WCH_UPDATEVISITOR"
		Driver {
			Class "OneSlot"
			Method {
				Class "BaseEventContainer"
			}
		}
	}
	xHandle {
		MsgParam "WCH_MSGCONTAINER"
		MsgParam "WCH_KEYBOARDMOUSE"
		Driver {
			Class "OneSlot"
			Method {
				Class "RoleEventContainer"
			}
		}
	}
	xHandle {
		MsgParam "WCH_AITASK"
		MsgParam "0"
		Driver {
			Class "OneSlot"
			Method {
				Class "AITask"
				Param "GameInit"//taskname
			}
		}
	}
	xHandle {
		MsgParam "WCH_AITASK"
		MsgParam "1"
		Driver {
			Class "OneSlot"
			Method {
				Class "AITask"
				Param "ItemInRange"//taskname
			}
		}
	}
	xHandle {
		MsgParam "WCH_AITASK"
		MsgParam "4"
		Driver {
			Class "OneSlot"
			Method {
				Class "AITask"
				Param "PlayerRelive"//taskname
			}
		}
	}
	xHandle {
		MsgParam "WCH_AITASK"
		MsgParam "5"
		Driver {
			Class "OneSlot"
			Method {
				Class "AITask"
				Param "ItemLoaded"//taskname
			}
		}
	}
	xHandle {
		MsgParam "WCH_INPUTAITASK"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "InputAITask"
			}
		}
	}
	xHandle {
		MsgParam "WCH_DOAITASK"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "DoAITask"
			}
		}
	}
	xHandle {
		MsgParam "WCH_USER+42"//WCH_NetMoveToTarget
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "NetMoveToTarget"
			}
		}
	}
	xHandle {
		MsgParam "WCH_USER+46"//WCH_NetMoveToTarget2
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "NetMoveToTarget2"
			}
		}
	}
	xHandle {
		MsgParam "WCH_USER+50"//WCH_NodeInRange
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "NodeInRange"
			}
		}
	}
	xHandle {
		MsgParam "WCH_USER+51"//WCH_NodeOutRange
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "NodeOutRange"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+88"//WCH_ItemUse
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "ItemUse"
			}
		}
	}
	Handle {
		MsgParam "WCH_COLLIDE"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "BotCollide"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+307"//WCH_TrackFireMiss
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJTrackFireMiss"
				Param "UI_CopyBattle_Display_Lose"
			}
		}
	}
	xHandle {
		MsgParam "WCH_USER+64"//WCH_RecvDamage
		MsgParam "NULL"
		Driver {
			Class "NodeOneSlot"
			Method {
				Class "ShowStateText"
				Param "WCH_USER+64"
				Param "0.3, 4.0"//zRange
				Param "0.8"//riseSpeed
				Param "60"//maxRange
				Param "20"//characterSize
				Param "CENTER_BASE_LINE"
				Param "255, 0, 0, 255"//
				Param "simhei.ttf"
			}
		}
	}
	Handle {
		MsgParam "WCH_SHOWCURSOR"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class  "ShowCursor"
				Param "Default"
			}
		}
	}
	Handle {
		MsgParam "WCH_HIDEBODY"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class  "HideBody"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+90"//WCH_RecvExperience
		MsgParam "NULL"
		Driver {
			Class "NodeOneSlot"
			Method {
				Class "ShowStateText"
				Param "WCH_USER+90"
				Param "0.4, 4.0"
				Param "0.8"
				Param "60"
				Param "20"//characterSize
				Param "CENTER_BASE_LINE"
				Param "201, 38, 188, 255"
				Param "simhei.ttf"
				Param "经验"//prestr
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+91"//WCH_RecvGold
		MsgParam "NULL"
		Driver {
			Class "NodeOneSlot"
			Method {
				Class "ShowStateText"
				Param "WCH_USER+91"
				Param "0.5, 4.0"
				Param "0.8"
				Param "60"
				Param "20"//characterSize
				Param "CENTER_BASE_LINE"
				Param "245, 220, 10, 255"
				Param "simhei.ttf"
				Param "金币"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+93"//WCH_RecvLvUp
		MsgParam "NULL"
		Driver {
			Class "NodeOneSlot"
			Method {
				Class "ShowStateText"
				Param "WCH_USER+93"
				Param "0.0, 4.0"
				Param "0.8"
				Param "60"
				Param "20"//characterSize
				Param "CENTER_BASE_LINE"
				Param "34, 217, 20, 255"
				Param "simhei.ttf"
				Param "升级"
			}
		}
	}
	xHandle {
		MsgParam "WCH_USER+102"//WCH_Sink
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class  "Sink"
				Param "-1.0f"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+103"//WCH_ResetBot
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class  "ResetBot"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+108"//WCH_RequestItemRTData
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class  "RequestItemRTData"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+111"//WCH_ExitScene
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "DisconnectScene"
			}
			Method {
				Class "ExitScene"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+160"//WCH_CureHP
		MsgParam "NULL"
		Driver {
			Class "NodeOneSlot"
			Method {
				Class "ShowStateText"
				Param "WCH_USER+160"
				Param "0.2, 4.0"//zRange
				Param "0.8"//riseSpeed
				Param "60"//maxRange
				Param "20"//characterSize
				Param "CENTER_BASE_LINE"
				Param "255, 0, 0, 255"//
				Param "simhei.ttf"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+161"//WCH_CureMP
		MsgParam "NULL"
		Driver {
			Class "NodeOneSlot"
			Method {
				Class "ShowStateText"
				Param "WCH_USER+161"
				Param "0.1, 4.0"//zRange
				Param "0.8"//riseSpeed
				Param "60"//maxRange
				Param "20"//characterSize
				Param "CENTER_BASE_LINE"
				Param "0, 0, 255, 255"//
				Param "simhei.ttf"
			}
		}
	}
	Handle {
		MsgParam16 "WCH_USER16+2"//WCH_CutScene
		MsgParam16 "1"//ID 死亡时触发
		Driver {
			Class "MoreSlot"
			Logic {
				Class "SlotTimer"
				Param "WCH_USER16+2"//lmsg
				Param "1"//hmsg
				Param "0"//id
				Param "10.0"//时间s
				Logic {
					Class "ProxyArray"
					Method {
						Class "ItemSetActState"
						Param "4"//Dead
						Param "2.0"
					}
				}
			}
			Logic {
				Class "SlotTimer"
				Param "WCH_USER16+2"//lmsg
				Param "1"//hmsg
				Param "1"//id
				Param "0.0"//时间s
				Logic {
					Class "ProxyArray"
					Method {
						Class  "CutShowNode"
						Param "0"
						Param "0"
					}
				}
			}
		}
	}//Handle End
	Handle {
		MsgParam16 "WCH_USER16+2"//WCH_CutScene
		MsgParam16 "2"//ID 死亡时触发
		Driver {
			Class "MoreSlot"
			Logic {
				Class "SlotTimer"
				Param "WCH_USER16+2"//lmsg
				Param "2"//hmsg
				Param "0"//id
				Param "10.0"//时间s
				Logic {
					Class "ProxyArray"
					Method {
						Class "ItemSetActState"
						Param "4"//Dead
						Param "2.0"
					}
				}
			}
			Logic {
				Class "SlotTimer"
				Param "WCH_USER16+2"//lmsg
				Param "2"//hmsg
				Param "1"//id
				Param "0.0"//时间s
				Logic {
					Class "ProxyArray"
					Method {
						Class  "CutShowNode"
						Param "0"
						Param "0"
					}
				}
			}
		}
	}//Handle End
}