# Creature3D Script Parser v1.0  

Bot {
    Name "JXJBot"
    matterGroupMaterialString "ViewCollideDetect"
    Body {
        Type "crNetViewMatterObject"
        addDescription "AttributeString:Human"
        addDescription "TypeString:Human"
        AttributeMask "AttrGround"
        MaxSpeed [0, 0, 0]
        MinSpeed [0, 0, 0]
        Velocity [0, 0, 0]
        //Mouse½»»¥
        ViewOffsetRange [1.0 15]
        ViewOffset 5
        ViewPitchRange [-0.6 0.8]
        ViewPitch 0.0
        ViewRoll 0.0
        ViewHeight 3
        LockViewPitch 0
        LockViewRoll 0
        LockViewOffset 1
        FreeCamera 1
        CameraPitchDelta 0.06
        
        GroundDetect 0
        CanFallDown 0
        Orientation [0 0 0]
        Position [0 0 0]
        PhysicsBox [1.3, 1.1, 2.6]
        //crCharacterMatterObject
        BlockRadius 1.3

        GameBodyInfo {
            Type "GameBodyInfo"
            Param "MM_TANK"
            //TaskPointRange
            Param "1.0"
            //targetRange
            Param "0.01"
            //detectCount
            Param "1"
            //detectRange
            Param "10"
        }
        Data {
            Class "RpgGameBot"
            IncludeData "JXJ/script/bot/BotData.cfg"
            Param "19,2.5"//WCHDATA_ViewHeight
            Param "20,0.5"//WCHDATA_WalkableHeight
            Param "21,5.0"//WCHDATA_TurnToIdleTime
            Param "22,Human"//WCHDATA_BotEffectStr
            xHandle {
				MsgParam "WCH_WEAPON_SELECT"
				MsgParam "NULL"
				Driver {
					Class "OneSlot"
					Method {
						Class "ShowAimUI"
						Param "1"
					}
				}
			}
			xHandle {
				MsgParam "WCH_WEAPON_UNSELECT"
				MsgParam "NULL"
				Driver {
					Class "OneSlot"
					Method {
						Class "ShowAimUI"
						Param "0"
					}
				}
			}
        }
    }
}