# Creature3D Script Parser v1.0  

Data {
    Class "JXJMainRole"
	IncludeData "JXJ/script/bot/MainRoleData.cfg"
	Param "39,1"
	Param "40,0"
	Param "20001,100"	//初始功勋（编号，数量）
	Param "20003,1"		//初始官职
	Handle {
		MsgParam "WCH_USER+20052"//WCH_JXJGetBingFa
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class  "JXJGetBingFa"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+20053"//WCH_JXJGetZhenFa
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class  "JXJGetZhenFa"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+20054"//WCH_JXJGetDongCha
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class  "JXJGetDongCha"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+20055"//WCH_JXJGetTongShuai
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class  "JXJGetTongShuai"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+20079"//WCH_JXJGetLeaderPower
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class  "JXJGetLeaderPower"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+20080"//WCH_JXJGetResProductPercent
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class  "JXJGetResProductPercent"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+20507"//WCH_JXJRecvExperience
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJRecvExperience"
				Param "10"//等级升级到10级的时候提取轮回仓库
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+20508"//WCH_JXJRecvExploit
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJRecvExploit"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+20509"//WCH_JXJRecvAchievement
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJRecvAchievement"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+20093"//WCH_JXJServerActiveTask
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJServerActiveTask"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+22624"//WCH_JXJServerResetDailyTask
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJServerRessetDailyTask"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+301"//WCH_MainRoleInit
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJServerActiveTask"
			}
			xMethod {
				Class "JXJCheckLordEquipSuit"
			}
			Method {
				Class "JXJCheckMyGroupID"
			}
			Method {
				Class "JXJMainRoleInit"
			}			
		}
	}	
	xHandle {
		MsgParam "WCH_USER+20441"//WCH_JXJCheckLordEquipSuit
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJCheckLordEquipSuit"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+20460"//WCH_JXJUIShowTipsCanvas
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJUIShowTipsCanvas"
				Param "UI_Prompt1"
				Param "UI_Prompt1_Input"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+20354"//WCH_JXJHuodongExtUpdate
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJHuodongExtUpdate"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+20356"//WCH_JXJDeductHuodongUpdate
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJDeductHuodongUpdate"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+20185"//WCH_JXJActiveSuperEquip
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJActiveSuperEquip"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+20188"//WCH_JXJGainSuperEquipLvupPoint
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGainSuperEquipLvupPoint"
			}
		}
	}
}