# Creature3D Script Parser v1.0  

Data {
    Class "JXJRole"
	IncludeData "JXJ/script/bot/JXJRole.cfg"
	xHandle {
		MsgParam "WCH_USER+304"//WCH_PlayActFx
		MsgParam "2"//ACT_Move
		Driver {
			Class "OneSlot"
			Logic {
				Class "ItemEffect"
				Param "0,0,0"
				Logic {
					Class "PlaySceneFx"
					Param "134,data/JXJEffect/Eft_Run_Yan_01.cre"
					Param "135,0.3"
					Method {
						Class "LoadAndCloneNode"
					}
					Logic {
						Class "PlaceLoadedNode2"
						Method {
							Class "ConvertToTransform"
						}
					}
				}
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+304"//WCH_PlayActFx
		MsgParam "6"//ACT_CritAttack
		Driver {
			Class "MoreSlot"
			Logic {
				Class "ItemEffect"
				Param "0,0,0"
				Logic {
					Class "PlaySceneFx"
					Param "134,data/JXJEffect/Eft_Xiangbing_Baoji_01.cre"
					Param "135,1.5"
					Method {
						Class "LoadAndCloneNode"
					}
					Logic {
						Class "PlaceLoadedNode2"
						Method {
							Class "ConvertToTransform"
						}
					}
				}
			}
			Logic {
				Class "CreateSound"
				Param "0"//创建Node
				Param "sounds/Audio_Xiangbing_Baoji.wav"
				Param "0"//ambient
				Param "1.0"//volume
				Param "0"//play
				Param "0"//looping
				Param "30.0"//声音开始变小的距离
				Param "80.0"//声音停止变小的距离
				Param "1.0"//pitch
				Method {
					Class "LoadSound"
				}
			}
		}
	}
}