# Creature3D Script Parser v1.0  

Data {
    Class "JXJMainRole"
    /////////////////ServerEvent
    Handle {
		MsgParam "WCH_USER+119"//WCH_ServerCheckRoleData
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "ServerCheckRoleData"
			}
		}
	}
}