# Creature3D Script Parser v1.0

Data {
    Class "JXJBrain"
    IncludeData "JXJ/script/brain/brain.cfg"
	Handle {
		MsgParam "WCH_SceneStart"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class  "UISetKeyboardMouseMode"
				Param "15"
			}
			Method {
				Class "JXJSetWindowsTitle"
			}
			Method {//多开自动最小化窗口
				Class "JXJMoreOpenDetect"
			}
			xMethod {
				Class  "LenFadeInit"
			}
			xMethod {
                Class "SetDownloadThreadCount"
				Param "2"
            }
			Method {
				Class  "HideCursor"
				Param "0"
			}
			Method {
				Class  "ShowMouseCanvas"
				Param "1"
			}
			Method {
				Class  "JXJGetCameraSpeedConfig"
			}
			Method {
				Class "JXJAutoBattleSetting"
			}
			Method {
				Class "JXJSetCityFlag"
				Param "@Flags"
				Param "T_CityFlag_Wei.img"
				Param "T_CityFlag_Shu.img"
				Param "T_CityFlag_Wu.img"
				Param "T_CityFlag_None.img"
			}
			Method {
				Class "JXJSetBarrackFlag"
				Param "@Flags_G"
				Param "T_Eft_Flag_Wei.img"
				Param "T_Eft_Flag_Shu.img"
				Param "T_Eft_Flag_Wu.img"
				Param "T_Eft_Flag_None.img"
			}
			Method {
				Class "JXJSetBarrackFlag"
				Param "@Flags_G2"
				Param "T_CityFlag_Wei.img"
				Param "T_CityFlag_Shu.img"
				Param "T_CityFlag_Wu.img"
				Param "T_CityFlag_None.img"
			}
			Method {
				Class "JXJLoadBattleRoomData"
			}
			Method {
				Class  "JXJGetCameraFollowState"
				Param "UI_CopyBattle_MinMap"
				Param "UI_CopyBattle_Fief"
			}
			Method {
				Class  "JXJLoadKeyboardLayout"
				Param "0"
			}
			Method {
				Class "JXJInitSceneMap"
				Param "UI_CopyBattle_MinMap"//canvasName
				Param "UI_CopyBattle_Minimap"//mapWidgetName
				Param "MAPFILE"//imageFile
				Param "1.0"//scale
				Param "1.0,1.0"//scalerang
				Param "512"//贴图分辨率RTT不需要
				Param "1"//staticmap
				Param "RotMap"
			}
			Method {
				Class "JXJInitSceneMap"
				Param "UI_Battleground_Xzcsd"//canvasName
				Param "UI_Beta2_Battleground_Csd_GkduImage"//mapWidgetName
				Param "MAPFILE"//imageFile
				Param "1.0"//scale
				Param "1.0,1.0"//scalerang
				Param "512"//贴图分辨率RTT不需要
				Param "1"//staticmap
				Param "UI_RotMap_1"
			}
			Method {
				Class "SightFogInit"
				Param "512,512"
				Param "0.05"
				Param "100,105,110,255"
				Param "1.0"
				Param "UI_CopyBattle_MinMap"//canvasName
				Param "UI_CopyBattle_Minimap"//mapWidgetName
			}
			Method {
				Class "ShowCanvas"
				Param "UI_Zhenglv2"
				Param "1"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_CopyBattle_MinMap"
				Param "1"
			}
			Method {
				Class "ShowCanvas" //按Alt+Tab切换窗口提示
				Param "Juqing_Tist"
				Param "1"
			}			
			Method {
				Class "JXJBattleShowChatCanvas"
				Param "UI_CopyBattleChat"
				Param "UI_CopyBattle_MinMap"
			}
			Method {
				Class "JXJShowAutoBattleCanvas"
				Param "UI_CopyBattle_Name"
				Param "UI_CopyBattle_Show"				
				Param "UI_Zidongzhandou"
				Param "ZhidongBattle"
				Param "UI_Zhenglv2"
				Param "UI_CopyBattle_Fuben"
			}
			Method {
				Class "JXJBattleShowNoticeCanvas"
				Param "Can_Chanchanxinxi"
				Param "UI_CopyBattle_Show"
			}
			Method {
				Class "JXJClearSameBattleInfo"
			}
			Logic {
				Class "JXJDownloadUISceneFile"
				Param "12"
				Param "uiscene/jxjui1.cru"
				Method {
					Class "JXJCheckAndDownloadFile"
					Param "1"
				}
			}			
			Logic {
				Class "IF_ELSE"
				Method {
					Class "IsAlphaShadowDisabled"
				}
				Logic {
					Class "ProxyArray"
					Method {
						Class "ShowSceneNodes"
						Param "0"
						Param "1"
						Param "@grass"
					}
					Method {
						Class "StopAllSceneFx"
					}
				}
			}
			Logic {
				Class "CreateSound"
				Param "0"//创建Node
				Param "#BKSOUND"
				Param "1"//ambient
				Param "1.0"//volume
				Param "1"//play
				Param "1"//looping
				Method {
					Class "LoadSound"
				}
			}
			Logic {
				Class "JXJNextSceneDownload"
				Method {
					Class "JXJCheckAndDownloadFile"
					Param "0"
				}
			}
			Logic {
				Class "Proxy"
				Method {
					Class "JXJQueryBattleBirthPoint"
				}
			}
			xLogic {
				Class "Switch"
				Method {
					Class  "JXJSelectBirthPointMapType"
				}
				Method {
					Class "ShowCanvas"
					Param "UI_Battleground_Xzcsd"
					Param "3"
				}
				Method {
					Class "ShowCanvas"
					Param "UI_Battleground_Xzcsd2"
					Param "3"
				}
				Method {
					Class "ShowCanvas"
					Param "UI_Battleground_Xzcsd_ShuXing"
					Param "3"
				}
			}
		}
    }
	Handle {
		MsgParam "WCH_GameStart"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "ClipCursor"
				Param "1"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_CopyBattle_Show"
				Param "1"
			}
			xMethod {
				Class "ShowCanvas"
				Param "UI_CopyBattle_Order"
				Param "1"
			}
			xMethod {
				Class "ShowCanvas"
				Param "UI_CopyBattle_Time"
				Param "1"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_CopyBattle_Allinformation"
				Param "1"
			}
			xMethod {
				Class "ShowCanvas"
				Param "UI_CopyBattle_Touxiang"
				Param "1"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_Beta3_CopyBattle_JK"
				Param "1"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_CopyBattle_Name"
				Param "1"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_ManorStair_ZhongYangGongGao"
				Param "1"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_CopyBattle_XingJi"
				Param "0"
			}
			Method {
				Class "JXJInitSelectRole"
			}
			Method {
				Class "CreateSight"
			}
			Method {
				Class "JXJShowZhengzhaoBtnCanvas"
				Param "ZhengzhaoLing"
				Param "UI_CopyBattle_MinMap"
			}			
		}
    }
	Handle {
		MsgParam "WCH_GameEnd"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
		}
	}
	Handle {
		MsgParam "WCH_EXITGAME"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
                Class "SetRunning"
                Param "0"
            }
			Method {
                Class "UIExitScene"
                Param "0"
            }
		}
	}
	Handle {
		MsgParam "WCH_EXITGAME"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
                Class "SetRunning"
                Param "0"
            }
			Method {
                Class "UIExitScene"
                Param "0"
            }
		}
	}
	Handle {
		MsgParam "WCH_WINRESTORED"
		MsgParam "1"
		Driver {
			Class "OneSlot"
			Method {
				Class "ClipCursor"
				Param "1"
			}
		}
	}
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "OneSlot"
			Method {
				Class "ClipCursor"
				Param "1"
			}
		}
	}
	Handle {
		MsgParam16 "RIGHT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "OneSlot"
			Method {
				Class "ClipCursor"
				Param "1"
			}
		}
	}
	Handle {
		MsgParam "WCH_WINRESTORED"
		MsgParam "0"
		Driver {
			Class "OneSlot"
			Method {
				Class "ClipCursor"
				Param "0"
			}
		}
	}
	Handle {
        MsgParam16 "KEY_Return"
		MsgParam16 "KEYDOWN"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJBattleChatCanvasOnEnterShow"
				Param "UI_CopyBattleChat"
				Param "sw110"
				Param "1"
			}
			Method {
				Class "JXJChatInputGetFocus"
				Param "UI_CopyBattleChat"
				Param "LiaoTian"
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+20516"//WCH_UIUpdateChatMessageList
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJChatReshow"
				Param "UI_CopyBattleChat"
				Param "lTXinxi"
				Param "LiaoTianRaido"
				Param "JXJ/script/chartemplate.cfg"
				Param "LiaoTian"
				Param "ListScroll"
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+20537"//WCH_JXJClientUserRecvSomeValue
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJClientUserRecvSomeValue"
				Param "UI_CopyBattleChat"
				Param "sw41"
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+20538"//WCH_JXJClientUserRecvSomeItems
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJClientUserRecvSomeItems"
				Param "UI_CopyBattleChat"
				Param "sw41"
			}
		}
    }
	Handle {
        MsgParam "WCH_USER+20576"//WCH_JXJPutInChatRecordDeque
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJPutInChatRecordDeque"
				Param "UI_ChatSet"
				Param "UI_CopyBattleChat"
				Param "lTXinxi"
				Param "LiaoTianRaido"
				Param "JXJ/script/chartemplate.cfg"
				Param "LiaoTian"
				Param "16"
			}
		}
    }
	Handle {
        MsgParam16 "KEY_Escape"
		MsgParam16 "KEYDOWN"
		Driver {
			Class "MoreSlot"			
			Method {
				Class "ShowCanvas"
				Param "UI_CopyBattle_System"
				Param "2"
			}
			Method {
				Class "ReturnCamera"
			}
		}
    }//Hand End
}
