# Creature3D Script Parser v1.0

Data {
    Class "JXJBrain"
    IncludeData "JXJ/script/brain/fubenbrain.cfg"
	Handle {
		MsgParam "WCH_SceneStart"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJSetWindowsTitle"
			}
			xMethod {
				Class  "LenFadeInit"
			}
			Method {
				Class  "HideCursor"
				Param "0"
			}
			Method {
				Class  "ShowMouseCanvas"
				Param "1"
			}
			Method {
				Class  "JXJGetCameraSpeedConfig"
			}
			Method {
				Class "JXJSetCountryFlag"
				Param "@Flags_G"
				Param "T_Eft_Flag_Wei.img"
				Param "T_Eft_Flag_Shu.img"
				Param "T_Eft_Flag_Wu.img"
				Param "T_Eft_Flag_None.img"
			}
			Method {
				Class "JXJLoadFubenRoomData"
			}
			Method {
				Class "ShowSceneNodes"
				Param "1"
				Param "5"
				Param "@jiantou"
			}
			Method {
				Class  "JXJGetCameraFollowState"
				Param "UI_CopyBattle_MinMap"
				Param "UI_CopyBattle_Fief"
			}
			Method {
				Class  "JXJLoadKeyboardLayout"
				Param "0"
			}
			Method {
				Class "JXJInitSceneMap"
				Param "UI_CopyBattle_MinMap"//canvasName
				Param "UI_CopyBattle_Minimap"//mapWidgetName
				Param "MAPFILE"//imageFile
				Param "1.0"//scale
				Param "1.0,1.0"//scalerang
				Param "512"//贴图分辨率RTT不需要
				Param "1"//staticmap
				Param "RotMap"
			}
			Method {
				Class "SightFogInit"
				Param "512,512"
				Param "0.05"
				Param "100,105,110,255"
				Param "1.0"
				Param "UI_CopyBattle_MinMap"//canvasName
				Param "UI_CopyBattle_Minimap"//mapWidgetName
			}
			Method {
				Class "ShowCanvas"
				Param "UI_Zhenglv2"
				Param "1"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_CopyBattle_MinMap"
				Param "1"
			}
			Method {
				Class "ShowCanvas" //按Alt+Tab切换窗口提示
				Param "Juqing_Tist"
				Param "1"
			}
			Method {
				Class "JXJShowAutoBattleCanvas"
				Param "UI_CopyBattle_Name"
				Param "UI_CopyBattle_Show"				
				Param "UI_Zidongzhandou"
				Param "ZhidongBattle"
				Param "UI_Zhenglv2"
				Param "UI_CopyBattle_Fuben"
			}
			Method {
				Class "JXJBattleShowNoticeCanvas"
				Param "Can_Chanchanxinxi"
				Param "UI_CopyBattle_Show"
			}
			Logic {
				Class "JXJDownloadUISceneFile"
				Param "12"
				Param "uiscene/jxjui1.cru"
				Method {
					Class "JXJCheckAndDownloadFile"
					Param "1"
				}
			}			
			Logic {
				Class "IF_ELSE"
				Method {
					Class "IsAlphaShadowDisabled"
				}
				Logic {
					Class "ProxyArray"
					Method {
						Class "ShowSceneNodes"
						Param "0"
						Param "1"
						Param "@grass"
					}
					Method {
						Class "StopAllSceneFx"
					}
				}
			}			
			Logic {
				Class "CreateSound"
				Param "0"//创建Node
				Param "#BKSOUND"
				Param "1"//ambient
				Param "1.0"//volume
				Param "1"//play
				Param "1"//looping
				Method {
					Class "LoadSound"
				}
			}
			Logic {
				Class "JXJNextSceneDownload"
				Method {
					Class "JXJCheckAndDownloadFile"
					Param "0"
				}
			}
			Logic {
				Class "Proxy"
				Method {
					Class "JXJSetFubenBirthPoint"
					Param "0"
				}
			}
		}
    }
}
