# Creature3D Script Parser v1.0

Data {
    Class "JXJBrain"
    IncludeData "JXJ/script/brain/brain.cfg"
	Handle {
		MsgParam "WCH_SceneStart"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class  "JXJLoadKeyboardLayout"
				Param "0"
			}
			xMethod {
				Class  "LenFadeInit"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_SelectCharacter"
				Param "1"
			}
			xMethod {
				Class "ShowCanvas"
				Param "UI_SelectPower"
				Param "1"
			}
			xMethod {
				Class "ShowCanvas"
				Param "UI_LogIn2_Backboard2"
				Param "1"
			}
			Method {
				Class  "ShowCursor"
				Param "Default"
			}
			xMethod {
				Class "ShowCanvas"
				Param "UI_Zhenglv2"
				Param "1"
			}
			Logic {
				Class "IF_ELSE"
				Method {
					Class "IsAlphaShadowDisabled"
				}
				Logic {
					Class "ProxyArray"
					Method {
						Class "ShowSceneNodes"
						Param "0"
						Param "1"
						Param "@grass"
					}
					Method {
						Class "StopAllSceneFx"
					}
				}
			}
			Logic {
				Class "CreateSound"
				Param "0"//创建Node
				Param "#BKSOUND"
				Param "1"//ambient
				Param "1.0"//volume
				Param "1"//play
				Param "1"//looping
				Method {
					Class "LoadSound"
				}
			}
			Logic {
				Class "JXJNextSceneDownload"
				Param "1"
				Method {
					Class "JXJCheckAndDownloadFile"
					Param "0"
				}
			}
		}
    }//Hand End
	Handle {
		MsgParam "WCH_EXITGAME"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
                Class "SetRunning"
                Param "0"
            }
			Method {
                Class "UIExitScene"
                Param "0"
            }
		}
	}
	Handle {
		MsgParam "WCH_USER+20112"//WCH_JXJReturnRandomName
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
                Class "JXJNetReturnRandomName"
                Param "UI_SelectCharacter"
				Param "Name_1"
				Param "NameRandom"
            }
		}
	}
	Handle {
        MsgParam "WCH_USER+171"//WCH_RecvCreateSceneRoom
		MsgParam "NULL"//
		Driver {
			Class "OneSlot"
			Logic {
				Class "IF_ELSE"
				Method {
					Class "IsNetReturnSuccess"
				}
				Logic {
					Class "ProxyArray"
					Method {
						Class "JXJNotice"
						Param "1054"//进入序幕
					}
					Method {
						Class "QuerySceneInfo2"
					}
				}
				Logic {
					Class "ProxyArray"
					Method {
						Class "DisconnectScene"
					}
					Logic {
						Class  "IF_ELSE"
						Logic {
							Class "JXJDownloadFirstSceneFile"
							Method {
								Class "JXJCheckAndDownloadFile"
							}
						}
						Logic {
							Class "Proxy"
							Method {
								Class "ShowCanvas"
								Param "UI_Beta2_Loading"
								Param "3"
							}
						}
						Logic {
							Class "ProxyArray"
							Method {
								Class "SetRunCode"
								Param "1"
							}
							Method {
								Class "Exit"
							}
						}
					}
				}
			}
		}
	}
	Handle {
        MsgParam "WCH_USER+31"//WCH_LoginSceneReturn
		MsgParam "WCH_USER+20130"//WCH_JXJLoginFuben
		Driver {
			Class "OneSlot"
			Logic {
				Class "IF_ELSE"
				Method {
					Class "IsNetReturnSuccess"
				}
				Logic {
					Class "ProxyArray"
					Method {
						Class "JXJNotice"
						Param "1058"//准备进入序幕
					}
					Method {
						Class "JXJCreateFuben"
					}
				}
				Logic {
					Class  "IF_ELSE"
					Logic {
						Class "JXJDownloadFirstSceneFile"
						Method {
							Class "JXJCheckAndDownloadFile"
						}
					}
					Logic {
						Class "Proxy"
						Method {
							Class "ShowCanvas"
							Param "UI_Beta2_Loading"
							Param "3"
						}
					}
					Logic {
						Class "ProxyArray"
						Method {
							Class "SetRunCode"
							Param "1"
						}
						Method {
							Class "Exit"
						}
					}
				}
			}
		}
    }
	Handle {
		MsgParam "WCH_UPDATE"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "DownloadUpdate"
			}
			Method {
				Class "JXJUIDownloadUpdate"
				Param "UI_Beta2_Loading"
				Param "UI_Beta2_LoadingBar_Input"
				Param "UI_Beta2_LoadingBarDown"
			}
			Method {
				Class  "RunFrequencyControl"
				Param "0.5"
			}
			Method {
				Class "JXJAddDownloadTask"
				Param "5"
			}
			Method {//机器人测试
				Class  "JXJRobot"
				Param "RobotRoleCreate.crb"
			}
			Logic {
				Class "IF_ELSE"
				Method {//condition
					Class "JXJCheckRolesCreated"
				}
				xLogic {//进入领地
					Class  "IF_ELSE"
					Logic {
						Class "JXJDownloadFirstSceneFile"
						Method {
							Class "JXJCheckAndDownloadFile"
						}
					}
					Logic {
						Class "Proxy"
						Method {
							Class "ShowCanvas"
							Param "UI_Beta2_Loading"
							Param "3"
						}
					}
					Logic {
						Class "ProxyArray"
						Method {
							Class "SetRunCode"
							Param "1"
						}
						Method {
							Class "UIExitScene"
							Param "1"
						}
					}
				}
				Logic {//进入序幕
					Class  "ProxyArray"
					Method {
						Class "JXJSetXumuFubenID"
					}
					Method {
						Class "JXJCreateXumu"
					}
					Method {
						Class "JXJLoginGameScene"
					}
					Method {
						Class "JXJNotice"
						Param "1055"//创建序幕场景
					}
				}
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+318"//WCH_RecvCheckPlayerGameName
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJRecvCheckPlayerGameName"
				Param "UI_SelectCharacter"
				Param "Setup"
			}
		}
	}
}
