# Creature3D Script Parser v1.0

Data {
    Class "JXJBrain"
    IncludeData "JXJ/script/brain/brain.cfg"
	Handle {
		MsgParam "WCH_SceneStart"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJSetWindowsTitle"
			}
			Method {//多开自动最小化窗口
				Class "JXJMoreOpenDetect"
			}
			Method {
				Class "SetLightValidDistance"
				Param "300"
			}
			xMethod {
                Class "SetDownloadThreadCount"
				Param "2"
            }
			xMethod {
				Class  "LenFadeInit"
			}
			Method {
				Class "ClipCursor"
				Param "0"
			}
			Method {
				Class "ShowCursor"
				Param "Default"
			}
			Method {
				Class "LoadLocalScene"
			}
			Method {
				Class "JXJSetCountryFlag"
				Param "@Flags"
				Param "T_CityFlag_Wei.img"
				Param "T_CityFlag_Shu.img"
				Param "T_CityFlag_Wu.img"
				Param "T_CityFlag_None.img"
			}
			Method {
				Class "QueryGameRoleList"
			}
			Method {
				Class "JXJQueryMyCountryInfo"
			}
			Method {
				Class "JXJQueryConsortiaPromotionData"
			}			
			Method {
				Class "ShowCanvas"
				Param "UI_ManorStair_ZhongYangGongGao"
				Param "1"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_ManorStair_JueSe"
				Param "1"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_ManorStair_Taskbar"
				Param "1"
			}
			Method {
					Class "ShowCanvas"
					Param "UI_Zhenglv"
					Param "1"
			}
			Method {
				Class "JXJShowZhenCanvas"
				Param "UI_Zhenglv"
				Param "UI_Guizhe"
			}
			Method {
				Class "JXJCheckServerVersion"					
			}
			xMethod {
				Class "ShowCanvas"
				Param "UI_ManorStair_HuoDong"
				Param "1"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_ManorStair_SpeedUp"
				Param "1"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_ManorStair_LiaoTian"
				Param "1"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_ManorStair_RenWu"
				Param "1"
			}
			Method {
				Class "JXJAutoShowFestivalHuodongCanvas"
				Param "UI_Event_7Day"
				Param "sw48"
			}			
			//腾讯服测试，隐藏领地界面介入论坛按钮
			xMethod {
				Class "JXJSetWidgetVisiable"
				Param "UI_ManorStair_RenWu"
				Param "EnterForum"
				Param "0"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_ManorStair_Time"
				Param "1"
			}
			Method {
				Class "JXJCheckManorStairTaskbarBtn"
				Param "UI_ManorStair_Taskbar"
				Param "GuoJia"
				Param "JunTuan"
				Param "NeiZheng"
			}
			Method {
				Class "JXJIsMyCountryLost"
				Param "UI_Treason_Country"
			}
			Method {
				Class "ShowCanvas"
				Param "Shijiefuben"
				Param "0"
			}
			Method {
				Class "ShowCanvas"
				Param "Zhengzhao"
				Param "1"
			}
			Method {
				Class "JXJIsLostCountryofFound"
				Param "guozhantanchu"
				Param "2005|3003|3004|3005|8001|3007|3008|3009"
				Param "15005|15004|15002|15001|14009|14004|14003"
				Param "19013|19012|19011|19010|19003|19002|19001|18004"
			}
			Method {
				Class "JXJDoClientDesposeEvent"
			}
			Method {
				Class "ChangeCharacterSetting"
				Param "200"//角色消失距离
				Param "100"//角色阴影距离
				Param "0"//角色更新因子
				Param "100"//角色精细距离
			}
			Method {
				Class  "JXJLoadKeyboardLayout"
				Param "0"
			}
			Method {
				Class "JXJQueryMyShiliData"
			}
			xMethod {
				Class "JXJShowVersionCanvas"
				Param "UI_Version"
			}
			Logic {
				Class "IF_ELSE"
				Method {
					Class "JXJCheckFormation"
				}
				Method {
					Class "Null"
				}
				Logic {
					Class "ProxyArray"
					Method {
						Class "JXJResetTempFormationVec"
						Param "UI_Beta2_Formation"
						Param "sw110"
						Param "sw111"
						Param "sw112"
						Param "sw113"
						Param "FormationRaido2"
					}
					Method {
						Class "WidgetDoEvent2"
						Param "UI_Beta2_Formation"
						Param "UI_Beta2_Formation_Mb"
						Param "LEFT_MOUSE_BUTTON"
						Param "MOUSERELEASE"
					}
					Method {
						Class "WidgetDoEvent2"
						Param "UI_Beta2_Formation"
						Param "UI_Beta2_Formation_Qx1"
						Param "LEFT_MOUSE_BUTTON"
						Param "MOUSERELEASE"
					}
					Method {
						Class "JXJNotice"
						Param "1112"
					}
				}
			}
			Logic {
				Class "IF_ELSE"
				Method {
					Class "IsAlphaShadowDisabled"
				}
				Logic {
					Class "ProxyArray"
					Method {
						Class "ShowSceneNodes"
						Param "0"
						Param "1"
						Param "@grass"
					}
					Method {
						Class "StopAllSceneFx"
					}
				}
			}
			Logic {
				Class "CreateSound"
				Param "0"//创建Node
				Param "#BKSOUND"
				Param "1"//ambient
				Param "1.0"//volume
				Param "1"//play
				Param "1"//looping
				Method {
					Class "LoadSound"
				}
			}
			Logic {
				Class "JXJDownloadUISceneFile"
				Param "10"
				Param "uiscene/jxjhome1.cru"
				Method {
					Class "JXJCheckAndDownloadFile"
					Param "1"
				}
			}
			Logic {
				Class "JXJDownloadUISceneFile"
				Param "11"
				Param "uiscene/jxjhome2.cru"
				Method {
					Class "JXJCheckAndDownloadFile"
					Param "1"
				}
			}
			Logic {
				Class "JXJNextSceneDownload"
				Method {
					Class "JXJCheckAndDownloadFile"
					Param "0"
				}
			}
		}
    }//Hand End
    xHandle {
		MsgParam "WCH_USER+202"//WCH_SetSelectRolePosition
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "SetSelectRolePosition"
				Param "0,1,0"
				Param "2.3,9.1,1.475"
				Param "-1.2,9.1,1.475"
				Param "5.8,9.1,1.475"
				Param "-4.7,9.1,1.475"
				Param "9.3,9.1,1.475"
			}
		}
    }//Hand End
    xHandle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSEPUSH"
		Driver {
			Class "OneSlot"
			Logic {
				Class "SelectRolePick"
				Method {
					Class  "NetPickTarget"
				}
			}
		}
	}
	Handle {
		MsgParam "WCH_EXITGAME"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
                Class "SetRunning"
                Param "0"
            }
			Method {
                Class "UIExitScene"
                Param "0"
            }
		}
	}
	Handle {
		MsgParam "WCH_EXITGAME"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
                Class "SetRunning"
                Param "0"
            }
			Method {
                Class "UIExitScene"
                Param "0"
            }
		}
	}
	Handle {
        MsgParam16 "KEY_Escape"
		MsgParam16 "KEYDOWN"
		Driver {
			Class "OneSlot"
			Method {
				Class  "ShowCursor"
				Param "Default"
			}
		}
    }
	xHandle {
        MsgParam16 "KEY_Return"
		MsgParam16 "KEYDOWN"
		Driver {
			Class "OneSlot"
			Method {
				Class  "JXJUIOnEnterShowChat"
				Param "UI_ManorStair_LiaoTian"
				Param "LiaoTian"
			}
		}
    }
	Handle {
		MsgParam "WCH_UPDATE"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJSetWidgetVisiable"
				Param "UI_ManorStair_JueSe"
				Param "JunShi"
				Param "0"
			}
			Method {
				Class "JXJSetWidgetVisiable"
				Param "UI_ManorStair_JueSe"
				Param "ChongZhi"
				Param "0"
			}
			Method {
				Class "JXJSetWidgetVisiable"
				Param "UI_ManorStair_SpeedUp"
				Param "UI_Meiri"
				Param "0"
			}
			Method {
				Class "DownloadUpdate"
			}
			Method {
				Class "JXJUIDownloadUpdate"
				Param "UI_Beta2_Loading"
				Param "UI_Beta2_LoadingBar_Input"
				Param "UI_Beta2_LoadingBarDown"
			}
			Method {
				Class  "RunFrequencyControl"
				Param "0.04"
			}
			Method {
				Class "GameTaskUpdate"
			}
			Method {
				Class  "RunFrequencyControl"
				Param "0.2"
			}
			Method {
				Class "JXJShowRecvBagItem"
				Param "UI_Beta3_ManorStair_Information"		//0
				Param "UI_Beta3_Information"				//1
				Param "UI_Beta3_ManorStair_Gift"			//2
				Param "UI_Beta3_Gift"						//3
				Param "UI_ManorStair_Taskbar"				//4
				Param "BeiBao"								//5
				Param "0.3|-0.8|0.0"						//6
				Param "0.15"								//7
				Param "0.0|0.6|0.0"							//8
				Param "0.0|0.9|0.0"							//9
				Param "0.15"								//10
				Param "UI_Beta3_ManorStair_Card"			//11
				Param "UI_Beta3_Card"								//12
				Param "UI_Beta3_Colour"								//13
				Param "JiangKa"								//14
				Param "0.4|-0.6|0.0"						//15
			}
			Method {
				Class "JXJAddDownloadTask"
				Param "5"
			}
			Method {
				Class  "RunFrequencyControl"
				Param "1.0"
			}
			Method {//机器人测试
				Class  "JXJRobot"
				Param "RobotManor.crb"
			}
			Method {
				Class "JXJClientOnlineRewardTimerUpdate"
			}
			Method {
				Class "JXJBlackShopRefreshTimerUpdate"
			}
			Method {
				Class "JXJGameClientLandRewardTimerUpdate"
				Param "UI_LogReward"
			}
			xMethod {
				Class "JXJFubenPersuadeTimeUpdate"
				Param "UI_ManorStair_Taskbar"
				Param "UI_ChuZheng_DongHua"
			}
			xMethod {
				Class "JXJRebelCityTimerUpdate"
			}
			Method {
				Class "JXJClienttreasoncooltimeUpdate"
			}
			Method {
				Class  "RunFrequencyControl"
				Param "2.0"
			}
			Method {
				Class "JXJAccomplishUpdate"
			}			
			xMethod {
				Class "JXJHuodongUpdate"
			}
			Method {
				Class  "RunFrequencyControl"
				Param "5.0"
			}
			Method {
				Class "JXJShowYellowUpgradeCanvas"
				Param "UI_HuangZuanShengJiLiBao"
			}
			xMethod {
				Class "JXJAddGroupMemberRequestUpdate"
			}
		}
	}
	Handle {
        MsgParam "WCH_USER+172"//WCH_RecvEnterSceneRoom
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Logic {
				Class "IF_ELSE"
				Method {
					Class "IsSuccess"
				}
				Logic {
					Class "ProxyArray"
					Method {
						Class "JXJNotice"
						Param "1048"//进入战场
					}
					Method {
						Class "EnterSceneRoom"
					}
					Method {
						Class "QuerySceneInfo2"
					}
				}
				Logic {
					Class "ProxyArray"
					Method {
						Class "DisconnectScene"
					}
					Method {
						Class "JXJSetWidgetEnable"
						Param "UI_ManorStair_Taskbar"
						Param "BianDui"
						Param "1"
					}
					Method {
						Class "JXJSetWidgetEnable"
						Param "UI_ManorStair_HuoDong"
						Param "ChengZhan"
						Param "1"
					}
					Method {
						Class "JXJSetWidgetEnable"
						Param "UI_ManorStair_HuoDong"
						Param "GuanAiZhan"
						Param "1"
					}
					Method {
						Class "JXJSetWidgetEnable"
						Param "UI_ManorStair_Taskbar"
						Param "UI_Fuben"
						Param "1"
					}
					Method {
						Class "JXJLeaveTeam"
					}
					Method {
						Class "ShowCanvas"
						Param "UI_PeopleModelGroup"
						Param "0"
					}
					Method {
						Class "JXJNotice"
						Param "1044"//进入战场失败，战场人数已满
						Param "1"
						Param "UI_Prompt1"
						Param "UI_Prompt1_Input"
					}
				}
			}
		}
	}
	Handle {
        MsgParam "WCH_USER+20132"//WCH_JXJRecvSearchBattle
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Logic {
				Class "IF_ELSE"
				Method {
					Class "IsNetReturnSuccess"
				}
				Logic {
					Class "ProxyArray"
					Logic {
						Class "IF_ELSE"
						Method {
							Class "JXJPreEnterSceneRoom"
						}
						Method {
							Class "JXJNotice"
							Param "1049"//准备进入战场
						}
						Logic {
							Class "ProxyArray"
							Method {
								Class "DisconnectScene"
							}
							Method {
								Class "JXJSetWidgetEnable"
								Param "UI_ManorStair_Taskbar"
								Param "BianDui"
								Param "1"
							}
							Method {
								Class "JXJSetWidgetEnable"
								Param "UI_ManorStair_HuoDong"
								Param "ChengZhan"
								Param "1"
							}
							Method {
								Class "JXJSetWidgetEnable"
								Param "UI_ManorStair_HuoDong"
								Param "GuanAiZhan"
								Param "1"
							}
							Method {
								Class "JXJSetWidgetEnable"
								Param "UI_ManorStair_Taskbar"
								Param "UI_Fuben"
								Param "1"
							}
							Method {
								Class "JXJLeaveTeam"
							}
							Method {
								Class "ShowCanvas"
								Param "UI_PeopleModelGroup"
								Param "0"
							}
							Method {
								Class "JXJNotice"
								Param "1043"//没有找到对应的战场！
								Param "1"
								Param "UI_Prompt1"
								Param "UI_Prompt1_Input"
							}
						}
					}
				}
				Logic {
					Class "ProxyArray"
					Method {
						Class "DisconnectScene"
					}
					Method {
						Class "JXJSetWidgetEnable"
						Param "UI_ManorStair_Taskbar"
						Param "BianDui"
						Param "1"
					}
					Method {
						Class "JXJSetWidgetEnable"
						Param "UI_ManorStair_HuoDong"
						Param "ChengZhan"
						Param "1"
					}
					Method {
						Class "JXJSetWidgetEnable"
						Param "UI_ManorStair_HuoDong"
						Param "GuanAiZhan"
						Param "1"
					}
					Method {
						Class "JXJSetWidgetEnable"
						Param "UI_ManorStair_Taskbar"
						Param "UI_Fuben"
						Param "1"
					}
					Method {
						Class "JXJLeaveTeam"
					}
					Method {
						Class "ShowCanvas"
						Param "UI_PeopleModelGroup"
						Param "0"
					}
					Method {
						Class "JXJNotice"
						Param "1043"//没有找到对应的战场！
						Param "1"
						Param "UI_Prompt1"
						Param "UI_Prompt1_Input"
					}
				}
			}
		}
	}
	Handle {
        MsgParam "WCH_USER+31"//WCH_LoginSceneReturn
		MsgParam "WCH_USER+20131"//WCH_JXJAgreeEnterBattle
		Driver {
			Class "OneSlot"
			Logic {
				Class "IF_ELSE"
				Method {
					Class "IsNetReturnSuccess"
				}
				Logic {
					Class "ProxyArray"
					Method {
						Class "JXJNotice"
						Param "1050"//正在查寻战场
					}
					Method {
						Class "JXJSearchBattle"
					}
				}//end logic
				Logic {
					Class "ProxyArray"
					Method {
						Class "JXJSetWidgetEnable"
						Param "UI_ManorStair_Taskbar"
						Param "BianDui"
						Param "1"
					}
					Method {
						Class "JXJSetWidgetEnable"
						Param "UI_ManorStair_HuoDong"
						Param "ChengZhan"
						Param "1"
					}
					Method {
						Class "JXJSetWidgetEnable"
						Param "UI_ManorStair_HuoDong"
						Param "GuanAiZhan"
						Param "1"
					}
					Method {
						Class "JXJSetWidgetEnable"
						Param "UI_ManorStair_Taskbar"
						Param "UI_Fuben"
						Param "1"
					}
					Method {
						Class "JXJLeaveTeam"
					}
					Method {
						Class "ShowCanvas"
						Param "UI_PeopleModelGroup"
						Param "0"
					}
					Method {
						Class "JXJNotice"
						Param "1042"//进入战场服务器失败！
						Param "1"
						Param "UI_Prompt1"
						Param "UI_Prompt1_Input"
					}
				}
			}//end logic
		}
    }
	Handle {
        MsgParam "WCH_USER+171"//WCH_RecvCreateSceneRoom
		MsgParam "NULL"//
		Driver {
			Class "OneSlot"
			Logic {
				Class "IF_ELSE"
				Method {
					Class "IsNetReturnSuccess"
				}
				Logic {
					Class "IF_ELSE"
					Method {
						Class "JXJUIIsMultiFuben"
					}
					Logic {
						Class "ProxyArray"
						Method {
							Class "JXJNotice"
							Param "1051"//进入副本
						}
						Method {
							Class "JXJTeamEnterRoom"
						}
						Method {
							Class "QuerySceneInfo2"
						}
					}
					Logic {
						Class "ProxyArray"
						Method {
							Class "JXJNotice"
							Param "1051"//进入副本
						}
						Method {
							Class "QuerySceneInfo2"
						}
					}
				}
				Logic {
					Class "ProxyArray"
					Method {
						Class "DisconnectScene"
					}
					Method {
						Class "JXJLeaveTeam"
					}
					Method {
						Class "JXJNotice"
						Param "1045"//创建副本失败！
						Param "1"
						Param "UI_Prompt1"
						Param "UI_Prompt1_Input"
					}
				}
			}
		}
	}
	Handle {
        MsgParam "WCH_USER+31"//WCH_LoginSceneReturn
		MsgParam "WCH_USER+20130"//WCH_JXJLoginFuben
		Driver {
			Class "OneSlot"
			Logic {
				Class "IF_ELSE"
				Method {
					Class "IsNetReturnSuccess"
				}
				Logic {
					Class "ProxyArray"
					Method {
						Class "JXJNotice"
						Param "1052"//创建副本
					}
					Method {
						Class "JXJCreateFuben"
					}
				}
				Logic {
					Class "ProxyArray"
					Method {
						Class "JXJNotice"
						Param "1046"//进入副本服务器失败！
						Param "1"
						Param "UI_Prompt1"
						Param "UI_Prompt1_Input"
					}
				}
			}
		}
    }
	Handle {
        MsgParam "WCH_USER+31"//WCH_LoginSceneReturn
		MsgParam "WCH_USER+22609"//WCH_JXJLoginWorldFuBen
		Driver {
			Class "OneSlot"
			Logic {
				Class "IF_ELSE"
				Method {
					Class "IsNetReturnSuccess"
				}
				Logic {
					Class "ProxyArray"
					Method {
						Class "JXJNotice"
						Param "1052"//创建副本
					}
					Method {
						Class "JXJSearchSceneRoom"
					}
				}
				Logic {
					Class "ProxyArray"
					Method {
						Class "JXJNotice"
						Param "1046"//进入副本服务器失败！
						Param "1"
						Param "UI_Prompt1"
						Param "UI_Prompt1_Input"
					}
				}
			}
		}
    }
	Handle {
        MsgParam "WCH_USER+31"//WCH_LoginSceneReturn
		MsgParam "WCH_USER+20061"//WCH_JXJRecvTeamEnterRoom
		Driver {
			Class "OneSlot"
			Logic {
				Class "IF_ELSE"
				Method {
					Class "IsNetReturnSuccess"
				}
				Logic {
					Class "ProxyArray"
					Logic {
						Class "IF_ELSE"
						Method {
							Class "JXJPreEnterSceneRoom"
						}
						Method {
							Class "JXJNotice"
							Param "1053"//准备进入副本
						}
						Logic {
							Class "ProxyArray"
							Method {
								Class "DisconnectScene"
							}
							Method {
								Class "JXJLeaveTeam"
							}
							Method {
								Class "JXJNotice"
								Param "1047"//组队进入房间失败！
								Param "1"
								Param "UI_Prompt1"
								Param "UI_Prompt1_Input"
							}
						}
					}
				}
				Logic {
					Class "ProxyArray"
					Method {
						Class "DisconnectScene"
					}
					Method {
						Class "JXJLeaveTeam"
					}
					Method {
						Class "JXJNotice"
						Param "1047"//组队进入房间失败！
						Param "1"
						Param "UI_Prompt1"
						Param "UI_Prompt1_Input"
					}
				}
			}
		}
    }
	Handle {
        MsgParam "WCH_USER+20576"//WCH_JXJPutInChatRecordDeque
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJPutInChatRecordDeque"
				Param "UI_ChatSet"
				Param "UI_ManorStair_LiaoTian"
				Param "lTXinxi"
				Param "LiaoTianRaido"
				Param "JXJ/script/chartemplate.cfg"
				Param "LiaoTian"
				Param "ListScroll"
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+21"//WCH_GameConnectServerAbnormal
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJNotice"
				Param "11"
			}
			Method {
				Class "JXJUIServerDisconnectMessageBox"
				Param "UI_MessageBox"
				Param "UI_MessageBox_Input"
				Param "3001"
			}
		}
    }
}
