# Creature3D Script Parser v1.0

Data {
    Class "JXJBrain"
    IncludeData "JXJ/script/brain/fubenbrain.cfg"
	Handle {
		MsgParam "WCH_GameStart"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJSetWindowsTitle"
			}
			Method {
				Class "ClipCursor"
				Param "1"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_CopyBattle_Show"
				Param "1"
			}
			xMethod {
				Class "ShowCanvas"
				Param "UI_CopyBattle_Order"
				Param "1"
			}
			xMethod {
				Class "ShowCanvas"
				Param "UI_CopyBattle_Time"
				Param "1"
			}
			xMethod {
				Class "ShowCanvas"
				Param "UI_CopyBattle_Touxiang"
				Param "1"
			}
			Method {
				Class "JXJSetWidgetVisiable"
				Param "UI_CopyBattle_Name"
				Param "UI_CopyBattle_Inspire"
				Param "0"
			}
			Method {
				Class "JXJSetWidgetVisiable"
				Param "UI_CopyBattle_Name"
				Param "UI_CopyBattle_Inspire2"
				Param "0"
			}			
			Method {
				Class "JXJSetWidgetVisiable"
				Param "UI_Beta3_CopyBattle_JK"
				Param "Huicheng"
				Param "0"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_CopyBattle_Allinformation"
				Param "1"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_Beta3_CopyBattle_JK"
				Param "1"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_CopyBattle_Fuben"
				Param "1"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_ManorStair_ZhongYangGongGao"
				Param "1"
			}
			xLogic {
				Class "IF_ELSE"
				Method {
					Class "JXJCheckIsJunTuanFuBen"				
				}
				Logic {
					Class "ProxyArray"				
					Method {
						Class "ShowCanvas"
						Param "UI_CopyBattle_XingJi"
						Param "0"
					}
				}
				Logic {
					Class "ProxyArray"				
					Method {
						Class "ShowCanvas"
						Param "UI_CopyBattle_XingJi"
						Param "1"
					}
				}
			}
			Method {
				Class "JXJInitSelectRole"
			}
			Method {
				Class "CreateSight"
			}
			Method {
				Class "JXJUIDeductJunling"
			}
			Method {
				Class "JXJBattleShowChatCanvas"
				Param "UI_CopyBattleChat"
				Param "UI_CopyBattle_MinMap"
			}
			xMethod {//小地图显示
				Class "JXJPlayMiniMapSignal"
				Param "UI_CopyBattle_MinMap"
				Param "UI_CopyBattle_Minimap"
				Param "UI_CopyBattle_Juqing_Di"//敌方
				Param "RotMap"
				Param "8839|-10681"
				Param "600"
			}
			Method {
				Class "TriggerSetRoomProgress"
				//跳转到进度**
				Param "1"
			}
		}
    }
}
