# Creature3D Script Parser v1.0

Data {
    Class "JXJBrain"
    IncludeData "JXJ/script/brain/fubenbrain.cfg"
	Handle {
		MsgParam "WCH_SceneStart"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class  "UISetKeyboardMouseMode"
				Param "15"
			}
			Method {
				Class "JXJSetWindowsTitle"
			}
			Method {//多开自动最小化窗口
				Class "JXJMoreOpenDetect"
			}
			xMethod {
				Class  "LenFadeInit"
			}
			xMethod {
                Class "SetDownloadThreadCount"
				Param "2"
            }
			Method {
				Class  "HideCursor"
				Param "0"
			}
			Method {
				Class  "ShowMouseCanvas"
				Param "1"
			}
			Method {
				Class  "JXJGetCameraSpeedConfig"
			}
			Method {
				Class "JXJSetCountryFlag"
				Param "@Flags_G"
				Param "T_Eft_Flag_Wei.img"
				Param "T_Eft_Flag_Shu.img"
				Param "T_Eft_Flag_Wu.img"
				Param "T_Eft_Flag_None.img"
			}
			Method {
				Class "JXJLoadFubenRoomData"
			}
			Method {
				Class  "JXJGetCameraFollowState"
				Param "UI_CopyBattle_MinMap"
				Param "UI_CopyBattle_Fief"
			}
			Method {
				Class  "JXJLoadKeyboardLayout"
				Param "0"
			}
			Method {
				Class "JXJInitSceneMap"
				Param "UI_CopyBattle_MinMap"//canvasName
				Param "UI_CopyBattle_Minimap"//mapWidgetName
				Param "RTT"//imageFile
				Param "1.0"//scale
				Param "1.0,1.0"//scalerang
				Param "512"//贴图分辨率RTT不需要
				Param "1"//staticmap
				Param "RotMap"
			}
			Method {
				Class "SightFogInit"
				Param "512,512"
				Param "0.05"
				Param "100,105,110,255"
				Param "1.0"
				Param "UI_CopyBattle_MinMap"//canvasName
				Param "UI_CopyBattle_Minimap"//mapWidgetName
			}
			Method {
				Class "ShowCanvas"
				Param "UI_Zhenglv2"
				Param "1"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_CopyBattle_MinMap"
				Param "1"
			}
			Method {
				Class "ShowCanvas" //按Alt+Tab切换窗口提示
				Param "Juqing_Tist"
				Param "1"
			}
			Method {
				Class "JXJShowAutoBattleCanvas"
				Param "UI_CopyBattle_Name"
				Param "UI_CopyBattle_Show"				
				Param "UI_Zidongzhandou"
				Param "ZhidongBattle"
				Param "UI_Zhenglv2"
				Param "UI_CopyBattle_Fuben"
			}
			Method {
				Class "JXJBattleShowNoticeCanvas"
				Param "Can_Chanchanxinxi"
				Param "UI_CopyBattle_Show"
			}
			Logic {
				Class "JXJDownloadUISceneFile"
				Param "12"
				Param "uiscene/jxjui1.cru"
				Method {
					Class "JXJCheckAndDownloadFile"
					Param "1"
				}
			}			
			Logic {
				Class "IF_ELSE"
				Method {
					Class "IsAlphaShadowDisabled"
				}
				Logic {
					Class "ProxyArray"
					Method {
						Class "ShowSceneNodes"
						Param "0"
						Param "1"
						Param "@grass"
					}
					Method {
						Class "StopAllSceneFx"
					}
				}
			}
			Logic {
				Class "CreateSound"
				Param "0"//创建Node
				Param "#BKSOUND"
				Param "1"//ambient
				Param "1.0"//volume
				Param "1"//play
				Param "1"//looping
				Method {
					Class "LoadSound"
				}
			}
			Logic {
				Class "JXJNextSceneDownload"
				Method {
					Class "JXJCheckAndDownloadFile"
					Param "0"
				}
			}
			Logic {
				Class "Proxy"
				Method {
					Class "JXJSetWorldFubenBirthPoint"
				}
			}
		}
    }
	Handle {
		MsgParam "WCH_GameStart"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "ClipCursor"
				Param "1"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_CopyBattle_Show"
				Param "1"
			}
			xMethod {
				Class "ShowCanvas"
				Param "UI_CopyBattle_Order"
				Param "1"
			}
			xMethod {
				Class "ShowCanvas"
				Param "UI_CopyBattle_Time"
				Param "1"
			}
			xMethod {
				Class "ShowCanvas"
				Param "UI_CopyBattle_Touxiang"
				Param "1"
			}
			Method {
				Class "JXJSetWidgetVisiable"
				Param "UI_CopyBattle_Name"
				Param "UI_CopyBattle_Inspire"
				Param "0"
			}			
			Method {
				Class "JXJSetWidgetVisiable"
				Param "UI_CopyBattle_Name"
				Param "UI_CopyBattle_Inspire2"
				Param "0"
			}			
			Method {
				Class "JXJSetWidgetVisiable"
				Param "UI_Beta3_CopyBattle_JK"
				Param "Huicheng"
				Param "0"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_CopyBattle_Allinformation"
				Param "1"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_Beta3_CopyBattle_JK"
				Param "1"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_CopyBattle_Shijiefuben"
				Param "1"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_ManorStair_ZhongYangGongGao"
				Param "1"
			}
			Method {
				Class "ShowCanvas"
				Param "Zhanchangzhuangtai"
				Param "1"
			}
			xMethod {
				Class "ShowCanvas"
				Param "Renwuzhanbao"
				Param "1"
			}
			Method {
				Class "JXJShowZhengzhaoBtnCanvas"
				Param "ZhengzhaoLing"
				Param "UI_CopyBattle_MinMap"
			}			
			xLogic {
				Class "IF_ELSE"
				Method {
					Class "JXJCheckIsJunTuanFuBen"				
				}
				Logic {
					Class "ProxyArray"				
					Method {
						Class "ShowCanvas"
						Param "UI_CopyBattle_XingJi"
						Param "0"
					}
				}
				Logic {
					Class "ProxyArray"				
					Method {
						Class "ShowCanvas"
						Param "UI_CopyBattle_XingJi"
						Param "1"
					}
				}
			}
			Method {
				Class "JXJInitSelectRole"
			}
			Method {
				Class "CreateSight"
			}
			Method {
				Class "JXJUIDeductJunling"
			}
			Method {
				Class "JXJBattleShowChatCanvas"
				Param "UI_CopyBattleChat"
				Param "UI_CopyBattle_MinMap"
			}
			xMethod {//小地图显示
				Class "JXJPlayMiniMapSignal"
				Param "UI_CopyBattle_MinMap"
				Param "UI_CopyBattle_Minimap"
				Param "UI_CopyBattle_Juqing_Di"//敌方
				Param "RotMap"
				Param "8839|-10681"
				Param "600"
			}
		}
    }
	Handle {
		MsgParam "WCH_UPDATE"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "DownloadUpdate"
			}
			Method {
				Class "JXJUIDownloadUpdate"
				Param "UI_Beta2_Loading"
				Param "UI_Beta2_LoadingBar_Input"
				Param "UI_Beta2_LoadingBarDown"
			}
			Logic {
				Class "JXJSunSimulate"
				Param "SunSimulate.crb"
				Param "60"
				Param "4"
				Method {
					Class "Null"
				}
				Method {
					Class "JXJUIRotateClock"
					Param "Shijiefuben"
					Param "UI_CopyBattle_Shijiefuben"
					xParam "Shijiefuben_Input"
				}
			}
			Logic {
				Class "IF_ELSE"
				Method {
					Class "RunFrequencyControl"
					Param "0.5"
				}
				Method {
					Class "Null"
				}
				Logic {
					Class "ProxyArray"			
					Method {
						Class "JXJPlayerAutoBattle"
						Param "UI_Zidongzhandou"
						Param "UI_CopyBattle_MinMap"
						Param "ZhidongBattle"
						Param "UI_CopyBattle_Fief"
					}
				}
			}
			Logic {
				Class "IF_ELSE"
				Method {
					Class "RunFrequencyControl"
					Param "1.0"
				}
				Method {
					Class "Null"
				}
				Logic {
					Class "ProxyArray"
					Method {
						Class "JXJClientOnlineRewardTimerUpdate"
					}
					Method {
						Class "JXJBlackShopRefreshTimerUpdate"
					}
					xMethod {
						Class "JXJRebelCityTimerUpdate"
					}
					xMethod {
						Class "JXJFubenPersuadeTimeUpdate"
						Param "UI_ManorStair_Taskbar"
						Param "UI_ChuZheng_DongHua"
					}
				}
			}
		}
	}
}
