# Creature3D Script Parser v1.0

Data {
    Class "JXJBrain"
    IncludeData "JXJ/script/brain/fubenbrain.cfg"
	Handle {
		MsgParam "WCH_SceneStart"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"			
			Method {
				Class  "UISetKeyboardMouseMode"
				Param "15"
			}
			Method {
				Class "JXJSetWindowsTitle"
			}
			xMethod {
				Class "JXJScenarioTalk"
				Param "1"//talkid
				Param "1"//endmsg
				Param "UI_Xinshouyindao29"
				Param "DuiHua2"
				Param "sw7"
			}
			xMethod {
				Class  "LenFadeInit"
			}
			xMethod {
				Class "ShowCanvas"
				Param "UI_Xinshouyindao31"
				Param "3"
			}
			Method {
				Class  "HideCursor"
				Param "0"
			}
			Method {
				Class  "ShowMouseCanvas"
				Param "1"
			}
			Method {
				Class  "JXJGetCameraSpeedConfig"
			}
			Method {
				Class "JXJSetCountryFlag"
				Param "@Flags_G"
				Param "T_Eft_Flag_Wei.img"
				Param "T_Eft_Flag_Shu.img"
				Param "T_Eft_Flag_Wu.img"
				Param "T_Eft_Flag_None.img"
			}
			Method {
				Class "JXJLoadFubenRoomData"
			}
			Method {
				Class  "JXJGetCameraFollowState"
				Param "UI_CopyBattle_MinMap"
				Param "UI_CopyBattle_Fief"
			}
			Method {
				Class  "JXJLoadKeyboardLayout"
				Param "0"
			}
			Method {
				Class "JXJInitSceneMap"
				Param "UI_CopyBattle_MinMap"//canvasName
				Param "UI_CopyBattle_Minimap"//mapWidgetName
				Param "MAPFILE"//imageFile
				Param "1.0"//scale
				Param "1.0,1.0"//scalerang
				Param "512"//贴图分辨率RTT不需要
				Param "1"//staticmap
				Param "RotMap"
			}
			Method {
				Class "SightFogInit"
				Param "512,512"
				Param "0.05"
				Param "100,105,110,255"
				Param "1.0"
				Param "UI_CopyBattle_MinMap"//canvasName
				Param "UI_CopyBattle_Minimap"//mapWidgetName
			}
			Method {
				Class "ShowCanvas"
				Param "UI_Zhenglv2"
				Param "1"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_CopyBattle_MinMap"
				Param "1"
			}
			Method {
				Class "ShowCanvas" //按Alt+Tab切换窗口提示
				Param "Juqing_Tist"
				Param "1"
			}
			Method {
				Class "JXJShowAutoBattleCanvas"
				Param "UI_CopyBattle_Name"
				Param "UI_CopyBattle_Show"				
				Param "UI_Zidongzhandou"
				Param "ZhidongBattle"
				Param "UI_Zhenglv2"
				Param "UI_CopyBattle_Fuben"
			}
			Method {
				Class "JXJBattleShowNoticeCanvas"
				Param "Can_Chanchanxinxi"
				Param "UI_CopyBattle_Show"
			}			
			Method {
				Class "JXJSetWidgetVisiable"
				Param "UI_Beta3_CopyBattle_JK"
				Param "UI_CopyBattle_Detrusion"
				Param "0"
			}
			Method {
				Class "JXJSetWidgetVisiable"
				Param "UI_CopyBattle_MinMap"
				Param "UI_CopyBattle_System1"
				Param "0"
			}
			Method {
				Class "JXJUIHttpRecord"
				Param "2"
				Param "1"
				Param "s2.app1105124958.qqopenapp.com"
			}
			Logic {
				Class "IF_ELSE"
				Method {
					Class "IsAlphaShadowDisabled"
				}
				Logic {
					Class "ProxyArray"
					Method {
						Class "ShowSceneNodes"
						Param "0"
						Param "1"
						Param "@grass"
					}
					Method {
						Class "StopAllSceneFx"
					}
				}
			}
			Logic {
				Class "CreateSound"
				Param "0"//创建Node
				Param "#BKSOUND"
				Param "1"//ambient
				Param "1.0"//volume
				Param "1"//play
				Param "1"//looping
				Method {
					Class "LoadSound"
				}
			}
			xLogic {
				Class "JXJNextSceneDownload"
				Param "1"
				Param "uiscene/jxjhome1.cru"
				Param "uiscene/jxjhome2.cru"
				Method {
					Class "JXJCheckAndDownloadFile"
					Param "0"
				}
			}
			Logic {
				Class "Proxy"
				Method {
					Class "JXJSetFubenBirthPoint"
					Param "0"
				}
			}
		}
    }
	Handle {
		MsgParam "WCH_GameStart"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "ClipCursor"
				Param "1"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_CopyBattle_Show"
				Param "1"
			}
			xMethod {
				Class "ShowCanvas"
				Param "UI_CopyBattle_Order"
				Param "1"
			}
			xMethod {
				Class "ShowCanvas"
				Param "UI_CopyBattle_Time"
				Param "1"
			}
			xMethod {
				Class "ShowCanvas"
				Param "UI_CopyBattle_Touxiang"
				Param "1"
			}
			Method {
				Class "JXJSetWidgetVisiable"
				Param "UI_CopyBattle_Name"
				Param "UI_CopyBattle_Inspire"
				Param "0"
			}
			Method {
				Class "JXJSetWidgetVisiable"
				Param "UI_CopyBattle_Name"
				Param "UI_CopyBattle_Inspire2"
				Param "0"
			}			
			Method {
				Class "JXJSetWidgetVisiable"
				Param "UI_Beta3_CopyBattle_JK"
				Param "Huicheng"
				Param "0"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_CopyBattle_Allinformation"
				Param "1"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_Beta3_CopyBattle_JK"
				Param "1"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_CopyBattle_Fuben"
				Param "1"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_ManorStair_ZhongYangGongGao"
				Param "1"
			}
			Method {
				Class "JXJInitSelectRole"
			}
			xMethod {
				Class "JXJXuMuInitSelectRole"
			}
			Method {
				Class "CreateSight"
			}
		}
    }
	Handle {
		MsgParam "WCH_UPDATE"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJNewHandBattleTroopSelectCanvas"
				Param "UI_Xinshouyindao34"
				Param "31504"
			}
			Method {
				Class "DownloadUpdate"
			}
			Method {
				Class "JXJUIDownloadUpdate"
				Param "UI_Beta2_Loading"
				Param "UI_Beta2_LoadingBar_Input"
				Param "UI_Beta2_LoadingBarDown"
			}
			Method {
				Class  "RunFrequencyControl"
				Param "0.5"
			}			
			Method {
				Class "JXJAddDownloadTask"
				Param "5"
			}
			Method {//机器人测试
				Class  "JXJRobot"
				Param "RobotXumu.crb"
			}
			Logic {//case 1
				Class "IF_ELSE"
				Method {
					Class "JXJClientCheckItemsDead"
					Param "31503"
					Param "1"
				}
				Logic {
					Class "ProxyArray"
					Method {
						Class "JXJScenarioTalk"
						Param "6"//talkid
						Param ""//endmsg
						Param "UI_Xinshouyindao29"
						Param "DuiHua2"
						Param "sw7"
					}
					xMethod {
						Class "JXJXuMuDialogueInit"
						Param "UI_Xinshouyindao29"
						Param "6"
					}
					xMethod {
						Class "ShowCanvas"
						Param "UI_Xinshouyindao29"
						Param "3"
					}
				}
			}
		}
	}
	Handle {
		MsgParam "WCH_GameEnd"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "DisconnectScene"
			}
			xMethod {
				Class "JXJXuMuDialogueInit"
				Param "UI_Xinshouyindao29"
				Param "8"
			}
			xMethod {
				Class "ShowCanvas"
				Param "UI_Xinshouyindao29"
				Param "3"
			}
			xMethod {
				Class "ShowCanvas"
				Param "UI_Xinshouyindao51"
				Param "3"
			}
			Method {
				Class "JXJSetBattleCameraMoveable"
				Param "0"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_Xinshouyindao51"
				Param "0"
			}
			Logic {
				Class  "IF_ELSE"
				Logic {
					Class "JXJDownloadFirstSceneFile"
					Method {
						Class "JXJCheckAndDownloadFile"
					}
				}
				Logic {
					Class "Proxy"
					Method {
						Class "ShowCanvas"
						Param "UI_Beta2_Loading"
						Param "3"
					}
				}
				Logic {
					Class "ProxyArray"
					Method {
						Class "SetRunCode"
						Param "1"
					}
					Method {
						Class "UIExitScene"
						Param "1"
					}
				}
			}			
		}
	}
	Handle {
		MsgParam "WCH_USER+20572"//WCH_JXJExitBattleScene
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
                Class "DisconnectScene"
            }
			Method {
                Class "SetRunCode"
                Param "1"
            }
			Method {
                Class "UIExitScene"
                Param "1"
            }
		}
    }
	Handle {
        MsgParam "WCH_USER+20576"//WCH_JXJPutInChatRecordDeque
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJPutInChatRecordDeque"
				Param "UI_ChatSet"
				Param "UI_CopyBattleChat"
				Param "lTXinxi"
				Param "LiaoTianRaido"
				Param "JXJ/script/chartemplate.cfg"
				Param "LiaoTian"
				Param "16"
			}
		}
    }
	Handle {
        MsgParam16 "KEY_Escape"
		MsgParam16 "KEYDOWN"
		Driver {
			Class "OneSlot"
			Method {
				Class "ReturnCamera"
			}
		}
    }//Hand End
	Handle {
		MsgParam16 "65"//a
		MsgParam16 "KEYDOWN"
		Driver {
			Class "MoreSlot"
			Method {
				Class "ShowCanvas"
				Param "UI_AJian"
				Param "0"
			}
		}
	}
	Handle {
		MsgParam16 "97"//A
		MsgParam16 "KEYDOWN"
		Driver {
			Class "MoreSlot"
			Method {
				Class "ShowCanvas"
				Param "UI_AJian"
				Param "0"
			}
		}
	}
	Handle {
		MsgParam16 "RIGHT_MOUSE_BUTTON"
		MsgParam16 "MOUSEPUSH"
		Driver {
			Class "MoreSlot"
			Method {
				Class "ShowCanvas"
				Param "UI_Youjian"
				Param "0"
			}
		}
	}
}
