# Creature3D Script Parser v1.0

Data {
    Class "Event"    
	Handle {
		MsgParam "WCH_INVOLUME"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "ChangeCamera"
				Param "Camera1"
			}
		}
    }
}
