# Creature3D Script Parser v1.0

Data {
    Class "Event"
	Handle {
		MsgParam "WCH_USER+20084"//WCH_JXJUseBagItem
		MsgParam "18"//GameServer
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJServerUseTroopsPack"
			}
		}
	}
	xHandle {
		MsgParam "WCH_USER+20084"//WCH_JXJUseBagItem
		MsgParam "32"//GameClient_Game
		Driver {
			Class "OneSlot"
			Method {
				Class "ShowCanvas"
				Param "UI_ManorStair_Buff"
				Param "0"
			}
		}
	}
}