# Creature3D Script Parser v1.0

Data {
    Class "Event"
	Handle {
		MsgParam "WCH_USER+20084"//WCH_JXJUseBagItem
		MsgParam "18"//GameServer
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJServerUseZhengMuLing"
			}
		}
	}
}