# Creature3D Script Parser v1.0

Data {
    Class "JXJItem"
	IncludeData "JXJ/script/item/item.cfg"
	Param "133,1.0,1.0,1.0"
	Handle {
		MsgParam "WCH_USER+219"//WCH_LoadDataAttrFromTab
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJLoadNpcPatrolFromTab"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+52"//WCH_RecvItemRTData
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class  "JXJRecvItemRTData"
			}
			Logic {
				Class  "IF_ELSE"
				Method {
					Class "ItemDeadCheck"
				}
				Method {
					Class "JXJSwitchModel"
					Param "Body"
					Param "1"
				}
				Method {
					Class "JXJSwitchModel"
					Param "Body"
					Param "0"
				}
			}
		}
	}
	Handle {
        MsgParam "WCH_USER+20503"//WCH_JXJMouseOnRole
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class  "JXJMouseOnRole"
			}
			Logic {
				Class "PlaySceneFx"
				Param "134,T_Eft_Shine_01.img"
				Param "224,1"
				Param "225,$MouseOnDecal"
				Method {
					Class "CreateDecal"
				}
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+121"//WCH_Touch
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Logic {
				Class "Switch"
				Method {
					Class "JXJCheckTouch"
					Param "10"//距离
				}
				Method {
					Class "JXJNotice"
					Param "3"
				}
				Method {
					Class "JXJNotice"
					Param "4"
				}
				Method {
					Class "JXJTouchSceneItem"
				}
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+305"//WCH_RecvTouch
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Logic {
				Class  "IF_ELSE"
				Method {
					Class "JXJRecvTouch"
				}
				Method {
					Class "JXJSceneItemDrop"
				}
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+306"//WCH_ClientRecvTouch
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJClientRecvTouch"
			}
		}
	}
	Handle {
		MsgParam "WCH_UPDATEVISITOR"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class  "RunFrequencyControl"
				Param "0.5"
			}
			Logic {
				Class  "IF_ELSE"
				Method {
					Class "ItemDeadCheck"
				}
				Method {
					Class "JXJSwitchModel"
					Param "Body"
					Param "1"
				}
				Method {
					Class "JXJSwitchModel"
					Param "Body"
					Param "0"
				}
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+94"//WCH_DeadEvent
		MsgParam "0"//IR_ServerRefash
		Driver {
			Class "OneSlot"
			Method {
				Class "DeadEvent"
				Param "10.0"//尸体时间，这期间内允许对尸体使用尸体技能
				Param "0.0"//复活时间，尸体消失后进入复活到计时
			}
		}
	}
}