# Creature3D Script Parser v1.0

Data {
    Class "JXJItem"
	IncludeData "JXJ/script/item/I_Baoxiang.cfg"
	Handle {
		MsgParam "WCH_USER+305"//WCH_RecvTouch
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Logic {
				Class  "IF_ELSE"
				Method {
					Class "JXJRecvTouch"
				}
				Method {
					Class "JXJSceneItemDrop"
					Param "1"
				}
			}
		}
	}
}