# Creature3D Script Parser v1.0

Data {
    Class "JXJItem"
	IncludeData "JXJ/script/item/I_Baoxiang2.cfg"
	Param "20524,2.0"
	Handle {
		MsgParam "WCH_USER+121"//WCH_Touch
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Logic {
				Class "Switch"
				Method {
					Class "JXJCheckTouch"
					Param "10"//距离
				}
				Method {
					Class "JXJNotice"
					Param "3"
				}
				Method {
					Class "JXJNotice"
					Param "4"
				}
				Method {
					Class "JXJTouchSceneItemProgress"
				}
			}
		}
	}
}