# Creature3D Script Parser v1.0  

Data {
    Class "JXJItem"
	IncludeData "JXJ/script/item/item.cfg"
	Param "1,2"//DT_MatrixNode
	Param "133,5,5,3.55"//半径
	Param "2,25"//视野
	Param "229,1.5"//眼睛高度
	Handle {
		MsgParam "WCH_UPDATEVISITOR"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class  "RunFrequencyControl"
				Param "1.0"
			}
			Method {
				Class "JXJBingzhengCampFlag"
				Param "Body"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+39"//WCH_ServerUpdate
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class  "JXJSwitchFubenProgressTimer"
				Param "30"//每隔30s复活一波NPC
				Param "4,5,6,7,8,9"//一共6波
			}
		}
	}
}