# Creature3D Script Parser v1.0

Data {
    Class "JXJItem"
	IncludeData "JXJ/script/item/item.cfg"
	Param "133,1.5,1.5,1.0"
	Param "21386,20"
	Handle {
		MsgParam "WCH_USER+52"//WCH_RecvItemRTData
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class  "JXJRecvItemRTData"
			}
			Logic {
				Class  "IF_ELSE"
				Method {
					Class "ItemDeadCheck"
				}
				Method {
					Class "JXJSwitchModel"
					Param "Body"
					Param "1"
				}
				Method {
					Class "JXJSwitchModel"
					Param "Body"
					Param "0"
				}
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+254"//WCH_DynamicCollide
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJCollideItem"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+22810"//WCH_JXJRecvRandomExtraCollide
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJRecvCollideRandomExtra"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+306"//WCH_ClientRecvTouch
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJClientRecvTouch"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+94"//WCH_DeadEvent
		MsgParam "0"//IR_ServerRefash
		Driver {
			Class "OneSlot"
			Method {
				Class "DeadEvent"
				Param "1.0"//尸体时间，这期间内允许对尸体使用尸体技能
				Param "0"//复活时间，尸体消失后进入复活到计时
			}
		}
	}
	Handle {
		MsgParam "WCH_UPDATEVISITOR"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class  "RunFrequencyControl"
				Param "0.5"
			}
			Logic {
				Class  "IF_ELSE"
				Method {
					Class "ItemDeadCheck"
				}
				Method {
					Class "JXJSwitchModel"
					Param "Body"
					Param "1"
				}
				Method {
					Class "JXJSwitchModel"
					Param "Body"
					Param "0"
				}
			}
		}
	}
}