# Creature3D Script Parser v1.0

Data {
    Class "JXJItem"
	Param "133,0.5,0.5,1.5"//半径
	Param "2,0"//视野
	Param "229,1.5"//眼睛高度
	Handle {
		MsgParam "WCH_USER+38"//WCH_ItemInRangeTest
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "ItemInRangeTest"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+35"//WCH_PlayerInRangeTest
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "PlayerInRangeTest"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+89"//WCH_GetItemRTData
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetItemRTData"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+52"//WCH_RecvItemRTData
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class  "JXJRecvItemRTData"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+43"//WCH_ItemCoordToNode
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "ItemCoordToNode"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+255"//WCH_GetGuiseState
		MsgParam "0"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetItemGuiseState"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+256"//WCH_GetRadius
		MsgParam "0"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetRadius"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+274"//WCH_GetSightRange
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class  "JXJGetItemSightRange"
			}
		}
	}
}