# Creature3D Script Parser v1.0
 
 Item {
    CollideMode "AvoidCollide"
    Data {
		Class "RpgGameNode"
		Handle {
			MsgParam "WCH_UPDATEVISITOR"
			MsgParam "NULL"
			Driver {
				Class "NodeOneSlot"
				Method {
					Class  "ItemUpdate"
				}
			}
		}
	}
}