# Creature3D Script Parser v1.0

Data {
    Class "JXJItem"
	Handle {
        MsgParam "WCH_USER+121"//WCH_Touch
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class  "JXJTouchRole"
			}
			Logic {
				Class "PlaySceneFx"
				Param "134,T_Eft_Shine_01.img"
				Param "224,1"
				Param "225,$SelectDecal"
				Method {
					Class "CreateDecal"
				}
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+89"//WCH_GetItemRTData
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetItemRTData"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+52"//WCH_RecvItemRTData
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class  "JXJRecvItemRTData"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+43"//WCH_ItemCoordToNode
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "ItemCoordToNode"
			}
		}
	}
}