# Creature3D Script Parser v1.0
 
 Item {
    CollideMode "CollideWithBoundBox"
    Data {
		Class "RpgGameNode"
		xHandle {
            MsgParam "WCH_UPDATEVISITOR"
		    MsgParam "NULL"
		    Driver {
				Class "NodeMoreSlot"
				xMethod {
					Class "ShowHeadText"
					Param "200"//range
					Param "0.4"//zoffset
					Param "20"//characterSize
					Param "CENTER_BASE_LINE"
					Param "0, 255, 0, 255"
					Param "simhei.ttf"
				}
			}
        }
	}
}