# Creature3D Script Parser v1.0  

Data {
    Class "JXJRole"
	IncludeData "JXJ/script/item/npc1.cfg"
    Param "2,60"//WCHDATA_SightRange
    Param "10,5000"//WCHDATA_HP
    Param "11,5000"//WCHDATA_MP
    Param "12,50"//WCHDATA_Attack
    Param "13,0"//WCHDATA_Defend
    Param "14,0"//WCHDATA_Speed
    Param "16,1.5"//WCHDATA_AttackSpeed
	Param "133,4.5,4.5"//WCHDATA_HalfLengths
	Param "23,VEC2 62,0"//WCHDATA_AttackMap
}