# Creature3D Script Parser v1.0  

Data {
    Class "JXJRole"
	IncludeData "JXJ/script/item/N1_npc.cfg"
	Handle {
		MsgParam "WCH_USER+39"//WCH_ServerUpdate
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			xMethod {
				Class "ItemDeadCheck"
			}
			xMethod {
				Class "UseItemProtectTimeUpdate"
			}
			Method {
				Class "ExtraUpdate"
				Param "0.1"
			}
			Method {
				Class "JXJComputeRTHP"
			}
			xMethod {
				Class "ServerCloseTargetItem"
				Param "1.0"
			}
			Method {
				Class "ServerReadPath"
			}
			Method {
				Class "PositionSync"
				Param "0.3"//NPC每0.3秒同步1次
			}
			Method {
				Class "JXJGuiseSync"
				Param "0.1"
			}
			Logic {
				Class "JXJNpcAI"
				Param "0.5"
				Param "1"
				Param "1.0"
				Method {
					Class "UseItemAndSend"
				}
				Method {
					Class "JXJSelectSkill"
				}
				Method {
				    Class "Null"
				}
				Method {
					Class "JXJCloseTargetItem"
					Param "5"
				}
				xMethod {
					Class "JXJNpcRevert"
					Param "0.1"
				}
			}
		}
	}
}