# Creature3D Script Parser v1.0  

Data {
    Class "JXJRole"
	IncludeData "JXJ/script/item/npc1.cfg"
	IncludeData "JXJ/script/bot/JXJExtra.cfg"
	IncludeData "JXJ/script/bot/JXJExtraFuben.cfg"
	Param "71,0"//WCHDATA_PatrolLoopMode,Noloop
    Param "109,1,ACT_Daiji"//ACT_Idle
	Param "109,2,ACT_Paobu"//ACT_Move
	Param "109,3,ACT_Shouji"//ACT_Hurt
	Param "109,4,ACT_Siwang"//ACT_Dead
	Param "109,5,ACT_Gongji"//ACT_Attack
	Param "109,6,ACT_Baoji"//ACT_CritAttack
	Param "109,7,ACT_Jineng"//ACT_Skill
	Param "109,8,ACT_Gedang"//ACT_Parry
	Param "109,9,ACT_Shanbi"//ACT_Dodge
	Param "109,10,ACT_Gongji"//ACT_NearAttack
	Handle {
		MsgParam "WCH_USER+219"//WCH_LoadDataAttrFromTab
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJRoleLoadDataAttrFromTab"
				Param "232"
			}
			Method {
				Class "JXJRoleLoadInbornAttrFromTab"
				Param "375"
			}
			Method {
				Class "JXJLoadNpcPatrolFromTab"
			}
			Method {
				Class "JXJLoadNpcEquipsFromTab"
			}
		}
	}
    /////////////////ServerEvent
	Handle {
		MsgParam "WCH_USER+39"//WCH_ServerUpdate
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			xMethod {
				Class "ItemDeadCheck"
			}
			xMethod {
				Class "UseItemProtectTimeUpdate"
			}
			Method {
				Class "ExtraUpdate"
				Param "0.1"
			}
			Method {
				Class "JXJComputeRTHP"
			}
			xMethod {
				Class "ServerCloseTargetItem"
				Param "1.0"
			}
			Method {
				Class "ServerReadPath"
			}
			Method {
				Class "PositionSync"
				Param "0.3"//NPC每0.3秒同步1次
			}
			Method {
				Class "JXJGuiseSync"
				Param "0.15"
			}
			Logic {
				Class "JXJNpcAI"
				Param "0.5"
				Param "1"
				Param "1.0"
				Method {
					Class "UseItemAndSend"
				}
				Method {
					Class "JXJSelectSkill"
				}
				Method {
				    Class "JXJNpcPatrol"
				    Param "3.0"//TaskPointRange
				}
				Method {
					Class "JXJCloseTargetItem"
					Param "5"
				}
				xMethod {
					Class "JXJNpcRevert"
					Param "0.1"
				}
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+20133"//WCH_JXJRecvGuiseSync
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJRecvGuiseSync"
			}
		}
	}
	xHandle {
		MsgParam "WCH_USER+20111"//WCH_JXJRecvRevert
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJRecvRevert"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+224"//WCH_RecvPositionSync
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "RecvPositionSync"
			}
		}
	}
	//Server & Client Event
	/////////////////ClientEvent
	Handle {
		MsgParam "WCH_UPDATEVISITOR"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class  "JXJActUpdate"
			}
			Method {
				Class "ItemDeadCheck"
			}
			xMethod {
				Class "UseItemProtectTimeUpdate"
			}
			Method {
				Class "ExtraUpdate"
				Param "0.1"
			}
			Method {
				Class "JXJComputeRTHP"
			}
			xMethod {
				Class "RevertUpdate"
			}
			xMethod {
				Class "ClientReadPath"
			}
			Method {
				Class "CloseToSyncPosition"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+269"//WCH_GetCrit
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class  "JXJGetCrit"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+270"//WCH_GetParry
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class  "JXJGetParry"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+271"//WCH_GetDodge
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class  "JXJGetDodge"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+226"//WCH_MissCritTest
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class  "JXJMissCritTest"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+227"//WCH_RecvMissCrit
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class  "JXJRecvMissCrit"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+228"//WCH_DodgeParryTest
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class  "JXJDodgeParryTest"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+229"//WCH_RecvDodgeParry
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class  "JXJRecvDodgeParry"
			}
		}
	}
	Handle {
		MsgParam "WCH_WEAPON_FIRE"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class  "JXJUseItemAct"
			}
		}
	}
	Handle {
		MsgParam "WCH_BULLET_COLLIDE"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class  "JXJItemHurtAct"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+94"//WCH_DeadEvent
		MsgParam "0"//IR_ServerRefash
		Driver {
			Class "OneSlot"
			Method {
				Class "DeadEvent"
				Param "10.0"//尸体时间，这期间内允许对尸体使用尸体技能
				Param "180.0"//复活时间，尸体消失后进入复活到计时
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+314"//WCH_ItemRelive
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class  "JXJEquipExtra"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+175"//WCH_CheckAndRackEquipOnMesh
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class  "JXJEquipExtra"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+22125"//WCH_JXJCureRTMp
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJCureRTMp"
			}
		}
	}
	xHandle {
		MsgParam "WCH_USER+304"//WCH_PlayActFx
		MsgParam "2"//ACT_Move
		Driver {
			Class "OneSlot"
			Logic {
				Class "ItemEffect"
				Param "0,0,0"
				Logic {
					Class "PlaySceneFx"
					Param "134,data/JXJEffect/Eft_Run_Yan_01.cre"
					Param "135,0.3"
					Method {
						Class "LoadAndCloneNode"
					}
					Logic {
						Class "PlaceLoadedNode2"
						Method {
							Class "ConvertToTransform"
						}
					}
				}
			}
		}
	}
}