# Creature3D Script Parser v1.0  

Data {
    Class "JXJRole"
	IncludeData "JXJ/script/item/npc1.cfg"
    /////////////////ServerEvent
	xHandle {
		MsgParam "WCH_USER+39"//WCH_ServerUpdate
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			xMethod {
				Class "RevertUpdate"
			}
		}
	}
	//Server & Client Event
	/////////////////ClientEvent
	xHandle {
		MsgParam "WCH_UPDATEVISITOR"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			xMethod {
				Class "RevertUpdate"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+94"//WCH_DeadEvent
		MsgParam "0"//IR_ServerRefash
		Driver {
			Class "OneSlot"
			Method {
				Class "DeadEvent"
				Param "0.5"//尸体时间，这期间内允许对尸体使用尸体技能
				Param "0"//复活时间，尸体消失后进入复活到计时
			}
		}
	}
}