# Creature3D Script Parser v1.0  

Data {
    Class "JXJRole"
	IncludeData "JXJ/script/item/npc1.cfg"
	Param "71,0"//WCHDATA_PatrolLoopMode,Noloop
    Param "109,1,ACT_Daiji"//ACT_Idle
	Param "109,2,ACT_Paobu"//ACT_Move
	Param "133,5,5,1.75"//WCHDATA_HalfLengths
	Handle {
		MsgParam "WCH_USER+219"//WCH_LoadDataAttrFromTab
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJRoleLoadDataAttrFromTab"
				Param "232"
			}
			Method {
				Class "JXJLoadNpcPatrolFromTab"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+66"//WCH_ItemDead
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJSetItemState"
				Param "2"
				Param "100"
			}
			Method {
				Class "JXJSetGuise"
				Param "28"
				Param "1"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+65"//WCH_RecvItemDead
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJSetItemState"
				Param "2"
				Param "100"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+314"//WCH_ItemRelive
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJSetGuise"
				Param "28"
				Param "0"
			}
		}
	}
    /////////////////ServerEvent
	Handle {
		MsgParam "WCH_USER+39"//WCH_ServerUpdate
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "ServerReadPath"
			}
			Method {
				Class "PositionSync"
				Param "0.3"//NPC每0.3秒同步1次
			}
			Method {
				Class "JXJGuiseSync"
				Param "1.0"
			}
			Method {
				Class "JXJNpcPatrol"
				Param "3.0"//TaskPointRange
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+224"//WCH_RecvPositionSync
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "RecvPositionSync"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+20133"//WCH_JXJRecvGuiseSync
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJRecvGuiseSync"
			}
		}
	}
	//Server & Client Event
	/////////////////ClientEvent
	Handle {
		MsgParam "WCH_UPDATEVISITOR"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJActUpdate"
			}
			Method {
				Class "CloseToSyncPosition"
			}
			Method {
				Class "JXJGuiseStateRender"
				Param "0.5"//间隔
				Param "0.5"//alpha
				Param "2"//速度
				Param "1"//表示世界马车
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+94"//WCH_DeadEvent
		MsgParam "0"//IR_ServerRefash
		Driver {
			Class "OneSlot"
			Method {
				Class "Null"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+304"//WCH_PlayActFx
		MsgParam "2"//ACT_Move
		Driver {
			Class "OneSlot"
			Logic {
				Class "ItemEffect"
				Param "0,0,0"
				Logic {
					Class "PlaySceneFx"
					Param "134,data/JXJEffect/Eft_Run_Yan_01.cre"
					Param "135,0.3"
					Method {
						Class "LoadAndCloneNode"
					}
					Logic {
						Class "PlaceLoadedNode2"
						Method {
							Class "ConvertToTransform"
						}
					}
				}
			}
		}
	}
}