# Creature3D Script Parser v1.0  

Data {
    Class "JXJRole"
	IncludeData "JXJ/script/item/N1_StaticBingzheng.cfg"
    /////////////////ServerEvent
	Handle {
		MsgParam "WCH_USER+39"//WCH_ServerUpdate
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJNpcRevert"
				Param "0.5"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+66"//WCH_ItemDead
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJBingzhengBirthPointChange"
			}
			Method {
				Class "JXJItemDeadChangeCamp"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+314"//WCH_ItemRelive
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJBingzhengBirthPoint"
			}
			xMethod {
				Class "JXJBingzhenReliveProtect"
			}
		}
	}
}