# Creature3D Script Parser v1.0  

Data {
    Class "JXJRole"
	IncludeData "JXJ/script/item/npc1.cfg"
    /////////////////ServerEvent
	Handle {
		MsgParam "WCH_USER+39"//WCH_ServerUpdate
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			xMethod {
				Class "ItemDeadCheck"
			}
			xMethod {
				Class "UseItemProtectTimeUpdate"
			}
			Logic {
				Class "JXJNpcAI"
				Param "3.0"
				Param "5"
				Param "1.0"
				Method {
					Class "UseItemAndSend"
				}
				Method {
					Class "JXJSelectSkill"
				}
			}
		}
	}
	//Server & Client Event
	/////////////////ClientEvent
	Handle {
		MsgParam "WCH_UPDATEVISITOR"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Logic {
				Class  "IF_ELSE"
				Method {
					Class "ItemDeadCheck"
				}
				Method {
					Class "JXJSwitchModel"
					Param "Body"
					Param "2"
				}
				Logic {
					Class "ProxyArray"
					xMethod {
						Class "UseItemProtectTimeUpdate"
					}
					xMethod {
						Class "RevertUpdate"
					}
					Method {
						Class  "JXJItemUseNoAct"
					}
					Logic {
						Class  "IF_ELSE"
						Method {
							Class "JXJItemHPRemainPercent"
							Param "0.5"
						}
						Method {
							Class "JXJSwitchModel"
							Param "Body"
							Param "1"
						}
						Method {
							Class "JXJSwitchModel"
							Param "Body"
							Param "0"
						}
					}
				}
			}
		}
	}
	Handle {
        MsgParam "WCH_USER+20503"//WCH_JXJMouseOnRole
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class  "JXJMouseOnRole"
			}
			Logic {
				Class "PlaySceneFx"
				Param "134,T_Eft_Shine_01_Half.img"
				Param "224,1"
				Param "225,$MouseOnDecal"
				Method {
					Class "CreateDecal"
				}
			}
			Logic {
				Class "JXJJianTaRangeDecalCreate"
				Param "1.5"
				Param "0,1,0,1"
				Param "1,0,0,1"
				Logic {
					Class "PlaySceneFx"
					Param "134,data/JXJEffect/Eft_Sk_Fanwei_02.cre"
					Method {
						Class "LoadAndCloneNode"
					}
					Logic {
						Class "PlaceLoadedNode2"
						Method {
							Class "ConvertToTransform"
						}
					}
				}
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+94"//WCH_DeadEvent
		MsgParam "0"//IR_ServerRefash
		Driver {
			Class "OneSlot"
			Method {
				Class "Null"
			}
			xMethod {
				Class "DeadEvent"
				Param "0.5"//尸体时间，这期间内允许对尸体使用尸体技能
				Param "0"//复活时间，尸体消失后进入复活到计时
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+65"//WCH_RecvItemDead
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class  "RecvItemDead"
			}
			Logic {
				Class "ItemEffect"
				Param "0,0,2"
				Logic {
					Class "PlaySceneFx"
					Param "134,data/JXJEffect/Eft_Talou_Baozha_01.cre"
					Param "135,2"
					Method {
						Class "LoadAndCloneNode"
					}
					Logic {
						Class "PlaceLoadedNode2"
						Method {
							Class "ConvertToTransform"
						}
					}
				}
			}
			xMethod {
				Class "CameraShake"
				Param "0.2"
				Param "0.5"
			}
		}
	}
}