# Creature3D Script Parser v1.0  

Data {
    Class "JXJRole"
	IncludeData "JXJ/script/item/N1_StaticBingzheng.cfg"
    /////////////////ServerEvent
	Handle {
		MsgParam "WCH_USER+66"//WCH_ItemDead
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
		}
	}
	Handle {
		MsgParam "WCH_USER+94"//WCH_DeadEvent
		MsgParam "0"//IR_ServerRefash
		Driver {
			Class "OneSlot"
			Method {
				Class "DeadEvent"
				Param "5.0"//尸体时间，这期间内允许对尸体使用尸体技能
				Param "0"//复活时间，尸体消失后进入复活到计时
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+121"//WCH_Touch
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJCheckCampAddArmyEnable"
				Param "UI_Battleground_Zctsh"
				Param "15"//半径
			}
			Method {
				Class  "JXJTouchRole"
			}
			Logic {
				Class "PlaySceneFx"
				Param "134,T_Eft_Shine_01.img"
				Param "224,1"
				Param "225,$SelectDecal"
				Method {
					Class "CreateDecal"
				}
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+20558"//WCH_JXJTouchRoleShow
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJTouchRoleShow"
				Param "UI_CopyBattle_Show"
				Param "UI_AddFriends_Jia"
				Param "UI_AddFriends_Jian"
				Param "UI_Friends"
				Param "Down"
				Param "Up"
				Param "sw180"
				Param "UI_CopyBattle_Show_Name"
				Param "UI_CopyBattle_Show_Grade"
				Param "UI_CopyBattle_Show_Zhandouli"
				Param "UI_CopyBattle_Show_TouXiang"
				Param "sw275"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+305"//WCH_RecvTouch
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJRecvTouchCamp"
				Param "15"//半径
			}
		}
	}
	xHandle {
        MsgParam "WCH_USER+20503"//WCH_JXJMouseOnRole
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class  "JXJMouseOnRole"
			}
			Logic {
				Class "PlaySceneFx"
				Param "134,T_Eft_Shine_01_Half.img"
				Param "224,1"
				Param "225,$MouseOnDecal"
				Method {
					Class "CreateDecal"
				}
			}
			Logic {
				Class "JXJShuiJingRangeDecalCreate"
				Param "1.5"
				Logic {
					Class "PlaySceneFx"
					Param "134,data/JXJEffect/Eft_Sk_Fanwei_01.cre"
					Method {
						Class "LoadAndCloneNode"
					}
					Logic {
						Class "PlaceLoadedNode2"
						Method {
							Class "ConvertToTransform"
						}
					}
				}
			}
		}
    }
}