# Creature3D Script Parser v1.0  

Data {
    Class "JXJRole"
	IncludeData "JXJ/script/item/N1_StaticBingzheng.cfg"
	Handle {
		MsgParam "WCH_USER+66"//WCH_ItemDead
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJBingzhengBirthPointChange"
			}
			Method {
				Class "JXJItemDeadChangeCamp"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+314"//WCH_ItemRelive
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Logic {//case 1
				Class "IF_ELSE"
				Method {
					Class "JXJCheckBingzhengCamp"
				}
				Method {
					Class "JXJBingzhengFubenProgress"
					Param "3"//复活一波兵
				}
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+39"//WCH_ServerUpdate
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class  "RunFrequencyControl"
				Param "10.0"
			}
			Logic {
				Class "IF_ELSE"
				Method {
					Class "JXJCheckBingzhengCamp"
				}
				Logic {
					Class "IF_ELSE"
					Method {
						Class "JXJCheckItemsDeadFromTab2"
						Param "3"
					}
					Method {
						Class "JXJBingzhengFubenProgress"
						Param "3"//复活一波兵
					}
				}
			}
		}
	}
}