# Creature3D Script Parser v1.0  

Data {
    Class "JXJRole"
    Param "2,20"//WCHDATA_SightRange
    Param "10,100"//WCHDATA_HP
    Param "11,100"//WCHDATA_MP
    Param "12,0"//WCHDATA_Attack
    Param "13,0"//WCHDATA_Defend
    Param "14,5"//WCHDATA_Speed
    Param "16,1.0"//WCHDATA_AttackSpeed
    Param "45,1"//WCHDATA_MaxAttack
    Param "46,0"//WCHDATA_MaxSkill
    Param "47,0"//WCHDATA_MaxBackPack
    Param "50,0"//WCHDATA_MaxStorage
    Param "48,0"//WCHDATA_MaxEquipon
    Param "49,0"//WCHDATA_MaxQuick
	Param "133,1.0,1.0,1.0"//WCHDATA_HalfLengths
	Handle {
		MsgParam "WCH_USER+219"//WCH_LoadDataAttrFromTab
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJRoleLoadDataAttrFromTab"
				Param "232"
			}
			Method {
				Class "JXJRoleLoadInbornAttrFromTab"
				Param "375"
			}
		}
	}
    /////////////////ServerEvent
	Handle {
		MsgParam "WCH_USER+66"//WCH_ItemDead
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJNpcDeadDropItem"
				Param "120"//120s过后掉落物品消失
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+38"//WCH_ItemInRangeTest
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "ItemInRangeTest"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+35"//WCH_PlayerInRangeTest
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "PlayerInRangeTest"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+218"//WCH_InPatrolTest
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "InPatrolTest"//检查是否处于巡逻范围内
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+181"//WCH_RecvItemState
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "RecvItemState"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+58"//WCH_NodeCollideWithItem
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "NodeCollideWithItem"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+61"//WCH_AddDamage
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJAddDamage"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+64"//WCH_RecvDamage
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class  "JXJRecvDamage"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+160"//WCH_CureHP
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJCureHP"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+164"//WCH_RecvCureHP
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class  "JXJRecvCureHP"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+89"//WCH_GetItemRTData
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetItemRTData"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+94"//WCH_DeadEvent
		MsgParam "0"//IR_ServerRefash
		Driver {
			Class "OneSlot"
			Method {
				Class "DeadEvent"
				Param "2.0"//尸体时间，这期间内允许对尸体使用尸体技能
				Param "0.0"//复活时间，尸体消失后进入复活到计时
			}
		}
	}
	//Server & Client Event
	Handle {
		MsgParam "WCH_USER+59"//WCH_GetDamage
		MsgParam "0"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetDamage"//m_attack+力量*1.1*（0.16*LV+4）+装备加成
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+59"//WCH_GetDamage
		MsgParam "1"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetDamage"
			}
		}
	}	
	Handle {
		MsgParam "WCH_USER+60"//WCH_GetDefend
		MsgParam "0"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetDefend"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+60"//WCH_GetDefend
		MsgParam "1"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetMagicDefend"
			}
		}
	}	
	Handle {
		MsgParam "WCH_USER+70"//WCH_GetSpeed
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetSpeed"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+250"//WCH_GetStealth
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetStealth"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+252"//WCH_GetStealthSpy
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetStealthSpy"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+71"//WCH_GetHP
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetHP"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+291"//WCH_GetRTHP
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetRTHP"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+20521"//WCH_JXJGetRTHPPercent
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetRTHPPercent"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+72"//WCH_GetMP
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetMP"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+76"//WCH_GetHPRevert
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetHPRevert"//rthp*m_factor+装备加成
				Param "0.01"//m_factor
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+77"//WCH_GetMPRevert
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetMPRevert"//rtmp*m_factor+装备加成
				Param "0.02"//m_factor
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+80"//WCH_GetSkillCD
		MsgParam "0"//0默认攻 击攻速, 1.施法攻击攻速
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJAttackSpeed"//m_attackSpeed-敏捷*0.1*（0.16*LV+0.1）-装备加成
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+255"//WCH_GetGuiseState
		MsgParam "0"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetGuiseState"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+256"//WCH_GetRadius
		MsgParam "0"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetRadius"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+265"//WCH_GetHitratio
		MsgParam "0"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetHitratio"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+267"//WCH_GetIgnoreDefend
		MsgParam "0"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetIgnoreDefend"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+267"//WCH_GetIgnoreDefend
		MsgParam "1"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetIgnoreMagicDefend"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+274"//WCH_GetSightRange
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class  "JXJGetSightRange"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+277"//WCH_GetIgnoreDodge
		MsgParam "0"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetIgnoreDodge"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+278"//WCH_GetAttackDamageBack
		MsgParam "0"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetAttackDamageBack"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+279"//WCH_GetSkillDamageBack
		MsgParam "0"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetSkillDamageBack"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+281"//WCH_GetAttackAbsorbHP
		MsgParam "0"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetAttackAbsorbHP"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+282"//WCH_GetSkillAbsorbHP
		MsgParam "0"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetSkillAbsorbHP"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+293"//WCH_GetCritSword
		MsgParam "0"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetCritSword"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+295"//WCH_GetSputtering
		MsgParam "0"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetSputtering"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+297"//WCH_GetAttackDamage
		MsgParam "0"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetAttackDamage"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+353"//WCH_GetAttackDamageIncrease
		MsgParam "0"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetAttackDamageIncrease"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+354"//WCH_GetSkillDamageIncrease
		MsgParam "0"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetSkillDamageIncrease"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+355"//WCH_GetCureEffectPercent
		MsgParam "0"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetCureEffectPercent"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+298"//WCH_GetSkillDamage
		MsgParam "0"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetSkillDamage"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+107"//WCH_EnemyCheck
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "EnemyCheck"
			}
		}
	}
	/////////////////ClientEvent
	Handle {
		MsgParam "WCH_USER+43"//WCH_ItemCoordToNode
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "ItemCoordToNode"
			}
		}
	}
	Handle {
        MsgParam "WCH_USER+121"//WCH_Touch
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class  "JXJTouchRole"
			}
			Logic {
				Class "PlaySceneFx"
				Param "134,T_Eft_Shine_01.img"
				Param "224,1"
				Param "225,$SelectDecal"
				Method {
					Class "CreateDecal"
				}
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+20558"//WCH_JXJTouchRoleShow
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJTouchRoleShow"
				Param "UI_CopyBattle_Show"
				Param "UI_AddFriends_Jia"
				Param "UI_AddFriends_Jian"
				Param "UI_Friends"
				Param "Down"
				Param "Up"
				Param "sw180"
				Param "UI_CopyBattle_Show_Name"
				Param "UI_CopyBattle_Show_Grade"
				Param "UI_CopyBattle_Show_Zhandouli"
				Param "UI_CopyBattle_Show_TouXiang"
				Param "sw275"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+65"//WCH_RecvItemDead
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class  "RecvItemDead"
			}
			Method {
				Class "ItemCutScene"
				Param "1"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+216"//WCH_ChangeActState
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class  "ChangeActState"
			}
		}
	}
	///////////NetEvent
	Handle {
		MsgParam "WCH_USER+41"//WCH_NetControl
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "NetControl"
				Param "500"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+52"//WCH_RecvItemRTData
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJRecvItemRTData"
				Param "UI_CopyBattle_Show"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+82"//WCH_RecvTargetExtra
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class  "JXJRecvTargetExtra"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+84"//WCH_RecvUserExtra
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class  "JXJRecvUserExtra"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+184"//WCH_RecvGuiseState
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "RecvGuiseState"
			}
		}
	}
	Handle {
        MsgParam "WCH_USER+20503"//WCH_JXJMouseOnRole
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class  "JXJMouseOnRole"
			}
			Logic {
				Class "PlaySceneFx"
				Param "134,T_Eft_Shine_01_Half.img"
				Param "224,1"
				Param "225,$MouseOnDecal"
				Method {
					Class "CreateDecal"
				}
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+20526"//WCH_JXJClientRecvDamage
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJClientRecvDamage"
				Param "UI_CopyBattle_Display_Injured"
				Param "Input2"
				Param "UI_CopyBattle_Display_Crit"
				Param "Input"
				Param "UI_CopyBattle_Display_Skill"
				Param "Input3"
				Param "UI_CopyBattle_Display_Parry"
				Param "UI_CopyBattle_Display_Dodge_Own"
				Param "UI_CopyBattle_Display_Parry_Others"
				Param "UI_CopyBattle_Display_Dodge_Others"
				Param "UI_CopyBattle_Display_Deviate"
				Param "UI_CopyBattle_Display_CureHP"
				Param "CureHP"
				Param "UI_CopyBattle_Display_JFSH"
				Param "Input_1"
				Param "UI_CopyBattle_Display_JFBJ"
				Param "Input_2"
				Param "UI_CopyBattle_Display_JFFS"
				Param "Input_3"
				Param "UI_CopyBattle_Display_YFSH"
				Param "Input_4"
				Param "UI_CopyBattle_Display_YFBJ"
				Param "Input_5"
				Param "UI_CopyBattle_Display_YFFS"
				Param "Input_6"
				Param "UI_CopyBattle_Display_Extra"
				Param "Input4"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+20115"//WCH_JXJDamageType
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJDamageType"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+20116"//WCH_JXJRecvDamageType
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJRecvDamageType"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+20159"// WCH_JXJRecvRemoveExtra
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJRecvRemoveExtra"
			}
		}
	}
}