# Creature3D Script Parser v1.0  

Data {
    Class "JXJBuildingItem"
    IncludeData "JXJ/script/item/sceneItemI1.cfg"
    Param "20134,20026"//WCHDATA_Jiusilv
	Handle {
        MsgParam "WCH_USER+20818"//WCH_JXJMouseOnBuildingItemEffect
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Logic {
				Class "JXJMouseOnBuildingItemEffect"
				Param "0,0,1.5"
				Logic {
					Class "PlaySceneFx"
					Param "134,data/JXJEffect/Eft_Jianzhu_Xuanze_01.cre"
					Method {
						Class "LoadAndCloneNode"
					}
					Logic {
						Class "PlaceLoadedNode2"
						Method {
							Class "ConvertToTransform"
						}
					}
				}
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+121"//WCH_Touch
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJBuildingLevelCanvas"
				Param "UI_Tavern"
				Param "NULL"
				Param "UI_Level"
				Param "UI_TerritoryBuilding_NowLv"
				Param "UI_TerritoryBuilding_NextLv"
				Param "UI_Time"
				Param "UI_Need"
				Param "UI_Money"
				Param "UI_Wood"
				Param "UI_Iron"
				Param "UI_Food"
				Param "UI_Curfunction"
				Param "UI_Promt_H"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_Tavern"
				Param "1"//doModal
			}
		}
	}
	Handle {
		MsgParam "WCH_UPDATEVISITOR"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJShowHeadCanvas"
				Param "UI_Name_Jiushi"
				Param "0"
				Param "JiuSi_Input"
				Param "20026"
				Param "0"
				Param "UI_Tavern"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+20004"//WCH_JXJBuildingLevelChange
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Logic {
				Class "CreateSound"
				Param "0"//创建Node
				Param "sounds/beijing_6.wav"
				Param "1"//ambient
				Param "1.0"//volume
				Param "1"//play
				Param "0"//looping
				Method {
					Class "LoadSound"
				}
			}
			Logic {
				Class "ItemEffect"
				Param "0,0,0"
				Logic {
					Class "PlaySceneFx"
					Param "134,data/JXJEffect/Eft_Jianzhu_Shengji_01.cre"
					Param "135,1"
					Method {
						Class "LoadAndCloneNode"
					}
					Logic {
						Class "PlaceLoadedNode2"
						Method {
							Class "ConvertToTransform"
						}
					}
				}
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+20113"//WCH_JXJBuildingTaskEffect
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Logic {
				Class "JXJBuildingItemEffect"
				Param "0,0,1.5"
				Logic {
					Class "PlaySceneFx"
					Param "134,data/JXJEffect/Eft_Jianzhutishi_01.cre"
					Method {
						Class "LoadAndCloneNode"
					}
					Logic {
						Class "PlaceLoadedNode2"
						Method {
							Class "ConvertToTransform"
						}
					}
				}
			}
		}
	}
}