# Creature3D Script Parser v1.0  

Data {
    Class "JXJBuildingItem"
    IncludeData "JXJ/script/item/sceneItemI1.cfg"
    xParam "20134,20121"//WCHDATA_Nongtianlv8
	xHandle {
        MsgParam "WCH_USER+20818"//WCH_JXJMouseOnBuildingItemEffect
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Logic {
				Class "JXJMouseOnBuildingItemEffect"
				Param "0,0,1.5"
				Logic {
					Class "PlaySceneFx"
					Param "134,data/JXJEffect/Eft_Jianzhu_Xuanze_01.cre"
					Method {
						Class "LoadAndCloneNode"
					}
					Logic {
						Class "PlaceLoadedNode2"
						Method {
							Class "ConvertToTransform"
						}
					}
				}
			}
		}
    }
	xHandle {
		MsgParam "WCH_USER+121"//WCH_Touch
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJCheckIFBuildingOpen"
			}
			Method {
				Class "JXJBuildingLevelCanvas"
				Param "UI_TerritoryBuilding"
				Param "UI_TerritoryBuilding_NameInput"
				Param "UI_Level"
				Param "UI_TerritoryBuilding_NowLv"
				Param "UI_TerritoryBuilding_NextLv"
				Param "UI_Time"
				Param "UI_Need"
				Param "UI_Money"
				Param "UI_Wood"
				Param "UI_Iron"
				Param "UI_Food"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_TerritoryBuilding"
				Param "1"//doModal
			}
		}
	}
	xHandle {
		MsgParam "WCH_UPDATEVISITOR"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJShowHeadCanvas"
				Param "UI_Name_Nongtian"
				Param "1"
				Param "NongTian_Input"
				Param "20121"
				Param "0"
				Param "UI_TerritoryBuilding"
			}
		}
	}
}