# Creature3D Script Parser v1.0  

Data {
    Class "JXJBuildingItem"
    IncludeData "JXJ/script/item/sceneItemI1.cfg"
    Param "20134,22412"//WCHDATA_Fuyalv
	Handle {
        MsgParam "WCH_USER+20818"//WCH_JXJMouseOnBuildingItemEffect
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Logic {
				Class "JXJMouseOnBuildingItemEffect"
				Param "0,0,1.5"
				Logic {
					Class "PlaySceneFx"
					Param "134,data/JXJEffect/Eft_Jianzhu_Xuanze_01.cre"
					Method {
						Class "LoadAndCloneNode"
					}
					Logic {
						Class "PlaceLoadedNode2"
						Method {
							Class "ConvertToTransform"
						}
					}
				}
			}
		}
    }
	Handle {
		MsgParam "WCH_USER+121"//WCH_Touch
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJResAddBuildingCanvasUpdate"
				Param "UI_BonusResources"
				Param "UI_Level"
				Param "sw2"
				Param "UI_Input1"
				Param "UI_Input2"
				Param "UI_Input3"
				Param "UI_Input4"
				Param "UI_Input5"
				Param "UI_Input6"
				Param "UI_Input7"
				Param "UI_Input8"
				Param "UI_Input9"
				Param "UI_Upgrade"
				Param "UI_Use"
				Param "UI_BuyTime"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_BonusResources"
				Param "1"
			}
		}
	}
	Handle {
		MsgParam "WCH_UPDATEVISITOR"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJShowHeadCanvas"
				Param "UI_Name_MoChuan"
				Param "0"
				Param ""
				Param "22412"
				Param "8"
				Param ""
				Param "sw5"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+20004"//WCH_JXJBuildingLevelChange
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Logic {
				Class "CreateSound"
				Param "0"//创建Node
				Param "sounds/beijing_6.wav"
				Param "1"//ambient
				Param "1.0"//volume
				Param "1"//play
				Param "0"//looping
				Method {
					Class "LoadSound"
				}
			}
			Logic {
				Class "ItemEffect"
				Param "0,0,0"
				Logic {
					Class "PlaySceneFx"
					Param "134,data/JXJEffect/Eft_Jianzhu_Shengji_01.cre"
					Param "135,1"
					Method {
						Class "LoadAndCloneNode"
					}
					Logic {
						Class "PlaceLoadedNode2"
						Method {
							Class "ConvertToTransform"
						}
					}
				}
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+20113"//WCH_JXJBuildingTaskEffect
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Logic {
				Class "JXJBuildingItemEffect"
				Param "0,0,1.5"
				Logic {
					Class "PlaySceneFx"
					Param "134,data/JXJEffect/Eft_Jianzhutishi_01.cre"
					Method {
						Class "LoadAndCloneNode"
					}
					Logic {
						Class "PlaceLoadedNode2"
						Method {
							Class "ConvertToTransform"
						}
					}
				}
			}
		}
	}
}