# Creature3D Script Parser v1.0

Data {
    Class "JXJBuildingItem"
    Param "1,10"//WCHDATA_DataType,DT_SceneItem
	Handle {
		MsgParam "WCH_USER+89"//WCH_GetItemRTData
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetItemRTData"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+52"//WCH_RecvItemRTData
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class  "JXJRecvItemRTData"
			}
			Method {
				Class "JXJSetConstructtionLevel"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+43"//WCH_ItemCoordToNode
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "ItemCoordToNode"
			}
		}
	}
}