# Creature3D Script Parser v1.0

    StageName "ChatGame"
    FrameInterval 10
    FrameDelay 10
    StageRect [0 -720 200 500]
    ScaleWithScreen "Scale_None"
    NeedParentWindow 1
    DrawMode "Copy"
    Image "media/ui/chat/ChatGameUp.bmp"
    DownImage "media/ui/chat/ChatGameDown.bmp"
    CanDrag 0
    
    Element {
        ElementName "Friend"
        ElementType "Button"
        ElementRect [0 0 50 25]
        ElementHandle {
            MsgParam "LBtnDown"
            MsgParam "NULL"
            Driver {
                Class "MoreSlot"
                Method {
                    Class "ShowStage"
                    Param "ChatMain"
                    Param "1"
                }
                Method {
                    Class "CloseDlg"
                }
            }
        }
    }
    Element {
        ElementName "Group"
        ElementType "Button"
        ElementRect [50 0 100 25]
        ElementHandle {
            MsgParam "LBtnDown"
            MsgParam "NULL"
            Driver {
                Class "MoreSlot"
                Method {
                    Class "ShowStage"
                    Param "ChatGroup"
                    Param "1"
                }
                Method {
                    Class "CloseDlg"
                }
            }
        }
    }
    Element {
        ElementName "Game"
        ElementType "Button"
        ElementRect [100 0 150 25]
    }
    Element {
        ElementName "Msg"
        ElementType "Button"
        ElementRect [150 0 200 25]

        ElementHandle {
            MsgParam "LBtnDown"
            MsgParam "NULL"
            Driver {
                Class "MoreSlot"
                Method {
                    Class "ShowStage"
                    Param "ChatMsg"
                    Param "1"
                }
                Method {
                    Class "CloseDlg"
                }
            }
        }
    }
    Element {
        ElementName "ChatRecScrollBarV"
        ElementType "ScrollBar"
        ElementRect [173 25 199 345]
        
        ScrollBarType "VERTICALBAR"
        ButtonRange 16
        LineValue 1.0
        PageValue 4.0
        Range [0.0, 1.0]
    }
    Element {
        ElementName "ChatRec"
        ElementType "StaticTextBox"
        ElementRect [0 25 173 345]
        TextAttribute "Black13"
        MultiLine 1
        VScrollBarName "ChatRecScrollBarV"
    }
    
    Element {
        ElementName "ChatInput"
        ElementType "EditBox"
        ElementRect [0 355 173 455]
        TextAttribute "Black13"
        MultiLine 1
        ElementHandle {
            MsgParam "DestroyWindow"
            MsgParam "NULL"
            Driver {
                Class "MoreSlot"
                Method {
                    Class "ClearEditText"
                }
            }
        }
    }
    Element {
        ElementName "Send"
        ElementType "Button"
        ElementRect [5 462 56 492]

        ElementHandle {
            MsgParam "LBtnDown"
            MsgParam "NULL"
            Driver {
                Class "MoreSlot"
                Method {
                    Class "SendSceneChat"
                    Param "ChatInput"
                    Param "ChatRec"
                }
            }
        }
    }
    Element {
        ElementName "SendAll"
        ElementType "Button"
        ElementRect [68 462 129 492]

        ElementHandle {
            MsgParam "LBtnDown"
            MsgParam "NULL"
            Driver {
                Class "MoreSlot"
                Method {
                    Class "SendGameChat"
                    Param "ChatInput"
                    Param "ChatRec"
                }
            }
        }
    }
    Element {
        ElementName "Close"
        ElementType "Button"
        ElementRect [141 462 192 492]

        ElementHandle {
            MsgParam "LBtnDown"
            MsgParam "NULL"
            Driver {
                Class "MoreSlot"
                Method {
                    Class "CloseDlg"
                }
            }
        }
    }