# Creature3D Script Parser v1.0

    StageName "ChatGroup"
    FrameInterval 10
    FrameDelay 10
    StageRect [0 -720 200 500]
    ScaleWithScreen "Scale_None"
    NeedParentWindow 1
    DrawMode "Copy"
    Image "media/ui/chat/ChatGroupUp.bmp"
    DownImage "media/ui/chat/ChatGroupDown.bmp"
    CanDrag 0
    
    Element {
        ElementName "Friend"
        ElementType "Button"
        ElementRect [0 0 50 25]
        ElementHandle {
            MsgParam "LBtnDown"
            MsgParam "NULL"
            Driver {
                Class "MoreSlot"
                Method {
                    Class "ShowStage"
                    Param "ChatMain"
                    Param "1"
                }
                Method {
                    Class "CloseDlg"
                }
            }
        }
    }
    Element {
        ElementName "Group"
        ElementType "Button"
        ElementRect [50 0 100 25]
    }
    Element {
        ElementName "Game"
        ElementType "Button"
        ElementRect [100 0 150 25]

        ElementHandle {
            MsgParam "LBtnDown"
            MsgParam "NULL"
            Driver {
                Class "MoreSlot"
                Method {
                    Class "ShowStage"
                    Param "ChatGame"
                    Param "1"
                }
                Method {
                    Class "CloseDlg"
                }
            }
        }
    }
    Element {
        ElementName "Msg"
        ElementType "Button"
        ElementRect [150 0 200 25]

        ElementHandle {
            MsgParam "LBtnDown"
            MsgParam "NULL"
            Driver {
                Class "MoreSlot"
                Method {
                    Class "ShowStage"
                    Param "ChatMsg"
                    Param "1"
                }
                Method {
                    Class "CloseDlg"
                }
            }
        }
    }
    Element {
        ElementName "GroupTreeScrollBarV"
        ElementType "ScrollBar"
        ElementRect [173 25 199 425]
        
        ScrollBarType "VERTICALBAR"
        ButtonRange 16
        LineValue 1.0
        PageValue 4.0
        Range [0.0, 1.0]
    }
    Element {
        ElementName "GroupTreeScrollBarH"
        ElementType "ScrollBar"
        ElementRect [0 425 173 452]
        
        ScrollBarType "HORIZONTALBAR"
        ButtonRange 18
        LineValue 1.0
        PageValue 4.0
        Range [0.0, 1.0]
    }
    Element {
        ElementName "GroupTree"
        ElementType "Tree"
        ElementRect [0 25 173 425]
        TextAttribute "default"
        RowHeight 20
        ColumnOffset 8
        HScrollBarName "GroupTreeScrollBarH"
        VScrollBarName "GroupTreeScrollBarV"
        ElementHandle {
			MsgParam "InitWindow"
			MsgParam "NULL"
			Driver {
				Class "OneSlot"
				Method {
					Class  "BuildGroupTree"
				}
			}
		}
    }
    
    Element {
        ElementName "Find"
        ElementType "Button"
        ElementRect [5 462 56 492]

        ElementHandle {
            MsgParam "LBtnDown"
            MsgParam "NULL"
            Driver {
                Class "MoreSlot"
                Method {
                    Class "ShowStage"
                    Param "ChatQuery"
                    Param "1"
                }
            }
        }
    }
    
    Element {
        ElementName "CreateGroup"
        ElementType "Button"
        ElementRect [68 462 129 492]

        ElementHandle {
            MsgParam "LBtnDown"
            MsgParam "NULL"
            Driver {
                Class "MoreSlot"
                Method {
                    Class "ShowStage"
                    Param "ChatCreateGroup"
                    Param "1"
                }
            }
        }
    }
    
    Element {
        ElementName "Exit"
        ElementType "Button"
        ElementRect [141 462 192 492]

        ElementHandle {
            MsgParam "LBtnDown"
            MsgParam "NULL"
            Driver {
                Class "MoreSlot"
                Method {
                    Class "CloseDlg"
                }
            }
        }
    }