# Creature3D Script Parser v1.0
Hypertext {
 	 Alignment 	 "BASE_LINE"
 	 CharacterSize 	 15
 	 Color 	 [ 255 255 255 255 ]
	 
	Content 	 {
 	 Color 	 [ 255 255 255 255 ]
 	 DrawMode 	 "TEXT"
 	 Text 	 "1.必须先选中自己的单位才能控制其攻击或移动，左键框选可以选中多个自己的单位。/n"
}
	Content 	 {
 	 Color 	 [ 255 255 255 255 ]
 	 DrawMode 	 "TEXT"
 	 Text 	 "2.右键点击地面移动，A键选择目标攻击或右键选择目标攻击。/n"
}
	Content 	 {
 	 Color 	 [ 255 255 255 255 ]
 	 DrawMode 	 "TEXT"
 	 Text 	 "3.按Z、X键可旋转视角，V键恢复默认视角。/n"
}
	Content 	 {
 	 Color 	 [ 255 255 255 255 ]
 	 DrawMode 	 "TEXT"
 	 Text 	 "4.F1、F2、F3可快速选中自己的单位。/n"
}
	Content 	 {
 	 Color 	 [ 255 255 255 255 ]
 	 DrawMode 	 "TEXT"
 	 Text 	 "5.空格键可以将视野拉回当前处于选中状态的单位视野上。/n"
}
	Content 	 {
 	 Color 	 [ 255 255 255 255 ]
 	 DrawMode 	 "TEXT"
 	 Text 	 "6.可以利用键盘方向键“←”，“→”，“↑”，“↓” 左右上下四个键移动画面。/n"
}
	Content 	 {
 	 Color 	 [ 255 255 255 255 ]
 	 DrawMode 	 "TEXT"
 	 Text 	 "7.tab键可以查看战场信息，~键可以选中切换附近的敌方单位。/n"
}
	Content 	 {
 	 Color 	 [ 255 255 255 255 ]
 	 DrawMode 	 "TEXT"
 	 Text 	 "8.Ctrl+数字编号可以对自己的单位进行编队。/n"
}
	Content 	 {
 	 Color 	 [ 255 255 255 255 ]
 	 DrawMode 	 "TEXT"
 	 Text 	 "9.左键点击其他单位可以查看他们的属性信息。/n"
}
	Content 	 {
 	 Color 	 [ 255 255 255 255 ]
 	 DrawMode 	 "TEXT"
 	 Text 	 "10.警戒【H】保持在原地且自动攻击在攻击范围内的敌方单位。/n"
}
	Content 	 {
 	 Color 	 [ 255 255 255 255 ]
 	 DrawMode 	 "TEXT"
 	 Text 	 "11.拾取宝箱快捷键为F。/n"
}
	Content 	 {
 	 Color 	 [ 255 255 255 255 ]
 	 DrawMode 	 "TEXT"
 	 Text 	 "12.默认数字“1”键选中己方三个单位。/n"
}
	Content 	 {
 	 Color 	 [ 255 255 255 255 ]
 	 DrawMode 	 "TEXT"
 	 Text 	 "13.ESC键可以调出系统控制界面。/n"
}
}