# Creature3D Script Parser v1.0

Data {
    Class "Camera"
	Handle {
        MsgParam "WCH_UPDATEVISITOR"
		MsgParam "NULL"
		Driver {
			Class "NodeMoreSlot"
			Method {
				Class "ExcEventContainer"
				Param "WCH_MSGCONTAINER"//WCH_MSGCONTAINER
				Param "WCH_KEYBOARDMOUSE"//WCH_KEYBOARDMOUSE
			}
			xMethod {
				Class "JXJCameraMoveUpdate"
				Param "20"
				Param "0,50,50,0"
			}
			Method {
				Class "NodeUpdate"
			}
			Method {
				Class "JXJUIManiorRttRuntime"
				Param "NULL"
				Param "512,512"
				Param "0.1"
				Param "1.5,1.5"
				Param "10.0"
			}
			Logic {
				Class "JXJSunSimulate"
				Param "SunSimulate.crb"
				Param "60"
				Param "4"
				Method {
					Class "JXJSetNightLight"
					Param "NewEffect17"
				}
				Method {
					Class "JXJUIRotateClock"
					Param "Time"
					Param "UI_ManorStair_Time"
					Param "Time_Input"
				}
			}
		}
	}
	Handle {
		MsgParam "WCH_UPDATE"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "RunFrequencyControl"
				Param "0.2"
			}
			Method {
				Class "JXJUINewGuideCheck"
			}
			Method {
				Class "JXJUINewFunctionOpenCheck"
			}
			Method {
				Class "RunFrequencyControl"
				Param "1.0"
			}
			Method {
				Class "ShowEnginStats"
				Param "150,180"
			}
			Method {
				Class "JXJAddFriendRequestUpdate"
				Param "UI_Beta2_Friend_prompt1"
				Param "UI_Beta2_Friend_prompt1_Input2"
				Param "UI_Beta2_Friend_prompt1_Input3"
				Param "UI_Beta2_Friend_prompt1_Drag"
				Param "UI_ManorStair_RenWu"
				Param "AddFriend_Widget"
				Param "AddFriend_DongHua"
				Param "sw_Haoyou"
			}
			Method {
				Class "JXJSetBuildingFlagVisiable"
				Param "36"
				Param "38"
				Param "37"
				Param "39"	
			}			
			Method {
				Class "RunFrequencyControl"
				Param "2.0"
			}
			Method {
				Class  "JXJFrameLowDetect"
				Param "10"
				Param "15"
				Param "UI_Prompt"
				Param "UI_Prompt_Input"
			}
		}
	}
	Handle {
		MsgParam "WCH_OK"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJFrameLowSetting"
			}
			Method {
				Class "StopAllSceneFx"
			}
		}
	}
	Handle {
		MsgParam "WCH_CANCEL"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJFrameDetectEnable"
				Param "0"
			}
		}
	}
	Handle {
		MsgParam "WCH_MSGCONTAINER"
		MsgParam "WCH_KEYBOARDMOUSE"
		Driver {
			Class "MoreSlot"
			xMethod {
				Class "SelectRolesEvent"
			}
			Method {
				Class "BaseEventContainer"
			}
		}
	}
	Handle {
		MsgParam16 "NULL"
		MsgParam16 "SCROLLUP"
		Driver {
			Class "OneSlot"
			Method {
				Class  "JXJCameraScroll"
				Param "400.0"
				Param "20"
				Param "0"
			}
		}
	}
	Handle {
		MsgParam16 "NULL"
		MsgParam16 "SCROLLDOWN"
		Driver {
			Class "OneSlot"
			Method {
				Class  "JXJCameraScroll"
				Param "-400.0"
				Param "-20"
				Param "0"
			}
		}
	}
	Handle {
		MsgParam16 "NULL"
		MsgParam16 "MOUSEMOVE"
		Driver {
			Class "MoreSlot"
			Method {
				Class "MouseFrequencyControl"
				Param "0.05"
			}
			Logic {
				Class "JXJMouseMove"
				Method {
					Class  "NetPickTarget"
				}
			}
		}
	} 
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "OneSlot"
			Logic {
				Class "JXJMousePick"
				Method {
					Class  "NetPickTarget"
				}
			}
		}
	}
	Handle {
        MsgParam16 "KEY_Escape"
		MsgParam16 "KEYDOWN"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJWidgetDoEvent"
				Param "UI_Sweep"
				Param "UI_Sweep_Close"
				Param "1"//LEFT_MOUSE_BUTTON
				Param "2"//MOUSERELEASE
			}
			Logic {
				Class "IF_ELSE"
				Method {
					Class "JXJAllSelectCanvasOpenInfo"
					Param "UI_Knapsack"
					Param "UI_ZhuangBei_Tips"
					Param "UI_Shuxing_Tips"
					Param "UI_Beta2_Formation"
					Param "UI_Barracks"
					Param "UI_Depository"
					Param "UI_AncientHouse"
					Param "UI_AncientHouse_GovernmentPost"
					Param "UI_Fuya_Keji"
					Param "UI_AncientHouse_Revenue"//10
					Param "UI_FuBen"
					Param "UI_Gongfang"
					Param "UI_Beta2_Friend"
					Param "UI_Beta2_Friend_Other"
					Param "UI_Beta2_Friend_prompt4"
					Param "UI_Beta2_Friend_AddFriend"
					Param "UI_Beta2_Friend_prompt1"
					Param "UI_Card"
					Param "UI_Jk"
					Param "UI_Beta2_CardSystem_Sjcg"
					Param "UI_Prompt_Sell"
					Param "UI_Tavern"
					Param "UI_Beta2_FeudalLord"
					Param "UI_Beta3_Task"
					Param "UI_Market"
					Param "UI_Appoint"
					Param "UI_System"
					Param "UI_Show"//10
					Param "UI_Beta2_Mail"
					Param "UI_TerritoryBuilding"
					Param "UI_Beta2_Knapsack_Czan"
					Param "UI_Beta2_Knapsack_Huigou"
					Param "UI_Country"
					Param "UI_Corps1"
					Param "UI_Corps_GreatGroup"
					Param "UI_Corps_GroupInfo"
					Param "UI_Corps_MakeOver"
					Param "UI_System_Mouse"
					Param "UI_Beta3_ManorStair_Zxjl"
					Param "UI_Version"
					Param "UI_ArmyAdviser"
					Param "UI_Billboard"
					Param "UI_Sweep_OpenNew"
					Param "UI_Sweep"
					Param "UI_Achievement"
					Param "UI_Prompt"
					Param "UI_MessageBox"
					Param "UI_Prompt1"
					Param "UI_System_Sound"
					Param "UI_System_ConsumerTips"
					Param "UI_Corps"
					Param "UI_Event_7Day"
					Param "UI_Country1"
					Param "UI_LogReward"
					Param "UI_CorpsRebuild"
					Param "UI_Treason_Country"
					Param "UI_Panguo_Tishi"
					Param "UI_Xiaoguanjia"
					Param "UI_Qiridenglu"
					Param "UI_Shouchong"
					Param "UI_Yueka"
					Param "UI_ChongZhiZiXuanLiBao"
					Param "UI_Leijichongzhi"
					Param "UI_Danbichongzhi"
					Param "UI_Leijixiaofei"
					Param "UI_Xiaozhouka"
					Param "UI_Jianguo"
					Param "UI_Country3_Toupiaojieguo"
					Param "UI_Country3_Piaoshu"
					Param "UI_Youxibaodian"
					Param "UI_ZhengzhanShop"
					Param "UI_Qiridenglu"
					Param "UI_HuangZuanTeQuan"
					Param "UI_Treason_Tishi"
					Param "UI_ShenQi"
					Param "UI_ShenQi_JingYanDan"
				}
				Logic {
					Class "ProxyArray"
					Method {
						Class "JXJCloseAllSelectCanvas"
						Param "UI_Knapsack"
						Param "UI_ZhuangBei_Tips"
						Param "UI_Shuxing_Tips"
						Param "UI_Beta2_Formation"
						Param "UI_Barracks"
						Param "UI_Depository"
						Param "UI_AncientHouse"
						Param "UI_AncientHouse_GovernmentPost"
						Param "UI_Fuya_Keji"
						Param "UI_AncientHouse_Revenue"//10
						Param "UI_FuBen"
						Param "UI_Gongfang"
						Param "UI_Beta2_Friend"
						Param "UI_Beta2_Friend_Other"
						Param "UI_Beta2_Friend_prompt4"
						Param "UI_Beta2_Friend_AddFriend"
						Param "UI_Beta2_Friend_prompt1"
						Param "UI_Card"
						Param "UI_Jk"
						Param "UI_Beta2_CardSystem_Sjcg"
						Param "UI_Prompt_Sell"
						Param "UI_Tavern"
						Param "UI_Beta2_FeudalLord"
						Param "UI_Beta3_Task"
						Param "UI_Market"
						Param "UI_Appoint"
						Param "UI_System"
						Param "UI_Show"//10
						Param "UI_Beta2_Mail"
						Param "UI_TerritoryBuilding"
						Param "UI_Beta2_Knapsack_Czan"
						Param "UI_Beta2_Knapsack_Huigou"
						Param "UI_Country"
						Param "UI_Corps1"
						Param "UI_Corps_GreatGroup"
						Param "UI_Corps_GroupInfo"
						Param "UI_Corps_MakeOver"
						Param "UI_System_Mouse"
						Param "UI_Beta3_ManorStair_Zxjl"
						Param "UI_Version"
						Param "UI_ArmyAdviser"
						Param "UI_Billboard"
						Param "UI_Sweep_OpenNew"
						Param "UI_Sweep"
						Param "UI_Achievement"
						Param "UI_Prompt"
						Param "UI_MessageBox"
						Param "UI_Prompt1"
						Param "UI_System_Sound"
						Param "UI_System_ConsumerTips"
						Param "UI_Corps"
						Param "UI_Event_7Day"
						Param "UI_Country1"
						Param "UI_LogReward"
						Param "UI_CorpsRebuild"
						Param "UI_Treason_Country"
						Param "UI_Panguo_Tishi"
						Param "UI_Xiaoguanjia"
						Param "UI_Qiridenglu"
						Param "UI_Shouchong"
						Param "UI_Yueka"
						Param "UI_ChongZhiZiXuanLiBao"
						Param "UI_Leijichongzhi"
						Param "UI_Danbichongzhi"
						Param "UI_Leijixiaofei"
						Param "UI_Xiaozhouka"
						Param "UI_Jianguo"
						Param "UI_Country3_Toupiaojieguo"
						Param "UI_Country3_Piaoshu"
						Param "UI_Youxibaodian"
						Param "UI_ZhengzhanShop"
						Param "UI_Qiridenglu"
						Param "UI_HuangZuanTeQuan"
						Param "UI_Treason_Tishi"
						Param "UI_ShenQi"
						Param "UI_ShenQi_JingYanDan"
					}
				}
				Logic {
					Class "ProxyArray"
					Method {
						Class "ShowCanvas"
						Param "UI_System"
						Param "2"
					}
				}
			}
		}
    }
	xHandle {
        MsgParam16 "KEY_Left"
		MsgParam16 "KEYDOWN"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJCameraRot"
				Param "20.0"
			}
		}
    }
	xHandle {
        MsgParam16 "KEY_Right"
		MsgParam16 "KEYDOWN"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJCameraRot"
				Param "-20.0"
			}
		}
    }
	Handle {
        MsgParam16 "98"//背包b
		MsgParam16 "KEYDOWN"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJWidgetDoEvent"
				Param "UI_ManorStair_Taskbar"
				Param "BeiBao"
				Param "1"//LEFT_MOUSE_BUTTON
				Param "2"//MOUSERELEASE
			}
		}
    }
	Handle {
        MsgParam16 "66"//背包B
		MsgParam16 "KEYDOWN"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJWidgetDoEvent"
				Param "UI_ManorStair_Taskbar"
				Param "BeiBao"
				Param "1"//LEFT_MOUSE_BUTTON
				Param "2"//MOUSERELEASE
			}
		}
    }
	Handle {
        MsgParam16 "118"//神器v
		MsgParam16 "KEYDOWN"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJWidgetDoEvent"
				Param "UI_ManorStair_Taskbar"
				Param "ShenQi"
				Param "1"//LEFT_MOUSE_BUTTON
				Param "2"//MOUSERELEASE
			}
		}
    }
	Handle {
        MsgParam16 "86"//神器V
		MsgParam16 "KEYDOWN"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJWidgetDoEvent"
				Param "UI_ManorStair_Taskbar"
				Param "ShenQi"
				Param "1"//LEFT_MOUSE_BUTTON
				Param "2"//MOUSERELEASE
			}
		}
    }
	Handle {
        MsgParam16 "99"//领主c
		MsgParam16 "KEYDOWN"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJWidgetDoEvent"
				Param "UI_ManorStair_Taskbar"
				Param "Lingzhu"
				Param "1"//LEFT_MOUSE_BUTTON
				Param "2"//MOUSERELEASE
			}
		}
    }
	Handle {
        MsgParam16 "67"//领主C
		MsgParam16 "KEYDOWN"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJWidgetDoEvent"
				Param "UI_ManorStair_Taskbar"
				Param "Lingzhu"
				Param "1"//LEFT_MOUSE_BUTTON
				Param "2"//MOUSERELEASE
			}
		}
    }
	Handle {
        MsgParam16 "107"//军团k
		MsgParam16 "KEYDOWN"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJWidgetDoEvent"
				Param "UI_ManorStair_Taskbar"
				Param "JunTuan"
				Param "1"//LEFT_MOUSE_BUTTON
				Param "2"//MOUSERELEASE
			}
		}
    }
	Handle {
        MsgParam16 "75"//军团K
		MsgParam16 "KEYDOWN"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJWidgetDoEvent"
				Param "UI_ManorStair_Taskbar"
				Param "JunTuan"
				Param "1"//LEFT_MOUSE_BUTTON
				Param "2"//MOUSERELEASE
			}
		}
    }
	Handle {
        MsgParam16 "111"//好友o
		MsgParam16 "KEYDOWN"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJWidgetDoEvent"
				Param "UI_ManorStair_RenWu"
				Param "HaoYou"
				Param "1"//LEFT_MOUSE_BUTTON
				Param "2"//MOUSERELEASE
			}
		}
    }
	Handle {
        MsgParam16 "79"//好友O
		MsgParam16 "KEYDOWN"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJWidgetDoEvent"
				Param "UI_ManorStair_RenWu"
				Param "HaoYou"
				Param "1"//LEFT_MOUSE_BUTTON
				Param "2"//MOUSERELEASE
			}
		}
    }
	Handle {
        MsgParam16 "112"//将卡p
		MsgParam16 "KEYDOWN"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJWidgetDoEvent"
				Param "UI_ManorStair_Taskbar"
				Param "JiangKa"
				Param "1"//LEFT_MOUSE_BUTTON
				Param "2"//MOUSERELEASE
			}
		}
    }
	Handle {
        MsgParam16 "80"//将卡P
		MsgParam16 "KEYDOWN"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJWidgetDoEvent"
				Param "UI_ManorStair_Taskbar"
				Param "JiangKa"
				Param "1"//LEFT_MOUSE_BUTTON
				Param "2"//MOUSERELEASE
			}
		}
    }
	Handle {
        MsgParam16 "85"//国家U
		MsgParam16 "KEYDOWN"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJWidgetDoEvent"
				Param "UI_ManorStair_Taskbar"
				Param "GuoJia"
				Param "1"//LEFT_MOUSE_BUTTON
				Param "2"//MOUSERELEASE
			}
		}
    }
	Handle {
        MsgParam16 "117"//国家u
		MsgParam16 "KEYDOWN"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJWidgetDoEvent"
				Param "UI_ManorStair_Taskbar"
				Param "GuoJia"
				Param "1"//LEFT_MOUSE_BUTTON
				Param "2"//MOUSERELEASE
			}
		}
    }
	Handle {
        MsgParam16 "84"//科技T
		MsgParam16 "KEYDOWN"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJWidgetDoEvent"
				Param "UI_ManorStair_Taskbar"
				Param "KeJi"
				Param "1"//LEFT_MOUSE_BUTTON
				Param "2"//MOUSERELEASE
			}
		}
    }
	Handle {
        MsgParam16 "116"//科技t
		MsgParam16 "KEYDOWN"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJWidgetDoEvent"
				Param "UI_ManorStair_Taskbar"
				Param "KeJi"
				Param "1"//LEFT_MOUSE_BUTTON
				Param "2"//MOUSERELEASE
			}
		}
    }
	Handle {
        MsgParam16 "108"//任务l
		MsgParam16 "KEYDOWN"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJWidgetDoEvent"
				Param "UI_ManorStair_Taskbar"
				Param "ChengJiu"
				Param "1"//LEFT_MOUSE_BUTTON
				Param "2"//MOUSERELEASE
			}
		}
    }
	Handle {
        MsgParam16 "76"//任务L
		MsgParam16 "KEYDOWN"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJWidgetDoEvent"
				Param "UI_ManorStair_Taskbar"
				Param "ChengJiu"
				Param "1"//LEFT_MOUSE_BUTTON
				Param "2"//MOUSERELEASE
			}
		}
    }
	Handle {
        MsgParam16 "109"//国战m
		MsgParam16 "KEYDOWN"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJWidgetDoEvent"
				Param "UI_ManorStair_HuoDong"
				Param "ChengZhan"
				Param "1"//LEFT_MOUSE_BUTTON
				Param "2"//MOUSERELEASE
			}
		}
    }
	Handle {
        MsgParam16 "77"//国战M
		MsgParam16 "KEYDOWN"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJWidgetDoEvent"
				Param "UI_ManorStair_HuoDong"
				Param "ChengZhan"
				Param "1"//LEFT_MOUSE_BUTTON
				Param "2"//MOUSERELEASE
			}
		}
    }
	Handle {
        MsgParam16 "103"//编队g
		MsgParam16 "KEYDOWN"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJWidgetDoEvent"
				Param "UI_ManorStair_Taskbar"
				Param "BianDui"
				Param "1"//LEFT_MOUSE_BUTTON
				Param "2"//MOUSERELEASE
			}
		}
    }
	Handle {
        MsgParam16 "71"//编队G
		MsgParam16 "KEYDOWN"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJWidgetDoEvent"
				Param "UI_ManorStair_Taskbar"
				Param "BianDui"
				Param "1"//LEFT_MOUSE_BUTTON
				Param "2"//MOUSERELEASE
			}
		}
    }
	Handle {
        MsgParam16 "104"//出征h
		MsgParam16 "KEYDOWN"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJWidgetDoEvent"
				Param "UI_ManorStair_Taskbar"
				Param "UI_Fuben"
				Param "1"//LEFT_MOUSE_BUTTON
				Param "2"//MOUSERELEASE
			}
		}
    }
	Handle {
        MsgParam16 "72"//出征H
		MsgParam16 "KEYDOWN"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJWidgetDoEvent"
				Param "UI_ManorStair_Taskbar"
				Param "UI_Fuben"
				Param "1"//LEFT_MOUSE_BUTTON
				Param "2"//MOUSERELEASE
			}
		}
    }
	Handle {
        MsgParam16 "102"//兵营f
		MsgParam16 "KEYDOWN"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJTouchItem"
				Param "2"
			}
		}
    }
	Handle {
        MsgParam16 "70"//兵营F
		MsgParam16 "KEYDOWN"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJTouchItem"
				Param "2"
			}
		}
    }
	Handle {
        MsgParam16 "105"//府衙i
		MsgParam16 "KEYDOWN"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJTouchItem"
				Param "1"
			}
		}
    }
	Handle {
        MsgParam16 "73"//府衙I
		MsgParam16 "KEYDOWN"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJTouchItem"
				Param "1"
			}
		}
    }
	Handle {
        MsgParam16 "106"//酒肆j
		MsgParam16 "KEYDOWN"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJTouchItem"
				Param "3"
			}
		}
    }
	Handle {
        MsgParam16 "74"//酒肆J
		MsgParam16 "KEYDOWN"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJTouchItem"
				Param "3"
			}
		}
    }
	Handle {
        MsgParam16 "115"//市集s
		MsgParam16 "KEYDOWN"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJTouchItem"
				Param "5"
			}
		}
    }
	Handle {
        MsgParam16 "83"//市集S
		MsgParam16 "KEYDOWN"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJTouchItem"
				Param "5"
			}
		}
    }
	Handle {
        MsgParam16 "119"//委任w
		MsgParam16 "KEYDOWN"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJWidgetDoEvent"
				Param "UI_ManorStair_Taskbar"
				Param "NeiZheng"
				Param "1"//LEFT_MOUSE_BUTTON
				Param "2"//MOUSERELEASE
			}
		}
    }
	Handle {
        MsgParam16 "87"//委任W
		MsgParam16 "KEYDOWN"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJWidgetDoEvent"
				Param "UI_ManorStair_Taskbar"
				Param "NeiZheng"
				Param "1"//LEFT_MOUSE_BUTTON
				Param "2"//MOUSERELEASE
			}
		}
    }
	Handle {
		MsgParam16 "KEY_Return"
		MsgParam16 "KEYDOWN"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJChatInputGetFocus"
				Param "UI_ManorStair_LiaoTian"
				Param "LiaoTian"
			}
		}
	}
	Handle {
        MsgParam16 "KEY_Space"
		MsgParam16 "KEYDOWN"
		Driver {
			Class "MoreSlot"
			Method {
				Class "CanvasDoEvent"
				Param "UI_Xinshouyindao29"
				Param "LEFT_MOUSE_BUTTON"
				Param "MOUSERELEASE"
			}
			Method {
				Class "CanvasDoEvent"
				Param "UI_Xinshouyindao3"
				Param "LEFT_MOUSE_BUTTON"
				Param "MOUSERELEASE"
			}
		}
    }
}
