# Creature3D Script Parser v1.0  

    Text {
        Type "2D"
        Name "Rec"
        Font "arial.ttf"
        FontResolution [30, 30]
        CharacterSize 30
        Alignment "CENTER_CENTER"
        Color [0, 0, 0, 255]
        Position [-70, -30, 0.0]
        Data "Rec"
        Visiable 0
    }
    Text {
        Type "2D"
        Name "Notify"
        Font "simhei.ttf"
        FontResolution [30, 30]
        CharacterSize 30
        Alignment "CENTER_CENTER"
        Color [255, 255, 255, 255]
        BackdropType "OUTLINE"
        Position [0.010, 120, 0.0]
        Data ""
        Interval 3.0
        Visiable 1
    }
////////////////////////

    FilterNode {
        NodeName "Filter"
        Visiable 1
    }