# Creature3D Script Parser v1.0

    RenderToTexture {
        Name "ls1shadow"
        RenderToTextureMode "RenderToTexture|RenderDepthMap|RealTimeUpd|CalcMVPByEyePoint"
        xOutPutImageFileName "output\photos\ls1shadow.jpg"
        lightNameID "ls1"
        MapSize [4096, 2048]
        LowMapSize [2048, 1024]
        xCameraFov 20
        LightRange 3000.0
        ShadowRadius 26.0
        ShadowOffset 5.0
        UpdateInterval 0.0
        BlurSize 1.0
        RenderData "Static"
        RenderData "Dynamic"
    }
    xRenderToTexture {
        Name "ls2shadow"
        RenderToTextureMode "RenderToTexture|RenderDepthMap|RealTimeUpd|CalcMVPByEyePoint2"
        xOutPutImageFileName "output\photos\ls2shadow.jpg"
        lightNameID "ls1"
        MapSize [4096, 2048]
        LowMapSize [2048, 1024]
        xCameraFov 20
        LightRange 3000.0
        ShadowRadius 26.0
        ShadowOffset 5.0
        UpdateInterval 0.5
        BlurSize 1.0
        RenderData "Static"
    }
    RenderToTexture {
        Name "GITexture"
        RenderToTextureMode "RenderToTexture|RenderGIMap|RealTimeUpd|ExternMVP"
        xOutPutImageFileName "output\photos\GITexture.jpg"
		MapSize [512, 512]
        UpdateInterval 1.0
        BlurSize 1.0
        RenderData "Static"
    }