 # Creature3D Script Parser v1.0
 
 Data {
    Class "JXJMetier"
        
    Handle {
        MsgParam "WCH_GETTASK"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetTask"
			}
		}
    }
    Handle {
        MsgParam "WCH_ADVANCETASK"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJAdvanceTask"
			}
		}
    }
    Handle {
        MsgParam "WCH_REFERTASK"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJReferTask"
			}
		}
    }
    Handle {
        MsgParam "WCH_TASKAWARD"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJTaskAward"
			}
		}
    }
    Handle {
        MsgParam "WCH_USER+191"//WCH_RecvTaskAwardItem
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJRecvTaskAwardItem"
			}
		}
    }
    Handle {
		MsgParam "WCH_USER+114"//WCH_RecvGetTask
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJRecvGetTask"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+115"//WCH_RecvAdvanceTask
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJRecvAdvanceTask"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+116"//WCH_RecvReferTask
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJRecvReferTask"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+302"//WCH_IsTaskCanActive
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJIsTaskCanActive"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+303"//WCH_DisplayTaskGoal
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJDisplayTaskGoal"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+20096"//WCH_JXJRecvActiveTaskVec
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJRecvActiveTaskVec"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+335"//WCH_RecvResetTask
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJRecvResetTask"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+352"//WCH_RecvTaskProgress
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJRecvTaskProgress"
			}
		}
	}
}