# Creature3D Script Parser v1.0

Data {
    Class "Event"
	Handle {
		MsgParam "WCH_UPDATE"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJCheckTaskValueChange"
				Param "22691" // WCHDATA_JXJPlayerDeadCount                 
				Param "1"	// int
				Param "0"	// mainRoleData
			}
		}
	}
}