# Creature3D Script Parser v1.0

Data {
    Class "Event"
	Handle {
		MsgParam "WCH_UPDATE"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Logic {
				Class "Switch"
				Method {
					Class "JXJGetTaskProgress"
				}
				Logic {//case 0
					Class "IF_ELSE"
					Method {
						Class "JXJCheckTaskTempFormationInfo"  //编队第一排是长戟兵
						Param "UI_Beta2_Formation"
						Param "20007"
						Param "1"
					}
					Logic {
						Class "ProxyArray"
						Method {
							Class "ShowCanvas"
							Param "UI_Xinshouyindao14"
							Param "0"
						}
						Method {
							Class "JXJAutoAdvanceMe"
						}
					}
					Logic {
						Class "IF_ELSE"
						Method {
							Class "JXJCheckOpenCanvasInfo"
							Param "UI_Beta2_Formation"
							Param "1"
						}
						Logic {
							Class "ProxyArray"
							Method {
								Class "JXJFormationTaskPosition"
								Param "UI_Beta2_Formation"
								Param "UI_Beta2_Formation_BingZhong"
								Param "UI_Xinshouyindao14"                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
								Param "1"
								Param "3"                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
								Param "20007"
							}
							Logic {
								Class "IF_ELSE"
								Method {
									Class "JXJSkipNewHandInfo"
								}
								Logic {
									Class "ProxyArray"
									Method {
										Class "ShowCanvas"
										Param "UI_Xinshouyindao14"
										Param "3"
									}
								}
							}
						}
					}
				}
				Logic {//case 1
					Class "IF_ELSE"
					Method {
						Class "JXJCheckOpenCanvasInfo2"
						Param "UI_Beta2_Formation"                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
					}
					Logic {
						Class "IF_ELSE"
						Method {
							Class "JXJCheckTaskTempFormationInfo"  //编队第一排是长戟兵
							Param "UI_Beta2_Formation"
							Param "20007"
							Param "1"
						}
						Logic {
							Class "IF_ELSE"
							Method {
								Class "JXJSkipNewHandInfo"
							}
							Logic {
								Class "ProxyArray"
								Method {
									Class "JXJNewHandUIInit"
									Param "UI_Xinshouyindao5"
									Param "3"
									Param "UI_Beta2_Formation"
									Param "UI_Beta2_Formation_Mb"
								}
								Method {
									Class "ShowCanvas"
									Param "UI_Xinshouyindao5"
									Param "3"
								}
							}
						}
						Logic {
							Class "IF_ELSE"
							Method {
								Class "JXJCheckCloseCanvasInfo"
								Param "UI_Xinshouyindao5"
								Param "1"
							}
							Logic {
								Class "ProxyArray"
								Method {
									Class "JXJAutoAdvanceMe"
								}
							}
						}
					}
				}
				Logic {//case 2
					Class "IF_ELSE"
					Method {
						Class "JXJCheckFormationInfo"
						Param "20007"
						Param "1"
						Param "1"
						Param "1"
					}
					Logic {
						Class "ProxyArray"
						Method {
							Class "ShowCanvas"
							Param "UI_Xinshouyindao5"
							Param "0"
						}
						Method {
							Class "JXJAutoAdvanceMe"
						}
					}
					Logic {
						Class "IF_ELSE"
						Method {
							Class "JXJCheckOpenCanvasInfo2"
							Param "UI_Beta2_Formation"                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
						}
						Logic {
							Class "IF_ELSE"
							Method {
								Class "JXJCheckTaskTempFormationInfo"  //编队第一排是长戟兵
								Param "UI_Beta2_Formation"
								Param "20007"
								Param "1"
							}
							Logic {
								Class "IF_ELSE"
								Method {
									Class "JXJSkipNewHandInfo"
								}
								Logic {
									Class "ProxyArray"
									Method {
										Class "JXJNewHandUIInit"
										Param "UI_Xinshouyindao5"
										Param "3"
										Param "UI_Beta2_Formation"
										Param "UI_Beta2_Formation_Qx1"
									}
									Method {
										Class "ShowCanvas"
										Param "UI_Xinshouyindao5"
										Param "3"
									}
								}
							}
						}
					}
				}
				Logic {//case 3
					Class "IF_ELSE"
					Method {
						Class "JXJCheckFormationInfo"
						Param "20007"
						Param "1"
						Param "1"
						Param "1"
					}
					Logic {
						Class "ProxyArray"
						Method {
							Class "ShowCanvas"
							Param "UI_Xinshouyindao5"
							Param "0"
						}
						Method {
							Class "ShowCanvas"
							Param "UI_Xinshouyindao8"
							Param "0"
						}
						Method {
							Class "JXJArrowsUITypeSelect"
							Param "UI_ManorStair_RenWu"
							Param "0"
						}
						Method {
							Class "JXJUIGetRenWuReward"
							Param "UI_Prize"
							Param "Input1"
							Param "Input2"
							Param "Input3"
							Param "Input4"
							Param "sw5"
							Param "sw6"
							Param "3"
						}
					}
				}
			}
		}
	}
}