# Creature3D Script Parser v1.0

Data {
    Class "Event"
	Handle {
		MsgParam "WCH_UPDATE"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Logic {
				Class "Switch"
				Method {
					Class "JXJGetTaskProgress"
				}
				Logic {//case 0
					Class "IF_ELSE"
					Method {
						Class "JXJCheckOpenCanvasInfo"
						Param "UI_Tavern"
						Param "1"
					}
					Logic {
						Class "ProxyArray"
						Method {
							Class "JXJCheckCurrentCardCount" //当前将卡数量
							Param "UI_ManorStair_RenWu"
						}
						Logic {
							Class "IF_ELSE"
							Method {
								Class "JXJSkipNewHandInfo"
							}
							Logic {
								Class "ProxyArray"
								Method {
									Class "JXJNewHandUIInit"
									Param "UI_Xinshouyindao18"
									Param "17"
									Param "UI_Tavern"
									Param "UI_Zhitianming"
								}
								Method {
									Class "ShowCanvas"
									Param "UI_Xinshouyindao18"
									Param "3"
								}
							}
						}
						Method {
							Class "JXJBuildingTaskEffect"
							Param "3"//建筑模型id
							Param "0"
						}
						Method {
							Class "JXJAutoAdvanceMe"
						}
					}
				}
				Logic {//case 1
					Class "IF_ELSE"
					Method {
						Class "JXJCheckCloseCanvasInfo2"
						Param "UI_Xinshouyindao18"
					}
					Logic {
						Class "IF_ELSE"
						Method {
							Class "JXJCheckOpenCanvasInfo"
							Param "UI_Tavern"
							Param "1"
						}
						Logic {
							Class "ProxyArray"
							Method {
								Class "JXJBuildingTaskEffect"
								Param "3"//建筑模型id
								Param "0"
							}
							Logic {
								Class "IF_ELSE"
								Method {
									Class "JXJSkipNewHandInfo"
								}
								Logic {
									Class "ProxyArray"
									Method {
										Class "JXJNewHandUIInit"
										Param "UI_Xinshouyindao18"
										Param "17"
										Param "UI_Tavern"
										Param "UI_Zhitianming"
									}
									Method {
										Class "ShowCanvas"
										Param "UI_Xinshouyindao18"
										Param "3"
									}
								}
							}
							Method {
								Class "JXJAutoAdvanceMe"
							}
						}
					}
				}
				Logic {//case 2
					Class "IF_ELSE"
					Method {
						Class "JXJCheckOpenCanvasInfo2"
						Param "UI_Tavern"
					}
					Logic {
						Class "IF_ELSE"
						Method {
							Class "JXJCheckExtractJiangKaInfo"
							Param "UI_ManorStair_RenWu"
							Param "1"
						}
						Logic {
							Class "ProxyArray"
							Method {
								Class "ShowCanvas"
								Param "UI_Xinshouyindao18"
								Param "0"
							}
							Method {
								Class "JXJBuildingTaskEffect"
								Param "3"//建筑模型id
								Param "0"
							}
							Logic {
								Class "IF_ELSE"
								Method {
									Class "JXJSkipNewHandInfo"
								}
								Logic {
									Class "ProxyArray"
									Method {
										Class "JXJNewHandUIInit"
										Param "UI_Xinshouyindao5"
										Param "17"
										Param "UI_Tavern"
										Param "UI_Tavern_Close"
									}
									Method {
										Class "ShowCanvas"
										Param "UI_Xinshouyindao5"
										Param "3"
									}
								}
							}
							Method {
								Class "JXJAutoAdvanceMe"
							}
						}
					}
				}
				Logic {//case 3
					Class "IF_ELSE"
					Method {
						Class "JXJCheckCloseCanvasInfo"
						Param "UI_Tavern"
						Param "1"
					}
					Logic {
						Class "ProxyArray"
						Method {
							Class "JXJBuildingTaskEffect"
							Param "3"//建筑模型id
							Param "0"
						}
						Method {
							Class "JXJAutoAdvanceMe"
						}
					}
				}
				Logic {//case 4
					Class "IF_ELSE"
					Method {
						Class "JXJCheckExtractJiangKaInfo"
						Param "UI_ManorStair_RenWu"
						Param "1"
					}
					Logic {
						Class "ProxyArray"
						Method {
							Class "JXJBuildingTaskEffect"
							Param "3"//建筑模型id
							Param "0"
						}
						Method {
							Class "JXJArrowsUITypeSelect"
							Param "UI_ManorStair_RenWu"
							Param "0"
						}
						Method {
							Class "JXJUIGetRenWuReward"
							Param "UI_Prize"
							Param "Input1"
							Param "Input2"
							Param "Input3"
							Param "Input4"
							Param "sw5"
							Param "sw6"
							Param "17"
						}
					}
				}
			}
		}
	}
}