# Creature3D Script Parser v1.0

Data {
    Class "Event"
	Handle {
		MsgParam "WCH_UPDATE"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Logic {
				Class "Switch"
				Method {
					Class "JXJGetTaskProgress"
				}
				Logic {//case 0
					Class "IF_ELSE"
					Method {
						Class "JXJCheckTaskFuBenSuccessInfo"
						Param "2"
						Param "1"
					}
					Logic {
						Class "ProxyArray"
						Method {
							Class "JXJAutoAdvanceMe"
						}
					}
				}
				Logic {//case 1
					Class "IF_ELSE"
					Method {
						Class "JXJCheckTaskFuBenSuccessInfo"
						Param "2"
						Param "1"
					}
					Logic {
						Class "ProxyArray"
						Method {
							Class "JXJArrowsUITypeSelect"
							Param "UI_ManorStair_RenWu"
							Param "0"
						}
						Method {
							Class "JXJUIGetRenWuReward"
							Param "UI_Prize"
							Param "Input1"
							Param "Input2"
							Param "Input3"
							Param "Input4"
							Param "sw5"
							Param "sw6"
							Param "35"
						}
					}
				}
			}
		}
	}
}