# Creature3D Script Parser v1.0

Data {
    Class "Event"
	Handle {
		MsgParam "WCH_UPDATE"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Logic {
				Class "Switch"
				Method {
					Class "JXJGetTaskProgress"
				}
				Logic {//case 0
					Class "IF_ELSE"
					Method {
						Class "JXJCheckOpenCanvasInfo2"
						Param "UI_Knapsack"
					}
					Logic {
						Class "ProxyArray"
						Method {
							Class "JXJAutoAdvanceMe"
						}
					}
				}
				Logic {//case 1
					Class "ProxyArray"
					Method {
						Class "JXJAutoCompensationTask"
					}
				}
			}
		}
	}
}