# Creature3D Script Parser v1.0

Data {
    Class "Event"
	Handle {
		MsgParam "WCH_UPDATE"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Logic {
				Class "Switch"
				Method {
					Class "JXJGetTaskProgress"
				}
				Logic {//case 0
					Class "IF_ELSE"
					Method {
						Class "JXJCheckGameDalyTask"
						Param "1"
						Param "5000"
					}
					Logic {
						Class "ProxyArray"
						Method {
							Class "JXJAutoAdvanceMe"
						}
					}
				}
				xLogic {//case 1
					Class "IF_ELSE"
					Method {
						Class "JXJCheckGameMainLineTask"
						Param "1"
					}
					Logic {
						Class "ProxyArray"
						Method {
							Class "JXJUIGetRenWuReward"
							Param "UI_Prize_2"
							Param "Input1_1"
							Param "Input2_1"
							Param "Input3_1"
							Param "Input4_1"
							Param "sw13_1"
							Param "sw14_1"
						}
					}
				}
			}
		}
	}
}