# Creature3D Script Parser v1.0

Data {
    Class "Event"
	Handle {
		MsgParam "WCH_UPDATE"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Logic {
				Class "Switch"
				Method {
					Class "JXJGetTaskProgress"
				}
				Logic {//case 0
					Class "IF_ELSE"
					Method {
						Class "JXJCheckOpenCanvasInfo2"
						Param "UI_Knapsack"
					}
					Logic {
						Class "ProxyArray"
						Method {
							Class "ShowCanvas"
							Param "UI_Xinshouyindao8"
							Param "0"
						}
						Method {
							Class "JXJAutoAdvanceMe"
						}
					}
				}
				Logic {//case 1
					Class "IF_ELSE"
					Method {
						Class "JXJCheckOpenCanvasInfo2"
						Param "UI_Knapsack"
					}
					Logic {
						Class "IF_ELSE"
						Method {
							Class "JXJCheckCurrentResourcesCardCount"
							Param "UI_Knapsack"
							Param "GameList_2"
							Param "UI_Xinshouyindao23"
							Param "1"
							Param "50"
							Param "7740"
						}
						Logic {
							Class "ProxyArray"
							Method {
								Class "ShowCanvas"
								Param "UI_Xinshouyindao23"
								Param "3"
							}
							Method {
								Class "ShowCanvas"
								Param "UI_Xinshouyindao8"
								Param "0"
							}
							Method {
								Class "JXJAutoAdvanceMe"
							}
						}
					}
					Logic {
						Class "IF_ELSE"
						Method {
							Class "JXJCheckResourcesCardCountInfo"
							Param "1"
							Param "7740"
							Param "1"
						}
						Logic {
							Class "ProxyArray"
							Method {
								Class "ShowCanvas"
								Param "UI_Xinshouyindao23"
								Param "0"
							}
							Method {
								Class "ShowCanvas"
								Param "UI_Xinshouyindao8"
								Param "0"
							}
							Method {
								Class "JXJAutoAdvanceMe"
							}
						}
					}
				}
				Logic {//case 2
					Class "IF_ELSE"
					Method {
						Class "JXJCheckResourcesCardCountInfo"
						Param "1"
						Param "7740"
						Param "1"
					}
					Logic {
						Class "ProxyArray"
						Method {
							Class "ShowCanvas"
							Param "UI_Xinshouyindao23"
							Param "0"
						}
						Method {
							Class "ShowCanvas"
							Param "UI_Xinshouyindao8"
							Param "0"
						}
						Method {
							Class "JXJAutoAdvanceMe"
						}
					}
				}
				Logic {//case 3
					Class "IF_ELSE"
					Method {
						Class "JXJCheckResourcesCardCountInfo"
						Param "1"
						Param "7740"
						Param "1"
					}
					Logic {
						Class "ProxyArray"
						Method {
							Class "ShowCanvas"
							Param "UI_Knapsack"
							Param "0"
						}
						Method {
							Class "ShowCanvas"
							Param "UI_Xinshouyindao8"
							Param "0"
						}
						Method {
							Class "JXJUIGetRenWuReward"
							Param "UI_Prize"
							Param "Input1"
							Param "Input2"
							Param "Input3"
							Param "Input4"
							Param "sw5"
							Param "sw6"
							Param "50"
						}
					}
				}
			}
		}
	}
}