# Creature3D Script Parser v1.0

Data {
    Class "Event"
	Handle {
		MsgParam "WCH_UPDATE"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Logic {
				Class "Switch"
				Method {
					Class "JXJGetTaskProgress"
				}
				Logic {//case 0
					Class "IF_ELSE"
					Method {
						Class "JXJCheckTaskResourceCount"
						Param "UI_ManorStair_JueSe"
						Param "300"
						Param "2"
						Param "1"
					}
					Logic {
						Class "ProxyArray"
						Method {
							Class "ShowCanvas"
							Param "UI_TerritoryBuilding"
							Param "0"
						}
						Method {
							Class "JXJBuildingTaskEffect"
							Param "27"//建筑模型id
							Param "0"
						}
						Method {
							Class "JXJBuildingTaskEffect"
							Param "28"//建筑模型id
							Param "0"
						}
						Method {
							Class "JXJAutoAdvanceMe"
						}
					}
					Logic {
						Class "IF_ELSE"
						Method {
							Class "JXJCheckOpenCanvasInfo"
							Param "UI_TerritoryBuilding"
							Param "1"
						}
						Logic {
							Class "ProxyArray"
							Method {
								Class "JXJNewHandUIInit"
								Param "UI_Xinshouyindao5"
								Param "36"
								Param "UI_TerritoryBuilding"
								Param "UI_TerritoryBuilding_Yjsm"
							}
							Method {
								Class "ShowCanvas"
								Param "UI_Xinshouyindao5"
								Param "1"
							}
						}
					}
				}
				Logic {//case 1
					Class "IF_ELSE"
					Method {
						Class "JXJCheckTaskResourceCount"
						Param "UI_ManorStair_JueSe"
						Param "300"
						Param "2"
						Param "1"
					}
					Logic {
						Class "ProxyArray"
						Method {
							Class "ShowCanvas"
							Param "UI_Xinshouyindao5"
							Param "0"
						}
						Method {
							Class "JXJBuildingTaskEffect"
							Param "27"//建筑模型id
							Param "0"
						}
						Method {
							Class "JXJBuildingTaskEffect"
							Param "28"//建筑模型id
							Param "0"
						}
						Method {
							Class "JXJUIGetRenWuReward"
							Param "UI_Prize"
							Param "Input1"
							Param "Input2"
							Param "Input3"
							Param "Input4"
							Param "sw5"
							Param "sw6"
							Param "36"
						}
					}
				}
			}
		}
	}
}
