# Creature3D Script Parser v1.0

Data {
    Class "Event"
	Handle {
		MsgParam "WCH_UPDATE"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Logic {
				Class "Switch"
				Method {
					Class "JXJGetTaskProgress"
				}
				Logic {//case 0
					Class "IF_ELSE"
					Method {
						Class "JXJCheckPutOnEquipInfo"
						Param "UI_Beta2_FeudalLord"
						Param "1"
					}
					Logic {
						Class "ProxyArray"
						Method {
							Class "ShowCanvas"
							Param "UI_Xinshouyindao8"
							Param "0"
						}
						Method {
							Class "ShowCanvas"
							Param "UI_Knapsack"
							Param "0"
						}
						Method {
							Class "JXJAutoAdvanceMe"
						}
					}
					Logic {
						Class "IF_ELSE"
						Method {
							Class "JXJCheckOpenCanvasInfo2"
							Param "UI_Knapsack"
						}
						Logic {
							Class "IF_ELSE"
							Method {
								Class "JXJUINewHandKnapsackEquipClick"
								Param "UI_Knapsack"
								Param "GameList_2"
								Param "UI_Xinshouyindao23"
								Param "UI_ManorStair_RenWu"
								Param "1"
								Param "28"                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
								Param "2049"
							}
							Logic {
								Class "ProxyArray"
								Method {
									Class "ShowCanvas"
									Param "UI_Xinshouyindao23"
									Param "3"
								}
								Method {
									Class "ShowCanvas"
									Param "UI_Xinshouyindao8"
									Param "0"
								}
							}
						}
					}
				}
				Logic {//case 1
					Class "IF_ELSE"
					Method {
						Class "JXJCheckPutOnEquipInfo"
						Param "UI_Beta2_FeudalLord"
						Param "1"
					}
					Logic {
						Class "ProxyArray"
						Method {
							Class "ShowCanvas"
							Param "UI_Beta2_FeudalLord"
							Param "0"
						}
						Method {
							Class "ShowCanvas"
							Param "UI_Xinshouyindao8"
							Param "0"
						}
						Method {
							Class "JXJArrowsUITypeSelect"
							Param "UI_ManorStair_RenWu"
							Param "0"
						}
						Method {
							Class "JXJUIGetRenWuReward"
							Param "UI_Prize"
							Param "Input1"
							Param "Input2"
							Param "Input3"
							Param "Input4"
							Param "sw5"
							Param "sw6"
							Param "28"
						}
					}
				}
			}
		}
	}
}