# Creature3D Script Parser v1.0

Data {
    Class "Event"
	Handle {
		MsgParam "WCH_UPDATE"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Logic {
				Class "Switch"
				Method {
					Class "JXJGetTaskProgress"
				}
				Logic {//case 0
					Class "IF_ELSE"
					Method {
						Class "JXJCheckOpenCanvasInfo"
						Param "UI_Beta2_Formation"
						Param "1"
					}
					Logic {
						Class "IF_ELSE"
						Method {
							Class "JXJCheckPutOnJiangKaTask"
							Param "UI_Beta2_Formation"
						}
						Logic {
							Class "ProxyArray"
							Method {
								Class "ShowCanvas"
								Param "UI_Xinshouyindao8"
								Param "0"
							}
							Method {
								Class "JXJNewHandUIInit"
								Param "UI_Xinshouyindao10"
								Param "34"
								Param "UI_Beta2_Formation"
								Param "UI_Beta2_Formation_Jkxz2"
							}
							Method {
								Class "ShowCanvas"
								Param "UI_Xinshouyindao10"
								Param "3"
							}
						}
					}
					Logic {
						Class "IF_ELSE"
						Method {
							Class "JXJCheckFormationCeKaInfo"
							Param "UI_Beta2_Formation"
							Param "1"
						}
						Logic {
							Class "ProxyArray"
							Method {
								Class "ShowCanvas"
								Param "UI_Xinshouyindao10"
								Param "0"
							}
							Method {
								Class "ShowCanvas"
								Param "UI_Jk"
								Param "0"
							}
							Method {
								Class "JXJAutoAdvanceMe"
							}
						}
					}
				}
				Logic {//case 1
					Class "IF_ELSE"
					Method {
						Class "JXJCheckFormationCeKaInfo"
						Param "UI_Beta2_Formation"
						Param "1"
					}
					Logic {
						Class "ProxyArray"
						Method {
							Class "ShowCanvas"
							Param "UI_Xinshouyindao8"
							Param "0"
						}
						Method {
							Class "JXJUIGetRenWuReward"
							Param "UI_Prize"
							Param "Input1"
							Param "Input2"
							Param "Input3"
							Param "Input4"
							Param "sw5"
							Param "sw6"
							Param "34"
						}
						xMethod {
							Class "JXJAutoReferMe"
						}
					}
				}
			}
		}
	}
}