# Creature3D Script Parser v1.0
Hypertext {
    DrawMode "TEXT"
    LineSpacing 1.0
    UnderLineSpacing 3.0
	Font "simhei.ttf"
	CharacterSize 13
	FrontSize [13 13]
	Alignment "BASE_LINE"
	Color [255 255 255 255]
	Content {
		Text "  "
	}
	Content {
		DrawMode "TEXT|UNDERLINE"
		Color [255 255 0 255]
		Text "»÷ÆÆÕþÌü\n"
		Link 44
	}
}
Data {
	Class "UI"
	Class "UI"
	Handle {
		MsgParam "LBtnDown"
		MsgParam "44"
		Driver {
            Class "MoreSlot"
			Method {
				Class "JXJArrowsUITypeSelect"
				Param "UI_ManorStair_RenWu"
				Param "0"
			}
			Method {
				Class "JXJNewhandSetfubenid"
				Param "44"
			}
			Method {
				Class "JXJUIFubenClick"
				Param "UI_Fuben_Tips"
				Param "UI_input_jinrufuben"
			}
			xMethod {
				Class "JXJReferTask"
				Param "44"
			}
		}
	}
}