# Creature3D Script Parser v1.0
Hypertext {
    DrawMode "TEXT"
    LineSpacing 1.0
    UnderLineSpacing 3.0
        Font "simhei.ttf"
        CharacterSize 13
        FrontSize [13 13]
        Alignment "BASE_LINE"
        Color [255 255 255 255]
        Content {
        Text "  "
    }
    Content {
        DrawMode "TEXT|UNDERLINE"
        Color [255 255 0 255]
        Text "国战积分达到500"
        Link 22004
    }
}


Data {
    Class "UI"
    Handle {
        MsgParam "LBtnDown"
        MsgParam "22004"
		Driver {
			Class "MoreSlot"
			Logic {
				Class "IF_ELSE"
				Method {
					Class "JXJIsChengZhan"
				}
				Method {
					Class "JXJWidgetDoEvent"
					Param "UI_ManorStair_HuoDong"
					Param "ChengZhan"
					Param "1"//LEFT_MOUSE_BUTTON
					Param "2"//MOUSERELEASE
				}
				Method {
					Class "JXJWidgetDoEvent"
					Param "UI_ManorStair_HuoDong"
					Param "Jianguo"
					Param "1"//LEFT_MOUSE_BUTTON
					Param "2"//MOUSERELEASE
				}
			}
		}
    }
}
