# Creature3D Script Parser v1.0
//ÈÎÎñ:°´Í¼Ë÷æ÷
Hypertext {
    DrawMode "TEXT"
    LineSpacing 1.0
    UnderLineSpacing 3.0
	Font "simhei.ttf"
	CharacterSize 16
	FontSize [16 16]
	Alignment "BASE_LINE"
	Color [255 255 255 255]
	Content {
		Text "    É¨µ´½úÑô¡£"
	}
}