# Creature3D Script Parser v1.0

Hypertext {
    DrawMode "TEXT"
    LineSpacing 1.0
    UnderLineSpacing 3.0
        Font "simhei.ttf"
        CharacterSize 13
        FrontSize [13 13]
        Alignment "BASE_LINE"
        Color [255 255 255 255]
        Content {
        Text "  "
    }
    Content {
        DrawMode "TEXT|UNDERLINE"
        Color [255 255 0 255]
        Text "¶Ô¼»½øÐÐÉ¨µ´"
        Link 20050
        }
}

Data {
    Class "UI"
    Handle {
        MsgParam "LBtnDown"
        MsgParam "20050"
        Driver {
            Class "MoreSlot"
            Method {
                    Class "JXJUISaoDangRenWuReward"
                    Param "UI_Prize_2"
                    Param "Input1_1"
                    Param "Input2_1"
                    Param "Input3_1"
                    Param "Input4_1"
                    Param "sw13_1"
                    Param "sw14_1"
                    Param "20050"
            }
        }
    }
}
