# Creature3D Script Parser v1.0
Hypertext {
    DrawMode "TEXT"
    LineSpacing 1.0
    UnderLineSpacing 3.0
	Font "simhei.ttf"
	CharacterSize 13
	FrontSize [13 13]
	Alignment "BASE_LINE"
	Color [255 255 255 255]
	Content {
		Text "  "
	}
	Content {
		DrawMode "TEXT|UNDERLINE"
		Color [255 255 0 255]
		Text "升级一次将卡\n"
		Link 13
	}
}
Data {
	Class "UI"
	Handle {
		MsgParam "LBtnDown"
		MsgParam "13"
		Driver {
            Class "MoreSlot"
			Method {
				Class "ShowCanvas"
				Param "UI_Jk"
				Param "1"
			}
			Method {
				Class "JXJUISetRadioSelect"
				Param "UI_Jk"
				Param "UI_JkRaido"
				Param "0"
			}			
			Method {
				Class "JXJUISetRadioSelect"
				Param "UI_Jk"
				Param "CardSystemRaido3"
				Param "1"
			}
			Method {
				Class "JXJNewGuideHyperTextTouch"
			}
		}
	}
}