# Creature3D Script Parser v1.0
Hypertext {
    DrawMode "TEXT"
    LineSpacing 1.0
    UnderLineSpacing 3.0
	Font "simhei.ttf"
	CharacterSize 13
	FrontSize [13 13]
	Alignment "BASE_LINE"
	Color [255 255 255 255]
	Content {
		Text "  "
	}
	Content {
		DrawMode "TEXT|UNDERLINE"
		Color [255 255 0 255]
		Text "Ê¹ÓÃ»Æ½í¹­±ø·û\n"
		Link 50
	}
}
Data {
	Class "UI"
	Handle {
		MsgParam "LBtnDown"
		MsgParam "50"
		Driver {
            Class "MoreSlot"
			Method {
				Class "JXJArrowsUITypeSelect"
				Param "UI_ManorStair_RenWu"
				Param "0"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_Knapsack"
				Param "1"
			}
		}
	}
}