# Creature3D Script Parser v1.0
Hypertext {
    DrawMode "TEXT"
    LineSpacing 1.0
    UnderLineSpacing 3.0
        Font "simhei.ttf"
        CharacterSize 16
        FrontSize [16 16]
        Alignment "BASE_LINE"
        Color [255 255 255 255]
        Content {
        Text "庞统死后，帮助刘备杀百人悼念庞统，后攻占敌军据点。"
    }
}
