# Creature3D Script Parser v1.0
Hypertext {
    DrawMode "TEXT"
    LineSpacing 1.0
    UnderLineSpacing 3.0
        Font "simhei.ttf"
        CharacterSize 16
        FrontSize [16 16]
        Alignment "BASE_LINE"
        Color [255 255 255 255]
        Content {
        Text "得知太史慈拿下永宁，于是起兵合围建安，攻占城池。"
    }
}
