# Creature3D Script Parser v1.0
Hypertext {
    DrawMode "TEXT"
    LineSpacing 1.0
    UnderLineSpacing 3.0
        Font "simhei.ttf"
        CharacterSize 13
        FrontSize [13 13]
        Alignment "BASE_LINE"
        Color [255 255 255 255]
        Content {
        Text "  "
    }
    Content {
        DrawMode "TEXT|UNDERLINE"
        Color [255 255 0 255]
        Text "Ç°Íùµ¤Ñô\n"
        Link 155
        }
}
