# Creature3D Script Parser v1.0
Hypertext {
    DrawMode "TEXT"
    LineSpacing 1.0
    UnderLineSpacing 3.0
        Font "simhei.ttf"
        CharacterSize 16
        FrontSize [16 16]
        Alignment "BASE_LINE"
        Color [255 255 255 255]
        Content {
        Text "带着玉玺去寿春向袁术借兵，并答应其条件。"
    }
}
