# Creature3D Script Parser v1.0
Hypertext {
    DrawMode "TEXT"
    LineSpacing 1.0
    UnderLineSpacing 3.0
        Font "simhei.ttf"
        CharacterSize 16
        FrontSize [16 16]
        Alignment "BASE_LINE"
        Color [255 255 255 255]
        Content {
        Text "守住水闸，防御敌军的攻击，形式逆转后乘胜追击。"
    }
}
