# Creature3D Script Parser v1.0
Hypertext {
    DrawMode "TEXT"
    LineSpacing 1.0
    UnderLineSpacing 3.0
	Font "simhei.ttf"
	CharacterSize 13
	FrontSize [13 13]
	Alignment "BASE_LINE"
	Color [255 255 255 255]
	Content {
		Text "  "
	}
	Content {
		DrawMode "TEXT|UNDERLINE"
		Color [255 255 0 255]
		Text "×°±¸¸±¿¨\n"
		Link 34
	}
}
Data {
	Class "UI"
	Handle {
		MsgParam "LBtnDown"
		MsgParam "34"
		Driver {
            Class "MoreSlot"
			Method {
				Class "JXJArrowsUITypeSelect"
				Param "UI_ManorStair_RenWu"
				Param "0"
			}
			Logic {
				Class "IF_ELSE"
				Method {
					Class "JXJCheckFormationCeKaInfo"
					Param "UI_Beta2_Formation"
					Param "1"
				}
				Logic {
					Class "ProxyArray"
					Method {
						Class "JXJAdvanceTask2"
						Param "24"
						Param "0"
					}
					Logic {
						Class "ProxyArray"
						Method {
							Class "JXJUIGetRenWuReward"
							Param "UI_Prize"
							Param "Input1"
							Param "Input2"
							Param "Input3"
							Param "Input4"
							Param "sw5"
							Param "sw6"
							Param "34"
						}
					}
				}
				Logic {
					Class "ProxyArray"
					Method {
						Class "JXJBeautyDialogueInit"
						Param "0"
						Param "UI_Xinshouyindao3"
						Param "34"
					}
					Method {
						Class "ShowCanvas"
						Param "UI_Xinshouyindao3"
						Param "3"
					}
				}
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+20814"//WCH_JXJNewHandDialogueClick
		MsgParam "NULL"
		Driver {
            Class "MoreSlot"
			Logic {
				Class "IF_ELSE"
				Method {
					Class "JXJCheckOpenCanvasInfo"
					Param "UI_Beta2_Formation"
					Param "1"
				}
				Logic {
					Class "Proxy"
					Method {
						Class "None"
					}
				}
				Logic {
					Class "ProxyArray"
					Method {
						Class "JXJNewHandUIInit"
						Param "UI_Xinshouyindao8"
						Param "34"
						Param "UI_ManorStair_Taskbar"
						Param "BianDui"
					}
					Method {
						Class "ShowCanvas"
						Param "UI_Xinshouyindao8"
						Param "1"
					}
				}
			}
		}
	}
}