# Creature3D Script Parser v1.0
Hypertext {
    DrawMode "TEXT"
    LineSpacing 1.0
    UnderLineSpacing 3.0
	Font "simhei.ttf"
	CharacterSize 13
	FrontSize [13 13]
	Alignment "BASE_LINE"
	Color [255 255 255 255]
	Content {
		Text "  "
	}
	Content {
		DrawMode "TEXT|UNDERLINE"
		Color [255 255 0 255]
		Text "对弓箭兵进行编队，并装备将卡\n"
		Link 8
	}
}
Data {
	Class "UI"
	Handle {
		MsgParam "LBtnDown"
		MsgParam "8"
		Driver {
            Class "MoreSlot"
			Method {
				Class "JXJResetTask"
				Param "8"
			}
			Method {
				Class "JXJArrowsUITypeSelect"
				Param "UI_ManorStair_RenWu"
				Param "0"
			}
			Logic {
				Class "IF_ELSE"
				Method {
					Class "JXJSkipNewHandInfo"
				}
				Logic {
					Class "ProxyArray"
				Method {
					Class "JXJNewHandUIInit"
					Param "UI_Xinshouyindao8"
					Param "8"
					Param "UI_ManorStair_Taskbar"
					Param "BianDui"
				}
				Method {
					Class "ShowCanvas"
					Param "UI_Xinshouyindao8"
					Param "3"
				}
			}
		}
	}
}