# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "ValueChange"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJSetUIScaleFactorText"
				Param "Pulldown10"
			}
		}
	}
}