# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJShowSetImageParam"
				Param "DPI"
				Param "Maps"
				Param "Maps2"
				Param "Shadow_"
				Param "MSAA"
				Param "HDR"
				Param "Gamelist1"
				Param "Gamelist2"
				Param "Gamelist3"
				Param "Gamelist4"
				Param "Gamelist5"
				Param "Gamelist6"
				Param "UI_input1"
				Param "UI_input2"
				Param "UI_input3"
				Param "UI_input4"
				Param "UI_input5"
				Param "UI_input6"
				Param "UI_ComboBox1"
				Param "UI_ComboBox2"
				Param "UI_ComboBox3"
				Param "UI_ComboBox4"
				Param "UI_ComboBox5"
				Param "UI_ComboBox6"
				Param "Blur"
				Param "DOF"
				Param "Shadow"
				Param "ListScroll"
				Param "ShowRaido2"
				Param "Interstitial"
				Param "Window"
				Param "PinBi"
				Param "GuoZhanDiPei"
				Param "Pulldown9"
			}
		}
	}
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUISystemShowUpdate"
				Param "ShowRaido2"
				Param "ListScroll"
				Param "UI_ComboBox1"
				Param "UI_ComboBox2"
				Param "UI_ComboBox3"
				Param "UI_ComboBox4"
				Param "UI_ComboBox5"
				Param "UI_ComboBox6"
				Param "Blur"
				Param "DOF"
				Param "Shadow"
			}
		}
	}
	xHandle {
		MsgParam "InitWindow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJTestFontSize"
				Param "14"			//charactersize
				Param "22"			//fontsizex
				Param "22"			//fontsizey
				Param "6"			//linespacing
				Param "3"			//underlinespacing
				Param "1"			//uplinespacing
				Param ""
				Param "Gamelist1"
				Param "Listctrl1"
			}
			Method {
				Class "JXJTestFontSize"
				Param "14"			//charactersize
				Param "22"			//fontsizex
				Param "22"			//fontsizey
				Param "6"			//linespacing
				Param "3"			//underlinespacing
				Param "1"			//uplinespacing
				Param ""
				Param "Gamelist2"
				Param "Listctrl2"
			}
			Method {
				Class "JXJTestFontSize"
				Param "14"			//charactersize
				Param "22"			//fontsizex
				Param "22"			//fontsizey
				Param "6"			//linespacing
				Param "3"			//underlinespacing
				Param "1"			//uplinespacing
				Param ""
				Param "Gamelist3"
				Param "Listctrl3"
			}
			Method {
				Class "JXJTestFontSize"
				Param "14"			//charactersize
				Param "22"			//fontsizex
				Param "22"			//fontsizey
				Param "6"			//linespacing
				Param "3"			//underlinespacing
				Param "1"			//uplinespacing
				Param ""
				Param "Gamelist4"
				Param "Listctrl4"
			}
			Method {
				Class "JXJTestFontSize"
				Param "14"			//charactersize
				Param "22"			//fontsizex
				Param "22"			//fontsizey
				Param "6"			//linespacing
				Param "3"			//underlinespacing
				Param "1"			//uplinespacing
				Param ""
				Param "Gamelist5"
				Param "Listctrl5"
			}
			Method {
				Class "JXJTestFontSize"
				Param "14"			//charactersize
				Param "22"			//fontsizex
				Param "22"			//fontsizey
				Param "6"			//linespacing
				Param "3"			//underlinespacing
				Param "1"			//uplinespacing
				Param ""
				Param "Gamelist6"
				Param "Listctrl6"
			}
		}
	}
}