# Creature3D Script Parser v1.0

Data {
    Class "UI"    
    xHandle {
		MsgParam16 "NULL"
		MsgParam16 "MOUSEMOVE"
		Driver {
			Class "MoreSlot"
			Method {
                Class "PlayAmbSound"
                Param "MouseOn"
            }
			Method {
				Class "WidgetShow"
				Param "1"
			}
		}
	}            
	xHandle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSEPUSH"
		Driver {
			Class "MoreSlot"
			Method {
                Class "PlayAmbSound"
                Param "ButtonClick"
            }
			Method {
				Class "WidgetShow"
				Param "2"
			}
			Method {
				Class  "CloseParentCanvas"
			}
			Method {
				Class "StopSound"
				Param "bad1"
			}
			Method {// Õ∑≈º¸≈Ã Û±Í
				Class  "UISetKeyboardMouseMode"
				Param "15"
			}
		}
	}
	xHandle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "MoreSlot"
			Method {
				Class "WidgetShow"
				Param "1"
			}
		}
	}
	xHandle {
		MsgParam "WCH_FILTERLOSTFOCUS"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "WidgetShow"
				Param "0"
			}
		}
	}
	xHandle {
		MsgParam "WCH_FILTERGETFOCUS"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
                Class "PlayAmbSound"
                Param "MouseOn"
            }
			Method {
				Class "WidgetShow"
				Param "1"
			}
		}
	}
}