# Creature3D Script Parser v1.0

Data {
    Class "UI"	
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJShowGroupConfirm"
				Param "UI_Prompt"
				Param "UI_Prompt_Input"				
				Param "5027"
			}
		}
	}
	Handle {
		MsgParam "WCH_OK"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJCiQuGuanZhi"
			}
		}
	}
	Handle {
		MsgParam "WCH_FILTERLOSTFOCUS"
		MsgParam "NULL"
		Driver {
            Class "OneSlot"
			Method {
				Class "ShowCanvas"
				Param "Tips1"
				Param "0"
			}
		}
	}
	Handle {
		MsgParam16 "NULL"
		MsgParam16 "MOUSEMOVE"
		Driver {
			Class "OneSlot"
			Logic {
				Class  "IF_ELSE"
					Method {//条件
						Class "JXJISUIButtonEnable"
					}
					Method {
						Class "Null"
					}
					Method {
						Class "JXJUIButtonTip"
						Param "5028"
						Param "Tips1"
						Param "TipsText1"
					}
			}
		}
	}	
}