# Creature3D Script Parser v1.0

Data {
    Class "UI"	
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJSetGroupFenFengChengChiID"
				Param "0"
				Param "UI_Crops1"
			}
			Method {
				Class "ShowCanvas"
				Param "Corps2_Renming"
				Param "1"
			}
		}
	}		
}