# Creature3D Script Parser v1.0

Data {
    Class "UI"	
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "OneSlot"			
			Method {
				Class "UpdateMe"
			}				
		}
	}
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJChengchiziyuanCanvasUpdate"
				Param "Chengchiziyuan_Input1"
				Param "Chengchiziyuan_Input2"
				Param "Chengchiziyuan_Input3"
				Param "Chengchiziyuan_Input4"
				Param "Chengchiziyuan_Input5"
				Param "Chengchiziyuan_Input6"
				Param "Chengchiziyuan_Baguan"
				Param "UI_Crops1"
			}
		}
	}

}