# Creature3D Script Parser v1.0

Data {
    Class "UI"	
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"	
			Method {
				Class "JXJQueryCanFenFengGroupMemberList"
			}			
			Method {
				Class "UpdateMe"
			}				
		}
	}
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJFenFengCanvasUpdate"
				Param "Renming_GameList1"
				Param "Renming_Input1"
				Param "Renming_Queding"
				Param "UI_Crops1"
			}
		}
	}

}