# Creature3D Script Parser v1.0

Data {
    Class "UI"	
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"			
			Method {
				Class "UpdateMe"
			}				
		}
	}
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJQuBingCanvasUpdate"
				Param "Qubing_Icon"
				Param "Qubing_Input1"
				Param "Qubing_Input2"
				Param "Qubing_ListScroll"
				Param "Qubing_Input4"
				Param "Qubing_Queding"
				Param "UI_Crops1"
				Param "UI_Crops3_Input1"
			}
		}
	}
}