# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "InitWindow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJTestNodeSize2"
				Param "Chengchirenming_Input2"
				Param "14"			//charactersize
				Param "30"			//fontsizex
				Param "30"			//fontsizey
				Param "12.3"		    //linespacing
				Param "12"			//underlinespacing
				Param ""
				Param ""
				Param "Chengchirenming_Input3"
				Param "Chengchirenming_Input4"
			}
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"			
			Method {
				Class "UpdateMe"
			}				
		}
	}
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJRenMingCanvasUpdate"
				Param "Chengchirenming_Renming1"
				Param "Chengchirenming_Renming2"
				Param "Chengchirenming_Renming3"
				Param "Chengchirenming_Renming4"
				Param "Chengchirenming_Renming5"
				Param "Chengchirenming_Renming6"
				Param "Chengchirenming_Renming7"
				Param "Chengchirenming_Renming8"
				Param "Chengchirenming_Renming9"
				Param "Chengchirenming_Renming10"
				Param "Chengchirenming_Mianchu1"
				Param "Chengchirenming_Mianchu2"
				Param "Chengchirenming_Mianchu3"
				Param "Chengchirenming_Mianchu4"
				Param "Chengchirenming_Mianchu5"
				Param "Chengchirenming_Mianchu6"
				Param "Chengchirenming_Mianchu7"
				Param "Chengchirenming_Mianchu8"
				Param "Chengchirenming_Mianchu9"
				Param "Chengchirenming_Mianchu10"
				Param "Chengchirenming_Input1"
				Param "Chengchirenming_ListScroll"
				Param "UI_Crops1"
			}
		}
	}
}