# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "SelectChange"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "ParentCanvasUpdate"
			}
			xMethod {
				Class "JXJBuildInfoChangeCanvasUpdate"
				Param "UI_Country1"
				Param "UI_Country3_Radio2"
				Param "UI_Country3_Explain"
				Param "UI_Country3_Percent"
				Param "UI_Country3_Building"
				Param "UI_Country3_Image"				
			}
		}
	}
}