# Creature3D Script Parser v1.0

Data {
    Class "JXJGroupCanvas"
	xHandle {
		MsgParam "InitWindow"
		MsgParam "0"
		Driver {
			Class "OneSlot"
			Method {
			}
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "OneSlot"
			Method {
				Class "UpdateMe"
			}
		}
	}
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJUICreateGroupCanvasUpdate"				
				Param "CreatJunTuan_Tongqian"
				Param "CreatJunTuan__Yuanbao"
			}
		}
	}
}