# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "ValueChange"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJCunBingSetCountinputText"
				Param "1"
				Param "Cunbing_Icon1"
				Param "Cunbing_Icon2"
				Param "Cunbing_Icon3"
				Param "Cunbing_ListScroll2"
				Param "Cunbing_ListScroll3"
				Param "Cunbing_ListScroll4"
				Param "UI_Crops1"
				Param "Cunbing_Input5"
			}
		}
	}
}