# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam16 "RIGHT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJDetachCardOrItemForSaving"
				Param "UI_Jk"
			}
			Method {
				Class "CanvasUpdate"
				Param "UI_Jk"
			}
			Method {
				Class "CanvasUpdate"
				Param "UI_Knapsack"
			}
			Method {
				Class "ParentCanvasUpdate"
			}
			xMethod {
				Class "JXJWidgetDoEvent"
				Param "UI_Jk"
				Param "UI_Formation_Tcjk_ZL"
				Param "1"//LEFT_MOUSE_BUTTON
				Param "2"//MOUSERELEASE
			}
		}
	}
	Handle {
		MsgParam16 "NULL"
		MsgParam16 "MOUSEMOVE"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJIconjiangkaTipInfo"
				Param "UI_Card"
				Param "UI_CharacterImage"//将卡人物#ImageBoxWidget
				Param "sw2"//背景#SwitchWidget
				Param "sw3"//国家#SwitchWidget
				Param "UI_Beta2_Formation_Tips_ShuXing"//属性#SwitchWidget
				Param "UI_Beta2_Formation_Tips_BingZhong"//兵种#SwitchWidget
				Param "UI_Beta2_Formation_Tips_LeiXing"//类型#SwitchWidget
				Param "UI_Input"//技能描述#StaticTextWidget
				Param "UI_CharactorInfo"//姓名#ImageBoxWidget
				Param "UI_Beta2_Formation_Tips_JiNeng"//技能名#ImageBoxWidget
				Param "12"
			}
		}
	}
	Handle {
		MsgParam "WCH_FILTERLOSTFOCUS"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "ShowCanvas"
				Param "UI_Card"
				Param "0"
			}
		}
	}
}