# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "OneSlot"
			Logic {
				Class  "IF_ELSE"
				Method {//条件
					Class "JXJHasTeam"
				}
				Method {
					Class "JXJNotice"
					Param "1007"
				}
				Logic {
					Class "ProxyArray"
					Logic {
						Class  "IF_ELSE"
						Method {
							Class "JXJCheckSelectRoles"
							Param "1"
							Param "0"
						}
						Logic {
							Class "ProxyArray"
							Method {
								Class "ShowCanvas"
								Param "UI_Battleground_Jr1"
								Param "0"
							}
							Method {
								Class "ShowCanvas"
								Param "UI_BattleGround_Shijiefuben"
								Param "0"
							}
							Method {
								Class "ShowCanvas"
								Param "guozhangz"
								Param "0"
							}
							Method {
								Class "ShowCanvas"
								Param "UI_Battleground_Jr1_map"
								Param "0"
							}
							Method {
								Class "ShowCanvas"
								Param "UI_Battleground_Jr1_time"
								Param "0"
							}
							Method {
								Class "ShowCanvas"
								Param "UI_Battleground_Jr1_minimap"
								Param "0"
							}
							Method {
								Class "ShowCanvas"
								Param "UI_Battleground_Jr1_minimap2"
								Param "0"
							}
							Method {
								Class "ShowCanvas"
								Param "UI_Battleground_Jr1_Formation"
								Param "0"
							}
							Method {
								Class "ShowCanvas"
								Param "UI_BattleGround_Return"
								Param "0"
							}
							Method {
								Class "ShowCanvas"
								Param "CityMenu"
								Param "0"
							}
							Method {
								Class "JXJSetWidgetEnable"
								Param "UI_ManorStair_Taskbar"
								Param "BianDui"
								Param "0"
							}
							Method {
								Class "JXJSetWidgetEnable"
								Param "UI_ManorStair_HuoDong"
								Param "ChengZhan"
								Param "0"
							}
							xMethod {
								Class "JXJSetWidgetEnable"
								Param "UI_ManorStair_HuoDong"
								Param "GuanAiZhan"
								Param "0"
							}
							Method {
								Class "JXJSetWidgetEnable"
								Param "UI_ManorStair_Taskbar"
								Param "UI_Fuben"
								Param "0"
							}
							Method {
								Class "ShowCanvas"
								Param "UI_Beta2_Formation"
								Param "0"
							}
							Method {
								Class "JXJEnterBattleDeque"
								Param "12"//shiliid
							}
							Method {
								Class "CloseParentCanvas"
							}
							Method {
								Class "JXJUIShowBattlegroundBackboard"
								Param "1"
								Param "UI_Battleground_Jr1_Cz"
								Param "UI_Battleground_Jr3_Input"
								Param "UI_Battleground_Jr3_Tuichu"
								Param "UI_ManorStair_Taskbar"
								Param "BianDui"
								Param "UI_Battleground_Jr1"	
								Param "GuanAiZhan"
								Param "Jianguo"
							}
						}
						Logic {
							Class "ProxyArray"
							Method {
								Class "ShowCanvas"
								Param "UI_Battleground_Jr2"
								Param "0"
							}
							Method {
								Class "ShowCanvas"
								Param "UI_BattleGround_Return"
								Param "1"
							}
							Method {
								Class "ShowCanvas"
								Param "UI_Battleground_Jr1"
								Param "1"
							}
						}
					}	
					xMethod {
						Class "ShowCanvas"
						Param "UI_Battleground_Jr2"
						Param "3"
					}
					Method {
						Class "CloseParentCanvas"
					}
				}
			}
		}
	}
}