# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJUIBuildFubenList"
				Param "FubenRaido"
			}
		}
	}
	Handle {
		MsgParam "SelectChange"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJUIFubenSelectChange"
				Param "UI_Input_jiangling"
				Param "UI_Input_binzhong"
				Param "UI_Input_diaoluo"
				Param "UI_Input_fuhuo"
				Param "UI_Input_shuomin"
				Param "UI_FuBen_KeJi_Backboard.img"
			}
		}
	}
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSEPUSH"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJUIFubenClick"
				Param "UI_Fuben_Tips"
				Param "UI_input_jinrufuben"
			}
		}
	}
}