# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJUIFeudalLord_BangdingUpdate"	
				Param "Bangdingbiandui_Input1"		//编队页
				Param "Bangdingbiandui_Input2"		
				Param "Bangdingbiandui_Input3"							
				Param "Bangdingbiandui_Input4"		
				Param "Bangdingbiandui_Input5"		//装备页
				Param "Bangdingbiandui_Input6"		
				Param "Bangdingbiandui_Input7"		
				Param "Bangdingbiandui_Input8"	
				Param "Bangdingbiandui_Input5_Button"		//装备页按钮
				Param "Bangdingbiandui_Input6_Button"		
				Param "Bangdingbiandui_Input7_Button"		
				Param "Bangdingbiandui_Input8_Button"		
				Param "Gamelist1"		//装备页下拉列表
				Param "Gamelist2"		
				Param "Gamelist3"		
				Param "Gamelist4"		
				Param "ComboBox1"
				Param "ComboBox2"
				Param "ComboBox3"
				Param "ComboBox4"
			}
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "0"
		Driver {
			Class "OneSlot"
			Method {
				Method {
				Class "JXJUISave_BindFormation"
				Param "ComboBox1"
				Param "ComboBox2"
				Param "ComboBox3"
				Param "ComboBox4"
			}
			}
		}
	}
}