# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "WCH_FILTERLOSTFOCUS"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "ShowCanvas"
				Param "UI_ZhuangBei_Tips"
				Param "0"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_Shuxing_Tips"
				Param "0"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_ZhuangBei_Tips_1"
				Param "0"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_Shuxing_Tips_1"
				Param "0"
			}
			Method {
				Class "JXJUIListControlLostFocus"
			}
		}
	}
	Handle {
		MsgParam16 "NULL"
		MsgParam16 "MOUSEMOVE"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUIKnapsackItemTipInfo"
				Param "UI_ZhuangBei_Tips"
				Param "Name"//name
				Param "T_Name"//称号
				Param "ShuXing"//属性
				Param "Lv"//等级
				Param "Picture"//图片
				Param "Tips_YZB"//是否已装备
				Param "UI_Beta2_Knapsack_Czan"
				Param "UI_Shuxing_Tips"//超文本长窗口
				Param "ShuXing_BK"//超文本背景
				Param "Di1"//超文本背景
				Param "1.1|-0.001|0.0095"//offset
				Param "255.0f|0.0f|0.0f|255.0f"
				Param "0"
			}
			Method {
				Class "JXJUIKnapsackItemTipInfo"
				Param "UI_ZhuangBei_Tips_1"
				Param "Name_1"//name
				Param "T_Name_1"//称号
				Param "ShuXing_1"//属性
				Param "Lv_1"//等级
				Param "Picture_1"//图片
				Param "Tips_YZB_1"//是否已装备
				Param "UI_Beta2_Knapsack_Czan"
				Param "UI_Shuxing_Tips_1"//超文本长窗口
				Param "ShuXing_BK_1"//超文本背景
				Param "Di1_1"//超文本背景
				Param "1.1|-0.001|0.0095"//offset
				Param "255.0f|0.0f|0.0f|255.0f"
				Param "1"
			}
		}
	}
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSEDRAG"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUIChangeBagPage"
				Param "UI_KnapsackRaido2"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_ZhuangBei_Tips"
				Param "0"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_Shuxing_Tips"
				Param "0"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_ZhuangBei_Tips_1"
				Param "0"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_Shuxing_Tips_1"
				Param "0"
			}
		}
	}
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUIAddItemDrag"
				Param "UI_XLunhui"
				Param "XLunhui_Icon1|XLunhui_Item1"
				Param "XLunhui_Icon2|XLunhui_Item2"
				Param "XLunhui_Icon3|XLunhui_Item3"
				Param "XLunhui_Icon4|XLunhui_Item4"
				Param "XLunhui_Icon5|XLunhui_Item5"
				Param "XLunhui_Icon6|XLunhui_Item6"
				Param "XLunhui_Icon7|XLunhui_Item7"
				Param "XLunhui_Icon8|XLunhui_Item8"
				Param "XLunhui_Icon9|XLunhui_Item9"
				Param "XLunhui_Icon10|XLunhui_Item10"
				Param "XLunhui_Icon11|XLunhui_Item11"
				Param "XLunhui_Icon12|XLunhui_Item12"
				Param "XLunhui_Icon13|XLunhui_Item13"
				Param "XLunhui_Icon14|XLunhui_Item14"
				Param "XLunhui_Icon15|XLunhui_Item15"
				Param "XLunhui_Icon16|XLunhui_Item16"
				Param "XLunhui_Icon17|XLunhui_Item17"
				Param "XLunhui_Icon18|XLunhui_Item18"
				Param "XLunhui_Icon19|XLunhui_Item19"
				Param "XLunhui_Icon20|XLunhui_Item20"
			}
			Logic {
				Class "IF_ELSE"
				Method {
					Class "JXJUIChangeItemPos"
					Param "UI_KnapsackRaido"
					Param "UI_KnapsackRaido2"
					Param "0"
					Param "UI_Beta2_FeudalLord_Toukui"
					Param "UI_Beta2_FeudalLord_Kaijia"
					Param "UI_Beta2_FeudalLord_Wuqi"
					Param "UI_Beta2_FeudalLord_Shuji"
					Param "UI_Beta2_FeudalLord_Mapi"
					Param "UI_Prompt1"
					Param "UI_Prompt1_Drag"
					Param "UI_Prompt1_Input"
				}
				Logic {
					Class "ProxyArray"
					Method {
						Class "CanvasUpdate"
						Param "UI_Knapsack"
					}
					Method {
						Class "ShowCanvas"
						Param "UI_Beta2_Knapsack_Czan"
						Param "0"
					}
				}
				Logic {
					Class "Proxy"
					Method {
						Class "JXJUIShowItemCanvas"
						Param "UI_Beta2_Knapsack_Czan"
						Param "NULL"
						Param "UI_Beta2_Knapsack_Gmbb"
						Param "UI_Beta2_Knapsack_Gmbb_Input1"
						Param "UI_Beta2_Knapsack_Gmbb_Input2"
						Param "UI_Beta2_Knapsack_Xiaohao"
						Param "UI_Beta2_Knapsack_Wenb"
						Param "7526" //行囊令itemId
					}
				}
			}
			Method {
				Class "JXJUILunHuiStoreTiHuanAffirm"
				Param "UI_Prompt"
				Param "UI_Prompt_Drag"
				Param "UI_Prompt_Input"
				Param "UI_Prompt_Confirm"
				Param "UI_XLunhui"
				Param "1"
			}
		}
	}
	Handle {
		MsgParam16 "RIGHT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJQuickUseBagItem"
			}
			Method {
				Class "CanvasDoEvent"
				Param "UI_Beta2_Knapsack_Czan"
				Param "WCH_USER16"
				Param "NULL"
			}
			Method {
				Class "WidgetDoEvent2"
				Param "UI_Beta2_Knapsack_Czan"
				Param "UI_Beta2_Knapsack_Czan_Sy"
				Param "LEFT_MOUSE_BUTTON"
				Param "MOUSERELEASE"
			}
		}
	}
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSEDOUBLECLICK"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJQuickUseBagItem"
			}
			Method {
				Class "CanvasDoEvent"
				Param "UI_Beta2_Knapsack_Czan"
				Param "WCH_USER16"
				Param "NULL"
			}
			Method {
				Class "WidgetDoEvent2"
				Param "UI_Beta2_Knapsack_Czan"
				Param "UI_Beta2_Knapsack_Czan_Sy"
				Param "LEFT_MOUSE_BUTTON"
				Param "MOUSERELEASE"
			}
		}
	}
	Handle {
		MsgParam "WCH_OK"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJAdvanceLunHuiRePlaceCount"
				Param "UI_XLunhui"
			}			
		}
	}
	Handle {
		MsgParam "WCH_CANCEL"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUILunHuiCanvasClose"
				Param "UI_XLunhui"
				Param "sw2_9"
				Param "sw2_10"
				Param "sw2_11"
				Param "sw2_17"
				Param "sw2_18"
				Param "sw2_20"
			}
			Method {
				Class "CanvasUpdate"
				Param "UI_XLunhui"
			}
			Method {
				Class "CanvasUpdate"
				Param "UI_Knapsack"
			}
		}
	}
	Handle {
		MsgParam "WCH_CLOSE"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUILunHuiCanvasClose"
				Param "UI_XLunhui"
				Param "sw2_9"
				Param "sw2_10"
				Param "sw2_11"
				Param "sw2_17"
				Param "sw2_18"
				Param "sw2_20"
			}
			Method {
				Class "CanvasUpdate"
				Param "UI_XLunhui"
			}
			Method {
				Class "CanvasUpdate"
				Param "UI_Knapsack"
			}
		}
	}
}