# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "SelectChange"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "PageValueChange"
				Param "SmallPage"
			}
			xMethod {
				Class "JXJUIGongfangEquipReset"
			}
			Method {
				Class "ParentCanvasUpdate"
			}
		}
	}
}