# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "ValueChange"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "ParentCanvasUpdate"
			}
		}
	}
	Handle {
		MsgParam16 "NULL"
		MsgParam16 "SCROLLUP"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJScroll"
				Param "0"
			}
		}
	}
	Handle {
		MsgParam16 "NULL"
		MsgParam16 "SCROLLDOWN"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJScroll"
				Param "1"
			}
		}
	}
}