# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "MoreSlot"
			xMethod {
				Class "ShowYingZhengIcon"
				Param "Yingzheng1"
				Param "Shuzi1"
				Param "1"
			}
			Method {
				Class "CloseParentCanvas"
			}
		}
	}
}