# Creature3D Script Parser v1.0

Data {
    Class "JXJJuntuanHuoDongUI"
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJQueryConsortiaPromotionData"
			}
			xMethod {
				Class "JXJQueryMyGroupInfo"
			}
			xMethod {
				Class "JXJQueryConsortiaRanking"
				Param "UI_Billboard"
				Param "Billboard_Combobox2"
				Param "Billboard_Combobox3"
			}			
			xMethod {
				Class "UpdateMe"
			}					
		}
	}
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"				
			Method {
				Class "JXJConsortiaStartedPromotionCanvasUpdate"
				Param "Juntuan_Paidui" //canvas
				//军团排名
				Param "Juntuan_Minzhi1" 
				Param "Juntuan_Minzhi2"
				Param "Juntuan_Minzhi3"
				Param "Juntuan_Minzhi4"
				Param "Juntuan_Minzhi5"
				//军团长
				Param "Juntuan_Tuanzhan1"
				Param "Juntuan_Tuanzhan2"
				Param "Juntuan_Tuanzhan3"
				Param "Juntuan_Tuanzhan4"
				Param "Juntuan_Tuanzhan5"
				//军团长奖励加成说明
				Param "Tuanzhan_Jianli1"
				Param "Tuanzhan_Jianli2"
				Param "Tuanzhan_Jianli3"
				Param "Tuanzhan_Jianli4"
				Param "Tuanzhan_Jianli5"
				//领取按钮
				Param "UI_Juntuan_Linqu1"
				Param "UI_Juntuan_Linqu2"
				Param "UI_Juntuan_Linqu3"
				Param "UI_Juntuan_Linqu4"
				Param "UI_Juntuan_Linqu5"				
				//奖励物品图标第一栏
				Param "Juntuan_Icon1_1"
				Param "Juntuan_Icon1_2"
				Param "Juntuan_Icon1_3"
				Param "Juntuan_Icon1_4"
				//奖励物品图标第二栏				
				Param "Juntuan_Icon2_1"
				Param "Juntuan_Icon2_2"
				Param "Juntuan_Icon2_3"
				Param "Juntuan_Icon2_4"
				//奖励物品图标第三栏				
				Param "Juntuan_Icon3_1"
				Param "Juntuan_Icon3_2"
				Param "Juntuan_Icon3_3"
				Param "Juntuan_Icon3_4"
				//奖励物品图标第四栏				
				Param "Juntuan_Icon4_1"
				Param "Juntuan_Icon4_2"
				Param "Juntuan_Icon4_3"
				Param "Juntuan_Icon4_4"
				//奖励物品图标第五栏				
				Param "Juntuan_Icon5_1"
				Param "Juntuan_Icon5_2"
				Param "Juntuan_Icon5_3"
				Param "Juntuan_Icon5_4"
				//奖励物品数目第一栏				
				Param "Input1_22"
				Param "Input1_23"
				Param "Input1_24"
				Param "Input1_25"
				//奖励物品数目第二栏					
				Param "Input1_18"
				Param "Input1_19"
				Param "Input1_20"
				Param "Input1_21"
				//奖励物品数目第三栏					
				Param "Input1_26"
				Param "Input1_27"
				Param "Input1_28"
				Param "Input1_29"
				//奖励物品数目第四栏				
				Param "Input1_30"
				Param "Input1_31"
				Param "Input1_32"
				Param "Input1_33"
				//奖励物品数目第五栏					
				Param "Input1_34"
				Param "Input1_35"
				Param "Input1_36"
				Param "Input1_37"
				
				Param "Shuoming_Text"
				Param "Hdaojishi_Text"	
				Param "UI_Billboard"
			}
		}
	}
	Handle {
		MsgParam "Frame"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "RunFrequencyControl"
				Param "1.0"
			}
			Method {
				Class "CanvasUpdate"
				Param "Juntuan_Paidui"
			}
		}
	}
}