# Creature3D Script Parser v1.0

Data {
    Class "UI"
	xHandle {
		MsgParam "InitWindow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "SetMsgTraverse"
				Param "15"
			}
		}
	}
	Handle {
		MsgParam "Frame"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "RunFrequencyControl"
				Param "1.0"
			}
			Method {
				Class "JXJConsortiaCopyBattleProgressCanvasUpdate"
				Param "Juntuan_Xinxi"
				Param "Juntuan_Zhenting_2"
				Param "60"//60秒内杀光当前boss则可跳10波
				Param "120"	//时间达到120秒时自动刷出下一波
				Param "89"//当前波数大于89时不再跳10波
				Param "100"//总共100波
				Param "boshu"//波数变量名
				Param "killtime1"//计时器变量名
				Param "10"//满足条件可直接跳10波
			}
		}
	}
}
