# Creature3D Script Parser v1.0

Data {
    Class "JXJDelayHideCanvasUI"
	Handle {
		MsgParam "InitWindow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "SetMsgTraverse"
				Param "15"
			}
		}
	}
	Handle {
		MsgParam "Frame"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "RunFrequencyControl"
				Param "1.0"
			}
			Method {
				Class "JXJDelayHideSwitchCanvasTips"
				Param "Juqing_Tist"
				Param "Juqing_Tis"
				Param "10"//canvas显示10s后自动关闭
			}
		}
	}
}
