# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "InitWindow"
		MsgParam "1"
		Driver {
			Class "OneSlot"
			Method {
				Class "SetMsgTraverse"
				Param "15"
			}
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJResetWorldCanvasPosition"
				Param "UI_Beta3_CopyBattle_JK"
			}
			Method {
				Class "UpdateMe"
			}
		}
	}
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGetAwardCanvasUpdate"
				Param "Jianli_Shuliang1_1"
				Param "Jianli_Shuliang2_1"
				Param "Jianli_Shuliang3_1"
				Param "Jianli_Shuliang1_2"
				Param "Jianli_Shuliang2_2"
				Param "Jianli_Shuliang3_2"
				Param "Jianli_Shuliang1_3"
				Param "Jianli_Shuliang2_3"
				Param "Jianli_Shuliang3_3"
				Param "Jianli_Shuliang1_4"
				Param "Jianli_Shuliang2_4"
				Param "Jianli_Shuliang3_4"
				Param "Jianli_Shuliang1_5"
				Param "Jianli_Shuliang2_5"
				Param "Jianli_Shuliang3_5"
				Param "Linquiry_Ann1"
				Param "Linquiry_Ann2"
				Param "Linquiry_Ann3"
				Param "0|5000|10000"
				Param "UI_Paihangban"
				Param "Zhongjiffeng"
				Param "Zhongjiffeng_1"
				Param "Zhongjiffeng_2"
				Param "Guoguandengji"
				Param "Guoguandengji2"
				Param "Guoguandengji3"
			}
		}
	}
}