# Creature3D Script Parser v1.0
Data {
	Class "UI"
	Handle {
		MsgParam "LBtnDown"
		MsgParam "1"
		Driver {
            Class "OneSlot"
            Method {
				Class  "JXJFriendOtherOnShow"
				Param  "UI_Beta2_Friend_Other"
			}
		}
	}
	Handle {
		MsgParam "LostFocus"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJIfClickOtherName"
				Param  "UI_Beta2_Friend_Other"
			}
		}
	}
	Handle {
		MsgParam "WCH_WIDGETLOSTCAPTURE"
		MsgParam "NULL"
		Driver {
            Class "OneSlot"
            Method {
				Class  "ShowCanvas"
				Param  "UI_Beta2_Friend_Other"
				Param  "0"
			}
		}
	}
}