# Creature3D Script Parser v1.0

Data {
    Class "UI"
	xHandle {
		MsgParam "SelectChange"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Logic {
				Class "IF_ELSE"
				Method {
					Class "JXJUIChangeItemPos"
					Param "UI_KnapsackRaido"
					Param "UI_KnapsackRaido2"
					Param "0"
					Param "UI_Beta2_FeudalLord_Toukui"
					Param "UI_Beta2_FeudalLord_Kaijia"
					Param "UI_Beta2_FeudalLord_Wuqi"
					Param "UI_Beta2_FeudalLord_Shuji"
					Param "UI_Beta2_FeudalLord_Mapi"
					Param "UI_Prompt1"
					Param "UI_Prompt1_Drag"
					Param "UI_Prompt1_Input"
				}
				Logic {
					Class "ProxyArray"
					Method {
						Class "CanvasUpdate"
						Param "UI_Knapsack"
					}
					Method {
						Class "ShowCanvas"
						Param "UI_Beta2_Knapsack_Czan"
						Param "0"
					}
				}
				Logic {
					Class "Proxy"
					Method {
						Class "JXJUIShowItemCanvas"
						Param "UI_Beta2_Knapsack_Czan"
						Param "NULL"
						Param "UI_Beta2_Knapsack_Gmbb"
						Param "UI_Beta2_Knapsack_Gmbb_Input1"
						Param "UI_Beta2_Knapsack_Gmbb_Input2"
					}
				}
			}
		}
	}
}