# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJQueryPlayerRanking"
				Param "UI_Billboard"
				Param "Billboard_Combobox4"
				Param "Billboard_Combobox5"
			}
		}
	}
}