# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "InitWindow"
		MsgParam "1"
		Driver {
			Class "OneSlot"
			Method {
				Class "SetMsgTraverse"
				Param "15"
			}
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "OneSlot"
			Method {
				Class "UpdateMe"
			}
		}
	}
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJDirecGetAwardCanvasUpdate"
				Param "UI_Paihangban"
				Param "Jingy_Txt"
				Param "Nianshi_Txt"
				Param "Mucai_Txt"
				Param "Tiekuang_Txt"
				Param "Mapi_Txt"
				Param "Goumai_Xz"
				Param "0|5000|10000"
				Param "Renwuzhanbao_Wenb"
			}
		}
	}
}