# Creature3D Script Parser v1.0

Data {
    Class "ScenarioTalkCanvas"
	Handle {
		MsgParam "WCH_USER+22120" //WCH_JXJJXJShowScenarioTalk											
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJShowScenarioTalk"
			}
		}
	}
}