# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "WCH_FILTERLOSTFOCUS"
		MsgParam "NULL"
		Driver {
            Class "MoreSlot"
			Method {
				Class "ShowCanvas"
				Param "UI_Head"
				Param "0"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_Trunk"
				Param "0"
			}
		}
	}
	
	Handle {
		MsgParam "WCH_FILTERGETFOCUS"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJUIShuoMingTipInfo"
				Param "UI_Head"
				Param "UI_Trunk"
				Param "Input_Tittle"
				Param "Input_Text"
				Param "Text_BG"
				Param "End"
				Param "5039"
				Param "5038"
			}
		}
	}
}