# Creature3D Script Parser v1.0

Data {
	Class "UI"
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "MoreSlot"			
			Method {
				Class "CloseParentCanvas"
			}
			Logic {
				Class  "IF_ELSE"
				Method {//条件
					Class "JXJHasTeam"
				}
				Method {
					Class "JXJLeaveTeam"
				}
				Method {
					Class "Null"
				}
			}			
			Method {
				Class "JXJChangeFrameAndDelayHind"
			}
			Method {
				Class "JXJUpdateInitCfg"
				Param "UI_ComboBox1"
				Param "ListScroll"
				Param "UI_ComboBox2"
				Param "UI_ComboBox3"
				Param "UI_ComboBox4"
				Param "UI_ComboBox5"
				Param "UI_ComboBox6"
				Param "UI_ComboBox7"
				Param "UI_ComboBox8"
				Param "Pulldown9"
			}
			Method {
                Class "UIExitScene"
                Param "1"
            }
		}
	}
}