# Creature3D Script Parser v1.0

Data {
    Class "UI"	
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "OneSlot"
			Logic {
				Class  "IF_ELSE"
					Method {//条件
						Class "JXJISGroupFuBenOpen"
						Param "TaofaRaido1"
						Param "UI_Crops1"
					}
					Logic {
						Class "ProxyArray"
						Method {
							Class "UISwapEnable"
							Param "1.0"
						}
						Method {
							Class "JXJUIGroupIntoFuBen"
							Param "UI_Crops1"
							Param "TaofaRaido1"			
						}
					}
					Logic {
						Class "ProxyArray"
						Method {
							Class "UISwapEnable"
							Param "1.0"
						}
						Method {
							Class "JXJStartFuBenConfirm"
							Param "UI_Crops1"
							Param "1"
							Param "UI_Prompt"
							Param "UI_Prompt_Input"
							Param "UI_Prompt_Confirm"
						}
					}
			}
		}
	}	
	Handle {
		MsgParam "WCH_OK"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJUIGroupFunBenStart"
				Param "UI_Crops1"
				Param "1"		
				Param "TaofaRaido1"			
			}
		}
	}
	Handle {
		MsgParam "WCH_FILTERLOSTFOCUS"
		MsgParam "NULL"
		Driver {
            Class "OneSlot"
			Method {
				Class "ShowCanvas"
				Param "Tips1"
				Param "0"
			}
		}
	}

	Handle {
		MsgParam16 "NULL"
		MsgParam16 "MOUSEMOVE"
		Driver {
			Class "OneSlot"
			Logic {
				Class  "IF_ELSE"
					Method {//条件
						Class "JXJISUIButtonEnable"
					}
					Method {
						Class "Null"
					}
					Logic {
						Class  "IF_ELSE"
							Method {//条件
								Class "JXJIsGroupFirstLeader"
								Param "1"			//是否是军团长或副团长
							}
							Method {
								Class "JXJUIButtonTip"
								Param "5032"
								Param "Tips1"
								Param "TipsText1"
							}
							Method {
								Class "JXJUIButtonTip"
								Param "5016"
								Param "Tips1"
								Param "TipsText1"
							}
					}
			}
		}
	}
}