# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"	
			Method {
				Class "JXJUI7DayInit"
				Param "7D_BiaoQian"
			}				
			Method {
				Class "UpdateMe"
			}		
			
		}
	}
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJ7DhuodongCanvasUpdate"
				Param "UI_7Dhuodong"
				Param "7D_BiaoQian"
				Param "7D_Icon1_1"
				Param "7D_Icon1_2"
				Param "7D_Icon1_3"
				Param "7D_Icon1_4"
				Param "7D_Icon2_1"
				Param "7D_Icon2_2"
				Param "7D_Icon2_3"
				Param "7D_Icon2_4"
				Param "7D_Icon3_1"
				Param "7D_Icon3_2"
				Param "7D_Icon3_3"
				Param "7D_Icon3_4"
				Param "7D_Icon4_1"
				Param "7D_Icon4_2"
				Param "7D_Icon4_3"
				Param "7D_Icon4_4"
				Param "7D_Icon5_1"
				Param "7D_Icon5_2"
				Param "7D_Icon5_3"
				Param "7D_Icon5_4"
				Param "Input1_2"
				Param "Input1_3"
				Param "Input1_4"
				Param "Input1_5"
				Param "Input1_6"
				Param "Input1_7"
				Param "Input1_8"
				Param "Input1_9"
				Param "Input1_10"
				Param "Input1_11"
				Param "Input1_12"
				Param "Input1_13"
				Param "Input1_14"
				Param "Input1_15"
				Param "Input1_16"
				Param "Input1_17"
				Param "Input1_18"
				Param "Input1_19"
				Param "Input1_20"
				Param "Input1_21"
				Param "7D_Linqu1"
				Param "7D_Linqu2"
				Param "7D_Linqu3"
				Param "7D_Linqu4"
				Param "7D_Linqu5"
				Param "7D_Biaoti1"
				Param "7D_Biaoti2"
				Param "7D_Biaoti3"
				Param "7D_Biaoti4"
				Param "7D_Biaoti5"
				Param "7D_Neirong5_2"
				Param "7D_Neirong5_3"
				Param "7D_Neirong5_4"
				Param "7D_Neirong5_5"
				Param "Plane054"
				Param "Plane055"
				Param "Plane057"
				Param "Plane056"
				Param "Plane069"
				Param "Plane070"
				Param "Plane071"
				Param "Plane072"
				Param "Plane084"
				Param "Plane085"
				Param "Plane087"
				Param "Plane086"
				Param "Plane099"
				Param "Plane100"
				Param "Plane102"
				Param "Plane101"
				Param "Plane114"
				Param "Plane115"
				Param "Plane117"
				Param "Plane116"
				Param "7D_Neirong1"
				Param "7D_Neirong2"
				Param "7D_Neirong3"
				Param "7D_Neirong4"
				Param "7D_Neirong5"
				Param "7D_Neirong5_1"
			}
		}
	}
	Handle {
		MsgParam "Frame"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "RunFrequencyControl"
				Param "2.0"
			}
			Method {
				Class "CanvasUpdate"
				Param "UI_7Dhuodong"
			}
		}
	}
}