# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSEPUSH"
		Driver {
			Class "MoreSlot"
			Method {
				Class "ShowCanvas"
				Param "UI_Country1"
				Param "1"
			}
			Method {
				Class "JXJSetRankUIRadioSelect"
				Param "UI_Country1"
				Param "UI_Country1_Label"
				Param "4"
				Param "Page"
			}
			Method {
				Class "CanvasUpdate"
				Param "UI_Country1"		
			}
		}
	}
	xHandle {
		MsgParam16 "NULL"
		MsgParam16 "MOUSEMOVE"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJUINoOpenIconTip"
				Param "Tips0"
				Param "TipsText"
				Param "2"
			}
		}
	}
	xHandle {
		MsgParam "WCH_FILTERLOSTFOCUS"
		MsgParam "NULL"
		Driver {
            Class "OneSlot"
			Method {
				Class "ShowCanvas"
				Param "Tips0"
				Param "0"
			}
		}
	}
}