# Creature3D Script Parser v1.0

Data {
    Class "JXJUIFx"
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJUIAchievementPrompt"
				Param "UI_Achievement_DongHua"
				Param "Icon"
				Param "Input1"
				Param "Input2"
				Param "DongHua"
			}
		}
	}
	Handle {
		MsgParam "Frame"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUIFxFrame"
			}
			Method {
				Class "JXJUIAchievementPromptUIShow"
				Param "UI_Achievement_DongHua"
				Param "Icon"
				Param "Input1"
				Param "Input2"
				Param "DongHua"
				Param "Plane011"
				Param "sw2"
			}
		}
	}
}