# Creature3D Script Parser v1.0

Data {
    Class "JXJAppointCanvas"
	Handle {
		MsgParam "Frame"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class  "RunFrequencyControl"
				Param "1.0"
			}
			Method {
				Class "JXJUpdateAppointCardValidTime"
				Param "UI_TimeLimit_Input1"
				Param "UI_TimeLimit_Input2"
				Param "UI_TimeLimit_Input3"
				Param "AppointRaido2"
			}
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUISetRadioSelect"
				Param "UI_Appoint"
				Param "AppointRaido"
				Param "0"
				Param "AppointRaido2"
			}
			Method {
				Class "UpdateMe"
			}
		}
	}
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUIAppointJangkaListUpdate"
				Param "UI_Card_List"//±³°üÁÐ±í
				Param ""//Ò³Âë
				Param "AppointRaido"
				Param "T_Icon_Backboard.img"
				Param "sw12"
				Param "sw14"
				Param "sw15"
				Param "UI_MiniImg_1"
				Param "UI_MiniImg_2"
				Param "UI_MiniImg_3"
				Param "UI_LeftArrow"
				Param "UI_RightArrow"
				Param "UI_Appoint_Lack.img"////////
				Param "UI_CardInfo_Input1"
				Param "UI_CardInfo_Input2"
				Param "UI_CardInfo_Input3"
				Param "sw17"
				Param "sw18"
				Param "sw19"
				Param "UI_CardTittle_1"
				Param "UI_CardTittle_2"
				Param "UI_CardTittle3"
				Param "UI_Minicard_White.img"
				Param "UI_Minicard_Green.img"
				Param "UI_Minicard_Blue.img"
				Param "UI_Minicard_Purple.img"
				Param "UI_Minicard_Oange.img"
				Param "UI_Minicard_Oange_One.img"
				Param "UI_Minicard_Oange_Two.img"
				Param "UI_Minicard_Oange_Three.img"
				Param "UI_Minicard_Oange_Four.img"
				Param "UI_Minicard_Oange_Five.img"
				Param "AppointRaido2"
				Param "sw23"
				Param "sw24"
				Param "sw26"
				Param "g56"
				Param "g55"
				Param "g57"
			}
		}
	}
	xHandle {
		MsgParam "InitWindow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJTestNodeSize2"
				Param "L1"
				Param "15"			//charactersize
				Param "20"			//fontsizex
				Param "20"			//fontsizey
				Param "6"			//linespacing
				Param "3"			//underlinespacing
				Param ""
				Param "GameList"
				Param "L2"
				Param "L3"
				Param "L4"
				Param "L5"
			}

		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "0"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJArrowsUITypeSelect"
				Param "UI_ManorStair_RenWu"
				Param "0"
			}
		}
	}
}