# Creature3D Script Parser v1.0

Data {
    Class "JXJCheckBuildingCanvas"
	Handle {
		MsgParam "Frame"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class  "RunFrequencyControl"
				Param "0.5"
			}
			Method {
				Class "JXJUIBuildLevelUpCheck"
				Param "UI_AncientHouse_Upgrade"
				Param "UI_Promt_H"
				Param "UI_Time"
				Param "UI_Need"
				Param "UI_Money"
				Param "UI_Wood"
				Param "UI_Iron"
				Param "UI_Food"
				Param "UI_AncientHouse"
				Param "UI_Level"
				Param "NULL"
				Param "NULL"
				Param "UI_AncientHouse_Yjsm"
			}
			//level
			Method {
				Class "JXJSetConstructtionLevel"
			}
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUISetBuildCanvasName"
				Param "UI_Name"
				Param "UI_Curfunction"
			}
			Method {
				Class "JXJSetBuildCanvas"
				Param "UI_AncientHouse_Picture"
			}
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "0"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJArrowsUITypeSelect"
				Param "UI_ManorStair_RenWu"
				Param "0"
			}
		}
	}
}