# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "Frame"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "RunFrequencyControl"
				Param "1.0"
			}
			Method {
				Class "JXJDelayCanvasClose"
			}
		}
	}
}