# Creature3D Script Parser v1.0

Data {
	Class "JXJAccomplishCanvasIcon"
	Handle {
		MsgParam "InitWindow"
		MsgParam "0"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJChengjiuButtonInit"
				Param "UI_Button1"
				Param "UI_Button2"
				Param "UI_Button3"
				Param "UI_Button4"
				Param "UI_Button5"
				Param "UI_Button6"
				Param "UI_Button7"
				Param "UI_Button8"
				Param "UI_Button9"
				Param "UI_Button10"
				Param "UI_Button11"
				Param "11"//面板总按钮数
				Param "UI_Achievement_Icon1"
				Param "UI_Achievement_Icon2"
				Param "UI_Achievement_Icon3"
				Param "UI_Achievement_Icon4"
				Param "UI_Achievement_Icon5"
			}
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJChengjiuShopScrollInit"
				Param "UI_Achievement_ListScroll2"
			}
			Method {
				Class "UpdateMe"
			}
		}
	}
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJUIAchievementUpdateNew"
				Param "UI_Button1"
				Param "UI_Button2"
				Param "UI_Button3"
				Param "UI_Button4"
				Param "UI_Button5"
				Param "UI_Button6"
				Param "UI_Button7"
				Param "UI_Button8"
				Param "UI_Button9"
				Param "UI_Button10"
				Param "UI_Button11"
				Param "UI_Achievement_Icon1"
				Param "UI_Achievement_Icon2"
				Param "UI_Achievement_Icon3"
				Param "UI_Achievement_Icon4"
				Param "UI_Achievement_Icon5"
				Param "UI_Achievement_Icon6"
				Param "UI_Achievement_Icon7"
				Param "UI_Achievement_Input1_1"
				Param "UI_Achievement_Input1_2"
				Param "Weiwang_shuliang1"
				Param "weiwangcheng_Txt1"
				Param "UI_Achievement_Input1_3"
				Param "UI_Achievement_Input2_1"
				Param "UI_Achievement_Input2_2"
				Param "Weiwang_shuliang2"
				Param "weiwangcheng_Txt2"
				Param "UI_Achievement_Input2_3"
				Param "UI_Achievement_Input3_1"
				Param "UI_Achievement_Input3_2"
				Param "Weiwang_shuliang3"
				Param "weiwangcheng_Txt3"
				Param "UI_Achievement_Input3_3"
				Param "UI_Achievement_Input4_1"
				Param "UI_Achievement_Input4_2"
				Param "Weiwang_shuliang4"
				Param "weiwangcheng_Txt4"
				Param "UI_Achievement_Input4_4"
				Param "UI_Achievement_Input5_1"
				Param "UI_Achievement_Input5_2"
				Param "Weiwang_shuliang5"
				Param "weiwangcheng_Txt5"
				Param "UI_Achievement_Input5_3"
				Param "UI_Achievement_Input6_1"
				Param "UI_Achievement_Input6_2"
				Param "Weiwang_shuliang6"
				Param "weiwangcheng_Txt6"
				Param "UI_Achievement_Input6_3"
				Param "UI_Achievement_Input7_1"
				Param "UI_Achievement_Input7_2"
				Param "Weiwang_shuliang7"
				Param "weiwangcheng_Txt7"
				Param "UI_Achievement_Input7_3"
				Param "11"//totalBtnNum
				Param "7"//totalItemNum right
				Param "5"//OneItemNum right
				Param "UI_Achievement_ListScroll"
				Param "UI_Achievement_Input1"
				Param "UI_Achievement_Input"
				Param "Chengjiu_Xz1"
				Param "Chengjiu_Xz2"
				Param "Chengjiu_Xz3"
				Param "Chengjiu_Xz4"
				Param "Chengjiu_Xz5"
				Param "Chengjiu_Xz6"
				Param "Chengjiu_Xz7"
				Param "UI_Achievement_Guozhan_T"
				Param "UI_Achievement_Lingdi_T"
				Param "UI_Achievement_Fengdi_T"
				Param "UI_Achievement_Jianka_T"
				Param "UI_Achievement_Fuben_T"
				Param "UI_Achievement_Exp"
				Param "UI_Achievement_Guozhan_Shu"
				Param "TUI_Achievement_LIngzhu_Shu"
				Param "UI_Achievement_Fengdi_Shu"
				Param "UI_Achievement_Jianka_Shu"
				Param "UI_Achievement_Fuben_Shu"
				Param "UI_Achievement_Exp_Txt"
				Param "UI_Achievement_Meiri"
				Param "UI_Achievement_Huoyue"
				Param "UI_Achievement_Tianshu"
				Param "UI_Achievement_Chenjiudian"
				Param "UI_Achievement_Zhuantai"
				Param "UI_Goumai1"
				Param "UI_Goumai3"
				Param "UI_Goumai5"
				Param "UI_Goumai7"
				Param "UI_Goumai9"
				Param "UI_Goumai2"
				Param "UI_Goumai4"
				Param "UI_Goumai6"
				Param "UI_Goumai8"
				Param "UI_Goumai10"
				Param "Goumai_Shu1"
				Param "Goumai_Shu3"
				Param "Goumai_Shu5"
				Param "Goumai_Shu7"
				Param "Goumai_Shu9"
				Param "Goumai_Shu2"
				Param "Goumai_Shu4"
				Param "Goumai_Shu6"
				Param "Goumai_Shu8"
				Param "Goumai_Shu10"
				Param "Goumai_Icon1"
				Param "Goumai_Icon3"
				Param "Goumai_Icon5"
				Param "Goumai_Icon7"
				Param "Goumai_Icon9"
				Param "Goumai_Icon2"
				Param "Goumai_Icon4"
				Param "Goumai_Icon6"
				Param "Goumai_Icon8"
				Param "Goumai_Icon10"
				Param "UI_Achievement_ListScroll2"
				Param "Chengjiuqiehuan"
				Param "200|338"
				Param "500|540"
				Param "1001|1022"
				Param "1501|1507"
				Param "1|52"
				Param "T_Icon_Task_Food.img"//粮草
				Param "T_Icon_Task_Wood.img"//木材
				Param "T_Icon_Task_Ore.img"//铁矿
				Param "T_Icon_Task_Horse.img"//马匹
				Param "T_Icon_Task_Coins.img"//铜钱
				Param "T_Icon_Task_EXP.img"//经验
				Param "T_Icon_Task_Gongxun.img"//功勋
				Param "T_Icon_Task_Gifts.img"//礼金
				Param "T_Icon_Task_CountryContribution.img"//国家贡献
				Param "T_Icon_Task_Zhangong.img"//战功
				Param "T_Icon_Task_VIP.img"//vip经验
				Param "T_Icon_Zhengzhanjuan.img"//vip经验
				Param "Chengjiu1"
				Param "Chengjiu2"
				Param "Chengjiu3"
				Param "Chengjiu4"
				Param "Chengjiu5"
				Param "Chengjiu6"
				Param "Chengjiu7"
				Param "Input1_10"
				Param "Input1_11"
				Param "Input1_12"
				Param "Input1_13"
				Param "Input1_14"
				Param "Input1_19"
				Param "Input1_18"
				Param "Input1_17"
				Param "Input1_16"
				Param "Input1_15"
			}
		}
	}
	Handle {
		MsgParam16 "NULL"
		MsgParam16 "SCROLLUP"
		Driver {
			Class "OneSlot"
			Method {
				Class  "JXJListCtrlScrollEx"
				Param "Chengjiuqiehuan"
				Param "UI_Achievement_ListScroll"
				Param "UI_Achievement_ListScroll2"
				Param "0"
			}
		}
	}
	Handle {
		MsgParam16 "NULL"
		MsgParam16 "SCROLLDOWN"
		Driver {
			Class "OneSlot"
			Method {
				Class  "JXJListCtrlScrollEx"
				Param "Chengjiuqiehuan"
				Param "UI_Achievement_ListScroll"
				Param "UI_Achievement_ListScroll2"
				Param "1"
			}
		}
	}
}