# Creature3D Script Parser v1.0

Data {
    Class "JXJQueryRankingUI"
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "ShowCanvas"
				Param "UI_Billboard"
				Param "0"
			}
			Method {
				Class "JXJQueryGovPostRanking"
			}
			Method {
				Class "UpdateMe"
			}
		}
	}
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUIGovPostOnShow"
				Param "UI_AncientHouse_GovernmentPost_Picture"
				Param "UI_AncientHouse_GovernmentPost_Upgrade"//升官
				Param "UI_AncientHouse_GovernmentPost_Input2"//当前官职
				Param "UI_AncientHouse_GovernmentPost_Input4"//带兵量
				Param "UI_AncientHouse_GovernmentPost_Input5"//功勋
				Param "UI_AncientHouse_GovernmentPost_Input6"//下一官职
				Param "UI_AncientHouse_GovernmentPost_Input7"//下一官职带兵
				Param "UI_AncientHouse_GovernmentPost_Input8"//升级需求
				Param "UI_AncientHouse_GovernmentPost_Lingqu"//领取俸禄
			}
			xMethod {
				Class "JXJUIExploitRanking"
				Param "UI_AncientHouse_GovernmentPost_Input8"
				Param "UI_AncientHouse_GovernmentPost_Upgrade"//升官
				Param "GameList"//升官
			}
			Method {
				Class "JXJUIPostRankingPageShow"
				Param "UI_Page_1"
				Param "GameList"
				Param "UI_MyRanking"
				Param "Tips0"
				Param "TipsText"
				Param "UI_AncientHouse_GovernmentPost_OfficeShop"
				Param "UI_AncientHouse_GovernmentPost_OfficeList"
				Param "UI_Crops1"
			}
		}
	}
	Handle {
		MsgParam "InitWindow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJTestNodeSize2"
				Param "L1"
				Param "15"			//charactersize
				Param "20"			//fontsizex
				Param "20"			//fontsizey
				Param "6"			//linespacing
				Param "3"			//underlinespacing
				Param ""
				Param "GameList"
				Param "L2"
				Param "L3"
				Param "L4"
				Param "L5"
			}

		}
	}
}