# Creature3D Script Parser v1.0

Data {
    Class "JXJArmyAdviserCanvas"
	Handle {
		MsgParam "InitWindow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJSetProgressBarType"
				Param "Qkns_EXP1"
				Param "1"
			}
			Method {
				Class "JXJSetProgressBarType"
				Param "Qkns_EXP2"
				Param "1"
			}
			Method {
				Class "JXJSetProgressBarType"
				Param "Qkns_EXP3"
				Param "1"
			}
			Method {
				Class "JXJSetProgressBarType"
				Param "Qkns_EXP4"
				Param "1"
			}
			Method {
				Class "JXJCanvasTableWidgetInit"
				Param "GameList"
				Param "UI_ArmyAdviser_Listctrl_1"
				Param "UI_ArmyAdviser_Listctrl_2"
				Param "UI_ArmyAdviser_Listctrl_3"
				Param "UI_ArmyAdviser_Listctrl_4"
				Param "UI_ArmyAdviser_Listctrl_5"
				Param "UI_ArmyAdviser_Listctrl_6"
				Param "UI_ArmyAdviser_Listctrl_7"
				Param "UI_ArmyAdviser_Listctrl_8"
				Param "UI_ArmyAdviser_Listctrl_9"
				Param "UI_ArmyAdviser_Listctrl_10"
				Param "UI_ArmyAdviser_Listctrl_11"
				Param "UI_ArmyAdviser_Listctrl_12"
				Param "UI_ArmyAdviser_Listctrl_13"
				Param "UI_ArmyAdviser_Listctrl_14"
				Param "UI_ArmyAdviser_Listctrl_15"
				Param "UI_ArmyAdviser_Listctrl_16"
			}
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJSetVipCanvasPageNum"
			}
			Method {
				Class "UpdateMe"
			}
		}
	}
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJVIPCanvasOnShow"
				Param "UI_ArmyAdviser_Input1"
				Param "UI_ArmyAdviser_Input1_"
				Param "ArmyAdviserRaido2"
				Param "sw11"
				Param "EXP"
				Param "UI_ArmyAdviser_Input2"
				Param "GameList"
				Param "UI_ArmyAdviser_Upgrade"
				Param "UI_ArmyAdviser_Sevenstar"
				Param "ArmyAdviserRaido2"
				Param "Icon1"
				Param "Icon2"
				Param "Icon3"
				Param "Icon4"
				Param "Qkns_EXP1"
				Param "Qkns_EXP2"
				Param "Qkns_EXP3"
				Param "Qkns_EXP4"
				Param "Qkns_Input2"
				Param "Qkns_Input6"
				Param "Qkns_Input10"
				Param "Qkns_Input14"
				Param "Qkns_Input4"
				Param "Qkns_Input8"
				Param "Qkns_Input12"
				Param "Qkns_Input16"
				Param "UI_ArmyAdviser_Qkns_Upgrade1"
				Param "UI_ArmyAdviser_Qkns_Upgrade2"
				Param "UI_ArmyAdviser_Qkns_Upgrade3"
				Param "UI_ArmyAdviser_Qkns_Upgrade4"
				Param "UI_ArmyAdviser_ListScroll"
				Param "UI_VIP_Level"
				Param "sw2_3"
				Param "sw20"
				Param "sw2_4"
				Param "UI_VIP_ChengHao"
				Param "GameList"
				Param "UI_ArmyAdviser_Shuoming"
				Param "UI_ArmyAdviser_Shengjixuyao"
				Param "UI_ArmyAdviser_Left"//上一页
				Param "UI_ArmyAdviser_Right"//下一页
				Param "VIP_Linqu"
				Param "UI_Event_Icon1"
				Param "UI_Event_Icon2"
				Param "UI_Event_Icon3"
				Param "UI_Event_Icon4"
				Param "UI_Event_Icon5"
				Param "UI_Event_Input15"
				Param "UI_Event_Input16"
				Param "UI_Event_Input17"
				Param "UI_Event_Input18"
				Param "UI_Event_Input19"
			}
			xMethod {
				Class "JXJUIChangePageShowWidget"
				Param "22305"
				Param "22306"
				Param "NULL"	
				Param "UI_ArmyAdviser_Left"//上一页
				Param "UI_ArmyAdviser_Right"//下一页
				Param "NULL"				
			}
		}
	}
}