# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJUIOnFormationArmCancel"
				Param "0"
				Param "UI_Beta2_Formation_Input30"
				Param "UI_Beta2_Formation_Input31"
				Param "UI_Beta2_Formation_Input32"
				Param "UI_Beta2_Formation_Input18"
				Param "UI_Beta2_Formation_Input19"
				Param "UI_Beta2_Formation_Input20"
				Param "UI_Beta2_Formation_Input21"
				Param "UI_Beta2_Formation_Jkxz_Bar1"
				Param "UI_Beta2_Formation_Bztx9"
				Param "UI_Beta2_Formation_Jkxz1"
				Param "UI_Beta2_Formation_Jkxz2"
				Param "UI_Beta2_Formation_Jkxz3"
				Param "UI_Jk"
				Param "T_Jktx_Zktj.img"
				Param "sw41"
				Param "sw44"
				Param "sw45"
				Param "sw46"
				Param "sw47"
				Param "sw48"
				Param "T_Jktx_Fktj.img"
				Param "UI_Beta3_Formation_Ed1"
				Param "UI_Beta3_Formation_Ed2"
				Param "UI_Beta3_Formation_Ed3"
				Param "UI_Prompt1"
				Param "UI_Prompt1_Drag"
				Param "UI_Prompt1_Input"
			}
		}
	}
}