# Creature3D Script Parser v1.0

Data {
    Class "JXJUIMail"
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUIOnMailShow"
				Param "UI_Beta2_Mail_Hylb"
				Param "UI_Beta2_Mail_Syj_Input1" 
				Param "UI_Beta2_Mail_Syj_Input2"
				Param "Gamelist"
				Param "sw19"
				Param "UI_Beta2_Mail_Yj1_Choice" 
				Param "UI_Beta2_Mail_Yj2_Choice"
				Param "UI_Beta2_Mail_Yj3_Choice"
				Param "UI_Beta2_Mail_Yj4_Choice"
				Param "UI_Beta2_Mail_Yj5_Choice"
				Param "UI_Beta2_Mail_Syj_Input1"
				Param "UI_Beta2_Mail_Syj_Input2"
				Param "UI_Beta2_Mail_Syj_Input3"
				Param "UI_Beta2_Mail_Syj_Input4"
				Param "UI_Beta2_Mail_Syj_Input5"
				Param "UI_Beta2_Mail_Syj_Icon1"
				Param "UI_Beta2_Mail_Syj_Icon2"
				Param "UI_Beta2_Mail_Syj_Icon3"
				Param "UI_Beta2_Mail_Syj_Icon4"
				Param "UI_Beta2_Mail_Syj_Icon5"
				Param "UI_Beta2_Mail_Syj_Icon6"
				Param "UI_Beta2_Mail_Xyj_Input6"
				Param "UI_Beta2_Mail_Xyj_Input5"
				Param "UI_Beta2_Mail_Sc"
				Param "UI_Beta2_Mail_Qx"
				Param "UI_Beta2_Mail_Syj_Tq"
				Param "sw40"
				Param "sw41"
				Param "sw42"
				Param "sw45"
				Param "sw46"
				Param "UI_Mail_ListScroll_1"
			}
			Method {
				Class "JXJCheckNewMail"
			}
			Method {
				Class "UpdateMe"
			}
		}
	}
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUIOnMailUpdateData"
				Param "UI_Beta2_Mail_Input1"
				Param "UI_MailRaido"
				Param "UI_Beta2_Mail_Yj1_Input1"
				Param "UI_Beta2_Mail_Yj2_Input1"
				Param "UI_Beta2_Mail_Yj3_Input1"
				Param "UI_Beta2_Mail_Yj4_Input1"
				Param "UI_Beta2_Mail_Yj5_Input1"
				Param "UI_Beta2_Mail_Yj1_Input2"
				Param "UI_Beta2_Mail_Yj2_Input2"
				Param "UI_Beta2_Mail_Yj3_Input2"
				Param "UI_Beta2_Mail_Yj4_Input2"
				Param "UI_Beta2_Mail_Yj5_Input2"
				Param "UI_Beta2_Mail_Yj1_Input3"
				Param "UI_Beta2_Mail_Yj2_Input3"
				Param "UI_Beta2_Mail_Yj3_Input3"
				Param "UI_Beta2_Mail_Yj4_Input3"
				Param "UI_Beta2_Mail_Yj5_Input3"
				Param "UI_Beta2_Mail_Yj1"
				Param "UI_Beta2_Mail_Yj2"
				Param "UI_Beta2_Mail_Yj3"
				Param "UI_Beta2_Mail_Yj4"
				Param "UI_Beta2_Mail_Yj5"
				Param "UI_Beta2_Mail_Syj_Input1"
				Param "UI_Beta2_Mail_Syj_Input2"
				Param "UI_Beta2_Mail_Syj_Input3"
				Param "UI_Beta2_Mail_Syj_Input4"
				Param "UI_Beta2_Mail_Syj_Input5"
				Param "UI_Beta2_Mail_Syj_Icon1"
				Param "UI_Beta2_Mail_Syj_Icon2"
				Param "UI_Beta2_Mail_Syj_Icon3"
				Param "UI_Beta2_Mail_Syj_Icon4"
				Param "UI_Beta2_Mail_Syj_Icon5"
				Param "sw40"
				Param "sw41"
				Param "sw42"
				Param "sw45"
				Param "sw46"
				Param "UI_Beta2_Mail_Sc"
				Param "UI_Beta2_Mail_Qx"
				Param "UI_Beta2_Mail_Syj_Tq"
				Param "UI_Mail_ListScroll_1"
				Param "sw19"
			}
			Method {
				Class "JXJUIChangePageShowWidget"
				Param "20602"
				Param "20600"
				Param ""//第一页
				Param "UI_Beta2_Mail_Left"//上一页
				Param "UI_Beta2_Mail_Right"//下一页
				Param ""//最后一页
			}
		}
	}
	Handle {
		MsgParam "Frame"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class  "RunFrequencyControl"
				Param "1.0"
			}
			Method {
				Class "JXJNewMailSwitchControl"
				Param "UI_ManorStair_JueSe"
				Param "mailplay"
			}
		}
	}
	Handle {
		MsgParam16 "NULL"
		MsgParam16 "SCROLLUP"
		Driver {
			Class "OneSlot"
			Method {
				Class  "JXJListCtrlScroll"
				Param "UI_Mail_ListScroll_1"
				Param "0"
			}
		}
	}
	Handle {
		MsgParam16 "NULL"
		MsgParam16 "SCROLLDOWN"
		Driver {
			Class "OneSlot"
			Method {
				Class  "JXJListCtrlScroll"
				Param "UI_Mail_ListScroll_1"
				Param "1"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+20900"//WCH_JXJUIMailTip
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJUIMailTip"
				Param "UI_Beta2_Mail_Syj_Input5"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+20577"//WCH_JXJQueryMailShow
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJQueryMailShow"
				Param "UI_Beta2_Mail_Yj1_Choice" 
				Param "UI_Beta2_Mail_Yj2_Choice"
				Param "UI_Beta2_Mail_Yj3_Choice"
				Param "UI_Beta2_Mail_Yj4_Choice"
				Param "UI_Beta2_Mail_Yj5_Choice"
				Param "UI_Beta2_Mail_Yj1_Input1"
				Param "UI_Beta2_Mail_Yj2_Input1"
				Param "UI_Beta2_Mail_Yj3_Input1"
				Param "UI_Beta2_Mail_Yj4_Input1"
				Param "UI_Beta2_Mail_Yj5_Input1"
				Param "UI_Beta2_Mail_Yj1_Input2"
				Param "UI_Beta2_Mail_Yj2_Input2"
				Param "UI_Beta2_Mail_Yj3_Input2"
				Param "UI_Beta2_Mail_Yj4_Input2"
				Param "UI_Beta2_Mail_Yj5_Input2"
				Param "UI_Beta2_Mail_Yj1_Input3"
				Param "UI_Beta2_Mail_Yj2_Input3"
				Param "UI_Beta2_Mail_Yj3_Input3"
				Param "UI_Beta2_Mail_Yj4_Input3"
				Param "UI_Beta2_Mail_Yj5_Input3"
				Param "UI_Beta2_Mail_Yj1"
				Param "UI_Beta2_Mail_Yj2"
				Param "UI_Beta2_Mail_Yj3"
				Param "UI_Beta2_Mail_Yj4"
				Param "UI_Beta2_Mail_Yj5"
				Param "UI_Beta2_Mail_Input1"
				Param "UI_Beta2_Mail_Qx"
				Param "UI_Beta2_Mail_Sc"
				Param "UI_Beta2_Mail_Syj_Input3"
				Param "UI_Beta2_Mail_Syj_Input4"
				Param "UI_Beta2_Mail_Syj_Input5"
			}
			Method {
				Class "JXJUIChangePageShowWidget"
				Param "20602"
				Param "20600"
				Param ""//第一页
				Param "UI_Beta2_Mail_Left"//上一页
				Param "UI_Beta2_Mail_Right"//下一页
				Param ""//最后一页
			}
		}
	}
}