# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUISelectBirthPointInit"
				Param "UI_Beta2_Battleground_Csd_Input1_Time"
				Param "UI_Beta2_Battleground_Csd_Cheng"
				Param "UI_Beta2_Battleground_Csd_GkduImage"
				Param "UI_Beta2_Battleground_Csd_JuDian"
				Param "UI_Beta2_Battleground_Csd_Gong"
				Param "UI_Beta2_Battleground_Csd_Shou"
				Param "UI_Beta2_Battleground_Csd_Input3"
				Param "UI_Beta2_Battleground_Csd_Input2"
				Param "UI_Beta2_Battleground_Csd_Input1"
				Param "UI_Beta2_Battleground_Csd_Condition"
				Param "UI_RotMap_1"
			}
			Method {
				Class "JXJSetBattleCameraMoveable"
				Param "0"
			}
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "0"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJSetBattleCameraMoveable"
				Param "1"
			}
		}
	}
}