# Creature3D Script Parser v1.0

Data {
    Class "JXJUIBattle"
	Handle {
		MsgParam "InitWindow"
		MsgParam "0"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJBattleScrollBar"
				Param "GameList1"
				Param "UI_Battleground_Jr1_ListScroll"
				Param "35"
			}
			Method {
				Class "JXJBattleScrollBar"
				Param "GameList2"
				Param "UI_Battleground_Jr1_ListScroll_1"
				Param "35"
			}
			Method {
				Class "JXJTestNodeSize2"
				Param "Battleground_ListCtrl1"
				Param "15"			//charactersize
				Param "20"			//fontsizex
				Param "20"			//fontsizey
				Param "21"			//linespacing
				Param "3"			//underlinespacing
				Param "UI_Battleground_Jr1_ListScroll"
				Param "GameList1"
			}
			Method {
				Class "JXJTestNodeSize2"
				Param "Battleground_ListCtrl2"
				Param "15"			//charactersize
				Param "20"			//fontsizex
				Param "20"			//fontsizey
				Param "21"			//linespacing
				Param "3"			//underlinespacing
				Param "UI_Battleground_Jr1_ListScroll_1"
				Param "GameList2"
			}
		}
	}
	xHandle {
		MsgParam "InitWindow"
		MsgParam "1"
		Driver {
			Class "OneSlot"
			Method {
				Class "SetMsgTraverse"
				Param "15"
			}
		}
	}
	Handle {
		MsgParam "Frame"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			xMethod {
				Class  "RunFrequencyControl"
				Param "1.0"
			}
			xMethod {
				Class  "JXJBattleTimterRuntime"
				Param "UI_Battleground_Jr1"
			}
			xMethod {
				Class "UpdateMe"
			}
			Method {
				Class  "RunFrequencyControl"
				Param "20.0"
			}
			Logic {
				Class  "IF_ELSE"
				Method {//条件
					Class "JXJIsBattleOpened"
				}
				Method {
					Class "JXJUIQueryBattleTimer"
				}
			}
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUIQueryBattleTimer"
			}
			Method {
				Class  "JXJOnBattleUI"
			}
			Method {
				Class "CanvasDoEvent"
				Param "UI_Battleground_Jr1"
				Param "WCH_USER16"
				Param "NULL"
			}
			xMethod {
				Class "JXJUISetDefaultAttactCountry"
				Param "weiguo"
				Param "shuguo"
				Param "wuguo"
			}
			xMethod {
				Class "JXJReBuildAttactList"
				Param "GameList1"
				Param "qiehuan"
				Param "weiguo"
				Param "shuguo"
				Param "wuguo"
				Param "Enter1"//进入按钮
				Param "Enter2"//进入按钮
				Param "Enter3"//进入按钮
				Param "Enter4"//进入按钮
				Param "Enter5"//进入按钮
				Param "Enter6"//进入按钮
				Param "Enter7"//进入按钮
			}
			xMethod {
				Class "JXJSortAttactList"
				Param "GameList1"
				Param "qiehuan"
			}
			Method {
				Class "UpdateMe"
			}
			Logic {
				Class  "IF_ELSE"
				Method {//条件
					Class "JXJMyCountryHaveCityInBattle"
				}
				Method {
					Class "BigMapMoveToSelectedCityPos"
					Param "Map"
					Param "UI_Battleground_Jr1_minimap"
					Param "Imager"
					Param "Frame"
					Param "UI_Battleground_Jr1_map"
					Param "GameList1"
					Param "10"
				}
			}
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "0"
		Driver {
			Class "OneSlot"
			Method {
				Class  "JXJLeaveBattleUI"
			}
		}
	}
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUIBattlegroundUpdate"
				Param "UI_Beta2_Battleground_Cz_Time"//战争计时器
				Param "GameList1"//战场列表
				Param "UI_Battleground_Jr1_Input2"//城市
				Param "UI_Beta2_Battleground_Cz_Shili1"//攻1
				Param "UI_Beta2_Battleground_Cz_Shili2"//攻2
				Param "UI_Beta2_Battleground_Cz_Shili3"//攻3
				Param "UI_Beta2_Battleground_Cz_shili4"//守1				
				Param "UI_Battleground_Jr1_Jrzc"//进入战场
				Param "1800"//城战剩余最小时间
				Param "name_sw"
				Param "sw73"
				Param "UI_Battleground_Jr1_ListScroll"
				Param "UI_Battleground_Jr1_ListScroll_1"
				Param "ccduanxz1"
				Param "ccduanxz2"
				Param "ccduanxz3"
				Param "ccduanxz4"
				Param "ccduanxz5"
				Param "ccduanxz6"
				Param "ccduanxz7"
				Param "UI_Battleground_Jr1_time"
				Param "UI_Battleground_Jr1_map"//map
				Param "play"//战火
				Param "GameList2"
				Param "Enter8"//进入按钮
				Param "Enter9"//进入按钮
				Param "Enter10"//进入按钮
				Param "Enter11"//进入按钮
				Param "Enter12"//进入按钮
				Param "Enter13"//进入按钮
				Param "Enter14"//进入按钮
				Param "UI_Battleground_Jr1"
				Param "sw501"
				Param "Xzzhuant1"
				Param "Xzzhuant2"
				Param "Xzzhuant3"
				Param "Xzzhuant4"
				Param "Xzzhuant5"
				Param "Xzzhuant6"
				Param "Xzzhuant7"
				Param "qiehuan"
			}
			xMethod {
				Class "JXJUIBattlegroundMapUpdate"
				Param "UI_Battleground_Jr1_Gong"//进攻
				Param "UI_Battleground_Jr1_Shou"//防守
			}
		}
	}
	Handle {
		MsgParam16 "WCH_USER16"
		MsgParam16 "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJUIBuildBattlegroundList"
				Param "GameList2"//守战场列表
				Param "GameList1"//攻战场列表
				Param "UI_Battleground_Jr1_map"//map
				Param "play"//战火
				Param "Enter1_1"//进入按钮
				Param "Enter2_1"//进入按钮
				Param "Enter3_1"//进入按钮
				Param "Enter4_1"//进入按钮
				Param "Enter5_1"//进入按钮
				Param "Enter6_1"//进入按钮
				Param "Enter7_1"//进入按钮
				Param "0.3"
				Param "UI_Line_Blue.img"//魏路贴图
				Param "UI_Line_Green.img"//蜀路贴图
				Param "UI_Line_Red.img"//吴路贴图
				Param "UI_Line_none.img"//群路贴图
				Param "UI_Border_Wei.img"//勾边贴图wei
				Param "UI_Border_Shu.img"//勾边贴图shu
				Param "UI_Border_Wu.img"//勾边贴图wu
				Param "T_BigMap.img"//背景贴图
				Param "Map"//背景ImageBox
				Param "Jiao1"
				Param "Jiao2"
				Param "Jiao3"
				Param "Jiao4"
				Param "Jiao5"
				Param "Jiao6"
				Param "Jiao7"
				Param "Pai1"
				Param "Pai2"
				Param "Pai3"
				Param "Pai4"
				Param "Pai5"
				Param "Pai6"
				Param "Pai7"
			}
		}
	}
	xHandle {
		MsgParam16 "NULL"
		MsgParam16 "MOUSEMOVE"
		Driver {
			Class "OneSlot"
			Method {
				Class "UpdateMe"
			}
		}
	}
	Handle {
		MsgParam16 "NULL"
		MsgParam16 "SCROLLUP"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJBattleListCtrlScroll"
				Param "UI_Battleground_Jr1_ListScroll"
				Param "UI_Battleground_Jr1_ListScroll_1"
				Param "0"
			}
		}
	}
	Handle {
		MsgParam16 "NULL"
		MsgParam16 "SCROLLDOWN"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJBattleListCtrlScroll"
				Param "UI_Battleground_Jr1_ListScroll"
				Param "UI_Battleground_Jr1_ListScroll_1"
				Param "1"
			}
		}
	}
}