# Creature3D Script Parser v1.0

Data {
    Class "JXJUIFormation"
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "WidgetDoEvent2"
				Param "UI_XLunhui"
				Param "UI_XLunhui_Close"
				Param "LEFT_MOUSE_BUTTON"
				Param "MOUSERELEASE"
			}
			Method {
				Class "JXJResetTempFormationVec"
				Param "UI_Beta2_Formation"
				Param "sw110"
				Param "sw111"
				Param "sw112"
				Param "sw113"
				Param "FormationRaido2"
			}
			Method {
				Class "JXJRadioWidgetInitSelect"
				Param "UI_Beta2_Formation_Radio"
				Param "-1"
			}
			Method {
				Class "UpdateMe"
			}
		}
	}
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUISetTempFormation"
				Param "UI_Beta2_Formation_Input40"
				Param "UI_Beta2_Formation_Input41"
				Param "UI_Beta2_Formation_Input42"
				Param "UI_Beta2_Formation_Input43"
				Param "UI_Beta2_Formation_Edit1"
				Param "UI_Beta2_Formation_Edit2"
				Param "UI_Beta2_Formation_Edit3"
				Param "UI_Beta2_Formation_Edit4"
				Param "UI_Beta2_Formation_Add1"
				Param "UI_Beta2_Formation_Add2"
				Param "UI_Beta2_Formation_Add3"
				Param "UI_Beta2_Formation_Add4"
				Param "UI_Beta3_Formation_Backboard2"
				Param "UI_Beta3_Formation_Backboard3"
				Param "UI_Beta3_Formation_Backboard4"
				Param "UI_Beta3_Formation_Backboard5"
				Param "UI_Beta2_Formation_Input40_1"
				Param "UI_Beta2_Formation_Input41_1"
				Param "UI_Beta2_Formation_Input42_1"
				Param "UI_Beta2_Formation_Input43_1"
				Param "InputEdit1"
				Param "InputEdit2"
				Param "InputEdit3"
				Param "InputEdit4"
			}
			Method {
				Class "JXJUIOnFormationShow"
				Param "UI_Beta2_Formation_Bztx1"
				Param "UI_Beta2_Formation_Bztx2"
				Param "UI_Beta2_Formation_Bztx3"
				Param "UI_Beta2_Formation_Bztx4"
				Param "UI_Beta2_Formation_Bztx5"
				Param "UI_Beta2_Formation_Bztx6"
				Param "UI_Beta2_Formation_Bztx7"
				Param "UI_Beta2_Formation_Bztx8"
				Param "UI_Beta2_Formation_BName1"
				Param "UI_Beta2_Formation_BName2"
				Param "UI_Beta2_Formation_BName3"
				Param "UI_Beta2_Formation_BName4"
				Param "UI_Beta2_Formation_BName5"
				Param "UI_Beta2_Formation_BName6"
				Param "UI_Beta2_Formation_BName7"
				Param "UI_Beta2_Formation_BName8"
				Param "UI_Beta2_Formation_BNumber1"
				Param "UI_Beta2_Formation_BNumber2"
				Param "UI_Beta2_Formation_BNumber3"
				Param "UI_Beta2_Formation_BNumber4"
				Param "UI_Beta2_Formation_BNumber5"
				Param "UI_Beta2_Formation_BNumber6"
				Param "UI_Beta2_Formation_BNumber7"
				Param "UI_Beta2_Formation_BNumber8"
				Param "UI_Beta2_Formation_Input30"
				Param "UI_Beta2_Formation_Input31"
				Param "UI_Beta2_Formation_Input32"
				Param "UI_Beta2_Formation_Bztx9"
				Param "UI_Beta2_Formation_Bztx10"
				Param "UI_Beta2_Formation_Bztx11"
				Param "UI_Beta2_Formation_Input18"
				Param "UI_Beta2_Formation_Input22"
				Param "UI_Beta2_Formation_Input26"
				Param "UI_Beta2_Formation_Input19"
				Param "UI_Beta2_Formation_Input23"
				Param "UI_Beta2_Formation_Input27"
				Param "UI_Beta2_Formation_Input20"
				Param "UI_Beta2_Formation_Input24"
				Param "UI_Beta2_Formation_Input28"
				Param "UI_Beta2_Formation_Input21"
				Param "UI_Beta2_Formation_Input25"
				Param "UI_Beta2_Formation_Input29"
				Param "UI_Beta2_Formation_Jkxz1"
				Param "UI_Beta2_Formation_Jkxz2"
				Param "UI_Beta2_Formation_Jkxz3"
				Param "UI_Beta2_Formation_Jkxz4"
				Param "UI_Beta2_Formation_Jkxz5"
				Param "UI_Beta2_Formation_Jkxz6"
				Param "UI_Beta2_Formation_Jkxz7"
				Param "UI_Beta2_Formation_Jkxz8"
				Param "UI_Beta2_Formation_Jkxz9"
				Param "UI_Beta2_Formation_Jkxz_Bar1"
				Param "UI_Beta2_Formation_Jkxz_Bar2"
				Param "UI_Beta2_Formation_Jkxz_Bar3"
				Param "T_Jktx_Zktj.img"//pic1
				Param "UI_Beta3_Formation_Left"
				Param "UI_Beta3_Formation_Right"
				Param "sw41"
				Param "sw44"
				Param "sw45"
				Param "sw46"
				Param "sw47"
				Param "sw48"
				Param "T_Jktx_Fktj.img"//pic2
				Param "FormationRaido"
				Param "UI_Beta3_Formation_Ed1"
				Param "UI_Beta3_Formation_Ed2"
				Param "UI_Beta3_Formation_Ed3"
				Param "sw50"
				Param "UI_Beta2_Formation_BingZhong"
				Param "UI_Beta2_Formation_Number1_1"
				Param "UI_Beta2_Formation_NumBer1_2"
				Param "UI_Beta2_Formation_NumBer1_3"
				Param "UI_Beta2_Formation_NumBer2_1"
				Param "UI_Beta2_Formation_NumBer2_2"
				Param "UI_Beta2_Formation_NumBer2_3"
				Param "UI_Beta2_Formation_NumBer3_1"
				Param "UI_Beta2_Formation_NumBer3_2"
				Param "UI_Beta2_Formation_NumBer3_3"
			}
			xMethod {
				Class "JXJSetMaxArmyCount"
				Param "UI_Beta2_Formation"
				Param "UI_Beta2_Formation_Input19"
				Param "UI_Beta2_Formation_Input23"
				Param "UI_Beta2_Formation_Input27"
			}
			Method {
				Class "JXJSetArmyPower"
				Param "UI_Beta2_Formation"
				Param "UI_Beta2_Formation_InputZhanli1"
				Param "UI_Beta2_Formation_InputZhanli2"
				Param "UI_Beta2_Formation_InputZhanli3"
				Param "UI_Beta2_Formation_InputZhanliAll"
			}
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "0"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJArrowsUITypeSelect"
				Param "UI_ManorStair_RenWu"
				Param "0"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_Xinshouyindao8"
				Param "0"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_Jk"
				Param "0"
			}
			Method {
				Class "ShowCanvas"
				Param "FeudalLord_Bangdingbiandui"
				Param "0"
			}
		}
	}
}