# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSEPUSH"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJCheckOneMail"
				Param "0"
				Param "UI_Beta2_Mail_Sc"
				Param "UI_Beta2_Mail_Hylb"
				Param "UI_Beta2_Mail_Yj1_Choice" 
				Param "UI_Beta2_Mail_Yj2_Choice"
				Param "UI_Beta2_Mail_Yj3_Choice"
				Param "UI_Beta2_Mail_Yj4_Choice"
				Param "UI_Beta2_Mail_Yj5_Choice"
			}
			xMethod {
				Class "CanvasUpdate"
				Param "UI_Beta2_Mail"
			}
		}
	}
}
