# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUISplitItemEquip"
				Param "UI_Beta2_Knapsack_Cfjm_Right_Input1_1"
				Param "UI_Prompt1"
				Param "UI_Prompt1_Input"
			}
			Method {
				Class "CanvasUpdate"
				Param "UI_Knapsack"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_Beta2_Knapsack_Cfjm_cf"
				Param "0"
			}
		}
	}
}