# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "OneSlot"
			Method {
				Class "UpdateMe"
			}
		}
	}
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGameShowFormationInfo"
				Param "Formations"
				Param "Icon1"
				Param "Icon2"
				Param "Icon3"
				Param "Input3"
				Param "Input4"
				Param "Input5"
				Param "HP1"
				Param "HP2"
				Param "HP3"
			}
		}
	}
}