# Creature3D Script Parser v1.0

Data {
    Class "JXJBuildMyCountryPageUpdate"
	
		Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJCounrtyBuildCanvasUpdate"
				Param "UI_Country3_Radio2"
			}
			Logic {
				Class "Switch"
				Method {//条件
					Class "GetRadioGroupValue"
					Param "UI_Country3_Radio2"
				}
				Logic {//case 0 司金台
					Class "ProxyArray"
					Method {
						Class "JXJMyCounrtyBuildInfoCanvasUpdate"
						Param "1"

					}
				}//end case
				Logic {//case 1 神龙庙
					Class "ProxyArray"
					Method {
						Class "JXJMyCounrtyBuildInfoCanvasUpdate"
						Param "2"
					}
				}//end case
				
				Logic {//case 2 司马监
					Class "ProxyArray"
					Method {
						Class "JXJMyCounrtyBuildInfoCanvasUpdate"
						Param "3"
					}
				}//end case
				
				Logic {//case 鲁班祠
					Class "ProxyArray"
					Method {
						Class "JXJMyCounrtyBuildInfoCanvasUpdate"
						Param "4"
					}
				}//end case
				
				Logic {//case 点将台
					Class "ProxyArray"
					Method {
						Class "JXJMyCounrtyBuildInfoCanvasUpdate"
						Param "5"
					}
				}//end case				
			}
		}
}