# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJBattleDeadAddArmyPrompt"
				Param "UI_Zhiyuna"
				Param "Zhiyuna_Money_Input"
				Param "Zhiyuna_Wood_Input"
				Param "Zhiyuna_Iron_Input"				
				Param "Zhiyuna_Horse_Input"					
				Param "Zhiyuna_Food_Input"
				Param "UI_Zhiyuna_Input1"				
				Param "UI_Zhiyuna_Input2"
				Param "UI_Zhiyuna_Confirm"
				Param "UI_Beta2_Battleground_Blbz"
				Param "UI_Beta2_Battleground_Blbz_Input"
			}
			xMethod {
				Class "JXJUIBattleAddArmy"
				Param "UI_Prompt"
				Param "UI_Prompt_Drag"
				Param "UI_Prompt_Input"
				Param "UI_Prompt_Confirm"
				Param "0"
			}
		}
	}
	Handle {
		MsgParam "WCH_OK"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJBattleDeadAddArmy"
			}
			Method {
				Class "CloseParentCanvas"
			}
		}
	}
	Handle {
		MsgParam "WCH_CANCEL"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
                Class "DisconnectScene"
            }
			Method {
                Class "SetRunCode"
                Param "1"
            }
			Method {
                Class "UIExitScene"
                Param "1"
            }
		}
	}
	Handle {
		MsgParam "WCH_CLOSE"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "CloseParentCanvas"
			}
		}
	}	
	xHandle {
		MsgParam "WCH_CLOSE"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
                Class "DisconnectScene"
            }
			Method {
                Class "SetRunCode"
                Param "1"
            }
			Method {
                Class "UIExitScene"
                Param "1"
            }
		}
	}
}