# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJUIOnFormationArmAdd"
				Param "UI_Beta2_Formation_Bztx1"
				Param "UI_Beta2_Formation_Bztx2"
				Param "UI_Beta2_Formation_Bztx3"
				Param "UI_Beta2_Formation_Bztx4"
				Param "UI_Beta2_Formation_Bztx5"
				Param "UI_Beta2_Formation_Bztx6"
				Param "UI_Beta2_Formation_Bztx7"
				Param "UI_Beta2_Formation_Bztx8"
				Param "UI_Beta2_Formation_BName1"
				Param "UI_Beta2_Formation_BName2"
				Param "UI_Beta2_Formation_BName3"
				Param "UI_Beta2_Formation_BName4"
				Param "UI_Beta2_Formation_BName5"
				Param "UI_Beta2_Formation_BName6"
				Param "UI_Beta2_Formation_BName7"
				Param "UI_Beta2_Formation_BName8"
				Param "UI_Beta2_Formation_BNumber1"
				Param "UI_Beta2_Formation_BNumber2"
				Param "UI_Beta2_Formation_BNumber3"
				Param "UI_Beta2_Formation_BNumber4"
				Param "UI_Beta2_Formation_BNumber5"
				Param "UI_Beta2_Formation_BNumber6"
				Param "UI_Beta2_Formation_BNumber7"
				Param "UI_Beta2_Formation_BNumber8"
				Param "UI_Beta2_Formation_Input30"
				Param "UI_Beta2_Formation_Input31"
				Param "UI_Beta2_Formation_Input32"
				Param "UI_Beta2_Formation_Bztx9"
				Param "UI_Beta2_Formation_Bztx10"
				Param "UI_Beta2_Formation_Bztx11"
				Param "UI_Beta2_Formation_Input18"
				Param "UI_Beta2_Formation_Input22"
				Param "UI_Beta2_Formation_Input26"
				Param "UI_Beta2_Formation_Input19"
				Param "UI_Beta2_Formation_Input23"
				Param "UI_Beta2_Formation_Input27"
				Param "UI_Beta2_Formation_Input20"
				Param "UI_Beta2_Formation_Input24"
				Param "UI_Beta2_Formation_Input28"
				Param "UI_Beta2_Formation_Input21"
				Param "UI_Beta2_Formation_Input25"
				Param "UI_Beta2_Formation_Input29"
				Param "UI_Beta2_Formation_Jkxz1"
				Param "UI_Beta2_Formation_Jkxz2"
				Param "UI_Beta2_Formation_Jkxz3"
				Param "UI_Beta2_Formation_Jkxz4"
				Param "UI_Beta2_Formation_Jkxz5"
				Param "UI_Beta2_Formation_Jkxz6"
				Param "UI_Beta2_Formation_Jkxz7"
				Param "UI_Beta2_Formation_Jkxz8"
				Param "UI_Beta2_Formation_Jkxz9"
				Param "UI_Beta2_Formation_Jkxz_Bar1"
				Param "UI_Beta2_Formation_Jkxz_Bar2"
				Param "UI_Beta2_Formation_Jkxz_Bar3"
				Param "UI_Wenbentis"
				Param "Wenbentis"
				Param "UI_Beta3_Formation_Ed1"
				Param "UI_Beta3_Formation_Ed2"
				Param "UI_Beta3_Formation_Ed3"
				Param "4"
				Param "UI_Beta2_Formation_BingZhong"
				Param "4"//延迟自动隐藏控件时间
				Param "UI_ManorStair_Taskbar"				
			}
		}
	}
}