# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "InitWindow"
		MsgParam "1"
		Driver {
			Class "OneSlot"
			Method {
				Class "SetMsgTraverse"
				Param "64"
			}
		}
	}
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUICheckAndSetCDPrompt"
				Param "20093"//hintid
				Param "0"//timeid
				Param "UI_CD_Prompt"
				Param "UI_Information"
				Param "Choice"
				Param "simhei.ttf"//font
				Param "14"//characterSize
				Param "255,255,255,255"//textColor
				Param "0,255,255,255"//goldColor
				Param "UI_Beta3_ManorStair_XFTS_Backboard2"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_CD_Prompt"
				Param "1"
			}
		}
	}
	Handle {
		MsgParam16 "NULL"
		MsgParam16 "MOUSEMOVE"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJUICDTimeTip"
				Param "Tips2"
				Param "TipsText2"
				Param "1"
			}
		}
	}
	Handle {
		MsgParam "WCH_FILTERLOSTFOCUS"
		MsgParam "NULL"
		Driver {
            Class "MoreSlot"
			Method {
				Class "ShowCanvas"
				Param "Tips2"
				Param "0"
			}
			Method {
				Class "JXJUICDTimeColorTip"
			}
		}
	}
}