# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUIKnapsackBuyItem"
				Param "7"
			}
		}
	}
	Handle {
		MsgParam16 "NULL"
		MsgParam16 "MOUSEMOVE"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJUIHuigouTip"
				Param "UI_Tips_Jiusi"
				Param "Jiusi_Input1"
				Param "7"
			}
		}
	}
	Handle {
		MsgParam "WCH_FILTERLOSTFOCUS"
		MsgParam "NULL"
		Driver {
            Class "OneSlot"
			Method {
				Class "ShowCanvas"
				Param "UI_Tips_Jiusi"
				Param "0"
			}
		}
	}
}