# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJUIBattleOpen"
				Param "1"
				Param "UI_Battleground_Jr1"
			}
		}
	}
}