# Creature3D Script Parser v1.0

Data {
    Class "JXJProgressCanvas"
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJDoEventProgressOnShow"
				Param "UI_Beta3_LoadingBarDown"
				Param "0"
			}
		}
	}
	xHandle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJDoEventProgressUpdate"
				Param "0"
				Param "UI_Beta3_LoadingBarDown"
			}
		}
	}
	Handle {
		MsgParam "Frame"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJProgressFrameUpdate"
				Param "UI_Beta3_LoadingBarDown"
				Param "0"//背包批量
				Param "0.5"
			}
		}
	}
}