# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "WCH_FILTERLOSTFOCUS"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "ShowCanvas"
				Param "UI_Card"
				Param "0"
			}
		}
	}
	Handle {
		MsgParam16 "NULL"
		MsgParam16 "MOUSEMOVE"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJUIjiangkaTipInfo"
				Param "UI_Card"
				Param "UI_CharacterImage"//将卡人物#ImageBoxWidget
				Param "sw2"//背景#SwitchWidget
				Param "sw3"//国家#SwitchWidget
				Param "UI_Beta2_Formation_Tips_ShuXing"//属性#SwitchWidget
				Param "UI_Beta2_Formation_Tips_BingZhong"//兵种#SwitchWidget
				Param "UI_Beta2_Formation_Tips_LeiXing"//类型#SwitchWidget
				Param "UI_Input"//技能描述#StaticTextWidget
				Param "UI_CharactorInfo"//姓名#ImageBoxWidget
				Param "UI_Beta2_Formation_Tips_JiNeng"//技能名#ImageBoxWidget
			}
		}
	}
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSEDRAG"
		Driver {
			Class "MoreSlot"
			xMethod {
				Class "JXJUIChangeBagPage"
				Param "UI_KnapsackRaido2"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_Card"
				Param "0"
			}
		}
	}
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSEDOUBLECLICK"
		Driver {
			Class "MoreSlot"
			xMethod {
				Class "JXJUIAddJiangKa"
				Param "UI_Beta2_Formation"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_Card"
				Param "0"
			}
		}
	}
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSEPUSH"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUIUndoSellOneJiangka"
				Param "CardSystemRaido3"
				Param "GameListctrl"
				Param "UI_Jk"
			}
			Method {
				Class "ParentCanvasUpdate"
			}
		}
	}
}