# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "Frame"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			xMethod {
				Class "JXJRebelProgressFrameUpdate"
				Param "UI_Battleground_Jr1_map"
				Param "Time"
			}
			Method {
				Class "JXJRebelCityCanvasFrame"
				Param "UI_Battleground_Jr1_map"
				Param "UI_Battleground_PingPan_Input1"
				Param "PingPan"
				Param "PiLiang"
				Param "Time"
				Param "UI_Battleground_PingPan_Input4"
				Param "0.02f"
			}
			Method {
				Class "JXJProgressFrameUpdate"
				Param "Time"
				Param "2"		// 平判
				Param "1.125"
			}
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJRebelCityCanvasInit"
				Param "UI_Battleground_Jr1_map"
				Param "UI_Battleground_PingPan_Input1"
				Param "UI_Battleground_PingPan_Input2"
				Param "UI_Battleground_PingPan_Icon"
				Param "UI_Battleground_PingPan_Input3"
				Param "sw30"
			}
			xMethod {
				Class "JXJSetWidgetEnable"
				Param "UI_Battleground_PingPan"
				Param "PiLiang"
				Param "0"
			}
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "0"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJRebelCityStop"
				Param "UI_Battleground_Jr1_map"
			}
		}
	}
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJRebelCityCanvasInit"
				Param "UI_Battleground_Jr1_map"
				Param "UI_Battleground_PingPan_Input1"
				Param "UI_Battleground_PingPan_Input2"
				Param "UI_Battleground_PingPan_Icon"
				Param "UI_Battleground_PingPan_Input3"
				Param "sw30"
			}
		}
	}
}