# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJCheckItemType"
				Param "UI_Beta2_Knapsack_Czan_Sy"
				Param "UI_Beta2_Knapsack_Czan_Zs"
				Param "UI_Beta2_Knapsack_Czan_Cs"
				Param "UI_Beta2_Knapsack_Czan_Cf"
			}
		}
	}
	Handle {
		MsgParam16 "WCH_USER16"
		MsgParam16 "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJCheckItemType"
				Param "UI_Beta2_Knapsack_Czan_Sy"
				Param "UI_Beta2_Knapsack_Czan_Zs"
				Param "UI_Beta2_Knapsack_Czan_Cs"
				Param "UI_Beta2_Knapsack_Czan_Cf"
			}
		}
	}
	xHandle {
		MsgParam "InitWindow"
		MsgParam "1"
		Driver {
			Class "OneSlot"
			Method {
				Class "SetMsgTraverse"
				Param "15"
			}
		}
	}
	xHandle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSEPUSH"
		Driver {
			Class "OneSlot"
			Method {
				Class "ShowCanvas"
				Param "UI_Beta2_Knapsack_Czan"
				Param "0"
			}
		}
	}
	Handle {
		MsgParam "WCH_WIDGETLOSTCAPTURE"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "ShowCanvas"
				Param "UI_Beta2_Knapsack_Czan"
				Param "0"
			}
		}
	}
	xHandle {
		MsgParam "LostFocus"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "ShowCanvas"
				Param "UI_Beta2_Knapsack_Czan"
				Param "0"
			}
		}
	}
	xHandle {
		MsgParam "WCH_FILTERLOSTFOCUS"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "ShowCanvas"
				Param "UI_Beta2_Knapsack_Czan"
				Param "0"
			}
		}
	}
}