# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJAddFriendPrompt"
				Param "UI_Beta2_Friend_AddFriend_Input2"
			}
			Method {
				Class "UpdateMe"
			}
		}
	}
	Handle {
		MsgParam16 "KEY_Return"
		MsgParam16 "KEYDOWN"
		Driver {
			Class "MoreSlot"
			Method {
				Class "WidgetDoEvent"
				Param "UI_Beta2_Friend_AddFriend_Add"
				Param "LEFT_MOUSE_BUTTON"
				Param "MOUSERELEASE"
			}
			Method {
				Class "CloseParentCanvas"
			}			
		}
	}
}