# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "OneSlot"
			Method {
				Class "UpdateMe"
			}
		}
	}
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJUISetBattlegroundGroup"
				Param "UI_Battleground_Yqhylb1_Yqhy"//邀请好友
				Param "UI_Battleground_Yqhylb1_Drag"//frame
				Param "UI_Battleground_Yqhylb1_Input1"//队长
				Param "UI_Battleground_Yqhylb1_Input2"//队员1
				Param "UI_Battleground_Yqhylb1_Input3"//队员2
				Param "UI_Battleground_Yqhylb1_Input4"//队员3
				Param "UI_Battleground_Yqhylb1_Input5"//队员4
				Param "UI_Battleground_Yqhylb1_Kspd"//开始排队按钮
				Param "UI_Beta2_Battleground_Yqhy_TouXiang1"//队长
				Param "UI_Beta2_Battleground_Yqhy_TouXiang2"//队员1
				Param "UI_Beta2_Battleground_Yqhy_TouXiang3"//队员2
				Param "UI_Beta2_Battleground_Yqhy_TouXiang4"//队员3
				Param "UI_Beta2_Battleground_Yqhy_TouXiang5"//队员4
			}
		}
	}
}