# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "Frame"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJUICheckInputNum"
				Param ""
			}
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "OneSlot"
			Method {
				Class "UpdateMe"
			}
		}
	}
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJUIKnapsackBuyOnShow"
				Param "GameList_2"//背包列表
				Param "UI_Beta2_Knapsack_Huigou_Icon1"//物品1
				Param "UI_Beta2_Knapsack_Huigou_Icon2"//物品2
				Param "UI_Beta2_Knapsack_Huigou_Icon3"//物品3
				Param "UI_Beta2_Knapsack_Huigou_Icon4"//物品4
				Param "UI_Beta2_Knapsack_Huigou_Icon5"//物品5
				Param "UI_Beta2_Knapsack_Huigou_Icon6"//物品6
				Param "UI_Beta2_Knapsack_Huigou_Icon7"//物品7
				Param "UI_Beta2_Knapsack_Huigou_Icon8"//物品8
				Param "UI_Beta2_Knapsack_Huigou_Input1"//数量1
				Param "UI_Beta2_Knapsack_Huigou_Input2"//数量2
				Param "UI_Beta2_Knapsack_Huigou_Input3"//数量3
				Param "UI_Beta2_Knapsack_Huigou_Input4"//数量4
				Param "UI_Beta2_Knapsack_Huigou_Input5"//数量5
				Param "UI_Beta2_Knapsack_Huigou_Input6"//数量6
				Param "UI_Beta2_Knapsack_Huigou_Input7"//数量7
				Param "UI_Beta2_Knapsack_Huigou_Input8"//数量8
			}
		}
	}
}