# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "InitWindow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJTestNodeSize2"
				Param "UI_Beta2_Friend_Listctrl1"
				Param "14"			//charactersize
				Param "20"			//fontsizex
				Param "20"			//fontsizey
				Param "34"			//linespacing
				Param "3"			//underlinespacing
				Param "UI_Barracks_ListScroll"
				Param "GameList"
				Param "UI_Beta2_Friend_Listctrl2"
			}
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUIQueryFriendList"
				Param "GameList"//好友列表
				Param "UI_Beta2_Friend_Input2"//页码
				Param "UI_Beta2_Friend_Icon1"//头像1
				Param "UI_Beta2_Friend_Icon2"//头像2
				Param "UI_Beta2_Friend_Icon3"//头像3
				Param "UI_Beta2_Friend_Icon4"//头像4
				Param "UI_Beta2_Friend_Icon5"//头像5
				Param "UI_Beta2_Friend_Icon6"//头像6
				Param "UI_Beta2_Friend_Icon7"//头像7
				Param "UI_Beta2_Friend_Fsxx"
				Param "UI_Beta2_Friend_Fsyj"
				Param "UI_Beta2_Friend_Schy"
				Param "UI_Beta2_Friend"
				Param "sw23"
				Param "sw14"
			}
			Method {
				Class "UpdateMe"
			}
		}
	}
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJUIFriendListUpdate"
				Param "GameList"//好友列表
				Param "UI_Beta2_Friend_Input2"//页码
				Param "UI_Beta2_Friend_Icon1"//头像1
				Param "UI_Beta2_Friend_Icon2"//头像2
				Param "UI_Beta2_Friend_Icon3"//头像3
				Param "UI_Beta2_Friend_Icon4"//头像4
				Param "UI_Beta2_Friend_Icon5"//头像5
				Param "UI_Beta2_Friend_Icon6"//头像6
				Param "UI_Beta2_Friend_Icon7"//头像7
				Param "sw14"
			}
		}
	}
}