# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJResetFormationPage"
			}
			Method {
				Class "JXJUIOnFormationArmSelecting"
				Param "UI_Beta2_Formation_Bztx1"
				Param "UI_Beta2_Formation_Bztx2"
				Param "UI_Beta2_Formation_Bztx3"
				Param "UI_Beta2_Formation_Bztx4"
				Param "UI_Beta2_Formation_Bztx5"
				Param "UI_Beta2_Formation_Bztx6"
				Param "UI_Beta2_Formation_Bztx7"
				Param "UI_Beta2_Formation_Bztx8"
				Param "UI_Beta2_Formation_BName1"
				Param "UI_Beta2_Formation_BName2"
				Param "UI_Beta2_Formation_BName3"
				Param "UI_Beta2_Formation_BName4"
				Param "UI_Beta2_Formation_BName5"
				Param "UI_Beta2_Formation_BName6"
				Param "UI_Beta2_Formation_BName7"
				Param "UI_Beta2_Formation_BName8"
				Param "UI_Beta2_Formation_BNumber1"
				Param "UI_Beta2_Formation_BNumber2"
				Param "UI_Beta2_Formation_BNumber3"
				Param "UI_Beta2_Formation_BNumber4"
				Param "UI_Beta2_Formation_BNumber5"
				Param "UI_Beta2_Formation_BNumber6"
				Param "UI_Beta2_Formation_BNumber7"
				Param "UI_Beta2_Formation_BNumber8"
				Param "1"
				Param "UI_Beta3_Formation_Left"
				Param "UI_Beta3_Formation_Right"
				Param "FormationRaido"
				Param "UI_Beta2_Formation_BingZhong"
				Param "UI_Beta2_Formation_Number1_1"
				Param "UI_Beta2_Formation_NumBer1_2"
				Param "UI_Beta2_Formation_NumBer1_3"
				Param "UI_Beta2_Formation_NumBer2_1"
				Param "UI_Beta2_Formation_NumBer2_2"
				Param "UI_Beta2_Formation_NumBer2_3"
				Param "UI_Beta2_Formation_NumBer3_1"
				Param "UI_Beta2_Formation_NumBer3_2"
				Param "UI_Beta2_Formation_NumBer3_3"
			}
		}
	}
}