# Creature3D Script Parser v1.0

Data {
    Class "JXJCheckBuildingCanvas"
	Handle {
		MsgParam "InitWindow"
		MsgParam "0"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJBattleScrollBar"
				Param "GameList"
				Param "UI_Barracks_ListScroll"
				Param "24"
			}
		}
	}
	Handle {
		MsgParam "Frame"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			xMethod {
				Class  "RunFrequencyControl"
				Param "1.0"
			}
			xMethod {
				Class "UpdateMe"
			}
			Method {
				Class  "RunFrequencyControl"
				Param "0.5"
			}
			Method {
				Class "JXJUIBuildLevelUpCheck"
				Param "UI_Barracks_Upgrade"
				Param "UI_Promt_H"
				Param "UI_Time"
				Param "UI_Need"
				Param "UI_Money"
				Param "UI_Wood"
				Param "UI_Iron"
				Param "UI_Food"
				Param "UI_Barracks"
				Param "UI_Level"
				Param "NULL"
				Param "NULL"
				Param "Barracks_Yjsm"
			}
			Method {
				Class "JXJSetConstructtionLevel"
			}
		}
	}
	Handle {
		MsgParam "InitWindow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJTestNodeSize2"
				Param "UI_Barracks_Listctrl"
				Param "15"			//charactersize
				Param "20"			//fontsizex
				Param "20"			//fontsizey
				Param "6"			//linespacing
				Param "3"			//underlinespacing
				Param "UI_Barracks_ListScroll"
				Param "GameList"
			}
			Method {
				Class "JXJTestNodeSize2"
				Param "UI_Barracks_Listctrl_2"
				Param "15"			//charactersize
				Param "20"			//fontsizex
				Param "20"			//fontsizey
				Param "6"			//linespacing
				Param "3"			//underlinespacing
				Param "UI_Barracks_ListScroll"
				Param "GameList"
			}
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUISetBuildCanvasName"
				Param "UI_Name"
				Param "UI_Curfunction"
			}
			Method {
				Class "JXJSetBuildCanvas"
				Param "UI_Beta2_Barracks_Picture"
			}
			Method {
				Class "UpdateMe"
			}
		}
	}
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUIRecruitUpdate"
				Param "ArmyRaido_1"//ArmyRaido
				Param "ArmyRaido"//ArmyTypeRaido
				Param "UI_Barracks_Up"
				Param "UI_Barracks_Down"
			}
			Method {
				Class "JXJUISetDefaultRecruitNum"
				Param "UI_Barracks_Shuliang"
				Param "1"
			}
			Method {
				Class "JXJUIRecruitSelInfoUpdate"
				Param "UI_Barracks_Tiaojian"//条件
				Param "UI_Barracks_Texing"//信息
				Param "UI_Barracks_Shuliang"//数量
				Param "UI_Barracks_Input13"//需求装备
				Param "UI_Barracks_Input15"//装备数量
				Param "UI_Barracks_Input16"//铜钱数量
				Param "UI_Barracks_Input21"//粮食数量
				Param "UI_Barracks_RecruTime"//时间
				Param "UI_Barracks_Recruit"//招募
				Param "UI_Barracks_Forge"//打造
				Param "UI_Barracks_Add"//翻页->
				Param "UI_Barracks_Reduce"//<-翻页
				Param ""
				Param "UI_Barracks_Input19"//铁矿
				Param "UI_Barracks_Input15"//木材
				Param "UI_Barracks_Input20"//马匹
			}
			Method {
				Class "JXJUITroopsListUpdate"
				Param "GameList"
			}
		}
	}
	Handle {
		MsgParam16 "NULL"
		MsgParam16 "SCROLLUP"
		Driver {
			Class "OneSlot"
			Method {
				Class  "JXJListCtrlScroll"
				Param "UI_Barracks_ListScroll"
				Param "0"
			}
		}
	}
	Handle {
		MsgParam16 "NULL"
		MsgParam16 "SCROLLDOWN"
		Driver {
			Class "OneSlot"
			Method {
				Class  "JXJListCtrlScroll"
				Param "UI_Barracks_ListScroll"
				Param "1"
			}
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "0"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJArrowsUITypeSelect"
				Param "UI_ManorStair_RenWu"
				Param "0"
			}
		}
	}
}