# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam16 "NULL"
		MsgParam16 "MOUSEMOVE"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJUILordPropertyTips"
				Param "UI_Tips_Lord2"
				Param "Lord2_Name"
				Param ""
				Param "Lord2_Input1"
				Param "UI_Tips_Lord2_Input2"
				Param ""
				Param "4"
				Param ""
			}
		}
	}
	Handle {
		MsgParam "WCH_FILTERLOSTFOCUS"
		MsgParam "NULL"
		Driver {
            Class "OneSlot"
			Method {
				Class "ShowCanvas"
				Param "UI_Tips_Lord2"
				Param "0"
			}
		}
	}
}