# Creature3D Script Parser v1.0

Data {
    Class "JXJBattleRoomInfo"
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJOnChengfangUI"
			}
			Method {
				Class "UpdateMe"
			}
			Method {
				Class "JXJSetWidgetVisiable"
				Param "UI_Battleground_LineUp"
				Param "Button_Jiasu"
				Param "0"
			}	
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "0"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJLeaveChengfangUI"
			}
		}
	}
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJBattleLineUpCanvasUpdate"
				Param "Name"
				Param "Gong"
				Param "Shou"
				Param "Defense"
				Param "LineUp_Input1"
				Param "LineUp_Input4"
				Param "LineUp_Input7"
				Param "LineUp_Input10"
				Param "LineUp_Input13"
				Param "LineUp_Input16"
				Param "LineUp_Input19"
				Param "LineUp_Input22"
				Param "LineUp_Input25"
				Param "LineUp_Input28"
				Param "LineUp_Input31"
				Param "LineUp_Input34"
				Param "LineUp_Input2"
				Param "LineUp_Input5"
				Param "LineUp_Input8"
				Param "LineUp_Input11"
				Param "LineUp_Input14"
				Param "LineUp_Input17"
				Param "LineUp_Input20"
				Param "LineUp_Input23"
				Param "LineUp_Input26"
				Param "LineUp_Input29"
				Param "LineUp_Input32"
				Param "LineUp_Input35"
				Param "LineUp_Input3"
				Param "LineUp_Input6"
				Param "LineUp_Input9"
				Param "LineUp_Input12"
				Param "LineUp_Input15"
				Param "LineUp_Input18"
				Param "LineUp_Input21"
				Param "LineUp_Input24"
				Param "LineUp_Input27"
				Param "LineUp_Input30"
				Param "LineUp_Input33"
				Param "LineUp_Input36"
				Param "LineUp"
				Param "sw448"
				Param "sw449"
				Param "sw450"
				Param "sw451"
				Param "sw452"
				Param "sw453"
				Param "sw454"
				Param "sw455"
				Param "sw456"
				Param "sw457"
				Param "sw458"
				Param "sw459"
				Param "sw460"
				Param "sw461"
				Param "sw462"
				Param "sw463"
				Param "sw464"
				Param "sw465"
				Param "sw466"
				Param "sw467"
				Param "sw468"
				Param "sw469"
				Param "sw470"
				Param "sw471"
				Param "sw2484"
				Param "sw2485"
				Param "sw2486"
				Param "Wei_Input"
				Param "Shu_Input"
				Param "Wu_Input"
				Param "sw2466"
				Param "sw2472"
				Param "FangshouShu1"
				Param "FangshouWu1"
				Param "FangshouWei2"
				Param "FangshouShu2"
			}
		}
	}
	Handle {
		MsgParam16 "KEY_Return"
		MsgParam16 "KEYDOWN"
		Driver {
			Class "OneSlot"
			Method {
				Class "WidgetDoEvent"
				Param "LineUp"
				Param "LEFT_MOUSE_BUTTON"
				Param "MOUSERELEASE"
			}
		}
	}
}