# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "ValueChange"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJFormationEdit"
				Param "UI_Beta2_Formation_Jkxz_Bar3"
				Param "UI_Beta2_Formation_Input30"
				Param "UI_Beta2_Formation_Input26"
				Param "UI_Beta2_Formation_Input28"
				Param "UI_Beta2_Formation_Input21"
				Param "UI_Beta2_Formation_Input25"
				Param "2"
			}
		}
	}
}