# Creature3D Script Parser v1.0

Data {
    Class "JXJTouchItemCanvas"
	Handle {
		MsgParam "Frame"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class  "RunFrequencyControl"
				Param "0.1"
			}
			Method {
				Class "JXJBaoXiangProgressFrameUpdate"
				Param "jdt"
			}
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"			
			Method {
				Class "JXJSetRoleStop"
				Param "1"
			}			
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "0"
		Driver {
			Class "MoreSlot"			
			Method {
				Class "JXJSetRoleStop"
				Param "0"
			}			
		}
	}
}