# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "WCH_FILTERLOSTFOCUS"
		MsgParam "NULL"
		Driver {
            Class "OneSlot"
			Method {
				Class "ShowCanvas"
				Param "UI_Tips_Barracks"
				Param "0"
			}
		}
	}
	Handle {
		MsgParam16 "NULL"
		MsgParam16 "MOUSEMOVE"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJUITroopsTypeTip"
				Param "UI_Tips_Barracks"
				Param "Barracks_Name"
				Param "Barracks_Input1"
				Param "Barracks_Input2"
				Param "Barracks_Input3"
				Param "Barracks_Input4"
				Param "Barracks_Input5"
				Param "Barracks_Input6"
				Param "Barracks_Input7"
				Param "Barracks_Input8"
				Param "Barracks_Input9"
				Param "Barracks_Input10"
				Param "Barracks_Input11"
				Param "Barracks_Input12"
				Param "Barracks_Input13"
				Param "Barracks_Input14"
				Param "Barracks_Input15"
				Param "0"
				Param "6"
				Param ""
			}
		}
	}
}