# Creature3D Script Parser v1.0

Data {
    Class "JXJCheckBuildingCanvas"
	xHandle {
		MsgParam "InitWindow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJTestNodeSize2"
				Param "UI_Market_MyCon_Listctrl1"
				Param "12"			//charactersize
				Param "20"			//fontsizex
				Param "20"			//fontsizey
				Param "10"			//linespacing
				Param "3"			//underlinespacing
				Param "UI_Barracks_ListScroll"
				Param "GameList_1"
				Param "UI_Market_MyCon_Listctrl2"
				Param "UI_Market_MyCon_Listctrl3"
				Param "UI_Market_MyCon_Listctrl4"
				Param "UI_Market_MyCon_Listctrl5"
			}
		}
	}
	Handle {
		MsgParam "Frame"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class  "RunFrequencyControl"
				Param "0.5"
			}
			Method {
				Class "JXJResAddBuildingCanvasUpdate"
				Param "UI_BonusResources"
				Param "UI_Level"
				Param "sw2"
				Param "UI_Input1"
				Param "UI_Input2"
				Param "UI_Input3"
				Param "UI_Input4"
				Param "UI_Input5"
				Param "UI_Input6"
				Param "UI_Input7"
				Param "UI_Input8"
				Param "UI_Input9"
				Param "UI_Upgrade"
				Param "UI_Use"
				Param "UI_BuyTime"
			}
			Method {
				Class "JXJSetConstructtionLevel"
			}
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJSetBuildCanvas"
				Param "ImageBox"
			}
		}
	}
	xHandle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJResAddBuildingCanvasUpdate"
				Param "UI_BonusResources"
				Param "UI_Level"
				Param "sw2"
				Param "UI_Input1"
				Param "UI_Input2"
				Param "UI_Input3"
				Param "UI_Input4"
				Param "UI_Input5"
				Param "UI_Input6"
				Param "UI_Input7"
				Param "UI_Input8"
				Param "UI_Input9"
				Param "UI_Upgrade"
				Param "UI_Use"
				Param "UI_BuyTime"
			}
		}
	}
	Handle {
		MsgParam16 "NULL"
		MsgParam16 "SCROLLUP"
		Driver {
			Class "OneSlot"
			Method {
				Class  "JXJListCtrlScroll"
				Param "XGJ_ListScroll"
				Param "0"
			}
		}
	}
	Handle {
		MsgParam16 "NULL"
		MsgParam16 "SCROLLDOWN"
		Driver {
			Class "OneSlot"
			Method {
				Class  "JXJListCtrlScroll"
				Param "XGJ_ListScroll"
				Param "1"
			}
		}
	}
}
