# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "ValueChange"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJFormationEdit"
				Param "UI_Beta2_Formation_Jkxz_Bar2"
				Param "UI_Beta2_Formation_Input30"
				Param "UI_Beta2_Formation_Input22"
				Param "UI_Beta2_Formation_Input24"
				Param "UI_Beta2_Formation_Input21"
				Param "UI_Beta2_Formation_Input29"
				Param "1"
			}
		}
	}
}