# Creature3D Script Parser v1.0

Data {
    Class "JXJProgressCanvas"
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJDoEventProgressOnShow"
				Param "UI_Beta3_LoadingBarDown_1"
				Param "1"
			}
		}
	}
	xHandle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJDoEventProgressUpdate"
				Param "1"
				Param "UI_Beta3_LoadingBarDown_1"
			}
		}
	}
	Handle {
		MsgParam "Frame"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJProgressFrameUpdate"
				Param "UI_Beta3_LoadingBarDown_1"
				Param "1"//将卡批量
				Param "1.0"
			}
		}
	}
}