# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "MoreSlot"
			xMethod {
				Class "JXJUIOnFormationStore"
				Param "UI_Beta2_Formation_Input19"
				Param "UI_Beta2_Formation_Input23"
				Param "UI_Beta2_Formation_Input27"
			}
			Method {
				Class "JXJSetMaxArmyCount"
				Param "UI_Beta2_Formation"
				Param "UI_Beta2_Formation_Input19"
				Param "UI_Beta2_Formation_Input23"
				Param "UI_Beta2_Formation_Input27"
			}
			Method {
				Class "JXJSetArmyPower"
				Param "UI_Beta2_Formation"
				Param "UI_Beta2_Formation_InputZhanli1"
				Param "UI_Beta2_Formation_InputZhanli2"
				Param "UI_Beta2_Formation_InputZhanli3"
				Param "UI_Beta2_Formation_InputZhanliAll"
			}
			xMethod {
				Class "JXJUIOnFormationMax"
				Param "UI_Beta2_Formation_Jkxz_Bar1"
				Param "UI_Beta2_Formation_Jkxz_Bar2"
				Param "UI_Beta2_Formation_Jkxz_Bar3"
				Param "UI_Beta2_Formation_Input18"
				Param "UI_Beta2_Formation_Input22"
				Param "UI_Beta2_Formation_Input26"
			}
			xMethod {
				Class "JXJWidgetDoEvent"
				Param "UI_Beta2_Formation"
				Param "UI_Beta2_Formation_Bz"
				Param "1"
				Param "2"
			}
		}
	}
}