# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "WCH_FILTERLOSTFOCUS"
		MsgParam "NULL"
		Driver {
            Class "MoreSlot"
			Method {
				Class "ShowCanvas"
				Param "UI_Tips_Barracks_1"
				Param "0"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_Tips_Barracks_2"
				Param "0"
			}
		}
	}
	Handle {
		MsgParam16 "NULL"
		MsgParam16 "MOUSEMOVE"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJUITroopsTypeTip"
				Param "UI_Tips_Barracks_1"
				Param "Barracks_Name_1"
				Param "Barracks_Zhanli_1"
				Param "Barracks_Zhanli_Input_1"
				Param "1"
				Param "0"
				Param ""//ArmyTypeRaido
				Param "UI_Tips_Barracks_2"
				Param "ShuXing_2"
				Param "Barracks_Backboard1"
				Param "Barracks_Backboard2"
			}
		}
	}
	Handle {
		MsgParam16 "RIGHT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUIUndoFormationAdd"
				Param "0"
				Param "UI_Beta2_Formation_Input20"
				Param "UI_Beta2_Formation_Input24"
				Param "UI_Beta2_Formation_Input28"
				Param "UI_Beta2_Formation_Input19"
				Param "UI_Beta2_Formation_Input23"
				Param "UI_Beta2_Formation_Input27"
				Param "UI_Beta2_Formation_InputZhanli1"
				Param "UI_Beta2_Formation_InputZhanli2"
				Param "UI_Beta2_Formation_InputZhanli3"
			}
		}
	}
}