# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSEPUSH"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUISetBattlegroundName"
				Param "UI_Battleground_Jr1_GameListctrl"
				Param "UI_Battleground_Jr2"
				Param "UI_Battleground_Jr2_Input1"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_Battleground_Jr2"
				Param "1"
			}
			Method {
				Class "CloseParentCanvas"
			}
		}
	}
}