# Creature3D Script Parser v1.0

Data {
    Class "JXJUICityMap"
	Handle {
		MsgParam "InitWindow"
		MsgParam "0"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJBattleRadioAddCityName"
				Param "BattlegroundRaido"
				Param "CM"
				Param "768.0|768.0|1.0"
			}
		}
	}
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "MoreSlot"
			Method {
				Class "ShowCanvas"
				Param "CityMenu"
				Param "0"
			}
			Method {
				Class "JXJCityMapCanDrag"
				Param "0"
			}
		}
	}
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSEPUSH"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJCityMapMousePushPos"
			}
			Method {
				Class "JXJCityMapCanDrag"
				Param "1"
			}
		}
	}
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSEDRAG"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJMouseDragCanvasMove"
				Param "UI_Battleground_Jr1_minimap"
				Param "Frame"
				Param "Imager"
				Param "Map"
				Param "UI_Battleground_Jr1_minimap2"
				Param "Imager2"
			}
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "0"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJSceneSetVisiable"
				Param "1"
			}
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "ShowCanvas"
				Param "UI_Gongfang"
				Param "0"
			}
			Method {
				Class "JXJSceneSetVisiable"
				Param "0"
			}
			xMethod {
				Class "JXJSyncFormation"
			}
			Method {
				Class "JXJUICityMiniMapInit"
				Param "UI_Battleground_Jr1_minimap"
				Param "Wei"
				Param "Shu"
				Param "Wu"
				Param "Npc"
				Param "Frame"
				Param "Imager"
				Param "Map"
				Param "1"
			}
			Method {
				Class "JXJUICityMiniMapInit"
				Param "UI_Battleground_Jr1_minimap2"
				Param "Wei"
				Param "Shu"
				Param "Wu"
				Param "Npc"
				Param "Frame"
				Param "Imager2"
				Param "Map"
				Param "0"
			}
			Method {
				Class "JXJResetMapPosition"
			}
			Method {
				Class "UpdateMe"
			}
			Method {
				Class "BigMapMoveToMyCityPos"
				Param "Map"
				Param "UI_Battleground_Jr1_minimap"
				Param "Imager"
				Param "Frame"
			}
		}
	}
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJRebelCityIconUpdate"
				Param "UI_Battleground_PingPan_Icon"
			}
		}
	}
}