# Creature3D Script Parser v1.0

Data {
    Class "BattleJKCanvas"
	Handle {
		MsgParam "InitWindow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "SetMsgTraverse"
				Param "15"
			}
			Method {
				Class "JXJCheckInspireBtEnable"
				Param "UI_CopyBattle_Inspire"
				Param "Buff1-1"
				Param "Buff1-2"
				Param "Buff1-3"
				Param "Buff1-4"
				Param "Buff1-5"
				Param "Buff1-6"
				Param "Buff1-7"
				Param "Buff1-8"
				Param "Buff2-1"
				Param "Buff2-2"
				Param "Buff2-3"
				Param "Buff2-4"
				Param "Buff2-5"
				Param "Buff2-6"
				Param "Buff2-7"
				Param "Buff2-8"
				Param "Buff3-1"
				Param "Buff3-2"
				Param "Buff3-3"
				Param "Buff3-4"
				Param "Buff3-5"
				Param "Buff3-6"
				Param "Buff3-7"
				Param "Buff3-8"
				Param "UI_CopyBattle_Name"
				Param "UI_CopyBattle_Inspire2"
			}
		}
	}
	xHandle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJCheckInspireBtEnable"
				Param "UI_CopyBattle_Inspire"
				Param "Buff1-1"
				Param "Buff1-2"
				Param "Buff1-3"
				Param "Buff1-4"
				Param "Buff1-5"
				Param "Buff1-6"
				Param "Buff1-7"
				Param "Buff1-8"
				Param "Buff2-1"
				Param "Buff2-2"
				Param "Buff2-3"
				Param "Buff2-4"
				Param "Buff2-5"
				Param "Buff2-6"
				Param "Buff2-7"
				Param "Buff2-8"
				Param "Buff3-1"
				Param "Buff3-2"
				Param "Buff3-3"
				Param "Buff3-4"
				Param "Buff3-5"
				Param "Buff3-6"
				Param "Buff3-7"
				Param "Buff3-8"
				Param "UI_CopyBattle_Name"
				Param "UI_CopyBattle_Inspire2"				
			}
		}
	}
	Handle {
		MsgParam "Frame"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class  "RunFrequencyControl"
				Param "0.05"
			}
			Method {
				Class "JXJSkillBufferShow"
				Param "Buff1-1"
				Param "Buff1-2"
				Param "Buff1-3"
				Param "Buff1-4"
				Param "Buff1-5"
				Param "Buff1-6"
				Param "Buff1-7"
				Param "Buff1-8"
				Param "Buff2-1"
				Param "Buff2-2"
				Param "Buff2-3"
				Param "Buff2-4"
				Param "Buff2-5"
				Param "Buff2-6"
				Param "Buff2-7"
				Param "Buff2-8"
				Param "Buff3-1"
				Param "Buff3-2"
				Param "Buff3-3"
				Param "Buff3-4"
				Param "Buff3-5"
				Param "Buff3-6"
				Param "Buff3-7"
				Param "Buff3-8"
				Param "Buff_Input5"
				Param "Buff_Input6"
				Param "Buff_Input7"
				Param "Buff_Input8"
				Param "Buff_Input1"
				Param "Buff_Input2"
				Param "Buff_Input3"
				Param "Buff_Input4"
				Param "Buff_Input13"
				Param "Buff_Input14"
				Param "Buff_Input15"
				Param "Buff_Input16"
				Param "Buff_Input9"
				Param "Buff_Input10"
				Param "Buff_Input11"
				Param "Buff_Input12"
				Param "Buff_Input21"
				Param "Buff_Input22"
				Param "Buff_Input23"
				Param "Buff_Input24"
				Param "Buff_Input17"
				Param "Buff_Input18"
				Param "Buff_Input19"
				Param "Buff_Input20"
			}
			xMethod {
				Class "JXJSkillBufferUpdate"
				Param "Buff1-1"
				Param "Buff1-2"
				Param "Buff1-3"
				Param "Buff1-4"
				Param "Buff1-5"
				Param "Buff1-6"
				Param "Buff1-7"
				Param "Buff1-8"
				Param "Buff2-1"
				Param "Buff2-2"
				Param "Buff2-3"
				Param "Buff2-4"
				Param "Buff2-5"
				Param "Buff2-6"
				Param "Buff2-7"
				Param "Buff2-8"
				Param "Buff3-1"
				Param "Buff3-2"
				Param "Buff3-3"
				Param "Buff3-4"
				Param "Buff3-5"
				Param "Buff3-6"
				Param "Buff3-7"
				Param "Buff3-8"
			}
			Method {
				Class "JXJUpdateJKIcon"
				Param "SW_CardQ"
				Param "SW_CardW"
				Param "SW_CardE"
				Param "CD_Input1"
				Param "Play1"
				Param "CD_Input2"
				Param "Play2"
				Param "CD_Input3"
				Param "Play3"
				Param "JK_Shiqi1"
				Param "JK_Shiqi2"
				Param "JK_Shiqi3"
				Param "JK_Shiqi1_Input"
				Param "JK_Shiqi2_Input"
				Param "JK_Shiqi3_Input"
			}
			Method {
				Class  "RunFrequencyControl"
				Param "0.5"
			}
			Method {
				Class "JXJXueTiaoColor"
				Param "sw103"
				Param "sw104"
				Param "sw105"
				Param "Lifebar1-1"
				Param "Lifebar1-2"
				Param "Lifebar1-3"
				Param "Lifebar2-1"
				Param "Lifebar2-2"
				Param "Lifebar2-3"
				Param "Lifebar3-1"
				Param "Lifebar3-2"
				Param "Lifebar3-3"
				Param "UI_CopyBattle_Beta1_Xzzj_BloodFlow1_1"
				Param "UI_CopyBattle_Beta1_Xzzj_BloodFlow2_1"
				Param "UI_CopyBattle_Beta1_Xzzj_BloodFlow3_1"
			}
			Method {
				Class  "RunFrequencyControl"
				Param "1.0"
			}
			Method {
				Class "JXJConjureCDTimer"
				Param "CD_Input1"
				Param "Play1"
				Param "CD_Input2"
				Param "Play2"
				Param "CD_Input3"
				Param "Play3"
				Param "UI_CopyBattle_SkillProgress_Q"
				Param "UI_CopyBattle_SkillProgress_W"
				Param "UI_CopyBattle_SkillProgress_E"
			}
			Method {
				Class "JXJBackCityButtonCoolTimerUpdate"
				Param "UI_Beta3_CopyBattle_JK"
				Param "Huicheng"
				Param "Play4"//战场回城按钮CD动画
				Param "Huicheng_Js"				
			}
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJShowJKIcon"
				Param "UI_Beta3_CopyBattle_CardQ"
				Param "UI_Beta3_CopyBattle_CardW"
				Param "UI_Beta3_CopyBattle_CardE"
				Param "UI_Beta3_CopyBattle_CardQ1"
				Param "UI_Beta3_CopyBattle_CardW1"
				Param "UI_Beta3_CopyBattle_CardE1"
				Param "sw27"
				Param "sw29"
				Param "sw31"
				Param "sw33"
				Param "sw35"
				Param "sw37"
				Param "JK_BzName1"
				Param "JK_BzName2"
				Param "JK_BzName3"
			}
		}
	}
}
