# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJAutoMakeEquips"
				Param "UI_Barracks_Input15"
				Param "UI_Zhiyuna"
				Param "Zhiyuna_Money_Input"
				Param "Zhiyuna_Wood_Input"
				Param "Zhiyuna_Iron_Input"				
				Param "Zhiyuna_Horse_Input"					
				Param "Zhiyuna_Food_Input"
				Param "UI_Zhiyuna_Input1"				
				Param "UI_Zhiyuna_Input2"				
				Param ""
				Param "UI_Barracks_Shuliang"
				Param "UI_Barracks_Input16"//铜钱
				Param "UI_Barracks_Input21"//粮食
			}
		}
	}
	Handle {
		MsgParam16 "NULL"
		MsgParam16 "MOUSEMOVE"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJUIRecruitTip"
				Param "UI_Barracks_Shuliang"
				Param "Tips1"
				Param "TipsText1"
			}
		}
	}
	Handle {
		MsgParam "WCH_FILTERLOSTFOCUS"
		MsgParam "NULL"
		Driver {
            Class "OneSlot"
			Method {
				Class "ShowCanvas"
				Param "Tips1"
				Param "0"
			}
		}
	}
	xHandle {
		MsgParam "WCH_OK"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUIAutoMakeTroopsEquip"
			}
			Method {
				Class "JXJUIRecruit"
				Param "UI_Barracks_Shuliang"
			}
		}
	}
}