# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "OneSlot"
			Method {
				Class "BigMapMoveToSelectedCityPos"
				Param "Map"
				Param "UI_Battleground_Jr1_minimap"
				Param "Imager"
				Param "Frame"
				Param "UI_Battleground_Jr1_map"
				Param "GameList1"
				Param "6"
			}
		}
	}
}