# Creature3D Script Parser v1.0

Data {
    Class "JXJMoveCanvas"
	Handle {
		MsgParam "Frame"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJShowRecvBagItemCanvasUpdate"
				Param "1"
			}
		}
	}
}