# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUIJiangkaUpgrade"
				Param "UI_Jk"
				Param "UI_ChengKaUpgrade_Shengji1"
				Param "UI_ChengKaUpgrade_Shengji2"
				Param "UI_ChengKaUpgrade_Shengji3"
				Param "UI_ChengKaUpgrade_Shengji4"
				Param "UI_ChengKaUpgrade_Shengji5"
			}
		}
	}
}