# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "SelectChange"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJReBuildAttactList"
				Param "GameList1"
				Param "qiehuan"
				Param "weiguo"
				Param "shuguo"
				Param "wuguo"
				Param "Enter1"//进入按钮
				Param "Enter2"//进入按钮
				Param "Enter3"//进入按钮
				Param "Enter4"//进入按钮
				Param "Enter5"//进入按钮
				Param "Enter6"//进入按钮
				Param "Enter7"//进入按钮
			}
			Method {
				Class "ParentCanvasUpdate"
			}
		}
	}
}