# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "ValueChange"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJCheckMailWriteSize"
				Param "UI_Beta2_Mail_Xyj_Input6"
			}
		}
	}
}