# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUISetRadioSelect"
				Param "UI_Jk"
				Param "UI_JkRaido"
				Param "0"
				Param "CardSystemRaido3"
			}
			Method {
				Class "JXJUISetActiveSwitchSet"
				Param "UI_Jk"
				Param "Jk_Yanshi"
				Param "1"
				Param "sw65"
				Param "3"
			}
			Method {
				Class "JXJAddOneJiangka"
				Param "UI_Jk"
				Param "TcjkRaido1"
				Param "TcjkRaido2"
				Param "1"
			}
		}
	}
	Handle {
		MsgParam16 "RIGHT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUISetRadioSelect"
				Param "UI_Jk"
				Param "UI_JkRaido"
				Param "0"
				Param "CardSystemRaido3"
			}
			Method {
				Class "JXJUISetActiveSwitchSet"
				Param "UI_Jk"
				Param "Jk_Yanshi"
				Param "1"
				Param "sw65"
				Param "3"
			}			
			Method {
				Class "JXJAddOneJiangka"
				Param "UI_Jk"
				Param "TcjkRaido1"
				Param "TcjkRaido2"
				Param "1"
			}
			Method {
				Class "JXJUIUndoAddJiangKaDrag"
				Param "UI_Jk"
				Param "UI_Beta2_Formation_Jkxz1"
				Param "UI_Beta2_Formation_Jkxz2"
				Param "UI_Beta2_Formation_Jkxz4"
				Param "UI_Beta2_Formation_Jkxz5"
				Param "UI_Beta2_Formation_Jkxz7"
				Param "UI_Beta2_Formation_Jkxz8"
				Param "sw41"
				Param "sw44"
				Param "sw45"
				Param "sw46"
				Param "sw47"
				Param "sw48"
				Param "UI_Prompt1"
				Param "UI_Prompt1_Input"
				Param "T_Jktx_Zktj.img"//pic1
				Param "T_Jktx_Fktj.img"//pic2
			}
			Method {
				Class "CanvasUpdate"
				Param "UI_Jk"
			}
		}
	}
	Handle {
		MsgParam "WCH_FILTERGETFOCUS"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJFormationjiangkaTipInfo"
				Param "UI_Card"
				Param "UI_CharacterImage"//将卡人物#ImageBoxWidget
				Param "sw2"//背景#SwitchWidget
				Param "sw3"//国家#SwitchWidget
				Param "UI_Beta2_Formation_Tips_ShuXing"//属性#SwitchWidget
				Param "UI_Beta2_Formation_Tips_BingZhong"//兵种#SwitchWidget
				Param "UI_Beta2_Formation_Tips_LeiXing"//类型#SwitchWidget
				Param "UI_Input"//技能描述#StaticTextWidget
				Param "UI_CharactorInfo"//姓名#ImageBoxWidget
				Param "UI_Beta2_Formation_Tips_JiNeng"//技能名#ImageBoxWidget
				Param "0"
				Param "1"
			}
		}
	}
	Handle {
		MsgParam "WCH_FILTERLOSTFOCUS"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "ShowCanvas"
				Param "UI_Card"
				Param "0"
			}
		}
	}
}