# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJUIBattlePreventAcc"
				Param "UI_Beta2_Battleground_Bcbl_Drag"
				Param "UI_Beta2_Battleground_Bcbl_Icon1"
				Param "UI_Beta2_Battleground_Bcbl_Icon2"
				Param "UI_Beta2_Battleground_Bcbl_Icon3"
				Param "UI_Beta2_Battleground_Bcbl_Input2"
				Param "UI_Beta2_Battleground_Bcbl_Input3"
				Param "UI_Beta2_Battleground_Bcbl_Input4"
				Param "UI_Beta2_Battleground_Bcbl_Inspire"
			}
		}
	}
}