# Creature3D Script Parser v1.0

Data {
    Class "UI"
	xHandle {
		MsgParam "Frame"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			xMethod {
				Class  "RunFrequencyControl"
				Param "1.0"
			}
		}
	}
	Handle {
		MsgParam16 "RIGHT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "MoreSlot"
			Method {
				Class "ShowCanvas"
				Param "UI_Beta2_Bigmap"
				Param "0"
			}
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "OneSlot"
			Method {
				Class "UpdateMe"
			}
		}
	}
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJUIBigMapUpdate"
				Param "UI_Beta2_Bigmap_SmallCity"
				Param "UI_Beta2_Bigmap_MedianCity"
				Param "UI_Beta2_Bigmap_BigCity"
				Param "UI_Beta2_Bigmap_CityFlag"
				Param "UI_Beta2_Bigmap_Input_CityName_Bai"
				Param "UI_Beta2_Bigmap_Input_CityName_Huang"
				Param "UI_Beta2_Bigmap_Gate"
				Param "UI_Beta2_Bigmap_GateFlag"
				Param "UI_Beta2_Bigmap_Input_GateName_Bai"
				Param "UI_Beta2_Bigmap_BackboardW"
				Param "2048,2048"
			}
		}
	}
}