# Creature3D Script Parser v1.0

Data {
    Class "JXJUIAddArmyCanvas"
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJCampAddArmyCanvasOnshow"
				Param "UI_Battleground_Zctsh_Input1"
			}
		}
	}
}