# Creature3D Script Parser v1.0

Data {
    Class "JXJBuildingHeadCanvas"
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSEPUSH"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUIGotoMakeEquip"
				Param "UI_Gongfang"
				Param "UI_Gongfang_GB_ListCtrl"
				Param "UI_Gongfang_ListScroll"
				Param "UI_GBRaido"
				Param "ArmyRaido"
			}
			Method {
				Class "JXJBuildingLevelCanvas2"
				Param "UI_Gongfang"
				Param "NULL"
				Param "UI_Level"
				Param "NULL"
				Param "NULL"
				Param "UI_Time"
				Param "UI_Need"
				Param "UI_Money"
				Param "UI_Wood"
				Param "UI_Iron"
				Param "UI_Food"
				Param "UI_Curfunction"
				Param "UI_Promt_H"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_Gongfang"
				Param "1"
			}
			Method {
				Class "JXJUIGotoMakeEquip"
				Param "UI_Gongfang"
				Param "UI_Gongfang_GB_ListCtrl"
				Param "UI_Gongfang_ListScroll"
				Param "UI_GBRaido"
				Param "ArmyRaido"
			}
			Method {
				Class "ParentCanvasUpdate"
			}
		}
	}
}