# Creature3D Script Parser v1.0

Data {
    Class "UI"
	xHandle {
		MsgParam "Frame"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			xMethod {
				Class  "RunFrequencyControl"
				Param "1.0"
			}
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "OneSlot"
			Method {
				Class "UpdateMe"
			}
		}
	}
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUIFeudalLordUpdate"	
				Param "Name"							//名字
				Param "UI_Beta2_FeudalLord_Guojia"		//国家
				Param "Grade"							//等级
				Param "UI_Beta2_FeudalLord_Guanzhi"		//官职
				Param "UI_Beta2_FeudalLord_GongJi"		//功勋
				Param "UI_Beta2_FeudalLord_BingFa"		//兵法
				Param "UI_Beta2_FeudalLord_ZhengFa"		//阵法
				Param "UI_Beta2_FeudalLord_TongShuai"	//统率
				Param "UI_Beta2_FeudalLord_Dongcha"		//洞察
				Param "UI_Beta2_FeudalLord_Toukui"		//头盔
				Param "UI_Beta2_FeudalLord_Kaijia"		//铠甲
				Param "UI_Beta2_FeudalLord_Wuqi"		//武器
				Param "UI_Beta2_FeudalLord_Shuji"		//书籍
				Param "UI_Beta2_FeudalLord_Mapi"		//马匹
				Param "UI_Beta2_FeudalLord_TouXiang"		//头像
				Param "Exp"							//经验条
				Param "T_Icon_Lord_TouKui.img"			//头盔
				Param "T_Icon_Lord_KaiJia.img"			//铠甲
				Param "T_Icon_Lord_WuQi.img"			//武器
				Param "T_Icon_Lord_ShuJi.img"			//书籍
				Param "T_Icon_Lord_MaPi.img"			//马匹
				Param "Add1"							//添加套装页
				Param "Add2"
				Param "Add3"
				Param "Add4"
				Param "FeudalLord_One"					//页签1
				Param "FeudalLord_Two"					//页签2
				Param "FeudalLord_Three"				//页签3
				Param "FeudalLord_Four"					//页签4
				Param "FeudalLordRaido"
				Param "UI_Zhan"
			}
			//策划需求，该按钮暂时隐藏
			Method {
				Class "JXJSetWidgetVisiable"
				Param "UI_Beta2_FeudalLord"
				Param "UI_Beta2_FeudalLord_ChangeImage"
				Param "0"
			}
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "0"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJArrowsUITypeSelect"
				Param "UI_ManorStair_RenWu"
				Param "0"
			}
		}
	}
}