# Creature3D Script Parser v1.0

Data {
    Class "JXJUITongGao"
	Handle {
		MsgParam "InitWindow"
		MsgParam "1"
		Driver {
			Class "OneSlot"
			Method {
				Class "SetMsgTraverse"
				Param "15"
			}
		}
	}
	Handle {
		MsgParam "Frame"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class  "RunFrequencyControl"
				Param "10.0"
			}
			Method {
				Class "ShowCanvas"
				Param "Can_Chanchanxinxi"
				Param "0"
			}
		}
	}
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJBattleBaseNoticeUpdata"
				Param "UI_Chanchanxinxi"
			}
		}
	}
	xHandle {
		MsgParam16 "NULL"
		MsgParam16 "MOUSEMOVE"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJBattleNoticeMouseMove"
				Param "UI_Chanchanxinxi"
				Param "UI_Chanqo"
				Param "UI_Chanqc"
				Param "111"
			}
		}
	}
	xHandle {
		MsgParam "WCH_FILTERLOSTFOCUS"
		MsgParam "NULL"
		Driver {
            Class "OneSlot"
			Method {
				Class "JXJBattleNoticeMouseMove"
				Param "UI_Chanchanxinxi"
				Param "UI_Chanqo"
				Param "UI_Chanqc"
				Param "000"
			}
		}
	}
	xHandle {
		MsgParam16 "NULL"
		MsgParam16 "SCROLLUP"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJBattleListCtrlScroll"
				Param "UI_Battleground_Jr1_ListScroll"
				Param "UI_Battleground_Jr1_ListScroll_1"
				Param "0"
			}
		}
	}
	xHandle {
		MsgParam16 "NULL"
		MsgParam16 "SCROLLDOWN"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJBattleListCtrlScroll"
				Param "UI_Battleground_Jr1_ListScroll"
				Param "UI_Battleground_Jr1_ListScroll_1"
				Param "1"
			}
		}
	}
}