# Creature3D Script Parser v1.0

Data {
	Class "UI"
	Handle {
		MsgParam "InitWindow"
		MsgParam "1"
		Driver {
			Class "OneSlot"
			Method {
				Class "SetMsgTraverse"
				Param "15"
			}
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJBattleLordCanvasInit"
				Param "UI_CopyBattle_Show"
				Param "Icon1"
				Param "Icon2"
				Param "Icon3"
				Param "Icon4"
				Param "Icon5"
				Param "Input1"
				Param "Input2"
				Param "Input3"
				Param "Input4"
				Param "Input5"
				Param "Input6"
				Param "Input7"
				Param "Input8"
				Param "T_Icon_Lord_TouKui.img"			//头盔
				Param "T_Icon_Lord_KaiJia.img"			//铠甲
				Param "T_Icon_Lord_WuQi.img"			//武器
				Param "T_Icon_Lord_ShuJi.img"			//书籍
				Param "T_Icon_Lord_MaPi.img"			//马匹
			}
		}
	}
}