# Creature3D Script Parser v1.0

Data {
    Class "JXJGroupCanvas"
	xHandle {
		MsgParam "InitWindow"
		MsgParam "0"
		Driver {
			Class "OneSlot"
			Method {
			}
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "OneSlot"
			Method {
				Class "UpdateMe"
			}
		}
	}
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJUICreateGroupCanvasUpdate"
				Param "UI_Corps_GreatGroup_Input5"
				Param "UI_Corps_GreatGroup_Input3"
				Param "UI_Corps_GreatGroup_Input4"
				Param "UI_Creat_"
				Param "UI_YBCreat"
			}
		}
	}
}