# Creature3D Script Parser v1.0

Data {
	Class "UI"
	Handle {
		MsgParam "InitWindow"
		MsgParam "1"
		Driver {
			Class "OneSlot"
			Method {
				Class "SetMsgTraverse"
				Param "15"
			}
		}
	}
	xHandle {
		MsgParam "InitWindow"
		MsgParam "0"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJUIShiliShow"
				Param "sw80"
				Param "sw79"
				Param "CopyBattle_AddFriend_Donghua"
			}
		}
	}
	xHandle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJHideAddArmyTimer"
				Param "sw201"
			}
		}
	}
}