# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "WCH_FILTERLOSTFOCUS"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "ShowCanvas"
				Param "UI_Card"
				Param "0"
			}
			Method {
				Class "JXJUIListControlLostFocus"
			}
		}
	}
	Handle {
		MsgParam16 "NULL"
		MsgParam16 "MOUSEMOVE"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJUIjiangkaTipInfo"
				Param "UI_Card"
				Param "UI_CharacterImage"//将卡人物#ImageBoxWidget
				Param "sw2"//背景#SwitchWidget
				Param "sw3"//国家#SwitchWidget
				Param "UI_Beta2_Formation_Tips_ShuXing"//属性#SwitchWidget
				Param "UI_Beta2_Formation_Tips_BingZhong"//兵种#SwitchWidget
				Param "UI_Beta2_Formation_Tips_LeiXing"//类型#SwitchWidget
				Param "UI_Input"//技能描述#StaticTextWidget
				Param "UI_CharactorInfo"//姓名#ImageBoxWidget
				Param "UI_Beta2_Formation_Tips_JiNeng"//技能名#ImageBoxWidget
			}
		}
	}
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUIAppointOneJiangka"
				Param "UI_Prompt"
				Param "UI_Prompt_Drag"
				Param "UI_Prompt_Input"
				Param "UI_Prompt_Confirm"
				Param ""
				Param "UI_MiniImg_1"
				Param "UI_MiniImg_2"
				Param "UI_MiniImg_3"
				Param "UI_Prompt1"
				Param "UI_Prompt1_Drag"
				Param "UI_Prompt1_Input"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_Card"
				Param "0"
			}
		}
	}
	Handle {
		MsgParam "WCH_OK"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJAppointOneJiangka"
			}
			xMethod {
				Class "JXJUIRecruit"
				Param "UI_Barracks_Shuliang"
			}
		}
	}
	xHandle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSEDRAG"
		Driver {
			Class "MoreSlot"
			xMethod {
				Class "JXJUIChangeBagPage"
				Param "UI_KnapsackRaido2"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_Card"
				Param "0"
			}
		}
	}
	xHandle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSEDOUBLECLICK"
		Driver {
			Class "MoreSlot"
			xMethod {
				Class "JXJUIAddJiangKa"
				Param "UI_Beta2_Formation"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_Card"
				Param "0"
			}
		}
	}
	xHandle {
		MsgParam "ListItemDrag"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			xMethod {
				Class "JXJUIAddJiangKaChangeCanvas"
				Param "UI_Beta2_Formation"
			}
			xMethod {
				Class "ShowCanvas"
				Param "UI_Beta2_Formation"
				Param "1"
			}
		}
	}
	xHandle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSEPUSH"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUISellOneJiangka"
				Param "CardSystemRaido3"
				Param "GameList_1"
				Param "UI_Jk"
				Param "GameListctrl"
			}
			Method {
				Class "CanvasUpdate"
				Param "UI_Jk"
			}
		}
	}
}