# Creature3D Script Parser v1.0

Data {
	Class "JXJBattleShowCanvas"
	Handle {
		MsgParam "InitWindow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "SetMsgTraverse"
				Param "15"
			}
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJInitCurrentInstance"
			}
			Method {
				Class "UpdateMe"
			}
		}
	}
	Handle {
		MsgParam "Frame"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class  "RunFrequencyControl"
				Param "1.0"
			}
			Method {
				Class "UpdateMe"
			}
		}
	}
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJBattleRoomMemberInfoCanvas"
				Param "UI_CopyBattle_Show_TouXiang"
				Param "UI_CopyBattle_Show_Name"
				Param "UI_CopyBattle_Show_Grade"
				Param ""
				Param ""
				Param ""
				Param "UI_CopyBattle_Show_Zhandouli"
				Param "UI_CopyBattle_Show_Bingzhong"
				Param "UI_CopyBattle_Show_Icon1"
				Param "UI_CopyBattle_Show_Icon2"
				Param "UI_CopyBattle_Show_Icon3"
				Param "UI_CopyBattle_Show_Icon4"
				Param "UI_CopyBattle_Show_Icon5"
				Param "T_Icon_Lord_TouKui.img"			//头盔
				Param "T_Icon_Lord_KaiJia.img"			//铠甲
				Param "T_Icon_Lord_WuQi.img"			//武器
				Param "T_Icon_Lord_ShuJi.img"			//书籍
				Param "T_Icon_Lord_MaPi.img"			//马匹
				Param "Up"
				Param "sw276"
				Param "UI_CopyBattle_Show_TouXiang2"
			}
			Method {
				Class "JXJShowTargetInfo"
				Param "UI_CopyBattle_Show_Bingzhong"
				Param "UI_CopyBattle_Beta1_Input10_3"
				Param "UI_CopyBattle_Beta1_Input11_3"
				Param "UI_CopyBattle_Beta1_Input12_3"
				Param "UI_CopyBattle_Information_Tips1"
				Param "Tips1_Gongji_1"
				Param "UI_CopyBattle_Beta1_Input13_3"
				Param "Tips1_Gongjifanwei_1"
				Param "UI_CopyBattle_Beta1_Input14_3"
				Param "UI_CopyBattle_Information_Tips2"
				Param "Tips2_Hujia_1"
				Param "Tips2_Mojia_1"
				Param "UI_CopyBattle_Beta3_SB_1"
				Param "UI_CopyBattle_Beta1_Input15_3"
				Param "UI_CopyBattle_Information_Tips3"
				Param "Tips3_Bingli"
				Param "Tips3_Xueliang"
			}
		}
	}
}