# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "InitWindow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "SetMsgTraverse"
				Param "15"
			}
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUITheSmallMapPointInit"
				Param "UI_CopyBattle_MinMap"
				Param "UI_CopyBattle_BossIcon_Big"
				Param "UI_CopyBattle_Minimap"
				Param "RotMap"
			}
			xMethod {
				Class "JXJBossMark"
				Param "UI_CopyBattle_MinMap"
				Param "UI_CopyBattle_Minimap"
				Param "RotMap"
				Param "UI_CopyBattle_BossIcon_Big"
			}
		}
	}
	Handle {
		MsgParam "Frame"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class  "RunFrequencyControl"
				Param "0.04"
			}
			Method {
				Class "JXJUIMapViewportUpdate"
				Param "UI_CopyBattle_Minimap"//mapwidget
				Param "UI_CopyBattle_Area"//viewport
				Param "UI_CopyBattle_Run"//I move target
				Param "UI_CopyBattle_Beta1_XiaoDiTu2"
			}
			Method {
				Class  "RunFrequencyControl"
				Param "0.5"
			}
			Method {
				Class "JXJUIUpdateMapInfo"
				Param "Frame"
				Param "UI_CopyBattle_Minimap"//mapwidget
				Param "UI_CopyBattle_MyselfIcon"//MyIcon
				Param "UI_CopyBattle_TeammateIcon"//FriendPlayerIcon
				Param "UI_CopyBattle_OtherIcon1"//"ThreadPlayerIcon
				Param "UI_CopyBattle_EnemyIcon"//EnemyPlayerIcon
				Param "UI_CopyBattle_OtherIcon2"//FriendNpcIcon
				Param "UI_CopyBattle_OtherIcon2"//ThreadNpcIcon
				Param "UI_CopyBattle_EnemyIcon"//EnemyNpcIcon
				Param "UI_CopyBattle_BossIcon_Big"//EnemyBossIconbig
				Param "UI_CopyBattle_OtherIcon2"//ItemIcon
				Param "UI_CopyBattle_remind"//пе╨е
				Param "RotMap"
				Param "UI_CopyBattle_Myself_Building"
				Param "UI_CopyBattle_EnemyIcon_Building"
				Param "UI_CopyBattle_OtherIcon_Building"
				Param "UI_CopyBattle_BossIcon_Small"//EnemyBossIconsmall
				Param "OtherIcon"//
				Param "PlayerIcon"//
				Param "UI_Battleground_Xzcsd"
				Param "UI_Beta2_Battleground_Csd_Gong"
				Param "UI_Beta2_Battleground_Csd_Shou"
				Param "UI_Beta2_Battleground_Csd_JuDian"
				
			}
		}
	}
}