# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "MoreSlot"			
			Method {
				Class "JXJUIGroupContribute"
				Param "UI_Crops3_Juanxian1"
				Param "UI_Crops3_Juanxian2"
				Param "UI_Crops3_Juanxian3"
				Param "UI_Crops3_Juanxian4"
				Param "UI_Crops3_Juanxian5"		
				Param "UI_Crops1"
			}			
		}
	}
	Handle {
		MsgParam "WCH_FILTERLOSTFOCUS"
		MsgParam "NULL"
		Driver {
            Class "OneSlot"
			Method {
				Class "ShowCanvas"
				Param "UI_Tips_Jiusi_1"
				Param "0"
			}
		}
	}
	Handle {
		MsgParam16 "NULL"
		MsgParam16 "MOUSEMOVE"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJUIGerenJuanXianTip"
				Param "UI_Tips_Jiusi_1"
				Param "Jiusi_Input1_1"
				Param "UI_Crops3_Juanxian1"
				Param "UI_Crops3_Juanxian2"
				Param "UI_Crops3_Juanxian3"
				Param "UI_Crops3_Juanxian4"
				Param "UI_Crops3_Juanxian5"		
				Param "UI_Crops1"
			}
		}
	}	
}

