# Creature3D Script Parser v1.0

Data {
    Class "UI"	
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJQueryMyCountryInfo"
			}
			Method {
				Class "UpdateMe"
			}
		}
	}	
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"	
			Method {
				Class "JXJCountryOfficialUpdate"
				Param "Toupiaojieguo_Input1"//a丞相
				Param "Toupiaojieguo_Input2"//大司马
				Param "Toupiaojieguo_Input3"//大将军
			}
		}
	}
}
