# Creature3D Script Parser v1.0

Data {
    Class "JXJProgressCanvas"
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJSkillProtectTimerProgressShow"
				Param "UI_Beta3_CopyBattle_JK"
				Param "UI_Beta3_CopyBattle_CardE"
			}
		}
	}
	Handle {
		MsgParam "Frame"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJSkillProtectTimerProgressUpdate"
				Param "UI_Quartz_E"
				Param "2"
			}
		}
	}
}