# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "ValueChange"
		MsgParam "NULL"
		Driver {
            Class "MoreSlot"
			Method {
				Class "JXJStaticTextIsNumberCheck"
				Param "UI_Country1"
				Param "UI_Country9_Max"
			}			
		}
	}	
}