# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "SelectChange"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJSetCurSelectGroupID"
				Param "UI_Corps1"
				Param "GameList1"
			}
			Method {
				Class "JXJUIGroupListButtonUpdate"
				Param "UI_Corps1_Shenqing1"//申请
				Param "UI_Corps1_Shenqing2"//.
				Param "UI_Corps1_Shenqing3"//.
				Param "UI_Corps1_Shenqing4"//.
				Param "UI_Corps1_Shenqing5"//.
				Param "UI_Corps1_Shenqing6"//.
				Param "UI_Corps1_Shenqing7"//.
				Param "UI_Corps1_Shenqing8"//.
				Param "UI_Corps1_Shenqing9"//.
				Param "UI_Corps1_Shenqing10"//.
				Param "UI_Corps1_YiShenqing1"//撤销
				Param "UI_Corps1_YiShenqing2"//.
				Param "UI_Corps1_YiShenqing3"//.
				Param "UI_Corps1_YiShenqing4"//.
				Param "UI_Corps1_YiShenqing5"//.
				Param "UI_Corps1_YiShenqing6"//.
				Param "UI_Corps1_YiShenqing7"//.
				Param "UI_Corps1_YiShenqing8"//.
				Param "UI_Corps1_YiShenqing9"//.
				Param "UI_Corps1_YiShenqing10"//.
				Param "UI_Corps1_Chakan1"//查看军团信息
				Param "UI_Corps1_Chakan2"//.
				Param "UI_Corps1_Chakan3"//.
				Param "UI_Corps1_Chakan4"//.
				Param "UI_Corps1_Chakan5"//.
				Param "UI_Corps1_Chakan6"//.
				Param "UI_Corps1_Chakan7"//.
				Param "UI_Corps1_Chakan8"//.
				Param "UI_Corps1_Chakan9"//.
				Param "UI_Corps1_Chakan10"//.
				Param "GameList1"//军团列表
				Param "UI_Corps1_Check"//已申请选项
				Param "UI_Corps1_Input3"//页码
				Param "UI_Corps1_FarLeft"//第一页
				Param "UI_Corps1_Left"//上一页
				Param "UI_Corps1_Right"//下一页
				Param "UI_Corps1_FarRight"//最后一页
				Param "UI_Corps1_Sousuo"//搜索按钮
			}
		}
	}
}