# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "MoreSlot"
			Method {
				Class "UISwapEnable"
				Param "0.1"
			}
			Method {
				Class "JXJCountryPublishNotice"
				Param "UI_Country1"
				Param "UI_Country2_Notice"
				Param "UI_Country2_EditNotice"
				Param "UI_Country2_PublishNotice"
			}
		}
	}
	xHandle {
		MsgParam16 "NULL"
		MsgParam16 "MOUSEMOVE"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJUIButtonTip"
				Param "2030"
				Param "Tips1"
				Param "TipsText1"
			}
		}
	}
	xHandle {
		MsgParam "WCH_FILTERLOSTFOCUS"
		MsgParam "NULL"
		Driver {
            Class "OneSlot"
			Method {
				Class "ShowCanvas"
				Param "Tips1"
				Param "0"
			}
		}
	}
}