# Creature3D Script Parser v1.0

Data {
    Class "UI"
	xHandle {
		MsgParam "InitWindow"
		MsgParam "0"
		Driver {
			Class "MoreSlot"			
		}
	}
	xHandle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "UpdateMe"				
			}	
		}
	}

	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJAddGroupMemberRequestUpdate"
				Param "UI_Corps_Prompt"
				Param "UI_Corps_Prompt_Input"
			}			
		}
	}
}