# Creature3D Script Parser v1.0

Data {
    Class "JXJChatChannelCanvas"
	Handle {
		MsgParam "InitWindow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJChatChannelSetInit"
			}
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJChatChannelSetCanvas"
			}
		}
	}
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJChatChannelSetCanvasUpdate"
				Param "ChatSet_Radio"
				Param "Chice1"
				Param "Chice2"
				Param "Chice3"
				Param "Chice4"
				Param "Chice5"
				Param "Chice6"
				Param "Chice7"
				Param "Chice8"
				Param "Chice9"
			}
		}
	}
}