# Creature3D Script Parser v1.0

Data {
    Class "JXJUIDamage"
	Handle {
		MsgParam "Frame"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "RunFrequencyControl"
				Param "0.04"
			}
			Method {
				Class "JXJClientRecvDamageUIUpdate"
				Param "0.12"//往上飘的最大距离
				Param "0.085"//速度
			}
		}
	}
}