# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJMouseSettingOnShow"
				Param "MouseSetting"
				Param "ListScroll_2"
			}
		}
	}
}