# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUIRollCards"
				Param "UI_Prompt"
				Param "UI_Prompt_Drag"
				Param "UI_Prompt_Input"
				Param "UI_Prompt_Confirm"
				Param ""
				Param "TavernRaido"
				Param "UI_MoneyPrompt_Input"
				Param "UI_Prompt1"
				Param "UI_Prompt1_Drag"
				Param "UI_Prompt1_Input"
				Param "Page1"
			}
			Method {
				Class "JXJSetWidgetEnable"
				Param "UI_Tavern"
				Param "UI_Tavern_Close"
				Param "0"
			}
			Method {
				Class "JXJRollCards"
				Param "TavernRaido"
			}
		}
	}
	Handle {
		MsgParam "WCH_OK"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJSetWidgetEnable"
				Param "UI_Tavern"
				Param "UI_Tavern_Close"
				Param "0"
			}
			Method {
				Class "JXJRollCards"
				Param "TavernRaido"
				Param "Page1"
			}
		}
	}
}