# Creature3D Script Parser v1.0

Data {
    Class "JXJCheckGroupCanvas"
	Handle {
		MsgParam "InitWindow"
		MsgParam "0"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJTestNodeSize2"
				Param "UI_Corps_GroupInfo_List1"
				Param "16"			//charactersize
				Param "20"			//fontsizex
				Param "20"			//fontsizey
				Param "16"			//linespacing
				Param "3"			//underlinespacing
				Param "UI_Battleground_Jr1_ListScroll"
				Param "GameList1"
				Param "UI_Corps_GroupInfo_List2"
				Param "UI_Corps_GroupInfo_List3"
				Param "UI_Corps_GroupInfo_List4"
			}
			Method {
				Class "JXJQueryMyApplyGroupVec"
			}
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJQueryGroupMemberList"
				Param "UI_Corps_GroupInfo"
				Param "UI_Corps1"
				Param "1"
			}
		}
	}
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJCheckGroupInfoCanvasUpdate"
				Param "UI_Corps_GroupInfo_Name"//军团名称
				Param "UI_Corps_GroupInfo_Input1"//军团公告
				Param "UI_Corps_GroupInfo_Input2"//军团长
				Param "UI_Corps_GroupInfo_Input3"//军团等级
				Param "UI_Corps_GroupInfo_Input4"//领地资金
				Param "UI_Corps_GroupInfo_Input5"//军团排名
				Param "UI_Corps_GroupInfo_Input6"//军团资金
				Param "UI_Corps_GroupInfo_Input7"//兵营资金
				Param ""//待定
				Param "GameList2"//成员列表
				Param "UI_Corps_GroupInfo_Ask"//申请加入
				Param "UI_Corps_GroupInfo_Asked"//撤销申请
				Param "UI_Corps_GroupInfo_Input8"//页码
				Param "UI_Corps_GroupInfo_FarLeft"//第一页
				Param "UI_Corps_GroupInfo_Left"//上一页
				Param "UI_Corps_GroupInfo_Right"//下一页
				Param "UI_Corps_GroupInfo_FarRight"//最后页
				Param "UI_Corps1"
			}
			Method {
				Class "JXJUIChangePageShowWidget"
				Param "20872"
				Param "20873"
				Param "UI_Corps_GroupInfo_FarLeft"
				Param "UI_Corps_GroupInfo_Left"
				Param "UI_Corps_GroupInfo_Right"
				Param "UI_Corps_GroupInfo_FarRight"
			}
		}
	}
}