# Creature3D Script Parser v1.0

Data {
    Class "ScenarioTalkCanvas"
	Handle {
		MsgParam "InitWindow"
		MsgParam "1"
		Driver {
			Class "OneSlot"
			Method {
				Class "SetMsgTraverse"
				Param "15"
			}
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJScenarioTalkOnShow"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+22120" //WCH_JXJJXJShowScenarioTalk											
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJShowScenarioTalk"
			}
		}
	}
	xHandle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJScenarioTalkTouch"
			}
		}
	}
	xHandle {
		MsgParam16 "RIGHT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJScenarioTalkTouch"
			}
		}
	}
	Handle {
		MsgParam "Frame"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJScenarioTalkFx1"
				Param "30|1|5"
				Param "1.1"
			}
			xMethod {
				Class  "RunFrequencyControl"
				Param "1.0"
			}
			xMethod {
				Class "JXJJuQingCanvasFrame"
			}
			xMethod {
				Class "JXJUIFxFrame"
			}
		}
	}
}