# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "OneSlot"
			Logic {
				Class  "IF_ELSE"
					Method {//条件
						Class "JXJIsGroupFirstLeader"
					}
					Logic {
						Class "ProxyArray"
						Method {
							Class "JXJShowGroupConfirm"
							Param "UI_Prompt"
							Param "UI_Prompt_Input"				
							Param "5019"
						}
					}
					Logic {
						Class "ProxyArray"
						Method {
							Class "JXJShowGroupConfirm"
							Param "UI_Prompt"
							Param "UI_Prompt_Input"				
							Param "3022"
						}
					}
			}
		}
	}		
	Handle {
		MsgParam "WCH_OK"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Logic {
				Class  "IF_ELSE"
				Method {//条件
					Class "JXJIsGroupFirstLeader"
				}
				Method {
					Class "Null"
					Param "1"
				}
				Method {
					Class "JXJLeaveMyGroup"
					Param "UI_Crops1"
				}
				xLogic {
					Class "ProxyArray"
					Method {
						Class "JXJDismissGroup"
						Param "1"
					}
				}
				xLogic {
					Class "ProxyArray"
					Method {
						Class "JXJLeaveMyGroup"
						Param "UI_Crops1"
					}
				}
			}
		}
	}
}