# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "WCH_FILTERLOSTFOCUS"
		MsgParam "NULL"
		Driver {
            Class "OneSlot"
			Method {
				Class "ShowCanvas"
				Param "UI_Tips_Lord"
				Param "0"
			}
		}
	}
	Handle {
		MsgParam16 "NULL"
		MsgParam16 "MOUSEMOVE"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJUILordPropertyTips"
				Param "UI_Tips_Lord"
				Param "Name1"
				Param "sw2"
				Param "Lord_Input1"
				Param "Lord_Input2"
				Param "ZhanchangIcon_Input3"
				Param "8"
				Param "2"
			}
			xMethod {
				Class "JXJUIBattleTroopsTypeTip"
				Param "UI_Tips_troops_1"
				Param "troops_Name1"
				Param "troops_Input1"
				Param "4"
				Param "2"
			}
		}
	}
	
}