# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUIBattleInspire"
				Param "UI_Prompt"
				Param "UI_Prompt_Drag"
				Param "UI_Prompt_Input"
				Param "UI_Prompt_Confirm"
				Param "7527"
			}
		}
	}
	Handle {
		MsgParam "WCH_OK"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJBattleInspire"
				Param "7527" //鼓舞令物品ID
			}
		}
	}
	Handle {
		MsgParam "WCH_CANCEL"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "ShowCanvas"
				Param "UI_Prompt"
				Param "0"
			}
		}
	}
	Handle {
		MsgParam "WCH_CLOSE"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "ShowCanvas"
				Param "UI_Prompt"
				Param "0"
			}
		}
	}
	Handle {
		MsgParam "WCH_FILTERLOSTFOCUS"
		MsgParam "NULL"
		Driver {
            Class "OneSlot"
			Method {
				Class "ShowCanvas"
				Param "Tips1_2"
				Param "0"
			}
		}
	}
	Handle {
		MsgParam16 "NULL"
		MsgParam16 "MOUSEMOVE"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJUIBattleInspireTip"
				Param "UI_CopyBattle_Inspire2"
				Param "Tips1_2"
				Param "TipsText1_1"
				Param "0"
				Param "7527"
			}
		}
	}
}