# Creature3D Script Parser v1.0

Data {
    Class "JXJMyGroupCanvas"
	Handle {
		MsgParam "Frame"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class  "RunFrequencyControl"
				Param "10.0"
			}
			Logic {
				Class "Switch"
				Method {//条件
					Class "GetRadioGroupValue"
					Param "UI_CorpsRaido"
				}
				Logic {//case 0
					Class "ProxyArray"
					Method {
						Class "JXJQueryMyGroupInfo"
					}
				}//end case
				Logic {//case 1
					Class "ProxyArray"
					Method {
						Class "JXJQueryMyGroupMemberList"
						Param "UI_Corps2"
					}
				}//end case
				Logic {//case 2
					Class "ProxyArray"
					Method {
					}
				}//end case
				Logic {//case 3
					Class "ProxyArray"
					Method {
					}
				}//end case
				Logic {//case 4
					Class "ProxyArray"
					Method {
						Class "JXJQueryGroupApplyList"
						Param "UI_Corps2"
					}
				}//end case
			}
		}
	}
	Handle {
		MsgParam "InitWindow"
		MsgParam "0"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJTestNodeSize2"
				Param "UI_Corps_Audit_Listctrl1"
				Param "16"			//charactersize
				Param "20"			//fontsizex
				Param "20"			//fontsizey
				Param "14"			//linespacing
				Param "3"			//underlinespacing
				Param "UI_Battleground_Jr1_ListScroll"
				Param "GameList1"
				Param "UI_Corps_Audit_Listctrl2"
				Param "UI_Corps_Audit_Listctrl3"
				Param "UI_Corps_Audit_Listctrl4"
			}
			Method {
				Class "JXJTestNodeSize2"
				Param "UI_Corps_Information_Listctrl1"
				Param "16"			//charactersize
				Param "20"			//fontsizex
				Param "20"			//fontsizey
				Param "14"			//linespacing
				Param "3"			//underlinespacing
				Param "UI_Battleground_Jr1_ListScroll"
				Param "GameList1"
				Param "UI_Corps_Information_Listctrl2"
				Param "UI_Corps_Information_Listctrl3"
				Param "UI_Corps_Information_Listctrl4"
				Param "UI_Corps_Information_Listctrl5"
				Param "UI_Corps_Information_Listctrl6"
				Param "UI_Corps_Information_Listctrl7"
				Param "UI_Corps_Information_Listctrl8"
			}
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJQueryMyGroupInfo"
			}
			Method {
				Class "JXJQueryGroupApplyList"
				Param "UI_Corps2"
			}
			Method {
				Class "JXJQueryMyGroupMemberList"
				Param "UI_Corps2"
			}
		}
	}
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJMyGroupInfoCanvasUpdate"
				Param "UI_GrouipName"
				Param "UI_Name"
				Param "UI_Createtime"
				Param "Page"
				Param "UI_CorpsRaido"
				Param "UI_Examine"
			}
			Logic {
				Class "Switch"
				Method {//条件
					Class "GetRadioGroupValue"
					Param "UI_CorpsRaido"
				}
				Logic {//case 0
					Class "ProxyArray"
					Method {
						Class "JXJMyGroupInfoPageUpdate"
						Param "UI_Corps_Overview_Input3"//lv
						Param "UI_Corps_Overview_Input1"//公告静态
						Param "UI_Corps_Overview_Input5"//人数
						Param "UI_Corps_Overview_Input1_1"//公告编辑
						Param "sw120"//公告控件切换
						Param "UI_Corps_Done"//保存
						Param "UI_Corps_Cancel"//取消
						Param "UI_Corps_Overview_Input4"//军团排名
						Param "UI_Corps_Overview_Input6"//仓库剩余
					}
				}//end case
				Logic {//case 1
					Class "ProxyArray"
					Method {
						Class "JXJMyGroupMemberInfoPageUpdate"
						Param "sw113"//按钮切换 
						Param "UI_Corps_Quit"//退出军团
						Param "UI_Corps_Transfer"//转让军团
						Param "GameList4"//人员列表
						Param "UI_Corps_Information_Input4"//页码
						Param "UI_Information_FarLeft"//第一页
						Param "UI_Information_Left"//上一页
						Param "UI_Information_Right"//下一页
						Param "UI_Information_FarRight"//最后一页
						Param "UI_Corps_Information_Input1"//我的职务
					}
					Method {
						Class "JXJUIChangePageShowWidget"
						Param "20881"
						Param "20882"
						Param "UI_Information_FarLeft"
						Param "UI_Information_Left"
						Param "UI_Information_Right"
						Param "UI_Information_FarRight"
					}
				}//end case
				Logic {//case 2
					Class "ProxyArray"
					Method {
					}
				}//end case
				Logic {//case 3
					Class "ProxyArray"
					Method {
					}
				}//end case
				Logic {//case 4
					Class "ProxyArray"
					Method {
						Class "JXJUIApplyListUpdate"
						Param "UI_Corps_Audit_Agree1"//同意
						Param "UI_Corps_Audit_Agree2"//.
						Param "UI_Corps_Audit_Agree3"//.
						Param "UI_Corps_Audit_Agree4"//.
						Param "UI_Corps_Audit_Agree5"//.
						Param "UI_Corps_Audit_Agree6"//.
						Param "UI_Corps_Audit_Agree7"//.
						Param "UI_Corps_Audit_Agree8"//.
						Param "UI_Corps_Audit_Agree9"//.
						Param "UI_Corps_Audit_Agree10"//.
						Param "UI_Corps_Audit_Reject1"//拒绝
						Param "UI_Corps_Audit_Reject2"//.
						Param "UI_Corps_Audit_Reject3"//.
						Param "UI_Corps_Audit_Reject4"//.
						Param "UI_Corps_Audit_Reject5"//.
						Param "UI_Corps_Audit_Reject6"//.
						Param "UI_Corps_Audit_Reject7"//.
						Param "UI_Corps_Audit_Reject8"//.
						Param "UI_Corps_Audit_Reject9"//.
						Param "UI_Corps_Audit_Reject10"//.
						Param "GameList6"//申请列表
						Param "UI_Corps_Audit_Ignore"// 忽略所有
						Param "UI_Corps_Audit_Input"//.
						Param "UI_Corps_Audit_FarLeft"//.
						Param "UI_Corps_Audit_Left"//.
						Param "UI_Corps_Audit_Right"//.
						Param "UI_Corps_Audit_FarRight"//.
					}
					Method {
						Class "JXJUIChangePageShowWidget"
						Param "20867"
						Param "20868"
						Param "UI_Corps_Audit_FarLeft"
						Param "UI_Corps_Audit_Left"
						Param "UI_Corps_Audit_Right"
						Param "UI_Corps_Audit_FarRight"
					}
				}//end case
			}
		}
	}
}