# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "OneSlot"
			Method {
			Class "JXJShowGroupConfirm"
			Param "UI_Prompt"
			Param "UI_Prompt_Input"				
			Param "5031"
			}
		}
	}
	Handle {
		MsgParam "WCH_OK"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJCountryCanvasApplyStation"
				Param "UI_Country1"
			}
			Method {
				Class "JXJQueryMyCantonInfo"
			}			
			Method {
				Class "JXJMyZhoujunManagerCanvasUpdate"
				Param "UI_Country5_State1"
				Param "UI_Country5_State2"
				Param "UI_Country5_State3"
				Param "UI_Country5_State4"
				Param "UI_Country5_State5"
				Param "UI_Country5_State6"
				Param "UI_Country5_State7"
				Param "UI_Country5_State8"
				Param "UI_Country5_State9"
				Param "UI_Country5_State10"
				Param "UI_Country5_State11"
				Param "UI_Country5_State12"
				Param "UI_Country5_State13"
				Param "UI_Country5_State14"
				Param "UI_Country5_State15"
				Param "UI_Country5_State16"
				Param "UI_Country5_State17"
				Param "UI_Country5_State18"
				Param "UI_Country5_State19"
				Param "UI_Country5_State20"
				Param "UI_Country5_State"//州郡
				Param "UI_Country5_ZhouMu"//州牧
				Param "UI_Country5_Corps"//镇守军团
				Param "UI_Country5_Enfeoff"//州郡分封
				Param "UI_Country5_Apply"//驻扎申请
				Param "UI_Country5_Affiliation"//郡属
				Param "UI_Country5_CityName"//城池名称
				Param "UI_Country5_Cash"//铜钱
				Param "UI_Country5_Horse"//马匹
				Param "UI_Country5_Material"//兵种材料
				Param "UI_Country5_GarrisonCorps"//驻守军团
				Param "UI_Country5_Satrap"//城池太守
				Param "UI_Country5_ListScroll"//
				Param "UI_Country5_Bar"//
				Param "sw84_6"
				Param "sw84_7"
				Param "sw84_8"
				Param "sw84_9"
				Param "sw84_10"
				Param "sw84_11"
				Param "sw84_12"
				Param "sw84_13"
				Param "sw84_14"
				Param "sw84_15"
				Param "sw84_16"
				Param "sw84_17"
				Param "sw84_18"
				Param "sw84_19"
				Param "sw84_20"
				Param "sw84_21"
				Param "sw84_22"
				Param "sw84_23"
				Param "sw84_24"
				Param "sw84_25"
				Param "UI_Country5_StateList"
				Param "UI_Country5_GameList"
				Param "sw84_1"
				Param "sw84_2"
				Param "UI_Battleground_Jr1_map"
				Param "sw999"
				Param "sw1000"
				Param "sw1001"
				Param "sw1002"
				Param "sw1003"
				Param "sw1004"
				Param "sw1005"
				Param "sw1006"
				Param "sw1007"
				Param "sw1008"
				Param "sw1009"
				Param "sw1010"
				Param "sw1011"
				Param "sw1012"
				Param "sw1013"
				Param "sw1014"
				Param "sw1015"
				Param "sw1016"
				Param "sw1017"
				Param "sw1018"
				Param "UI_Country5_Cancel"
			}			
		}
	}
}
