# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJKickMemberOutofGroupTips"
				Param "UI_Prompt"
				Param "UI_Prompt_Drag"
				Param "UI_Prompt_Input"
				Param "UI_Prompt_Confirm"
			}
			Method {
				Class "ShowCanvas"
				Param "CreatJunTuan__Corps"
				Param "0"
			}			
		}
	}
	Handle {
		MsgParam "WCH_OK"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJKickMemberOutofGroup"
				Param "UI_Crops1"
				Param "UI_Crops2_GameList3"
			}
		}
	}
	Handle {
		MsgParam "WCH_CANCEL"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "ShowCanvas"
				Param "UI_Prompt"
				Param "0"
			}
		}
	}
	Handle {
		MsgParam "WCH_CLOSE"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "ShowCanvas"
				Param "UI_Prompt"
				Param "0"
			}
		}
	}
}