# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUIWidgetChangePage"
				Param "1"
				Param "20856"  // WCHDATA_JXJGroupCurPage
				Param "20857"	// WCHDATA_JXJGroupTotalPage
			}
			Method {
				Class "JXJQueryGroupList"
				Param "UI_Corps"
			}			
		}
	}
}