# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "MoreSlot"
			Method {
				Class "UISwapEnable"
				Param "0.1"
			}
			Method {
				Class "JXJSelectCountryLeader"
				Param "UI_Country4_Select1"
				Param "UI_Country4_Select2"
				Param "UI_Country4_Select3"
				Param "UI_Country4_Select4"
				Param "UI_Country4_Select5"
				Param "UI_Country4_Select6"
				Param "UI_Country4_Select7"
				Param "UI_Country4_Select8"
				Param "UI_Country4_Select9"
				Param "UI_Country4_Select10"
				Param "UI_Country4_Select11"
				Param "UI_Country4_Select12"
				Param "UI_Country4_Select13"
				Param "UI_Country4_Select14"
				Param "UI_Country4_Select15"
				Param "UI_Country4_Recommend"
				Param "UI_Country4_Crops"
			}
		}
	}	
}