# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "SelectChange"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJResetCurPage"
				Param "UI_Corps1"
				Param "20856"
			}
			Method {
				Class "JXJSetCurSelectGroupID"
				Param "UI_Corps1"
				Param "GameList1"
			}
			Method {
				Class "JXJQueryGroupList"
				Param "UI_Corps1"
				Param "UI_Corps1_Check"
			}
			Method {
				Class "ParentCanvasUpdate"
			}
		}
	}
}