# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "InitWindow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "SetMsgTraverse"
				Param "48"
			}
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJShowUserHelpCanvas"
				Param "UI_CopyBattle_Help_Input"
				Param "JXJ/script/BattleUserHelp.cfg"
			}
		}
	}
	Handle {
		MsgParam16 "NULL"
		MsgParam16 "SCROLLUP"
		Driver {
			Class "OneSlot"
			Method {
				Class  "JXJListCtrlScroll"
				Param "UI_Help_ListScroll"
				Param "0"
			}
		}
	}
	Handle {
		MsgParam16 "NULL"
		MsgParam16 "SCROLLDOWN"
		Driver {
			Class "OneSlot"
			Method {
				Class  "JXJListCtrlScroll"
				Param "UI_Help_ListScroll"
				Param "1"
			}
		}
	}
}