# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "InitWindow"
		MsgParam "1"
		Driver {
			Class "OneSlot"
			Method {
				Class "SetMsgTraverse"
				Param "17"
			}
		}
	}
	Handle {
		MsgParam "Frame"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class  "RunFrequencyControl"
				Param "1.0"
			}
			Method {
				Class "JXJUITimerUpdate"
				Param "SpeedUp1_Input"
				Param "SpeedUp1"
				Param "SpeedUp2_Input"
				Param "SpeedUp2"
				Param "T_ManorStair_Beta1_BackBoard5"
				Param "SpeedUp3_Input"
				Param "SpeedUp3"
				Param "T_ManorStair_Beta1_BackBoard6"
				Param "SpeedUp4_Input"
				Param "SpeedUp4"
				Param "SpeedUp5_Input"
				Param "SpeedUp5"
				Param "SpeedUp6_Input"
				Param "SpeedUp6"
				Param "T_ManorStair_Beta1_BackBoard9"
				Param "SpeedUp7_Input"
				Param "SpeedUp7"
				Param "T_ManorStair_Beta1_BackBoard10"
				Param "SpeedUp8_Input"
				Param "SpeedUp8"
				Param "Add1"
				Param "Add2"
				Param "Add3"
				Param "Add4"
				Param "Add5"
				Param "Add6"
				Param "Add7"
				Param "Add8"
			}
			Method {
				Class "JXJCheckManorSceneCouldGetAward"
				Param "UI_ManorStair_SpeedUp"
				Param "SpeedUp_Meiri1"
				Param "SpeedUp_Meiri2"
				Param "SpeedUp_Meiri3"
				Param "UI_Meiri"				
			}
		}
	}
}