# Creature3D Script Parser v1.0

Data {
    Class "JXJGroupCanvas"
	Handle {
		MsgParam "InitWindow"
		MsgParam "0"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJTestNodeSize2"
				Param "UI_Corps1_Listctrl1"
				Param "16"			//charactersize
				Param "20"			//fontsizex
				Param "20"			//fontsizey
				Param "16"			//linespacing
				Param "3"			//underlinespacing
				Param "UI_Battleground_Jr1_ListScroll"
				Param "GameList1"
				Param "UI_Corps1_Listctrl2"
				Param "UI_Corps1_Listctrl3"
				Param "UI_Corps1_Listctrl4"
				Param "UI_Corps1_Listctrl5"
			}
			xMethod {
				Class "JXJQueryMyApplyGroupVec"
			}
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJQueryGroupList"
				Param "UI_Corps"				
			}
			Method {
				Class "JXJQueryMyApplyGroupVec"
			}
			Method {
				Class "UpdateMe"
			}
		}
	}
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUIGroupListUpdate"				
				Param "UI_YiShengQing1"//已经申请
				Param "UI_YiShengQing2"//.
				Param "UI_YiShengQing3"//.
				Param "UI_YiShengQing4"//.
				Param "UI_YiShengQing5"//.
				Param "UI_YiShengQing6"//.
				Param "UI_YiShengQing7"//.
				Param "UI_YiShengQing8"//.
				Param "UI_YiShengQing9"//.
				Param "UI_YiShengQing10"//.
				Param "UI_ChaKan1"//查看军团信息
				Param "UI_ChaKan2"//.
				Param "UI_ChaKan3"//.
				Param "UI_ChaKan4"//.
				Param "UI_ChaKan5"//.
				Param "UI_ChaKan6"//.
				Param "UI_ChaKan7"//.
				Param "UI_ChaKan8"//.
				Param "UI_ChaKan9"//.
				Param "UI_ChaKan10"//.
				Param "GameList1"//军团列表				
				Param "UI_PageNumber"//页码				
				Param "UI_LeftPage"//上一页
				Param "UI_RightPage"//下一页	
				Param "UI_ZhaoMu"
				Param "UI_ShuoMing"			
			}
			Method {
				Class "JXJUIChangePageShowWidget"
				Param "20856"
				Param "20857"	
				Param "NULL"	
				Param "UI_LeftPage"//上一页
				Param "UI_RightPage"//下一页
				Param "NULL"				
			}
		}
	}
}

