# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "InitWindow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "SetMsgTraverse"
				Param "48"
			}
		}
	}
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSEPUSH"
		Driver {
			Class "OneSlot"
			Method {
				Class "ShowCanvas"
				Param "UI_CopyBattle_Help"
				Param "1"
			}
		}
	}
	Handle {
		MsgParam "WCH_FILTERGETFOCUS"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJShowTips"
				Param "UI_CopyBattle_Beta1_Tips4"
				Param "1"
				Param "-0.68"
				Param "0.95"
				Param "UI_Beta2_CopyBattle_Tips4_Name3"
				Param "13"
			}
		}
	}
	Handle {
		MsgParam "WCH_FILTERLOSTFOCUS"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJShowTips"
				Param "UI_CopyBattle_Beta1_Tips4"
				Param "0"
				Param "0"
				Param "0"
				Param "UI_Beta2_CopyBattle_Tips4_Name3"
				Param " "
			}
		}
	}
}