# Creature3D Script Parser v1.0

Data {
    Class "UI"	
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUIAllocateEarnings"
				Param "UI_Crops1"
				Param "UI_Crops6_2_GameList1"
				Param "UI_Crops6_2_Percent1_1"
				Param "UI_Crops6_2_Percent2_1"
				Param "UI_Crops6_2_Percent3_1"
				Param "UI_Crops6_2_Percent4_1"
				Param "UI_Crops6_2_Percent5_1"
				Param "UI_Crops6_2_Percent6_1"
				Param "UI_Crops6_2_Percent7_1"
				Param "UI_Crops6_2_Percent8_1"
				Param "UI_Crops6_2_Percent9_1"
				Param "UI_Crops6_2_Percent10_1"
				Param "UI_Crops6_2_Clock"
			}
		}
	}		
}