# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam16 "NULL"
		MsgParam16 "MOUSEMOVE"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJUIOfficialTip"
				Param "7005"
				Param "UI_Tips_Jiusi"
				Param "Jiusi_Input1"
			}
		}
	}
	Handle {
		MsgParam "WCH_FILTERLOSTFOCUS"
		MsgParam "NULL"
		Driver {
            Class "OneSlot"
			Method {
				Class "ShowCanvas"
				Param "UI_Tips_Jiusi"
				Param "0"
			}
		}
	}	
}