# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "InitWindow"
		MsgParam "0"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJInitGroupRadio"
				Param "UI_Country1"
				Param "UI_Country5_StateList"
				Param "UI_Country5_State1"
				Param "UI_Country5_State2"
				Param "UI_Country5_State3"
				Param "UI_Country5_State4"
				Param "UI_Country5_State5"
				Param "UI_Country5_State6"
				Param "UI_Country5_State7"
				Param "UI_Country5_State8"
				Param "UI_Country5_State9"
				Param "UI_Country5_State10"
				Param "UI_Country5_State11"
				Param "UI_Country5_State12"
				Param "UI_Country5_State13"
				Param "UI_Country5_State14"
				Param "UI_Country5_State15"
				Param "UI_Country5_State16"
				Param "UI_Country5_State17"
				Param "UI_Country5_State18"
				Param "UI_Country5_State19"
				Param "UI_Country5_State20"				
			}				
		}
	}
	
	Handle {
		MsgParam "SelectChange"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJCountrySetSelectedCantonId"
				Param "UI_Country1"
				Param "UI_Country5_StateList"				
			}	
			Method {
				Class "JXJQueryMyCounrtyCantonChengChiINfo"
				Param "UI_Country1"
				Param "UI_Country5_StateList"				
			}			
		}
	}
}
