# Creature3D Script Parser v1.0

Data {
    Class "UI"	
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"		
			Method {
				Class "JXJUIAddGroupMemberInit"
				Param "UI_Crops_Tjcy_Input1"
				Param "UI_Crops_Tjcy_Input2"							
			}
		}
	}		
}