# Creature3D Script Parser v1.0

Data {
	Handle {
		MsgParam "InitWindow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"			
			Method {
			}
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJCountryZhouJunUpdate"
			}
			Method {
				Class "UpdateMe"
			}
		}
	}
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJCountryZhouJunUpdate"
			}
		}
	}
}