# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJShowGroupMenu"
				Param "UI_Corps_Information_Pop"
				Param "GameList4"
				Param "UI_Corps_AddFriend"
				Param "UI_Corps_DFriend"
				Param "UI_Corps_Expel"
			}
		}
	}
}