# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "SelectChange"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJMyGroupCanvasRadioUpdate" 
				Param "UI_Crops1_BiaoQian"
				Param "Page"
			}
			Logic {
				Class "Switch"
				Method {//条件
					Class "GetRadioGroupValue"
					Param "UI_Crops1_BiaoQian"
				}
				Logic {//case 0 军团信息
					Class "ProxyArray"
					Method {
						Class "JXJQueryMyGroupInfo"
					}
				}
				Logic {//case 1 军团福利
					Class "ProxyArray"
					Method {
						//Class "JXJQueryMyGroupInfo"
					}
				}
				Logic {//case 2 州郡管理
					Class "ProxyArray"
					Method {
						Class "JXJQueryMyCantonInfo"						
					}
					Method {
						Class "JXJQueryMyGroupFenFengChengChiMap"						
					}
					Method {
						Class "JXJQueryCantonSpecialty"
						Param "0"
					}
				}
				Logic {//case 3 军团审核
					Class "ProxyArray"
					Method {
						Class "JXJQueryGroupApplyList"
						Param "UI_Crops1"
					}
					Method {
						Class "JXJMyGroupCanvasDongHuaUpdate"
					}					
				}
				xLogic {//case 4 州郡管理
					Class "ProxyArray"
					Method {
						Class "JXJQueryMyCantonInfo"						
					}
					xLogic {
						Class "Switch"
						Method {//条件
							Class "JXJCheckCantonChengChi"
							Param "UI_Crops1"
						}
						Logic {//case 0 没有申请驻扎
							Class "ProxyArray"
							Method {
								Class "JXJMyGroupChengChiCanvasSwitchChange"
								Param "UI_Crops1"
								Param "UI_Crops6"						
								Param "0"
							}							
						}
						Logic {//case 1 有申请驻扎
							Class "ProxyArray"
							Method {
								Class "JXJMyGroupChengChiCanvasSwitchChange"
								Param "UI_Crops1"
								Param "UI_Crops6"						
								Param "1"
							}
						}
					}
					xMethod {
						Class "JXJQueryMyCantonGroupMap"
						Param "UI_Crops1"
						Param "UI_Crops6_2_Radio"
					}						
				}
			}
			Method {
				Class "ParentCanvasUpdate"
			}
		}
	}
}