# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "MoreSlot"
			xMethod {
				Class "JXJUIUpdateBattleList"
				Param "UI_Battleground_Jr1_GameListctrl"
			}
			Method {
				Class "JXJChangeGroupNotice"
				Param "UI_Corps_Overview_Input1_1"
				Param "5"
			}
		}
	}
}