# Creature3D Script Parser v1.0

Data {
    Class "JXJUIDamage"
	Handle {
		MsgParam "Frame"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "RunFrequencyControl"
				Param "0.04"
			}
			Method {
				Class "JXJClientRecvTrackFireMissUIUpdate"
				Param "0.12"
				Param "0.1"
			}
		}
	}
}