# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJWidgetDoEvent"
				Param "UI_Beta3_CopyBattle_JK"
				Param "UI_CopyBattle_Detrusion"
				Param "1"//LEFT_MOUSE_BUTTON
				Param "2"//MOUSERELEASE
			}
		}
	}
}