# Creature3D Script Parser v1.0

Data {
    Class "BufferWidget"
	Handle {
		MsgParam "WCH_FILTERLOSTFOCUS"
		MsgParam "NULL"
		Driver {
            Class "OneSlot"
			Method {
				Class "ShowCanvas"
				Param "UI_Tips_Jiusi_1"
				Param "0"
			}
		}
	}
	Handle {
		MsgParam16 "NULL"
		MsgParam16 "MOUSEMOVE"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJUIBattleSkillBuffTip"
				Param "UI_Tips_Jiusi_1"
				Param ""
				Param "Jiusi_Input1_1"
				Param "2"
				Param "0"
			}
		}
	}
	Handle {
		MsgParam "Frame"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "RunFrequencyControl"
				Param "0.1"
			}
			Method {
				Class "JXJWidgetAlphaflash"
			}
		}
	}
}