# Creature3D Script Parser v1.0

Data {
    Class "JXJMyCountryCanvas"
	xHandle {
		MsgParam "InitWindow"
		MsgParam "0"
		Driver {
			Class "MoreSlot"
			Method {
			}
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJQueryMyCountryInfo"
			}
			Method {
				Class "UpdateMe"
			}
		}
	}
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"			
			Logic {
				Class "Switch"
				Method {//条件
					Class "GetRadioGroupValue"
					Param "CountryRaido"
				}
				Logic {//case 0
					Class "ProxyArray"
					Method {
						Class "JXJMyCounrtyInfoCanvasUpdate"
						Param "sw2"//国家切换
						Param "sw13"//国家切换
						Param "UI_Country_Edit5"//编辑国家公告的按钮（始终隐藏）
						Param "UI_Country_Information_Input1"//大将军
						Param "UI_Country_Information_Input2"//拥有城池数
						Param "UI_Country_Information_Input3"//下次城战开启时间
						Param "UI_Country_Information_Input4"//占领城池
						Param "UI_Country_Information_Input5"//。
						Param "UI_Country_Information_Input6"//。
						Param "UI_Country_Information_Input7"//。
						Param "UI_Country_Information_Input8"//。
						Param "UI_Country_Information_Input9"//。
						Param "UI_Country_Information_Input10"//。
						Param "UI_Country_Information_Input11"//。
						Param "UI_Country_Information_Input12"//。
						Param "UI_Country_Information_Input13"//。
						Param "UI_Country_Information_Input14"//失去城池
						Param "UI_Country_Information_Input15"//。
						Param "UI_Country_Information_Input16"//。
						Param "UI_Country_Information_Input17"//。
						Param "UI_Country_Information_Input18"//。
						Param "UI_Country_Information_Input19"//。
						Param "UI_Country_Information_Input20"//。
						Param "UI_Country_Information_Input21"//。
						Param "UI_Country_Information_Input22"//。
						Param "UI_Country_Information_Input23"//。
						Param "UI_Country_Information_Input24"//国家公告
					}
				}//end case
				Logic {//case 1
					Class "ProxyArray"
					Method {
						Class "JXJBuildMyCountryPageUpdate"
						Param "UI_Country_Build_Input1"//木材 
						Param "UI_Country_Build_Input2"//铁矿
						Param "UI_Country_Build_Input3"//粮草
						Param "UI_Country_Build_Input4"//马匹
						Param "UI_Country_Build_Input5"//征兵
						Param "UI_Country_Build_Input6"//名称1 
						Param "UI_Country_Build_Input7"//等级1
						Param "UI_Country_Build_Input8"//加成1
						Param "UI_Country_Build_Input9"//说明1
						Param "UI_Country_Build_Input10"//名称2
						Param "UI_Country_Build_Input11"//等级2 
						Param "UI_Country_Build_Input12"//加成2
						Param "UI_Country_Build_Input13"//说明2
						Param "UI_Country_Build_Input14"//名称3
						Param "UI_Country_Build_Input15"//等级3
						Param "UI_Country_Build_Input16"//加成3 
						Param "UI_Country_Build_Input17"//说明3
						Param "UI_Country_Build_Input18"//名称4
						Param "UI_Country_Build_Input19"//等级4
						Param "UI_Country_Build_Input20"//加成4
						Param "UI_Country_Build_Input21"//说明4 
						Param "UI_Country_Build_Input22"//名称5
						Param "UI_Country_Build_Input23"//等级5
						Param "UI_Country_Build_Input24"//加成5
						Param "UI_Country_Build_Input25"//说明5
						Param "UI_Country_Build_Bar1"//建设进度1 
						Param "UI_Country_Build_Bar2"//建设进度2
						Param "UI_Country_Build_Bar3"//建设进度3
						Param "UI_Country_Build_Bar4"//建设进度4
						Param "UI_Country_Build_Bar5"//建设进度5
						Param "UI_Country_Build_Js1"//建设1 
						Param "UI_Country_Build_Js2"//建设2
						Param "UI_Country_Build_Js3"//建设3
						Param "UI_Country_Build_Js4"//建设4
						Param "UI_Country_Build_Js5"//建设5
						Param "tongquetai.cfg"//说明1 
						Param "caoyun.cfg"//说明2
						Param "simajian.cfg"//说明3
						Param "shanglingyuan.cfg"//说明4
						Param "taimiao.cfg"//说明5
						Param "UI_Country_Build_Input26"//拥有国家贡献
					}
				}//end case
			}
		}
	}
}