# Creature3D Script Parser v1.0

Data {
    Class "JXJMyGroupCanvas"
	xHandle {
		MsgParam "InitWindow"
		MsgParam "0"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJTestNodeSize2"
				Param "Name_Listctrl"
				Param "14"			//charactersize
				Param "14"			//fontsizex
				Param "14"			//fontsizey
				Param "4"			//linespacing
				Param "3"			//underlinespacing
				Param "UI_Battleground_Jr1_ListScroll"
				Param "UI_Crops2_GameList3"
				Param "Number_Listctrl"
			}
			Method {
				Class "JXJTestNodeSize2"
				Param "UI_Crops4_Name"
				Param "16"			//charactersize
				Param "20"			//fontsizex
				Param "20"			//fontsizey
				Param "16"			//linespacing
				Param "3"			//underlinespacing
				Param "UI_Battleground_Jr1_ListScroll"
				Param "UI_Crops4_GameList"
				Param "UI_Crops4_Level"
				Param "UI_Crops4_JunTuanZhiWu"
				Param "UI_Crops4_GuanZhi"
				Param "UI_Crops4_HuoYue"
				Param "UI_Crops4_ZaiXianZhuangKuang"				
			}
			Method {
				Class "JXJTestNodeSize2"
				Param "UI_Crops5_ShengQingShiJian"
				Param "16"			//charactersize
				Param "20"			//fontsizex
				Param "20"			//fontsizey
				Param "16"			//linespacing
				Param "3"			//underlinespacing
				Param "UI_Battleground_Jr1_ListScroll"
				Param "UI_Crops5_GameList"
				Param "UI_Crops5_ShengQingRen"
				Param "UI_Crops5_Level"
				Param "UI_Crops5_GuanZhi"				
			}
			Method {
				Class "JXJTestNodeSize2"
				Param "UI_Crops6_2_PaiMing"
				Param "16"			//charactersize
				Param "20"			//fontsizex
				Param "20"			//fontsizey
				Param "15"			//linespacing
				Param "3"			//underlinespacing
				Param "UI_Battleground_Jr1_ListScroll"
				Param "UI_Crops6_2_GameList1"
				Param "UI_Crops6_2_JunTuanMing"
				Param "UI_Crops6_2_JunTuanMaster"
				Param "UI_Crops6_2_Level"	
				Param "UI_Crops6_2_Number"
				Param "UI_Crops6_2_HuoYueZhi"
				Param "UI_Crops6_2_ChengChiFenFeng"	
				Param "UI_Crops6_2_Percent"					
			}
			Method {
				Class "JXJTestNodeSize2"
				Param "UI_Crops6_2_Jun"
				Param "16"			//charactersize
				Param "20"			//fontsizex
				Param "20"			//fontsizey
				Param "10"			//linespacing
				Param "3"			//underlinespacing
				Param "UI_Battleground_Jr1_ListScroll"
				Param "UI_Crops6_2_GameList2"
				Param "UI_Crops6_2_ChengChi"
				Param "UI_Crops6_2_XingZhengGuan"								
			}			
			xMethod {
				Class "JXJQueryMyApplyGroupVec"
			}
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJQueryMyGroupInfo"
			}
			Method {
				Class "JXJSetRankUIRadioSelect"
				Param "UI_Crops1"
				Param "UI_Crops1_BiaoQian"
				Param "0"
				Param "Page"
			}
			Method {
					Class "JXJGroupCanvasInit"
					Param "UI_Crops1"					
			}
			Method {
				Class "UpdateMe"
			}
		}
	}

	Handle {
		MsgParam "Frame"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "RunFrequencyControl"
				Param "1.0"
			}
			Method {
				Class "JXJDismissTimer"				
			}
			Method {
				Class "JXJMyGroupCanvasGlobalUpdate" 
				Param "sw9"
				Param "UI_Crops1_Title"
				Param "UI_Crops1_DongHua1"
			}
		}
	}	
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"			
			
			Logic {
				Class "Switch"
				Method {//条件
					Class "GetRadioGroupValue"
					Param "UI_Crops1_BiaoQian"
				}
				Logic {//case 0 军团信息
					Class "ProxyArray"
					Method {
						Class "JXJUIMyGroupInfoUpdate"
						Param "UI_Crops2_JunTuanMingCheng"
						Param "UI_Crops2_JunTuanDengJi"
						Param "UI_Crops2_ChengYuanShuLiang"
						Param "UI_Crops2_JunTuanPaiMing"
						Param "UI_Crops2_JunTuanGengMing"
						Param "UI_Crops2_ChaKanPaiMing"
						Param "UI_Crops2_GameList3"
						Param "UI_Crops2__GongGaoBianJi_1"
						Param "UI_Crops2_GongGaoFaBu_1"
						Param "UI_Crops2_Input1"
						Param "UI_Crops2_Tuiwei"
						Param "UI_Crops2_Renmingfutuan"
						Param "UI_Crops2_Left"
						Param "UI_Crops2_Right"
						Param "UI_Crops2_Yichuchengyuan"
						Param "UI_Crops2_Likaijuntuan"
						Param "sw161"
						Param "UI_Crops2_JunTuanGongGao"
						Param "UI_Crops2_Jiechufutuanzhang"
					}
				}
				Logic {//case 1 军团福利
					Class "ProxyArray"
					Method {
						Class "JXJUIMyGroupFuLiUpdate"
						Param "UI_Crops3_Icon1"
						Param "UI_Crops3_Icon2"
						Param "UI_Crops3_Icon3"
						Param "UI_Crops3_Icon4"
						Param "UI_Crops3_Icon5"
						Param "UI_Crops3_Icon6"
						Param "UI_Crops3_Icon7"
						Param "UI_Crops3_Icon8"
						Param "UI_Crops3_JunTuanDengJi"
						Param "UI_Crops3__JunTuanZiJin"
						Param "UI_Crops3_Shengji"
						Param "Crops3Raido"
						Param "UI_Crops3_Money"
						Param "UI_Crops3_LiangShi"
						Param "UI_Crops3_MuCai"												
						Param "UI_Crops3__TieKuang"
						Param "UI_Crops3_MaPi"
						Param "UI_Crops3_ZiYuanJuanXian"
						Param "UI_Crops3_Tishi1"						
						Param "UI_Crops3_JunTuanFuBen_1"	
						Param "UI_Crops3_KaiQiJingYan_1"						
						Param "UI_Crops3_Icon9"
						Param "UI_Crops3_Icon10"						
						Param "UI_Crops3_Icon11"	
						Param "UI_Crops3_Icon12"
						Param ""
						Param "Crops3_Radio"	
						Param "UI_Crops3_Tishi2"
						Param "UI_Crops3_Input1_1"
						Param "UI_Crops3_Input1_2"
						Param "UI_Crops3_Input1_3"
						Param "UI_Crops3_Input1_4"
						Param "UI_Crops3_Input1_5"
						Param "UI_Crops3_Input1_6"
						Param "UI_Crops3_Input1_7"
						Param "UI_Crops3_Input1_8"
						Param "UI_Crops3_Input1_9"
						Param "UI_Crops3_Input1_10"
						Param "UI_Crops3_Input1_11"	
						Param "UI_Crops3_Input1_12"
						Param "UI_Crops3_Input1_13"						
						Param "UI_Crops3_Input1_14"
						Param "UI_Crops3_Input1_15"
						Param "UI_Crops3_Input_16"
						Param "sw135"
						Param "UI_Crops3_Goumai1"						
						Param "UI_Crops3_Goumai2"
						Param "UI_Crops3_Goumai3"
						Param "UI_Crops3_Goumai4"
						Param "UI_Crops3_Goumai5"
						Param "UI_Crops3_Goumai6"
						Param "UI_Crops3_Goumai7"
						Param "UI_Crops3_Goumai8"
						Param "UI_Crops3_JinRu_2"
						Param "UI_Crops3_JingYanKaiQi_4"
						Param "UI_Crops3_JinRu_4"
						Param "UI_Crops3_JingYanKaiQi_5"
						Param "UI_Crops3_JinRu_5"
						Param "UI_Crops3_JinRu_6"
						Param "UI_Crops3_JinRu_7"
						Param "UI_Crops3_JinRu_8"
						Param "UI_Crops3_JingYanKaiQi_3"
						Param "UI_Crops3_JinRu_3"
						Param "UI_Crops_ListScroll1"
						Param "Bar"
						Param "UI_Crops3_Input1"
						Param "UI_Crops3_Shuaxin"
						Param "sw164"
						Param "sw163"
					}
				}
				Logic {//case 2 城池管理
					Class "ProxyArray"
					Method {
						Class "JXJMyGroupChengChiCanvasSwitchChange"
						Param "UI_Crops1"
						Param "UI_Crops6"						
						Param "1"
					}							
					Method {
						Class "JXJUIChengChiGroupUpdate"
						Param "UI_Crops6_Icon1"
						Param "UI_Crops6_Icon2"	
						Param "UI_Crops6_Icon3"	
						Param "UI_Crops6_Icon4"
						Param "UI_Crops6_Icon5"
						Param "UI_Crops6_Icon6"
						Param "UI_Crops6_Icon7"	
						Param "UI_Crops6_Icon8"	
						Param "UI_Crops6_Input2"
						Param "UI_Crops6_Input3"
						Param "UI_Crops6_Input4"	
						Param "UI_Crops6_Input5"
						Param "UI_Crops6_Input6"	
						Param "UI_Crops6_Input7"
						Param "UI_Crops6_Input8"
						Param "UI_Crops6_Input9"
						Param "UI_Crops6_Goumai1"								
						Param "UI_Crops6_Goumai2"
						Param "UI_Crops6_Goumai3"
						Param "UI_Crops6_Goumai4"
						Param "UI_Crops6_Goumai5"
						Param "UI_Crops6_Goumai6"
						Param "UI_Crops6_Goumai7"
						Param "UI_Crops6_Goumai8"								
						Param "UI_Crops6_Input12"	
						Param "UI_Crops6_Shuaxin"	
						Param "UI_Crops6_Input13"
						Param "UI_Crops6_Input24"						
						Param "UI_Crops6_Input14"	
						Param "UI_Crops6_Input15"	
						Param "UI_Crops6_Chakantechan1"	
						Param "UI_Crops6_Chakantechan2"		
						Param "UI_Crops6_Chakantechan3"
						Param "UI_Crops6_Chengchirenming"
						Param "UI_Crops6_Input1"
						Param "UI_Crops6_Zhoujuntechanyilan"
						Param "T_Icon_Task_Food.img"//粮草
						Param "T_Icon_Task_Wood.img"//木材
						Param "T_Icon_Task_Ore.img"//铁矿
						Param "T_Icon_Task_Horse.img"//马匹
						Param "T_Icon_Task_Coins.img"//铜钱
						Param "T_Icon_Task_EXP.img"//经验
						Param "T_Icon_Task_Gongxun.img"//功勋
						Param "T_Icon_Task_Gifts.img"//礼金
						Param "T_Icon_Task_CountryContribution.img"//国家贡献
						Param "T_Icon_Task_Zhangong.img"//战功
						Param "UI_Crops6_Input16"
						Param "UI_Crops6_Input17"
						Param "UI_Crops6_Input18"								
						Param "UI_Crops6_Input19"	
						Param "UI_Crops6_Input20"	
						Param "UI_Crops6_Input21"	
						Param "UI_Crops6_Input22"	
						Param "UI_Crops6_Input23"
					}
					Method {
						Class "JXJUIChangePageShowWidget"
						Param "22029"
						Param "22030"
						Param "NULL"	
						Param "UI_Crops6_2_LeftPage"//上一页
						Param "UI_Crops6_2_RightPage"//下一页
						Param "NULL"			
					}
					
				}					
				Logic {//case 3 军团审核
					Class "ProxyArray"
					Method {
						Class "JXJUIMyGroupShenHeUpdate"
						Param "UI_Crops5_GameList"
						Param "UI_Crops5_TianJiaChengYuan"
						Param "UI_Crops5_PageNumber"
						Param "UI_Crops5_JuJue"
						Param "UI_Crops5_JiaRu"
						Param "sw53_2"
						Param "sw53_1"
						Param "sw53"
					}
					Method {
						Class "JXJUIChangePageShowWidget"
						Param "20867"
						Param "20868"	
						Param "NULL"	
						Param "UI_Crops5_LeftPage"//上一页
						Param "UI_Crops5_RightPage"//下一页
						Param "NULL"				
					}
				}
				
			}
		}
	}
}