# Creature3D Script Parser v1.0

Data {
    Class "UI"	
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJQueryCountryWillBeLeader"
			}			
			Method {
				Class "UpdateMe"
			}
		}
	}
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"	
			xMethod {
				Class "JXJTestNodeSize2"
				Param "Guanyuanxuanju_Input2"
				Param "14"			//charactersize
				Param "20"			//fontsizex
				Param "18"			//fontsizey
				Param "10"			//linespacing
				Param "10"			//underlinespacing
				Param "Guanyuanxuanju_ListScroll"
				Param "Guanyuanxuanju_Input1"
				Param "Guanyuanxuanju_Input3"
				Param "Guanyuanxuanju_Input4"							
			}
			Method {
				Class "JXJCountryOfficialElectUpdate"
				Param "Guanyuanxuanju_Input1"//信息列表
				Param "Guanyuanxuanju_Check1"//
				Param "Guanyuanxuanju_Check2"//
				Param "Guanyuanxuanju_Check3"//
				Param "Guanyuanxuanju_Check4"//
				Param "Guanyuanxuanju_Check5"//
				Param "Guanyuanxuanju_Check6"//
				Param "Guanyuanxuanju_Check7"//
				Param "Guanyuanxuanju_Check8"//
				Param "Guanyuanxuanju_Check9"//
				Param "Guanyuanxuanju_Check10"//
				Param "Guanyuanxuanju_Queren"//选举按钮
				Param "Guanyuanxuanju_ListScroll"
				Param "sw6"
				Param "sw7"
				Param "sw8"
				Param "sw9"
				Param "sw10"
				Param "sw11"
				Param "sw12"
				Param "sw13"
				Param "sw14"
				Param "sw15"
				Param "sw16"
			}
		}
	}
	Handle {
		MsgParam "Frame"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class  "RunFrequencyControl"
				Param "1.0"
			}
			Method {
				Class "JXJStartXuanJuTimer"
				Param "Guanyuanxuanju_Input6"
			}
		}
	}	
}