# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUIKickMemberOutofGroup"
				Param "0"
				Param "UI_Prompt"
				Param "UI_Prompt_Input"
				Param "UI_Prompt_Confirm"
				Param ""
				Param "UI_Corps2"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_Corps_Information_Pop"
				Param "0"
			}
		}
	}
	Handle {
		MsgParam "WCH_OK"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJKickMemberOutofGroup"
				Param "UI_Corps2"
			}
		}
	}
}