# Creature3D Script Parser v1.0

Data {
    Class "JXJPersuadeCanvas"
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJFubenPersuadeCanvasShow"
				Param "UI_Dispatch_Text"
				Param "sw117_1"
				Param "sw119_2"
				Param "sw117"
				Param "UI_Dispatch_WuJiang"
				Param "UI_Dispatch_Determine"
				Param "UI_Fb_ShuoFu_Disable.img"
			}
		}
	}
	Handle {
		MsgParam "Frame"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "RunFrequencyControl"
				Param "1.0"
			}
			Method {
				Class  "JXJFubenPersuadeUIUpdate"
				Param "UI_Dispatch_Time2"
			}
		}
	}
}