# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJAutoCheckSaoDangTask"
			}
			Logic {
				Class "CreateSound"
				Param "0"//创建Node
				Param "sounds/beijing_6.wav"
				Param "1"//ambient
				Param "1.0"//volume
				Param "1"//play
				Param "0"//looping
				Method {
					Class "LoadSound"
				}
			}
			Method {
				Class "CloseParentCanvas"
			}
		}
	}
}