# Creature3D Script Parser v1.0

Data {
    Class "UI"	
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"			
			Method {
				Class "UpdateMe"
			}				
		}
	}
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJDanbichongzhiCanvasUpdate"
				Param "Icon1"
				Param "Icon2"
				Param "Icon3"
				Param "Icon4"
				Param "Icon5"
				Param "Icon6"
				Param "Icon7"
				Param "Icon8"
				Param "Icon9"
				Param "Icon10"
				Param "Icon11"
				Param "Icon12"
				Param "Icon13"
				Param "Icon14"
				Param "Icon15"
				Param "Icon16"
				Param "Input1"
				Param "Input2"
				Param "Input3"
				Param "Input4"
				Param "Input6"
				Param "Input8"
				Param "Input10"
				Param "Input12"
				Param "Lingqu1"
				Param "Lingqu2"
				Param "Lingqu3"
				Param "Lingqu4"
				Param "Donghua1"
				Param "Donghua2"
				Param "Donghua3"
				Param "Donghua4"
				Param "Donghua5"
				Param "Donghua6"
				Param "Donghua7"
				Param "Donghua8"
				Param "Donghua9"
				Param "Donghua10"
				Param "Donghua11"
				Param "Donghua12"
				Param "Donghua13"
				Param "Donghua14"
				Param "Donghua15"
				Param "Donghua16"
				Param "Input14"
			}
		}
	}
	Handle {
		MsgParam "Frame"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "RunFrequencyControl"
				Param "1.0"
			}
			Method {
				Class "CanvasUpdate"
				Param "UI_Danbichongzhi"
			}
		}
	}
	Handle {
		MsgParam16 "NULL"
		MsgParam16 "SCROLLUP"
		Driver {
			Class "MoreSlot"
			Method {
				Class  "JXJListCtrlScroll"
				Param "Danbichongzhi_ListScroll"
				Param "0"
			}
		}
	}
	Handle {
		MsgParam16 "NULL"
		MsgParam16 "SCROLLDOWN"
		Driver {
			Class "MoreSlot"
			Method {
				Class  "JXJListCtrlScroll"
				Param "Danbichongzhi_ListScroll"
				Param "1"
			}
		}
	}
}