# Creature3D Script Parser v1.0

Data {
    Class "HuodongCanvas"
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJRefreshZhengZhanTianHuoDongSteps"
			}
			Method {
				Class "UpdateMe"
			}
		}
	}
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJHuodongCanvasInit"
			}
			Method {
				Class "JXJ7DayHuodongCanvasUpdate"
				Param "sw23"
				Param "UI_Event_Input1"
				Param "Input_Neirong"
				Param "UI_Event_Input6"
				Param "UI_Event_Input7"
				Param "UI_Event_Input8"
				Param "UI_Event_Input9"
				Param "UI_Event_Input10"
				Param "UI_Event_Input11"
				Param "UI_Event_Input12"//				
				Param "UI_Event_Icon1"
				Param "UI_Event_Icon2"
				Param "UI_Event_Icon3"
				Param "UI_Event_Icon4"
				Param "UI_Event_Icon5"//
				Param "UI_Event_LingQu"
				Param "UI_LunHui_Zhuangbei_Backboard.img"
				Param "UI_Event_Input15"
				Param "UI_Event_Input16"
				Param "UI_Event_Input17"
				Param "UI_Event_Input18"
				Param "UI_Event_Input19"
				Param "sw14"
				Param "sw15"
				Param "sw16"
				Param "sw17"
				Param "sw18"
				Param "sw19"
				Param "sw20"				
				Param "UI_Event_YiLingQu"
				Param "UI_Event_ListScroll"
				Param "sw48"
				Param "UI_Event_Input3"
				Param "Input_Biaoti"
				Param "Input_Neirong_1"
				Param "Chunjiehaol_lcon1"
				Param "Chunjiehaol_lcon2"
				Param "Chunjiehaol_lcon3"
				Param "Chunjiehaol_Linqu1"
				Param "Chunjiehaol_Linqu2"
				Param "Chunjiehaol_Linqu3"
				Param "Chunjiehaol_Wenb1"
				Param "Chunjiehaol_Wenb2"
				Param "sw55"
				Param "sw56"
				Param "sw57"
				Param "Tou_8"
				Param "Img_1"
				Param "Img_2"
				Param "Img_3"
				Param "Img_4"
				Param "Tou_1"
				Param "Tou_2"
				Param "Tou"
				Param "Tou_3"
				Param "Tou_4"
				Param "Tou_5"
				Param "Tou_6"
				Param "Tou_7"
				Param "But2"
				Param "But_1"
				Param "But_3"
				Param "But_2"
				Param "IM1"
				Param "BU3"
				Param "XiaoGuanJia_Input1_1"
				Param "XiaoGuanJia_Input1_2"
				Param "XiaoGuanJia_Input1_4"
				Param "XiaoGuanJia_Input1_5"
				Param "XiaoGuanJia_Input1_6"
				Param "XiaoGuanJia_Input1_7"
				Param "XiaoGuanJia_Input1_8"
				Param "Plane216_5"
				Param "Plane216_6"
				Param "Plane216_7"
				Param "Plane216_8"
				Param "Plane216_9"
				Param "Plane216_10"
				Param "Plane216_11"
			}					
		}
	}
	Handle {
		MsgParam16 "NULL"
		MsgParam16 "SCROLLUP"
		Driver {
			Class "OneSlot"
			Method {
				Class  "JXJListCtrlScroll"
				Param "UI_Event_ListScroll"
				Param "0"
			}
		}
	}
	Handle {
		MsgParam16 "NULL"
		MsgParam16 "SCROLLDOWN"
		Driver {
			Class "OneSlot"
			Method {
				Class  "JXJListCtrlScroll"
				Param "UI_Event_ListScroll"
				Param "1"
			}
		}
	}
}