# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "ValueChange"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJSetCurrentHuodongIdx"
				Param "UI_Event_7Day"
				Param "UI_Event_ListScroll"
			}
			Method {
				Class "ParentCanvasUpdate"				
			}				
		}
	}
}