# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSEPUSH"
		Driver {
			Class "MoreSlot"
			xMethod {
				Class "JXJUICheckFubenNeed"
				Param "UI_Fuben_Tips"
				Param "UI_input_jinrufuben"
				Param "UI_Prompt1"
				Param "UI_Prompt1_Drag"
				Param "UI_Prompt1_Input"
			}
			xMethod {
				Class "CanvasUpdate"
				Param "UI_Beta2_Mail"
			}
		}
	}
}