# Creature3D Script Parser v1.0

Data {
    Class "UI"
	xHandle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJUIFubenSelectChange"
				Param "UI_Input_jiangling"
				Param "UI_Input_binzhong"
				Param "UI_Input_diaoluo"
				Param "UI_Input_fuhuo"
				Param "UI_Input_shuomin"
				Param "UI_FuBen_KeJi_Backboard.img"
			}
		}
	}
	Handle {
		MsgParam "SelectChange"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "CanvasUpdate"
				Param "UI_FuBen"
			}
			xMethod {
				Class "JXJUIFubenSelectChange"
				Param "UI_Input_jiangling"
				Param "UI_Input_binzhong"
				Param "UI_Input_diaoluo"
				Param "UI_Input_fuhuo"
				Param "UI_Input_shuomin"
				Param "UI_FuBen_KeJi_Backboard.img"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+20425"//WCH_JXJFubenSelectChange
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJUIFubenSelectChange"
				Param "UI_Input_jiangling"
				Param "UI_Input_binzhong"
				Param "UI_Input_diaoluo"
				Param "UI_Input_fuhuo"
				Param "UI_Input_shuomin"
				Param "UI_FuBen_KeJi_Backboard.img"
			}
		}
	}
}