# Creature3D Script Parser v1.0

Data {
    Class "JXJTechCanvas"
	Handle {
		MsgParam "Frame"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class  "RunFrequencyControl"
				Param "1.0"
			}
			Method {
				Class "UpdateMe"
			}
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJResetTechNewBtnFlag"
			}
			Method {
				Class "UpdateMe"
			}
		}
	}
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUpdateTechCanvas"
				Param "UI_Fuya_Keji_Title1"
				Param "UI_Fuya_Keji_Title2"
				Param "UI_Fuya_Keji_Title3"
				Param "UI_Fuya_Keji_Title4"
				Param "UI_Fuya_Keji_Title5"
				Param "UI_Fuya_Keji_Title6"
				Param "UI_Fuya_Keji_Title7"
				Param "UI_Fuya_Keji_Details1"
				Param "UI_Fuya_Keji_Details2"
				Param "UI_Fuya_Keji_Details3"
				Param "UI_Fuya_Keji_Details4"
				Param "UI_Fuya_Keji_Details5"
				Param "UI_Fuya_Keji_Details6"
				Param "UI_Fuya_Keji_Details7"
				Param "UI_Fuya_Keji_Develop1"
				Param "UI_Fuya_Keji_Develop2"
				Param "UI_Fuya_Keji_Develop3"
				Param "UI_Fuya_Keji_Develop4"
				Param "UI_Fuya_Keji_Develop5"
				Param "UI_Fuya_Keji_Develop6"
				Param "UI_Fuya_Keji_Develop7"
				Param "UI_Fuya_Keji_Complete1"
				Param "UI_Fuya_Keji_Complete2"
				Param "UI_Fuya_Keji_Complete3"
				Param "UI_Fuya_Keji_Complete4"
				Param "UI_Fuya_Keji_Complete5"
				Param "UI_Fuya_Keji_Complete6"
				Param "UI_Fuya_Keji_Complete7"
				Param "UI_Fuya_Keji_ClearCD1"
				Param "UI_Fuya_Keji_ClearCD2"
				Param "UI_Fuya_Keji_ClearCD3"
				Param "UI_Fuya_Keji_ClearCD4"
				Param "UI_Fuya_Keji_ClearCD5"
				Param "UI_Fuya_Keji_ClearCD6"
				Param "UI_Fuya_Keji_ClearCD7"
				Param "sw2_4"
				Param "sw2_21"
				Param "sw2_22"
				Param "sw2_23"
				Param "sw2_24"
				Param "sw2_25"
				Param "sw2_26"
				Param "UI_Fuya_Keji_PageNumber"
				Param "sw29"
				Param "sw30"
				Param "sw31"
				Param "sw32"
				Param "sw33"
				Param "sw34"
				Param "sw35"
				Param "UI_Fuya_Keji_Icon1"
				Param "UI_Fuya_Keji_Icon2"
				Param "UI_Fuya_Keji_Icon3"
				Param "UI_Fuya_Keji_Icon4"
				Param "UI_Fuya_Keji_Icon5"
				Param "UI_Fuya_Keji_Icon6"
				Param "UI_Fuya_Keji_Icon7"
			}
			Method {
				Class "JXJUIChangePageShowWidget"
				Param "21255"
				Param "21256"
				Param ""//第一页
				Param "UI_Fuya_Keji_LeftPage"//上一页
				Param "UI_Fuya_Keji_RightPage"//下一页
				Param ""//最后一页
			}
		}
	}
}