# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "SelectChange"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJResetCurPage"
				Param "UI_FuBen"
				Param "20850"
			}
			Method {
				Class "CanvasUpdate"
				Param "UI_FuBen"
			}
		}
	}
}