# Creature3D Script Parser v1.0

Data {
    Class "JXJFubenCanvas"
	xHandle {
		MsgParam "InitWindow"
		MsgParam "0"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJChapterRadioAddName"
				Param "ZJRaido"
				Param "UI_Chapter1"
				Param "UI_Chapter2"
				Param "UI_Chapter3"
				Param "UI_Chapter4"
				Param "UI_Chapter5"
				Param "UI_Chapter6"
				Param "UI_Chapter7"
				Param "UI_Chapter8"
				Param "UI_Chapter9"
				Param "UI_Chapter10"
				Param "UI_Chapter11"
			}
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "OneSlot"
			Method {
				Class "UpdateMe"
			}
		}
	}
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUIFubenUpdate"
				Param "FubenRaido"
				Param "ZJRaido"
				Param "FBRaido"
				Param "FubenYXRaido"
				Param "UI_CZ"
				Param "sw56"//fuben
				Param "sw57"//.
				Param "sw58"//.
				Param "sw59"//.
				Param "sw60"//.
				Param "sw61"//fuben
				Param "sw45"//chapter
				Param "sw46"//.
				Param "sw47"//.
				Param "sw48"//.
				Param "sw49"//.
				Param "sw50"//.
				Param "sw51"//.
				Param "sw52"//.
				Param "sw53"//.
				Param "sw54"//.
				Param "sw55"//chapter
				Param "UI_Fuben_Icon1"
				Param "UI_Fuben_Icon1_1"
				Param "UI_Fuben_Icon1_2"
				Param "UI_Input1"
				Param "UI_Input2"
				Param "UI_Input3"
				Param "UI_Beta3_GotoBattle_Backboard2"
				Param "UI_Beta3_GotoBattle_Backboard3"
				Param "UI_Beta3_GotoBattle_Backboard4"
				Param ""
				Param ""
				Param ""
				Param "UI_Sweep1"
				Param "UI_Sweep2"
				Param "UI_Sweep3"
				Param "UI_Sweep4"
				Param "UI_Sweep5"
				Param "UI_Sweep6"
				Param "UI_Enter1"
				Param "UI_Enter2"
				Param "UI_Enter3"
				Param "UI_Enter4"
				Param "UI_Enter5"
				Param "UI_Enter6"
				Param "cardsw1"
				Param "cardsw2"
				Param "cardsw3"
				Param "cardcolor1"
				Param "cardcolor2"
				Param "cardcolor3"
				Param "cardcolor4"
				Param "cardcolor5"
				Param "cardcolor6"
				Param "sw56"
				Param "sw57"
				Param "sw58"
				Param "ratesw1"
				Param "ratesw2"
				Param "ratesw3"
				Param "UI_Barracks_Up"
				Param "UI_Barracks_Down"
				Param "UI_Crad1"
				Param "UI_Crad2"
				Param "UI_Crad3"
				Param "UI_Crad4"
				Param "UI_Crad5"
				Param "UI_Crad6"
				Param "UI_Image"
				Param "UI_LeaderIcon"
				Param "UI_Enter1"
				Param "UI_Sweep1"
				Param "UI_Barracks_ListScroll"
				Param "T_Achievement_Backboard.img"
				Param "Page2"
				Param "Page1"
				Param "UI_Input4"
				Param "sw131"
				Param "UI_Mjzl"
				Param "15"
				Param ""
				Param "UI_Zdjr"
			}
			Method {
				Class "JXJSetWidgetVisiable"
				Param "UI_FuBen"
				Param "UI_Shuofu"
				Param "0"
			}
		}
	}
	Handle {
		MsgParam16 "NULL"
		MsgParam16 "SCROLLUP"
		Driver {
			Class "OneSlot"
			Method {
				Class  "JXJListCtrlScroll"
				Param "UI_Barracks_ListScroll"
				Param "0"
			}
		}
	}
	Handle {
		MsgParam16 "NULL"
		MsgParam16 "SCROLLDOWN"
		Driver {
			Class "OneSlot"
			Method {
				Class  "JXJListCtrlScroll"
				Param "UI_Barracks_ListScroll"
				Param "1"
			}
		}
	}
}