# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUIDuoBeiHuoQvQueRen"
				Param "UI_Prompt"
				Param "UI_Prompt_Input"
				Param "UI_Prompt_Confirm"
				Param "2"
			}
		}
	}
	Handle {
		MsgParam "WCH_OK"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJFubenVictoryDropItemDouble"
				Param "2"
			
			}
			Method {
				Class "CloseParentCanvas"
			}
		}
	}
	Handle {
		MsgParam "WCH_FILTERGETFOCUS"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJFubenVictoryDoubleTipsShow"
				Param "UI_Fuben_VictoryFail2_Tips"
				Param "Tips_Input1"
				Param "2"
			}
		}
	}
	Handle {
		MsgParam "WCH_FILTERLOSTFOCUS"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "ShowCanvas"
				Param "UI_Fuben_VictoryFail2_Tips"
				Param "0"
			}
		}
	}
}