# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "Frame"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class  "RunFrequencyControl"
				Param "0.2"
			}
			Method {
				Class "JXJUIFormationArmyUpdate"
				Param "ArmyRaido"
				Param "PhalanxRadio"
				Param "UI_Army01_Quantity"
				Param "UI_Army02_Quantity"
				Param "UI_Army03_Quantity"
				Param "UI_Army04_Quantity"
				Param "UI_Army05_Quantity"
				Param "UI_Army06_Quantity"
				Param "UI_Phalanx01_Quantity"
				Param "UI_Phalanx02_Quantity"
				Param "UI_Phalanx03_Quantity"
			}
		}
	}
}