# Creature3D Script Parser v1.0

Data {
    Class "JXJFubenRewardCanvas"
	Handle {
		MsgParam "InitWindow"
		MsgParam "1"
		Driver {
			Class "OneSlot"
			Method {
				Class "SetMsgTraverse"
				Param "15"
			}
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJFubenVictoryFailOnShow"
				Param "sw8"
				Param "UI_VictoryFail_input1"
				Param "UI_VictoryFail_input2"
				Param "sw15"
				Param "sw22"
				Param "UI_Fuben_VictoryFail_Double"
				Param "UI_VictoryFail_input4"
				Param "UI_VictoryFail_input6"
				Param "UI_CopyBattle_XingJi"
				Param "sw5"
				Param "XingJi_Input3"
				Param "XingJi_Donghua3"
				Param "DongHua1"
				Param "DongHua2"
				Param "DongHua3"
				Param "sw29"
				Param "UI_Fuben_VictoryFail_Double2"
				Param "UI_Fuben_VictoryFail_SanBei"
				Param "UI_Fuben_VictoryFail_Double3"
				Param "UI_Fuben_VictoryFail_SanBei2"
				Param "UI_Fuben_VictoryFail_SiBei"
			}
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "0"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJFubenVictoryFailCanvasClose"
			}
		}
	}
	Handle {
		MsgParam "Frame"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class  "RunFrequencyControl"
				Param "1.0"
			}
			Logic {
				Class "IF_ELSE"
				Method {
					Class "JXJFubenVictoryFailCanvasUpdate"
					Param "UI_VictoryFail_input3"
				}
				Method {
					Class "JXJFubenVictoryFailCanvasClose"
				}
			}
		}
	}
}