# Creature3D Script Parser v1.0

Data {
    Class "JXJGovPostShopCanvas"
	Handle {
		MsgParam "InitWindow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			xMethod {
				Class "JXJGovPostShopOnShow"
			}
			Method {
				Class "JXJResetCurPage"
				Param "UI_Fuya_Guanzhi_Shop"
				Param "21019"
			}
			Method {
				Class "UpdateMe"
			}
		}
	}
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJGovPostShopUpdate"
				Param "Input27"//页码
				Param "Input26"
				Param "Hit"
				Param "Icon1"
				Param "Icon2"
				Param "Icon3"
				Param "Icon4"
				Param "Icon5"
				Param "Input1"
				Param "Input6"
				Param "Input11"
				Param "Input16"
				Param "Input21"
				Param "Input3"
				Param "Input8"
				Param "Input13"
				Param "Input18"
				Param "Input23"
				Param "Input4"
				Param "Input9"
				Param "Input14"
				Param "Input19"
				Param "Input24"
				Param "Input5"
				Param "Input10"
				Param "Input15"
				Param "Input20"
				Param "Input25"
				Param "Buy1"
				Param "Buy2"
				Param "Buy3"
				Param "Buy4"
				Param "Buy5"
				Param "Input2"
				Param "Input7"
				Param "Input12"
				Param "Input17"
				Param "Input22"
			}
			Method {
				Class "JXJUIChangePageShowWidget"
				Param "21019"
				Param "21020"
				Param ""//第一页
				Param "Left"//上一页
				Param "Right"//下一页
				Param ""//最后一页
			}
		}
	}
}