# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJCancelPutMateOnSmelter"
				Param "UI_Gongfang"
			}
			Method {
				Class "CanvasUpdate"
				Param "UI_Gongfang"
			}
		}
	}
	Handle {
		MsgParam "WCH_FILTERGETFOCUS"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJUILordEquipTipInfo"
				Param "UI_ZhuangBei_Tips"
				Param "Name"//name
				Param "T_Name"//称号
				Param "ShuXing"//属性
				Param "Lv"//等级
				Param "Picture"//图片
				Param "Tips_YZB"//是否已装备
				Param "UI_Beta2_Knapsack_Czan"
				Param "UI_Shuxing_Tips"//超文本长窗口
				Param "ShuXing_BK"//超文本背景
				Param "Di1"//超文本背景
				Param "1.1|-0.001|0.0095"//offset
				Param "255.0f|0.0f|0.0f|255.0f"
				Param "-1"
				Param ""
				Param "20"//index
				Param "-1"
				Param ""
				Param "UI_Gongfang"//index
				Param "UI_GongfangRaido"//index
			}
		}
	}
	Handle {
		MsgParam "WCH_FILTERLOSTFOCUS"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "ShowCanvas"
				Param "UI_ZhuangBei_Tips"
				Param "0"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_Shuxing_Tips"
				Param "0"
			}
		}
	}
}