# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "ValueChange"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJSmelterEditCheck"
				Param "UI_Gongfang"
				Param "Reduce"
				Param "Add"
				Param "UI_GongFang_Rl_Input2"
			}
			Method {
				Class "CanvasUpdate"
				Param "UI_Gongfang"
			}
		}
	}
}