# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "WCH_FILTERLOSTFOCUS"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "ShowCanvas"
				Param "UI_ZhuangBei_Tips"
				Param "0"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_Shuxing_Tips"
				Param "0"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_ZhuangBei_Tips_1"
				Param "0"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_Shuxing_Tips_1"
				Param "0"
			}
		}
	}
	Handle {
		MsgParam16 "NULL"
		MsgParam16 "MOUSEMOVE"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUIKnapsackItemTipInfo"
				Param "UI_ZhuangBei_Tips"
				Param "Name"//name
				Param "T_Name"//称号
				Param "ShuXing"//属性
				Param "Lv"//等级
				Param "Picture"//图片
				Param "Tips_YZB"//是否已装备
				Param "UI_Beta2_Knapsack_Czan"
				Param "UI_Shuxing_Tips"//超文本长窗口
				Param "ShuXing_BK"//超文本背景
				Param "Di1"//超文本背景
				Param "1.1|-0.001|0.0095"//offset
				Param "255.0f|0.0f|0.0f|255.0f"
				Param "0"
			}
			Method {
				Class "JXJUIKnapsackItemTipInfo"
				Param "UI_ZhuangBei_Tips_1"
				Param "Name_1"//name
				Param "T_Name_1"//称号
				Param "ShuXing_1"//属性
				Param "Lv_1"//等级
				Param "Picture_1"//图片
				Param "Tips_YZB_1"//是否已装备
				Param "UI_Beta2_Knapsack_Czan"
				Param "UI_Shuxing_Tips_1"//超文本长窗口
				Param "ShuXing_BK_1"//超文本背景
				Param "Di1_1"//超文本背景
				Param "1.1|-0.001|0.0095"//offset
				Param "255.0f|0.0f|0.0f|255.0f"
				Param "1"
			}
		}
	}
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSEDRAG"
		Driver {
			Class "MoreSlot"
			xMethod {
				Class "JXJUIChangeBagPage"
				Param "UI_KnapsackRaido2"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_Card"
				Param "0"
			}
		}
	}
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUIPutMateOnSmelter"
				Param "UI_GongFang_Rl_Listctrl1"
				Param "UI_Gongfang_Cf"
				Param "UI_GongFang_Rl_Input2"
			}
			Method {
				Class "CanvasUpdate"
				Param "UI_Gongfang"
			}
		}
	}
}