# Creature3D Script Parser v1.0


Data {
    Class "JXJGongFangCanvas"
	Handle {
		MsgParam "InitWindow"
		MsgParam "0"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJTestNodeSize"
				Param "UI_Gongfang_GB_ListCtrl"
				Param "128"
				Param "40"
				Param "128"
				Param "10"
				Param "UI_Gongfang_ListScroll"
			}
			Method {
				Class "JXJTestNodeSize"
				Param "UI_Gongfang_GL_ListCtrl"
				Param "128"
				Param "40"
				Param "128"
				Param "10"
				Param "UI_Gongfang_ListScroll_1"
			}
		}
	}
	Handle {
		MsgParam "InitWindow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJTestNodeSize2"
				Param "UI_GongFang_Listctrl1"
				Param "15"			//charactersize
				Param "30"			//fontsizex
				Param "30"			//fontsizey
				Param "6"			//linespacing
				Param "3"			//underlinespacing
				Param "UI_Barracks_ListScroll"
				Param "GameList"
				Param "UI_GongFang_Listctrl2"
			}
		}
	}
	Handle {
		MsgParam "Frame"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			xMethod {
				Class  "RunFrequencyControl"
				Param "1.0"
			}
			xMethod {
				Class "UpdateMe"
			}
			Method {
				Class  "RunFrequencyControl"
				Param "0.5"
			}
			Method {
				Class "JXJUIBuildLevelUpCheck"
				Param "UI_Gongfang_Upgrade"
				Param "UI_Promt_H"
				Param "UI_Time"
				Param "UI_Need"
				Param "UI_Money"
				Param "UI_Wood"
				Param "UI_Iron"
				Param "UI_Food"
				Param "UI_Gongfang"
				Param "UI_Level"
				Param "NULL"
				Param "NULL"
				Param "UI_Gongfang_Yjsm"
			}
			Method {
				Class "JXJSetConstructtionLevel"
			}
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUISetBuildCanvasName"
				Param "UI_Name"
				Param "UI_Curfuction"
			}
			Method {
				Class "JXJSetBuildCanvas"
				Param "UI_Gongfang_Picture"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_Knapsack"
				Param "0"
			}
			xMethod {
				Class "WidgetUpdate2"
				Param "UI_Gongfang_GB_ListCtrl"
			}
			xMethod {
				Class "WidgetUpdate2"
				Param "UI_Gongfang_GL_ListCtrl"
			}
			Method {
				Class "JXJSmelterOnShow"
				Param "UI_Gongfang_GL_ListCtrl"
			}
			Method {
				Class "JXJStoveInit"
				Param "UI_GongFang_Zbjl_Lock_1"//锁
				Param "UI_GongFang_Zbjl_Lock_2"
				Param "UI_GongFang_Zbjl_Lock_3"
			}
			Method {
				Class "UpdateMe"
			}
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "0"
		Driver {
			Class "MoreSlot"
			Method {
				Class "ShowCanvas"
				Param "UI_Xinshouyindao8"
				Param "0"
			}
			Method {
				Class "JXJGongFangCloseCheck"
				Param "UI_Prompt"
				Param "UI_Prompt_Input"
				Param "UI_Prompt_Confirm"
			}
		}
	}
	Handle {
		MsgParam "WCH_OK"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJClearRefineStove"
				Param "UI_Gongfang"
				Param "UI_GongfangRaido"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_Gongfang"
				Param "0"
			}
		}
	}
	Handle {
		MsgParam "WCH_CANCEL"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "ShowCanvas"
				Param "UI_Battleground_Jr1_map"
				Param "0"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_Battleground_Jr1"
				Param "0"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_Battleground_Jr1_time"
				Param "0"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_Battleground_Jr1_minimap"
				Param "0"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_Battleground_Jr1_Formation"
				Param "0"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_BattleGround_Return"
				Param "0"
			}
		}
	}
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUIGongfangEquipUpdate"
				Param "UI_GongfangRaido"//部队装备or领主装备
				Param "GongFangRaido2"//部队装备
				Param "GongFang_Raido3"//部队装备type
				Param "GongFang_Raido4"//领主装备等级
				Param "UI_GongFang_Up"
				Param "UI_GongFang_Down"
				Param "UI_GongFang_Input16"
			}
			Method {
				Class "JXJUIEquipListUpdate"
				Param "GameList"
				Param "ZhuangBeiJingLian"
				Param "FuLian"
				Param "RongLian"
			}
			Logic {
				Class "Switch"
				Method {//条件
					Class "GetRadioGroupValue"
					Param "UI_GongfangRaido"
				}
				Logic {//case 0
					Class "ProxyArray"
					xMethod {
						Class "JXJUITroopsEquipSelInfoUpdate"
						Param "GongFang_Raido3"
						Param "UI_GongFang_Input17"//数量
						Param "UI_GongFang_Input12"//铜钱数量
						Param "UI_GongFang_Input13"//木材数量
						Param "UI_GongFang_Input14"//铁矿数量
						Param "UI_GongFang_Input15"//马匹数量
						Param "UI_GongFang_Input8"//铜钱总数
						Param "UI_GongFang_Input9"//木材总数
						Param "UI_GongFang_Input10"//铁矿总数
						Param "UI_GongFang_Input11"//马匹总数
						Param "UI_Gongfang_Bdzbdz_Dz"//部队装备打造按钮
						Param "UI_GongFang_Tiaojian"//打造条件
					}
					Method {
						Class "JXJTroopsTechUpdate"
						Param "GongFang_Raido3"
					}
				}//end case
				Logic {//case 1
					Class "ProxyArray"
					Method {
						Class "JXJUILairdEquipUpdate"
						Param "GongFang_Raido4"
						Param "UI_GongFang_Input12"//铜钱
						Param "UI_GongFang_Input13"//材料1
						Param "UI_GongFang_Input14"//材料2
						Param "UI_GongFang_Input15"//材料3
						Param "UI_GongFang_Input8"//铜钱数量
						Param "UI_GongFang_Input9"//材料1数量
						Param "UI_GongFang_Input10"//材料2数量
						Param "UI_GongFang_Input11"//材料3数量
						Param "UI_Gongfang_Lzzbdz_Zbt"//装备图
						Param "UI_Gongfang_Lzzbdz_Dz"//领主装备打造按钮
						Param "UI_GongFang_Tiaojian"//打造条件
						Param "Tips1"
						Param "TipsText1"
						Param "UI_Lord_20"
						Param "UI_Lord_30"
						Param "UI_Lord_40"
						Param "UI_Lord_50"
						Param "UI_Lord_60"
						Param "UI_Lord_70"
						Param "UI_GongFang_Add1"
						Param "UI_GongFang_Add2"
						Param "UI_GongFang_Add3"
					}
				}//end case
				Logic {//case 2
					Class "ProxyArray"
					Method {
						Class "JXJRefineStoveUpdate"
						Param "UI_GongFang_Zbjl_Icon"
						Param "UI_GongFang_Zbjl_Input14"//原等级
						Param "UI_GongFang_Zbjl_Input2"//精炼等级
						Param "UI_GongFang_Zbjl_Input13_1"//免费次数
						Param "UI_GongFang_Zbjl_Input3"//现有属性
						Param "UI_GongFang_Zbjl_Input4"//新属性
						Param "UI_GongFang_Zbjl_Refine"//精炼
						Param "UI_GongFang_Zbjl_Senior"//高级
						Param "UI_GongFang_Zbjl_Extreme"//至尊
						Param "UI_GongFang_Zbjl_Reserve"//保存
						Param "sw63"//升级
						Param "UI_GongFang_Zbjl_Xysx_1"//精炼属性
						Param "UI_GongFang_Zbjl_Xysx_2"
						Param "UI_GongFang_Zbjl_Xysx_3"
						Param "UI_GongFang_Zbjl_Lock_1"//锁
						Param "UI_GongFang_Zbjl_Lock_2"
						Param "UI_GongFang_Zbjl_Lock_3"
						Param "UI_GongFang_Zbjl_Xsx_1"						
						Param "UI_GongFang_Zbjl_Xsx_2"
						Param "UI_GongFang_Zbjl_Xsx_3"
						Param "sw1349"
						Param "UI_GongFang_Zbjl_Input13"
						Param "UI_GongFang_Zbjl"
						Param "UI_GongFang_Zbjl_Refine"
						Param "UI_GongFang_Zbjl_Refine2"
						Param "UI_GongFang_Zbjl__Input16"
						Param "UI_GongFang_Zbjl__Input17"
						Param "UI_GongFang_Zbjl__Input18"
						Param "UI_GongFang_Zbjl_Refine3"
					}
					Method {
						Class "JXJUIGongFangRefineEquipUpdate"
						Param "GongFang_Raido5"
						Param "UI_GongFang_Zbjl_Icon2"
						Param "UI_GongFang_Zbjl_Icon3"
						Param "UI_GongFang_Zbjl_Icon4"
						Param "UI_GongFang_Zbjl_Icon5"
						Param "UI_GongFang_Zbjl_Icon6"
						Param "T_Icon_Lord_TouKui.img"			//头盔
						Param "T_Icon_Lord_KaiJia.img"			//铠甲
						Param "T_Icon_Lord_WuQi.img"			//武器
						Param "T_Icon_Lord_ShuJi.img"			//书籍
						Param "T_Icon_Lord_MaPi.img"			//马匹
						Param "UI_GongFang_Zbjl_Listctrl1"
						Param "UI_GongFang_Zbjl_Left"
						Param "UI_GongFang_Zbjl_Right"
						Param "UI_GongFang_Zbjl_Input1"
						Param "sw122"
						Param "UI_GongfangRaido"
						Param "T_Icon_Backboard.img"//
						Param "GongFang_Raido8"
					}
					Method {
						Class "JXJUIChangePageShowWidget"
						Param "20723"
						Param "20724"
						Param ""
						Param "UI_GongFang_Zbjl_Left"
						Param "UI_GongFang_Zbjl_Right"
						Param ""
					}
				}//end case
				Logic {//case 3
					Class "ProxyArray"
					Method {
						Class "JXJAttachStoveUpdate"
						Param "UI_GongFang_Fl_Input3"//八卦石列表
						Param "UI_GongFang_Fl_Input4"//页码
						Param "UI_GongFang_Fl_Icon1"//装备
						Param "UI_GongFang_Fl_Icon2"//材料
						Param "UI_GongFang_Fl_Fl"//附炼按钮
						Param "T_Icon_Backboard.img"//
					}
					Method {
						Class "JXJUIGongFangRefineEquipUpdate"
						Param "GongFang_Raido6"
						Param "UI_GongFang_Fl_Icon3"
						Param "UI_GongFang_Fl_Icon4"
						Param "UI_GongFang_Fl_Icon5"
						Param "UI_GongFang_Fl_Icon6"
						Param "UI_GongFang_Fl_Icon7"
						Param "T_Icon_Lord_TouKui.img"			//头盔
						Param "T_Icon_Lord_KaiJia.img"			//铠甲
						Param "T_Icon_Lord_WuQi.img"			//武器
						Param "T_Icon_Lord_ShuJi.img"			//书籍
						Param "T_Icon_Lord_MaPi.img"			//马匹
						Param "UI_GongFang_Fl_Listctrl1"
						Param "UI_GongFang_Fl_Left"
						Param "UI_GongFang_Fl_Right"
						Param "UI_GongFang_Fl_Input1"
						Param "sw123"
						Param "UI_GongfangRaido"
						Param "T_Icon_Backboard.img"//
						Param "GongFang_Raido9"
					}
					Method {
						Class "JXJUIChangePageShowWidget"
						Param "20723"
						Param "20724"
						Param ""
						Param "UI_GongFang_Fl_Left"
						Param "UI_GongFang_Fl_Right"
						Param ""
					}
				}//end case
				Logic {//case 4
					Class "ProxyArray"
					Method {
						Class "JXJSmelterUpdate"
						Param "UI_GongFang_Rl_Listctrl1"
						Param "UI_GongFang_Rl_Input1"//页码
						Param "GongFang_Raido7"//类型
						Param "T_Icon_Backboard.img"//材料2
						Param "UI_GongFang_Rl_Icon"//材料图标
						Param "UI_GongFang_Rl_Input2"//材料数量
						Param "sw4"//熔炼按钮SW
						Param "Add"//加
						Param "Reduce"//减
					}
					Method {
						Class "JXJUIChangePageShowWidget"
						Param "21025"
						Param "21026"
						Param "UI_FarLeft"//第一页
						Param "UI_GongFang_Rl_Left"//上一页
						Param "UI_GongFang_Rl_Right"//下一页
						Param "UI_FarRight"//最后一页
					}
					Method {
						Class "JXJSmelterEditCheck"
						Param "UI_Gongfang"
						Param "Reduce"
						Param "Add"
						Param "UI_GongFang_Rl_Input2"
					}
				}//end case
			}
		}
	}
	Handle {
		MsgParam16 "NULL"
		MsgParam16 "SCROLLUP"
		Driver {
			Class "OneSlot"
			Method {
				Class  "JXJListCtrlScroll"
				Param "UI_GongFang_ListScroll"
				Param "0"
			}
		}
	}
	Handle {
		MsgParam16 "NULL"
		MsgParam16 "SCROLLDOWN"
		Driver {
			Class "OneSlot"
			Method {
				Class  "JXJListCtrlScroll"
				Param "UI_GongFang_ListScroll"
				Param "1"
			}
		}
	}
}
