# Creature3D Script Parser v1.0

Data {
    Class "JXJBattleRankingUI"
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJQueryBattleRankingMap"
				Param "UI_GZPH"
			}
			Method {
				Class "JXJScrollValueInit"
				Param "GZpaihang_ListScroll"
			}
			Method {
				Class "UpdateMe"
			}
		}
	}
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJBattleRankingCanvasUpdate"
				Param "UI_GZlist"
				Param "GZpaihang_ListScroll"
				Param "UI_Paiming"
				Param "UI_Paiming_1"
				Param "UI_Paiming_2"
				Param "UI_Paiming_3"
				Param "UI_Paiming_4"
				Param "UI_Img"
				Param "UI_Img_1"
				Param "UI_Img_2"
				Param "UI_Img_3"
				Param "UI_Img_4"
				Param "UI_Img_5"
				Param "UI_Img_6"
				Param "UI_Img_7"
				Param "UI_Img_8"
				Param "UI_Img_9"
				Param "UI_Img_10"
				Param "UI_Img_11"
				Param "UI_Img_12"
				Param "UI_Img_13"
				Param "UI_Img_14"
				Param "UI_Img_15"
				Param "UI_Img_16"
				Param "UI_Img_17"
				Param "UI_Tm"
				Param "UI_Tm_1"
				Param "UI_Tm_2"
				Param "UI_Tm_3"
				Param "UI_Tm_4"
				Param "UI_Tm_5"
				Param "UI_Tm_6"
				Param "UI_Tm_7"
				Param "UI_Tm_8"
				Param "UI_Tm_9"
				Param "UI_Tm_10"
				Param "UI_Tm_11"
				Param "UI_Tm_12"
				Param "UI_Tm_13"
				Param "UI_Tm_14"
				Param "UI_Tm_16"
				Param "UI_Tm_17"
				Param "UI_Tm_18"
				Param "UI_Tm_19"//杀敌
				Param "UI_Tm_20"
				Param "UI_Tm_21"//我的排名
				Param "UI_Tm_22"
				Param "UI_Tm_23"
				Param "UI_Tm_24"
				Param "UI_Tm_25"
				Param "UI_Tm_26"
				Param "UI_Guozhan_LingQu"
			}
		}
	}
	Handle {
		MsgParam16 "NULL"
		MsgParam16 "SCROLLUP"
		Driver {
			Class "OneSlot"
			Method {
				Class  "JXJListCtrlScroll"
				Param "GZpaihang_ListScroll"
				Param "0"
			}
		}
	}
	Handle {
		MsgParam16 "NULL"
		MsgParam16 "SCROLLDOWN"
		Driver {
			Class "OneSlot"
			Method {
				Class  "JXJListCtrlScroll"
				Param "GZpaihang_ListScroll"
				Param "1"
			}
		}
	}
}