# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "WCH_FILTERGETFOCUS"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJXingjiTips"
				Param "UI_Tips_Lord"
				Param "ZhanchangIcon_Input3"
				Param "sw2"
				Param "1"
			}
		}
	}
	Handle {
		MsgParam "WCH_FILTERLOSTFOCUS"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "ShowCanvas"
				Param "UI_Tips_Lord"
				Param "0"
			}
		}
	}
}