# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "MoreSlot"
			Method {
				Class "UISwapEnable"
				Param "0.5"
			}
			Method {
				Class "JXJUpgradeTroopsTech"
				Param "GongFang_Raido3"	
			}
		}
	}
	Handle {
		MsgParam "WCH_FILTERGETFOCUS"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJTroopsTechTips"
				Param "UI_ZhuangBeiJieShao"
				Param "GongFang_Raido3"//
				Param "UI_TuBiao"//图片
				Param "UI_Name"//名称
				Param "UI_JieShao"//介绍
				Param "UI_ZhuangBeiJieShao2"//介绍底板
				Param "140.0|40.0|40.0|255.0"//红色
				Param "40.0|120.0|80.0|255.0"//绿色
				Param "ShuXing_GF"//介绍底板
				Param "Di1_GF"//介绍底边
			}
		}
	}
	Handle {
		MsgParam "WCH_FILTERLOSTFOCUS"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "ShowCanvas"
				Param "UI_ZhuangBeiJieShao"
				Param "0"
			}
			Method {
				Class "ShowCanvas"
				Param "UI_ZhuangBeiJieShao2"
				Param "0"
			}
		}
	}
}
