# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJUILordEquipUpdate"
				Param "UI_GLRaido"
			}
		}
	}
	Handle {
		MsgParam "SelectChange"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			xMethod {
				Class "JXJCheckScrollBarPos"
				Param "UI_Gongfang_GL_ListCtrl"
				Param "UI_Gongfang_ListScroll_1"
			}
			Method {
				Class "ParentCanvasUpdate"
			}
		}
	}
	xHandle {
		MsgParam16 "NULL"
		MsgParam16 "MOUSEMOVE"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJUITroopsEquipTipInfo"
				Param "UI_Tips"
				Param "UI_Tips_Input2"//name
				Param "UI_Tips_Input3"//来源
				Param "UI_Tips_Input4"//功能
			}
		}
	}
	xHandle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSEPUSH"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJUIFubenClick"
				Param "UI_Fuben_Tips"
				Param "UI_input_jinrufuben"
			}
		}
	}
}