# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam16 "NULL"
		MsgParam16 "SCROLLUP"
		Driver {
			Class "OneSlot"
			Method {
				Class  "JXJListCtrlScrollNew"
				Param "UI_GongFang_ListScroll_2"
				Param "0"
			}
		}
	}
	Handle {
		MsgParam16 "NULL"
		MsgParam16 "SCROLLDOWN"
		Driver {
			Class "OneSlot"
			Method {
				Class  "JXJListCtrlScrollNew"
				Param "UI_GongFang_ListScroll_2"
				Param "1"
			}
		}
	}
}