# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUIPurChaseGovPostItem"
				Param "7"
				Param "UI_Prompt"
				Param "UI_Prompt_Input"
				Param "UI_Prompt_Confirm"
				Param ""
			}
		}
	}
	Handle {
		MsgParam "WCH_OK"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJPurChaseGovPostItem"
			}
		}
	}
	Handle {
		MsgParam "WCH_FILTERGETFOCUS"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJCountryShopTips"
				Param "UI_Tips_Twoh"
				Param "Twoh"
				Param "7"
			}
		}
	}
	Handle {
		MsgParam "WCH_FILTERLOSTFOCUS"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "ShowCanvas"
				Param "UI_Tips_Twoh"
				Param "0"
			}
		}
	}	
}