# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJUIGongFangListUpdate"
				Param "UI_face01_normal.img"//空白图片
				Param "UI_GongFang_Bar"// 滚动条
				Param "GongFangRaido1"// 兵种装备 领主装备选择
				Param "GongFang_Raido3"// 兵种 选择
				Param "GongFang_Raido4"// 领主装备 选择
				Param "3"
			}
		}
	}
}