# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJUIYellowUpgradeAward"
				Param "HuangZuanShengJiLiBao_Icon1"
				Param "HuangZuanShengJiLiBao_Icon2"
				Param "HuangZuanShengJiLiBao_Icon3"
				Param "HuangZuanShengJiLiBao_Icon4"
				Param "HuangZuanShengJiLiBao_Icon5"
				Param "HuangZuanShengJiLiBao_Icon6"
				Param "HuangZuanShengJiLiBao_Icon7"
				Param "HuangZuanShengJiLiBao_Icon8"
				Param "sw21"
				Param "sw26"
			}
		}
	}	
}