# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUIYellowPrivilege"
				Param "HuangZuanTeQuan_Icon1"
				Param "HuangZuanTeQuan_Icon2"
				Param "HuangZuanTeQuan_Icon3"
				Param "HuangZuanTeQuan_Icon4"
				Param "HuangZuanTeQuan_Icon5"
				Param "HuangZuanTeQuan_Icon6"
				Param "HuangZuanTeQuan_Icon7"
				Param "HuangZuanTeQuan_Icon8"
				Param "HuangZuanTeQuan_Icon9"
				Param "HuangZuanTeQuan_Icon10"
				Param "HuangZuanTeQuan_Icon11"
				Param "HuangZuanTeQuan_Icon12"
				Param "HuangZuanTeQuan_Icon13"
				Param "HuangZuanTeQuan_Icon14"
				Param "HuangZuanTeQuan_Icon15"
				Param "HuangZuanTeQuan_Icon16"
				Param "HuangZuanTeQuan_Icon17"
				Param "HuangZuanTeQuan_Icon18"
				Param "HuangZuanTeQuan_Icon19"
				Param "HuangZuanTeQuan_Icon20"
				Param "HuangZuanTeQuan_Icon21"
				Param "HuangZuanTeQuan_Icon22"
				Param "HuangZuanTeQuan_Icon23"
				Param "HuangZuanTeQuan_Icon24"
				Param "HuangZuanTeQuan_Icon25"
				Param "HuangZuanTeQuan_Icon26"
				Param "HuangZuanTeQuan_Icon27"
				Param "HuangZuanTeQuan_Icon28"
				Param "HuangZuanTeQuan_Icon29"
				Param "HuangZuanTeQuan_Icon30"
				Param "HuangZuanTeQuan_Icon31"
				Param "HuangZuanTeQuan_Icon32"
				Param "HuangZuanTeQuan_Icon33"
				Param "HuangZuanTeQuan_Icon34"
				Param "HuangZuanTeQuan_Icon35"
				Param "HuangZuanTeQuan_Icon36"
				Param "HuangZuanTeQuan_Icon37"
				Param "HuangZuanTeQuan_Icon38"
				Param "HuangZuanTeQuan_Icon39"
				Param "HuangZuanTeQuan_Icon40"
				Param "HuangZuanTeQuan_Icon41"
				Param "HuangZuanTeQuan_Icon42"
				Param "HuangZuanTeQuan_Icon43"
				Param "sw5"
				Param "HuangZuanTeQuan_Input5"
				Param "HuangZuanTeQuan_Input6"
				Param "HuangZuanTeQuan_Input7"
				Param "HuangZuanTeQuan_Input8"
				Param "HuangZuanTeQuan_Input9"
				Param "HuangZuanTeQuan_Input10"
				Param "HuangZuanTeQuan_Input11"
				Param "HuangZuanTeQuan_Input12"
				Param "HuangZuanTeQuan_Input13"
				Param "HuangZuanTeQuan_Input14"
				Param "HuangZuanTeQuan_Input15"
				Param "HuangZuanTeQuan_Input16"
				Param "HuangZuanTeQuan_Input17"
				Param "HuangZuanTeQuan_Input18"
				Param "HuangZuanTeQuan_Input19"
				Param "HuangZuanTeQuan_Input20"
				Param "HuangZuanTeQuan_Input21"
				Param "HuangZuanTeQuan_Input22"
				Param "HuangZuanTeQuan_Input23"
				Param "HuangZuanTeQuan_Input24"
				Param "HuangZuanTeQuan_Input25"
				Param "HuangZuanTeQuan_Input26"
				Param "HuangZuanTeQuan_Input27"
				Param "HuangZuanTeQuan_Input28"
				Param "HuangZuanTeQuan_Input29"
				Param "HuangZuanTeQuan_Input30"
				Param "HuangZuanTeQuan_Input31"
				Param "HuangZuanTeQuan_Input32"
				Param "HuangZuanTeQuan_Input33"
				Param "HuangZuanTeQuan_Input34"
				Param "HuangZuanTeQuan_Input35"
				Param "HuangZuanTeQuan_Input36"
				Param "HuangZuanTeQuan_Input37"
				Param "HuangZuanTeQuan_Input38"
				Param "HuangZuanTeQuan_Input39"
				Param "HuangZuanTeQuan_Input40"
				Param "HuangZuanTeQuan_Input41"
				Param "HuangZuanTeQuan_Input42"
				Param "HuangZuanTeQuan_Input43"
				Param "HuangZuanTeQuan_Input44"
				Param "HuangZuanTeQuan_Input45"
				Param "HuangZuanTeQuan_Input46"
				Param "HuangZuanTeQuan_Input47"
				Param "sw7"
				Param "sw8"
				Param "sw9"
			}
		}
	}	
}