# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUIYellowNewbie"
				Param "HuangZuanXinShouLiBao_Icon1"
				Param "HuangZuanXinShouLiBao_Icon2"
				Param "HuangZuanXinShouLiBao_Icon3"
				Param "HuangZuanXinShouLiBao_Icon4"
				Param "sw10"
				Param "sw19"
			}
		}
	}	
}