# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "WCH_FILTERGETFOCUS"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJTechTips"
				Param "UI_Tips_Keji"
				Param "UI_Tips_Keji_Icon"//图片
				Param "UI_Tips_Keji_Name"//名称
				Param "UI_Tips_Keji_Input"//介绍
			}
		}
	}
	Handle {
		MsgParam "WCH_FILTERLOSTFOCUS"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "ShowCanvas"
				Param "UI_Tips_Keji"
				Param "0"
			}
		}
	}
}