# Creature3D Script Parser v1.0

Data {
    Class "JXJBuildingHeadCanvas"
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJArrowsUITypeSelect"
				Param "UI_ManorStair_RenWu"
				Param "1"
			}
			Logic {
				Class "IF_ELSE"
				Method {
					Class "JXJCheckBuildingLv"
					Param "20024"
					Param "2"
					Param "1"
				}
				Logic {
					Class "ProxyArray"
					Method {
						Class "JXJBuildingEffectClose"
					}
					Method {
						Class "ShowCanvas"
						Param "UI_Xinshouyindao4"
						Param "0"
					}
					Method {
						Class "JXJUIGetRenWuReward"
						Param "UI_Prize"
						Param "Input1"
						Param "Input2"
						Param "Input3"
						Param "Input4"
						Param "sw5"
						Param "sw6"
						Param "2"
					}
				}
				Logic {
					Class "ProxyArray"
					Method {
						Class "JXJBuildingEffectClose"
					}
					Method {
						Class "ShowCanvas"
						Param "UI_Xinshouyindao4"
						Param "0"
					}
					Method {
						Class "JXJTouchItem"
						Param "1"
					}
					Method {
						Class "JXJNewHandUIInit"
						Param "UI_Xinshouyindao5"
						Param "2"
						Param "UI_AncientHouse"
						Param "UI_AncientHouse_Upgrade"
					}
					Method {
						Class "ShowCanvas"
						Param "UI_Xinshouyindao5"
						Param "1"
					}
				}	
			}
		}
	}
}