# Creature3D Script Parser v1.0

Data {
    Class "JXJUIFormationJK"
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUIJangkaListShow"
				Param "TcjkRaido1"
				Param "TcjkRaido2"
				Param "CardSystemRaido3"
				Param "UI_Beta2_Formation"
				Param "UI_Formation_Tcjk_ZL"
			}
			Method {
				Class "JXJUIJKSetShiliSW"
				Param "JkGuojia_Xz_A"
				Param "JkGuojia_Xz_S"
			}
			Method {
				Class "UpdateMe"
			}
		}
	}
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUICardShopOpenCheck"
				Param "Jiankaduihuan"
			}
			Logic {
				Class "Switch"
				Method {//条件
					Class "GetRadioGroupValue"
					Param "UI_JkRaido"
				}
				Logic {//case 0
					Class "ProxyArray"
					Method {
						Class "JXJUIJiangkaListUpdate"
						Param "GameList_1"//背包列表
						Param "UI_Beta2_CardSystem_Input2"//页码
						Param "TcjkRaido1"
						Param "TcjkRaido2"
						Param "CardSystemRaido3"
						Param "UI_Jk"
						Param "UI_Jk"
						Param "UI_Beta2_Formation_Tcjk_Left"
						Param "UI_Beta2_Formation_Tcjk_Right"
						Param "T_Icon_Backboard.img"
						Param "UI_Jk"
						Param "UI_Minicard_White.img"
						Param "UI_Minicard_Green.img"
						Param "UI_Minicard_Blue.img"
						Param "UI_Minicard_Purple.img"
						Param "UI_Minicard_Oange.img"
						Param "UI_Minicard_Oange_One.img"
						Param "UI_Minicard_Oange_Two.img"
						Param "UI_Minicard_Oange_Three.img"
						Param "UI_Minicard_Oange_Four.img"
						Param "UI_Minicard_Oange_Five.img"
					}
					Logic {
						Class "Switch"
						Method {//条件
							Class "JXJGetMultiSwitchValue"
							Param "sw65"
						}
						Method {//将卡升级
							Class "JXJUIJiangkaUpgradeUpdate"
							Param "UI_Beta2_CardSystem_Jksj_Icon1"	
							Param "UI_Beta2_CardSystem_Jksj_Icon2"	
							Param "UI_Beta2_CardSystem_Jksj_Icon3"	
							Param "UI_Beta2_CardSystem_Jksj_Icon4"	
							Param "UI_Beta2_CardSystem_Jksj_Icon5"	
							Param "UI_Beta2_CardSystem_Jksj_Input1"	
							Param "UI_Beta2_CardSystem_Jksj_Input2"	
							Param "UI_Beta2_CardSystem_Jksj_Input3"	
							Param "UI_Beta2_CardSystem_Jksj_Upgrade"	
							Param "T_Icon_Backboard.img"	
							Param "UI_Beta2_CardSystem_Jksj_Input"	
							Param "sw5"	
							Param "sw6"	
							Param "sw7"	
							Param "sw8"	
							Param "sw9"	
							Param "sw3"	
							Param "sw4"
							Param "sw65"
						}
						Method {//将卡出售
							Class "JXJUISellCardUpdate"
							Param "GameListctrl"		//出售将卡列表
							Param "UI_Beta2_CardSystem_Sell_ChuShou"
							Param "UI_Minicard_White.img"
							Param "UI_Minicard_Green.img"
							Param "UI_Minicard_Blue.img"
							Param "UI_Minicard_Purple.img"
							Param "UI_Minicard_Oange.img"
							Param "UI_Minicard_Oange_One.img"
							Param "UI_Minicard_Oange_Two.img"
							Param "UI_Minicard_Oange_Three.img"
							Param "UI_Minicard_Oange_Four.img"
							Param "UI_Minicard_Oange_Five.img"
							Param "UI_Beta2_CardSystem_Sell_Huode"
						}
						Method {//橙卡升级
							Class "JXJUIJiangkaUpgradeUpdate"
							Param "UI_Card_ChengKaUpgrade_Icon1"	
							Param "UI_Card_ChengKaUpgrade_Icon2"	
							Param "UI_Card_ChengKaUpgrade_Icon3"	
							Param "UI_Card_ChengKaUpgrade_Icon4"	
							Param "UI_Card_ChengKaUpgrade_Icon5"	
							Param "UI_Card_ChengKaUpgrade_Input1"	
							Param "UI_Card_ChengKaUpgrade_Input2"	
							Param "UI_Card_ChengKaUpgrade_Input3"	
							Param "UI_Card_ChengKaUpgrade_Upgrade"
							Param "T_Icon_Backboard.img"	
							Param "UI_Card_ChengKaUpgrade_Input4"	
							Param "sw5"	
							Param "sw6"	
							Param "sw7"	
							Param "sw8"	
							Param "sw9"	
							Param "sw3"	
							Param "sw4"
							Param "sw65"
						}
					}
				}//end case
				Logic {//case 1
					Class "ProxyArray"
					Method {
						Class "JXJUIJKComposeUpdate"
						Param "JkGuojieRaido"
						Param "JtouxiangRaido"
						Param "UI_CharacterImage_1"
						Param "UI_CharactorInfo"
						Param "UI_Input"
						Param "Jk_DikaRaido"
						Param "Jkzu_Jineng"
						Param "Jkzu_Jineng_1"
						Param "Jkzu_Jineng_2"
						Param "Jkzh_Wenb"
						Param "Jkzh_Wenb_1"
						Param "Jkzh_Wenb_2"
						Param "Jkzh_Wenb_X"
						Param "Jkzh_Wenb_X_1"
						Param "Jkzh_Wenb_X_2"
						Param "Jkzh_Wenb_S"
						Param "Jkzh_Wenb_S_1"
						Param "Jkzh_Wenb_S_2"
						Param "Jk_Tianming"
						Param "Jk_Tianming_1"
						Param "Jk_Tianming_2"
						Param "Jkzh_JinDu1"
						Param "Jkzh_JinDu2"
						Param "Jkzh_JinDu3"
						Param "UI_JkZuo"
						Param "UI_JkYou"
						Param "Jk_Shang"
						Param "Jk_Xia"
						Param "Jtouxiang_Txt1"
						Param "Jtouxiang_Txt2"
						Param "Jtouxiang_Txt3"
						Param "Jtouxiang_Txt4"
						Param "Jtouxiang_Txt5"
						Param "Jtouxiang_Txt6"
						Param "Jtouxiang_Txt7"
						Param "Jtouxiang_Txt8"
						Param "Jtouxiang_Txt9"
						Param "Jtouxiang_Txt10"
						Param "Jkzh_Jihuo_Xz1"
						Param "Jkzh_Jihuo_Xz2"
						Param "Jkzh_Jihuo_Xz3"
						Param "Jkzh_Jihuo"
						Param "Jkzh_Jihuo_1"
						Param "Jkzh_Jihuo_2"
						Param "Jkzh_Jnxx1"
						Param "Jkzh_Jnxx2"
						Param "Jkzh_Jnxx3"
						Param "Jkzh_Jhtj1"
						Param "Jkzh_Jhtj2"
						Param "Jkzh_Jhtj3"
						Param "Jk_Tiananniu"
						Param "Jk_Tiananniu_1"
						Param "Jk_Tiananniu_2"
					}
				}//end case
				Logic {//case 2
					Class "ProxyArray" 
					Method {
						Class "JXJCardShopUpdate"
						Param "UI_ExchangeRaido2"
						Param "UI_ExchangeRaido1"
						Param "UI_Jiusi_Exchange_Input10"
						Param "UI_Jiusi_Exchange_Input1"
						Param "UI_Jiusi_Exchange_Input2"
						Param "UI_Jiusi_Exchange_Input3"
						Param "UI_Jiusi_Exchange_Input4"
						Param "UI_Jiusi_Exchange_Input5"
						Param "UI_Jiusi_Exchange_Input6"
						Param "UI_Jiusi_Exchange_Input7"
						Param "UI_Jiusi_Exchange_Input8"
						Param "UI_Jiusi_Exchange_Input11"
						Param "UI_Jiusi_Exchange_Input12"
						Param "UI_Jiusi_Exchange_Input13"
						Param "UI_Jiusi_Exchange_Input14"
						Param "Exchange1"
						Param "Exchange2"
						Param "Exchange3"
						Param "Exchange4"
						Param "Exchange5"
						Param "Exchange6"
						Param "Exchange7"
						Param "Exchange8"
						Param "Exchange9"
						Param "Exchange10"
						Param "Exchange11"
						Param "Exchange12"
						Param "Card1"
						Param "Card2"
						Param "Card3"
						Param "Card4"
						Param "Card5"
						Param "Card6"
						Param "Card7"
						Param "Card8"
						Param "Card9"
						Param "Card10"
						Param "Card11"
						Param "Card12"
						Param "UI_Jiusi_Exchange_Input9"
						Param "sw22"
						Param "sw23"
						Param "sw24"
						Param "sw25"
						Param "sw26"
						Param "sw27"
						Param "sw28"
						Param "sw29"
						Param "sw30"
						Param "sw31"
						Param "sw32"
						Param "sw33"
						Param "sw179"
						Param "UI_Card_Img001"
						Param "UI_Card_Img002"
						Param "UI_Card_Img003"
						Param "UI_CardInfo001"
						Param "UI_CardInfo002"
						Param "UI_CardInfo003"
						Param "UI_Jiusi_Exchange_Input14_3"
						Param "UI_Jiusi_Exchange_Input14_2"
						Param "UI_Jiusi_Exchange_Input14_1"
						Param "Yiguojiangka"
						Param "UI_ExchangeRaido3"
						Param "UI_XKTJ_qieye"
						Param "Tujian1"
						Param "Tujian2"
						Param "Tujian3"
						Param "Tujian4"
						Param "Tujian5"
						Param "Tujian6"
						Param "Tujian7"
						Param "Tujian8"
						Param "Tujian9"
						Param "Tujian10"
						Param "Tujian11"
						Param "Tujian12"
						Param "jksw1"
						Param "jksw2"
						Param "jksw3"
						Param "jksw4"
						Param "jksw5"
						Param "jksw6"
						Param "jksw7"
						Param "jksw8"
						Param "jksw9"
						Param "jksw10"
						Param "jksw11"
						Param "jksw12"
						Param "UI_XKTJ_qieye_Left"
						Param "UI_XKTJ_qieye_Right"
						Param "UI_XKTJ_yeshu"
					}
					Method {
						Class "JXJUIChangePageShowWidget"
						Param "21005"
						Param "21006"
						Param ""
						Param "UI_Jiusi_Exchange_Left"
						Param "UI_Jiusi_Exchange_Right"
						Param ""
					}
				}
			}
		}
	}
	xHandle {
		MsgParam "Frame"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class  "RunFrequencyControl"
				Param "0.5"
			}
			Logic {
				Class "Switch"
				Method {//条件
					Class "GetRadioGroupValue"
					Param "UI_JkRaido"
				}
				Logic {
					Class "Switch"
					Method {//条件
						Class "JXJGetMultiSwitchValue"
						Param "sw65"
					}
					Method {
						Class  "Null"
					}
					Method {
						Class  "Null"
					}
					Method {
						Class  "JXJCheckChengkaDonghua"
						Param "UI_ChengKaUpgrade_Shengji1"
						Param "UI_ChengKaUpgrade_Shengji2"
						Param "UI_ChengKaUpgrade_Shengji3"
						Param "UI_ChengKaUpgrade_Shengji4"
						Param "UI_ChengKaUpgrade_Shengji5"
						Param "UI_Beta2_CardSystem_Sjcg"
					}
				}
			}
		}
	}
}