# Creature3D Script Parser v1.0

Data {
    Class "JXJMyGroupCanvas"	
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJQueryMyShiliData"
			}
			Method {
				Class "UpdateMe"
			}
		}
	}
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJFoundCountryCanvasUpdateNew"
				Param "sw4_0"
				Param "sw4_1"
				Param "sw4_2"
				Param "sw4_3"
				Param "sw4_5"
				Param "sw4_4"
				Param "sw4_6"
				Param "sw4_7"
				Param "sw22"
				Param "sw23"
				Param "sw24"
				Param "sw25"
				Param "sw26"
				Param "sw27"
				Param "sw28"
				Param "sw29"
				Param "sw54"
				Param "sw55"
				Param "sw56"
				Param "sw57"
				Param "sw58"
				Param "sw59"
				Param "sw60"
				Param "sw61"
				Param "Wei_Cheng1"
				Param "Wei_Cheng2"
				Param "Wei_Cheng3"
				Param "Wei_Cheng4"
				Param "Wei_Cheng5"
				Param "Wei_Cheng6"
				Param "Wei_Cheng7"
				Param "Wei_Cheng8"
				Param "Shu_Cheng1"
				Param "Shu_Cheng2"
				Param "Shu_Cheng3"
				Param "Shu_Cheng4"
				Param "Shu_Cheng5"
				Param "Shu_Cheng6"
				Param "Shu_Cheng7"
				Param "Shu_Cheng8"
				Param "Wu_Cheng1"
				Param "Wu_Cheng2"
				Param "Wu_Cheng3"
				Param "Wu_Cheng4"
				Param "Wu_Cheng5"
				Param "Wu_Cheng6"
				Param "Wu_Cheng7"
				Param "Wu_Cheng8"
				Param "sw185"
				Param "sw185_1"
				Param "sw185_2"
				Param "sw185_3"
				Param "sw185_4"
				Param "sw185_5"
				Param "sw185_6"
				Param "sw185_7"
				Param "Page"
				Param "UI_Mubiao1"
				Param "UI_Mubiao2"
				Param "UI_Mubiao3"
				Param "UI_Jianguo_Cheng"
				Param "UI_Jianguo_Qwgz"
				Param "sw2"
				Param "UI_Event_Icon1"
				Param "UI_Event_Icon1_1"
				Param "UI_Event_Icon1_2"
				Param "UI_Event_Icon1_3"
				Param "UI_Event_Icon1_4"
				Param "UI_Event_Icon1_5"
				Param "UI_Event_Icon1_6"
				Param "UI_Event_Icon1_7"
				Param "UI_Event_Icon1_8"
				Param "UI_Event_Icon1_9"
				Param "UI_Event_Icon1_10"
				Param "UI_Event_Icon1_11"
				Param "UI_Event_Icon1_12"
				Param "UI_Event_Icon1_13"
				Param "UI_Event_Icon1_14"
				Param "UI_Event_Icon1_15"
				Param "UI_Event_Input15"
				Param "UI_Event_Input15_1"
				Param "UI_Event_Input15_2"
				Param "UI_Event_Input15_3"
				Param "UI_Event_Input15_4"
				Param "UI_Event_Input15_5"
				Param "UI_Event_Input15_6"
				Param "UI_Event_Input15_7"
				Param "UI_Event_Input15_8"
				Param "UI_Event_Input15_9"
				Param "UI_Event_Input15_10"	
				Param "UI_Event_Input15_11"
				Param "UI_Event_Input15_12"
				Param "UI_Event_Input15_13"
				Param "UI_Event_Input15_14"
				Param "UI_Event_Input15_15"				
			}				
		}
	}
}