# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "ValueChange"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJNameLimit" 
				Param "UI_JTGaiMing"
				Param "UI_JTGaiMing_Name"
				Param "12"
			}			
		}
	}
}