# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "SelectChange"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "PageValueChange"
				Param "UI_Jkxz"
			}
		}
	}
}