# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJUIJiusiSetOnShow"
				Param "UI_JiuSi_Set_CheckBox1"
				Param "UI_JiuSi_Set_CheckBox2"
				Param "UI_JiuSi_Set_CheckBox3"
			}
		}
	}
}