# Creature3D Script Parser v1.0

Data {
    Class "UI"	
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"		
			Method {
				Class "JXJUIChangeGroupNameInit"
				Param "UI_JTGaiMing_Information"
				Param "UI_JTGaiMing_Name"
				Param "UI_JTGaiMing_Determine"				
			}
		}
	}		
}