# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "InitWindow"
		MsgParam "1"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJUISetAcceptDrag"
			}
		}
	}
	Handle {
		MsgParam "SelectChange"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "ParentCanvasUpdate"
			}
		}
	}
}