# Creature3D Script Parser v1.0

Data {
    Class "JXJLandRewardCanvas"
	Handle {
		MsgParam "Frame"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			xMethod {
				Class  "RunFrequencyControl"
				Param "0.5"
			}
			Method {
				Class "JXJUILandRewardUpdate"
				Param "UI_LogReward_Donghua1"
				Param "UI_LogReward_Donghua2"
				Param "UI_LogReward_Donghua3"
				Param "UI_LogReward_Goods1"
				Param "UI_LogReward_Goods2"
				Param "UI_LogReward_Mulriple"
				Param "sw2_5"
				Param "sw2_6"
				Param "sw9"
				Param "UI_LogReward_Name1"
				Param "UI_LogReward_Name2"
				Param "UI_LogReward_Name3"
				Param "UI_LogReward_Number1"
				Param "UI_LogReward_Number2"
				Param "UI_LogReward_Number3"
				Param "T_Icon_Task_Food.img"//粮草
				Param "T_Icon_Task_Wood.img"//木材
				Param "T_Icon_Task_Ore.img"//铁矿
				Param "T_Icon_Task_Horse.img"//马匹
				Param "T_Icon_Task_Coins.img"//铜钱
				Param "T_Icon_Task_EXP.img"//经验
				Param "T_Icon_Task_Gongxun.img"//功勋
				Param "T_Icon_Task_Gifts.img"//礼金
				Param "T_Icon_Task_CountryContribution.img"//国家贡献
				Param "T_Icon_Task_Zhangong.img"//战功
				Param "UI_LogReward_Draw"
			}
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJLandRewardCanvasShow"
				Param "UI_LogReward_Title"
				Param "UI_LogReward_Donghua1"
				Param "UI_LogReward_Donghua2"
				Param "UI_LogReward_Donghua3"
				Param "UI_LogReward_Goods1"
				Param "UI_LogReward_Goods2"
				Param "UI_LogReward_Mulriple"
				Param "sw2_5"
				Param "sw2_6"
				Param "sw9"
				Param "UI_LogReward_Name1"
				Param "UI_LogReward_Name2"
				Param "UI_LogReward_Name3"
				Param "UI_LogReward_Number1"
				Param "UI_LogReward_Number2"
				Param "UI_LogReward_Number3"
				Param "sw2_2"				
				Param "UI_LogReward_Draw"
			}
		}
	}
}
