# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJGameChatModeSet"
				Param "SJ"
				Param "Liaotian2"
				Param "sw41"
				Param "lTXinxi"
				Param "LiaoTianRaido"
			}
			Method {
				Class "JXJChatReshow"
				Param "UI_ManorStair_LiaoTian"
				Param "lTXinxi"
				Param "LiaoTianRaido"
				Param "JXJ/script/chartemplate.cfg"
				Param "LiaoTian"
				Param "ListScroll"
			}
		}
	}
}
