# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJClientRequestLandReward"
				Param "UI_LogReward_Donghua1"
				Param "UI_LogReward_Donghua2"
				Param "UI_LogReward_Donghua3"
				Param "sw2_5"
				Param "sw2_6"
				Param "sw9"
				Param "UI_LogReward_Name1"
				Param "UI_LogReward_Name2"
				Param "UI_LogReward_Name3"
				Param "UI_LogReward_Number1"
				Param "UI_LogReward_Number2"
				Param "UI_LogReward_Number3"
				Param "UI_LogReward_Mulriple"
			}			
		}
	}
}