# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "OneSlot"
			Logic {
				Class "IF_ELSE"
				Method {
					Class "JXJUICheckLunHuiDaoJuCount"
					Param "7525"
				}
				Logic {
					Class "ProxyArray"				
					Method {
						Class "JXJUILunHuiStoreAffirm"
						Param "UI_Prompt"
						Param "UI_Prompt_Drag"
						Param "UI_Prompt_Input"
						Param "UI_Prompt_Confirm"
						Param "0"
					}
				}
				xLogic {
					Class "ProxyArray"
					Method {
						Class "JXJWidgetDoEvent"
						Param "UI_Jk"
						Param "UI_Formation_Tcjk_ZL"
						Param "1"//LEFT_MOUSE_BUTTON
						Param "2"//MOUSERELEASE
					}
				}
			}
		}
	}
	Handle {
		MsgParam "WCH_OK"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJConfirmUseLunHuiDaoJu"
				Param "0"
			}
			Method {
				Class "JXJDoStorePlayerInfo"
				Param "0"
			}			
		}
	}
	Handle {
		MsgParam "WCH_CANCEL"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUIUndoStoreJiangKaDrag"
				Param "UI_Jk"
			}
			Method {
				Class "JXJUILunHuiCanvasClose"
				Param "UI_XLunhui"
				Param "sw2_9"
				Param "sw2_10"
				Param "sw2_11"
				Param "sw2_17"
				Param "sw2_18"
				Param "sw2_20"
			}
			Method {
				Class "CanvasUpdate"
				Param "UI_XLunhui"
			}
			Method {
				Class "CanvasUpdate"
				Param "UI_Jk"
			}
		}
	}
	Handle {
		MsgParam "WCH_CLOSE"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUIUndoStoreJiangKaDrag"
				Param "UI_Jk"
			}
			Method {
				Class "JXJUILunHuiCanvasClose"
				Param "UI_XLunhui"
				Param "sw2_9"
				Param "sw2_10"
				Param "sw2_11"
				Param "sw2_17"
				Param "sw2_18"
				Param "sw2_20"
			}
			Method {
				Class "CanvasUpdate"
				Param "UI_XLunhui"
			}
			Method {
				Class "CanvasUpdate"
				Param "UI_Jk"
			}
		}
	}
}