# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJUIQuChuLunHuiThing"
				Param "XLunhui_Xz"
				Param "1"
				Param "XLunhui_Card1"
				Param "XLunhui_Card2"
				Param "XLunhui_Card3"
				Param "XLunhui_Card4"
				Param "XLunhui_Card5"
				Param "XLunhui_Card6"
				Param "XLunhui_Card7"
				Param "XLunhui_Card8"
				Param "XLunhui_Card9"
				Param "XLunhui_Card10"
				Param "XLunhui_Card11"
				Param "XLunhui_Card12"
				Param "XLunhui_Card13"
				Param "XLunhui_Card14"
				Param "XLunhui_Card15"
				Param "XLunhui_Icon1"
				Param "XLunhui_Icon2"
				Param "XLunhui_Icon3"
				Param "XLunhui_Icon4"
				Param "XLunhui_Icon5"
				Param "XLunhui_Icon6"
				Param "XLunhui_Icon7"
				Param "XLunhui_Icon8"
				Param "XLunhui_Icon9"
				Param "XLunhui_Icon10"
				Param "XLunhui_Icon11"
				Param "XLunhui_Icon12"
				Param "XLunhui_Icon13"
				Param "XLunhui_Icon14"
				Param "XLunhui_Icon15"
				Param "XLunhui_Icon16"
				Param "XLunhui_Icon17"
				Param "XLunhui_Icon18"
				Param "XLunhui_Icon19"
				Param "XLunhui_Icon20"
				Param "UI_Prompt"
				Param "UI_Prompt_Input"
			}
		}
	}
	Handle {
		MsgParam "WCH_OK"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJUIQuChuLunHuiThing"
				Param "XLunhui_Xz"
				Param "1"
				Param "XLunhui_Card1"
				Param "XLunhui_Card2"
				Param "XLunhui_Card3"
				Param "XLunhui_Card4"
				Param "XLunhui_Card5"
				Param "XLunhui_Card6"
				Param "XLunhui_Card7"
				Param "XLunhui_Card8"
				Param "XLunhui_Card9"
				Param "XLunhui_Card10"
				Param "XLunhui_Card11"
				Param "XLunhui_Card12"
				Param "XLunhui_Card13"
				Param "XLunhui_Card14"
				Param "XLunhui_Card15"
				Param "XLunhui_Icon1"
				Param "XLunhui_Icon2"
				Param "XLunhui_Icon3"
				Param "XLunhui_Icon4"
				Param "XLunhui_Icon5"
				Param "XLunhui_Icon6"
				Param "XLunhui_Icon7"
				Param "XLunhui_Icon8"
				Param "XLunhui_Icon9"
				Param "XLunhui_Icon10"
				Param "XLunhui_Icon11"
				Param "XLunhui_Icon12"
				Param "XLunhui_Icon13"
				Param "XLunhui_Icon14"
				Param "XLunhui_Icon15"
				Param "XLunhui_Icon16"
				Param "XLunhui_Icon17"
				Param "XLunhui_Icon18"
				Param "XLunhui_Icon19"
				Param "XLunhui_Icon20"
			}
		}
	}
}