# Creature3D Script Parser v1.0

Data {
    Class "JXJLunHuiCanvas"
	xHandle {
		MsgParam "Frame"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			xMethod {
				Class  "RunFrequencyControl"
				Param "1.0"
			}
			xMethod {
				Class  "JXJBattleTimterRuntime"
				Param "UI_Battleground_Jr1"
			}
			xMethod {
				Class "UpdateMe"
			}
			Method {
				Class  "RunFrequencyControl"
				Param "20.0"
			}
			Logic {
				Class  "IF_ELSE"
				Method {//Ìõ¼þ
					Class "JXJIsBattleOpened"
				}
				Method {
					Class "JXJUIQueryBattleTimer"
				}
			}
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "ShowCanvas"
				Param "UI_Jk"
				Param "0"
			}
			Method {
				Class "JXJCanvasOnShowQuery"
			}
			Method {
				Class "UpdateMe"
			}
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "0"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUILunHuiCanvasClose"
				Param "UI_XLunhui"
			}
		}
	}
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			xMethod {
				Class "JXJLunHuiCanvasUpdate"
				Param "Lunhui"
				Param "SmallPage"
				Param "UI_Welfare_Condition1"
				Param "UI_Welfare_Condition2"
				Param "UI_Welfare_Condition3"
				Param "UI_Welfare_Condition4"
				Param "UI_Welfare_Condition5"
				Param "UI_Welfare_Level1"
				Param "UI_Welfare_Level2"
				Param "UI_Welfare_Level3"
				Param "UI_Welfare_Level4"
				Param "UI_Welfare_Level5"
				Param "UI_Welfare_Image1"
				Param "UI_Welfare_Image2"
				Param "UI_Welfare_Image3"
				Param "UI_Welfare_Image4"
				Param "UI_Welfare_Image5"
				Param "sw2_12"
				Param "sw2_13"
				Param "sw2_14"
				Param "sw2_15"
				Param "sw2_16"
				Param "UI_Welfare_ListScroll1"
				Param "sw2_21"
				Param "sw2_22"
				Param "sw2_23"
				Param "sw2_24"
				Param "sw2_25"
				Param "sw57"
				Param "sw58"
				Param "sw59"
				Param "sw60"
				Param "sw61"
				Param "UI_Warehouse_Card1"
				Param "UI_Warehouse_Card2"
				Param "UI_Warehouse_Card3"
				Param "UI_Warehouse_Card4"
				Param "UI_Warehouse_Card5"
				Param "UI_Warehouse_Card6"
				Param "sw2_9"
				Param "sw2_10"
				Param "sw2_11"
				Param "sw2_17"
				Param "sw2_18"
				Param "sw2_20"
				Param "UI_Warehouse_Icon1"
				Param "UI_Warehouse_Icon2"
				Param "UI_Warehouse_Icon3"
				Param "UI_Warehouse_Icon4"
				Param "UI_Warehouse_Icon5"
				Param "UI_Warehouse_Icon6"
				Param "UI_Warehouse_Button1"
				Param "UI_Warehouse_Button2"
				Param "UI_Gifts_Baoxiang"
				Param "sw2_34"
				Param "sw56"
				Param "sw2_35"
				Param "sw2_36"
				Param "sw2_37"
				Param "sw2_38"
				Param "sw2_39"
				Param "sw2_40"
				Param "sw62"
				Param "sw63"
				Param "UI_LunHui_Jiangka_Backboard.img"
				Param "UI_LunHui_Zhuangbei_Backboard.img"
			}
			Method {
				Class "JXJLunHuiCanvasUpdateNew"
				Param "XLunhui_Xz"
				Param "sw4"
				Param "XLunhui_Changwenb"
				Param "XLunhui_Card1|XLunhui_Cardlmg1"
				Param "XLunhui_Card2|XLunhui_Cardlmg2"
				Param "XLunhui_Card3|XLunhui_Cardlmg3"
				Param "XLunhui_Card4|XLunhui_Cardlmg4"
				Param "XLunhui_Card5|XLunhui_Cardlmg5"
				Param "XLunhui_Card6|XLunhui_Cardlmg6"
				Param "XLunhui_Card7|XLunhui_Cardlmg7"
				Param "XLunhui_Card8|XLunhui_Cardlmg8"
				Param "XLunhui_Card9|XLunhui_Cardlmg9"
				Param "XLunhui_Card10|XLunhui_Cardlmg10"
				Param "XLunhui_Card11|XLunhui_Cardlmg11"
				Param "XLunhui_Card12|XLunhui_Cardlmg12"
				Param "XLunhui_Card13|XLunhui_Cardlmg13"
				Param "XLunhui_Card14|XLunhui_Cardlmg14"
				Param "XLunhui_Card15|XLunhui_Cardlmg15"
				Param "sw2_1"
				Param "sw2_2"
				Param "sw2_3"
				Param "sw2_4"
				Param "sw2_5"
				Param "sw2_6"
				Param "sw2_7"
				Param "sw2_8"
				Param "sw2_9"
				Param "sw2_10"
				Param "sw2_11"
				Param "sw2_12"
				Param "sw2_13"
				Param "sw2_14"
				Param "sw2_15"
				Param "XLunhui_Cj1"
				Param "XLunhui_Cj2"
				Param "XLunhui_Cj3"
				Param "XLunhui_Cj4"
				Param "XLunhui_Cj5"
				Param "XLunhui_Cj6"
				Param "XLunhui_Cj7"
				Param "XLunhui_Cj8"
				Param "XLunhui_Cj9"
				Param "XLunhui_Cj10"
				Param "XLunhui_Cj11"
				Param "XLunhui_Cj12"
				Param "XLunhui_Cj13"
				Param "XLunhui_Cj14"
				Param "XLunhui_Cj15"
				Param "XLunhui_Changwenb_3"
				Param "XLunhui_Icon1|XLunhui_Item1"
				Param "XLunhui_Icon2|XLunhui_Item2"
				Param "XLunhui_Icon3|XLunhui_Item3"
				Param "XLunhui_Icon4|XLunhui_Item4"
				Param "XLunhui_Icon5|XLunhui_Item5"
				Param "XLunhui_Icon6|XLunhui_Item6"
				Param "XLunhui_Icon7|XLunhui_Item7"
				Param "XLunhui_Icon8|XLunhui_Item8"
				Param "XLunhui_Icon9|XLunhui_Item9"
				Param "XLunhui_Icon10|XLunhui_Item10"
				Param "XLunhui_Icon11|XLunhui_Item11"
				Param "XLunhui_Icon12|XLunhui_Item12"
				Param "XLunhui_Icon13|XLunhui_Item13"
				Param "XLunhui_Icon14|XLunhui_Item14"
				Param "XLunhui_Icon15|XLunhui_Item15"
				Param "XLunhui_Icon16|XLunhui_Item16"
				Param "XLunhui_Icon17|XLunhui_Item17"
				Param "XLunhui_Icon18|XLunhui_Item18"
				Param "XLunhui_Icon19|XLunhui_Item19"
				Param "XLunhui_Icon20|XLunhui_Item20"
				Param "XLunhui_Cj16"
				Param "XLunhui_Cj17"
				Param "XLunhui_Cj18"
				Param "XLunhui_Cj19"
				Param "XLunhui_Cj20"
				Param "XLunhui_Cj21"
				Param "XLunhui_Cj22"
				Param "XLunhui_Cj23"
				Param "XLunhui_Cj24"
				Param "XLunhui_Cj25"
				Param "XLunhui_Cj26"
				Param "XLunhui_Cj27"
				Param "XLunhui_Cj28"
				Param "XLunhui_Cj29"
				Param "XLunhui_Cj30"
				Param "XLunhui_Cj31"
				Param "XLunhui_Cj32"
				Param "XLunhui_Cj33"
				Param "XLunhui_Cj34"
				Param "XLunhui_Cj35"				
				Param "XLunhui_xuanc1"
				Param "XLunhui_Changwenb_1"
				Param "XLunhui_Wenben_1"
				Param "XLunhui_Yuanbao_Shuliang"
				Param "XLunhui_xuanc2"
				Param "XLunhui_Changwenb_2"
				Param "XLunhui_Wenben_2"
				Param "XLunhui_Leijiedu_Shuliang"
				Param "UI_LunHui_Jiangka_Backboard.img"
				Param "UI_LunHui_Zhuangbei_Backboard.img"
				Param "XLunhui_Wenben"
				Param "XLunhui_Wenben_3"
				Param "XLunhui_Vip_Shuliang"
				Param "XLunhui_Liji_Shuliang"
				Param "XLunhui_jiangka_qieye"
				Param "XLunhui_zhuangbei_qieye"
			}
			xMethod {
				Class "JXJUIUndoStoreJiangKaDrag"
				Param "UI_Jk"
			}
			xMethod {
				Class "JXJUILunHuiCanvasClose"
				Param "UI_XLunhui"
			}
			xMethod {
				Class "CanvasUpdate"
				Param "UI_Jk"
			}
			xMethod {
				Class "CanvasUpdate"
				Param "UI_Knapsack"
			}
		}
	}
}