# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "ValueChange"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJMarketSetCountScrolPos"
				Param "0.0"
				Param "1.0"
				Param "0"
				Param "UI_Market_CR1_ListScroll"
				Param "UI_Market_ConsignmentResources_Input9"
				Param "UI_Market_ConsignmentResources_Input10"
				Param "UI_Market_ConsignmentResources_Input11"
				Param "UI_Market_ConsignmentResources_Input12"
			}
			xMethod {
				Class "CanvasUpdate"
				Param "UI_Market"
			}
		}
	}
}