# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "InitWindow"
		MsgParam "0"
		Driver {
			Class "OneSlot"
			Method {
				Class "SetMsgTraverse"
				Param "15"
			}
		}
	}
	xHandle {
		MsgParam "InitWindow"
		MsgParam "0"
		Driver {
			Class "MoreSlot"
			Method {
				Class "SetMsgTraverse"
				Param "64"
			}
		}
	}
	xHandle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJTaskBarCanvasOnShow"
				Param "sw_JiangKa"
				Param "JiangKa_Donghua"
			}
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJQueryMyGroupInfo"
			}
			Method {
				Class "JXJUpdateExploitandTroopnumInPeopleMap"
			}
			Method {
				Class "JXJGroupDismissNotification"
			}
		}
	}
	
	Handle {
		MsgParam "Frame"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class  "RunFrequencyControl"
				Param "1.0"
			}
			Method {
				Class "JXJCheckKejiBtn"
				Param "sw_Keji"
				Param "KeJi_Donghua"
			}
			Method {
				Class "JXJCheckJunTuanBtn" 
				Param "sw_JunTuan"
				Param "JunTuan_Donghua"
				Param "sw165"
			}
			Method {
				Class "JXJCheckGuoZhanOrJianGuo"
				Param "Guoguan_qh"
				Param "UI_Guozhan"
				Param "UI_Guanai"
				Param "UI_Sweep"
				Param "UI_Battleground_Jr4"
			}
			Method {
				Class "JXJCheckFormationBtn"
				Param "sw_BianDui"
				Param "BianDui_Donghua"
			}
			Logic {
				Class "IF_ELSE"
				Method {
					Class "JXJIsMyCountryLose"
				}
				Logic {
					Class "ProxyArray"
					Method {
						Class "JXJSetWidgetEnable"
						Param "UI_ManorStair_Taskbar"
						Param "UI_Fuben"
						Param "0"
					}
					Method {
						Class "JXJSetWidgetEnable"
						Param "UI_ManorStair_Taskbar"
						Param "UI_Shijie"
						Param "0"
					}
				}
				Logic {
					Class "Proxy"
					Method {
						Class "JXJSetWidgetEnable"
						Param "UI_ManorStair_Taskbar"
						Param "UI_Shijie"
						Param "1"
					}
				}
			}
		}
	}
}