# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "InitWindow"
		MsgParam "0"
		Driver {
			Class "MoreSlot"
			xMethod {
				Class "SetMsgTraverse"
				Param "1"
			}
			Method {
				Class "SetMsgTraverse"
				Param "15"
			}
		}
	}
	Handle {
		MsgParam "Frame"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class  "RunFrequencyControl"
				Param "1.0"
			}
			Method {
				Class "JXJCheckHuoDongBtn"
				Param "LogReward"
				Param "ZaiXianLiBao"
				Param "XiLian"
				Param "GuanZhi"
				Param "FuShui"
				Param "ChengZhan"
				Param "Lunhui"
				Param "ZaiXianLiBao_Input"
				Param "GuoZhan_Donghua_2"
				Param "GuoZhan_Donghua_1"
				Param "GuanZhiDongHua"
				Param "ZaiXianLiBaoDongHua"
				Param "HuoDong"
				Param "XiaoGuanJia"
				Param "Jianguo"
				Param "UI_Qiridenglu"
				Param "Qiridenglu_Donghua"
				Param "UI_Shouchong"
				Param "UI_YueKa"
				Param "UI_ZiXuanLiBao"
				Param "UI_Chongzhihuikui"
				Param "UI_Zhengzhanshangdian"
				Param "UI_Danbichongzhi"
				Param "UI_Xiaofeihuikui"
				Param "UI_Zhouka"
				Param "Danbichongzhi_Input"
				Param "Xiaofeihuikui_Input"
				Param "Chongzhihuikui_Input"
				Param "ZiXuanLiBao_Input"
				Param "Hulaoguan"
				Param "Houxuanren"
				Param "Guanyuanxuanju"
				Param "Toupiaojieguo"
				Param "Panguo"
				Param "HuangZuan_Xinshoulibao"
				Param "HuangZuan_Meirilibao"
				Param "Meirihaoli"
				Param "Qiridenglu_Donghua_1"
				Param "UI_Youxibaodian"
				Param "Juntuan_Paiming"
				Param "Qiridenglu_Donghua_2"
				Param "XiaoGuanJia_Input1_3"
				Param "XiaoGuanJia_Input1_4"
			}
			Method {
				Class "Check7DayComplete"
				Param "UI_ManorStair_HuoDong"
				Param "XiaoGuanJia_Input1_2"
				Param "Plane216_2"
			}
			Method {
				Class "CheckHuoyueduComplete"
				Param "UI_ManorStair_HuoDong"
				Param "Cylinder001"
				Param "XiaoGuanJia_Input1"
				Param "XiaoGuanJia"
			}
			Method {
				Class "CheckHuiKuiHuoDongComplete"
				Param "UI_ManorStair_HuoDong"
				Param "Plane216"
				Param "XiaoGuanJia_Input1_1"
				Param "UI_Chongzhihuikui"
				Param "GuanZhiDongHua_1"
			}
			Method {
				Class "Check7DayHuoDongComplete"
				Param "UI_ManorStair_HuoDong"
				Param "Plane216_1"
				Param "Huodong_Input1"
				Param "HuoDong"
				Param "Huodong_Donghua"
			}
			xMethod {
				Class "JXJFightingPowerShow"
				Param "sw120"
				Param "sw121"
				Param "sw122"
				Param "sw123"
				Param "sw124"
				Param "sw125"
				Param "sw126"
			}
			xMethod {
				Class "JXJSetWidgetEnable"
				Param "UI_ManorStair_HuoDong"
				Param "ChengZhan"
				Param "0"
			}
			xMethod {
				Class  "JXJCheckLordLevel"
				Param "1"
			}
			xMethod {
				Class "JXJSetWidgetEnable"
				Param "UI_ManorStair_HuoDong"
				Param "ChengZhan"
				Param "1"
			}
		}
	}
}