# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSEPUSH"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUICopperSaleStepCount"
				Param "1"
				Param "0,20013"
				Param "UI_Market_PowerSelling_Input9"
			}
			Method {
				Class "ParentCanvasUpdate"
			}
		}
	}
}