# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "Frame"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class  "RunFrequencyControl"
				Param "1.0"
			}
			Method {
				Class "JXJtreasonpunishCanvasUpdate"
				Param "Chengfaqi_Input"
			}
			xMethod {
				Class  "RunFrequencyControl"
				Param "60.0"
			}
			xMethod {
				Class "JXJLunHuiRemainTimeQuery"
			}
		}
	}
	xHandle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJLunHuiRemainTimeQuery"
			}
			Method {
				Class "JXJLunHuidaojishiCanvasUpdate"
				Param "UI_ManorStair_Lunhui_Time"
			}
		}
	}
	Handle {
		MsgParam "WCH_FILTERLOSTFOCUS"
		MsgParam "NULL"
		Driver {
            Class "OneSlot"
			Method {
				Class "ShowCanvas"
				Param "Tips1_2"
				Param "0"
			}
		}
	}
	Handle {
		MsgParam16 "NULL"
		MsgParam16 "MOUSEMOVE"
		Driver {
			Class "OneSlot"
			Method {
				Class "PunishCanvasTipsShow"
				Param "Tips1_2"
				Param "TipsText1_1"
			}
		}
	}
}
