# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUIMarketExchangeRes"
				Param ""
				Param "UI_Prompt"
				Param "UI_Prompt_Input"
				Param "UI_Prompt_Confirm"
				Param ""
			}
		}
	}
	Handle {
		MsgParam "WCH_OK"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJMarketExchangeRes"
			}
		}
	}
	Handle {
		MsgParam "WCH_FILTERGETFOCUS"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			xMethod {
				Class "JXJUIJiusiTipInfo"
				Param "UI_Tips_Jiusi"
				Param "Jiusi_Input1"
				Param "Lord_Input1"
				Param "sw2"
				Param "17"
			}
		}
	}
	Handle {
		MsgParam "WCH_FILTERLOSTFOCUS"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			xMethod {
				Class "ShowCanvas"
				Param "UI_Tips_Jiusi"
				Param "0"
			}
		}
	}
	xHandle {//市集寄售功能
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJUISale"
				Param "0,20013"
				Param "UI_Market_ConsignmentResources_Input13"//price
				Param "UI_Market_ConsignmentResources_Input9"//count
			}
		}
	}
}