# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "InitWindow"
		MsgParam "1"
		Driver {
			Class "OneSlot"
			Method {
				Class "SetMsgTraverse"
				Param "17"
			}
		}
	}
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSEPUSH"
		Driver {
			Class "MoreSlot"
			Logic {
				Class "IF_ELSE"
				Method {
					Class  "JXJIsAttackToPos"
				}		
				Method {
					Class "JXJMapHitMove"
					Param "RotMap"
					Param "UI_CopyBattle_Minimap"
					Param "UI_CopyBattle_remind"
				}				
				Method {
					Class "JXJMapDragCamera"
					Param "RotMap"
					Param "UI_CopyBattle_Minimap"
				}
			}
			Logic {
				Class "ProxyArray"
				Method {
					Class "JXJCancelCameraOperator"
				}
				xMethod {
					Class "JXJCancelAttackToPos"
				}
				xMethod {
					Class "JXJCancelSignal"
				}
				Method {
					Class "ChangeMouse"
					Param "0"
				}
			}
		}
	}
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSEDRAG"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJMapDragCamera"
				Param "RotMap"
				Param "UI_CopyBattle_Minimap"
			}
		}
	}
	Handle {
		MsgParam16 "RIGHT_MOUSE_BUTTON"
		MsgParam16 "MOUSEPUSH"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJMapHitMove"
				Param "RotMap"
				Param "UI_CopyBattle_Minimap"
				Param "UI_CopyBattle_remind"
			}
		}
	}
	Handle {
		MsgParam "Frame"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class  "RunFrequencyControl"
				Param "1.0"
			}
			Method {
				Class "JXJSignalShowControl"
			}
		}
	}
}