# Creature3D Script Parser v1.0

Data {
    Class "JXJRenWuCanvas"
	Handle {
		MsgParam "InitWindow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			xMethod {
				Class "SetMsgTraverse"
				Param "17"
			}
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "UpdateMe"
			}
		}
	}
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class  "JXJUIUpdateTaskTrace"
				Param "RenWu"
				Param "sw66"
				Param "sw58"
				Param "SkipTheBoot"
				Param "UI_Xinshouyindao50"
				Param "UI_ManorStair_RenWu"
				Param "UI_ManorStair_RenWu_ListScroll1"
			}
			Method {
				Class "JXJNewGuideGetRenWuReward"
				Param "UI_Prize"
				Param "Input1"
				Param "Input2"
				Param "Input3"
				Param "Input4"
				Param "sw5"
				Param "sw6"
			}
		}
	}
	Handle {
		MsgParam16 "NULL"
		MsgParam16 "SCROLLUP"
		Driver {
			Class "OneSlot"
			Method {
				Class  "JXJListCtrlScroll"
				Param "UI_ManorStair_RenWu_ListScroll1"
				Param "0"
			}
		}
	}
	Handle {
		MsgParam16 "NULL"
		MsgParam16 "SCROLLDOWN"
		Driver {
			Class "OneSlot"
			Method {
				Class  "JXJListCtrlScroll"
				Param "UI_ManorStair_RenWu_ListScroll1"
				Param "1"
			}
		}
	}
}