# Creature3D Script Parser v1.0

Data {
    Class "ChongZhiHuiKuiCanvas"
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			xMethod {
				Class "JXJNewHuiKuiCanvasInit"
			}
			Method {
				Class "UpdateMe"
			}
		}
	}
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJNewHuiKuiCanvasInit"
			}
			Method {
				Class "JXJNewHuiKuiCanvasUpdate"
				Param "Huodong_Name1"
				Param "Huodong_Name2"
				Param "Huodong_Name3"
				Param "Huodong_Name4"
				Param "Huodong_Name5"
				Param "Huodong_Name6"
				Param "Huodong_Name7"
				Param "Huodong_Name8"
				Param "Huodong_Name9"
				Param "Huodong_Name10"
				Param "Name_Wenb1"
				Param "Name_Wenb2"
				Param "Name_Wenb3"
				Param "Name_Wenb4"
				Param "Name_Wenb5"
				Param "Name_Wenb6"
				Param "Name_Wenb7"
				Param "Name_Wenb8"
				Param "Name_Wenb9"
				Param "Name_Wenb10"
				Param "Icon1"
				Param "Icon2"
				Param "Icon3"
				Param "Icon4"
				Param "Icon5"
				Param "Icon6"
				Param "Icon1_1"
				Param "Icon2_1"
				Param "Icon3_1"
				Param "Icon4_1"
				Param "Icon5_1"
				Param "Icon6_1"
				Param "Icon1_2"
				Param "Icon2_2"
				Param "Icon3_2"
				Param "Icon4_2"
				Param "Icon5_2"
				Param "Icon6_2"
				Param "Input1"
				Param "Input2"
				Param "Input3"
				Param "Input4"
				Param "Input5"
				Param "Input6"
				Param "Input1_1"
				Param "Input2_1"
				Param "Input3_1"
				Param "Input4_1"
				Param "Input5_1"
				Param "Input6_1"
				Param "Input1_2"
				Param "Input2_2"
				Param "Input3_2"
				Param "Input4_2"
				Param "Input5_2"
				Param "Input6_2"
				Param "DIhang_Wenb"
				Param "DIhang_Wenb1"
				Param "DIhang_Wenb2"
				Param "UI_Bar"
				Param "UI_Ninjian1"
				Param "UI_Ninjian2"
				Param "UI_Ninjian3"
				Param "UI_LunHui_Zhuangbei_Backboard.img"
				Param "CzhiLinjian"
				Param "CzhiLinjian2"
				Param "CzhiLinjian3"
				Param "UI_GoumaiCzhi1"
				Param "UI_GoumaiCzhi2"
				Param "UI_GoumaiCzhi3"
				Param "Dintu_xz"
				Param "ShenyuShijian"
				Param "Yichongzhi"
				Param "ONE"
				Param "Tow"
				Param "Three"
				Param "DIhang_Shijian"
				Param "DIhang_Shijian1"
				Param "DIhang_Shijian2"
				Param "Ninjian_xz"
				Param "Ninjian2_xz"
				Param "Ninjian3_xz"
				Param "Plane147"
				Param "Plane150"
				Param "Plane152"
				Param "Plane154"
				Param "Plane156"
				Param "Plane158"
				Param "Plane169"
				Param "Plane163"
				Param "Plane164"
				Param "Plane166"
				Param "Plane168"
				Param "Plane160"
				Param "Plane182"
				Param "Plane176"
				Param "Plane177"
				Param "Plane179"
				Param "Plane181"
				Param "Plane173"
				Param "Meiri_Guojia"
				Param "Name1"
				Param "Name2"
				Param "Name3"
				Param "Name4"
				Param "Name5"
				Param "Name6"
				Param "Name7"
				Param "Name8"
				Param "Name9"
				Param "Name10"
				Param "Huodong_Input1"
				Param "Huodong_Input1_1"
				Param "Huodong_Input1_2"
				Param "Huodong_Input1_3"
				Param "Huodong_Input1_4"
				Param "Huodong_Input1_5"
				Param "Huodong_Input1_6"
				Param "Huodong_Input1_7"
				Param "Huodong_Input1_8"
				Param "Huodong_Input1_9"
				Param "UI_Donghua1"
				Param "UI_Donghua2"
				Param "UI_Donghua3"
				Param "Chongzhi1000"
				Param "Chongzhi2000"
				Param "Chongzhi5000"
				Param "Chongzhi10000"
				Param "Zhuling1"
				Param "Zhuling2"
				Param "Zhuling3"
				Param "Zhuling4"
				Param "ShenQi_Chongzhi1"
				Param "ShenQi_Chongzhi2"
				Param "ShenQi_Chongzhi3"
				Param "ShenQi_Chongzhi4"
				Param "sw44"
			}					
		}
	}
	Handle {
		MsgParam "Frame"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class  "RunFrequencyControl"
				Param "1.0"
			}
			Method {
				Class "UpdateMe"
			}
		}
	}
	Handle {
		MsgParam16 "NULL"
		MsgParam16 "SCROLLUP"
		Driver {
			Class "MoreSlot"
			Method {
				Class  "JXJListCtrlScroll"
				Param "UI_Bar"
				Param "0"
			}
		}
	}
	Handle {
		MsgParam16 "NULL"
		MsgParam16 "SCROLLDOWN"
		Driver {
			Class "MoreSlot"
			Method {
				Class  "JXJListCtrlScroll"
				Param "UI_Bar"
				Param "1"
			}
		}
	}
}