# Creature3D Script Parser v1.0

Data {
    Class "NewFunctionOpenCanvas"
	xHandle {
		MsgParam "InitWindow"
		MsgParam "1"
		Driver {
			Class "OneSlot"
			Method {
				Class "SetMsgTraverse"
				Param "15"
			}
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "OneSlot"
			Logic {
				Class "CreateSound"
				Param "0"//创建Node
				Param "sounds/beijing_6.wav"
				Param "1"//ambient
				Param "1.0"//volume
				Param "1"//play
				Param "0"//looping
				Method {
					Class "LoadSound"
				}
			}
		}
	}
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "OneSlot"
			Method {
				Class "ShowCanvas"
				Param "UI_NewActionOpen"
				Param "0"
			}
		}
	}
	Handle {
		MsgParam "Frame"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class  "RunFrequencyControl"
				Param "1.0"
			}
			Method {
				Class "JXJUIFxFrame"
				Param "NewActionOpen_Button"
			}
		}
	}
}