# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUINewChooseCheckBox"
				Param "Guanyuanxuanju_Check1"
				Param "Guanyuanxuanju_Check2"
				Param "Guanyuanxuanju_Check3"
				Param "Guanyuanxuanju_Check4"
				Param "Guanyuanxuanju_Check5"
				Param "Guanyuanxuanju_Check6"
				Param "Guanyuanxuanju_Check7"
				Param "Guanyuanxuanju_Check8"
				Param "Guanyuanxuanju_Check9"
				Param "Guanyuanxuanju_Check10"
				Param "Guanyuanxuanju_Queren"//选举按钮
				Param "Guanyuanxuanju_ListScroll"
				Param "sw6"
				Param "sw7"
				Param "sw8"
				Param "sw9"
				Param "sw10"
				Param "sw11"
				Param "sw12"
				Param "sw13"
				Param "sw14"
				Param "sw15"
				Param "sw16"
				Param "Guanyuanxuanju_Input1"//信息列表
			}
		}	
	}
	
	Handle {
		MsgParam16 "NULL"
		MsgParam16 "MOUSEMOVE"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJUIButtonTip"
				Param "4087"
				Param "Tips1"
				Param "TipsText1"
			}
		}
	}
	Handle {
		MsgParam "WCH_FILTERLOSTFOCUS"
		MsgParam "NULL"
		Driver {
            Class "OneSlot"
			Method {
				Class "ShowCanvas"
				Param "Tips1"
				Param "0"
			}
		}
	}
}