# Creature3D Script Parser v1.0

Data {
    Class "JXJOperationCanvas"
	Handle {
		MsgParam "InitWindow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJTestNodeSize2"
				Param "Operation_Listctrl2"
				Param "12"			//charactersize
				Param "20"			//fontsizex
				Param "20"			//fontsizey
				Param "22"			//linespacing
				Param "3"			//underlinespacing
				Param ""
				Param "Operation_GameList_2"
			}
			Method {
				Class "JXJTestNodeSize2"
				Param "Operation_Listctrl1"
				Param "12"			//charactersize
				Param "20"			//fontsizex
				Param "20"			//fontsizey
				Param "60"			//linespacing
				Param "3"			//underlinespacing
				Param ""
				Param "Operation_GameList_1"
			}		
			Method {
				Class "JXJTestNodeSize2"
				Param "Z2_Listctrl1"
				Param "12"			//charactersize
				Param "20"			//fontsizex
				Param "20"			//fontsizey
				Param "60"			//linespacing
				Param "3"			//underlinespacing
				Param ""
				Param "Operation_GameList_1"
				Param "Z2_Listctrl2"
				Param "Z2_Listctrl3"
			}				
		}
	}
	Handle {
		MsgParam "Frame"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "RunFrequencyControl"
				Param "10.0"
			}
			Method {
				Class "UpdateMe"
			}
			Method {
				Class "RunFrequencyControl"
				Param "40.0"
			}
			Method {
				Class "JXJMonitorPingPacketParse"
				Param "UI_Operation"
			}			
			Method {
				Class "RunFrequencyControl"
				Param "600.0"
			}
			Method {
				Class "JXJCheckOnlineCount"
			}
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJCheckOnlineCount"
			}
			xMethod {
				Class "JXJGetShiliPeoPleMap"
			}
			Method {
				Class "JXJUIOperateInit"
				Param "Operation_GameList_1"
				Param "Operation_GameList_2"
				Param "Z2_GameList2"
			}
			xMethod {
				Class "JXJInitClientConnectGateway"
				Param "UI_Operation"
				Param "10"		
				Param "9100"
				Param "10"
			}
		}
	}
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUIOnlinePageUpdate"
				Param "Z1_GameList"
				Param "Z1_Input3"
				Param "Z1_Input4"
				Param "Z1_Input5"
				Param "Z1_Input6"
			}
			Method {
				Class "JXJUIOperateUpdate"
				Param "Operation_GameList_1"
				Param "Operation_GameList_2"
				Param "PageAll"
				Param "Page1"
				Param "Page2"
				Param "Page3"
				Param "Page4"	
			}
		}
	}
}
