# Creature3D Script Parser v1.0

Data {
    Class "CommandDlg"
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUISetNoTipsSwitch"
				Param "NoTipsSw"
				Param "UI_Prompt_CheckBox"
			}
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "0"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUIClearNoTipsParam"
			}
		}
	}
}