# Creature3D Script Parser v1.0

Data {
    Class "JXJGetRenWuReward"
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "OneSlot"
			Logic {
				Class "IF_ELSE"
				Method {
					Class "JXJIsNewGuideTask"
				}
				Method {
					Class "JXJWidgetDoEvent"
					Param "UI_Prize"
					Param "Done"
					Param "1"//LEFT_MOUSE_BUTTON
					Param "2"//MOUSERELEASE
				}
			}
		}
	}
	Handle {
        MsgParam16 "KEY_Return"
		MsgParam16 "KEYDOWN"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJWidgetDoEvent"
				Param "UI_Prize"
				Param "Done"
				Param "1"//LEFT_MOUSE_BUTTON
				Param "2"//MOUSERELEASE
			}
		}
    }
}