# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "Frame"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class  "RunFrequencyControl"
				Param "0.1"
			}
			Method {
				Class "UpdateMe"
			}
			Method {
				Class  "RunFrequencyControl"
				Param "10"
			}
			Method {
				Class "JXJQueryTeam"
			}
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			xMethod {
				Class "JXJSetWidgetEnable"
				Param "UI_ManorStair_Taskbar"
				Param "BianDui"
				Param "0"
			}
			xMethod {
				Class "JXJSyncFormation"
			}
			Method {
				Class "JXJSetWidgetEnable"
				Param "UI_ManorStair_HuoDong"
				Param "ChengZhan"
				Param "0"
			}
			Method {
				Class "JXJSetWidgetEnable"
				Param "UI_ManorStair_Taskbar"
				Param "UI_Fuben"
				Param "0"
			}
			Method {
				Class "JXJQueryTeam"
			}
			Method {
				Class "JXJPeopleModelGroupInit"
				Param "UI_PeopleModelGroup_input1"
				Param "sw33"
			}
			Method {
				Class "UpdateMe"
			}
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "0"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJSetWidgetEnable"
				Param "UI_ManorStair_Taskbar"
				Param "BianDui"
				Param "1"
			}
			Method {
				Class "JXJSetWidgetEnable"
				Param "UI_ManorStair_HuoDong"
				Param "ChengZhan"
				Param "1"
			}
			Method {
				Class "JXJSetWidgetEnable"
				Param "UI_ManorStair_Taskbar"
				Param "UI_Fuben"
				Param "1"
			}
			Method {
				Class "JXJSetWidgetEnable"
				Param "UI_ManorStair_HuoDong"
				Param "Jianguo"
				Param "1"
			}
			xMethod {
				Class "JXJTeamClosed"
			}
		}
	}
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJUIUpdateTeamInfo"
				Param "UI_PeopleModelGroup_join"
				Param "UI_PeopleModelGroup_TeamBuilder"
				Param "UI_PeopleModelGroup_input_PlayerInformation_zj"
				Param "UI_PeopleModelGroup_input_PlayerInformation1"
				Param "UI_PeopleModelGroup_input_PlayerInformation2"
				Param "UI_PeopleModelGroup_input_PlayerInformation3"
				Param "UI_PeopleModelGroup_input_PlayerInformation4"
				Param "sw17"
				Param "DY2"
				Param "DY3"
				Param "DY4"
				Param "DY5"
				Param "sw31"
				Param "UI_PeopleModelGroup_StartBattle"
				Param "UI_PeopleModelGroup_LineUp"
			}
		}
	}
	Handle {
		MsgParam "InitWindow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJTestNodeSize2"
				Param "UI_PeopleModelGroup_ListCtrl"
				Param "14"			//charactersize
				Param "30"			//fontsizex
				Param "30"			//fontsizey
				Param "11"		    //linespacing
				Param "3"			//underlinespacing
			}
		}
	}
}
