# Creature3D Script Parser v1.0

Data {
    Class "JXJJueSeCanvas"
	Handle {
		MsgParam "InitWindow"
		MsgParam "0"
		Driver {
			Class "MoreSlot"
			Method {
				Class "SetMsgTraverse"
				Param "1"
			}
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJCheckNewMail"
			}
			Method {
				Class "JXJSetGameCardBuffTime"
				Param "Buff_Food_"
				Param "Buff_wood_"
				Param "Buff_Iron_"
				Param "Buff_Horse_"
				Param "Buff_Iron_Qiyu1"
				Param "Buff_Iron_Qiyu5"
				Param "Buff_Iron_Qiyu4"
				Param "Buff_Iron_Qiyu3"
				Param "Buff_Iron_Qiyu2"
				Param "DongHua1"
				Param "DongHua2"
				Param "DongHua3"
				Param "DongHua4"
				Param "DongHua1_2"
				Param "DongHua1_1"
				Param "DongHua2_1"
				Param "DongHua3_1"
				Param "DongHua4_1"
				Param "10,20,30,50,100"
			}
			Method {
				Class "JXJAutoBuildingInit"
				Param "UI_Zidong"
			}
			Logic {
				Class "IF_ELSE"
				Method {
					Class "JXJPlatformCheck"
					Param "QQ"
				}
				Method {
					Class "Null"
				}
				Method {
					Class "JXJSetWidgetVisiable"
					Param "UI_ManorStair_JueSe"
					Param "Huangzuan"
					Param "0"
				}
			}
		}
	}
	Handle {
		MsgParam "Frame"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class  "RunFrequencyControl"
				Param "0.5"
			}
			Method {
				Class  "JXJUIUpdateMyInfo"
				Param "TouXiang"
				Param "Name_Input"
				Param "ShiLi"
				Param "YuanBao_Input"
				Param "GuanZhi_Input"
				Param "CashGift"
				Param "Money_Input"
				Param "Food_Input"
				Param "Wood_Input"
				Param "Iron_Input"
				Param "Horse_Input"
				Param "LV_Input"
				Param "LiJin_Input"
				Param "JunLing_Input"
				Param "EXP_Input"
				Param "EXP"
				Param "JunLing"
				Param "VIP_Play"
				Param "Qiyu_Smll"
				Param "UI_GZPH"
				Param "mailplay_1"
			}
			Method {
				Class "JXJUIFuKuProResourceCount"
				Param "UI_ManorStair_JueSe"
			}
			Method {
				Class  "RunFrequencyControl"
				Param "1.0"
			}
			Method {
				Class "JXJSetGameCardBuffTime"
				Param "Buff_Food_"
				Param "Buff_wood_"
				Param "Buff_Iron_"
				Param "Buff_Horse_"
				Param "Buff_Iron_Qiyu1"
				Param "Buff_Iron_Qiyu5"
				Param "Buff_Iron_Qiyu4"
				Param "Buff_Iron_Qiyu3"
				Param "Buff_Iron_Qiyu2"
				Param "DongHua1"
				Param "DongHua2"
				Param "DongHua3"
				Param "DongHua4"
				Param "DongHua1_2"
				Param "DongHua1_1"
				Param "DongHua2_1"
				Param "DongHua3_1"
				Param "DongHua4_1"
				Param "10,20,30,50,100"
			}
			Method {
				Class "RunFrequencyControl"
				Param "5.0"
			}
			Method {
				Class "JXJAutoBuilding"
			}
			Method {
				Class "JXJQueryBattleRankingMap"
				Param "UI_GZPH"
			}
			Logic {
				Class "IF_ELSE"
				Method {
					Class "JXJIsMyCountryLose"
				}
				Method {
					Class "JXJSetShiLiWidgetEnable"
					Param "Wei"
					Param "Shu"
					Param "Wu"
					Param "0"
				}
				Method {
					Class "JXJSetShiLiWidgetEnable"
					Param "Wei"
					Param "Shu"
					Param "Wu"
					Param "1"
				}
			}
		}
	}
}