# Creature3D Script Parser v1.0

Data {
    Class "JXJGetRenWuReward"
	Handle {
        MsgParam16 "KEY_Return"
		MsgParam16 "KEYDOWN"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJWidgetDoEvent"
				Param "UI_Prize_2"
				Param "Done_1"
				Param "1"//LEFT_MOUSE_BUTTON
				Param "2"//MOUSERELEASE
			}
		}
    }
}