# Creature3D Script Parser v1.0

Data {
	Class "UI"
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJQiyuCanvasInit"
				Param "UI_Qiyu_Wen2"
				Param "UI_Qiyu_Renwu"
				Param "UI_Qiyu_Jianli"
			}
		}
	}
}