# Creature3D Script Parser v1.0

Data {
    Class "UI"
	xHandle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJWidgetDoEvent"
				Param "UI_ManorStair_HuoDong"
				Param "ChengZhan"
				Param "1"//LEFT_MOUSE_BUTTON
				Param "2"//MOUSERELEASE
			}
			Method {
				Class "CloseParentCanvas"
			}
		}
	}
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "MoreSlot"
			Method {
				Class "ShowCanvas"
				Param "UI_Xinshouyindao19"
				Param "0"
			}
			Method {
				Class  "JXJCheckLordLevel"
				Param "1"
			}
			Method {
				Class "JXJQueryCityMapChengChiInfo"				
			}
			Method {
				Class "JXJCloseAllSelectCanvas"
				Param "UI_Knapsack"
				Param "UI_ZhuangBei_Tips"
				Param "UI_Shuxing_Tips"
				Param "UI_Beta2_Formation"
				Param "UI_Barracks"
				Param "UI_Depository"
				Param "UI_AncientHouse"
				Param "UI_AncientHouse_GovernmentPost"
				Param "UI_Fuya_Keji"
				Param "UI_AncientHouse_Revenue"//10
				Param "UI_FuBen"
				Param "UI_Gongfang"
				Param "UI_Beta2_Friend"
				Param "UI_Beta2_Friend_Other"
				Param "UI_Beta2_Friend_prompt4"
				Param "UI_Beta2_Friend_AddFriend"
				Param "UI_Beta2_Friend_prompt1"
				Param "UI_Card"
				Param "UI_Jk"
				Param "UI_Beta2_CardSystem_Sjcg"
				Param "UI_Prompt_Sell"
				Param "UI_Tavern"
				Param "UI_Beta2_FeudalLord"
				Param "UI_Beta3_Task"
				Param "UI_Market"
				Param "UI_Appoint"
				Param "UI_System"
				Param "UI_Show"//10
				Param "UI_Beta2_Mail"
				Param "UI_TerritoryBuilding"
				Param "UI_Beta2_Knapsack_Czan"
				Param "UI_Beta2_Knapsack_Huigou"
				Param "UI_LogReward"
				Param "UI_Beta3_ManorStair_Zxjl"
				Param "UI_Country1"
				Param "UI_Corps"
				Param "UI_CreatJunTuan__Corps"
				Param "UI_Crops_SQJunTuan"
				Param "UI_Crops1"
				Param "UI_Billboard"
				Param "UI_CD_Prompt"
				Param "UI_System_Mouse"
				Param "UI_System_ConsumerTips"
				Param "UI_MessageBox"
				Param "UI_Beta2_Friend_prompt2"
				Param "UI_Prompt"
				Param "UI_Prompt1"
				Param "UI_Crops"
				Param "UI_Treason_Country"
				Param "UI_Event_7Day"
				Param "UI_Yueka"
				Param "UI_ChongZhiZiXuanLiBao"
				Param "UI_Leijichongzhi"
				Param "UI_Danbichongzhi"
				Param "UI_Leijixiaofei"
				Param "UI_Xiaozhouka"
				Param "HuangZuan_Xinshoulibao"
				Param "HuangZuan_Meirilibao"
				Param "UI_HuangZuanTeQuan"
				Param "UI_HZ_MRLB"
				Param "UI_HZ_NF_MRLB"
			}
			Logic {
				Class  "IF_ELSE"
				Method {//条件
					Class "JXJHasTeam"
				}
				Method {
					Class "ShowCanvas"
					Param "UI_PeopleModelGroup"
					Param "1"
				}
				Method {
					Class "JXJUIBattleOpen"
					Param "0"
					Param "UI_Battleground_Jr1_map"
					Param "UI_Battleground_Jr1"
					Param "UI_Battleground_Jr1_time"
					Param "UI_Battleground_Jr1_minimap"
					Param "UI_Battleground_Jr1_Formation"
					Param "UI_BattleGround_Return"
					Param "UI_BattleGround_Shijiefuben"
					Param "guozhangz"
					Param "sw368"
					Param "zoom"
					Param "Enlarge_1"
				}
			}
			Method {
				Class "CloseParentCanvas"
			}
		}
	}
}