# Creature3D Script Parser v1.0

Data {
    Class "UI"	
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"			
			Method {
				Class "UpdateMe"
			}				
		}
	}
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJ7DaysCanvasUpdate"
				Param "UI_Icon1"
				Param "UI_Icon2"
				Param "UI_Icon3"
				Param "UI_Icon4"
				Param "UI_Icon5"
				Param "UI_Icon6"
				Param "UI_Card"
				Param "UI_Donghua1"
				Param "UI_Donghua2"
				Param "UI_Donghua3"
				Param "UI_Donghua4"
				Param "UI_Donghua5"
				Param "UI_Donghua6"
				Param "UI_Donghua7"
				Param "sw5"
				Param "sw6"
				Param "sw7"
				Param "sw8"
				Param "sw9"
				Param "sw10"
				Param "sw11"
			}			
		}
	}
}