# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "Frame"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class  "RunFrequencyControl"
				Param "0.2"
			}
			Method {
				Class "JXJUIRecruitUpdate"
				Param "ArmyRaido"
				Param "ArmyTypeRaido"
				Param "UI_Army01_Quantity"
				Param "UI_Army02_Quantity"
				Param "UI_Army03_Quantity"
				Param "UI_Army04_Quantity"
				Param "UI_Army05_Quantity"
				Param "UI_Army06_Quantity"
			}
			Method {
				Class "JXJUIRecruitSelInfoUpdate"
				Param "UI_Army_Info"
				Param "UI_Money_Unit"
				Param "UI_Food_Unit"
				Param "UI_Iron_Unit"
				Param "UI_Horse_Unit"
				Param "UI_Wood_Unit"
				Param "UI_Time_Unit"
				Param "UI_Army_Input"
				Param "UI_Money_Total"
				Param "UI_Food_Totalq"
				Param "UI_Iron_Total"
				Param "UI_Horse_Total"
				Param "UI_Wood_Total"
				Param "UI_Time_Total"
			}
		}
	}
}