# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "SelectChange"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGoldCostHindSelectAll"
				Param "UI_System_ConsumerTips_Click1"//购买军令
				Param "UI_System_ConsumerTips_Click4"//秒逃兵
				Param "UI_System_ConsumerTips_Click5"//强征
				Param "UI_System_ConsumerTips_Click6"//元宝刷将
				Param "UI_System_ConsumerTips_Click7"//自动刷将
				Param "UI_System_ConsumerTips_Click8" //重置副本
				Param "UI_System_ConsumerTips_Click9"//高级精炼
				Param ""//至尊精炼
				Param "UI_System_ConsumerTips_Click11"//高级熔炼
				Param "UI_System_ConsumerTips_Click12"//征辟
				Param "UI_System_ConsumerTips_Click2"//建筑时间条消费提示
				Param "UI_System_ConsumerTips_Click3"//招募时间条消费提示
				Param "UI_System_ConsumerTips_Click14"//科技研发
				Param "UI_System_ConsumerTips_Click10"//立即完成扫荡消费提示
				Param ""
				Param ""
				Param ""
				Param "UI_System_ConsumerTips_Click17" // 购买资源加成时间
				Param "UI_System_ConsumerTips_Click15" // 名将之路重置
				Param "UI_System_ConsumerTips_Click16" // 战场鼓舞
				Param "UI_System_ConsumerTips_Click15_1" // 军团州郡特产
				Param ""
				Param ""
				Param "UI_System_ConsumerTips_Click18" //世界副本继续领取消耗礼金
			}
		}
	}
}