# Creature3D Script Parser v1.0

Data {
    Class "UI"	
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"			
			Method {
				Class "UpdateMe"
			}				
		}
	}
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJShouchongCanvasUpdate"
				Param "Icon1"
				Param "Icon2"
				Param "Icon3"
				Param "Icon4"
				Param "Icon5"
				Param "Icon6"
				Param "Chongqian"
				Param "Lingqu"
			}
		}
	}
}