# Creature3D Script Parser v1.0

Data {
	Class "UI"
	Handle {
		MsgParam "InitWindow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"			
			Method {
				Class "JXJTestNodeSize2"
				Param "UI_StateEnfeoff_Ranking"
				Param "16"			//charactersize
				Param "20"			//fontsizex
				Param "20"			//fontsizey
				Param "16"			//linespacing
				Param "3"			//underlinespacing
				Param "UI_Battleground_Jr1_ListScroll"
				Param "UI_StateEnfeoff_GameList1"
				Param "UI_StateEnfeoff_CorpsName"
				Param "UI_StateEnfeoff_CorpsMaster"	
				Param "UI_StateEnfeoff_Level"
				Param "UI_StateEnfeoff_Number"
				Param "UI_StateEnfeoff_Contribution"
			}
		}
	}
	Handle {
		MsgParam "OnShow"					// 模态 showCanvas 3
		MsgParam "1"
		Driver {
			Class "MoreSlot"			
			Method {
				Class "UpdateMe"
			}			
		}
	}
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"				
			Method {
				Class "JXJCountryCantonFenFengUpdate"
				Param "UI_StateEnfeoff_GameList1"
				Param "UI_StateEnfeoff_Information1_1"
				Param "UI_StateEnfeoff_Information2_1"
				Param "UI_StateEnfeoff_Information3_1"
				Param "UI_StateEnfeoff_Information4_1"
				Param "UI_StateEnfeoff_Information5_1"
				Param "UI_StateEnfeoff_Information6_1"
				Param "UI_StateEnfeoff_Information7_1"
				Param "UI_StateEnfeoff_Information8_1"
				Param "UI_StateEnfeoff_Information9_1"
				Param "UI_StateEnfeoff_Information1_2"
				Param "UI_StateEnfeoff_Information2_2"
				Param "UI_StateEnfeoff_Information3_2"
				Param "UI_StateEnfeoff_Information4_2"
				Param "UI_StateEnfeoff_Information5_2"
				Param "UI_StateEnfeoff_Information6_2"
				Param "UI_StateEnfeoff_Information7_2"
				Param "UI_StateEnfeoff_Information8_2"
				Param "UI_StateEnfeoff_Information9_2"
				Param "UI_StateEnfeoff_Enfeoff1"
				Param "UI_StateEnfeoff_Enfeoff2"
				Param "UI_StateEnfeoff_Enfeoff3"
				Param "UI_StateEnfeoff_Enfeoff4"
				Param "UI_StateEnfeoff_Enfeoff5"
				Param "UI_StateEnfeoff_Enfeoff6"
				Param "UI_StateEnfeoff_Enfeoff7"
				Param "UI_StateEnfeoff_Enfeoff8"
				Param "UI_StateEnfeoff_Enfeoff9"
				Param "UI_StateEnfeoff_Relieve1"
				Param "UI_StateEnfeoff_Relieve2"
				Param "UI_StateEnfeoff_Relieve3"
				Param "UI_StateEnfeoff_Relieve4"
				Param "UI_StateEnfeoff_Relieve5"
				Param "UI_StateEnfeoff_Relieve6"
				Param "UI_StateEnfeoff_Relieve7"
				Param "UI_StateEnfeoff_Relieve8"
				Param "UI_StateEnfeoff_Relieve9"
				Param "UI_Country1"
				Param "sw2_1"
				Param "sw2_5"
				Param "sw2_7"
				Param "sw2_9"
				Param "sw2_11"
				Param "sw2_13"
				Param "sw2_15"
				Param "sw2_17"
				Param "sw2_19"
				Param "sw2_2"
				Param "sw2_6"
				Param "sw2_8"
				Param "sw2_10"
				Param "sw2_12"
				Param "sw2_14"
				Param "sw2_16"
				Param "sw2_18"
				Param "sw2_20"
				Param "UI_StateEnfeoff_PageNumber"
				Param "UI_StateEnfeoff_Notice"
				Param "UI_StateEnfeoff_Title"
			}
			Method {
				Class "JXJUIChangePageShowWidget"
				Param "22054"
				Param "22055"
				Param "NULL"	
				Param "UI_StateEnfeoff_Left"//上一页
				Param "UI_StateEnfeoff_Right"//下一页
				Param "NULL"	
				Param "UI_Country1"
			}
		}
	}
}