# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "ValueChange"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJFubenRushItemShow"
				Param "UI_Sweep_Input6_1"
				Param "UI_Sweep_Input6_2"
				Param "UI_Sweep_Input6_3"
				Param "UI_Sweep_Input6_4"
				Param "UI_Sweep_Input6_5"
				Param "UI_Sweep_Input6_6"
				Param "UI_Sweep_Input6_7"
				Param "UI_Sweep_Input6_8"
				Param "UI_Sweep_Input6_9"
				Param "UI_Sweep_Input6_10"
				Param "UI_Sweep_Input6_11"
				Param "UI_Sweep_Input6_12"
				Param "UI_Sweep_Input6_13"
				Param "UI_Sweep_Input6_14"
			}
		}
	}
}