# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJCanvasOnShowQuery"
			}
			Method {
				Class "UpdateMe"
			}
		}
	}
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUISuperEquipCanvasUpdate"
				Param "UI_ShenQi_BiaoQian"
				Param "UI_ShenQi_qieye"
				Param "Page"
				Param "ShenQi_YuanHua"
				Param "JiChuShuXing_dengji"
				Param "JiChuShuXing_yanse"
				Param "JiChuShuXing_shulingdian"
				Param "JiChuShuXing_shuxing2"
				Param "ShenQi_EXP"
				Param "ShenQi_EXP_Input"
				Param "ShenQi_Texiao1"
				Param "ShenQi_Texiao2"
				Param "ShenQi_Texiao3"
				Param "ShenQi_Texiao4"
				Param "ShenQi_Texiao5"
				Param "ShenQi_Texiao_shuoming1"
				Param "ShenQi_Texiao_shuoming2"
				Param "ShenQi_Texiao_shuoming3"
				Param "ShenQi_Texiao_shuoming4"
				Param "ShenQi_Texiao_shuoming5"
				Param "UI_ShenQi_jihuo"
				Param "ShenQi_Qieye_shuxing_ListScroll"
				Param "ShenQi_LunHui_quchu"
				Param "ShenQi_LunHui_xiaoguo"
				Param "LunHui_YiTianJian"
				Param "LunHui_QingGangJian"
				Param "LunHui_SheRiGong"
				Param "LunHui_ZhuGeLianNu"
				Param "LunHui_LengYanJu"
				Param "LunHui_FangTianHuaJi"
				Param "LunHui_ZhuGeYuShan"
				Param "LunHui_TianShuSanJuan"
				Param "ShenQi_Zhuling_xueliang"
				Param "ShenQi_Zhuling_gongji"
				Param "ShenQi_Zhuling_hujia"
				Param "ShenQi_Zhuling_gongsu"
				Param "ShenQi_Zhuling_baoji"
				Param "ShenQi_Zhuling_CD"
				Param "ShenQi_Zhuling_wulixixue"
				Param "ShenQi_Zhuling_gongjijuli"
				Param "ShenQi_Zhuling_wulijianshe"
				Param "ShenQi_Zhuling_gedang"
				Param "Zhuling_jiadian1"
				Param "Zhuling_jiadian2"
				Param "Zhuling_jiadian3"
				Param "Zhuling_jiadian4"
				Param "Zhuling_jiadian5"
				Param "Zhuling_jiadian6"
				Param "Zhuling_jiadian7"
				Param "Zhuling_jiadian8"
				Param "Zhuling_jiadian9"
				Param "Zhuling_jiadian10"
				Param "ShenQi_Zhulingdianshu"
				Param "Zhuling_xidian"
				Param "ShenQi_EXP_goumai"
				Param "sw110"
			}
		}
	}
	Handle {
		MsgParam16 "NULL"
		MsgParam16 "SCROLLUP"
		Driver {
			Class "OneSlot"
			Method {
				Class  "JXJListCtrlScroll"
				Param "ShenQi_Qieye_shuxing_ListScroll"
				Param "0"
			}
		}
	}
	Handle {
		MsgParam16 "NULL"
		MsgParam16 "SCROLLDOWN"
		Driver {
			Class "OneSlot"
			Method {
				Class  "JXJListCtrlScroll"
				Param "ShenQi_Qieye_shuxing_ListScroll"
				Param "1"
			}
		}
	}
}