# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJCountryCantonFenFeng"				
				Param "UI_Country1"
				Param "UI_StateEnfeoff_GameList1"								
				Param "5"
				Param "1"
			}							
		}
	}	
}