# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "Frame"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class  "RunFrequencyControl"
				Param "0.2"
			}
			Method {
				Class "JXJUITechUpdate"
				Param "20043"
				Param "UI_Upgrade_Jinggangduanzao"
				Param "UI_Upgrade_Liangmachanchu"
				Param "UI_Upgrade_Qianggong"
				Param "UI_Upgrade_Chezhouqianghua"
				Param "UI_Upgrade_Dadun"
				Param "UI_Upgrade_Huwei"
				Param "UI_Upgrade_Makai"
				Param "UI_Upgrade_Tupo"
				Param "UI_Upgrade_Xiezhan"
				Param "UI_Upgrade_Chuantou"
				Param "UI_Upgrade_Zhizao"
				Param "UI_Upgrade_Pili"
				Param "UI_Upgrade_Huben"
				Param "UI_Upgrade_Tieji"
				Param "UI_Upgrade_Jiguan"
				Param "UI_Upgrade_Huoyao"
				Param "UI_Upgrade_Shulianbing"
				Param "UI_Upgrade_Juntun"
				Param "UI_Upgrade_Bianzhigaige"
				Param "UI_Jinggangduanzao"
				Param "UI_Liangmachanchu"
				Param "UI_Qianggong"
				Param "UI_Chezhouqianghua"
				Param "UI_Dadun"
				Param "UI_Huwei"
				Param "UI_Matie"
				Param "UI_Tupo"
				Param "UI_Xiezhan"
				Param "UI_Chuantou"
				Param "UI_Zhizao"
				Param "UI_Pili"
				Param "UI_Huben"
				Param "UI_Tieji"
				Param "UI_Jiguan"
				Param "UI_Huoyao"
				Param "UI_Shulianbing"
				Param "UI_Juntun"
				Param "UI_Bianzhigaige"
			}
		}
	}
}