# Creature3D Script Parser v1.0

Data {
    Class "JXJCheckGroupCanvas"
	Handle {
		MsgParam "InitWindow"
		MsgParam "0"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJTestNodeSize2"
				Param "UI_ChengYuanLieBiao"
				Param "16"			//charactersize
				Param "20"			//fontsizex
				Param "20"			//fontsizey
				Param "16"			//linespacing
				Param "3"			//underlinespacing
				Param "UI_Battleground_Jr1_ListScroll"
				Param "UI_JunTuanChengYuan_List"
				Param "UI_ChengYuanDengJi"
				Param "UI_JunTuanZhiWu"
				Param "UI_GuanZhi"
			}			
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJQueryGroupMemberList"
				Param "UI_SQJunTuan"
				Param "UI_Corps"
				Param "1"
			}
		}
	}			
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"			
			Method {
				Class "JXJUILookGroupUpdate"					
				Param "UI_JIaRu"//			
				Param "UI_QuXiaoSQ"//				
				Param "UI_PageNumber"//页码				
				Param "UI_LeftPage"//上一页
				Param "UI_RightPage"//下一页				
				Param "UI_JunTuanChengYuan_List"
				Param "UI_Corps"
				Param "UI_JunTuanZhang"
				Param "UI_JunTuanDengJi"
				Param "UI_JunTuanPaiMing"
				Param "UI_JunTuanFengYi"	
			}
			Method {
				Class "JXJUIChangePageShowWidget"
				Param "20872"
				Param "20873"	
				Param "NULL"	
				Param "UI_LeftPage"//上一页
				Param "UI_RightPage"//下一页
				Param "NULL"				
			}
		}
	}
}