 # Creature3D Script Parser v1.0

Data {
    Class "JXJRegisterMoveUI"
	Param "20371,1800"
	Handle {
		MsgParam "Frame"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class  "RunFrequencyControl"
				Param "0.1"
			}
			Method {
				Class "JXJUISelectPlayerIconUpdate"
				Param "PlayerFaceRadio"
				Param "UI_LogIn_Wjxz_Icon1"
				Param "SexRadio"
			}
			xMethod {
				Class "JXJUIRegisterMoveUpdate"
				Param "1"  ///左边创建角色1，右边势力选择2
				Param "0.08"  ////更新步长
				Param "-2.0"  ////结束位置
			}
			Method {
				Class "RunFrequencyControl"
				Param "1.0"
			}
			Method {
				Class "JXJCreateCharacterTimer"
				Param "Setup"
				Param "UI_CJTime"
			}
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJQueryLoseCountry"
			}
			Method {
				Class "WidgetDoEvent"
				Param "NameRandom"
				Param "LEFT_MOUSE_BUTTON"
				Param "MOUSERELEASE"
			}
			Method {
				Class "JXJSelectCharacterOnShow"
				Param "PlayerFaceRadio"
				Param "UI_LogIn_Wjxz_Icon1"
				Param "SexRadio"
			}
			Method {
				Class "JXJUIHttpRecord"
				Param "1"
				Param "1"
				Param "s2.app1105124958.qqopenapp.com"
			}
		}
	}
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "WidgetDoEvent"
				Param "NameRandom"
				Param "LEFT_MOUSE_BUTTON"
				Param "MOUSERELEASE"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+21239" //WCH_JXJSelectCharacterPowerOnShow											
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJSelectCharacterPowerOnShow"
				Param "PowerRaido"
				Param "Wei"
				Param "Shu"
				Param "Wu"
			}
		}
	}
}