# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJCheckPlayerGameNameNULL"
				Param "Name_1"
			}
			Method {
				Class "JXJCheckPlayerGameName"
				Param "Name_1"
			}
			Method {
				Class "JXJNotice"
				Param "1059"//验证角色名
			}
		}
	}
	Handle {
        MsgParam "WCH_USER+318"//WCH_RecvCheckPlayerGameName
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Logic {
				Class "IF_ELSE"
				Method {
					Class "IsNetReturnSuccess"
				}
				Logic {
					Class "ProxyArray"
					Method {
						Class "JXJUISetPlayerIcon"
						Param "PlayerFaceRadio"
						Param "Name_1"
					}
					Method {
						Class "JXJUIOnClickRegister"
					}
					xMethod {
						Class "CreatePlayerGameData"
					}
					xMethod {
						Class "JXJNotice"
						Param "1057"//创建角色
					}
					Method {
						Class "CloseParentCanvas"
					}
					Method {
						Class "ShowCanvas"
						Param "UI_Xinshouyindao31"
						Param "3"
					}
				}
				Logic {
					Class "ProxyArray"
					Method {
						Class "ChangeWidgetTextColor"
						Param "Name_1"
						Param "255,0,0,255"
					}
					Method {
						Class "JXJNotice"
						Param "22"
					}
				}
			}
		}
    }
}