# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam16 "NULL"
		MsgParam16 "MOUSEMOVE"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJUITavernCardTicketsTip"
				Param "UI_Card"
				Param "0"
				Param "TavernRaido"
				Param "UI_Input"//技能描述#StaticTextWidget
				Param "UI_CharacterImage"//将卡人物#ImageBoxWidget
				Param "UI_CharactorInfo"//姓名#ImageBoxWidget
				Param "sw2"//品质#SwitchWidget
			}
		}
	}
	Handle {
		MsgParam "WCH_FILTERLOSTFOCUS"
		MsgParam "NULL"
		Driver {
            Class "OneSlot"
			Method {
				Class "ShowCanvas"
				Param "UI_Card"
				Param "0"
			}
		}
	}
}