# Creature3D Script Parser v1.0

Data {
    Class "JXJCheckBuildingCanvas"
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUISetBuildCanvasName"
				Param "UI_TerritoryBuilding_Drag"
				Param "NULL"
				Param "UI_Tittle"
			}
			Method {
				Class "JXJSetBuildCanvas"
				Param "ImageBox"
			}
		}
	}
	Handle {
		MsgParam "Frame"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class  "RunFrequencyControl"
				Param "0.5"
			}
			Method {
				Class "JXJUIBuildLevelUpCheck"
				Param "UI_TerritoryBuilding_Upgrade"
				Param "UI_Promt_H"
				Param "UI_Time"
				Param "UI_Need"
				Param "UI_Money"
				Param "UI_Wood"
				Param "UI_Iron"
				Param "UI_Food"
				Param "UI_TerritoryBuilding"
				Param "UI_Level"
				Param "UI_TerritoryBuilding_NowLv"
				Param "UI_TerritoryBuilding_NextLv"
				Param "UI_TerritoryBuilding_Yjsm"
			}
			Method {
				Class "JXJSetConstructtionLevel"
			}
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "0"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJArrowsUITypeSelect"
				Param "UI_ManorStair_RenWu"
				Param "0"
			}
		}
	}
}