# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam16 "NULL"
		MsgParam16 "MOUSEMOVE"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJUIFuYaKeJiTip"
				Param "UI_Fuya_KeJi_Tips"
				Param "0"
				Param "UI_TipsTittle"
				Param "UI_Info"
				Param "UI_LordLV_Figure"
				Param "UI_Exploit_Figure"
			}
		}
	}
	Handle {
		MsgParam "WCH_FILTERLOSTFOCUS"
		MsgParam "NULL"
		Driver {
            Class "OneSlot"
			Method {
				Class "ShowCanvas"
				Param "UI_Fuya_KeJi_Tips"
				Param "0"
			}
		}
	}
}