# Creature3D Script Parser v1.0

Data {
    Class "JXJPersuadeCanvas"
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJQueryCountryStrength"
			}
			xMethod {
				Class "UpdateMe"
			}
		}
	}
	Handle {
        MsgParam16 "KEY_Escape"
		MsgParam16 "KEYDOWN"
		Driver {
			Class "MoreSlot"
			Method {
				Class "ShowCanvas"
				Param "UI_Treason_Country"
				Param "0"
			}
		}
	}
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJTreasonCountryCanvasShow"
				Param "sw12"
				Param "UI_Treason_RoleSelect"
				Param "UI_Treason_Wei"
				Param "UI_Treason_Shu"
				Param "UI_Treason_Wu"
				Param "sw2_5"
				Param "sw2_6"
				Param "sw2_7"
				Param "UI_Treason_Time"
				Param "Quanruo_Wei"
				Param "Quanruo_Shu"
				Param "Quanruo_Wu"
			}
		}
	}
}