# Creature3D Script Parser v1.0

Data {
    Class "JXJTavernBuildingCanvas"
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUISetBuildCanvasName"
				Param "UI_Name"
				Param "UI_Curfunction"
			}
			Method {
				Class "JXJSetBuildCanvas"
				Param "UI_Tavern_Picture"
			}
			Method {
				Class "UpdateMe"
			}
		}
	}
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJUIJiushiUpdate"
				Param "UI_Tavern_Bar"
				Param "UI_Input1"
				Param "UI_Tavern_Receive"
				Param "UI_Zhitianming"
				Param "UI_Ingot"
				Param "UI_Batch"
				Param "UI_ZhengBi1"
				Param "UI_ZhengBi2"
				Param "UI_ZhengBi3"
				Param "JunShi"
				Param "UI_Time2"
				Param "UI_Tavern_Exchange"
				Param "Haogandu_Jiangka"
				Param "sw53"
				Param "Donghua7-2"
				Param "Donghua7-2_1"
				Param "Donghua7-2_2"
				Param "Donghua7-2_3"
				Param "sw52"
			}
		}
	}
	Handle {
		MsgParam "WCH_USER+20434"//WCH_JXJShowluckyCards
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJShowLuckyCard"
				Param "sw19"
				Param "sw20"
				Param "sw21"
				Param "UI_Card_Img001"
				Param "UI_Card_Img002"
				Param "UI_Card_Img003"
				Param "UI_CardInfo001"
				Param "UI_CardInfo002"
				Param "UI_CardInfo003"
				Param "UI_Card_Input001"
				Param "UI_Card_Input002"
				Param "UI_Card_Input003"
				Param "UI_ZhengBi1"
				Param "UI_ZhengBi2"
				Param "UI_ZhengBi3"
			}
		}
	}
	Handle {
		MsgParam "Frame"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class  "RunFrequencyControl"
				Param "1"
			}
			Method {
				Class "JXJUIJiusiAutoRollCard"
			}
			Method {
				Class "JXJUIBuildLevelUpCheck"
				Param "UI_Tavern_Upgrade"
				Param "UI_Promt_H"
				Param "UI_Time"
				Param "UI_Need"
				Param "UI_Money"
				Param "UI_Wood"
				Param "UI_Iron"
				Param "UI_Food"
				Param "UI_Tavern"
				Param "UI_Level"
				Param "NULL"
				Param "NULL"
				Param "UI_Tavern_Yjsm"
			}
			Method {
				Class "JXJSetConstructtionLevel"
			}
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "0"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJArrowsUITypeSelect"
				Param "UI_ManorStair_RenWu"
				Param "0"
			}
		}
	}
	xHandle {
		MsgParam "WCH_USER+20497"//WCH_JXJPickLuckyCard
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUIPickCards"
			}
		}
	}
}