# Creature3D Script Parser v1.0

Data {
    Class "JXJPersuadeCanvas"
	xHandle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "OneSlot"
			Method {
				Class "UpdateMe"
			}
		}
	}
	xHandle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJTreasonCountryTiShiCanvasShow"
				Param "Tishi_Input1"
			}
		}
	}
}