# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "MoreSlot"
			Logic {
				Class "IF_ELSE"
				Method {
					Class "JXJCheckCanvasStatusOfShow"
					Param "UI_Treason_Tishi"
				}
				Method {
					Class "ShowCanvas"
					Param "UI_Treason_Tishi"
					Param "0"
				}
				Method {
					Class "JXJTreasonCountryTiShiCanvasShow"
					Param "UI_Treason_Tishi"
					Param "Tishi_Input1"
					Param "0"
				}
			}
		}
	}
}