# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"			
			Logic {
				Class "CreateSound"
				Param "0"//创建Node
				Param "sounds/Beijing_Nanzhong.ogg"
				Param "1"//ambient
				Param "1.0"//volume
				Param "1"//play
				Param "0"//looping
				Method {
					Class "LoadSound"
				}
			}
		}
	}
	Handle {
		MsgParam "Frame"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Logic {
				Class "IF_ELSE"
				Method {
					Class "JXJCheckGameIntroduceCanvasInfo"
					Param "Play31"
					Param "2"
					Param "0"//是否对canvas进行缩放，0表示不缩放，1表示缩放
				}
				Logic {
					Class "ProxyArray"
					Method {
						Class "WidgetDoEvent"
						Param "Enter"
						Param "LEFT_MOUSE_BUTTON"
						Param "MOUSERELEASE"
					}
					xMethod {
						Class "JXJSetWidgetVisiable"
						Param "UI_Xinshouyindao31"
						Param "Play32"
						Param "1"
					}
					xMethod {
						Class "JXJSetWidgetVisiable"
						Param "UI_Xinshouyindao31"
						Param "Enter"
						Param "1"
					}
				}
			}
		}
	}
}