# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "LockKeyboardMouse"
				Param "0"
			}
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "0"
		Driver {
			Class "MoreSlot"
			Method {
				Class "LockKeyboardMouse"
				Param "1"
			}
		}
	}
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "OneSlot"
			Method {
				Class "ShowCanvas"
				Param "UI_Xinshouyindao24"
				Param "0"
			}
		}
	}
	Handle {
		MsgParam "Frame"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class  "RunFrequencyControl"
				Param "0.1"
			}
			Logic {
				Class "IF_ELSE"
				Method {
					Class "JXJSkipNewHandInfo"
				}
				Logic {
					Class "Proxy"
					Method {
						Class "Null"
					}
				}
				Logic {
					Class "ProxyArray"
					Method {
						Class "LockKeyboardMouse"
						Param "0"
					}
				}
			}
		}
	}
}