# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "InitWindow"
		MsgParam "1"
		Driver {
			Class "OneSlot"
			Method {
				Class "SetMsgTraverse"
				Param "7"
			}
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJNewHandFuBenInit"
				Param "UI_Xinshouyindao27_6"
				Param "UI_CopyBattle_MinMap"
				Param "UI_CopyBattle_Move"
			}
		}
	}
}