# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "InitWindow"
		MsgParam "1"
		Driver {
			Class "OneSlot"
			Method {
				Class "SetMsgTraverse"
				Param "7"
			}
		}
	}
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJNewHandFuBenInit"
				Param "UI_Xinshouyindao35"
				Param "UI_Beta3_CopyBattle_JK"
				Param "UI_Beta3_CopyBattle_CardQ"
			}
		}
	}
	Handle {
		MsgParam "Frame"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Logic {
				Class "IF_ELSE"
				Method {
					Class "JXJCheckNewHandBattleUseJiangKa"
					Param "UI_Beta3_CopyBattle_JK"
					Param "Play1"
					Param "1"
				}
				Logic {
					Class "ProxyArray"
					Method {
						Class "ShowCanvas"
						Param "UI_Xinshouyindao35"
						Param "0"
					}
				}
			}
		}
	}
}