# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "Frame"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Logic {
				Class "IF_ELSE"
				Method {
					Class "JXJCheckGameIntroduceCanvasInfo"
					Param "Play51"
					Param "2"
					Param "0" //对canvas进行缩放
				}
				Logic {
					Class "ProxyArray"
					Method {
						Class "JXJSetWidgetVisiable"
						Param "UI_Xinshouyindao51"
						Param "Play51_2"
						Param "1"
					}
					Method {
						Class "JXJSetWidgetVisiable"
						Param "UI_Xinshouyindao51"
						Param "Jinrufengdi"
						Param "1"
					}
				}
			}
		}
	}
}