# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJSetRankUIRadioSelect"
				Param "UI_Youxibaodian"
				Param "Baodian_Raido"
				Param "0"
				Param "UI_Qieye"
			}
			Method {
				Class "JXJGameIntroduceCanvasUpdate"
				Param "Baodian_Raido"
				Param "UI_Qieye"
				Param "Baodian_Qiye_Txt1"
				Param "Baodian_Qiye_Txt2"
				Param "Baodian_Qiye_Txt3"
				Param "Baodian_Qiye_Txt4"
				Param "UI_Youxibaodian"
				Param "UI_Prompt_CheckBox"
			}			
			Method {
				Class "CanvasUpdate"
				Param "UI_Youxibaodian"
			}			
		}
	}
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Logic {
				Class "Switch"
				Method {//条件
					Class "GetRadioGroupValue2"
					Param "UI_Youxibaodian"
					Param "Baodian_Raido"
				}
				Logic {//case 0 升级指南
					Class "ProxyArray"
					Method {
						Class "JXJLevelUpIntroduceCanvasUpdate"
						Param "UI_Dengjibiaoti"//等级宝典
						Param "UI_Xuanxiang"//指南说明
						Param "Zuo_Dengjix"						
						Param "Zhong_Dengjix"
						Param "You_Dengjix"
						Param "Dengji_Gonglvx"
						Param "UI_Denyou"//右切页
						Param "UI_Denzuo"//左切页
						Param "UI_Youxibaodian"
						Param "UI_You_Dengjix"
						Param "UI_Zuo_Dengjix"
					}
				}//end case
				Logic {//case 1 战斗力提升指南
					Class "ProxyArray"
					Method {
						Class "JXJCombatEffectivenessIntroduceCanvasUpdate"
						Param "Zhandouli_Txt"
						Param "Tanchuan"
						Param "UI_Youxibaodian"
					}
				}//end case
				
				Logic {//case 2 国战指南
					Class "ProxyArray"						
					Method {
						Class "JXJCountryBattleIntroduceCanvasUpdate"
						Param "UI_Guozhanbiaoti"
						Param "Guozhanneirou"
						Param "Guozhan_You"
						Param "Guozhan_Zuo"
						Param "UI_Youxibaodian"
					}
				}//end case
				
				Logic {//case 3 高手进阶
					Class "ProxyArray"					
					Method {
						Class "JXJAdvancedMasterCanvasUpdate"
						Param "Biaoti1"
						Param "Biaoti2"
						Param "Biaoti3"	
						Param "Biaoti4"						
						Param "Neirou1_1"
						Param "Neirou1_2"
						Param "Neirou1_3"
						Param "Neirou1_4"
						Param "Neirou2_1"
						Param "Neirou2_2"
						Param "Neirou2_3"
						Param "Neirou2_4"
						Param "Neirou3_1"
						Param "Neirou3_2"
						Param "Neirou3_3"
						Param "Neirou3_4"
						Param "Neirou4_1"
						Param "Neirou4_2"
						Param "UI_Youxibaodian"
						Param "UI_Gaoshoubiaoti"						
					}
					xMethod {
						Class "JXJSetWidgetVisiable"
						Param "UI_Youxibaodian"
						Param "UI_Luntan"
						Param "0"
					}					
				}//end case				
			}
		}
	}
}