# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "OneSlot"
			Logic {
				Class "IF_ELSE"
				Method {
					Class "JXJTextColorEqual"
					Param "150,150,150,255"
				}
				Logic {
					Class "ProxyArray"
					Method {
						Class "JXJClearText"
					}
					Method {
						Class "ChangeWidgetTextColor2"
						Param "32,32,32,255"
					}
				}
			}
		}
	}
}