# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "InitWindow"
		MsgParam "1"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJSetHypertext"
				Param "yijianzhengji.cfg"
			}
		}
	}
}