# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "OneSlot"
			Logic {
				Class "IF_ELSE"
				Method {
					Class "JXJTextEmpty"
					Param "UI_YjJian_YJ"
				}
				Method {
					Class "JXJSetCodeText"
					Param "UI_YjJian_YJ"
					Param "1111"
					Param "150,150,150,255"
				}
			}
		}
	}
}