# Creature3D Script Parser v1.0

Data {
    Class "BattleReportCanvas"
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "OneSlot"
			Method {
				Class "UpdateMe"
			}
		}
	}
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJUIZhanBaoUpdate"
				Param "sw4"
				Param "sw5"
				Param "sw2"
				Param "Zhanbao_Name"
				Param "Zhanbao_Input1"
				Param "Zhanbao_Input2"
				Param "Zhanbao_Input3"
				Param "Zhanbao_Input4"
				Param "Zhanbao_GameList1"
				Param "Zhanbao_GameList2"
				Param "Zhanbao_Input11"
				Param "Zhanbao_Input12"
				Param "Zhanbao_Input13"
				Param "Zhanbao_Input14"
				Param "Zhanbao_Input15"
				Param "Zhanbao_Icon1"
				Param "Zhanbao_Icon2"
				Param "T_Icon_Task_EXP.img"
				Param "T_Icon_Task_Gongxun.img"
				Param "Zhanbao_Zhanshi"
				Param "Zhanbao_Input16"
			}
		}
	}
}