# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJUISelectFuben"
			}
			Method {
				Class "CloseParentCanvas"
			}
			Logic {
				Class "ProxyArray"
				Method {
					Class "ShowCanvas"
					Param "UI_Beta2_Formation"
					Param "0"
				}
				xMethod {
					Class "JXJSetWidgetEnable"
					Param "UI_ManorStair_Taskbar"
					Param "BianDui"
					Param "0"
				}
				xMethod {
					Class "JXJSetWidgetEnable"
					Param "UI_ManorStair_HuoDong"
					Param "ChengZhan"
					Param "0"
				}
				xMethod {
					Class "JXJCheckFubenProgress"
				}
				Logic {
					Class  "IF_ELSE"
					Method {
						Class "JXJCheckSelectRoles"
						Param "0"
						Param "1"
					}
					Logic {
						Class "ProxyArray"
						Method {
							Class  "JXJSetFubenID"
						}
						Logic {
							Class "IF_ELSE"
							Method {
								Class "JXJUIIsMultiFuben"
							}
							Logic {
								Class "ProxyArray"
								Method {
									Class "JXJUIInitMultiFuben"
									Param "UI_PeopleModelGroup"
									Param "UI_PeopleModelGroup_drag"
								}
								Method {
									Class "ShowCanvas"
									Param "UI_PeopleModelGroup"
									Param "1"
								}
								Method {
									Class "ShowCanvas"
									Param "UI_FuBen"
									Param "0"
								}
								Method {
									Class "JXJSetWidgetEnable"
									Param "UI_ManorStair_Taskbar"
									Param "UI_Fuben"
									Param "0"
								}
							}
							Logic {
								Class "ProxyArray"
								Method {
									Class "JXJLoginGameScene"
									Param "UI_ManorStair_Taskbar"
									Param "BianDui"
								}
								xLogic {
									Class "WaitNetReturnStream"
									Param "10000"//ms
									Logic {
										Class "IF_ELSE"
										Method {
											Class "IsNetReturnSuccess"
										}
										Logic {
											Class "ProxyArray"
											Method {
												Class "JXJCreateFuben"
											}
											Logic {
												Class "WaitNetReturnStream"
												Param "10000"//ms
												Logic {
													Class "IF_ELSE"
													Method {
														Class "IsNetReturnSuccess"
													}
													Logic {
														Class "ProxyArray"
														Method {
															Class "QuerySceneInfo2"
														}
													}
													Logic {
														Class "ProxyArray"
														Method {
															Class "JXJSetWidgetEnable"
															Param "UI_ManorStair_Taskbar"
															Param "BianDui"
															Param "1"
														}
													}
												}
											}
										}
									}
								}
							}
						}
					}
					Logic {
						Class "Proxy"
						Method {
							Class "JXJSetWidgetEnable"
							Param "UI_ManorStair_Taskbar"
							Param "BianDui"
							Param "1"
						}
					}
				}
			}
		}
	}
}