# Creature3D Script Parser v1.0

Data {
    Class "JXJFPSAndPing"	
	
	Handle {
		MsgParam "InitWindow"
		MsgParam "0"
		Driver {
			Class "MoreSlot"			
			Method {
				Class "SetMsgTraverse"
				Param "15"
			}
		}
	}
	
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"			
			Method {
				Class "JXJRelocateFPSAndPingCanvas"
				Param ""				
				Param "UI_CopyBattle_Show"				
			}			
		}
	}
	
	Handle {
		MsgParam "Frame"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "RunFrequencyControl"
				Param "10.0"
			}
			Method {
				Class "JXJFPSAndPingUpdate"	
				Param "UI_Zhenglv2"
				Param "ZhenLv_2"
				Param "WangSu_2"
				Param "s2.app1105124958.qqopenapp.com"
				Param "3"
				Param "20014"
			}			
		}
	}
	
}