# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "MoreSlot"
			Logic {//case 2加载NPC
				Class "IF_ELSE"
				Method {
					Class "JXJCheckInManor"
				}				
				Logic {//战场补兵
					Class "ProxyArray"
					Method {
						Class "JXJBattleDeadAddArmy"
					}
					Method {
						Class "ShowCanvas"
						Param "UI_Beta2_Battleground_Bcbl"
						Param "0"
					}					
				}
				Logic {//领地招募
					Class "ProxyArray"
					Method {
						Class "JXJUIAutoMakeTroopsEquip"
					}
					Method {
						Class "JXJUIRecruit"
						Param "UI_Barracks_Shuliang"
						Param "UI_Barracks"
					}					
				}				
			}
			Method {
				Class "CloseParentCanvas"
			}
		}
	}
}