# Creature3D Script Parser v1.0

Data {
    Class "UI"	
	Handle {
		MsgParam "OnShow"
		MsgParam "1"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJResetTempFormationVec"
				Param "UI_Beta2_Formation"
				Param "sw110"
				Param "sw111"
				Param "sw112"
				Param "sw113"
				Param "FormationRaido2"
			}			
			Method {
				Class "UpdateMe"
			}				
		}
	}
	Handle {
		MsgParam "UpdateData"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"		
			Method {
				Class "JXJShowYingZhengCanvas"
				Param "UI_Zhengzhao_Yingzheng"
				Param "Fenlei"
				Param "ID"
				Param "Input_Mudidi"
				Param "Bing1"
				Param "Bing2"
				Param "Bing3"
				Param "sw15_11"
				Param "sw15_10"
				Param "sw15_9"
				Param "tian1"
				Param "tian2"
				Param "tian3"
				Param "Di1"
				Param "Di2"
				Param "Di3"
				Param "Tianka1"
				Param "Tianka2"
				Param "Tianka3-3"
				Param "Dika1"
				Param "Dika2"
				Param "Dika3"
				Param "Input_Shuliang_1"
				Param "Input_Shuliang_2"
				Param "Input_Shuliang_3"
				Param "Input_Jianglishuoming"
				Param "Input_Jishi"
				Param "Input_Liuyan"
				Param "UI_Beta2_Formation"
				Param "UI_Beta2_Formation_Bztx9"
				Param "UI_Beta2_Formation_Bztx10"
				Param "UI_Beta2_Formation_Bztx11"
				Param "UI_Beta2_Formation_Input19"
				Param "UI_Beta2_Formation_Input23"
				Param "UI_Beta2_Formation_Input27"
				Param "Icon_Zuo"
				Param "Icon_You"				
			}
		}
	}
}