# Creature3D Script Parser v1.0

Data {
    Class "UI"	
	Handle {
		MsgParam16 "NULL"
		MsgParam16 "MOUSEMOVE"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJFoundCountryCanvasSwitchBoxAndBtn"
				Param "1"
				Param "UI_Jianguo"
				Param "sw76"
				Param "sw68"
				Param "Wu_Baoxiang_Button7"
			}
		}
	}
	Handle {
		MsgParam "WCH_FILTERLOSTFOCUS"
		MsgParam "NULL"
		Driver {
            Class "OneSlot"
			Method {
				Class "JXJFoundCountryCanvasSwitchBoxAndBtn"
				Param "0"
				Param "UI_Jianguo"
				Param "sw76"
				Param "sw68"
				Param "Wu_Baoxiang_Button7"
			}
		}
	}
}
