# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJGameServerButtonClick"			
				Param "UI_Prompt"
				Param "UI_Prompt_Input"
				Param "UI_Prompt_Confirm"	 			
			}
		}
	}
	Handle {
		MsgParam "WCH_OK"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJGameServerThrow"
				Param "UI_Operation"				
			}
		}
	}
	Handle {
		MsgParam "Frame"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class  "RunFrequencyControl"
				Param "10.0"
			}
			Method {
				Class "JXJGameServerTimeCount"
				Param "UI_Operation"
				Param "5"
			}
		}
	}
}