# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "MoreSlot"
			
			Method {
				Class "JXJClientDownLoadLogFiles"
				Param "22123"  // WCHDATA_JXJGameServer3Tab					
				Param "GameServer3.tab"
			}
			Method {
				Class "JXJClientDownLoadLogFiles"
				Param "22124"  // WCHDATA_JXJSceneServer1Tab					
				Param "SceneServer1.tab"
			}
			Method {
				Class "JXJClientDownLoadLogFiles"
				Param "22125"  // WCHDATA_JXJSceneServer2Tab					
				Param "SceneServer2.tab"
			}
			Method {
				Class "JXJClientDownLoadLogFiles"
				Param "22126"  // WCHDATA_JXJSceneServer3Tab					
				Param "SceneServer3.tab"
			}
			Method {
				Class "JXJClientDownLoadLogFiles"
				Param "22127"  // WCHDATA_JXJSceneServer4Tab					
				Param "SceneServer4.tab"
			}
			Method {
				Class "JXJClientDownLoadLogFiles"
				Param "22128"  // WCHDATA_JXJSceneServer5Tab					
				Param "SceneServer5.tab"
			}
			Method {
				Class "JXJClientDownLoadLogFiles"
				Param "22129"  // WCHDATA_JXJSceneServer6Tab					
				Param "SceneServer6.tab"
			}
			Method {
				Class "JXJClientDownLoadLogFiles"
				Param "22130"  // WCHDATA_JXJSceneServer7Tab					
				Param "SceneServer7.tab"
			}
			Method {
				Class "JXJClientDownLoadLogFiles"
				Param "22131"  // WCHDATA_JXJSceneServer8Tab					
				Param "SceneServer8.tab"
			}
			Method {
				Class "JXJClientDownLoadLogFiles"
				Param "22132"  // WCHDATA_JXJSceneServer9Tab					
				Param "SceneServer9.tab"
			}
			Method {
				Class "JXJClientDownLoadLogFiles"
				Param "22133"  // WCHDATA_JXJSceneServer10Tab					
				Param "SceneServer10.tab"
			}
			Method {
				Class "JXJAddNoChatPlayer"
				Param "UI_Operation"
				Param "Z1_Input11"
				Param "7"	// 禁言  			
			}	
		}
	}
}
