 # Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "InitWindow"
		MsgParam "0"
		Driver {
			Class "MoreSlot"
			xMethod {
				Class "SetMsgTraverse"
				Param "1"
			}
			Method {
				Class "SetMsgTraverse"
				Param "15"
			}
		}
	}
	Handle {
		MsgParam "Frame"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class "RunFrequencyControl"
				Param "1.0"
			}
			Method {
				Class "JXJOnlineRewardTimerUpdate"
				Param "UI_Beta3_ManorStair_Zxjl"
			}
			Method {
				Class "JXJOnlineRewardCanvasUpdate"
				Param "UI_Beta3_ManorStair_Zxjl"
				Param "1"
				Param "2"
				Param "3"
				Param "4"
				Param "5"
				Param "6"
				Param "Get"
				Param "UI_Zxjl_Icon1"
				Param "UI_Zxjl_Icon2"
				Param "UI_Zxjl_Icon3"
				Param "UI_Zxjl_Icon4"
				Param "UI_Zxjl_Input1"
				Param "UI_Zxjl_Input2"
				Param "UI_Zxjl_Input3"
				Param "UI_Zxjl_Input4"
			}
		}
	}
	xHandle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "MoreSlot"
			Method {
				Class "JXJWidgetDoEvent"
				Param "UI_ManorStair_HuoDong"
				Param "ZaiXianLiBao"
				Param "1"//LEFT_MOUSE_BUTTON
				Param "2"//MOUSERELEASE
			}
		}
	}
}