# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam16 "NULL"
		MsgParam16 "MOUSEMOVE"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJUIQiangZhengTip"
				Param "Tips1_2"
				Param "TipsText1_1"
				Param "zhengzhanquan"
			}
		}
	}
	Handle {
		MsgParam "WCH_FILTERLOSTFOCUS"
		MsgParam "NULL"
		Driver {
            Class "OneSlot"
			Method {
				Class "ShowCanvas"
				Param "Tips1_2"
				Param "0"
			}
		}
	}
}