# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "InitWindow"
		MsgParam "0"
		Driver {
			Class "MoreSlot"
			Method {
				Class "SetMsgTraverse"
				Param "15"
			}
			Method {
				Class "JXJSetWidgetVisiable"
				Param "ZhengzhaoLing"
				Param "Zhengzhao1"
				Param "0"
			}
			Method {
				Class "JXJSetWidgetVisiable"
				Param "ZhengzhaoLing"
				Param "Zhengzhao2"
				Param "0"
			}			
		}
	}
	Handle {
		MsgParam "Frame"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class  "RunFrequencyControl"
				Param "1.0"
			}			
			Method {
				Class "JXJCheckZhengZhaoBtn"
				Param "Zhengzhao1"
				Param "Zhengzhao2"
				Param "anniu2"
			}
		}
	}
}