# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam "InitWindow"
		MsgParam "0"
		Driver {
			Class "MoreSlot"
			xMethod {
				Class "SetMsgTraverse"
				Param "1"
			}
			Method {
				Class "SetMsgTraverse"
				Param "15"
			}
		}
	}
	Handle {
		MsgParam "Frame"
		MsgParam "NULL"
		Driver {
			Class "MoreSlot"
			Method {
				Class  "RunFrequencyControl"
				Param "1.0"
			}
			Method {
				Class "JXJGuanYuanLingTimerUpdate"
				Param "Zhengzhao"
				Param "Tishi1"
				Param "Tishi2"
				Param "Shuzi_0"
				Param "Shuzi_1"
			}
		}
	}
}