# Creature3D Script Parser v1.0

Data {
    Class "UI"
	Handle {
		MsgParam16 "LEFT_MOUSE_BUTTON"
		MsgParam16 "MOUSERELEASE"
		Driver {
			Class "OneSlot"
			Method {
				Class "JXJZhengZhaoFaBuCanvas"
				Param "UI_Zhengzhao_Fabu"
				Param "0"
				Param "Mark"
				Param "UI_CopyBattle_Name"
				Param "UI_CopyBattle_Beta1_Input1_2"
				Param "Tishi"
				Param "UI_CopyBattle_Beta1_Input4_2"
			}
		}
	}
}