# Creature3D Script Parser v1.0

Data {
    Class "Event"	
	Handle {
		MsgParam "WCH_USER+20356"//WCH_JXJDeductHuodongUpdate
		MsgParam "NULL"
		Driver {
			Class "OneSlot"			
			Method {
				Class "JXJConsumptionHuodongUpdate"
				Param "1"//0表示礼金+元宝消费，1表示元宝消费
			}			
		}
	}	
}