# Creature3D Script Parser v1.0

Data {
    Class "Event"
	Handle {
		MsgParam "WCH_UPDATE"
		MsgParam "NULL"
		Driver {
			Class "OneSlot"	
			Logic {
				Class "IF_ELSE"
				Method {
					Class "JXJCheckHuodongServerOpenDay"
					Param "39" // WCHDATA_Level                 
					Param "5"	// unsigned char
					Param "1"	// mainRoleData
				}				
				Method {
					Class "JXJCheckHuodongIsValueChange"
					Param "39" // WCHDATA_Level                 
					Param "5"	// unsigned char
					Param "1"	// mainRoleData
				}
			}
		}
	}
}